<div class="card readingcard">
    <div class="card-header border-0 bg-transparent">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 text-center">
                <div class="select-title d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="w-100 mb-0" tooltipPosition="top" pTooltip="">
                            Travel Visit Planner<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
                    </div>
                    <div>
                        <button class="how-it-works-button">How it works?
                            <i class="fa-solid fa-play d-md-block d-none"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-center flex-fill overflow-y-auto">
        <div class="container-fluid h-100">
            <p-carousel [value]="recommendations" [numVisible]="1" [numScroll]="1" [circular]="false"
                [showNavigators]="false" [showIndicators]="false" [page]="activePageIndex" styleClass="h-100 carousal-container-sec">
                <ng-template let-recommendation let-i="index" pTemplate="item">
                    <div class="h-100 d-flex flex-column justify-content-between">
                        <div>&nbsp;</div>
                        <div class="row justify-content-center text-center">
                            <div class="col-md-12 mb-4">
                                <h5 class="uniprep-primary fw-semibold mb-0">Question Number {{ recommendation.id }}</h5>
                                <h2 class="fw-bold mb-0">{{ recommendation.question }}</h2>
                            </div>
                            <div class="col-md-6">
                                <ng-container *ngIf="recommendation.id == 1">
                                    <p-dropdown [options]="allCountries" [filter]="true" (onChange)="hideWarning(recommendation.id)" [(ngModel)]="selectedData[recommendation.id]" optionLabel="country" styleClass="w-100" 
                                            optionValue="country" [showClear]="true" placeholder="Nationality" [appendTo]="'body'"></p-dropdown>
                                    <p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please Choose Any one option</p>
                                </ng-container>
                                <ng-container *ngIf="recommendation.id == 2">
                                    <p-inputNumber [showButtons]="true" buttonLayout="horizontal" (onInput)="hideWarning(recommendation.id)"
                                    [(ngModel)]="selectedData[recommendation.id]" spinnerMode="horizontal"
                                    incrementButtonIcon="pi pi-plus" incrementButtonClass="plus-icon"
                                    decrementButtonClass="minus-icon" decrementButtonIcon="pi pi-minus"
                                    inputStyleClass="number-input" suffix=" days" [min]="1" [max]="7" [step]="1"
                                    [inputStyle]="{'pointer-events': 'none', 'caret-color': 'transparent'}"
                                    styleClass="w-100 custom-number-input">
                                    </p-inputNumber>
                                    <p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please Choose Any one option</p>
                                </ng-container>
                                <ng-container *ngIf="recommendation.id == 3">
                                    <p-dropdown [options]="seasons" (onChange)="hideWarning(recommendation.id)" [(ngModel)]="selectedData[recommendation.id]" optionLabel="value" styleClass="w-100" optionValue="value" placeholder="seasons" [appendTo]="'body'"></p-dropdown>
                                    <p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please Choose Any one option</p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <button pButton type="button" class="btn btn-primary btn-rounded p-1 pe-4"
                                [style.visibility]="recommendation.id == 1 ? 'hidden' : 'visible'" (click)="previous()">
                                <span class="btn-icon px-2 py-2"><i class="fa fa-arrow-left"></i></span> <span
                                    class="ms-2">Previous</span>
                            </button>
                            <button pButton type="button" (click)="next(recommendation.id)"
                                *ngIf="recommendation.id != 3" class="btn btn-primary btn-rounded p-1 ps-4">
                                <span class="me-2">Next</span><span class="btn-icon px-2 py-2"><i
                                        class="fa fa-arrow-right"></i></span>
                            </button>
                            <button pButton type="button" (click)="getRecommendation(recommendation.id)" *ngIf="recommendation.id == 3"
                                class="btn btn-success btn-rounded p-1 ps-4">
                                <span class="me-2">Get Recommendations</span><span class="btn-icon px-2 py-2"><i
                                        class="fa fa-check-circle"></i></span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>