.subjectcard {
	border: 1px solid var(--secondary-500);
	width: 100%;
	margin: 10px 0px;

	.timespan {
		background: #9bc329;
		color: white;
		border-radius: 2rem;
	}

	.submoduleicon {
		height: 100px;
		width: 100px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;

		.selectimage {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&:focus {
		background-color: var(--primary-100);
		border: 1px solid var(--primary-500);
	}

	&:hover {
		background-color: var(--primary-100);
		border: 1px solid var(--primary-500);
	}
}
.subjecttitle {
	font-size: 18px;
	font-weight: 800;
}
::ng-deep .ng2-pdf-viewer-container {
	overflow-x: hidden !important;
}
.center {
	height: 63vh !important;
}
.headColor {
	color: #3f4c83;
}
.text-smaller {
	font-size: x-small;
}
.basictimespan {
	background: #9bc329;
	color: white;
	border-radius: 2rem;
}
.intermediatetimespan {
	background: var(--secondary-500);
	color: white;
	border-radius: 2rem;
}
.advancetimespan {
	background: #d80027;
	color: white;
	border-radius: 2rem;
}
.btn-primary .btn-customicon {
	border-radius: 100px;
	background-color: var(--primary-400);
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-previous {
	background-color: var(--primary-900) !important;
}
.btn-primary .btn-custompreviousicon {
	border-radius: 100px;
	background-color: var(--primary-1000);
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-customdanger {
	background-color: #df3e3e !important;
	border: #df3e3e !important;
}
.btn-primary .btn-customdangericon {
	border-radius: 100px;
	background-color: #bc1818;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.outline-primary {
	border-color: var(--primary-500) !important;
	color: var(--primary-500) !important;
	&:hover {
		background-color: transparent !important;
	}
}
.customactive {
	background-color: var(--primary-500) !important;
	color: white !important;
}
.quizinfo {
	font-size: 16px;
	font-weight: 500;
}
:host ::ng-deep ngx-audio-player {
	.mat-card {
		display: flex;
		flex-direction: row;
		width: 100%;
		.mat-slider-thumb {
			background-color: var(--secondary-500);
		}
		.mat-slider-track-wrapper {
			height: 5px !important;
			border-radius: 10px !important;
		}
		.mat-slider-wrapper {
			background-color: #d9d9d9;
			border-radius: 10px !important;
			height: 5px !important;
			top: 21px !important;
			left: 8px !important;
			right: 8px !important;
		}
		.mat-slider-track-fill {
			background-color: var(--primary-500);
			height: 5px !important;
		}
		mat-icon {
			vertical-align: text-bottom !important;
			position: relative;
			top: 5px !important;
		}
		mat-slider {
			vertical-align: text-bottom !important;
		}
		.mat-button {
			background: none !important;
			border: none !important;
			svg {
				height: 18px !important;
				width: 18px !important;
			}
		}
		.mat-icon {
			height: 30px !important;
			width: 25px !important;
		}
		.ngx-volume {
			height: 45px !important;
			margin: 0 !important;
			position: relative;
			top: 4px;
		}
		.play-pause {
			position: relative !important;
			top: 7px !important;
			display: none;
		}
	}
}
.quizform {
	input {
		font-size: 12px !important;
	}
	label {
		font-size: 12px !important;
	}
}
