<div class="card readingcard" style="border-radius: 15px 15px 0px 0px !important;">
	<div class="card-body pt-0" *ngIf="!planExpired">
		<div class="row justify-content-center">
			<div class="col-md-2 text-start"></div>
			<div class="col-md-8 text-center">
				<h5 class="select-title mb-1" tooltipPosition="top"
					pTooltip="Within this section, you'll find information about future events hosted by international organisations.">
					EVENTS<i class="questiontooltip fa-solid fa-circle-question"></i>
				</h5>

			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row justify-content-center desktop">
			<div class="col-md-3 col-5 text-md-start">
				<span (click)="filterPopUp()"><button class="btn btn-outline-light px-4 py-3" type="button">Filter
						by</button></span>
				<p class="small fw-bold">Total Events - {{ activeButton == 1 ? totalcount : totalcountpost }}
				</p>
			</div>
			<div class="col-md-6 col-7 text-md-center text-end">
				<button class="btn btn-outline-light theme-blue px-3 py-3" (click)="setActiveButton(1)"
					[ngStyle]="button1Style">Upcoming Events</button>
				<button class="btn btn-outline-light theme-blue px-3 py-3" (click)="setActiveButton(2)"
					[ngStyle]="button2Style">Past Events</button>
			</div>
			<div class="col-md-3 col-12">
				<div class="p-input-icon-left w-100 mt-3">
					<i class="pi pi-search"></i>
					<input class="w-100 px-5 py-2" type="text" placeholder="Search Events Near You..." pInputText
						[(ngModel)]="valueNearYouFilter" (input)="performSearch($event)" />
				</div>
			</div>
		</div>
		<div class="mobile mt-2">
			<div class="text-center curve">
				<button class="btn btn-outline-light theme-blue mobileview" (click)="setActiveButton(1)"
					[ngStyle]="button1Style">UPCOMING</button>
				<button class="btn btn-outline-light theme-blue mobileview" (click)="setActiveButton(2)"
					[ngStyle]="button2Style">PAST</button>
			</div>
			<div class="row">
				<div class="col-8">
					<div class="p-input-icon-left w-100 mt-3">
						<i class="pi pi-search"></i>
						<input class="w-100 px-5 py-2 b-6 h-100" type="text" placeholder="Search Events Near You..." pInputText
							[(ngModel)]="valueNearYouFilter" (input)="performSearch($event)" />
					</div>
				</div>
				<div class="col-4 mt-2">
					<span (click)="filterPopUp()"><button class="btn btn-outline-light px-4 py-3 b-6" type="button">Filter
							by</button></span>
				</div>
			</div>
		</div>
		<!-- upcomming event -->
		<div class="row mt-3 p-4 row-cols-1 row-cols-md-5 g-4" *ngIf="upcomingevent">
			<div class="col mb-4" *ngFor="let event of upcommingevent;let i = index;">
				<div class="card eventcard">
					<span class="btn btn-primary eventcountdown">{{ event.daysago }}</span>
					<div class="event-top card-body pb-0">
						<div class="position-relative mt-2 p-2">
							<div class="text-center" style="text-align: center; height: 90px;">
								<img width="21%" height="141px;" src="{{ event.companylogo }}" alt="" />
							</div>
						</div>
						<div class="mt-5 text-center">
							<div class="eventtime" style="font-size: 10px;">
								<span><i class="fa-regular fa-clock me-2"></i>{{ event.from }} - {{ event.to
									}}</span>
								<span class="mx-2">|</span>
								<span><i class="fa-regular fa-calendar me-2"></i>{{ event.date }}</span>
							</div>
						</div>
					</div>

					<div class="event-bottom card-body">
						<div *ngIf="event.registered===1?false:true">
							<!-- befor registration -->
							<h5 class="mb-0" tooltipPosition="top"
								[pTooltip]="event.eventname + '<br>Speaker - ' + event.speakername" [escape]="false">
								{{ event.eventname.length >27 ? event.eventname.slice(0,27) +
								'...':event.eventname
								}} </h5>
								<p class="small">{{ event.eventdescription.length > 43 ?
									event.eventdescription.slice(0,
									43) + '...' : event.eventdescription }}</p>
						</div>

						<div class="row" *ngIf="event.registered===0?false:true">
							<!-- after registration -->
							<div class="col-12">
								<h5 class="mb-0" tooltipPosition="top">
									{{ event.eventname.length >15 ? event.eventname.slice(0,15) +
									'...':event.eventname
									}} 
								</h5>
								<p class="small">{{ event.eventdescription.length > 25 ?
									event.eventdescription.slice(0,
									25) + '...' : event.eventdescription }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-12 mb-md-0 mb-2 countryname">
								<div class="d-flex align-items-center ">
									<img class="me-1" style="width: 20px" src="{{ event.countrylog }}" alt="" />
									<p style="white-space: nowrap;" class="small fw-semibold mb-0">{{
										event.country }}</p>
								</div>
							</div>
							<div class="col-md-6 col-12 mb-2 eventlink">
								<span *ngIf="event.registered===0?false:true" target="_blank">
									<div (click)="goingEventLink(event.eventlink)"><button
											class="btn btn-primary registerbtn w-100 m-0"
											type="button"><i class="fa-regular fa-clock"></i> &nbsp;Event
											Link</button>
									</div>
								</span>
							</div>
							<div class="col-12">
								<div class="d-flex align-items-center mt-1">
									<i class="fa-regular fa-users me-1 small"></i>
									<p class="small fw-semibold mb-0 ">Registered
										Members-{{event.registerusercount}}</p>
								</div>
							</div>
							<div class="col-12 d-flex mt-1 align-items-center">
								<i class="fa-regular fa-microphone-stand me-1 small"></i>
								<p style="white-space: nowrap;" class="mb-0 small fw-semibold">Speaker- {{
									event.speakername.length>20
									?event.speakername.slice(0,20) + '...':event.speakername}}<span></span>
								</p>
							</div>
							<div class="col-12 d-flex mt-1 align-items-center">
								<i class="fa-regular fa-gauge-simple-min"></i> &nbsp;
								<p style="white-space: nowrap;" class="mb-0 small fw-semibold">
									Available Slot - {{event.registerusercount}} / {{event.slotno}}
								</p>
							</div>
						</div>
						<div class="row">
						</div>
						<div class="mt-1"><button (click)="registerButton(event)"
								class="btn btn-primary registerbtn w-100 m-0" type="button">{{event.registered===0?
								'register Now':'Registered'}}</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- post event -->
		<div class="row mt-3 p-4 row-cols-1 row-cols-md-5 g-4" *ngIf="postevent">
			<div class="col-mb-4" *ngFor="let events of postevetdetaisl">
				<div class="card eventcard">
					<span class="btn btn-primary eventcomplete">{{ events.date }}</span>
					<div class="event-top card-body pb-0">
						<div class="position-relative mt-3">
							<div class="text-center" style="text-align: center; height: 125px;">
								<img width="120px" src="{{ events.companylogo }}" alt="" />
							</div>
						</div>
					</div>

					<div class="event-bottom card-body">
						<h5 class="mb-0" tooltipPosition="top"
							[pTooltip]="events.eventname + '<br>Speaker - ' + events.speakername" [escape]="false">
							{{ events.eventname.length >15 ? events.eventname.slice(0,15) +
							'...':events.eventname
							}}</h5>
						<p class="small">{{ events.eventdescription.length > 29 ?
							events.eventdescription.slice(0, 29) + '...' : events.eventdescription }}</p>

						<div class="row">
							<div class="col-12">
								<div class="d-flex align-items-center mt-2">
									<img class="me-1" style="width: 20px" src="{{ events.countrylog }}" alt="" />
									<p style="white-space: nowrap;" class="small fw-semibold mb-0">{{
										events.country }}</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="d-flex mt-2 align-items-center">
									<i class="fa-regular fa-users me-1 small"></i>
									<p class="small fw-semibold mb-0">Registered
										Members-{{events.registerusercount}}</p>
								</div>
							</div>
						</div>
						<div class="d-flex mt-2 align-items-center">
							<i class="fa-regular fa-microphone-stand me-1 small"></i>
							<p style="white-space: nowrap;" class="mb-0 small fw-semibold">Speaker-{{
								events.speakername.length>20
								?events.speakername.slice(0,20) + '...':events.speakername}}<span></span>
							</p>
						</div>
					</div>

				</div>
			</div>
			<!-- <div class="container-fluid">
                <div class="row">
                  <div *ngFor="let resource of resourceslist" class="col-md-3 col-12 mt-3">
                    <div class="card card-style"><a href={{resource.link}} class="fw-semibold" target="_blank">{{resource.title}}</a></div>
                  </div>
                </div>
              </div> -->

		</div>

	</div>
	<div class="text-center mt-5 mb-4" *ngIf="planExpired">
		<img src="../../../uniprep-assets/images/smartloack.png" class="image" width="80">
		<h3>Upgrade now to access invaluable tools</h3>
		<p>Unlock the power of success with our exclusive events!<br> Upgrade your plan now to gain instant access.</p>
		<p class="offer">Events offers:<br> Career growth, International Education, Life in your destination and more</p>
		<button pButton type="button" class=" text-white p-ripple p-button-rounded p-button-warning p-button p-component"
			(click)="upgradePlan()">Upgrade Plan<i class="pi pi-arrow-circle-right"></i></button>
	</div>
</div>
<div class="event-paginator" style="background-color: #fff; border-radius: 0px 0px 15px 15px;">
	<p-paginator *ngIf="upcomingevent" [rows]="10" [totalRecords]="totalcount" (onPageChange)="paginate($event)"
		[rowsPerPageOptions]="[10, 50, 100, 200]"></p-paginator>
	<p-paginator *ngIf="postevent" [rows]="10" [totalRecords]="totalcountpost" (onPageChange)="paginatepost($event)"
		[rowsPerPageOptions]="[10, 50, 100, 200]"></p-paginator>
</div>

<!-- filter pop-up -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: newfile }">
	<div class="modal-dialog" role="document">
		<form role="form" [formGroup]="filterform" (ngSubmit)="filtersubmit()">
			<div class="modal-content" style="margin-top: 50% !important">
				<div class="modal-header flex justify-content-between">
					<h4 class="modal-title">Filter Events</h4>
					<span style="cursor: pointer;color: #3f4c83;"><i (click)="closenewfilePopup()"
							class="fa-solid fa-circle-xmark fa-2x"></i></span>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<label class="form-label" style="font-size: medium;font-weight:500">Filter by
										date</label>
									<div class="form-group">
										<div class="mb-3">
											<input placeholder="Start date" type="date" formControlName="from"
												class="form-control border-black paddingfive" />
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-2">
									<div class="form-group">
										<label class="form-label"></label>
										<div class="mb-3">
											<input placeholder="End date" type="date" formControlName="to"
												class="form-control border-black paddingfive" />
												<div *ngIf="filterform.hasError('dateRange')" class="text-danger">
													{{ filterform.getError('dateRange') }}
												  </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="form-group">

								<label style="font-size: medium;font-weight: 500;">Filter by Country</label>
								<p-dropdown class="mt-2" placeholder="Select one or more countries" formControlName="country"
									[options]="countries" optionValue="id" optionLabel="country" styleClass="w-full"
									[filter]="true"></p-dropdown>
							</div>
						</div>
					</div>
					<span style="float: right">
						<button type="submit" class="btn btn-dark"
							style="background-color: var(--uniprep-primary) !important">Apply Filter</button>
					</span>

				</div>
			</div>
		</form>
	</div>
</div>