.eventcard
{
  border:1px solid var(--primary-500);
  overflow: hidden;
  .card-body
  {
    background-color: var(--primary-50);
  }
  .eventimage {
		height: 75px;
		width: 75px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		.eventicon {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	} 
  .eventcountry {
		height: 25px;
		width: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		.eventicon {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.eventcardgray
{
  border:1px solid var(--p-neutral-200);
  overflow: hidden;
  .card-body
  {
    background-color: var(--p-neutral-100);
  }
  .eventimage {
		height: 75px;
		width: 75px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		.eventicon {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	} 
  .eventcountry {
		height: 25px;
		width: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		.eventicon {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}