.eventcard
{
  border:1px solid var(--uniprep-primary);
  .card-body
  {
    background-color: var(--uniprep-primaryop10);
  }
  .eventimage {
		height: 75px;
		width: 75px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		.eventicon {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	} 
  .eventcountry {
		height: 25px;
		width: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		.eventicon {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}