<div class="col-md-12">
  <p-card class="col-12">
    <ng-template pTemplate="header">
      <span style="float: right;"><button class="btn btn-light">Report</button><button class="btn btn-light">Chat Guidlines</button></span>
      <span class="text-right credits">Question Credits &nbsp;<span class="credits-span ml-2"
          >{{ 0 }}/{{ 0 }}</span
        >
      </span>
      <span class="chatwindow"><i class="fa fa-arrow-left"></i></span>
      <span style="font-size: 0.9rem;float: right;line-height: normal; margin-right: 7rem;"
          >UNIPREP<br />
          <span style="font-size: 0.8rem;">support@uniabroad.co.in</span></span
        >
      <span style="float: right">
        <img
          src="../../../uniprep-assets/images/uniabroa.jpeg"
          style="
            border-radius: 50%;
            height: 35px;
            width: 35px;
            object-fit: cover;
            margin-right: 0.5rem;
          "
        />
        
      </span>
    </ng-template>
    <ng-template pTemplate="body"></ng-template
  ></p-card>
</div>
