.chatprofileuniprep {
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fcfcfc;
	border: 1px solid #e3e3e3;
	border-radius: 100%;
	img {
		width: 35px;
	}
}
.chatprofileuser {
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-50);
	border-radius: 100%;
}
.guidebutton {
	background-color: #ebedf2;
	color: #21344c;
	padding: 0.5rem 2rem 0.5rem 2rem;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 600;
}
.reportbutton {
	background-color: #c7d6fb;
	color: #001631;
	padding: 0.5rem 2rem 0.5rem 2rem;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 600;
}
.replyfield {
	background-color: var(--secondary-50);
	padding: 0.5rem 1rem;
	border-radius: 100px;
	width: fit-content;
	p {
		margin-bottom: 0px !important;
	}
}
.chatbox {
	border: 1px solid var(--primary-200);
	border-radius: 100px;
	.creditsbtn {
		background-color: var(--secondary-50);
		padding: 0.5rem;
		.credits {
			background: white;
			border-radius: 100px;
		}
	}
}

::ng-deep .p-confirm-popup {
  width: 320px;
  font-size: small;
  font-weight: 700;
  background-color: #ebedf2;
  color: #3f4c83;
  border: 2px solid #3f4c83;
}

::ng-deep .p-confirm-popup-footer {
  padding: 0rem 3rem 0rem 3rem !important;
  .p-confirm-popup-reject {
    float: right;
  }
  .p-confirm-popup-accept {
    float: left;
  }
  button {
    font-size: small;
    background: none !important;
    border: none !important;
    color: #3f4c83;
    :active {
      background: none !important;
      border: none !important;
      color: #3f4c83;
    }
    :focus {
      background: none !important;
      border: none !important;
      color: #3f4c83;
    }
    :hover {
      color: #3f4c83;
    }
  }
}
::ng-deep .p-confirm-popup .p-confirm-popup-flipped:after {
  border-top-color: #888a9447 !important;
}

.datebadge
{
  background: var(--primary-50);
  color: black;
  width: fit-content;
}

.creditsbtn {
	background-color: var(--secondary-50);
	padding: 0.5rem;
	.credits {
		background: white;
		border-radius: 100px;
	}
}

::ng-deep .ql-toolbar.ql-snow {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

::ng-deep .p-editor-container .p-editor-content {
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	overflow: hidden;
}

.chatcard {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden;
	border-radius: 10px;
	p-card {
		flex: 1;
		overflow-y: auto; /* Enable vertical scrolling for overflowing content */
		display: flex;
		flex-direction: column;
	}
	.chatflexbody {
		flex: 1;
		overflow-y: auto;
	}
}

// ::ng-deep .p-card-header {
//   font-size: 18px;
//   font-weight: 800;
//   color: black;
//   text-align: center;
//   margin-top: 1rem;
//   .userinfo {
//     margin-top: 1rem;
//     margin-bottom: 0;
//     font-size: large;
//     font-weight: 600;
//   }
//   .info {
//     font-size: medium;
//     font-weight: 500;
//     margin: 0px 5px 0px 5px;
//     .chat-info {
//       text-align: -webkit-center;
//       p {
//         font-size: 14px;
//         font-weight: 500;
//         color: #445364;
//       }
//     }
//     .chatguide {
//       text-align: left;
//       button {
//         background-color: #ebedf2;
//         color: #21344c;
//         padding: 0.5rem 2rem 0.5rem 2rem;
//         border: none;
//         border-radius: 5px;
//         font-size: 15px;
//         font-weight: 600;
//       }
//     }
//     .report {
//       button {
//         background-color: #c7d6fb;
//         color: #001631;
//         padding: 0.5rem 2rem 0.5rem 2rem;
//         border: none;
//         border-radius: 5px;
//         font-size: 15px;
//         font-weight: 600;
//       }
//       text-align: right;
//     }
//   }
// }
// ::ng-deep p-card {
//   min-height: 80vh !important;
//   overflow: unset !important;
//   max-height: 80vh !important;
// }

// .msger {
//   display: flex;
//   flex-flow: column wrap;
//   justify-content: space-between;
//   width: 100%;
//   max-width: 867px;
//   margin: 25px 10px;
//   height: calc(100% - 50px);
//   border: var(--border);
//   border-radius: 5px;
//   background: var(--msger-bg);
//   box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
// }

// .msger-chat {
//   flex: 1;
//   overflow-y: auto;
//   padding: 10px;
// }
// .msg {
//   display: flex;
//   align-items: start;
// }
// .msg-img {
//   width: 40px;
//   height: 40px;
//   margin-right: 10px;
//   background: #e9ecfa;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   border-radius: 50%;
//   text-align: center;
//   padding-top: 0.5rem;
//   font-weight: 600;
//   color: #485489;
// }
// .msg-img-admin {
//   width: 40px;
//   height: 40px;
//   margin-right: 10px;
//   background: #ffffff;
//   background-repeat: no-repeat;
//   border-radius: 50%;
//   border: 1px solid rgba(0, 0, 0, 0.2784313725);
//   padding-top: 0.3rem;
//   text-align: center;
//   img {
//     width: 70%;
//   }
// }
// .msg-bubble {
//   font-size: 15px;
//   font-weight: 600;
//   p {
//     margin: 0;
//     background: #faebdb;
//     border-radius: 15px;
//     font-size: 13px;
//     font-weight: 700;
//     padding: 0.3rem 1rem 0.3rem 1rem;
//     width: fit-content;
//   }
// }
// .msg-info {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 10px;
// }
// .msg-info-name {
//   margin-right: 10px;
//   font-weight: bold;
//   color: #3f4c83;
//   font-size: smaller;
// }
// .msg-info-time {
//   font-size: 0.75em;
//   background: #ebedf2;
//   border-radius: 1rem;
//   padding: 0.1rem 0.5rem 0.1rem 0.5rem;
//   font-weight: 500;
//   color: #485489;
// }

// .left-msg .msg-bubble {
//   border-top-left-radius: 0;
//   margin: 0.5rem 0rem 0rem 0.5rem;
// }

// .chatcontainer {
//   padding: 0rem 2rem 5rem 2rem;
//   max-height: 47vh;
//   overflow-y: scroll;
//   scrollbar-width: thin;
// }

// .togglediv {
//   cursor: pointer;
//   border-radius: 15px;
//   border: 1px solid #c7d6fb;
//   padding: 0.7rem 0rem 0.7rem 0rem;
//   margin: 0rem 0.5rem 0rem 0.5rem;
//   .credits {
//     text-align: right;
//     padding-right: 5px;
//     span {
//       padding: 0.3rem 1rem 0.3rem 1rem;
//       background: #ffddb7;
//       border-radius: 15px;
//       font-size: small;
//       font-weight: 700;
//       span {
//         padding: 0rem 1rem 0rem 1rem;
//         background: #ffffff;
//         margin-left: 10px;
//       }
//     }
//   }
//   .customplaceholder {
//     font-size: small;
//     font-weight: 600;
//   }
// }

// ::ng-deep .ql-toolbar.ql-snow {
//   border-top-left-radius: 1rem !important;
//   border-top-right-radius: 1rem !important;
//   padding: 0 !important;
// }
// ::ng-deep .ql-toolbar.ql-snow + .ql-container.ql-snow {
//   border-bottom-left-radius: 1rem !important;
//   border-bottom-right-radius: 1rem !important;
// }
// ::ng-deep .ql-attachmentHandler::after {
//   content: "Attach";
//   padding: 0 !important;
//   color: blue;
// }
// ::ng-deep {
//   .fullscreen {
//     background-color: white;
//     .form-group {
//       height: 100%;
//       width: 100%;
//     }
//     .ql-container {
//       height: 90vh !important;
//       width: 100% !important;
//     }
//   }
// }
// ::ng-deep .ql-fullscreen {
//   margin-top: 0.6rem !important;
//   margin-left: 0.5rem !important;
// }
// ::ng-deep .ql-fullscreen:after {
//   content: "\26F6";
//   padding: 0 !important;
//   font-weight: bold;
// }
// .credits-div {
//   float: right;
//   margin: 1rem;
//   .credits-span {
//     padding: 0.3rem 1rem 0.3rem 1rem;
//     background: #ffddb7;
//     border-radius: 15px;
//     font-size: small;
//     font-weight: 700;
//     .creditscore {
//       padding: 0rem 1rem 0rem 1rem !important;
//       background: #ffffff !important;
//       margin-left: 10px !important;
//       border-radius: 1rem;
//     }
//   }
// }
// .folder-card {
//   cursor: pointer;
//   border: 1px solid rgb(63 76 131 / 16%) !important;
//   min-height: 55px;
//   min-width: 255px;
//   max-height: 55px;
//   border-radius: 1rem;
//   max-width: 255px;
//   font-size: x-small;
//   .folder {
//     margin: 0.5rem 0rem 0rem 0.5rem !important;
//   }
//   h5 {
//     margin: 0 !important;
//     font-size: small !important;
//     width: 180px !important;
//     overflow: hidden !important;
//   }
//   img {
//     width: 75%;
//   }
// }
// :host ::ng-deep .p-dialog-content {
//   overflow: visible !important;
// }
// :host ::ng-deep .ql-container {
//   height: 80px;
//   overflow-y: scroll !important;
//   scrollbar-width: thin !important;
// }
// :host ::ng-deep .ql-editor {
//   overflow: unset !important;
// }
// .mobile {
//   display: none;
// }

// @media screen and (max-width: 575.98px) {
//   .desktop {
//     display: none;
//   }

//   .mobile {
//     display: block;
//   }

//   .chat-info {
//     p {
//       font-size: 12px;
//       font-weight: 00;
//       color: #445364;
//     }
//   }

//   .chatguide {
//     text-align: left;

//     button {
//       background-color: #ebedf2;
//       color: #21344c;
//       padding: 0.5rem 2rem 0.5rem 2rem;
//       border: none;
//       border-radius: 5px;
//       font-size: 10px;
//       font-weight: 600;
//     }
//   }

//   .report {
//     button {
//       background-color: #c7d6fb;
//       color: #001631;
//       padding: 0.5rem 2rem 0.5rem 2rem;
//       border: none;
//       border-radius: 5px;
//       font-size: 10px;
//       font-weight: 600;
//     }

//     text-align: right;
//   }

//   .msg-img {
//     width: 25px;
//     height: 25px;
//     margin-right: 10px;
//     background: #e9ecfa;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     border-radius: 50%;
//     text-align: center;
//     padding-top: 0.5rem;
//     font-weight: 600;
//     color: #485489;
//     font-size: 9px;
//   }
//   .msg-bubble {
//     font-size: 10px;
//     .msg-text {
//       p {
//         margin-bottom: 0rem !important;
//       }
//     }
//   }

//   .togglediv {
//     padding: 7px 0px;
//     margin: 0px 5px;
//     .credits {
//       span {
//         padding: 3px 5px !important;
//         background: #ffddb7;
//         border-radius: 10px;
//         font-size: 12px;
//         font-weight: 700;
//       }
//     }
//   }
//   .chatcontainer {
//     max-height: -webkit-fill-available !important;
//   }
// }
// ::ng-deep .p-popover-content {
//   span {
//     font-weight: 600;
//     text-align: center;
//   }
// }
