::ng-deep .p-card-header {
  padding: 0.5rem 1rem;
  background-color: var(--uniprep-primary);
  color: white;
}

.chatheader
{
  padding: 0.5rem 1rem;
  background-color: var(--uniprep-primary);
  border-radius:12px 12px 0 0;
}

.chatfooter
{
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius:0 0 12px 12px;
}

.chatprofile {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    padding: 4px;
  }
}

.chat .header-chat .right {
  position: absolute;
  right: 40px;
}

.chat .messages-chat {
  padding: 25px 35px;
}

.chat .messages-chat .message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
  display: block;
  width: 40px;
  height: 38px;
  background: #e6e7ed;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.notification .badge {
  top: -11px;
  right: -5px;
  padding: 3px 6px;
  border-radius: 50%;
  background-color: #d60909;
  color: white;
  font-size: 0.7rem;
  font-weight: lighter;
}
.notification {
  position: relative;
  display: inline-block;
}
.msg-info {
  font-size: smaller;
  margin-left: 40px;
}

.message-active {
  padding: 8px;
  width: 100%;
  border: 1px solid rgb(155 195 41 / 25%);
  margin-left: 0px;
  background: white;
}

.message-deactive {
  padding: 8px;
  width: 100%;
  border: 1px solid rgb(155 195 41 / 25%);
  margin-left: 0px;
  background: #e1e1e7;

  .timer {
    span {
      background-color: black !important;
    }
  }
}

.discussion {
  cursor: pointer;

  .name {
    font-size: large;
    font-weight: 600;
  }

  :host ::ng-deep .p-card .p-card-content {
    padding: 0 !important;
  }

  .timer {
    font-size: small;

    span {
      background-color: var(--uniprep-primary);
      font-size: smaller;
      color: white;
      width: 55px;
      display: inline-block;
      border-radius: 3px;
      text-align: center;
    }
  }

  &.active {
    padding: 8px;
    width: 100%;
    border: 1px solid rgb(155 195 41 / 25%);
    margin-left: 0px;
    background: #efefef;

    .timer {
      span {
        //background-color: black !important;
        height: auto;
      }
    }
  }
}

.credits {
  float: right;
  font-weight: 600;
  font-size: 11px;
  background-color: rgb(255 255 255 / 34%);
  padding: 7px;
  border-radius: 4px;
  text-transform: uppercase;
  width: auto;
  margin-right: 10px;
}
:host ::ng-deep .p-dialog-content {
  overflow: visible !important;
}
.btn-credit {
  background: #68729d;
  border: 1px solid #fff;
  color: white;
  font-size: 1rem;
}
.btn-chat {
  background: white;
  padding: 1rem 1.5rem;
}
.credits-span {
  background: #ffffff;
  border-radius: 10px;
  vertical-align: baseline;
  margin-left: 10px;
  padding: 0.5rem 1rem;
  color: #000;
}
a {
  cursor: pointer;
}

.chatwindow {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: black;
    vertical-align: -webkit-baseline-middle;
  }
}

.status {
  font-size: small;
}

.spanmessage {
  vertical-align: -webkit-baseline-middle;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0rem 0rem 0rem 0.8rem;
}

.chat .messages-chat .text {
  margin: 0 35px;
  background-color: #F1F1F1;
  padding: 15px;
  border-radius: 0 12px 12px 12px;
}

.text-only {
  margin-left: 45px;
}

.time {
  font-size: 10px;
  color: lightgrey;
  margin-bottom: 10px;
  margin-left: 85px;
}

.response-time {
  float: right;
  margin-right: 40px !important;
}

.response {
  margin-right: 0px !important;
  margin-left: auto;
  /* flexbox alignment rule */
}

.response .text {
  background-color: #e3effd !important;
}

.bg-black {
  background: #373836;
}

.photo {
  display: block;
  width: 40px;
  height: 38px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sender-bg {
  background: #e3eec3;
}

.receiver-bg {
  background: #fac348;
}
countryimage {
  vertical-align: -webkit-baseline-middle;
  font-weight: 500;
  font-size: 1.5rem;
}
.name {
  vertical-align: -webkit-baseline-middle;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0rem 0rem 0rem 0.8rem;
}

.full-name {
  font-size: large;
  font-weight: 600;
}

.chat-section {
  display: flex;
  gap: 10px;
}

.checkbox-container {
  margin-left: 1.3rem;
}

.msg-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.response-msg-question {
  margin-left: 40px;
  background-color: #F1F1F1;
  width: fit-content;
  padding: 15px;
  border-radius: 12px;
  border-radius: 0 12px 0 0;
  max-width:65%;
  p
  {
    margin-bottom: 0px;
  }
}
.response-msg-attach {
  margin-left: 40px;
  background: #e3effd;
  padding: 10px;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 50%;
  label {
    width: 80%;
    overflow: hidden;
  }
  a {
    float: right;
    i {
      font-size: 25px;
    }
  }
}
.p-card .p-card-content {
  width: 100% !important;
}
.chat {
  height: 300px;
  overflow: scroll;
}

::ng-deep .p-confirm-popup {
  width: 375px;
  font-size: medium;
  font-weight: 600;
  background-color: #EBEDF2;
  color: #3f4c83;
  border: 2px solid #3f4c83;
}

::ng-deep .p-confirm-popup-footer {
  button {
    background: none !important;
    border: none !important;
    color: #3f4c83;
    :active {
      background: none !important;
      border: none !important;
      color: #3f4c83;
    }
    :focus {
      background: none !important;
      border: none !important;
      color: #3f4c83;
    }
  }
}
::ng-deep .p-confirm-popup .p-confirm-popup-flipped:after {
  border-top-color: #888a9447 !important;
}

.response-time {
  float: right;
  margin-right: 40px !important;
}

.response {
  margin-right: 0px !important;
  margin-left: auto;
  /* flexbox alignment rule */
}

.response .text {
  background-color: #e3effd !important;
}

.photo {
  display: block;
  width: 40px;
  height: 38px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sender-bg {
  background: #e3eec3;
}

.receiver-bg {
  background: #fac348;
}
countryimage {
  vertical-align: -webkit-baseline-middle;
  font-weight: 500;
  font-size: 1.5rem;
}
.name {
  vertical-align: -webkit-baseline-middle;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0rem 0rem 0rem 0.8rem;
}

.full-name {
  font-size: large;
  font-weight: 600;
}

.chat-section {
  display: flex;
  gap: 10px;
}

.messages {
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
}

.checkbox-container {
  margin-left: 1.3rem;
}

.msg-bottom {
  padding-bottom: 35px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.response-msg {
  background-color: var(--uniprep-primaryop10);
  padding: 15px;
  border-radius: 0 12px 12px 12px;
  margin-left: 40px;
  max-width:75%;
}
.p-card .p-card-content {
  width: 100% !important;
}
.chat {
  height: 300px;
  overflow: scroll;
}

::ng-deep .p-confirm-popup {
  z-index: 9999;
  width: 375px;
  font-size: medium;
  font-weight: 600;
  background-color: #888a9447;
  color: #3f4c83;
  border: 2px solid #3f4c83;
}

::ng-deep .p-confirm-popup-footer {
  button {
    background: none !important;
    border: none !important;
    color: #3f4c83;
    :active {
      background: none !important;
      border: none !important;
      color: #3f4c83;
    }
    :focus {
      background: none !important;
      border: none !important;
      color: #3f4c83;
    }
  }
}
::ng-deep .p-confirm-popup .p-confirm-popup-flipped:after {
  border-top-color: #888a9447 !important;
  border-top-color: #EBEDF2 !important;
}