.subjectcard {
  border: 1px solid var(--p-secondary-500);
  width: 100%;
  margin: 10px 0px;

  .timespan {
    background: #9bc329;
    color: white;
    border-radius: 2rem;
  }

  .submoduleicon {
    height: 100px;
    width: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .selectimage {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &:focus {
    background-color: var(--p-primary-50);
    border: 1px solid var(--p-primary-500);
  }

  &:hover {
    background-color: var(--p-primary-50);
    border: 1px solid var(--p-primary-500);
  }
}
.subjecttitle {
  font-size: 18px;
  font-weight: 800;
}
::ng-deep .ng2-pdf-viewer-container {
  overflow-x: hidden !important;
}
.text-smaller {
  font-size: x-small;
}
.basictimespan {
  background: #9bc329;
  color: white;
  border-radius: 2rem;
}
.intermediatetimespan {
  background: var(--p-secondary-500);
  color: white;
  border-radius: 2rem;
}
.advancetimespan {
  background: #d80027;
  color: white;
  border-radius: 2rem;
}
