:host {
  display: block;
}

h1,
.text-size-h1 {
  font-size: 5.61em;
}

h2,
.text-size-h2 {
  font-size: 4.209em;
}

h3,
.text-size-h3 {
  font-size: 3.157em;
}

h4,
.text-size-h4 {
  font-size: 2.369em;
}

h5,
.text-size-h5 {
  font-size: 1.777em;
}

h6,
.text-size-h6 {
  font-size: 1.333em;
}

small,
.text-small {
  font-size: 0.833em;
}

.darksection {
  background-color: var(--p-neutral-950);
}

.back-button {
  width: 35px;
  height: 35px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  color: var(--p-neutral-50);
  border: 1px solid white;
  background: transparent;
}

.pagetitle {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Text colors
.text-orange {
  color: var(--p-secondary-500) !important;
}

// Background colors
.bg-black {
  background-color: var(--p-neutral-950);
}

.btn-outline-dark {
  border-color: #333;
  color: var(--p-neutral-50);

  &:hover {
    background-color: #333;
    color: var(--p-neutral-50);
  }
}

.card {
  border-radius: 1.5rem;
  border: 1px solid #e6ddfe08;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
  color: var(--p-neutral-50);

  &:hover {
    .card-title {
      color: var(--p-secondary-500);
    }

    .cardicon {
      font-weight: 700;
    }
  }
}

video::-webkit-media-controls-panel {
  background-image: none !important;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-circle-play {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  z-index: 2;
  cursor: pointer;
  background-color: var(--p-neutral-50);
  border-radius: 100%;
}

.youtube-iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  /* Maintains proper video aspect ratio */
  border-radius: 1rem;
  /* Equivalent to rounded-4 */
}

.video-thumbnail {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  cursor: pointer;
  object-fit:contain;
}

.video-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
}

.year-text-color-grad {
  color: #999999;
}

.ctc-field {
  .card {
    background: rgb(219, 83, 175);
    background: linear-gradient(90deg, var(--p-secondary-400) 0%, var(--p-rose-500) 100%);
    border: none;
  }

  .cta-btn {
    background: black;
    color: var(--p-neutral-50);
    padding: 0.8rem;
  }
}

.mb-10 {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  iframe {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  h1,
  .text-size-h1 {
    font-size: 2.986em;
  }

  h2,
  .text-size-h2 {
    font-size: 2.488em;
  }

  h3,
  .text-size-h3 {
    font-size: 2.074em;
  }

  h4,
  .text-size-h4 {
    font-size: 1.728em;
  }

  h5,
  .text-size-h5 {
    font-size: 1.44em;
  }

  h6,
  .text-size-h6 {
    font-size: 1.2em;
  }

  small,
  .text-small {
    font-size: 0.833em;
  }

  p {
    
    line-height: 2;
    font-weight: 500;
    font-size: 1rem;
  }

  .text-caption {
    font-size: 0.71em;
  }
}

.title-fonts {
  font-size: 60px;
  font-weight: 100;
}

.timeline-container {
  position: relative;
  width: 100%;
  padding: 4rem 2rem;
  overflow-x: hidden;
  /* Prevent x-axis overflow */
}

.timeline-line-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  bottom: 0;
}

.timeline-line-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
}

.down-arrow {
  font-size: 18px;
  color: var(--p-neutral-50);
  background-color: var(--p-secondary-500);
  padding: 0px 7px;
  border-radius: 50%;
}

.timeline-step-dot {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background-color: var(--p-neutral-50);
  border: 4px solid var(--p-secondary-500);
  border-radius: 50%;
  z-index: 3;
  transition: background-color 0.3s ease;
}

.timeline-step-dot.filled {
  background-color: var(--p-secondary-500);
}

.timeline-item {
  width: 100%;
}

.timeline-item-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.timeline-side {
  width: 48%;
}

.year-side {
  text-align: right;
}

.timeline-content {
  padding: 1rem;
  margin-bottom: 50px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.timeline-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.timeline-subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.timeline-content ul {
  margin-top: 0.5rem;
  padding-left: 1rem;
  list-style-type: disc;
}

html {
  scroll-behavior: auto;
  /* disable browser auto snap if needed */
}

.timeline-scroll-cursor {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.4s ease;
  z-index: 10;
}

.timeline-line-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--p-secondary-500);
  transition: height 0.3s ease-out;
  z-index: 2;
}

.timeline-scroll-cursor {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: top 0.3s ease-out;
}
@media screen and (max-width: 768px) {
	h1,
	.text-size-h1 {
		font-size: 2.986em;
	}

	h2,
	.text-size-h2 {
		font-size: 2.488em;
	}

	h3,
	.text-size-h3 {
		font-size: 2.074em;
	}

	h4,
	.text-size-h4 {
		font-size: 1.728em;
	}

	h5,
	.text-size-h5 {
		font-size: 1.44em;
	}

	h6,
	.text-size-h6 {
		font-size: 1.2em;
	}

	small,
	.text-small {
		font-size: 0.833em;
	}

	p {
		
		line-height: 2;
		font-weight: 500;
		font-size: 1rem;
	}

	.text-caption {
		font-size: 0.71em;
	}
}