// Custom variables
$orange: #f0780e;
$dark-bg: #000000;
$card-bg: #111111;
$timeline-color: $orange;

:host {
  display: block;
}

.darksection {
	background-color: #07070b;
}

.back-button {
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid white;
    background: transparent;
}

.pagetitle {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
// Text colors
.text-orange {
  color: $orange !important;
}

// Background colors
.bg-black {
  background-color: $dark-bg;
}

// Buttons
.btn-orange {
  background-color: $orange;
  border-color: $orange;
  color: white;
  
  &:hover {
    background-color: darken($orange, 10%);
    border-color: darken($orange, 10%);
  }
}

.btn-outline-dark {
  border-color: #333;
  color: #fff;
  
  &:hover {
    background-color: #333;
    color: #fff;
  }
}

.card {
	border-radius: 1.5rem;
	border: 1px solid #e6ddfe08;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1) inset;
	color: white;
	&:hover {
		.card-title {
			color: var(--uniprep-secondary);
		}
		.cardicon {
			font-weight: 700;
		}
	}
}

video::-webkit-media-controls-panel {
	background-image: none !important;
}
.video-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-circle-play {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5em;
	z-index: 2;
}

iframe {
	width: 100%;
  height: 600px;
    border-radius: 8px;
}

// Timeline styling
.timeline-container {
  position: relative;
  padding: 50px 0;
}

.timeline-item {
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
}

::ng-deep .p-timeline-event-connector	{
    width: 6px !important;
    background-color: $timeline-color !important;
}


.timeline-dot {
  width: 30px;
  height: 30px;
  background-color: $dark-bg;
  border-radius: 50%;
  border: 4px solid $timeline-color;
}

.timelineWithIconDot {
    width: 30px;
    height: 30px;
    background-color: $timeline-color;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 30px;
}
// .timeline-content {
//     // background-color: transparent;
//     // padding-bottom: 80px;
//     //   padding-inline: 20px;
// }

// WhatsApp button
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  
  .btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    i {
      font-size: 24px;
    }
  }
}

.year-text-color-grad {
  color: #999999
}
.ctc-field {
	.card {
		background: rgb(219, 83, 175);
		background: linear-gradient(90deg, #e78e60 0%,  #d14283 100%);
		border: none;
	}
	.cta-btn {
		background: black;
		color: white;
		padding: 0.8rem;
	}
}

// Responsive adjustments
// @media (max-width: 992px) {
//   .timeline-line::after {
//     left: 15px;
//   }
  
//   .timeline-marker {
//     justify-content: flex-start;
//     padding-left: 15px;
//   }
  
//   .timeline-content {
//     text-align: left !important;
//   }
// }
.mb-10 {
  margin-bottom: 100px;
}

.card {
  border-radius: 1.5rem;
  border: 1px solid #e6ddfe08;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
  box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
  color: white;

  &:hover {
    .card-title {
      color: var(--uniprep-secondary);
    }

    .cardicon {
      font-weight: 700;
    }
  }
}