:root,
[data-bs-theme="light"] {
	--bs-primary-rgb: 63, 76, 131;
	--bs-secondary-rgb: 240, 120, 14;
	--bs-primary: var(--uniprep-primary);
	--bs-secondary: #f0780e;
	--uniprep-primary: var(--uniprep-primary);
	--uniprep-primaryop10: var(--uniprep-primary) 25;
	--uniprep-primaryop30: var(--uniprep-primary) 5b;
	--uniprep-secondary: #f0780e;
	--uniprep-secondaryop10: #f0780e25;
	--uniprep-secondaryop30: #f0780e5b;
	--uniprep-primaryhighlight: #4552a3;
	--uniprep-secondaryhighlight: #f6895a;
	--uniprep-tertiary: #ffffff;
}
html {
	scroll-behavior: smooth;
	overflow: auto !important;
}
video::-webkit-media-controls-panel {
	background-image: none !important;
}
.video-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

video {
	width: 60%;
	height: auto;
}

.video-gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 200px; /* Adjust this value to change the height of the gradient */
	background: linear-gradient(to top, white, transparent);
}
body {
	font-family: "Poppins", sans-serif !important;
	overflow: auto !important;
}
section {
	scroll-margin-top: 3rem;
}
h1,
h2 {
	font-weight: 700;
}
h3,
h4 {
	font-weight: 600;
}
h5,
h6 {
	font-weight: 500;
}
p {
	font-family: "Work Sans", sans-serif;
	line-height: 2;
	font-weight:500;
}
.darksection
{
	p
	{
		color: #000;
	}
	
}
.btn {
	display: block;
	border-radius: 100px !important;
}
.mobilemenu {
	pointer-events: auto;
}
.scrolled {
	font-size: 14px;
	transition: 0.2s;
	background-color: #ffffff;
}
.scrolled button {
	font-size: 14px;
	transition: 0.2s;
}
.scrolled .navbar-brand img {
	width: 150px;
	transition: 0.2s;
}
.navbar-brand img {
	width: 200px;
	transition: 0.2s;
}
.poppins {
	font-family: "Poppins", sans-serif;
}
.worksans {
	font-family: "Work Sans", sans-serif;
}
.btn-primary {
	--bs-btn-bg: var(--uniprep-primary);
	--bs-btn-border-color: var(--uniprep-primary);
}
.card {
	background-color: #F5F7FF;
	border: none;
	border-radius: 25px;
}

.card img {
	transform: scale(0.75);
	transition: 0.2s;
}

.card:hover img {
	transform: scale(1);
	transition: 0.2s;
}

.benefitcard {
	background: transparent;
	transition: 0.2s;
}
.benefitcard .card-header {
	background-color: #f5f5f5;
	border: none;
	border-radius: 35px;
	transition: 0.2s;
}

.benefitcard:hover {
	background: #f5f5f5;
	transition: 0.2s;
}
.benefitcard:hover .card-header {
	background-color: var(--bs-primary);
	color: white;
	transition: 0.2s;
}

.promocard {
	background: #f5f7ff;
}

.featurecard
{
    background:#F5F7FF;
    border-radius: 12px !important;
    overflow: hidden;
    margin-bottom: 10px;
    border: none;
}

.featureimage
{
	border-radius: 20px;
    overflow: hidden;
    border: 1px solid #f5f7ff;
}

.featurecard .accordion-button::after
{
    display:none;
}

.featurecard .accordion-collapse
{
    background:#F5F7FF;
}

.featurecard .accordion-button:not(.collapsed)
{
    background:#F5F7FF;
}

.featurecard .accordion-header button
{
    box-shadow: none;
    padding: 0.75rem 1rem;
    font-weight:600;
    color:var(--uniprep-primary);
}

.featurecard .accordion-body
{
    text-align:start;
    padding: 0.75rem 1rem;
}

.faqcard {
	background: #f5f7ff;
	border-radius: 10px !important;
	overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid #cbd1ea !important;
}

.faqcard .accordion-button::after {
}

.faqcard .accordion-collapse {
	background: #f5f7ff;
}

.faqcard .accordion-button:not(.collapsed) {
	background: #f5f7ff;
	border-radius: 10px;
	color: var(--uniprep-primary);
}

/* .faqcard .accordion-button:not(.collapsed)::after
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */

.faqcard .accordion-header button {
	background: #f5f7ff;
	box-shadow: none;
	padding: 1rem 1rem;
	font-weight: 600;
}

.faqcard .accordion-body {
	text-align: start;
	padding: 0.75rem 1rem;
	color: #000;
}
.marquee-container {
	overflow: hidden;
	position: relative;
	width: 100%;
	padding-bottom: 5rem; /* pb-5 equivalent */
}

.marquee {
	display: flex;
	width: calc(100% * 2); /* width of 2 images */
	overflow: hidden;
}

.marquee-img {
	width: auto; /* Let the width adjust automatically based on the height */
	height: 90px; /* Default height for larger screens */
	display: block;
	animation: marquee 20s linear infinite;
}
.marquee-imgu {
	width: auto; /* Let the width adjust automatically based on the height */
	height: 200px; /* Default height for larger screens */
	display: block;
	animation: marquee 60s linear infinite;
}
@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
.bg-primary {
	background-color: #3f4c83 !important;
}

.bg-mediumblue {
	background-color: #252e55;
}

.bg-darkblue {
	background-color: #181f3e;
}

.swiper-next,
.swiper-prev {
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	z-index: 1;
	position: absolute;
	color: var(--bs-primary);
	height: 50px;
	background: #fff;
}
.swiper-prev {
	left: 0;
	border: 2px solid var(--bs-primary);
	border-radius: 100%;
	margin-left: -50px;
}

.swiper-next:hover,
.swiper-prev:hover {
	background: var(--bs-primary);
	border: 2px solid var(--bs-primary);
	border-radius: 100%;
	color: #fff;
}

.swiper-next {
	right: 0;
	border: 2px solid var(--bs-primary);
	border-radius: 100%;
	margin-right: -50px;
}

.swiper-button-disabled {
	background: var(--bs-primary);
	border: 2px solid var(--bs-primary);
	border-radius: 100%;
	color: #fff;
	opacity: 0.5;
}
.s-countryicon {
	width: 70px;
	margin: auto;
}

.universitylogos img {
	width: 150px;
}
.b-card {
	width: 100%;
	margin: 10px 0px;
}

.b-card img {
	width: fit-content;
	margin: auto;
}

.comparision-card {
	background: white;
	border: 1px solid #e2e2e2;
}

.comparision-card ul {
	line-height: 3;
}

.comparision-card hr {
	border-top: 1px solid #F5F7FF;
	opacity: 1;
}

.comparision-card li {
	color: #000;
	font-size: 0.9rem;
	font-weight: 500;
}

.comparision-card .crossmark {
	color: #f33f3f;
	margin-right: 0.5rem;
}

.comparision-card .checkmark {
	color: #5fbe14;
	margin-right: 0.5rem;
}

.comparision-card-uniprep {
	background: #F5F7FF;
	border: 1px solid #8d98cc;
}

.comparision-card-uniprep ul {
	line-height: 3;
}

.comparision-card-uniprep li {
	color: #000;
	font-size: 0.9rem;
	font-weight: 600;
}

.comparision-card-uniprep hr {
	border-top: 1px solid var(--uniprep-primary);
	opacity: 1;
}

.comparision-card-uniprep .crossmark {
	color: #f33f3f;
	margin-right: 0.5rem;
}

.comparision-card-uniprep .checkmark {
	color: #5fbe14;
	margin-right: 0.5rem;
}

.challenge 
{
	.card
	{
		width: 50%;
		margin: auto;
	}
	img {
	width: 100%;
	margin: auto;
	}
}


.landingmodeswitch
{
    position: absolute;
    right: 1rem;
    display: flex;
}