:root, [data-bs-theme=light] {
    --bs-primary-rgb: 63,76,131;
    --bs-secondary-rgb: 240,120,14;
    --bs-primary: #3f4c83;
    --bs-secondary: #f0780e;
    --uniprep-primary: #3f4c83;
    --uniprep-primaryop10: #3f4c8325;
    --uniprep-primaryop30: #3f4c835b;
    --uniprep-secondary: #f0780e;
    --uniprep-secondaryop10: #f0780e25;
    --uniprep-secondaryop30: #f0780e5b;
    --uniprep-primaryhighlight: #4552a3;
    --uniprep-secondaryhighlight: #f6895a;
    --uniprep-tertiary: #ffffff;
}
html
{
    scroll-behavior: smooth;
    overflow:auto !important;
}
video::-webkit-media-controls-panel {
    background-image: none !important;
}
body
{
    font-family: 'Poppins', sans-serif !important;
    overflow:auto !important;
}
  section
  {
    scroll-margin-top: 3rem;
  }
h1,h2
{
    font-weight:700;
}
h3,h4
{
    font-weight:600;
}
h5,h6
{
    font-weight:500;
}
p
{
    font-family: 'Work Sans', sans-serif;
    line-height:2;
    color:#8B939D;
}
.navbar
{
    transition:0.2s;
}
.btn{
    display:block;
}
.mobilemenu
{
    pointer-events: auto;
}
.scrolled
{
    font-size:14px;
    transition:0.2s;
    background-color:#ffffff
}
.scrolled button
{
    font-size:14px;
    transition:0.2s;
}
.scrolled .navbar-brand img
{
    width:150px;
    transition:0.2s;
}
.navbar-brand img
{
    width:200px;
    transition:0.2s;
}
.poppins
{
    font-family: 'Poppins', sans-serif;
}
.worksans
{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary
{
    --bs-btn-bg: #3f4c83;
    --bs-btn-border-color: #3f4c83;
}

/* ... existing CSS ... */

.video-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: filter 0.3s ease; /* This will smoothly animate the blur effect */
}

.video-container:hover .uniprepvideo {
    filter: blur(5px);
}

.video-container:hover .play-button {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    70% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Avoid blurring while video is playing */
.video-container.playing .uniprepvideo {
    filter: none;
}

.uniprepvideo {
    width: 100%;
    display: block;
    transition: filter 0.3s ease;
}

.play-button {
    position: absolute;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    display: none; /* initially hidden */
    z-index: 10;
    padding: 5px
}

.card
{
    background-color: #F5F5F5;
    border:none;
    border-radius:25px;
}

.card img
{
    transform:scale(0.75);
    transition: 0.2s;
}

.card:hover img
{
    transform:scale(1);
    transition: 0.2s;
}

.benefitcard
{
    background:transparent;
    transition: 0.2s;
}
.benefitcard .card-header
{
    background-color: #F5F5F5;
    border:none;
    border-radius: 35px;
    transition: 0.2s;
}

.benefitcard:hover
{
    background:#F5F5F5;
    transition: 0.2s;
}
.benefitcard:hover .card-header
{
    background-color: var(--bs-primary);
    color:white;
    transition: 0.2s;
}

.promocard
{
    background:#F5F7FF;
}

.featurecard
{
    background:#F5F5F5;
    border-radius: 25px !important;
    overflow: hidden;
    margin-bottom: 10px;
    border: none;
}

.featurecard .accordion-button::after
{
    display:none;
}

.featurecard .accordion-collapse
{
    background:#F5F5F5;
}

.featurecard .accordion-button:not(.collapsed)
{
    background:#f5f5f5;
}

.featurecard .accordion-header button
{
    background:white;
    box-shadow: none;
    padding: 0.75rem 1rem;
    font-weight:600;
    color:var(--bs-primary);
}

.featurecard .accordion-body
{
    text-align:start;
    padding: 0.75rem 1rem;
}

.faqcard
{
    background:#F5F7FF;
    border-radius: 10px !important;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #CBD1EA !important;
}

.faqcard .accordion-button::after
{

}

.faqcard .accordion-collapse
{
    background:#F5F7FF;
}

.faqcard .accordion-button:not(.collapsed)
{
    background: #F5F7FF;
    border-radius: 10px;
    color:var(--uniprep-primary);
}

/* .faqcard .accordion-button:not(.collapsed)::after
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */

.faqcard .accordion-header button
{
    background:#F5F7FF;
    box-shadow: none;
    padding: 1rem 1rem;
    font-weight:600;
}

.faqcard .accordion-body
{
    text-align:start;
    padding: 0.75rem 1rem;
    color: #8B939D;
}

.bg-mediumblue
{
    background-color:#252E55;
}

.bg-darkblue
{
    background-color:#181F3E;
}

.swiper-next,.swiper-prev {
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1;
    position: absolute;
    color: var(--bs-primary);
    height: 50px;
    background: #fff
}
.swiper-prev {
    left: 0;
    border: 2px solid var(--bs-primary);
    border-radius: 100%;
    margin-left: -50px
}

.swiper-next:hover,.swiper-prev:hover {
    background: var(--bs-primary);
    border: 2px solid var(--bs-primary);
    border-radius: 100%;
    color: #fff
}

.swiper-next {
    right: 0;
    border: 2px solid var(--bs-primary);
    border-radius: 100%;
    margin-right: -50px
}

.swiper-button-disabled
{
    background: var(--bs-primary);
    border: 2px solid var(--bs-primary);
    border-radius: 100%;
    color: #fff;
    opacity: 0.5;
}
.s-countryicon
{
width:70px;
margin:auto;
}

.universitylogos img
{
    width:150px;
}
.b-card
{
    width: 100%;
    margin: 10px 0px;
}

.b-card img
{
    width: fit-content;
    margin: auto;
}

.comparision-card
{
    background: white;
    border: 1px solid #EAF4FF;
}

.comparision-card ul
{
    line-height:3;
}

.comparision-card hr
{
    border-top: 1px solid #eaf4ff;
    opacity: 1;
}

.comparision-card li
{
    color: #8B939D;
    font-size:0.9rem;
}

.comparision-card .crossmark
{
    color: #F33F3F;
}

.comparision-card .checkmark
{
    color: #5FBE14;
}

.comparision-card-uniprep
{
    background: #EAF4FF;
    border: 1px solid #EAF4FF;
}

.comparision-card-uniprep ul
{
    line-height:3;
}

.comparision-card-uniprep li
{
    color: #8B939D;
    font-size:0.9rem;
}

.comparision-card-uniprep hr
{
    border-top: 1px solid #3f4c83;
    opacity: 1;
}

.comparision-card-uniprep .crossmark
{
    color: #F33F3F;
}

.comparision-card-uniprep .checkmark
{
    color: #5FBE14;
}

.challenge img
{
    width:100px;
}