<nav class="navbar navbar-expand-md flex-column navbar-light sticky-top pt-0" id="mainmenu">
	<div class="topmarquee container-fluid justify-content-center">
		<div class="row">
			<div class="col-md-12">
				<p class="mb-0 py-2 text-center text-white"><span class="h5 fw-semibold">UNIPREP 2.0</span> Is Here! Discover the All-New Features – Try It Free Today <a href="/register" class="text-white">Try now for free</a></p>
			</div>
		</div>
		<!-- <marquee class="text-white py-2">Enjoy free access to UNIPREP till 1st January 2024.</marquee> -->
	</div>
	<div class="container-fluid d-md-flex d-none">
		<!-- Your brand/logo (optional) -->
		<a class="navbar-brand py-0" href="#">
			<img class="lightmodelogo" src="/uniprep-assets/images/uniprep-dark.svg" />
			<img class="darkmodelogo" src="/uniprep-assets/images/uniprep-dark.svg" />
		</a>

		<ul class="nav flex-row gap-2">
			<li class="nav-item">
				<a class="nav-link active text-white fw-regular" aria-current="page" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active text-white fw-regular" aria-current="page" href="/about">About</a>
			</li>
			<!-- <li class="nav-item dropdown">
				<a class="nav-link text-white fw-regular dropdown-toggle" id="exploreDropdown" role="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					
				</a>
				<ul class="dropdown-menu bg-dark" aria-labelledby="exploreDropdown">
					<li><a class="dropdown-item text-white hover-black" routerLink="/about">About
							Uniprep</a></li>
									<li><a class="dropdown-item text-white hover-black"
											routerLink=/management-team">Management Team</a></li>
				</ul>
			</li> -->
			<li class="nav-item dropdown">
				<a class="nav-link text-white fw-regular dropdown-toggle" href="javascript.void(0)" id="exploreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Feature </a>
				<ul class="dropdown-menu bg-dark" aria-labelledby="exploreDropdown">
					<li><a class="dropdown-item text-white hover-black" routerLink="/job-seekers">For Job Seekers</a></li>
					<li><a class="dropdown-item text-white hover-black" routerLink="/international-students">For International Students</a></li>
					<li><a class="dropdown-item text-white hover-black" routerLink="/global-travellers">For Global Travelers</a></li>
					<li><a class="dropdown-item text-white hover-black" routerLink="/entrepreneurs">For Entrepreneurs</a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link text-white fw-regular dropdown-toggle" href="#explore" id="exploreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Explore </a>
				<ul class="dropdown-menu bg-dark" aria-labelledby="exploreDropdown">
					<li>
						<a class="dropdown-item text-white hover-black cursor-pointer" (click)="navigateConnectUrl()">For Employers</a>
					</li>
					<li>
						<a class="dropdown-item text-white hover-black cursor-pointer" routerLink="/talent-connect">For Talents</a>
					</li>
					<li>
						<a class="dropdown-item text-white hover-black cursor-pointer" (click)="navigatePartnerPage()">For Partners</a>
					</li>
					<li>
						<a class="dropdown-item text-white hover-black cursor-pointer" routerLink="/institute">For Institutes</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link active text-white fw-regular" aria-current="page" href="/pricing">Pricing</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link text-white fw-regular dropdown-toggle" id="exploreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Resources </a>
				<ul class="dropdown-menu bg-dark" aria-labelledby="exploreDropdown">
					<li><a class="dropdown-item text-white hover-black" href="/certificates">Certificates</a></li>
					<li><a class="dropdown-item text-white hover-black" href="/blogs">Blogs</a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link active text-white fw-regular" aria-current="page" href="/contact-us">Contact Us</a>
			</li>
			<!-- <li class="nav-item">
							<a class="nav-link text-white fw-regular" aria-label="Key Features" href="#keyfeatures"
								(click)="scrollToSection($event, 'keyfeatures')">Key Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white fw-regular" aria-label="Certificates"
								href="/certificates">Certificates</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white fw-regular" aria-label="Blogs" href="/blogs">Blogs</a>
						</li> -->
			<!-- <li class="nav-item">
				<a class="nav-link text-white fw-regular" aria-label="FAQ" href="#faq"
					(click)="scrollToSection($event, 'faq')">F.A.Q</a>
			</li> -->
			<!-- Add other desktop menu items as needed -->
		</ul>

		<div class="d-flex gap-4 align-items-center">
			<a [routerLink]="['/login']" class="text-decoration-none text-white">Login</a>
			<a [routerLink]="['/register']" class="text-decoration-none"><button type="button" class="btn btn-secondary px-4 py-2 m-0">Register</button></a>
		</div>
	</div>

	<div class="container-fluid d-md-none">
		<!-- Your brand/logo (optional) -->
		<a class="navbar-brand py-0" href="#">
			<img class="lightmodelogo" src="/uniprep-assets/images/uniprep-dark.svg" />
			<img class="darkmodelogo" src="/uniprep-assets/images/uniprep-dark.svg" />
		</a>

		<!-- Hamburger button for mobile -->
		<button class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-placement="right" data-bs-target="#sidebarNav" aria-controls="sidebarNav">
			<!-- <span class="navbar-toggler-icon text-white"></span> -->
			<i class="fa-regular fa-bars fa-2xl" role="button"></i>
		</button>

		<!-- Sidebar navigation (offcanvas) -->
		<div class="offcanvas offcanvas-end text-bg-dark" data-bs-scroll="true" tabindex="-1" id="sidebarNav" aria-labelledby="sidebarNavLabel">
			<div class="offcanvas-header justify-content-end mt-2">
				<!-- Close button (X) to close the sidebar -->
				<i class="fa-solid fa-xmark text-white fa-2xl" role="button" data-bs-dismiss="offcanvas"></i>
			</div>
			<div class="offcanvas-body justify-content-center d-flex align-items-center">
				<!-- Mobile menu items -->
				<ul class="nav flex-column gap-5 w-100">
					<li class="nav-item" data-bs-dismiss="offcanvas">
						<a class="nav-link active text-white fw-medium text-center h4" aria-current="page" href="#home" (click)="scrollToSection($event, 'home')">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white fw-medium text-center h4" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> About </a>
						<ul class="dropdown-menu bg-dark" aria-labelledby="aboutDropdown">
							<li><a class="dropdown-item text-white hover-black" routerLink="/about" data-bs-dismiss="offcanvas">About Uniprep</a></li>
							<!-- <li><a class="dropdown-item text-white hover-black" routerLink="/landing/about/management"
									data-bs-dismiss="offcanvas">Management Team</a></li> -->
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white fw-medium text-center h4" href="#" id="featureDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Feature </a>
						<ul class="dropdown-menu bg-dark" aria-labelledby="featureDropdown">
							<li><a class="dropdown-item text-white hover-black" routerLink="/job-seekers" data-bs-dismiss="offcanvas" role="button" aria-expanded="false">For Job Seekers</a></li>
							<li><a class="dropdown-item text-white hover-black" routerLink="/international-students" data-bs-dismiss="offcanvas">For International Students</a></li>
							<li><a class="dropdown-item text-white hover-black" routerLink="/global-travellers" data-bs-dismiss="offcanvas">For Global Travellers</a></li>
							<li><a class="dropdown-item text-white hover-black" routerLink="/entrepreneurs" data-bs-dismiss="offcanvas">For Entrepreneurs</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white fw-medium text-center h4" href="#" id="exploreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Explore </a>
						<ul class="dropdown-menu bg-dark" aria-labelledby="exploreDropdown">
							<li>
								<a class="dropdown-item text-white hover-black" style="cursor: pointer" (click)="navigateConnectUrl()">For Employer Connect</a>
							</li>
							<li>
								<a class="dropdown-item text-white hover-black" routerLink="/talent-connect">For Talent Connect</a>
							</li>
							<li>
								<a class="dropdown-item text-white hover-black" (click)="navigatePartnerPage();">For Partners</a>
							</li>
							<li>
								<a class="dropdown-item text-white hover-black" routerLink="/institute">For Institutes</a>
							</li>
						</ul>
					</li>
					<!-- <li class="nav-item" data-bs-dismiss="offcanvas">
						<a class="nav-link text-white fw-medium text-center h4" aria-label="keyfeatures"
							href="#keyfeatures" (click)="scrollToSection($event, 'keyfeatures')">Key Features</a>
					</li> -->
					<!-- <li class="nav-item" data-bs-dismiss="offcanvas">
						<a class="nav-link text-white fw-medium text-center h4" aria-label="FAQ" href="#faq"
							(click)="scrollToSection($event, 'faq')">F.A.Q</a>
					</li> -->
					<li class="nav-item" data-bs-dismiss="offcanvas">
						<a class="nav-link text-white fw-medium text-center h4" aria-label="FAQ" href="/pricing">Pricing</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white fw-medium text-center h4" href="#" id="exploreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Resources </a>
						<ul class="dropdown-menu bg-dark" aria-labelledby="exploreDropdown">
							<li><a class="dropdown-item text-white hover-black" style="cursor: pointer" routerLink="/blogs">Blogs</a></li>
							<li><a class="dropdown-item text-white hover-black" routerLink="/certificates">Certificates</a></li>
						</ul>
					</li>
					<!-- Add other mobile menu items as needed -->
					<li class="nav-item text-center">
						<a [routerLink]="['/login']" class="text-decoration-none text-center h4 text-white fw-regular">Login</a>
					</li>
					<li class="nav-item">
						<a href="/register" class="text-decoration-none"><button type="button" class="w-100 h4 btn btn-secondary px-4 py-2 m-0">Try for Free</button></a>
					</li>
				</ul>
			</div>
			<!-- "Try for Free" button (common for both mobile and desktop) -->
		</div>
	</div>
	<!-- <div class="landingmodeswitch">
		<label class="me-2">
			<i class="fa-solid fa-sun"></i>
		</label>
		<div class="form-check form-switch">
			<input type="checkbox" role="button" id="darkmodeswitch" class="form-check-input" [checked]="isDarkMode" (change)="toggleTheme()" />
		</div>
		<label class="ms-1">
			<i class="fa-solid fa-moon"></i>
		</label>
	</div> -->
</nav>

<ng-container>
	<router-outlet></router-outlet>
</ng-container>

<uni-landing-footer></uni-landing-footer>

<!--<div class="floating-buttons1">-->
<!--	<div class="floating-btn1 whatsapp" (mouseenter)="hovered1 = 'wa'" (mouseleave)="hovered1 = null">-->
<!--		<div class="btn-content1" [class.expanded1]="hovered1 === 'wa'" (click)="navigateWhatsappCall()">-->
<!--			<i class="fa-brands fa-whatsapp icon1"></i> &nbsp;-->
<!--			<span *ngIf="hovered1 === 'wa'" class="label1">24/7 Support</span>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
