.darksection {
	background-color: #07070b;
}
:host ::ng-deep .p-rating-option-active .p-rating-icon {
	color: #EAB308;
}
.color-gray
{
  color: #707070;
}
.color-blue
{
  color: #0052B4;
}
.color-purple
{
  color: #6537CF;
}
.color-red
{
  color: #CF373A;
}
.color-green
{
  color: #97C13D;
}
.color-orange
{
  color: var(--p-secondary-500);
}
.color-darkblue
{
  color: #000088;
}
