<div class="card readingcard">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center align-items-center">
			<div class="col-md-12 text-center d-flex gap-2">
                <div class="backIcon d-md-flex d-none" style="height: auto;" (click)="goBack()" role="button">
                    <span class="fa-solid fa-chevron-left"></span>
                  </div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div>
						<h5 class="w-100 mb-0" tooltipPosition="top">
							Global Salary Converter - Quiz</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body text-center flex-fill overflow-y-auto">
		<div class="row">
            <div class="col-md-12 text-start"
              >
              <p><b>Welcome to the {{'Global Salary Converter'}} Quiz! Please follow these instructions carefully to ensure a smooth
                  quiz experience:</b></p>
              <ul class="font-secondarycolor fw-medium lh-md instructionlist mt-4">
                <li>The total duration of the quiz is {{ '5' }} minutes.</li>
                <li>You must answer all questions; skipping questions is not allowed.</li>
                <li>Access to other screens or applications is not permitted during the quiz to maintain focus and integrity.
                </li>
                <li>Navigate through the quiz using the "Next" and "Previous" buttons. Do not use your browser's back or
                  forward buttons as this may lead to accidentally exiting the quiz.</li>
                <li>Review all your answers before submitting the quiz. You have the option to return to any question and
                  modify your responses if necessary</li>
                <li>Once you begin, you cannot save your progress to submit later. Make sure you are prepared to complete the
                  quiz in one sitting.</li>
                <li>Selecting "Restart" will refresh your quiz and present a new set of questions</li>
                <li>Upon successful completion of the quiz, you will receive a certificate that is accredited by prominent
                  bodies.</li>
                <li>You must achieve at least 90% correct answers to qualify and complete the quiz.</li>
              </ul>
            </div>
	</div>
</div>
<div class="card-footer bg-transparent">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 col-6 d-flex align-items-center text-start">
        <h4 class="uniprep-primary">ALL THE BEST!</h4>
      </div>
      <div class="col-md-6 col-6 text-end">
        <button  class="btn btn-start btn-rounded m-0 px-2 py-2"
          [disabled]="false">
          <div class="d-flex align-items-center">
            <span class="fw-normal h6 mb-0 ps-3 pe-2">Start</span>
            <div class="btn-icon"><i class="fa-solid fa-arrow-right"></i></div>
          </div>
        </button>
      </div>
    </div>
  </div>