.backIcon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: var(--uniprep-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.subjectcard {
	border: 1px solid #f0780c;
	width: 100%;
	margin: 10px 0px;

	.submoduleicon {
		height: 75px;
		width: 75px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		.selectimage {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&:focus {
		background-color: var(--uniprep-primaryop10);
		border: 1px solid var(--uniprep-primary);
	}

	&:hover {
		background-color: var(--uniprep-primaryop10);
		border: 1px solid var(--uniprep-primary);
	}

	// .subjecttitle {
	//   height: 50px;
	//   font-size: 16px;
	// }
}