.country-card {
	min-height: 185px;
	max-height: 185px;
	border-radius: 16px;
	cursor: pointer;
	border-color: var(--uniprep-secondary) !important;
}
.country-card:hover {
	background-color: lightgray !important;
	border-color: var(--uniprep-primary) !important;
}
.text-card
{
  border-radius: 16px;
//   border:1px solid var(--uniprep-primary);
}
.flag-circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 20px auto;
	overflow: hidden;
	position: relative; /* Add this */
	display: flex; /* Add this */
	align-items: center; /* Add this */
	justify-content: center; /* Add this */
}

.flag-circle img {
	width: 100%; /* Change this */
	height: 100%; /* Add this */
	object-fit: cover; /* Keep this */
	object-position: center; /* Add this */
}
.modalbuttons {
	position: absolute;
	top: -1rem;
	right: -1rem;
}
.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive::before {
	display: block;
	content: "";
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.embed-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.selected-category {
	color: rgb(125, 95, 233);
	cursor: pointer;
}

.answer-text {
	font-size: 16px;
    line-height: 2rem;
	font-family: "Poppins", sans-serif;
}

.question-title {
	color: #3b4da7;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 16px;
	padding-right: 48px;
}

#socialSharingList {
	display: none;
	position: absolute;
  top: 3rem;
  right: 0rem;
}

#socialSharingList ul {
	padding: 5px !important;
	margin-bottom: 0;
}

#socialSharingList ul li {
	display: flex;
	align-items: center;
	padding: 2px 0px;
	font-size: 1rem;
}

#socialSharingList ul li i {
	margin-right: 10px;
}

#socialSharingList.show {
	display: block;
}

::ng-deep .modal-dialog {
	width: 80% !important;
}

.sharebtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	width: 35px;
	border: none;
}
// new pop ui
