.country-card {
	min-height: 185px;
	max-height: 185px;
	border-radius: 16px;
	cursor: pointer;
	border-color: var(--p-secondary-500) !important;
}
.country-card:hover {
	background-color: lightgray !important;
	border-color: var(--p-primary-500) !important;
}
.text-card
{
  border-radius: 16px;
//   border:1px solid var(--p-primary-500);
}
.flag-circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 20px auto;
	overflow: hidden;
	position: relative; /* Add this */
	display: flex; /* Add this */
	align-items: center; /* Add this */
	justify-content: center; /* Add this */
}

.flag-circle img {
	width: 100%; /* Change this */
	height: 100%; /* Add this */
	object-fit: cover; /* Keep this */
	object-position: center; /* Add this */
}
.modalbuttons {
	position: absolute;
	top: -1rem;
	right: -1rem;
}
.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive::before {
	display: block;
	content: "";
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.embed-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.selected-category {
	color: rgb(125, 95, 233);
	cursor: pointer;
}
// new ui
.answercard {
	background-color: white;
	overflow-y: auto;
}

::ng-deep .p-dialog {
	max-width: 70% !important;
}

::ng-deep .p-dialog-header {
	padding: 3px !important;
}

.socialShareBtn {
	height: 38px;
	width: 38px;
	border-radius: 5px !important;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 12px;
	background-color: black !important;
}

.select-title {
	border-radius: 5px !important;
}

.career-closeIcon {
	height: 100%;
	width: 50px;
	min-height: 40px;
	border-radius: 8px;
	background-color: #1c1b17;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.career-homeIcon {
	height: 100%;
	width: 80px;
	min-height: 40px;
	border-radius: 8px;
	background-color: var(--p-secondary-500);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.career-reportIcon {
	height: 100%;
	width: 90px;
	min-height: 40px;
	border-radius: 8px;
	background-color: var(--p-primary-500);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.careerreadingcardgrid {
	flex: 0 0 25%;
	max-width: 25%;
}

@media (max-width: 1499.98px) {
	.careerreadingcardgrid {
		flex: 0 0 25%;
		max-width: 25%;
	}
}

@media (max-width: 1399.98px) {
	.careerreadingcardgrid {
		flex: 0 0 25%;
		max-width: 25%;
	}
}

@media (max-width: 1299.98px) {
	.careerreadingcardgrid {
		flex: 0 0 25%;
		max-width: 25%;
	}
}

@media (max-width: 1199.98px) {
	.careerreadingcardgrid {
		flex: 0 0 33%;
		max-width: 33%;
	}
}

@media (max-width: 991.98px) {
	.careerreadingcardgrid {
		flex: 0 0 33%;
		max-width: 33%;
	}
}

@media (max-width: 767.98px) {
	.careerreadingcardgrid {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

.questioncard .content-preview {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.questioncard:hover .content-preview {
	opacity: 1;
	max-height: 100px;
	/* Adjust as needed */
}

.blog-content {
	
	line-height: 2rem;
}
::ng-deep .blog-content ,p {
	font-size: 16px;
}
// new pop ui
