nav {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;

  .btn-primary {
    font-size: 1rem;
    color: var(--p-neutral-950);
  }

  .btn-secondary {
    font-size: 1rem;
    color: var(--p-neutral-950);
  }

  .p-breadcrumb {
    padding: 0px;
    display: inline-block;
    background-color: unset;
    border-width: 0px;
    font-size: 0.8rem;

    * :focus {
      box-shadow: none !important;
      outline: unset !important;
      outline-offset: 0px !important;
    }
  }

  .p-breadcrumb-chevron {
    font-size: 0.7rem;
  }

  .page-title {
    font-size: 1rem;
  }

  .right-panel {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.reportwidthfix {
  max-width: 400px;
}

.countdown {
  border: 2px solid red;
  position: absolute;
  top: 0;
  padding-right: 20px;
  right: 0;
}

.count-down {
  border-radius: 20%;
  color: black;
  font-weight: bold;
}

.btn-primary {
  border-radius: 5px;
}

.icon-color {
  background-color: var(--p-primary-50);
  color: gray;
  border-radius: 8px;
}

.img-icon {
  height: 18%;
  width: 18%;
  margin: 5px;
}

.subscribe_button {
  padding-right: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.timer_button {
  padding-right: 15px;
  margin-right: 5px;
  margin-left: 5px;
}
.headercountry {
  img {
    width: 40px;
    height: 40px;
    border: 2px solid var(--p-primary-50);
    border-radius: 100%;
    object-fit: cover;
  }
}

.headerHomeCountry {
  height: 40px;
  width: 40px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 2px solid var(--p-primary-50);
    object-fit: cover;
  }
}

form {
  input {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: start;
    // margin-right: 10px;
    color: var(--p-primary-500);
  }

  label {
    font-size: 0.8rem;
    color: black;
  }

  :focus {
    border-color: var(--p-primary-500) !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  }

  .signup {
    font-size: small;
    color: black;
  }
}

form {
  border-radius: 1rem;
  width: 100%;
  text-align: left;
}
.profile-dropdown {
  button {
    //background: transparent;
    border: none;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--p-avatar-width);
    height: var(--p-avatar-height);
    font-size: var(--p-avatar-font-size);
    color: var(--p-avatar-color);
    background: var(--p-avatar-background);
    border-radius: var(--p-avatar-border-radius);
  }
}
.nme {
  font-weight: 700 !important;
}

.custom-style {
  .item {
    padding-left: 4px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--p-primary-500) !important;
    border-radius: 3px;

    &:nth-child(1) {
      border: 1px solid #eee;
    }

    &:nth-child(2) {
      border: 1px solid #eee;
    }

    &:nth-child(3) {
      border: 1px solid #eee;
    }
  }
}

.dropbtn {
  color: #9bc326 !important;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-right: 10%;
  margin-left: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: dodgerblue;
}

.report {
  .report-label {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .report-modal {
    .p-element {
      .p-select {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .p-select-panel {
      margin-top: 0;
    }

    .p-inputtextarea {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

//.p-dialog-header {
//  display: none !important;
//}
// .p-dialog-header {
//   padding: 0 !important;
// }
// .p-dialog-content {
//   padding: 0 !important;
// }
.boxView {
  width: 30px;
  height: 30px;
  padding: 0px;
  background: var(--p-neutral-50);
  border: 1px solid var(--p-primary-500);
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.timertext {
  font-size: 8px;
  font-weight: 600;
  color: #001631;
  text-align: center;
}

.menutoggle {
  button {
    border-radius: 100% !important;
    width: 30px;
    height: 30px;
    margin: auto !important;
    padding: 0;
    display: flex !important;
    justify-content: center;
    background: var(--p-neutral-100);
  }
}

.darkmode {
  .menutoggle {
    button {
      color: var(--p-neutral-50);
      background: #202124;
    }
  }
}
.fa-hourglass-end {
  transform: rotate(346deg);
}

.firsttimelogin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.firsttimeloginpopup {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
}
.iti .dropdown-menu.country-dropdown {
  height: 200px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  background: white !important;
}
.iti .dropdown-menu.country-dropdown .search-container {
  top: 0px !important;
  position: sticky !important;
  z-index: 99;
}
.phonenumberblock p {
  font-size: small;
  text-align: center;
  font-weight: 600;
}

.btn-secondary:disabled {
  background: linear-gradient(
    0deg,
    rgb(240 120 14) 0%,
    rgb(240 120 14) 100%
  ) !important;
}
.btn-primary:disabled {
  background: linear-gradient(
    0deg,
    rgb(63 76 131) 0%,
    rgb(63 76 131) 100%
  ) !important;
}

.country-list {
  list-style: none;
  padding: 0;
}

.country-list li {
  width: 33.33%; /* Three columns */
  box-sizing: border-box;
  float: left;
}

// .p-popover{
//   width: 50%;
// }

@media (max-width: 768px) {
  .country-list li {
    width: 50%; /* Two columns on smaller screens */
  }
}

@media (max-width: 576px) {
  .country-list li {
    width: 100%; /* Single column on extra small screens */
  }
}

// .p-overlay {
//   z-index: 99999999 !important;
// }
$color_3: #222;
$background-color_4: var(--p-neutral-50);
// .form-control {
//   display: block;
//   width: 80%;
//   padding: 0.375rem 0.75rem;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 1.5;
//   color: $color_3;
//   background-color: $background-color_4;
//   background-clip: padding-box;
//   border: 1px solid #ccc;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   border-radius: 0.25rem;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

//   &:focus {
//     outline: 0;
//     box-shadow: inherit;
//   }
// }
.flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

.flag {
  width: 18px;
}

.custom-dropdown {
  width: 100%;
  height: 100%;
}

.custom-dropdown .p-select-panel {
  max-height: 200px;
}

.currentEduPopup {
  width: 500px;
  height: 325px;
}

.currentEduPopup .p-dialog-content,
.currentEduPopup .p-dialog-titlebar {
  border-radius: 15px !important;
}

.FirstLoginPopup {
  width: 500px;
}

.FirstLoginPopup .p-dialog-content,
.currentEduPopup .p-dialog-titlebar {
  border-radius: 15px !important;
}

.btn-ilearn {
  background: var(--p-green-500) !important;
  color: white !important;
}
.notifications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.notifications-header h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}
.notifications-header a {
  font-size: 1rem;
  color: #001631;
  font-weight: 600;
}
.notifications-header i {
  font-size: 1.5rem;
  color: #6c757d;
  margin-left: 15px;
  cursor: pointer;
}
.list-group-item {
  border: none;
  margin-bottom: 3px;
  padding: 0.8rem;
  i {
    color: white;
    background: var(--p-primary-500);
    border-radius: 50%;
    padding: 0.8rem;
    font-size: small !important;
    margin-right: 1rem;
  }
  .deafult-icon {
    background: #ececec !important;
    color: #c3c3c3;
  }
}
.isread {
  border-radius: 4px;
  background-color: #ececec;
}
.list-group-item h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}
.list-group-item small {
  color: #6c757d;
}
.btn-sm {
  padding: 5px 10px;
}
.view-all {
  text-align: right;
  margin-top: 15px;
}
.view-all a {
  font-size: 1rem;
  color: #001631;
  font-weight: 600;
}
.otp-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.otp-box {
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  transition: border-color 0.3s;
}

.otp-box:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.radio-group {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  /* Adjust the height as needed */
}

.assessment-popup {
  width: 460px;
  .p-dialog-titlebar,
  .p-dialog-content {
    border-radius: 15px !important;
  }
  &.upgrade-plan {
    width: 400px;
  }
}

.popup-close {
  background: var(--p-primary-500);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  position: absolute;
  right: 7px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

:host ::ng-deep .disabled input {
  pointer-events: none;
  background-color: #f1f1f1;
  color: #888;
  cursor: not-allowed;
}

:host ::ng-deep .disabled .iti__flag-container {
  pointer-events: none;
}
.text-primary {
  color: var(--p-primary-500) !important; /* Or whatever the exact color is in your design */
}

a[role="button"]:not(.disabled):hover {
  text-decoration: underline;
}

iti__flag-container {
  width: 0 !important;
}