nav {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;

  .btn-primary {
    font-size: 1rem;
    color: #000;
  }

  .btn-secondary {
    font-size: 1rem;
    color: #000;
  }

  .p-breadcrumb {
    padding: 0px;
    display: inline-block;
    background-color: unset;
    border-width: 0px;
    font-size: .8rem;

    * :focus {
      box-shadow: none !important;
      outline: unset !important;
      outline-offset: 0px !important;
    }
  }

  .p-breadcrumb-chevron {
    font-size: .7rem;
  }

  .page-title {
    font-size: 1rem;
  }

  .right-panel {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  p-avatar {
    padding-right: 10px;
  }
}

.countdown {
  border: 2px solid red;
  position: absolute;
  top: 0;
  padding-right: 20px;
  right: 0;
}

.count-down {
  border-radius: 20%;
  color: black;
  font-weight: bold;
}

.btn-primary {
  border-radius: 5px;
}

.icon-color {
  background-color: var(--uniprep-primaryop10);
  color: gray;
  border-radius: 8px;
}

.img-icon {
  height: 18%;
  width: 18%;
  margin: 5px;
}

.subscribe_button {
  padding-right: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.timer_button {
  padding-right: 15px;
  margin-right: 5px;
  margin-left: 5px;
}
.headercountry
{
  img
  {
    width: 40px;
    border: 2px solid var(--uniprep-primaryop10);
    border-radius: 100%;
  }
  
}
form {
  input {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: start;
    margin-right: 10px;
    color: var(--uniprep-primary);
  }

  label {
    font-size: 0.8rem;
    color: black;
  }

  :focus {
    border-color: var(--uniprep-primary) !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  }

  .signup {
    font-size: small;
    color: black;
  }
}

form {
  border-radius: 1rem;
  width: 100%;
  text-align: left;
}
.profile-dropdown
{
  button
  {
    background: transparent;
    border:none;
    padding: 0;
    padding-right: 0;
  }
}
.nme {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 8px;
  color: #001631;
  background-color: var(--uniprep-primaryop10);
  text-align: center;
  margin-right: 10px;
  font-weight: 700!important;
  font-size: 1.2rem;
}

.custom-style {
  .item {
    padding-left: 4px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--uniprep-primary) !important;
    border-radius: 3px;

    &:nth-child(1) {
      border: 1px solid #eee;
    }

    &:nth-child(2) {

      border: 1px solid #eee;
    }

    &:nth-child(3) {
      border: 1px solid #eee;
    }
  }
}

.p-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem !important;
  height: 2.5rem !important;
  font-size: 1rem;
  background-color: var(--uniprep-primaryop10);
  border-radius: 10px !important;

}

.dropbtn {
  color: #9bc326 !important;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-right: 10%;
  margin-left: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: dodgerblue;
}

.report {
  .report-label {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .report-modal {
    .p-element {
      .p-dropdown {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .p-dropdown-panel {
      margin-top: 0;
    }

    .p-inputtextarea {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

//.p-dialog-header {
//  display: none !important;
//}
.p-dialog-header {
  padding: 0 !important;
}
.p-dialog-content {
  padding: 0 !important;
}
.text-green{
  color: #000000 !important;
}
.boxView {
  width: 30px;
  height: 30px;
  padding: 0px;
  background: #fff;
  border: 1px solid #3F4C83;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.timertext
{
  font-size: 8px;
  font-weight:600;
  color:#001631;
  text-align: center;
}

.menutoggle
{
  button
  {
    border-radius: 100% !important;
    width: 30px;
    height: 30px;
    margin: auto !important;
    padding: 0;
    display: flex !important;
    justify-content: center;
    background: #efefef;
  }
}

.darkmode
{
  .menutoggle
{
  button
  {
    color:#fff;
    background: #202124;
  }
}
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
  color: #F0780C;
}

.time-left{
  i{
    transform: rotate(340deg);
    padding-right: 10px;
    height: 35px;
    width: 27px;
  }
}

.fs-20{
  font-size: 20px;
  padding-right: 10px;
  font-weight: 600;
}

.fw-12{
  font-size: 12px !important;
  font-weight: 600;
}