nav{
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    //box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.9),0 20px 27px 0 rgba(0,0,0,.05)!important;
    .p-breadcrumb {
        padding: 0px;
        display: inline-block;
        background-color: unset;
        border-width: 0px;
        font-size: .8rem;
        * :focus {
            box-shadow: none !important;
            outline: unset !important;
            outline-offset: 0px !important;
        }
    }
    .p-breadcrumb-chevron {
        font-size: .7rem;
    }
    .page-title {
        font-size: 1rem;
    }
    .right-panel {
        display: flex;
        align-items: center;
    }
}