<nav>
    <div class="left-panel">
    </div>
    <div class="right-panel">
        <span class="subscribe_button" role="button"><strong>TIME LEFT</strong>
            <img alt="chat with notification" class="subscribe_button" src="/uniprep-assets/images/icons/timer_clock.svg" width="50px"/>
            <countdown (event)="handleEvent($event)" *ngIf="config" [config]="config" class="custom-style"></countdown>
        </span>
        <button class="btn btn-primary mx-2" alt="chat with notification">Subscribe Now</button>
        <button class="btn btn-secondary subscribe_button mx-2 me-4" (click)="op.toggle($event)" alt="reports" alt="chat with notification"><i class="fa-solid fa-file"></i> Report</button>
        <p-overlayPanel #op>
            <ng-template pTemplate="content">
                <div class="row">
                    <label class="text-left">Modules</label>
                    <span style="width: 100% !important">
                    <p-dropdown  [options]="moduleList" (onChange)="onChangeModuleList($event)"
                            [style]="{'minWidth':'100%'}"
                            class="w-100"
                            id="moduleId"
                            optionLabel="module_name"
                            style="width: 100% !important;"
                    ></p-dropdown>
                </span>
                    <label class="text-left">Categories</label>
                    <span style="width: 100%">
                    <p-dropdown
                            [style]="{'minWidth':'100%'}" (onChange)="onChangeSubModuleList($event)"
                            class="w-100"
                            id="submoduleId"
                            optionLabel="name"
                            style="width: 100% !important;"
                    ></p-dropdown>
                </span>
                    <label class="text-left">Question Number</label>
                    <span style="width: 100%">
                    <p-dropdown
                            [style]="{'minWidth':'100%'}" (onChange)="onChangeQuestionIdList($event)"
                            class="w-100"
                            id="questionId"
                            optionLabel="name"
                            style="width: 100% !important;"
                    ></p-dropdown>
                </span>
                    <label class="text-left">Issue Type</label>
                    <span style="width: 100%">
                    <p-dropdown  [options]="reportOptionList" (onChange)="onChangeIssueTypeList($event)"
                            [style]="{'minWidth':'100%'}"
                            class="w-100"
                            id="reportOption"
                            optionLabel="reportoption_name"
                            style="width: 100% !important;"
                    ></p-dropdown>
                </span>
                    <label class="text-left">Add Command</label>
                    <textarea pInputTextarea id="comment"></textarea>
                    <button class="btn btn-primary btn-login p-2 m-2">
                        Submit
                    </button>

                </div>
            </ng-template>
        </p-overlayPanel>
        <!--        <p-button (click)="op.toggle($event)" icon="pi pi-image" label="Show"></p-button>-->
        <p-avatar (click)="togleSidebar.emit()" class="" label="" role="button">
            <i class="fa-solid fa-coins"></i>
        </p-avatar>
        <p-avatar (click)="togleSidebar.emit()" (click)="openModal($event)" class="" label="" role="button">
            <i class="fa-solid fa-comments"></i>
        </p-avatar>
        <p-avatar (click)="togleSidebar.emit()" class="" label="" role="button">
            <i class="fa-solid fa-bell"></i></p-avatar>
        <p-avatar (click)="togleSidebar.emit()" label="{{firstChar}}"></p-avatar>
        <span>{{userName}}</span>
        <div class="dropdown">
            <i class="pi pi-angle-down text-primary dropbtn"></i>
            <div class="dropdown-content" style="right: 0; left: auto;">
                <a (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>