.card-inside:hover {
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }

  :host ::ng-deep .p-dropdown {
    width: 100%;
  }
  
  :host ::ng-deep .p-inputtext {
    width: 100%;
  }
  
  :host ::ng-deep .filter-modal .p-dialog-header {
    border-bottom: 1px solid #e9ecef;
    padding: 1rem !important;
  }
  
  :host ::ng-deep .filter-modal .p-dialog-content {
    padding: 1.5rem;
  }
  
  :host ::ng-deep .filter-modal .p-dialog-footer {
    border-top: 1px solid #e9ecef;
    padding: 1.5rem;
  }
  
  .form-label {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 12px;
  }
  
  button.p-button-primary {
    background-color: #3f51b5;
  }
  
  button.p-button-secondary {
    color: #3f51b5;
    border-color: #3f51b5;
  }

  .module-button {
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    color: var(--uniprep-primary);
    &:hover, &:active, &:focus {
      color: white;
      background-color: var(--uniprep-primary);
    }
  }