<div class="card readingcard h-100">
	<div class="card-header border-0 bg-transparent">
		<div class="row">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="backIcon d-md-flex d-none" role="button" routerLink="/pages/talent-connect/list">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="Questions related to the application process are answered">Company Connect<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
					</div>
					<div>
						<button class="how-it-works-button" (click)="openVideoPopup('https://www.youtube.com/embed/01xivveciUI?si=Cdi3e7ycApMa8sWO')">How it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
				<button type="button" title="Close Popup" class="btn btn-primary btn-lg rounded-3 shadow-sm px-4 text-normal" (click)="displayModal = true">Filter&nbsp;&nbsp;<i class="fa-solid fa-caret-down"></i></button>
			</div>
		</div>
		<div class="row mt-2 align-items-center">
			<!-- Left Spacer (Keeps Buttons Centered) -->
			<div class="col-md-4 d-none d-md-block"></div>

			<!-- Centered Buttons -->
			<div class="col-md-4 col-12 mb-md-0 mb-2">
				<div class="d-flex gap-3 justify-content-center">
					<button type="button" pButton class="btn border btn-primary px-3 py-3">Company Search</button>
					<button type="button" style="color: var(--uniprep-primary)" pButton class="btn border px-3 py-3 bg-white" routerLink="/pages/talent-connect/company-tracker">Company Tracker</button>
				</div>
			</div>

			<!-- Right Section: Chips / Badges -->
			<div class="col-md-4 col-12">
				<div class="d-flex gap-2 justify-content-md-end justify-content-center">
					<p-tag [style]="{ border: '2px solid var(--uniprep-secondary)', color: 'var(--text-color)' }" [rounded]="true" severity="danger">Total Companies : {{ this.totalCount }} </p-tag>
					<p-tag [style]="{ border: '2px solid var(--uniprep-primary)', color: 'var(--text-color)' }" [rounded]="true" severity="info">Total Jobs : {{ this.totalJob }} </p-tag>
					<p-tag [style]="{ border: '2px solid green', color: 'var(--text-color)' }" [rounded]="true" severity="success">Total Vacancies : {{ this.totalVacancies }} </p-tag>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body flex-fill overflow-y-auto">
		<div class="row">
			<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-2" *ngFor="let company of companyDataList">
				<div class="card h-100 card-inside" role="button" (click)="onClickCompany(company.id)" style="transition: transform 0.3s; border: 1px solid #fda172" [style.border]="company.verified ? '1px solid #FFA500' : '1px solid #fda172'">
					<div class="card-body">
						<div class="row mb-3">
							<div class="col-3">
								<div class="w-100 h-100 border rounded-2 overflow-hidden" style="aspect-ratio: 1">
									<img (error)="$event.target.src = '/uniprep-assets/images/job.webp'" src="{{ company.company_logo }}" alt="Company Logo" style="width: 100%; object-fit: contain; height: 100%" />
								</div>
							</div>
							<div class="col-9 text-start">
								<div class="d-flex justify-content-between text-start">
									<div class="d-block">
										<h5 class="fw-bold mb-0">{{ company.company_name ? company.company_name : "Company Name" }}</h5>
										<p class="text-muted text-small">Founded: {{ (company.founded_year | date: 'yyyy') || "2019" }}</p>
									</div>
									<a routerLink="/pages/talent-connect/company-connect" style="color: #fda172">
										<i class="fa-regular fa-share-alt fa-xl"></i>
									</a>
								</div>
								<div class="text-start">
									<button class="px-3 py-2 rounded-1 text-small btn" pButton [ngClass]="company.shortlisted == 1 ? 'active-shortlist' : 'inActive-shortlist'" (click)="onClickShortListCompany(company.id)" [disabled]="company.shortlisted == 1">
										{{ company.shortlisted == 1 ? "Shortlisted" : "Shortlist" }}
									</button>
								</div>
							</div>
						</div>
						<div class="row text-start">
							<!-- First Row -->
							<hr class="my-1" />
							<div class="col-6">
								<div class="d-flex align-items-center gap-2">
									<div class="icon-container job-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="info-container" class="text-decoration-none text-dark"
										(click)="routerToJobListingPageWithCompanyId($event, company.id);">
										<div class="info-label">Open Jobs</div>
										<div class="info-value">{{ company.jobs ?? '-'}}</div>
									</div>
								</div>
							</div>

							<div class="col-6">
								<div class="d-flex align-items-center gap-2">
									<div class="icon-container vacancies-icon">
										<i class="fas fa-users"></i>
										</div>
										<div class="info-container" (click)="routerToJobListingPageWithCompanyId($event, company.id);">
										<div class="info-label">Open Vacancies</div>
										<div class="info-value">{{ company.vacancies ?? 0}}</div>
									</div>
								</div>
							</div>
							<hr class="my-1" />

							<!-- Second Row -->
							<div class="col-6 mb-3">
								<div class="d-flex align-items-center gap-2">
									<div class="icon-container company-icon">
										<i class="fas fa-building"></i>
									</div>
									<div class="info-container">
										<div class="info-label">Company Type</div>
										<div class="info-value">{{ company.type ?? '-'}}</div>
									</div>
								</div>
							</div>

							<div class="col-6 mb-3">
								<div class="d-flex align-items-center gap-2">
									<div class="icon-container size-icon">
										<i class="fas fa-users-cog"></i>
									</div>
									<div class="info-container">
										<div class="info-label">Company Size</div>
										<div class="info-value">{{ company.size ?? '-'}}</div>
									</div>
								</div>
							</div>

							<!-- Third Row -->
							<div class="col-6 mb-3">
								<div class="d-flex align-items-center gap-2">
									<div class="icon-container industry-icon">
										<i class="fas fa-industry"></i>
									</div>
									<div class="info-container">
										<div class="info-label">Industry</div>
										<div class="info-value">{{ company.industry_type ?? '-' }}</div>
									</div>
								</div>
							</div>

							<div class="col-6 mb-3">
								<div class="d-flex align-items-center gap-2">
									<div class="icon-container location-icon">
										<i class="fas fa-map-marker-alt"></i>
									</div>
									<div class="info-container">
										<div class="info-label">Headquarters</div>
										<div class="info-value">{{ company.HQ_city ? company.HQ_city + ', ' : ''}}  {{ company.HQ_country }}</div>
									</div>
								</div>
							</div>

							<!-- Fourth Row -->
							<div class="col-6">
								<div class="d-flex align-items-center gap-2">
									<div class="icon-container department-icon">
										<i class="fas fa-laptop-code"></i>
									</div>
									<div class="info-container">
										<div class="info-label">Department</div>
										<div class="info-value">{{ company.departments ?? '-' }}</div>
									</div>
								</div>
							</div>

							<div class="col-6">
								<div class="d-flex align-items-center gap-2">
									<div class="icon-container work-mode-icon">
										<i class="fas fa-map-pin"></i>
									</div>
									<div class="info-container">
										<div class="info-label">Work mode</div>
										<div class="info-value">{{ company.work_mode ?? '-'}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer border-0 bg-transparent">
		<p-paginator *ngIf="totalCount != 0" [rows]="perPage" [totalRecords]="totalCount" [first]="(page - 1) * perPage" (onPageChange)="pageChange($event)" [rowsPerPageOptions]="[12, 48, 96, 300, 600, 900]"></p-paginator>
	</div>
</div>

<app-company-filter [openModal]="displayModal" (closeFilter)="displayModal = false"
	(triggerApplyFiler)="listCompanyData($event)" (resetFilter)="listCompanyData()"
	[isListView]="true"></app-company-filter>