.card-inside {
  border: 10px solid #f4a261; /* Light orange border */
  transition: all 0.3s ease-in-out;
}

.card-inside:hover {
  background-color: #fff5ec;
  border: 0px 2px 6px rgba(244, 162, 97, 0.5); /* Soft orange shadow */
}

  :host ::ng-deep .p-dropdown {
    width: 100%;
  }
  
  :host ::ng-deep .p-inputtext {
    width: 100%;
  }
  
  :host ::ng-deep .filter-modal .p-dialog-header {
    border-bottom: 1px solid #e9ecef;
    padding: 1rem !important;
  }
  
  :host ::ng-deep .filter-modal .p-dialog-content {
    padding: 1.5rem;
  }
  
  :host ::ng-deep .filter-modal .p-dialog-footer {
    border-top: 1px solid #e9ecef;
    padding: 1.5rem;
  }
  
  .form-label {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 12px;
  }
  
  button.p-button-primary {
    background-color: #3f51b5;
  }
  
  button.p-button-secondary {
    color: #3f51b5;
    border-color: #3f51b5;
  }

  .module-button {
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    color: var(--primary-500);
    &:hover, &:active, &:focus {
      color: white;
      background-color: var(--primary-500);
    }
  }
  button.p-button-primary {
    background-color: var(--primary-500);  
  }

  .inActive-shortlist {
    background-color: #3f51b5;
    color: white;
    border-radius: 5px !important;
  }

  .active-shortlist {
    background-color: var(--primary-500);
    color: white;
    border-radius: 5px !important;
  }

  /* CSS for Company Information Card */
.company-info-card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #fcfcfc;
}

.icon-container {
  min-width: 30px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}

.info-label {
  color: #6c757d;
  font-size: 0.8rem;
  font-weight: 500;
}

.info-value {
  color: #212529;
  font-size: 0.9rem;
  font-weight: 600;
  word-break: break-word; /* Ensures long words break */
  overflow-wrap: break-word; /* Helps with word wrapping */
  hyphens: auto;
}

/* Custom icon background colors */
.job-icon {
  color: #FFA500;
}

.vacancies-icon {
  color: #E74C3C;
}

.company-icon {
  color: #FF9800;
}

.size-icon {
  color: #E74C3C;
}

.industry-icon {
  color: #404040;
}

.location-icon {
  color: #4CAF50;
}

.department-icon {
  color: #4CAF50;
}

.work-mode-icon {
  color: #4CAF50;
}
.active-button {
  background-color: var(--primary-500); /* Change to your primary color */
  color: white;
  border: 2px solid var(--primary-500);
  font-weight: bold;
}