.back-button {
	width: 35px;
	height: 35px;
	display: flex;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	color: white;
	border: 1px solid white;
	background: transparent;
}

.pagetitle {
	background-color: transparent;
	border: 1px solid white;
	border-radius: 100px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.darksection {
	background-color: #07070b;
	p {
		color: #fff !important;
	}
}

.mgmt-img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	aspect-ratio: 1;
}
.card {
	border-radius: 1.5rem;
	border: 1px solid #e6ddfe08;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
	box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
	color: white;
	&:hover {
		.card-title {
			color: var(--uniprep-secondary);
		}
		.cardicon {
			font-weight: 700;
		}
	}
}