<section class="pb-5 pt-5 py-md-4 darksection" id="our-management">
	<div class="container-fluid py-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<div class="d-flex gap-2 align-items-center mb-2">
							<button class="back-button" (click)="goBack()">
								<i class="text-white fa-solid fa-arrow-left"></i>
							</button>
							<span class="text-white pagetitle px-3">{{ pageTitle }}</span>
						</div>
						<div class="col-md-12">
							<h1 class="text-white fw-light">{{ mainHeading }}</h1>
							<p class="mb-4">{{ description }}</p>
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mb-3" *ngFor="let member of teamMembers">
									<div class="card h-100 managementcard">
										<div class="card-body text-center">
											<div class="rounded-4 overflow-hidden"><img [src]="member.image" [alt]="member.name" class="mgmt-img"/></div>
											<h4 class="text-white mb-0 mt-2">{{ member.name }}</h4>
											<p class="text-muted mb-3">{{ member.designation }}</p>
											<a [href]="member.linkedin_url" target="_blank" class="text-white text-decoration-none"> LinkedIn <i class="fa-brands fa-linkedin fa-xl"></i> </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
