.back-button {
	width: 35px;
	height: 35px;
	display: flex;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	color: white;
	border: 1px solid white;
	background: transparent;
}

.pagetitle {
	background-color: transparent;
	border: 1px solid white;
	border-radius: 100px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.darksection {
	background-color: #07070b;
	p {
		color: #fff !important;
	}
}

.managementcard {
	background: #18181d;
	border-radius: 10px !important;
	overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid #080e13 !important;
}

.mgmt-img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	aspect-ratio: 1;
}
