<section>
    <div [ngClass]="sidebarClass" id="sidenav">
        <uni-sidenav>
            <ng-template #appTitle>
                <img class="lightmodelogo" src="../../uniprep-assets/images/uniprep-light.svg">
                <img class="darkmodelogo" src="../../uniprep-assets/images/uniprep-dark.svg">
                <img class="smalllogowhite" src="../../uniprep-assets/images/icon-light.svg">
                <img class="smalllogodark" src="../../uniprep-assets/images/icon-dark.svg">
            </ng-template>
        </uni-sidenav>
    </div>
    <div (scroll)="onWindowScroll($event)" id="page">
        <uni-header (togleSidebar)="togleSidebar()" [expandicon]="expandicon" [ngClass]="{'sticky': stickHeader}">
        </uni-header>
        <div class="container-fluid" id="page-container">
            <div *ngIf="showSearch">
                <uni-header-search></uni-header-search>
            </div>
            <div class="row">
                <router-outlet></router-outlet>
                <div *ngIf="isFooterBoxVisible">
                    <uni-footer-status-box></uni-footer-status-box>
                </div>
            </div>
        </div>
        <footer [ngClass]="{'alignleft': !!sidebarClass}">
            <div>
                <a>2023 &#169; All rights reserved by UNIABROAD Ltd. | UOEC Consultants(OPC) Pvt. Ltd.</a>
            </div>
            <div>
                <ul>
                    <li>TERMS AND CONDTIONS<span>|</span></li>
                    <li>PRIVACY POLICY<span>|</span></li>
                    <li>ABOUT US<span>|</span></li>
                    <li>CONTACT US</li>
                </ul>
            </div>
        </footer>
    </div>
    
</section>