<div *ngIf="isDeviceStatusPopupView">
	<section class="pe-md-3 pe-0">
		<div id="sidenav">
			<uni-sidenav>
				<ng-template #appTitle> 
					<img class="app-logo" src="{{ imageUrlWhitelabel }}" />
					<!-- <img class="darkmodelogo" src="../../uniprep-assets/images/uniprep-dark.png" />
					<img class="smalllogowhite" src="../../uniprep-assets/images/icon-light.svg" />
					<img class="smalllogodark" src="../../uniprep-assets/images/icon-dark.svg" /> -->
				</ng-template>
			</uni-sidenav>
		</div>
		<div (scroll)="onWindowScroll($event)" id="page">
			<uni-header (togleSidebar)="togleSidebar()" [expandicon]="expandicon" [ngClass]="{ sticky: stickHeader }">
			</uni-header>
			<div id="page-container">
				<uni-header-search *ngIf="showSearch"></uni-header-search>
				<router-outlet></router-outlet>
				<!-- <uni-footer-status-box *ngIf="isFooterBoxVisible"></uni-footer-status-box> -->
			</div>

			<footer [ngClass]="{ alignleft: !!sidebarClass }" class="footer-section d-md-block d-none">
				<div class="container-fluid py-2">
					<div class="row align-items-center">
						<div class="col-md-6 text-md-start text-center">
							<p *ngIf="footerIsShow" class="mb-0 fw-semibold small">2024 &#169; All rights reserved by
								UPREP TECHNOLOGY PVT LTD</p>
						</div>
						<ul class="nav justify-content-md-end justify-content-center col-md-6 small">
							<li class="nav-item">
								<a href="/pages/termsandcondition" style="cursor: pointer"
									class="nav-link px-2 py-0 text-body-secondary">Terms & Conditions</a>
							</li>
							<li class="nav-item">|</li>
							<li class="nav-item">
								<a href="/pages/privacypolicy" style="cursor: pointer"
									class="nav-link px-2 py-0 text-body-secondary">Privacy Policy</a>
							</li>
							<li class="nav-item">|</li>
							<li class="nav-item">
								<a href="/pages/refundpolicy" style="cursor: pointer"
									class="nav-link px-2 py-0 text-body-secondary">Refund Policy</a>
							</li>
							<li class="nav-item">|</li>
							<li class="nav-item">
								<a href="/pages/cancellationpolicy" style="cursor: pointer"
									class="nav-link px-2 py-0 text-body-secondary">Cancellation Policy</a>
							</li>
							<!-- <li class="nav-item">|</li>
						<li class="nav-item"><a href="/#about" class="nav-link px-2 py-0 text-body-secondary">About Us</a></li> -->
						</ul>
					</div>
				</div>
			</footer>
			<p-dialog class="thankyoupopup" [modal]="true" header="Header" [(visible)]="showReportSuccess"
				[breakpoints]="{ '960px': '75vw' }" [style]="{ width: 'auto' }" [draggable]="false" [resizable]="false">
				<ng-template pTemplate="header">
					<span class="text-xl font-bold"></span>
				</ng-template>
				<div class="px-3 pb-3 pt-2 bg-white">
					<div class="justify-content-center text-center bg-white">
						<h4 class="text-center mb-2">We have noted your feedback.<br />Our team will get back to you
							shortly.</h4>
						<h3 class="text-center mb-2 text-green">Thank You</h3>
						<img class="pb-5" src="../../../uniprep-assets/images/icons/thumbsup.webp" width="auto"
							alt="thumbs up" />
					</div>
				</div>
			</p-dialog>
		</div>
	</section>
</div>

<div *ngIf="!isDeviceStatusPopupView" [ngStyle]="{ display: isDeviceStatus }"
	class="modal modal-bg multiDeviceLogoutPopup" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content card bg-light">
			<div class="modal-body card-body">
				<div class="container">
					<div class="row mb-2">
						<div class="col-md-12 px-4">
							<div class="d-flex flex-column">
								<!--                                <div class="icon-container mb-3">-->
								<!--                                    <i class="fa-solid fa-triangle-exclamation dangericon"></i>-->
								<!--                                </div>-->
								<div class="mt-3">
									<span>
										<strong class="thatDevice">
											<img src="../../uniprep-assets/images/desktop-computer.svg"
												class="img-fluid" />
										</strong>
										<strong class="thatDevice text-center">
											<h4>
												To enhance your user experience <br />we recommend using<br />
												desktops or laptops.
											</h4>
										</strong>
										<!-- <strong class="thatDevice text-center">
											<h2>Go Desktop or Laptop</h2>
										</strong> -->
									</span>
								</div>
								<div class="mt-3">
									<span style="text-align: center">
										<!-- <p>Please note the Q&A, scholarship,investor,company lists, and startup kit
											documents on mobile devices may not be as optimal as the desktop view</p> -->
									</span>
								</div>
								<div class="icon-container mt-3 text-center">
									<button pButton
										class="btn btn-secondary btncontinue btn-rounded me-2 ms-0 my-0 text-center"
										(click)="moveToDesktop()" alt="reports">
										<span class="text-medium fw-normal px-4">
											Continue Anyway
											<span class="btnarrowspan"><i class="pi pi-arrow-right"></i></span></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div [ngStyle]="{ display: isLoggedInAnotherDevice }" class="modal modal-bg multiDeviceLogoutPopup" role="dialog"
	tabindex="-1">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content card bg-light">
			<div class="modal-body card-body">
				<div class="container">
					<div class="row mb-2">
						<div class="col-md-12 px-4 text-center">
							<i class="fa-solid fa-triangle-exclamation dangericon mb-2"></i>
							<h4 class="text-center">You have logged into the portal<br />from another device</h4>
							<h6 class="text-center">You will be automatically logged out from this device</h6>
							<p class="notesize">Note: Please log back in from this device to use the portal again.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- module how it works vedio pop up -->
<p-dialog [(visible)]="howItWorksVideoModal" [modal]="true" [draggable]="false" [resizable]="false"  header="Video" class="video-dialog">
	<div class="video-wrapper">
		<div class="video-container">
			<iframe #videoFrame *ngIf="howItWorksVideoLink" [src]="howItWorksVideoLink"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen> </iframe>
		</div>
	</div>
	<ng-template pTemplate="footer">
		<div class="flex justify-content-end gap-2">
			<button pButton pButton (click)="closeVideoPopup()" label="Close" class="p-button-text"></button>
			<button pButton pButton *ngIf="isYoutubeVideoLink(howItWorksVideoLink?.toString() || '')"
				(click)="openVideoInYoutube()" label="Open in YouTube" class="p-button-text"></button>
		</div>
	</ng-template>
</p-dialog>
<!-- <div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': howItWorksVideoModal }">
	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body position-relative pt-4">
				<div class="modalbuttons">
					<div class="d-flex gap-2">
						<button pButton  title="New Window" type="button" class="btn btn-primary btn-rounded" (click)="openVideoInYoutube()"><i class="fa-solid fa-arrow-up-right-from-square"></i></button>
						<button pButton  type="button" title="Close Popupssss" class="btn btn-primary btn-rounded" (click)="closeVideoPopup()"><i class="fa-solid fa-xmark"></i></button>
					</div>
				</div>
				<div class="embed-responsive" *ngIf="howItWorksVideoLink"><iframe #videoFrame [src]="howItWorksVideoLink" width="100%"
                                                      frameborder="0" allowfullscreen></iframe></div>
			</div>
		</div>
	</div>
</div> -->
<!-- <div class="floating-buttons">
	<div class="floating-btn ai" (mouseenter)="hovered = 'ai'" (mouseleave)="hovered = null"
		routerLink="/pages/advisor">
		<div class="btn-content" [class.expanded]="hovered === 'ai'">
			<i class="fa-regular fa-microchip-ai icon"> </i> &nbsp;
			<span *ngIf="hovered === 'ai'" class="label"> AI Advisor </span>
		</div>
	</div>
</div> -->
<!-- <div class="floating-buttons1">
	<div class="floating-btn1 whatsapp" (mouseenter)="hovered1 = 'wa'" (mouseleave)="hovered1 = null">
		<div class="btn-content1" [class.expanded1]="hovered1 === 'wa'">
			<i class="fa-brands fa-whatsapp icon1"> </i> &nbsp;
			<span *ngIf="hovered1 === 'wa'" class="label1"> 24/7 Support </span>
		</div>
	</div>
</div> -->
