// @import "../../uniprep-assets/breakpoints";

section {
  position: relative;
  display: flex;
  width: 100%;
  height: 100dvh;

  /* Ensure the #page element fills the entire viewport */
  #page {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
  }

  /* Ensure the header and footer stay fixed */
  uni-header,
  footer {
    flex: 0 0 auto;
  }

  uni-list-sub-modules {
    flex: 1;
    overflow: hidden;
    /* Hide overflowing content initially */
  }

  /* Adjust the #page-container to take remaining space */
  #page-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    /* Ensure content can shrink */
    overflow-y: auto;
    /* Allow scrolling within #page-container */
    background: var(--p-neutral-100);
    border-radius: 20px;
    padding: 1rem;
  }

  #sidenav {
    transition: transform 0.05s ease-in-out;
    position: relative;
    transition: width 150ms ease-in-out;
    flex: 1 1 auto !important;
    overflow-y: unset;
    width: 15%;
    scrollbar-width: thin !important;
    scrollbar-gutter: stable !important;
    height: 100vh !important;
  }
}

.uppercase {
  text-transform: uppercase;
}

.unsidebarClass {
  cursor: no-drop;
  pointer-events: none;
  opacity: 0.5;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  /* Adjust the height as needed */
}

.thatDevice {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thisDevice {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #858585;
  font-weight: 400;
}

.dangericon {
  font-size: 6em;
  /* Adjust the font-size to make the icon bigger */
  color: rgb(250, 7, 7);
  /* Set the color to black */
}

.multiDeviceLogoutPopup {
  background: #00000080;
}

.notesize {
  font-size: 0.7rem;
}

.subscriptionExhausted {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
}

.text-right-close {
  text-align: right;
  margin: 10px;
}

.btncontinue {
  background: #f89634;
  padding: 5px 5px 5px 0px;

  .btnarrowspan {
    float: right;
    background: #d57e26;
    border-radius: 100px !important;
    padding: 2px 8px 6px 9px;
  }
}

.modal {
  z-index: 9999;

  .modalbuttons {
    position: absolute;
    top: -1rem;
    right: -1rem;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#page-container {
  position: relative;
}

:host ::ng-deep .video-dialog {
  .p-dialog {
    width: 59vw !important;
    max-width: 100vw !important;
    height: auto !important;
    max-height: 90vh !important;
  }

  .p-dialog-content {
    overflow: hidden !important;
    padding: 0 !important;
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    height: 0;
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .p-dialog-footer {
    padding: 1rem;
    border-top: 1px solid var(--surface-border);
  }
}

// whatsapp and ai button
.floating-buttons {
  position: fixed;
  right: 0;
  bottom: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}
.floating-buttons1 {
  position: fixed;
  right: 0;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}
.floating-btn {
  cursor: pointer;

  .btn-content {
    background-color: #25d366;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;

    .icon {
      font-size: 18px;
      margin-right: 0px;
    }

    .label {
      font-weight: bold;
    }

    &.expanded {
      width: 140px;
      justify-content: flex-start;
    }
  }

  &.ai .btn-content {
    background-color: #004fc4;
  }

  .btn-content:not(.expanded) {
    width: 50px;
    justify-content: center;
  }
}
.floating-btn1 {
  cursor: pointer;

  .btn-content1 {
    background-color: #25d366;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;

    .icon1 {
      font-size: 18px;
      margin-right: 0px;
    }

    .label1 {
      font-weight: bold;
    }

    &.expanded1 {
      width: 140px;
      justify-content: flex-start;
    }
  }

  &.whatsapp .btn-content1 {
    background-color: #25d366;
  }

  .btn-content1:not(.expanded1) {
    width: 50px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #page-container {
    border-radius: 0px !important;
  }
}
