@import "../../uniprep-assets/breakpoints";

section {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
/* Ensure the #page element fills the entire viewport */
#page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%;
  overflow: hidden;
}

/* Ensure the header and footer stay fixed */
uni-header, footer {
  flex: 0 0 auto;
}

uni-list-sub-modules {
	flex: 1;
	overflow: hidden; /* Hide overflowing content initially */
  }

/* Adjust the #page-container to take remaining space */
#page-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0; /* Ensure content can shrink */
  overflow-y: auto; /* Allow scrolling within #page-container */
  background: #efefef;
  border-radius: 20px;
  padding:1rem;

}

  #sidenav {
    transition: transform 0.05s ease-in-out;
    position: relative;
    transition: width 150ms ease-in-out;
    width: 270px;
    flex: 1 1 auto !important;
    overflow-y: auto;
    img {
      height: 70px;
      margin-top: 10px;
      margin:auto;
    }

    @include md {
      position: fixed;
      top: 0;
      bottom: 0;
      transform: translateX(-220px);
    }

    &.active {
      @include md {
        z-index: 2000;
        background-color: white;
        position: fixed;
        top: 10px;
        bottom: 10px;
        left: 18px;
        width: 250px;
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        transform: translateX(0);
        border-radius: 10px;
      }
    }
  }
}

.footer-section{
   position: fixed;
     bottom: 40px;
     color: white;
     width: 100%;
     text-align: center;
    background-color: #efefef;
}

.uppercase{
  text-transform: uppercase;
}