.countrydropdown {
	.countryicon {
		width: 18px;
		height: 18px;
	}
	.countrytext {
		font-size: 12px;
	}
}
:host ::ng-deep p-select
{
	width:100%;
}
::ng-deep .p-select .p-select-label
{
	padding:0.5rem;
	text-align: start;
}
::ng-deep .p-select .p-select-item
{
	text-align: start;
}
.quizbtn {
	font-size: 12px;
	width: 100%;
	border-radius: 100px;
	padding: 0;
	background: var(--primary-500);
	color: white;
	border: none;
	box-shadow: none;
    flex-basis: max-content;
    text-wrap: nowrap;
    padding: 0 10px;
}

.responsiveconatainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	padding: 20px;
}
.responsiveconatainer1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	padding: 20px;
}
// .responsivecard {
// 	flex: 1 1 calc(20% - 1rem); /* Adjust this to fit five cards per row */
// 	box-sizing: border-box;
// 	max-width: calc(20% - 1rem); /* Adjust this to fit five cards per row */
// 	background-color: #fff !important;
// 	border: 3px solid #dfe4f8 !important;
// 	padding: 0;
// }

// .responsivecard img {
// 	max-width: 100%;
// 	height: auto;
// }

.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 10px;
}

.card-content p-select,
.card-content button {
	width: 100%;
}

// @media (max-width: 1200px) {
// 	.responsivecard {
// 		flex: 1 1 calc(25% - 1rem); /* Adjust this to fit four cards per row */
// 		max-width: calc(25% - 1rem); /* Adjust this to fit four cards per row */
// 	}
// }

// @media (max-width: 992px) {
// 	.responsivecard {
// 		flex: 1 1 calc(33.33% - 1rem); /* Adjust this to fit three cards per row */
// 		max-width: calc(33.33% - 1rem); /* Adjust this to fit three cards per row */
// 	}
// }

// @media (max-width: 768px) {
// 	.responsivecard {
// 		flex: 1 1 calc(50% - 1rem); /* Adjust this to fit two cards per row */
// 		max-width: calc(50% - 1rem); /* Adjust this to fit two cards per row */
// 	}
// }

// @media (max-width: 576px) {
// 	.responsivecard {
// 		flex: 1 1 100%; /* Single column on small screens */
// 		max-width: 100%; /* Single column on small screens */
// 	}
// }
.retry-button{
	background-color: red;
	color: #fff;
}


@media (max-width: 576px) {
	.subjectcard .btn {
	  font-size: 0.9rem; /* Slightly smaller text on very small screens */
	  padding: 8px 10px; /* Adjust padding for a more compact look */
	}
  }