.bg-body {
  border: solid 1px #9bc329;
  cursor: pointer;

  i {
    color: white;
    background-image: linear-gradient(to bottom, #9bc329 36%, #4e6215 197%);
    padding: 10px;
    border-radius: 50%;
  }

  &:hover {
    background-color: #9bc329 !important;
    color: #ffffff !important;

    i {
      background-image: linear-gradient(to bottom, #fff 36%, #4e6215 197%);
      color: #9bc329;
    }
  }
}

.cdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}