@import "../../../assets/buttons";
.bg-image {
  background-image: url("../../../assets/images/verify.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  form {
    background-color: white;
    width: 380px;
    border-radius: 1rem;
    margin-left: 60px;
    padding: 2rem;
  }
  .formdiv {
    height: 100vh;
    width: 100vh;
    padding-top: 8rem;
  }
}

form {
    input{
        display:inline-block;
        width:40px;
        height:40px;
        text-align:center;
        margin-right: 10px;
        color: #9bc329;
      }
  label {
    font-size: 0.8rem;
    color: black;
  }

  :focus {
    border-color: #9bc329 !important;
    // background-color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  }
  .signup {
    font-size: small;
    color: black;
  }
}
.input-group-text {
  background: white !important;
  border-right: 1px solid #9bc329 !important;
  i {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.378);
  }
}
.footer-part {
  text-align-last: center;
  margin-top: 3rem;
  span{
    background-color: #9bc329;
    padding: 1px 2px 3px 6px;
    border-radius: 50%;
    color: white;
  }
  i{
    font-size: 0.5rem;
    font-weight: 900;
    vertical-align: middle;
    margin-right: 4px;
  }
}
.resend_label{
    margin-left: 50px;
    margin-top: 10px;
}
a {
    text-decoration: none;
    cursor: pointer;
  }