.selected-category {
    color:#f0780e;
    cursor: pointer;
  }
  
  .card1 {
    border-radius: 10px 10px 0px 0px !important;
    // text-transform: inherit !important;
    background-color: var(--p-neutral-50);
    border: 1px solid var(--p-primary-100);
    border-bottom: none !important;
  }
  
  .p-input-icon-left {
    width: 85% !important;
  }
  
  .card {
    border-top: none !important;
  }
  .centerDiv{
    position: absolute;
    top: 45%;
  }
  .highlight {
    background-color: #fffa94;
    font-weight: bold;
  }