<div [class]="'card card-body'">
    <h3 class="sop-border sop-header text-uppercase">subscriptions</h3>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="card h-full card-body">
            <table class="w-full">
                <tr>
                    <td>
                        <h5 class="m-0">{{!subscriptions?.name ? 'Free' : subscriptions?.name}}</h5>
                    </td>
                    <!-- <td class="text-end fw-semibold"><span class="text-danger">{{subscriptions?.checksLeft}}</span>
                        CHECKS PENDING</td> -->
                </tr>
                <tr>
                    <td><span class="font-primarycolor h3 fw-semibold">{{subscriptions?.checks}}YOUR BENEFITS</span>
                    </td>
                    <td class="text-end">
                        <button class="btn btn-primary mx-0 my-0" (click)="upgrade.emit()">UPGRADE PLAN</button>
                    </td>
                </tr>
            </table>
            <hr>
            <div class="d-flex">
                <div class="scardFeatures flex-grow-1">
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>3 Question credits </span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>30,000+ Questions</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>Queries answered by Destination Experts</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>360° questions</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>Keyword global search</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>Get reference links</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>Evaluate your knowledge through a quiz.</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>Get a certificate accredited by foreign universities</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100 card-body">
            <h5>Billing Information</h5>
            <br />
            <table class="w-full">
                <tr>
                    <td class="fw-medium w-25 py-1">Full Name</td>
                    <td style="width: 20px">-</td>
                    <td>{{billing?.name}}</td>
                </tr>
                <tr>
                    <td class="fw-medium w-25 py-1">Mobile Number</td>
                    <td style="width: 20px">-</td>
                    <td>{{billing?.phone}}</td>
                </tr>
                <tr>
                    <td class="fw-medium w-25 py-1">Email</td>
                    <td style="width: 20px">-</td>
                    <td>{{billing?.email}}</td>
                </tr>
<!--                        <tr>-->
<!--                            <td class="fw-medium w-25 py-1">Country</td>-->
<!--                            <td style="width: 20px">-</td>-->
<!--                            <td>{{billing?.countryName}}</td>-->
<!--                        </tr>-->
                <tr>
                    <td class="fw-medium w-25 py-1">State</td>
                    <td style="width: 20px">-</td>
                    <td>{{billing?.state}}</td>
                </tr>
                <tr>
                    <td class="fw-medium w-25 py-1">District</td>
                    <td style="width: 20px">-</td>
                    <td>{{billing?.district}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <div class="card card-body mb-5">
            <h5>Check billing history</h5>
            <p-table [value]="history">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Product</th>
                        <th>Reference</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Download</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.subscriptionsName }}</td>
                        <td>{{ product.refrence }}</td>
                        <td>{{ product.date }}</td>
                        <td>INR {{ product.amount }}</td>
                        <td><span class="font-primarycolor"><i class="pi pi-check"></i></span></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>