.sop-border:after {
  width: 150px !important;
}
.scardFeatures {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &.center {
    justify-content: center;
  }
  .scardFeature {
    display: flex;
    gap: 5px;
    .pi {
      background: #9BC329;
      color: white;
      text-align: center;
      line-height: 22px;
      width: 22px !important;height: 22px !important;
      font-size: 10px;
      border-radius: 50%;
    }
  }
}
.card-footer {
  background: white;
}
.input-group {
  border: 1px solid #9BC329;
  border-radius: 3px;
  input {
    outline: none !important;
    box-shadow: none !important;
  }
  flex-wrap: nowrap;
  .input-group-text {
    background: #9BC329;
    color: white;
    cursor: pointer;
  }
}
.download {
  background: #9BC329;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  &:active, &:focus {
    opacity: .7;
  }
}