<div [class]="'card card-body'">
    <div class=" d-flex justify-content-between">
        <div>
            <span class="sop-border sop-header">Ready To Get Started?</span>
            <span>Choose a plan tailored to your needs</span>
        </div>
        <div>
            <button (click)="buttonclicked1()" class="buttonactive btn btn-primary" [class.active]="selectedButton === 'button1'" (click)="selectedButton = 'button1'" >BASE SUBSCRIPTION</button>
            <button  (click)="buttonclicked2()"class="buttonactive btn btn-primary" [class.active]="selectedButton ==='button2'" (click)="selectedButton = 'button2'" >TOP UP COUNTRIES</button>
            <button (click)="buttonclicked3()" class="buttonactive btn btn-primary" [class.active]="selectedButton === 'button3'" (click)="selectedButton = 'button3'" >TOP UP VALIDITY</button>
        </div>
    </div>
</div>
<br />

<!-- <div class="row">
    <div class="col-md-6">
        <div class="card h-full card-body">
            <table class="w-full">
                <tr>
                    <td>
                        <h5 class="m-0">{{!subscriptions?.name ? 'Free' : subscriptions?.name}}</h5>
                    </td> -->
                    <!-- <td class="text-end fw-semibold"><span class="text-danger">{{subscriptions?.checksLeft}}</span>
                        CHECKS PENDING</td> -->
                <!-- </tr>
                <tr>
                    <td><span class="font-primarycolor h3 fw-semibold">{{subscriptions?.checks}}YOUR BENEFITS</span>
                    </td>
                    <td class="text-end">
                        <button class="btn btn-primary mx-0 my-0" (click)="upgrade.emit()">UPGRADE PLAN</button>
                    </td>
                </tr>
            </table>
            <hr> -->
            <!-- <div class="d-flex">
                <div class="scardFeatures flex-grow-1">
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>3 Question credits </span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>30,000+ Questions</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>Queries answered by Destination Experts</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>360° questions</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>Keyword global search</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>Get reference links</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>Evaluate your knowledge through a quiz.</span>
                    </div>
                    <div class="scardFeature">
                        <i class="pi pi-check"></i><span>Get a certificate accredited by foreign universities</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100 card-body">
            <h5>Billing Information</h5>
            <br />
            <table class="w-full">
                <tr>
                    <td class="fw-medium w-25 py-1">Full Name</td>
                    <td style="width: 20px">-</td>
                    <td>{{billing?.name}}</td>
                </tr>
                <tr>
                    <td class="fw-medium w-25 py-1">Mobile Number</td>
                    <td style="width: 20px">-</td>
                    <td>{{billing?.phone}}</td>
                </tr>
                <tr>
                    <td class="fw-medium w-25 py-1">Email</td>
                    <td style="width: 20px">-</td>
                    <td>{{billing?.email}}</td> -->
                <!-- </tr> -->
                <!--                        <tr>-->
                <!--                            <td class="fw-medium w-25 py-1">Country</td>-->
                <!--                            <td style="width: 20px">-</td>-->
                <!--                            <td>{{billing?.countryName}}</td>-->
                <!--                        </tr>-->
                <!-- <tr>
                    <td class="fw-medium w-25 py-1">State</td>
                    <td style="width: 20px">-</td>
                    <td>{{billing?.state}}</td>
                </tr>
                <tr>
                    <td class="fw-medium w-25 py-1">District</td>
                    <td style="width: 20px">-</td>
                    <td>{{billing?.district}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <div class="card card-body mb-5">
            <h5>Check billing history</h5>
            <p-table [value]="history">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Product</th>
                        <th>Reference</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Download</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.subscriptionsName }}</td>
                        <td>{{ product.refrence }}</td>
                        <td>{{ product.date }}</td>
                        <td>INR {{ product.amount }}</td>
                        <td><span class="font-primarycolor"><i class="pi pi-check"></i></span></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div> -->
<div class="card d-flex" >

    <div class="card" style="height: 600px !important;" >
        <div class="row" *ngIf="basesubscription">
            <div class="col-4">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row gap-5 mt-4 d-flex" style="height: 420px !important;">
                            <div class="card subscriptioncard1 col px-0"  >
                                <!-- <div class="mostpopular">Most Popular Plan</div> -->
                                <div class="card-header p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h3 class="fw-bold mb-0">Basic<br>Plan</h3>
                                        <div class="text-end">
                                            <h4 class="mb-0"><s>INR 1000</s></h4>
                                            <div class="btn discountbutton">Save 20
                                                %</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-4">
                                    <h5 style="font-size: 18px; text-align: center;">Select Your Base Country</h5>
                                    <span class="p-float-label">
                                        <p-multiSelect [options]="countryList" styleClass="w-100 custom-multiselect" optionValue="id"
                                                       [(ngModel)]="selectedCountry"
                                                       optionLabel="country"></p-multiSelect>
                                    </span>
                                </div>
                                <div class="card-footer  p-4" style="text-align: center;">
                                    <h2 class="font-primarycolor fw-bold">INR 1000</h2>
                                    <p class="fw-semibold">01 Month Validity</p>
                                    <div class="getstartedbtn">
                                        <button class="btn btn-primary">Get Started</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row gap-5 mt-5 d-flex">
                            <div class="card subscriptioncard col px-0"  >
                                <div class="mostpopular">Most Popular Plan</div>
                                <div class="card-header p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h3 class="fw-bold mb-0">Standard<br>Plan</h3>
                                        <div class="text-end">
                                            <h4 class="mb-0"><s>INR 1000</s></h4>
                                            <div class="btn discountbutton">Save 30
                                                %</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-4">
                                    <h5 style="font-size: 18px; text-align: center;">Select Your Base Country</h5>
                                    <span class="p-float-label">
                                        <p-multiSelect [options]="countryList" styleClass="w-100 custom-multiselect" optionValue="id"
                                                       [(ngModel)]="selectedCountry"
                                                       optionLabel="country"></p-multiSelect>
                                    </span>
                                </div>
                                <div class="card-footer  p-4" style="text-align: center;">
                                    <h2 class="font-primarycolor fw-bold" >INR 1000</h2>
                                    <p class="fw-semibold">03 Month Validity</p>
                                    <div class="getstartedbtn">
                                        <button class="btn btn-primary">Get Started</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row gap-5 mt-4 d-flex" style="height: 420px !important;">
                            <div class="card subscriptioncard1 col px-0"  >
                                <!-- <div class="mostpopular">Most Popular Plan</div> -->
                                <div class="card-header p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h3 class="fw-bold mb-0">Premium<br>Plan</h3>
                                        <div class="text-end" >
                                            <h4 class="mb-0"><s>INR 1000</s></h4>
                                            <div class="btn discountbutton">Save 40
                                                %</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-4 ">
                                    <h5 style="font-size: 18px; text-align: center;">Select Your Base Country</h5>
                                    <span class="p-float-label">
                                        <p-multiSelect [options]="countryList" optionValue="id"
                                                       [(ngModel)]="selectedCountry" styleClass="w-100 custom-multiselect"
                                                       optionLabel="country"></p-multiSelect>
                                    </span>
                                </div>
                                <div class="card-footer  p-4" style="text-align: center;">
                                    <h2 class="font-primarycolor fw-bold">INR 1000</h2>
                                    <p class="fw-semibold">06 Month Validity</p>
                                    <div class="getstartedbtn">
                                        <button class="btn btn-primary">Get Started</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <!-- Top-up-countries -->
        <div class="row" *ngIf="topupcountries">
            <div class="col-4"></div>
            <div class="col-4" style="text-align: center;">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row gap-5 mt-4 d-flex" style="height: 388px !important;">
                            <div class="card  col px-0"  >
                                <!-- <div class="mostpopular">Most Popular Plan</div> -->
                                <div class="card-header p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4  class="fw-bold mb-0">Top Up <br>Country</h4>
                                        <div class="text-end">
                                            <h4 class="mb-0"><s>INR 1000</s></h4>
                                            <div class="btn discountbutton">Save 20
                                                %</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-4">
                                    <h5 style="font-size: 18px; text-align: center;">Select Your Add On Countries</h5>
                                    <span class="p-float-label">
                                        <p-multiSelect  [options]="countryList" styleClass="w-100" optionValue="id"
                                                       [(ngModel)]="selectedCountry"
                                                       optionLabel="country"></p-multiSelect>
                                    </span>
                                </div>
                                <div class="card-footer  p-4" style="text-align: center;">
                                    <h3 class="font-primarycolor fw-bold">INR 699.00/Country</h3>
                                    <p class="fw-semibold">01 Month Validity</p>
                                    <div class="">
                                        <button style="width: -webkit-fill-available;" class="btn btn-primary"><span style="color: #fff !important;" class="ps-5 pe-5">Add Countries</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
<!-- top up validity -->
<div class="row p-3" *ngIf="topupvalidity">
    <div class=" d-flex justify-content-between">
        <div class="mt-2">
            <label for="" style="white-space: nowrap;">Select Country for Validity</label>
        </div>
        <div class="ms-2"  style="width: -webkit-fill-available;">
            <span class="p-float-label">
                <p-multiSelect [options]="countryList" optionValue="id" placeholder="Select a country"
                               [(ngModel)]="selectedCountry" styleClass="w-100 custom-multiselect"
                               optionLabel="country"></p-multiSelect>
            </span>
        </div>

    </div>
</div>
        <div class="cardcontainer" *ngIf="topupvalidity" >
            <div class="card-body sameline">
                <div class="container-fluid">
                    <div class="row gap-5 mt-4 d-flex">
                        <div class="card  col px-0">
                            <!-- <div class="mostpopular">Most Popular Plan</div> -->
                            <div class="card-header p-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6  class="fw-bold mb-0">1 Month  <br>Validity</h6>
                                    <div class="text-end">
                                        <span class="mb-0"><s>INR 1000</s></span>
                                        <div class="btn discountbutton">Save 20
                                            %</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-5" style="text-align: center;">
                                <h4 class="font-primarycolor fw-bold">INR 699.00</h4>
                                <div class="">
                                    <button style="width: -webkit-fill-available;" class="btn btn-primary"><span style="color: #fff !important;" class="ps-5 pe-5">Top Up</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      
                <div class="card-body sameline">
                    <div class="container-fluid">
                        <div class="row gap-5 mt-4 d-flex">
                            <div class="card  col px-0"  >
                                <!-- <div class="mostpopular">Most Popular Plan</div> -->
                                <div class="card-header p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6  class="fw-bold mb-0">1 Month  <br>Validity</h6>
                                        <div class="text-end">
                                            <span class="mb-0"><s>INR 1000</s></span>
                                            <div class="btn discountbutton">Save 20
                                                %</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer  p-4 pt-5" style="text-align: center;">
                                    <h4 class="font-primarycolor fw-bold">INR 699.00</h4>
                                    <div class="">
                                        <button style="width: -webkit-fill-available;" class="btn btn-primary"><span style="color: #fff !important;" class="ps-5 pe-5">Top Up</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        
                <div class="card-body sameline">
                    <div class="container-fluid">
                        <div class="row gap-5 mt-4 d-flex">
                            <div class="card  col px-0"  >
                                <!-- <div class="mostpopular">Most Popular Plan</div> -->
                                <div class="card-header p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6  class="fw-bold mb-0">1 Month  <br>Validity</h6>
                                        <div class="text-end">
                                            <span class="mb-0"><s>INR 1000</s></span>
                                            <div class="btn discountbutton">Save 20
                                                %</div>
                                        </div>
                                    </div>
                                </div>
                         
                                <div class="card-footer  p-4 pt-5" style="text-align: center;">
                                    <h4 class="font-primarycolor fw-bold">INR 699.00</h4>
                                    <div class="">
                                        <button style="width: -webkit-fill-available;" class="btn btn-primary"><span style="color: #fff !important;" class="ps-5 pe-5">Top Up</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                <div class="card-body sameline">
                    <div class="container-fluid">
                        <div class="row gap-5 mt-4 d-flex">
                            <div class="card  col px-0"  >
                                <!-- <div class="mostpopular">Most Popular Plan</div> -->
                                <div class="card-header p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6  class="fw-bold mb-0">1 Month  <br>Validity</h6>
                                        <div class="text-end">
                                            <span class="mb-0"><s>INR 1000</s></span>
                                            <div class="btn discountbutton">Save 20
                                                %</div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="card-footer  p-4 pt-5" style="text-align: center;">
                                    <h4 class="font-primarycolor fw-bold">INR 699.00</h4>
                                    <div class="">
                                        <button style="width: -webkit-fill-available;" class="btn btn-primary"><span style="color: #fff !important;" class="ps-5 pe-5">Top Up</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                <div class="card-body sameline">
                    <div class="container-fluid">
                        <div class="row gap-5 mt-4 d-flex">
                            <div class="card  col px-0"  >
                                <!-- <div class="mostpopular">Most Popular Plan</div> -->
                                <div class="card-header p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6  class="fw-bold mb-0">1 Month  <br>Validity</h6>
                                        <div class="text-end">
                                            <span class="mb-0"><s>INR 1000</s></span>
                                            <div class="btn discountbutton">Save 20
                                                %</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer  p-4 pt-5" style="text-align: center;">
                                    <h4 class="font-primarycolor fw-bold">INR 699.00</h4>
                                    <div class="">
                                        <button style="width: -webkit-fill-available;" class="btn btn-primary"><span style="color: #fff !important;" class="ps-5 pe-5">Top Up</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>

    <!-- last know more about section -->
    <div class="row">
        <div class="col-8">
            <div [class]="'card card-body mt-3'">
                <div class=" d-flex justify-content-between">
                    <div class="mt-1">
                        <span style="font-size: 20px !important;" class="sop-header">Checkout What You Get With Our Subscriptions</span>
                    </div>
                    <div>
                        <button (click)="moreabout()" style="color: #fff !important;" class="btn btn-primary "><span class="ps-3 pe-3"> Know More About Our Features</span></button>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="col-4">
            <div [class]="'card card-body mt-3'">
                <div class=" d-flex justify-content-between">
                    <div>
                        <span style="font-size: 13px !important;" class="sop-header"><b>Total</b></span> <br>
                        <span style="font-size: 15px !important; color: #9BC329 !important;" class="sop-header"><b> INR 1999.00</b></span>
                    </div>
                    <div>
                        <button style="color: #fff !important;" class="btn btn-primary "><span class=" ps-3 pe-3">Checkout</span> </button>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

    <!-- modeal -->
    
    <p-dialog class="retrypopup" [modal]="true" [closable]="false" header="Header" footer="Footer"
          [(visible)]="isInstructionVisible" [style]="{ width: '27vw'}"
          [breakpoints]="{ '960px': '75vw' }" [draggable]="false" [resizable]="false">
     
    <ng-template pTemplate="header"  style="overflow: hidden;">
    </ng-template> 
    <span style="float: right;"><i (click)="closeAllHome()" class="fa-solid fa-circle-xmark fa-2x custom-icon"></i></span>
    <div style="margin: 10px 10px 10px 10px;">
        <div class="card text-center mt-1 " style="background-color: #FBFBFB; padding: 10px;">
            <h3 style="font-size: 18px;" class="p-2">What You Get With The Subscription</h3>
        </div>
    </div>

    <div class="container-fluid bg-white">
        <div class="row">
            <div class="col-md-12">
                <div class="font-secondarycolor fw-medium lh-lg">
                    <p><span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Discover Unexplored Questions.</p>
                    <p><span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Earn A Certificate By Taking Quizzes</p>
                    <p><span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Share Your Certificates On Linkedin</p>
                    <p><span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Navigate Using Keyword Search</p>
                    <p><span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Get Expert Answers To Your Queries</p>
                    <p><span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Find Answers To Your Question With Verified Source Links</p>
                    <p><span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Find Over 1 Lakh Questions And Answers Throughout Platform</p>
                    <p><span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Ask Any Personalized Questions & Get Answer Within 12 Working Hours</p>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
  