<!--<div class="card readingcard">-->
<!--    <div class="card-body pt-0">-->
<!--        <div class="card-header p-0 bg-transparent border-0" >-->
<!--            <div class="row justify-content-center align-items-center">-->
<!--                <div class="col-md-3 text-start">-->
<!--                    <div class="backIcon">-->
<!--                        <span class="pi pi-angle-left" (click)="goBack()"></span>-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="col-md-6 text-center">-->
<!--                    <div class="select-title text-nowrap d-flex justify-content-between align-items-center">-->
<!--                        <div>-->
<!--                            <h5 class="w-100 mb-0" tooltipPosition="top" pTooltip="Global Salary converter">Salary Converter<i class="questiontooltip fa-solid fa-circle-question"></i></h5>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <button class="how-it-works-button">&nbsp;How it works? &nbsp;&nbsp;<i-->
<!--                                    class="fa-solid fa-play"></i></button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3 text-end"></div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row w-100 h-100 m-0 justify-content-center align-items-center">
            <div class="col-6">
                <h3 style="color:var(--uniprep-primary);" class="text-center">Compare your earnings across different
                    countries with professional tax rates.</h3>
                <div class="dropdown-container">
                    <div class="form-group">
                        <div class="mb-3">
                            <p-dropdown id="fromCountry" styleClass="w-100" style="width: 100% !important;"
                                        [(ngModel)]="fromCountry" [options]="countries" [filter]="true"
                                        filterBy="countryName"
                                        [showClear]="true" optionLabel="countryName"
                                        (onChange)="onCountryChange($event)"
                                        placeholder="Source Country">
                                <ng-template pTemplate="selectedItem">
                                    <div class="flex align-items-center gap-2" *ngIf="fromCountry">
                                        <img [src]="fromCountry.flag" [class]="'flag flag-' + fromCountry.code"
                                             style="width: 18px"/>
                                        <div>{{ fromCountry.countryName }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-country pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <img [src]="country.flag" [class]="'flag flag-' + country.code"
                                             style="width: 18px"/>
                                        <div>{{ country.countryName }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="mb-3">
                            <p-inputNumber id="salary" styleClass="w-100" style="width: 100% !important;"
                                           [(ngModel)]="salary"
                                           prefix="{{selectedCurrencyCode}}&nbsp;"
                                           placeholder="Amount in source country's local currency"
                                           class="custom-input-number full-width-input"></p-inputNumber>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="mb-3">
                            <!-- <p-dropdown id="toCountry" styleClass="w-100" [(ngModel)]="toCountry" [options]="countries"
                                optionLabel="countryName" [filter]="true" filterBy="countryName" [showClear]="true"
                                (onChange)="onCountryToChange($event)" placeholder="Target Country"></p-dropdown> -->
                            <p-dropdown id="toCountry" styleClass="w-100" style="width: 100% !important;"
                                        [(ngModel)]="toCountry" [options]="countries" [filter]="true"
                                        filterBy="countryName"
                                        [showClear]="true" optionLabel="countryName"
                                        (onChange)="onCountryToChange($event)"
                                        placeholder="Target Country">
                                <ng-template pTemplate="selectedItem">
                                    <div class="flex align-items-center gap-2" *ngIf="toCountry">
                                        <img [src]="toCountry.flag" [class]="'flag flag-' + toCountry.code"
                                             style="width: 18px"/>
                                        <div>{{ toCountry.countryName }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-country pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <img [src]="country.flag" [class]="'flag flag-' + country.code"
                                             style="width: 18px"/>
                                        <div>{{ country.countryName }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>


                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <button pButton type="button"
                                class="small-button text-white p-ripple p-button-rounded p-button-primary p-button p-component p-2"
                                (click)="convert()">Compare <i class="fa fa-refresh exhausted-plan-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-2" *ngIf="isPPPCardVisible">
                <div class="row">
                    <div class="col-3 ">
                        <div class="card responsivecard p-2 text-center h-100">
                            <div class="card-body">
                                <div class="card-content">
                                    <h4>{{ selectedCountryName }}</h4>
                                    <div class="row" style="width: -webkit-fill-available !important;">
                                        <table class="custom-table">
                                            <thead>
                                            <tr>
                                                <th>Income</th>
                                                <th>Tax Rate</th>
                                                <th>Tax Type
                                                    <div class="round-info-icon" pTooltip="In a non-cumulative tax system, each portion of income is taxed independently at the rate applicable to that specific portion without progressive accumulation.
    
    In a cumulative tax system, the taxpayer's income is divided into brackets, and each portion of income is taxed at the rate applicable to that bracket. The total tax liability is the sum of the taxes calculated for each bracket."
                                                         tooltipPosition="top">
                                                        <i class="fa-regular fa-info"></i>
                                                    </div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let item of fromValue">
                                                <td style="padding:2px !important; font-size:.9rem !important">{{ item.income }}</td>
                                                <td  style="padding:2px !important; font-size:.9rem !important">{{ item.tax }}</td>
                                                <td  style="padding:2px !important; font-size:.9rem !important">{{ item.type }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card new-color w-100 h-100" style="position: relative; ">
                            <!--                            <button type="button" class="btn-close text-white" aria-label="Close"-->
                            <!--                                    style="color:white !important; position: absolute; top: 10px; right: 10px;"-->
                            <!--                                    (click)="closeCard()"></button>-->
                            <div class="card-body pt-0 h-50">
                                <div class="row justify-content-center px-4 py-4  h-100">
                                    <div class="col-md-12 text-center d-flex flex-column align-items-center justify-content-between">
                                        <h2 class="mt-4 fw-bold">According to PPP</h2>
                                        <h4 style="font-weight: unset !important; font-size: 1rem !important;" class="mt-4"
                                            [innerHTML]="statementText">
                                        </h4>
                                        <div>
                                            <h6 class="text-center mt-4" style="color: #f0780c"><strong>Note</strong></h6>
                                            <h6 style="font-weight: unset !important; font-size: .9rem !important;" class="mt-2"
                                                [innerHTML]="inHomeCurrency">
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card responsivecard p-2 text-center h-100">
                            <div class="card-body">
                                <div class="card-content">
                                    <h4>{{ selectedToCountryName }}</h4>
                                    <div class="row" style="width: -webkit-fill-available !important;">
                                        <table class="custom-table">
                                            <thead>
                                            <tr>
                                                <th>Income</th>
                                                <th>Tax Rate</th>
                                                <style>
                                                       .p-tooltip>.p-tooltip-text {
                                                                                        width: 750px !important;
                                                                                    }
                                                </style>
                                                <th>Tax Type
                                                    <div class="round-info-icon" pTooltip="In a non-cumulative tax system, each portion of income is taxed independently at the rate applicable to that specific portion without progressive accumulation.
    
    In a cumulative tax system, the taxpayer's income is divided into brackets, and each portion of income is taxed at the rate applicable to that bracket. The total tax liability is the sum of the taxes calculated for each bracket."
                                                         tooltipPosition="top"
                                                        Class="tootipwidth">
                                                        <i class="fa-regular fa-info"></i>
                                                    </div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let item of toValue">
                                                <td style="padding:2px !important; font-size:.9rem !important">{{ item.income }}</td>
                                                <td  style="padding:2px !important; font-size:.9rem !important">{{ item.tax }}</td>
                                                <td  style="padding:2px !important; font-size:.9rem !important">{{ item.type }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--    </div>-->
<!--</div>-->