.p-select {
  width: 100% !important;
}

.p-inputwrapper {
  .p-inputnumber {
    width: 100% !important;
    .p-inputtext {
      background: transparent;
      border: none;
    }
  }
}

.costofliving-card {
  font-size: 12px;
  text-align: center;
  border: 1px solid var(--secondary-500);
  border-radius: 10px !important;
}
.dropdownimg {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 2px solid var(--primary-100);
    object-fit: cover;
  }
}

.salarytext {
  b 
  {
    color: var(--primary-500);
  }
}
 