.dataCard{
    background-color: white;
    border: 1px solid var(--p-primary-500);
    // padding: 5px;
}

.courseImage{
    max-width: 6rem;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-guidelines{
    background-color: #EBEDF2 !important;
    color: #001631 !important;
    border-radius: 20px !important;
    border: none;
}

.buy-credits-button{
    background-color: var(--p-secondary-500) !important;
    color: white;
    border-radius: 20px !important;
    border: none;
}

.exportButton{
    background-color: #EBEDF2 !important;
    color: #001631 !important;
    border-radius: 20px !important;
    padding: 10px;
}

.courseNameTag{
    background-color: var(--p-primary-500) !important;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    white-space: wrap;
    font-size: small;
}

.shortlistedCourseTag{
    background-color: black !important;
    color: white;
    padding: 5px;
    border-radius: 25px;
}
.inputselectbox
{
    // width:20px;
    // height:20px;
    // min-width:20px;
    // min-height:20px;
    zoom:1.5;
}


.filterDialog ::ng-deep .p-dialog-header{
    border: 1px solid gray !important;
    padding: 0px 5px !important;
}

.filterField{
    font-size: medium;
    font-weight: 500;
}

.guidelinecard
{
    border: 1px solid var(--p-primary-500);
}

.universityName{
    font-size: small;
    font-weight: 700;
}

.favIcon{
    color: #e90707;
    transform: scale(1.4);
}

.applyButton{
    font-size: small;
    padding: 5px 50px;
}

.question-number {
    font-size: 18px;
    color: #3F4C83;
    font-weight: 500;
}

.question {
    color: #001631;
    font-size: 25px;
}

.product-item-content {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.cube-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cube {
    flex: 1;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    cursor:pointer;
    position: relative;
}

.cube:hover {
    border-color: var(--p-primary-500);
}

.tickPlacement{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--p-primary-500);
}

.primary-color{
    color: var(--p-primary-500);
}

.secondary-color{
    color: var(--p-secondary-500);
}

.cube.selected {
    border-color: 2px solid var(--p-primary-500);
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
	width: 10px;
	height: 10px;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
	border-radius: 20px;
}

:host ::ng-deep .p-carousel-content {
	height: 100% !important;
	.p-carousel-container {
		height: 100%;
		.p-carousel-items-container {
			height: 100%;
		}
	}
}

:host ::ng-deep .p-carousel-item {
	width: 100% !important;
}
:host ::ng-deep .p-carousel .p-carousel-indicators {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}