<div class="card readingcard">
  <ng-container *ngIf="!enableModule">
    <div class="card-header border-0 bg-transparent">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <div class="select-title d-flex justify-content-between align-items-center">
            <div class="d-flex gap-2">
              <h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip=""><i
                  class="fa-regular fa-home"></i></h5>
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <h5 routerLink="/pages/course-list" role="button" class="mb-0" tooltipPosition="right"
                pTooltip="Search and apply to courses worldwide with our comprehensive global course finder">UNIFINDER
              </h5>
            </div>
            <div>
              <button pButton class="how-it-works-button" severity="warn"
                (click)="openVideoPopup()">How it
                works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="container-fluid h-100">
        <p-carousel [value]="recommendations" [numVisible]="1" [numScroll]="1" [circular]="false"
          [showNavigators]="false" [showIndicators]="false" [page]="activePageIndex" styleClass="h-100">
          <ng-template let-recommendation let-i="index" pTemplate="item">
            <div class="h-100 d-flex flex-column justify-content-between">
              <div>&nbsp;</div>
              <div class="row justify-content-center text-start">
                <div class="col-md-12 mb-4">
                  <!-- <h5 class="text-center uniprep-primary fw-semibold mb-0">Question Number {{ recommendation.id }}</h5> -->
                  <h2 class="fw-bold mb-0 text-center">{{ recommendation.question }}</h2>
                </div>
                <div class="col-md-6">
                  <div class="recommendationinput d-flex flex-column justify-content-center gap-3">
                    <ng-container *ngIf="recommendation.id == 1">
                      <p-multiSelect styleClass="w-100" [maxSelectedLabels]="5"
                        [selectedItemsLabel]="'{0} items selected'" placeholder="Select the country where you would like to study"
                        [options]="countryList" display="chip" optionLabel="country" optionValue="id"
                        [(ngModel)]="selectedData[recommendation.id]" [appendTo]="'body'"></p-multiSelect>
                      <p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please
                        Choose Any one option</p>
                    </ng-container>
                    <ng-container *ngIf="recommendation.id == 2">
                      <p-multiSelect styleClass="w-100" [maxSelectedLabels]="5" placeholder="Select the subjects you are interested in studying"
                        [options]="subjectNameList" display="chip" optionLabel="category_name" optionValue="id"
                        [(ngModel)]="selectedData[recommendation.id]" [appendTo]="'body'"></p-multiSelect>
                      <p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please
                        Choose Any one option</p>
                    </ng-container>
                    <ng-container *ngIf="recommendation.id == 3">
                      <div class="cube-container gap-3">
                        <div *ngFor="let cube of studyLevelCubes" class="cube" (click)="selectCube(3, cube.id)"
                          [ngClass]="{ selected: selectedData[3]?.includes(cube.id) }">
                          <label>{{ cube.label }}</label>
                          <i class="fa-solid fa-circle-check tickPlacement"
                            *ngIf="selectedData[3]?.includes(cube.id)"></i>
                        </div>
                      </div>
                      <p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please
                        Choose Any one option</p>
                    </ng-container>
                    <ng-container *ngIf="recommendation.id == 4">
                      <p-multiSelect styleClass="w-100" [maxSelectedLabels]="5" placeholder="Select your preferred intake month"
                        [options]="recMonthList" display="chip" optionLabel="name" optionValue="id"
                        [(ngModel)]="selectedData[recommendation.id]" [appendTo]="'body'"></p-multiSelect>
                    </ng-container>
                    <ng-container *ngIf="recommendation.id == 5">
                      <p-multiSelect styleClass="w-100" [maxSelectedLabels]="5" placeholder="Select the test(s) you will appear for"
                        [options]="preRequisite" display="chip" optionLabel="value" optionValue="id"
                        [(ngModel)]="selectedData[recommendation.id]" [appendTo]="'body'"></p-multiSelect>
                      <p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please
                        Choose Any one option</p>
                    </ng-container>
                    <ng-container *ngIf="recommendation.id == 6">
                      <div class="cube-container gap-3">
                        <div *ngFor="let cube of worldRankCubes" role="button" class="cube"
                          (click)="selectCube(6, cube.id)" [ngClass]="{ selected: selectedData[6]?.includes(cube.id) }">
                          <label>{{ cube.value }}</label>
                          <i class="fa-solid fa-circle-check tickPlacement"
                            *ngIf="selectedData[6]?.includes(cube.id)"></i>
                        </div>
                      </div>
                      <p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please
                        Choose Any one option</p>
                    </ng-container>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-between mt-2">
                <button pButton pButton type="button" class="btn btn-primary btn-rounded p-1 pe-4"
                  [style.visibility]="recommendation.id == 1 ? 'hidden' : 'visible'" (click)="previous()">
                  <span class="btn-icon px-2 py-2"><i class="fa fa-arrow-left"></i></span> <span
                    class="ms-2">Previous</span>
                </button>
                <button pButton pButton type="button" (click)="next(recommendation.id)" *ngIf="recommendation.id != 6"
                  class="btn btn-primary btn-rounded p-1 ps-4">
                  <span class="me-2">Next</span><span class="btn-icon px-2 py-2"><i
                      class="fa fa-arrow-right"></i></span>
                </button>
                <button pButton pButton type="button" (click)="getRecommendation()" severity="success"
                  *ngIf="recommendation.id == 6" class="btn btn-success btn-rounded p-1 ps-4">
                  <span class="me-2">Get Recommendations</span><span class="btn-icon px-2 py-2"><i
                      class="fa fa-check-circle"></i></span>
                </button>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="enableModule">
    <div class="flex-column h-100" [style.display]="guidelinesDiv ? 'flex' : 'none'">
      <div class="card-header border-0 bg-transparent">
        <div class="row d-md-none d-flex">
          <div class="col-12">
            <div class="select-title d-flex justify-content-between align-items-center">
              <div class="d-flex gap-2">
                <h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip=""><i
                    class="fa-regular fa-home"></i></h5>
                <span><i class="fa-solid fa-chevron-right"></i></span>
                <h5 routerLink="/pages/course-list" role="button" class="mb-0" tooltipPosition="right"
                  pTooltip="Search and apply to courses worldwide with our comprehensive global course finder">UNIFINDER
                </h5>
              </div>
              <div>
                <button pButton class="how-it-works-button" severity="warn"
                  (click)="openVideoPopup()">How it
                  works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex justify-content-between mt-2 gap-1">
              <button pButton *ngIf="ehitlabelIsShow" class="btn btn-secondary text-small btn-rounded flex-fill"
                (click)="buyCredits()" type="button">Buy Credits</button>
              <button pButton
                class="btn btn-outline-primary text-small btn-rounded d-flex gap-2 align-items-center flex-fill"
                (click)="exportData()" type="button">
                Export <span class="btn-icon text-white">{{ buyCreditsCount }}</span>
              </button>
              <!-- <button pButton  class="btn btn-secondary text-small flex-fill" (click)="openReport()" type="button"><i class="fa-solid fa-circle-exclamation"></i></button> -->
              <button pButton class="btn btn-gray text-small flex-fill" (click)="closeGuidelines()" type="button"><i
                  class="fa-solid fa-graduation-cap"></i></button>
              <button pButton class="btn btn-primary text-small flex-fill" (click)="viewFav()" type="button"><i
                  class="fa-solid fa-bookmark"></i><span class="ms-2">({{ favCourseCount }})</span>
              </button>
              <button pButton class="btn btn-primary text-small flex-fill" (click)="filterBy()" type="button"><i
                  class="fa-solid fa-bars-filter"></i></button>
            </div>
          </div>
          <div class="col-12 mt-2">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex gap-2 align-items-center">
                <input type="checkbox" class="me-0" [(ngModel)]="selectAllCheckboxes" (click)="selectAllCheckbox()"
                  id="selectAllcheckbox" />
                <label class="text-small fw-semibold" for="selectAllcheckbox" style="cursor: pointer">Select All</label>
                <span class="text-small fw-semibold">Selected : {{ selectedCourses }}</span>
              </div>
              <span class="text-muted fw-semibold text-small">Total Courses : {{ totalCourseCount }}</span>
            </div>
          </div>
        </div>
        <div class="row justify-content-center d-md-flex d-none">
          <div class="col-12 d-flex gap-2 flex-md-row flex-column justify-content-center align-items-center">
            <div class="select-title d-flex justify-content-between align-items-center">
              <div class="d-flex gap-2">
                <h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip=""><i
                    class="fa-regular fa-home"></i></h5>
                <span><i class="fa-solid fa-chevron-right"></i></span>
                <h5 routerLink="/pages/course-list" role="button" class="mb-0" tooltipPosition="right"
                  pTooltip="Search and apply to courses worldwide with our comprehensive global course finder">UNIFINDER
                </h5>
              </div>
              <div>
                <button pButton class="how-it-works-button" severity="warn"
                  (click)="openVideoPopup()">How it
                  works? <i class="fa-solid fa-play d-md-block d-none"></i></button>
              </div>
            </div>
            <div>
              <span class="d-flex justify-content-md-end justify-content-center gap-2">
                <button pButton class="btn btn-primary flex-shrink-0 text-small course-guidelines"
                  (click)="closeGuidelines()" type="button">Course Guidelines</button>
                <button pButton
                  *ngIf="ehitlabelIsShow && PersonalInfo.usertype_id !== 14 && (PersonalInfo.trail_config_id >= 4 && PersonalInfo.trail_config_id <= 7) && PersonalInfo.trail_expired_flag == 2 "
                  class="btn btn-primary flex-shrink-0 text-small buy-credits-button" (click)="buyCredits()"
                  type="button">Buy Credits</button>
                <button pButton class="btn btn-primary text-small flex-shrink-0 exportButton" (click)="exportData()"
                  type="button">
                  Export <span
                    *ngIf="PersonalInfo.usertype_id !== 14 && (PersonalInfo.trail_config_id >= 4 && PersonalInfo.trail_config_id <= 7) && PersonalInfo.trail_expired_flag == 2 "
                    class="exportCount">{{ buyCreditsCount }}</span>
                </button>
              </span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="d-flex justify-content-md-between justify-content-center">
              <span class="d-flex p-2">
                <input type="checkbox" class="me-0" style="zoom:1.5; cursor: pointer" [(ngModel)]="selectAllCheckboxes"
                  (click)="selectAllCheckbox()" id="selectAllcheckbox" />
                <label class="p-2" for="selectAllcheckbox" style="cursor: pointer">Select All</label>
                <span class="p-2">Selected : {{ selectedCourses }}</span>
              </span>
              <div class="d-flex align-items-center mt-3 gap-2">
                <button pButton class="btn btn-primary text-small ps-3 pe-3 pt-2 pb-2 br-8 p-1"
                  style="border-radius: 20px !important" (click)="viewFav()" type="button">{{ viewFavourites ? "Remove "
                  : "View " }} Favourites ({{ favCourseCount }})</button>
                <button pButton class="btn btn-primary text-small ps-3 pe-3 pt-2 pb-2 br-8 p-1"
                  style="border-radius: 20px !important" (click)="filterBy()" type="button">Filter by</button>
                <span class="fw-semibold text-small">Total Courses: {{ totalCourseCount }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!zeroData; else elseBlock" class="card-body text-center flex-fill overflow-y-auto">
        <!-- <div *ngIf="!zeroData; else elseBlock"> -->
        <div class="row d-flex justify-content-center text-nowrap">
          <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 col-12 col-12 mb-3"
            *ngFor="let course of courseListData">
            <div class="card h-100 dataCard">
              <div class="card-body">
                <div class="flex-column d-flex h-100">
                  <div class="d-flex flex-column justify-content-between">
                    <div class="d-flex flex-fill justify-content-start align-items-center gap-2 mb-2">
                      <input type="checkbox" (change)="onCheckboxChange($event)" class="mt-1 inputselectbox"
                        [(ngModel)]="course.isChecked" />
                      <div class="courseNameTag flex-fill h-100 d-flex align-items-center" title="Course Name">
                        <p class="mb-0 p-2">
                          <a [href]="course.course_url" (click)="handleClick($event)" target="_blank"
                            class="text-decoration-none text-white d-flex gap-2 align-items-center text-start">
                            {{ course.course_name }}
                            <span><i class="fa-solid fa-link"></i></span>
                          </a>
                        </p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center gap-3 mb-2">
                      <div class="d-flex flex-fill gap-3">
                        <div class="courseImage"><img [src]="course.icon" class="img-fluid" alt="course.icon"
                            (error)="$event.target.src = '/uniprep-assets/images/course.webp'" /></div>
                        <div class="courseUniversity flex-fill d-flex flex-column justify-content-center">
                          <a [href]="course.university_url" (click)="handleClick($event)" target="_blank"
                            class="text-decoration-none uniprep-primary d-flex gap-1">
                            <div>
                              <h5 class="uniprep-primary text-wrap text-start universityName" title="University Name">{{
                                course.university_name }} </h5>
                            </div>
                            <div><i class="fa-solid fa-arrow-up-right-from-square text-small"></i></div>
                          </a>
                          <div class="btn btn-dark w-100 btn-rounded"
                            (click)="applyToUniversity(course.country_id,course.university_id,course.intake_month_numbers,course.programlevel_id,course.course_name,course.course_url)">
                            Apply</div>
                        </div>
                      </div>
                      <span><i [class]="course.favourite == 1 ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark'"
                          style="color: #e90707" (click)="bookmarkQuestion(course.id, course.favourite)"
                          class="fa-lg"></i></span>
                    </div>
                  </div>

                  <div class="row text-start">
                    <div class="col-6 mb-1 text-wrap" title="Estd Year">
                      <p>
                        <i class="fa-regular fa-clock"></i> &nbsp;<small>{{ course.estd_year }}</small>
                      </p>
                    </div>
                    <div class="col-6 mb-1 text-wrap" title="Campus Country">
                      <p>
                        <i class="fa-solid fa-globe"></i> &nbsp;<small>{{ course.country }}</small>
                      </p>
                    </div>
                    <div class="col-6 mb-1 text-wrap" title="Campus Location">
                      <p>
                        <i class="fa-solid fa-location-crosshairs"></i> &nbsp;<small>{{ course.location }}</small>
                      </p>
                    </div>
                    <div class="col-6 mb-1 text-wrap" title="Duration">
                      <p>
                        <i class="fa-solid fa-clock"></i> &nbsp;<small>{{ course.duration }}</small>
                      </p>
                    </div>
                    <div class="col-6 mb-1 text-wrap" title="Intake Month">
                      <p>
                        <i class="fa-solid fa-calendar"></i> &nbsp;<small>{{ course.intake_month }}</small>
                      </p>
                    </div>
                    <div class="col-6 mb-1 text-wrap" title="Stay Back">
                      <p>
                        <i class="fa-regular fa-hourglass"></i> &nbsp;<small>{{ course.stay_back }}</small>
                      </p>
                    </div>
                    <div class="col-6 mb-1 text-wrap" title="World Rank">
                      <p>
                        <i class="fa-solid fa-chart-simple"></i> &nbsp;<small>{{ course.world_rank }}</small>
                      </p>
                    </div>
                    <div class="col-6 mb-1 text-wrap" title="Study Level">
                      <p>
                        <i class="fa-solid fa-stairs"></i> &nbsp;<small>{{ course.study_level }}</small>
                      </p>
                    </div>
                    <div class="col-12 mb-1" title="Pre Requisite">
                      <p class="text-wrap">
                        <i class="fa-solid fa-lightbulb-exclamation-on"></i> &nbsp;<small>{{ course.pre_requisites_name
                          }}</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <div *ngIf="!zeroData" class="card-footer border-0 bg-transparent">
        <button pButton pButton type="button" style="bottom:5rem;right:1rem"
          class="btn btn-quit btn-rounded p-1 ps-3 text-small position-absolute d-flex d-md-none "
          (click)="resetRecommendation()">
          <span>Reset</span><span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i> </span>
        </button>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <p-paginator *ngIf="totalCourseCount != 0" [rows]="perPage" [totalRecords]="totalCourseCount"
              (onPageChange)="pageChange($event)" [rowsPerPageOptions]="[50, 100, 300, 500]"></p-paginator>
          </div>
          <div class="col-md-3 d-md-block d-none text-end">
            <button pButton pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="resetRecommendation()">
              Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i> </span>
            </button>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="d-flex justify-content-center align-items-center h-100 flex-column">
          <h3 class="primary-color">It seems we don't have any recommendations that</h3>
          <h3 class="primary-color">match your current selection.</h3>
          <br>
          <h4 class="secondary-color">Don't Worry! You can try</h4>
          <h6 class="primary-color">Adjusting your preferences</h6>
          <h6 class="primary-color">Exploring other categories</h6>
        </div>
        <div class="m-3 d-flex justify-content-md-end">
          <button pButton pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="resetRecommendation()">
            Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i> </span>
          </button>
        </div>
      </ng-template>
    </div>
    <div class="flex-column h-100" [style.display]="!guidelinesDiv ? 'flex' : 'none'">
      <div class="card-body pt-0">
        <div class="row justify-content-center">
          <div class="col-md-2 text-start"></div>
          <div class="col-md-8 text-center">
            <h5 class="select-title mb-1 text-uppercase" tooltipPosition="top" pTooltip="course guidelines">course
              guidelines<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
          </div>
          <div class="col-md-2 text-end">
            <button pButton class="btn-rounded btn btn-primary" aria-label="Dismiss alert" type="button" data-close
              (click)="closeGuidelines()">
              <span aria-hidden="true">X</span>
            </button>
          </div>
        </div>
        <div class="card guidelinecard mb-3 mt-2">
          <div class="card-body">
            <h5>Do's</h5>
            <ol class="lh-lg ps-3">
              <li><strong>Thoroughly Review Course Details:</strong> Carefully review the information provided including
                university names, URLs, countries, locations, courses, study levels, and fields of study.</li>
              <li><strong>Research University Reputation:</strong> Conduct additional research on universities listed to
                ensure they align with your academic and career goals.</li>
              <li><strong>Visit Course URLs:</strong> Visit provided URLs to gather more information about courses,
                admission requirements, faculty, and facilities.</li>
              <li><strong> Consider Study Level and Field of Study: </strong> Choose courses matching your desired study
                level (e.g., undergraduate, graduate) and field of study for academic interests.</li>
              <li><strong>Contact Universities for Clarifications:</strong> Reach out to universities directly for
                clarification or additional information about courses or admission procedures.</li>
            </ol>
          </div>
        </div>
        <div class="card guidelinecard">
          <div class="card-body">
            <h5>Dont's</h5>
            <ol class="lh-lg ps-3">
              <li><strong>Mislead or Misuse Data: </strong> Do not mislead or misuse any data obtained from university
                course lists on UNIPREP, such as using it for inaccurate representations or for purposes unrelated to
                academic inquiry.</li>
              <li><strong>Sell Data:</strong> Avoid selling or commercially exploiting any data obtained from the course
                lists, as this may violate terms of service and ethical guidelines.</li>
              <li><strong> Apply Without Verification:</strong> Refrain from applying to courses based on incomplete or
                inaccurate information without verifying details directly from universities.</li>
              <li><strong>Disregard Ethical Use:</strong> Use all information from course lists ethically and
                responsibly, respecting privacy and confidentiality agreements.</li>
              <li><strong> Engage in Unethical Practices: </strong> Do not engage in unethical practices such as
                plagiarism or misrepresentation of qualifications when using information from course lists.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<p-dialog header="Filter Courses" [(visible)]="isFilterVisible" [modal]="true" [style]="{ width: '60rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [ngStyle]="{ display: isFilterVisible }" class="filterDialog">
  <div class="m-5">
    <form role="form" [formGroup]="filterForm" (ngSubmit)="submitFilter()">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
              <label class="form-label filterField">Search</label>
              <div class="form-group">
                <div class="mb-3">
                  <input class="w-100" type="text" placeholder="Search by Keyword" formControlName="course_keyword"
                    pInputText />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label filterField">Filter by Pre Requisite</label>
              <div class="form-group">
                <div class="mb-3">
                  <p-multiSelect styleClass="w-100" placeholder="Select Pre Requisite" [options]="preRequisite"
                    display="chip" optionLabel="value" optionValue="id" formControlName="pre_requisite"
                    [appendTo]="'body'"></p-multiSelect>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label filterField">Filter by Country</label>
              <div class="form-group">
                <div class="mb-3">
                  <p-multiSelect styleClass="w-100" placeholder="Search in Country" (onChange)="countrySelect()"
                    [options]="countryList" display="chip" optionLabel="country" optionValue="id"
                    formControlName="country" [appendTo]="'body'"></p-multiSelect>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label filterField">Filter by Location</label>
              <div class="form-group">
                <div class="mb-3">
                  <p-multiSelect styleClass="w-100" placeholder="Search in Location" (onChange)="locationSelect()"
                    [options]="locationList" display="chip" optionLabel="location_name" optionValue="id"
                    formControlName="campus" [appendTo]="'body'"></p-multiSelect>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label filterField">Filter by University</label>
              <div class="form-group">
                <div class="mb-3">
                  <p-multiSelect styleClass="w-100" placeholder="Search in University" [options]="universityNameList"
                    display="chip" optionLabel="university_name" optionValue="id" formControlName="college_name"
                    [appendTo]="'body'"></p-multiSelect>
                  <!-- <p-select styleClass="w-100" [filter]="true" [filterBy]="'university_name'" [options]="universityNameList" placeholder="Search in University"
										optionLabel="university_name" formControlName="college_name" optionValue="id" [appendTo]="'body'"></p-select> -->
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label filterField">Filter by Subject</label>
              <div class="form-group">
                <div class="mb-3">
                  <p-multiSelect styleClass="w-100" placeholder="Search in Subject" [options]="subjectNameList"
                    display="chip" optionLabel="category_name" optionValue="id" formControlName="subject"
                    [appendTo]="'body'"></p-multiSelect>
                  <!-- <p-select styleClass="w-100" [filter]="true" [filterBy]="'category_name'" [options]="subjectNameList" [appendTo]="'body'" placeholder="Search in Subject" optionLabel="category_name" formControlName="subject" optionValue="id"></p-select> -->
                  <!-- <input class="w-100 px-5 py-2" style="height: 45px" type="text"
										formControlName="subject" placeholder="Search in Subject" pInputText /> -->
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label filterField">Filter by Study Level</label>
              <div class="form-group">
                <div class="mb-3">
                  <p-multiSelect styleClass="w-100" placeholder="Search in Study Level" [options]="studyLevel"
                    display="chip" optionLabel="label" optionValue="id" formControlName="study_level"
                    [appendTo]="'body'"></p-multiSelect>
                  <!-- <p-select styleClass="w-100" [options]="studyLevel" placeholder="Search in Study Level" optionLabel="label" formControlName="study_level" optionValue="id"></p-select> -->
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label filterField">Filter by Duration</label>
              <div class="form-group">
                <div class="mb-3">
                  <p-multiSelect styleClass="w-100" placeholder="Search in Duration" [options]="durationList"
                    display="chip" optionLabel="duration" optionValue="duration" formControlName="duration"
                    [appendTo]="'body'"></p-multiSelect>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label filterField">Filter by Intake</label>
              <div class="form-group">
                <div class="mb-3">
                  <p-multiSelect styleClass="w-100" placeholder="Search in Intake" [options]="monthList" display="chip"
                    optionLabel="name" optionValue="id" formControlName="intake_months"
                    [appendTo]="'body'"></p-multiSelect>
                  <!-- <p-select styleClass="w-100" [options]="monthList" placeholder="Search in Intake" optionLabel="name" formControlName="intake_months" optionValue="id"></p-select> -->
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label filterField">Filter by Stay Back</label>
              <div class="form-group">
                <div class="mb-3">
                  <!-- <input class="w-100 px-5 py-2" style="height: 45px" type="text"
										formControlName="stay_back" placeholder="Search in Stay Back" pInputText /> -->

                  <p-multiSelect styleClass="w-100" placeholder="Search in Stay Back" [options]="stayBackList"
                    display="chip" optionLabel="key" optionValue="key" formControlName="stay_back"
                    [appendTo]="'body'"></p-multiSelect>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="form-label filterField">Filter by World Rank</label>
              <div class="form-group">
                <div class="mb-3">
                  <!-- <input class="w-100 px-5 py-2" style="height: 45px" type="text" formControlName="world_rank" placeholder="Search in World Rank" pInputText /> -->
                  <!-- <p-select styleClass="w-100" [options]="worldRank" placeholder="Search in World Rank" optionLabel="value" formControlName="world_rank" optionValue="id" [appendTo]="'body'"></p-select> -->
                  <p-multiSelect styleClass="w-100" placeholder="Search in World Rank" [options]="worldRank"
                    display="chip" optionLabel="value" optionValue="id" formControlName="world_rank"
                    [appendTo]="'body'"></p-multiSelect>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4">
							<label class="form-label filterField">Filter by Tution Fees Range</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100 px-5 py-2" style="height: 45px" type="text" formControlName="fees_range" placeholder="Search in Tution Fees Range" pInputText />
								</div>
							</div>
						</div> -->
          </div>
        </div>
      </div>
      <div>
        <button pButton type="submit" class="btn btn-dark w-100"
          style="background-color: var(--p-primary-500); border: none">Apply Filter</button>
        <button pButton class="btn btn-dark w-100" (click)="clearFilter()"
          style="background-color: white; border-radius: 8px; color: var(--p-primary-500); border: none"
          type="button">Reset Filter</button>
      </div>
    </form>
  </div>
</p-dialog>