.dataCard{
    background-color: white;
    border: 1px solid var(--uniprep-primary);
    // padding: 5px;
}

.courseImage{
    height: 5rem;
    width: 6rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #f0f0f0;
    object-fit: contain;
    padding: 0px 5px;
}

.course-guidelines{
    background-color: #EBEDF2;
    color: #001631 !important;
    border-radius: 20px !important;
    border: none;
}

.buy-credits-button{
    background-color: var(--uniprep-secondary);
    color: white;
    border-radius: 20px !important;
    border: none;
}

.exportButton{
    background-color: #EBEDF2;
    color: #001631 !important;
    border-radius: 20px !important;
    border: 1px solid blue;
    padding: 10px;
}

.courseNameTag{
    background-color: var(--uniprep-primary);
    font-weight: 700;
    color: white;
    border-radius: 10px;
    white-space: wrap;
    font-size: small;
}

.shortlistedCourseTag{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 25px;
}
.inputselectbox
{
    // width:20px;
    // height:20px;
    // min-width:20px;
    // min-height:20px;
    transform: scale(1.5);
}


.filterDialog ::ng-deep .p-dialog-header{
    border: 1px solid gray !important;
    padding: 0px 5px !important;
}

.filterField{
    font-size: medium;
    font-weight: 500;
}

.guidelinecard
{
    border: 1px solid var(--uniprep-primary);
}

.universityName{
    font-size: small;
    font-weight: 700;
}

.favIcon{
    color: #e90707;
    transform: scale(1.4);
}

.applyButton{
    font-size: small;
    padding: 5px 50px;
}