.app-title {
    padding: 0rem 0rem 0.5rem 1.5rem;
   // border-bottom: 1px solid #ebe6e6;
}

#menu-items {
    user-select: none;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    padding-bottom: 10px;
    .menu-item {
        color: #222b45;
        cursor: pointer;
        .system-main__apps {
            font-size:0.9rem;
            margin: 5px 10px;
            .system-main__icon
            {
                padding: 5px 10px;
            }
            &.header {
                font-weight: 700;
                color: #344767;
                opacity: 0.6 !important;
                text-transform: uppercase;
            }
            font-weight: 500;
            color: #001631;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            display: flex;
            text-decoration: none;
            align-items: center;
            .system-main__icon img {
                font-size: 0.9rem;
                //padding: 10px;
                border-radius: 0.5rem;
                width: 25px;
                height: 25px;
                margin: 4px 12px;
            }
            &:hover
            {
                color: #001631;
                background-color: #e2ecc7;
                border-radius:10px;
            }
        }
        &.active {
            .system-main__apps {
                color: #fff;
                background-color: #9bc329;
                border-radius: 10px 10px;
            }
            background-color: transparent;
            .system-main__icon .pi {
                color: #9bc329;
            }
            .menu-item.active {
                .system-main__name {
                    font-weight: 600;
                }
            }
        }
    }
}
.menu-item > .menu-items {
    padding: 0 1.25rem;
}
