.app-title {
    padding: 0rem 0rem 0.5rem 1.5rem;
   // border-bottom: 1px solid #ebe6e6;
}

#menu-items {
    user-select: none;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    padding-bottom: 10px;
    .menu-item {
        color: #222b45;
        cursor: pointer;
        .system-main__apps {
            font-size: 0.9rem;
            &.header {
                font-weight: 700;
                color: #344767;
                opacity: 0.6 !important;
                text-transform: uppercase;
            }
            font-weight: 700;
            color: #67748e;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            display: flex;
            text-decoration: none;
            align-items: center;
            .system-main__icon img {
                font-size: 0.9rem;
                //padding: 10px;
                border-radius: 0.5rem;
                margin-right: 1.4rem !important;
                width: 30px;
                height: 30px;
            }
        }
        &.active {
            .system-main__apps {
                color: #9BC32A;
            }
            background-color: #E3EEC3;
            border-right: 7px solid #9BC32A;
            .system-main__icon .pi {
                color: #9BC32A;
            }
            .menu-item.active {
                .system-main__name {
                    font-weight: bold;
                }
            }
        }
    }
}
.menu-item > .menu-items {
    padding: 0 1.25rem;
}
