.p-inputgroup {
	height: 3.5rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.small-image {
	width: 40%;
	text-align: left;
}

.passwordvisibility {
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	border: none;
}

form {
	input {
		height: 100% !important;
		padding: 0.8rem;
	}

	label {
		font-size: 0.8rem;
		color: rgba(0, 0, 0, 0.378);
	}

	:focus {
		border-color: var(--uniprep-primary) !important;
		// background-color: #fff !important;
		box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
	}
}

.bg-image {
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	width: 100%;
}

.desktop {
	display: flex;
}

.mobile {
	display: none;
}

.googlelogin
{
	div
	{
		width:100%;
	}
}

.socialloginbutton
{
	background:white;
	border:1px solid #dadce0;
	border-radius:4px;
}

@media screen and (max-width: 480px) {
	.mobile {
		display: block;
	}

	.container-fluid {
		margin: auto !important;
	}

	.desktop {
		display: none;
	}

	.signup {
		color: #1C1B17;
		font-size: 12px;
	}

	.loginForm {
		label {
			color: #1C1B17;
			font-size: 12px;
			font-weight: 400;
		}
	}

	.formOTP {
		.text-muted {
			color: #47464A;
		}
	}

	.loginForm {

		label,
		.forgot-password {
			color: #1C1B17;
			font-size: 12px;
			font-weight: 400;
		}
	}

	.social-media {
		border: 1px solid #dadce0;
		color: #001631;
		cursor: pointer;
		border-radius: 5px !important;
		width: 100%;
		height: 32px;
		letter-spacing: 0.25px;
		font-size: 12px;
		font-weight: 500 !important;
		background: white;
		display: flex;
	}

	.mbb {
		border-bottom: 5px solid #3F4C83;
	}

	.w-25 {
		width: 25%;
		text-align: center !important;
		margin-top: 5px;
	}

	.w-75 {
		width: 75%;
		margin-top: 5px;
	}
}

/* Add application styles & imports to this file! */
a {
	cursor: pointer
}

.btn-facebook {
	background: #3B5998;
	color: #fff;
}

.btn-facebook:hover {
	color: #fff;
	opacity: 0.8;
}

.btn-delete-account {
	width: 40px;
	text-align: center;
	box-sizing: content-box;
}

.social-media {
	border: 1px solid #dadce0;
	color: #001631;
	cursor: pointer;
	border-radius: 5px !important;
	width: 100%;
	height: 32px;
	letter-spacing: 0.25px;
	font-size: 12px;
	font-weight: 500 !important;
	background: white;
	display: flex;
}
.line {
	position: relative;
	height: 1px;
	width: 100%;
	margin: 20px 0;
	background-color: #3F4C83;
}

.line::before {
	content: 'OR';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFF;
	color: #3F4C83;
	padding: 0 15px;
}

@media (max-width: 2000px) {
	.w-25 {
		width: 40% !important;
		text-align: right;
		margin-top: 5px;
	}

	.w-75 {
		width: 60% !important;
		margin-top: 5px;
		margin-left: 5px;
	}
}
.fullWidth{
	width: 100% !important;
}