<div class="startbg h-100 d-flex align-items-start align-items-md-center">
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body p-md-5 p-0">
                <div class="row">
                <div class="col-md-6 col-lg-6 d-flex align-items-center">
                    <div class="row">
                        <img class="small-image text-left mb-2" src="../../../uniprep-assets/images/uniprep-light.svg">
                        <h2 class="fw-medium uniprep-primaryhighlight mb-0">Welcome to <span class="fw-bold uniprep-primary">UNIPREP</span></h2>
                        <h5 class="uniprep-primary">Live resolution to personal questions.</h5>
                        <p class="uniprep-primary">30,000+ questions on every topic concerning education abroad answered by alumni of International Universities.</p>
                        <div class="row justify-content-start">
                            <img class="bg-image text-center"
                                 src="../../../uniprep-assets/images/Uniprep_Icons_image.png">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="login d-flex align-items-center text-right">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <!-- <img class="logo" src="../../../uniprep-assets/images/SOP-CHECKER.PNG"> -->
                                    <h5 class="login-heading mt-3 mb-3 fw-bold">Welcome, Please Login to your <span class="font-primarycolor ">account.</span></h5>
                                    <hr>
                                    <p class="signup">Don't have an account?<span><a class="font-primarycolor " href="register"> Register Now</a></span></p>
                                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                        <label for="floatingInput">Email address</label>
                                        <div class="p-inputgroup">
                                            <div class="p-inputgroup-addon">
                                                <i class="fa-solid fa-envelope"></i>
                                            </div>
                                            <input
                                                    type="email"
                                                    pInputText
                                                    id="floatingInput"
                                                    class="border-0"
                                                    placeholder="name@example.com"
                                                    formControlName="email"
                                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                            />
                                        </div>
                                        <div
                                                *ngIf="submitted && f.email.errors" class="text-danger">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">
                                                Email must be a valid email address
                                            </div>
                                        </div>
                                        <br>
                                        <label for="floatingPassword">Password</label>
                                        <div class="p-inputgroup">
                                            <div class="p-inputgroup-addon">
                                                <i class="fa-solid fa-lock"></i>
                                            </div>
                                            <input
                                                    [type]="password"
                                                    class="border-0"
                                                    pInputText
                                                    id="floatingPassword"
                                                    placeholder="Password"
                                                    formControlName="password"
                                                    autocomplete="Off"
                                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                                    id="inputPassword4"
                                            />
                                            <span class="input-group-text passwordvisibility" (click)="showPassword()">
                                                <img src="../../../uniprep-assets/images/viewpassword.svg" height="20" width="20px" *ngIf="!show">
                                                <img src="../../../uniprep-assets/images/hidepassword.svg" height="20" width="20px" *ngIf="show">
                                              </span>
                                        </div>
                                        <div
                                                *ngIf="submitted && f.password.errors" class="text-danger"
                                        >
                                            <div *ngIf="f.password.errors.required">
                                                Password is required
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="text-left">
                                            <a class="small" href="forgot-password">Forgot my password?</a>
                                        </div>
                                        <br/><br/>
                                        <div class="d-grid">
                                            <button
                                                    class="pt-3 pb-3 btn btn-primary btn-login text-uppercase fw-bold m-0 text-dark"
                                                    type="submit"
                                            >
                                                <strong>Sign in</strong>
                                            </button>
                                        </div>
                                        <!-- <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                            <label class="form-check-label" for="rememberPasswordCheck">
                                              Remember password
                                            </label>
                                          </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>