// @import "../../../uniprep-assets/buttons";
.loginbox {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.btn {
  font-size: smaller !important;
}
.logo{
  height: 70px;
}

.p-inputgroup
{
  height: 3.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.small-image {
  width: 40%;
  text-align: left;
}
.signup{
  font-size: medium;
  color: rgba(0, 0, 0, 0.378);
}
form {
  input {
    height: 100% !important;
    padding: 0.8rem;
  }
  label {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.378);
  }

  :focus {
    border-color: var(--uniprep-primary) !important;
    // background-color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  }
}
.bg-image {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.login-heading {
  font-weight: 300;
}
.text-left {
  float: right;
  a {
    color: rgba(0, 0, 0, 0.378);
  }
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 10px !important;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.posAbs{
  position: absolute !important;
}