.small-image {
	width: 40%;
	text-align: left;
}

.passwordvisibility {
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	border: none;
}

.p-inputgroup {
	border: 1px solid var(--uniprep-primary);
	border-radius: 10px;
	align-items: center;
	.p-inputgroup-addon {
		background: transparent;
		border: none;
		border-radius: 0;
		border-right: 1px solid var(--uniprep-primary);
	}
}

@media (max-width: 767.98px) {
	.startbg
	{
		background-image: none;
	}
}