.p-inputgroup {
	height: 3.5rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.small-image {
	width: 40%;
	text-align: left;
}

.passwordvisibility
{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}

form {
	input {
		height: 100% !important;
		padding: 0.8rem;
	}
	label {
		font-size: 0.8rem;
		color: rgba(0, 0, 0, 0.378);
	}
	:focus {
		border-color: var(--uniprep-primary) !important;
		// background-color: #fff !important;
		box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
	}
}
.bg-image {
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	width: 100%;
}

.desktop {
	display: flex;
}


@media screen and (max-width: 480px) {
	.container-fluid {
		margin: auto !important;
	}

	.desktop {
		display: none;
	}

	.signup {
		color: #1C1B17;
		font-size: 12px;
	}

	.loginForm {
		label {
			color: #1C1B17;
			font-size: 12px;
			font-weight: 400;
		}
	}

	.formOTP {
		.text-muted {
			color: #47464A;
		}
	}

	.loginForm {
		label , .forgot-password{
			color: #1C1B17;
			font-size: 12px;
			font-weight: 400;
		}
	}
}