@import "../../../uniprep-assets/buttons";
.loginbox {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.container-fluid{
  padding-right: 0 !important;
}
.btn {
  font-size: smaller !important;
}
.logo{
  height: 70px;
}

.small-image{
  height: 25%;
  width: 25%;
  text-align: left;
}
.signup{
  font-size: medium;
  color: rgba(0, 0, 0, 0.378);
}
form {
  input {
    height: 2.2rem !important;
    padding: 0 0 0 10px !important;
    float: left;
    text-align: start !important;
  }
  label {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.378);
  }

  :focus {
    border-color: #9bc329 !important;
    // background-color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  }
}
.bg-image {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  width: 70%;
}

.login-heading {
  font-weight: 300;
}
.text-left {
  float: right;
  a {
    color: rgba(0, 0, 0, 0.378);
  }
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 10px !important;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.posAbs{
  position: absolute !important;
}