.basicLevelTag{
    padding: 0px 10px !important;
    background-color: green !important;
    color: white !important;
    border-radius: 20px !important;
}
.intLevelTag{
    background-color: var(--uniprep-secondary);
    color: white !important;
    border-radius: 20px !important;
    padding: 0px 10px !important;

}