.basicLevelTag {
  padding: 0px 10px !important;
  background-color: #9bc32a !important;
  color: white !important;
  border-radius: 20px !important;
  font-size: 12px;
}

.intLevelTag {
  background-color: #ff7600;
  color: white !important;
  border-radius: 20px !important;
  padding: 0px 10px !important;
  font-size: 12px;
}

.advLevelTag {
  background-color: #d80027;
  color: white !important;
  border-radius: 20px !important;
  padding: 0px 10px !important;
  font-size: 12px;
}

.resourcecard {
  border: 1px solid var(--secondary-500);
  width: 100%;
  margin: 0px;

  &:focus {
    background-color: var(--primary-50);
    border: 1px solid var(--primary-500);
  }

  &:hover {
    background-color: var(--primary-50);
    border: 1px solid var(--primary-500);
  }
}

.completed {
  background-color: #9bc32a !important;
  color: white !important;
  border-radius: 20px !important;
  border: #9bc32a 2px solid;
}

.mb-10 {
  margin-bottom: 10px;
}

.retry {
  background-color: #d80027;
  color: white !important;
  border-radius: 20px !important;
  border: #d80027 2px solid;
}
.quiz-button {
  flex: 1; /* Allow buttons to grow and shrink based on their content */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px; /* Adjust padding for button content */
  margin: 5px; /* Add some margin for spacing between buttons */
  min-width: 60px; /* Optional: Set a minimum width for all buttons */
}

