<div class="row">
  <div *ngFor="let quiz of quizlist" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
    <div class="row w-100 m-0 justify-content-center h-100">
      <div class="card resourcecard position-relative" role="button">
        <div *ngIf="quiz.is_assessment && authService._user?.student_type_id == 2" class="assessment-tag"
          style="background-color: var(--uniprep-skyblue);">Assessment</div>
        <div *ngIf="quiz?.level" class="d-flex justify-content-end mt-1">
          <span [ngSwitch]="quiz?.level"
            [ngClass]="{ basicLevelTag: quiz.level === 1, intLevelTag: quiz.level === 2, advLevelTag: quiz.level === 3 }">
            <ng-container *ngSwitchCase="1">Basic</ng-container>
            <ng-container *ngSwitchCase="2">Intermediate</ng-container>
            <ng-container *ngSwitchDefault>Advanced</ng-container>
          </span>
        </div>
        <div class="card-body">
          <div class="text-center">
            <h5 class="fw-bold mb-3">{{ quiz.submodule_name }}</h5>
            <div class="d-flex justify-content-center flex-wrap">
              <button pButton class="quiz-button"
                [ngClass]="quiz.progress === 0 ? 'how-it-works-button' : quiz.progress > 0 && quiz.progress < 90 ? 'retry' : 'completed'"
                [disabled]="quiz.progress > 89"
                (click)="showQuizQuestions(quiz.id, currentModule, 'careertoolquiz', false)">
                {{ quiz.progress === 0 ? 'Start Quiz' : quiz.progress > 0 && quiz.progress < 90 ? 'Retry' : 'Completed'
                  }} <span *ngIf="quiz.progress == 0"><i class="fa-solid fa-alarm-clock"></i></span>
              </button>
              <button pButton class="quiz-button how-it-works-button" *ngIf="quiz.progress > 89"
                (click)="showQuizQuestions(quiz.id, currentModule, 'careertoolquiz', true)">
                Review <span><i class="fa-solid fa-list-check"></i></span>
              </button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>