.backIcon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--uniprep-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700px;

    .pi-angle-left {
        font-size: 16px;
    }

    margin:10px 20px;
}

.resourcecard {
    border: 2px solid #f0780c;
    width: 100%;
    margin: 0px;

    .resourceimg {
        height: 100px;
        width: 100px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &:focus {
        background-color: var(--uniprep-primaryop10);
        border: 2px solid var(--uniprep-primary);
    }

    &:hover {
        background-color: var(--uniprep-primaryop10);
        border: 2px solid var(--uniprep-primary);
    }
}
 