
// .slick-slide:not(.slick-center).slick-active .cvBuilderSampleImg img {
//     height: 330px; 
//     transform: scale(1);
// }

// .slick-slide.slick-active:nth-child(n+3):not(.slick-center) .cvBuilderSampleImg img {
//     height: 280px;
//     transform: scale(0.9);
// }

// .slick-slide:not(.slick-center):not(.slick-active) .cvBuilderSampleImg img {
//     height: 250px;
//     transform: scale(0.8);

// }

.swiper-slide-active
{
	transform: scale(1.0) !important;
	transition: 250ms;
}

.swiper-slide-prev,.swiper-slide-next
{
	transform: scale(0.85) !important;
	transition: 250ms;
}

.swiper-slide-regular
{
	transform: scale(0.70);
	transition: 250ms;
}

.swiper-button-next svg, .swiper-button-prev svg {
    color: black !important;
    // font-size: 50px;
    background-color: black !important; 
    // border-radius: 50%; 
	// position: absolute;
}

// ::ng-deep .slick-prev {
// 	z-index: 1000;
// }

// ::ng-deep .slick-next {
//     right: 3%; 
// }

  
// .slick-center .cvBuilderSampleImg img {
// 	height: 330px;  
// 	transform: scale(1);  
// 	transition: transform 0.3s ease, height 0.3s ease;
// }

.swiper-slide-active .center-button {
	display: block;
}

// .slick-slide:not(.slick-center) .cvBuilderSampleImg img {
// 	transform: scale(0.9);
// }

// .slick-slide:nth-child(n+3):not(.slick-center) .cvBuilderSampleImg img {
// 	transform: scale(0.8); 
// }

// .slider-carousel{
// 	display: flex;
//     justify-content: center;
//     align-items: center; 
//     height: 50vh;
// }

.cvBuilderSampleImg {
	cursor: pointer;
	margin: 5px;
	text-align: center;
	width: fit-content;
	img {
		height: 300px;
		border-radius: 9px;
		border: 1px solid;
		transition: transform 0.3s ease, height 0.3s ease;
	}
	&:hover {
		-webkit-box-shadow: 0px 0px 50px 0px var(--uniprep-primaryop10);
		-moz-box-shadow: 0px 0px 50px 0px var(--uniprep-primaryop10);
		box-shadow: 0px 0px 50px 0px var(--uniprep-primaryop10);
	}
}
.previewcontainer {
	display: flex;
	justify-content: center;
	.previewbody {
		aspect-ratio: 1/1.41;
		width:100%;
	}
}
.center-button {
	position: absolute;
	top: 80%;
	padding: 8px 70px;
	background-color: var(--uniprep-primary);
	color: white;
	border: none;
	white-space: nowrap;
	border-radius: 10px;
	font-size: large;
	margin: 0px 8px;
	display: none; 
}

.HistoryDownloadIcon {
	// transform: translateY(350%) translateX(-150%);
	padding: 5px;
	background-color: var(--uniprep-primary);
	color: white;
	border-radius: 25px;
	position: relative;
	left: 25%;
	bottom: 15%;
}

.HistoryDeleteIcon {
	padding: 5px;
	background-color: #d80027;
	color: white;
	border-radius: 25px;
	position: relative;
	left: 35%;
	bottom: 75%;
}

.tickIcon {
	background-color: #5a5aed;
	padding: 8px;
	border-radius: 25px;
}

.selectedResumeLevel {
	border: 2px solid #404d82;
	border-radius: 12px;
	position: relative;
}

.createResumeButton {
	background-color: var(--uniprep-primary);
	color: white;
	padding: 15px 75px 15px 75px;
	border: none;
	border-radius: 50px;
	width: 30%;
	margin: 25px;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}

.shake {
	animation: shake 0.3s;
	background-color: red;
}

.p-button-info-prev {
	background-color: #0e3361;
	color: white;
	border: none;
}

.p-button-info-next {
	background-color: #4552a3;
	color: white;
	border: none;
}

.p-button-info-succes {
	background-color: #9bc329;
	color: white;
	border: none;
}

:host ::ng-deep .fa-check-circle {
	color: #83a81a !important;
}
:host ::ng-deep .p-carousel-prev {
	align-self: end !important;
}

:host ::ng-deep .p-carousel-next {
	align-self: end !important;
}

.exhausted-plan-icon-prev {
	padding: 10px;
	border-radius: 25px;
	background-color: #0e3361;
	color: white;
	margin-left: 5px;
}

.exhausted-plan-icon-next {
	padding: 10px;
	border-radius: 25px;
	background-color: #4552a3;
	color: white;
	margin-left: 5px;
}

.labelFont {
	font-size: medium;
	font-weight: 900;
}

.PageTitle {
	color: var(--uniprep-primary);
	// margin: 10px;
}

.borderClass {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 10px;
}

.previewDiv {
	background-color: gainsboro;
	border: 1px solid whitesmoke;
	border-radius: 10px;
}

.addMoreButton {
	background-color: var(--uniprep-primary);
	color: white;
	padding: 5px 5px;
	border: none;
	border-radius: 50px;
}

.deleteDivButton {
	background-color: #d80027;
	color: white;
	padding: 5px 5px;
	border: none;
	border-radius: 50px;
}

.trashIcon {
	background-color: #fa3e61;
	padding: 8px;
	border-radius: 25px;
}

.subtitleMargin {
	margin: 10px 0px;
}

// .scrollDivide{
//     height: 100vh;
//     overflow-x: hidden;
//     overflow-y: scroll;
// }

.previewBodyForm {
	padding: 10px;
	border: 1px solid lightslategrey;
	border-radius: 10px;
	background-color: whitesmoke;
	font-size: calc(0.4vw + 0.4vh);
	ul {
		padding-left: 0px !important;
	}
	h1 {
		font-size: 4.5em;
	}
	h2 {
		font-size: 3.5em;
	}
	h3 {
		font-size: 3.0em;
	}
	h4 {
		font-size: 2.5em;
	}
	h5 {
		font-size: 2.0em;
	}
	h6 {
		font-size: 1.5em;
	}
	hr {
		margin: 2px;
	}
	p,
	a,
	span,
	li {
		list-style: none;
		padding: 0px;
		padding-left: 0px;
	}
}
.previewBodyFormFull {
	padding: 10px;
	border: 1px solid lightslategrey;
	border-radius: 10px;
	background-color: whitesmoke;
	font-size: calc(0.5vw + 0.5vh);
	ul {
		padding-left: 0px !important;
		margin-bottom:5px;
	}
	h1 {
		font-size: 4.5em;
	}
	h2 {
		font-size: 3.5em;
	}
	h3 {
		font-size: 3em;
	}
	h4 {
		font-size: 2.5em;
	}
	h5 {
		font-size: 2em;
	}
	h6 {
		font-size: 1.5em;
	}
	hr {
		margin: 2px;
	}
	p,
	a,
	span,
	li {
		list-style: none;
		padding: 0px;
		padding-left: 0px;
	}
}

.cvPreview {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	background-color: #2d3764;
}

.templateButton {
	background-color: #5e6eb3;
	color: #ebedf2 !important;
	border-radius: 20px !important;
	border: none;
	padding: 10px;
	font-weight: 600;
	margin: 0px 5px;
	position: relative;
	display: flex;
}

.colorButton{
	background-color: #5e6eb3;
	color: #ebedf2 !important;
	border-radius: 20px !important;
	border: none;
	padding: 5px;
	font-weight: 600;
}

.templateName {
	padding: 6px;
	border-radius: 25px;
	background-color: #ebedf2;
	color: black;
	margin-left: 5px;
}

@media (max-width: 1499.98px) {
	.previewBodyForm {
		font-size: calc(0.2vw + 0.2vh);
	}
	.previewBodyFormFull {
		font-size: calc(0.3vw + 0.3vh);
	}
}

@media (max-width: 1399.98px) {
	.previewBodyForm {
		font-size: calc(0.15vw + 0.15vh);
	}
	.previewBodyFormFull {
		font-size: calc(0.25vw + 0.25vh);
	}
}

@media (max-width: 1299.98px) {
	.previewBodyForm {
		font-size: calc(0.15vw + 0.15vh);
	}
	.previewBodyFormFull {
		font-size: calc(0.25vw + 0.25vh);
	}
}

@media (max-width: 1199.98px) {
	.previewBodyForm {
		font-size: calc(0.15vw + 0.15vh);
	}
	.previewBodyFormFull {
		font-size: calc(0.25vw + 0.25vh);
	}
}

@media (max-width: 991.98px) {
	.previewBodyForm {
		font-size: calc(0.2vw + 0.2vh);
	}
	.previewBodyFormFull {
		font-size: calc(0.3vw + 0.3vh);
	}
}

@media (max-width: 575.98px) {
	.previewBodyForm {
		font-size: calc(0.2vw + 0.2vh);
	}
	.previewBodyFormFull {
		font-size: calc(0.3vw + 0.3vh);
	}
}
@media screen and (max-width: 480px) {
	.previewBodyForm {
		font-size: calc(0.2vw + 0.2vh);
	}
	.previewBodyFormFull {
		font-size: calc(0.3vw + 0.3vh);
	}
}

.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

// .templateButton {
// 	position: relative;
// 	display: inline-block;
// }
  
.template-dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 125px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 20px;
}

.template-dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	padding: 8px 10px;
}

.template-dropdown-content a:hover {
	background-color: #5e6eb3;
	color: white;
	border-radius: 25px;
}

/* Show dropdown on hover */
.templateButton:hover .template-dropdown-content {
	display: block;
}
  

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #5e6eb3;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 20px;
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	&:hover {
		background-color: #5e6eb3;
		border-radius: 25px;
	}
}

.colorSelector{
	padding: 15px;
	border-radius: 25px;
	border: 2px solid white;
}

.cursorPointer{
	cursor: pointer;
	display: flex !important;
	align-items: center;
}

.selectedColor{
	padding: 12px;
	border-radius: 25px;
	border: 2px solid white;
}

.ColorCheckBox{
	transform: translate(-190%, 2%);
}

.colorWhite{
	color: white;
}

.colorDiv{
	cursor: pointer;
}

.downloadButton{
	background-color: var(--uniprep-primary);
	color: white;
	padding: 5px 15px;
	border: none;
	border-radius: 50px;
	margin: 15px;
}

.cvSampleImg{
	cursor: pointer;
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
	color: var(--uniprep-primary);
	font-weight: 700;
	pdf-viewer {
		border-radius: 9px;
		border: 1px solid;
		display: block; 
		height: 300px; 
		width: 200px;
		margin: 5px;
	}
}

@page {
	size: A4;
	margin: 10mm;
}

html {
	margin: 0;
	font-family: Poppins, sans-serif;
	font-size: 10px;
	line-height: 1.1;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.headingStyle {

	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0px 0px 5px 9px;
	margin-bottom: 5px;
}

.text-color-white{
	color: white;
}

.text-color-liteBlue{
	color: #339499;
}

.fw-700 {
	font-weight: 700;
}

.fw-600 {
	font-weight: 600;
}

.fw-500 {
	font-weight: 500;
}

.upperCase {
	text-transform: uppercase;
}

.content {
	margin: 5px;
}

.contentText {
	font-size: 10px;
}

.tg {
	padding: 10px;
}

.resumeIcons {
	height: 15px;
	width: auto;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.separator {
	width: 10%;
	height: 2px;
}

.userName {
	font-size: 15px !important;
	font-weight: 700;
	white-space: nowrap;
	letter-spacing: 3px;
}

.profession {
	font-size: 10px !important;
	font-weight: 700;
}

.contactItem {
	display: flex;
	align-items: center;
	margin: 5px;
}

.contactItem img {
	height: 1rem;
	width: auto;
	margin-right: 10px;
}

.languageItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
}

.languageItem img {
	height: 1rem;
	width: auto;
	margin-right: 10px;
}

.certificationItem {
	margin: 5px;
}

.certificationItem a {
	font-size: smaller;
}

.technicalSkillItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
}

.technicalSkillItem img {
	height: 1rem;
	width: auto;
	margin-right: 10px;
}

.experienceItem {
	display: flex;
	margin: 5px;
}

.educationItem {
	display: flex;
	margin: 5px;
}

.projectItem {
	display: flex;
	margin: 5px;
}

.referenceItem {
	display: flex;
	justify-content: space-between;
	margin: 5px;
}

.referenceItem b {
	font-weight: 700;
}

.aboutMe {
	margin: 5px;
}

.nowrapClass{
	white-space: nowrap;
}

.small-text {
	font-size: smaller !important;
}
.zeroMarginPadding{
	margin: 0px !important;
	padding: 0px !important;
}

.hr-custom {
	height: 1px;
	border-width: 0;
	// color: #339499;
	// background-color: #339499;
	margin-left: 10px;
}

.content-contact{
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-xs {
	font-size: 0.7rem;
}

.activeTemplate{
	background-color: #5e6eb3;
	border-radius: 25px;
	color:white !important;
}

:host ::ng-deep .p-sidebar-header {
    padding: 0px !important;
}

:host ::ng-deep .p-sidebar-content {
    padding: 0px !important;
}

:host ::ng-deep .p-sidebar-footer {
    padding: 0px !important;
}
