.cvBuilderSampleImg{
    cursor: pointer;
    margin: auto;
    text-align: center;
    width: fit-content;
    img{
        height: 350px;
        border-radius: 9px;
        border: 1px solid;
    }
    &:hover
    {
        -webkit-box-shadow: 0px 0px 50px 0px var(--uniprep-primaryop10);
        -moz-box-shadow: 0px 0px 50px 0px var(--uniprep-primaryop10);
        box-shadow: 0px 0px 50px 0px var(--uniprep-primaryop10);
    }
}

.center-button {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 5px 10px 5px 10px;
    background-color: var(--uniprep-primary);
    color: white;
    border: none;
    border-radius: 25px;
}

.tickIcon{
    background-color: #5a5aed;
    padding: 8px;
    border-radius: 25px;
}

.selectedResumeLevel{
    border: 2px solid #404d82;
    border-radius: 12px;
    position: relative;
}

.createResumeButton{
    background-color: var(--uniprep-primary);
    color: white;
    padding: 15px 75px 15px 75px;
    border: none;
    border-radius: 50px;
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

.shake {
    animation: shake 0.3s;
    background-color: red;
}

.p-button-info-prev {
	background-color: #0e3361;
	color: white;
	border: none;
}

.p-button-info-next {
	background-color: #4552a3;
	color: white;
	border: none;
}

.p-button-info-succes {
	background-color: #9bc329;
	color: white;
	border: none;
}

:host ::ng-deep .fa-check-circle {
	color: #83a81a !important;
}
:host ::ng-deep .p-carousel-prev {
	align-self: end !important;
}

:host ::ng-deep .p-carousel-next {
	align-self: end !important;
}

.exhausted-plan-icon-prev {
	padding: 10px;
	border-radius: 25px;
	background-color: #0e3361;
	color: white;
	margin-left: 5px;
}

.exhausted-plan-icon-next {
	padding: 10px;
	border-radius: 25px;
	background-color: #4552a3;
	color: white;
	margin-left: 5px;
}

.labelFont{
    font-size: medium; 
    font-weight: 900;
}

.PageTitle{
    color: var(--uniprep-primary);
    // margin: 10px;
}