.search-dropdown {
	width: 100%;
	position: relative;
  .searchcard
  {
    position:absolute;
    z-index: 999;
    top: 4rem;
    left: 0;
    right: 0;
    background: white;
    border-radius: 10px;
    max-height: 50vh;
    overflow-y: auto;
  }
	.p-inputgroup {
		padding: 3px;
		background: #F1F1F1;
		border-radius: 10px;
		// .p-button {
		// 	border-radius: 0px 8px 8px 0 !important;
		// }
	}
	.searchheight {
		input {
			border: none;
			background-color: #F1F1F1;
		}
	}
	.search-icon {
		justify-content: center;
		align-items: center;
		vertical-align: middle;
		display: flex;
		font-size: 1.5rem;
		color: var(--primary-500);
		// border-right: 1px solid var(--primary-500);
		padding: 10px;
	}
}
.dropdown-container {
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 10px;
    z-index: 9;
    background: white;
    border: 1px solid var(--secondary-500);
    border-radius: 10px;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    max-height: 35vh;
    overflow-y: auto;
}

.dropdown-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.dropdown-item {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.dropdown-item h3 {
	margin: 0;
	font-size: 16px;
}

.dropdown-item p {
	margin: 5px 0 0;
	color: #666;
}

.dropdown-item:last-child {
	border-bottom: none;
}

.dropdown-item h3 {
	margin: 0;
	font-size: 16px;
}

.dropdown-item p {
	margin: 5px 0 0;
	color: #666;
}

.dropdown-item:last-child {
	border-bottom: none;
}
.search-container {
	display: flex;
	flex: 1;
    align-items: start;
    justify-content: center;
    height: max-content;
}