.subjectcard {
  border: 1px solid var(--p-secondary-500);
  width: 100%;
  margin: 10px 0px;
  justify-content: center;
  align-items: center;

  .timespan {
    background: #9bc329;
    color: white;
    border-radius: 2rem;
  }
  
  .submoduleicon {
    height: 100px;
    width: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .selectimage {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &:focus {
    background-color: var(--p-primary-50);
    border: 1px solid var(--p-primary-500);
  }

  &:hover {
    background-color: var(--p-primary-50);
    border: 1px solid var(--p-primary-500);
  }
}
.subjecttitle {
  font-size: 18px;
  font-weight: 800;
}
::ng-deep .ng2-pdf-viewer-container {
  overflow-x: hidden !important;
}
.center {
  height: 63vh !important;
}
.headColor{
 color: #3f4c83
}