.universityicon
{
  color:var(--p-secondary-500);
}
.primary-color{
  color: var(--p-primary-500);
}

.locationicon
{
  color:#E90707;
}

.countryicon
{
  color:blue
}

.coinicon
{
  color:goldenrod
}

.homecountryicon
{
  color: green;
}

.studyicon
{
  color: blueviolet;
}

.scholarshiptypeicon
{
  color: brown;
}

.cube-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cube {
  flex: 1;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  transition: border-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.cube:hover {
  border-color: var(--p-primary-500);
}

.tickPlacement {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--p-primary-500);
}

.cube.selected {
  border-color: 2px solid var(--p-primary-500);
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 10px;
  height: 10px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 20px;
}

:host ::ng-deep .p-carousel-content {
  height: 100% !important;
  .p-carousel-container {
    height: 100%;
    .p-carousel-items-container {
      height: 100%;
    }
  }
}

:host ::ng-deep .p-carousel-item {
  width: 100% !important;
}
:host ::ng-deep .p-carousel .p-carousel-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

input[type="checkbox"] {
  zoom: 1.5;
}
