<div class="card readingcard">
	<ng-container *ngIf="!enableModule">
		<div class="card-header border-0 bg-transparent">
			<div class="row justify-content-center">
				<div class="col-md-12 text-center">
					<div class="select-title d-flex justify-content-between align-items-center">
						<div class="d-flex gap-2">
							<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top"
								pTooltip=""><i class="fa-regular fa-home"></i></h5>
							<span><i class="fa-solid fa-chevron-right"></i></span>
							<h5 routerLink="/pages/scholarship-list" role="button" class="mb-0" tooltipPosition="right"
								pTooltip="Access fully and partially funded opportunities for education.">UNISCHOLAR
							</h5>
						</div>
						<div>
							<button pButton class="how-it-works-button" severity="warn"
								(click)="openHowItWorksVideoPopup()">How
								it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="container-fluid h-100">
				<p-carousel [value]="recommendations" [numVisible]="1" [numScroll]="1" [circular]="false"
					[showNavigators]="false" [showIndicators]="false" [page]="activePageIndex" styleClass="h-100">
					<ng-template let-recommendation let-i="index" pTemplate="item">
						<div class="h-100 d-flex flex-column justify-content-between">
							<div>&nbsp;</div>
							<div class="row justify-content-center text-start">
								<div class="col-md-12 mb-4">
									<!-- <h5 class="text-center uniprep-primary fw-semibold mb-0">Question Number {{ recommendation.id }}</h5> -->
									<h2 class="fw-bold mb-0 text-center">{{ recommendation.question }}</h2>
								</div>
								<div class="col-md-6">
									<ng-container *ngIf="recommendation.id == 1">
										<p-multiSelect styleClass="w-100" placeholder="Select Course Country"
											[options]="countryList" display="chip" optionLabel="country"
											optionValue="id" [(ngModel)]="selectedData[recommendation.id]"
											[appendTo]="'body'"></p-multiSelect>
										<p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }"
											style="color: red">Please Choose Any one option</p>
									</ng-container>
									<ng-container *ngIf="recommendation.id == 2">
										<div class="cube-container gap-3">
											<div *ngFor="let cube of anyStudyLevelList" class="cube"
												(click)="selectCube(2, cube.id)"
												[ngClass]="{ selected: selectedData[2]?.includes(cube.id) }">
												<label>{{ cube.level }}</label>
												<i class="fa-solid fa-circle-check tickPlacement"
													*ngIf="selectedData[2]?.includes(cube.id)"></i>
											</div>
										</div>
										<p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }"
											style="color: red">Please Choose Any one option</p>
									</ng-container>
									<ng-container *ngIf="recommendation.id == 3">
										<div class="cube-container gap-3">
											<div *ngFor="let cube of anyScholarshipTypeList" class="cube"
												(click)="selectCube(3, cube.id)"
												[ngClass]="{ selected: selectedData[3]?.includes(cube.id) }">
												<label>{{ cube.type }}</label>
												<i class="fa-solid fa-circle-check tickPlacement"
													*ngIf="selectedData[3]?.includes(cube.id)"> </i>
											</div>
										</div>
										<p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }"
											style="color: red">Please Choose Any one option</p>
										<p></p>
									</ng-container>

									<ng-container *ngIf="recommendation.id == 4">
										<div class="cube-container gap-3">
											<div *ngFor="let cube of anyCoverList" class="cube"
												(click)="selectCube(4, cube.id)"
												[ngClass]="{ selected: selectedData[4]?.includes(cube.id) }">
												<label>{{ cube.cover_name }}</label>
												<i class="fa-solid fa-circle-check tickPlacement"
													*ngIf="selectedData[4]?.includes(cube.id)"></i>
											</div>
										</div>
										<p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }"
											style="color: red">Please Choose Any one option</p>
									</ng-container>
								</div>
							</div>
							<div class="d-flex justify-content-between mt-2">
								<button pButton pButton type="button" class="btn btn-primary btn-rounded p-1 pe-4"
									[style.visibility]="recommendation.id == 1 ? 'hidden' : 'visible'"
									(click)="previous()">
									<span class="btn-icon px-2 py-2"><i class="fa fa-arrow-left"></i></span> <span
										class="ms-2">Previous</span>
								</button>
								<button pButton pButton type="button" (click)="next(recommendation.id)"
									*ngIf="recommendation.id != 4" class="btn btn-primary btn-rounded p-1 ps-4">
									<span class="me-2">Next</span><span class="btn-icon px-2 py-2"><i
											class="fa fa-arrow-right"></i></span>
								</button>
								<button pButton pButton type="button" (click)="getRecommendation()" severity="success"
									*ngIf="recommendation.id == 4" class="btn btn-success btn-rounded p-1 ps-4">
									<span class="me-2">Get Recommendations</span><span class="btn-icon px-2 py-2"><i
											class="fa fa-check-circle"></i></span>
								</button>
							</div>
						</div>
					</ng-template>
				</p-carousel>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="enableModule">
		<div class="card-header border-0 bg-transparent" *ngIf="!restrict">
			<div class="row d-md-none d-flex">
				<div class="col-12">
					<div class="select-title d-flex justify-content-between align-items-center">
						<div class="d-flex gap-2">
							<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top"
								pTooltip=""><i class="fa-regular fa-home"></i></h5>
							<span><i class="fa-solid fa-chevron-right"></i></span>
							<h5 routerLink="/pages/scholarship-list" role="button" class="mb-0" tooltipPosition="right"
								pTooltip="Access fully and partially funded opportunities for education.">UNISCHOLAR
							</h5>
						</div>
						<div>
							<button pButton class="how-it-works-button" severity="warn"
								(click)="openHowItWorksVideoPopup()">How
								it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="d-flex justify-content-between mt-2 gap-1">
						<button pButton *ngIf="ehitlabelIsShow"
							class="btn btn-secondary text-small btn-rounded flex-fill" (click)="buyCredits()"
							type="button">Buy Credits</button>
						<button pButton
							class="btn btn-outline-primary text-small btn-rounded d-flex gap-2 align-items-center flex-fill"
							(click)="exportData()" type="button">
							Export <span class="btn-icon text-white">{{ exportCreditCount }}</span>
						</button>
						<button pButton class="btn btn-secondary text-small flex-fill" (click)="openReport()"
							type="button"><i class="fa-solid fa-circle-exclamation"></i></button>
						<button pButton class="btn btn-gray text-small flex-fill" (click)="scholarGuidlines()"
							type="button"><i class="fa-solid fa-graduation-cap"></i></button>
						<button pButton class="btn btn-primary text-small flex-fill" (click)="viewFavourites()"
							type="button">
							<i class="fa-solid fa-bookmark"></i><span class="ms-2">({{ favCount }})</span>
						</button>
						<button pButton class="btn btn-primary text-small flex-fill" (click)="filterBy()"
							type="button"><i class="fa-solid fa-bars-filter"></i></button>
					</div>
				</div>
				<div class="col-12 mt-2">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex gap-2 align-items-center">
							<input type="checkbox" class="me-0" [(ngModel)]="selectAllCheckboxes"
								(click)="selectAllCheckbox()" id="selectAllcheckbox" />
							<label class="text-small fw-semibold" for="selectAllcheckbox" style="cursor: pointer">Select
								All</label>
							<span class="text-small fw-semibold">Selected : {{ selectedScholarship }}</span>
						</div>
						<span class="text-muted fw-semibold text-small">Total Scholarship : {{ totalScholarShipCount
							}}</span>
					</div>
				</div>
			</div>
			<div class="row justify-content-center d-md-flex d-none">
				<!-- <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12 text-start"> -->
				<!-- <div class="p-input-icon-left w-100 mt-3">
            <i class="fa-solid fa-search"></i>
            <input class="w-100 px-5 py-2" type="text" placeholder="Search in Scholarship List" pInputText [(ngModel)]="searchScholarshpName" (input)="performSearch()" />
          </div> -->
				<!-- </div> -->
				<!-- <div class="col-md-6 text-center">
					<h5 class="select-title mb-1" tooltipPosition="top" pTooltip="">SCHOLARSHIP LIST</h5>
				</div> -->

				<div class="col-12">
					<div class="d-flex flex-md-row flex-column gap-2">
						<div class="select-title d-flex justify-content-between align-items-center">
							<div class="d-flex gap-2">
								<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top"
									pTooltip=""><i class="fa-regular fa-home"></i></h5>
								<span><i class="fa-solid fa-chevron-right"></i></span>
								<h5 routerLink="/pages/scholarship-list" role="button" class="mb-0"
									tooltipPosition="right"
									pTooltip="Access fully and partially funded opportunities for education.">UNISCHOLAR
								</h5>
							</div>
							<div>
								<button pButton class="how-it-works-button" severity="warn"
									(click)="openHowItWorksVideoPopup()">How
									it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
							</div>
						</div>
						<div class="d-flex justify-content-end gap-2">
							<button pButton class="btn btn-gray text-small btn-rounded" (click)="scholarGuidlines()"
								type="button">Scholarship Guidelines</button>
							<button pButton
								*ngIf="ehitlabelIsShow && PersonalInfo?.usertype_id !== 14 && PersonalInfo?.trail_config_id >= 4 && PersonalInfo?.trail_config_id <= 7 && PersonalInfo?.trail_expired_flag == 2"
								class="btn btn-secondary text-small btn-rounded" (click)="buyCredits()"
								type="button">Buy Credits</button>
							<button pButton
								class="btn btn-outline-primary text-small btn-rounded d-flex gap-2 align-items-center"
								(click)="exportData()" type="button">
								Export <span
									*ngIf="PersonalInfo?.usertype_id !== 14 && PersonalInfo?.trail_config_id >= 4 && PersonalInfo?.trail_config_id <= 7 && PersonalInfo?.trail_expired_flag == 2"
									class="btn-icon text-white">{{ exportCreditCount }}</span>
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="d-flex flex-md-row flex-column justify-content-between">
						<div>
							<span class="d-flex justify-content-start p-2">
								<input type="checkbox" class="me-0" [(ngModel)]="selectAllCheckboxes"
									(click)="selectAllCheckbox()" id="selectAllcheckbox" />
								<label class="p-2 fw-semibold" for="selectAllcheckbox" style="cursor: pointer">Select
									All</label>
								<span class="p-2 fw-semibold">Selected : {{ selectedScholarship }}</span>
								<button pButton class="btn btn-primary text-small btn-rounded"
									(click)="viewFavourites()" type="button">
									{{ viewFavouritesLabel }}<span class="ms-2"
										*ngIf="viewFavouritesLabel != 'View All'">({{ favCount }})</span>
								</button>
							</span>
						</div>
						<div class="d-flex align-items-center justify-content-end gap-1 mt-3">
							<button pButton class="btn btn-secondary btn-rounded text-small" (click)="openReport()"
								type="button">Report</button>
							<button pButton class="btn btn-primary text-small btn-rounded" (click)="filterBy()"
								type="button">Filter by</button>
							<div class="pe-2">
								<span class="text-muted text-small"><strong>Total Scholarship : {{ totalScholarShipCount
										}}</strong></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body text-center flex-fill overflow-y-auto">
			<div class="container-fluid" *ngIf="!restrict">
				<div class="row">
					<div *ngFor="let scholarshipData of scholarshipData; let index = index"
						class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12 mb-3">
						<div class="card subjectcard m-0 h-100">
							<div class="card-body d-flex flex-column justify-content-between">
								<div class="d-flex justify-content-between align-items-start gap-3">
									<div class="d-flex gap-2 align-items-start flex-fill" title="Scholarship Name">
										<!-- <input  type="checkbox" name="" id="" [ngModel]="selectedIndex === index"
												(change)="questionSelectedCheckBox($event,index,scholarshipData)">&nbsp; -->
										<input type="checkbox" (change)="onCheckboxChange($event)"
											[(ngModel)]="scholarshipData.isChecked" />
										<a class="uniprep-primary text-decoration-none h5 gap-1 mb-0 text-start d-flex"
											target="_blank" href="{{ scholarshipData.website }}">
											<div class="line-break fw-bold">{{ scholarshipData.name }}</div>
											<div><i class="fa-solid fa-link text-small uniprep-primary pr-2"
													aria-hidden="true"></i></div>
										</a>
									</div>
									<i class="text-danger mt-2" role="button"
										[class]="scholarshipData.favourite == 1 ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark'"
										(click)="bookmarkQuestion(scholarshipData.id, scholarshipData.favourite)"></i>
								</div>

								<div>
									<div class="d-flex mt-2 gap-5 align-items-center">
										<div class="d-flex gap-2 align-items-center" title="Scholarship Value">
											<i class="fa-solid fa-coin coinicon" aria-hidden="true"></i>
											<h5 class="mb-0">{{ scholarshipData.value }}</h5>
										</div>
										<div class="d-flex gap-2 align-items-center d-none"
											title="Scholarship Fund Type">
											<i class="fa-solid fa-dollar-sign fundicon" aria-hidden="true"></i>
											<p class="text-small mb-0">{{ scholarshipData.cover_name }}</p>
										</div>
									</div>
									<div class="d-flex mt-2">
										<div class="d-flex gap-2 align-items-center" title="Scholarship Institute">
											<i class="fa-solid fa-building-columns universityicon"
												aria-hidden="true"></i>
											<p class="text-small mb-0 text-start">{{ scholarshipData.university }}</p>
										</div>
									</div>
									<div class="d-flex mt-2 gap-5 align-items-center">
										<div class="d-flex gap-5">
											<div class="d-flex gap-2 align-items-center" title="Study Level">
												<i class="fa-solid fa-graduation-cap studyicon" aria-hidden="true"></i>
												<p class="text-small mb-0">{{ scholarshipData.study_level }}</p>
											</div>
											<div class="d-flex gap-2 align-items-center" title="Scholarship Type">
												<i class="fa-solid fa-diploma scholarshiptypeicon"
													aria-hidden="true"></i>
												<p class="text-small mb-0">{{ scholarshipData.type }}</p>
											</div>
										</div>
									</div>
									<div class="d-flex mt-2 gap-3 align-items-center">
										<div class="d-flex gap-2 align-items-center" title="Scholarship Country">
											<i class="fa-solid fa-earth-americas countryicon" aria-hidden="true"></i>
											<p class="text-small mb-0">{{ scholarshipData.country }}</p>
										</div>
										<div class="d-flex gap-2 align-items-center" title="Scholarship Home Country">
											<i class="fa-solid fa-house homecountryicon" aria-hidden="true"></i>
											<p class="text-small mb-0">{{ scholarshipData.home_country }}</p>
										</div>
										<div class="d-flex gap-2 align-items-center" *ngIf="scholarshipData.region"
											title="Scholarship Region">
											<i class="fa-solid fa-location-dot locationicon" aria-hidden="true"></i>
											<p class="text-small mb-0">{{ scholarshipData.region }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="totalScholarShipCount == 0"
				class="d-flex justify-content-center align-items-center h-100 flex-column">
				<h3 class="primary-color">It seems we don't have any recommendations that</h3>
				<h3 class="primary-color">match your current selection.</h3>
				<br />
				<h4 class="universityicon">Don't Worry! You can try</h4>
				<h6 class="primary-color">Adjusting your preferences</h6>
				<h6 class="primary-color">Exploring other categories</h6>
			</div>
		</div>
		<div class="card-footer border-0 bg-transparent position-relative">
			<button pButton pButton type="button" style="bottom: 5rem; right: 1rem"
				class="btn btn-quit btn-rounded p-1 ps-3 text-small position-absolute d-flex d-md-none"
				(click)="resetRecommendation()">
				<span>Reset</span><span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i> </span>
			</button>
			<div class="row">
				<div class="col-md-3 d-md-block d-none">&nbsp;</div>
				<div class="col-md-6 col-11">
					<p-paginator *ngIf="totalScholarShipCount != 0" [rows]="pageSize"
						[totalRecords]="totalScholarShipCount" (onPageChange)="pageChange($event)"
						[rowsPerPageOptions]="[100, 300, 500, 1000]"></p-paginator>
				</div>
				<div class="col-md-3 d-none d-md-block text-end">
					<button pButton pButton type="button" class="btn ps-md-3 ps-0 btn-quit btn-rounded"
						(click)="resetRecommendation()">
						<span>Reset Recommendations</span><span class="btn-icon"><i
								class="fa-solid fa-arrow-rotate-right"></i> </span>
					</button>
				</div>
			</div>
		</div>
	</ng-container>
</div>


<p-dialog header="Filter Scholarship" [(visible)]="isFilterVisible"
	[breakpoints]="{ '2560px': '80vw', '1030px': '90vw', '850px': '85vw', '450px': '90vw' }" [draggable]="false"
	[resizable]="false" class="filterDialog">
	<form role="form" [formGroup]="filterForm" (ngSubmit)="applyFilter()" [style]="{ padding: '20px' }">
		<div class="row">
			<div class="col-md-12">
				<div class="row align-items-center">
					<div class="col-md-4">
						<label class="form-label" style="font-size: medium; font-weight: 500">Filter by Scholarship
							Country</label>
						<div class="form-group">
							<div class="mb-3">
								<p-multiSelect [options]="countryList" styleClass="w-100" formControlName="country"
									optionValue="id" placeholder="Select  Country" optionLabel="country"
									class="filterInput" [appendTo]="'body'"> </p-multiSelect>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<label class="form-label" style="font-size: medium; font-weight: 500">Filter by Home
							Country</label>
						<div class="form-group">
							<div class="mb-3">
								<p-multiSelect [options]="homeCountryList" styleClass="w-100"
									formControlName="home_country" optionValue="id" placeholder="Select  Home Country"
									optionLabel="country" class="filterInput" [appendTo]="'body'"> </p-multiSelect>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<label class="form-label" style="font-size: medium; font-weight: 500">Filter by Scholarship
							Type</label>
						<div class="form-group">
							<div class="mb-3">
								<p-multiSelect [options]="scholarshipTypeList" styleClass="w-100" formControlName="type"
									optionValue="id" placeholder="Select  Scholarship Type" optionLabel="type"
									class="filterInput" [appendTo]="'body'"> </p-multiSelect>
							</div>
						</div>
					</div>
					<br />
					<div class="col-md-4">
						<label class="form-label" style="font-size: medium; font-weight: 500">Filter by Study
							Level</label>
						<div class="form-group">
							<div class="mb-3">
								<p-multiSelect [options]="studyLevelList" styleClass="w-100"
									formControlName="study_level" [optionValue]="'id'" [optionLabel]="'level'"
									placeholder="Select Study Level" class="filterInput" [appendTo]="'body'"
									[showToggleAll]="true" [selectionLimit]="0" optionLabel="'Select Study Level'"
									[displaySelectedLabel]="true" [showHeader]="true" [filter]="true"
									[filterBy]="'level'"> </p-multiSelect>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<label class="form-label" style="font-size: medium; font-weight: 500">Filter by
							organizations/Institute</label>
						<div class="form-group">
							<div class="mb-3">
								<p-multiSelect [options]="filterUniversityList" styleClass="w-100"
									formControlName="university" optionValue="id"
									placeholder="Select Organisation Or University" optionLabel="name"
									class="filterInput" [appendTo]="'body'"> </p-multiSelect>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<label class="form-label" style="font-size: medium; font-weight: 500">Filter by Coverage
							Value</label>
						<div class="form-group">
							<div class="mb-3">
								<p-multiSelect [options]="coverList" styleClass="w-100" formControlName="cover_id"
									optionValue="id" placeholder="Select  Coverage Value" optionLabel="cover_name"
									class="filterInput" [appendTo]="'body'"> </p-multiSelect>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
		<div class="row gap-3">
			<div class="col-12"><button pButton type="submit" class="btn btn-dark w-100"
					style="background-color: var(--p-primary-500) !important">Apply Filter</button></div>
			<div class="col-12">
				<button pButton class="btn btn-danger ps-3 pe-3 pt-2 pb-2 w-100" (click)="clearFilter()"
					style="border-radius: 8px; color: var(--p-neutral-50)" type="button">Reset Filter</button>
			</div>
			<!-- <div class="col-12">
				<button pButton  class="btn btn-danger ps-3 pe-3 pt-2 pb-2 w-100" (click)="resetFilter()" style="border-radius: 8px; color: var(--p-neutral-50)" type="button">Clear & Close Filter</button>
			</div> -->
		</div>
	</form>
</p-dialog>