<div class="container-fluid">
    <div class="row">
<div class="card rounded shadow-sm mt-3 ">
    <div class="card-body text-center pt-0">
        <h5 class="select-title mb-3">Pre-Application  <i class="questiontooltip fa-solid fa-circle-question"></i></h5>
        <div class="row mb-0 justify-content-center">
            <div class="col-md-2 p-4 d-flex align-items-stretch" *ngFor="let sub of subModules$ | async">
                <div class="row justify-content-center {{ selectedSubModule == sub.id ? 'pre-application-border selected-border' : ''}} unselected-border"
                    (click)="onSubModuleClick(sub.id)">
                    <img class="selectimage" width="{{ selectedSubModule == sub.id ? '100px' : '100px'}}"
                        style="{{ selectedSubModule == sub.id ? 'padding: 10%' : 'padding: 10%;'}}" src="{{sub.icon}}"
                        alt="{{sub.submodule_name}}">
                    <h1
                        class="text-center text-capitalize {{ selectedSubModule == sub.id ? 'pre-application-text' : 'pre-application-text-small'}}">
                        <strong>{{sub.submodule_name}}</strong></h1>
                    <p>{{sub.questioncount}} Question Answered</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>