// company-profile.component.scss
.logo-container {
	max-width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: #f8f9fa;
	aspect-ratio: 1;
	width: 100%;
}

h1 {
	font-size: 1.8rem;
	color: #212529;
}

h2 {
	font-size: 1.5rem;
	color: #212529;
}

h5.text-primary,
h6.text-primary {
	color: var(--p-primary-500) !important;
	font-weight: 600;
}
// Override PrimeNG chip styles
:host ::ng-deep .p-chip {
	background-color: transparent;
	border-radius: 4px;
	padding: 3px 8px !important;
	margin: 2px;
	font-size: 0.9rem;
}

.btn {
	border-radius: 5px !important;
}
