.force-font > * {
    font-size : 1rem !important 
  }

.force-font >  h1{
    font-size: 1rem !important;
}

.force-font >  h2{
    font-size: 1rem !important;
}

.force-font >  h3{
    font-size: 1rem !important;
}
.force-font >  h4{
    font-size: 1rem !important;
}
.force-font >  h5{
    font-size: 1rem !important;
}
.force-font >  h6{
    font-size: 1rem !important;
}
.force-font >  p{
    font-size: 1rem !important;
}

.advisorinput
{
    border: 1px solid var(--uniprep-lightgray);
    border-radius:100px;
    padding: 2px;
    input
    {
        border: none !important;
        background: transparent !important;
        border-radius:100px;
    }
}