.force-font {
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1rem !important;
    margin-bottom: 1rem;
  }
}

.advisorinput {
  border: 1px solid var(--uniprep-lightgray);
  border-radius: 100px;
  padding: 2px;

  input {
    border: none !important;
    background: transparent !important;
    border-radius: 100px;
    color: black;
  }
}

// #chatContainer {
//   height: 500px; /* or your desired height */
//   overflow-y: auto;
// }

.UserFirstLetter {
  margin-right: 10px;
  background-color: var(--primary-200);
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 100%
}