<div class="card readingcard">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="select-title d-flex justify-content-between align-items-center">
					<div>
						<h5 class="w-100 mb-0" tooltipPosition="top" pTooltip="Access resources for starting your business, from ideation to execution.">AI Global Advisor<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
					</div>
					<div>
						<button class="how-it-works-button" (click)="openVideoPopup('https://www.youtube.com/embed/dcojCJtwck0?si=Dq6ONzGdpyzGwnhp')">How it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body d-flex justify-content-center flex-column" *ngIf="isQuestionNotAsked">
		<!-- <div class="row align-items-center justify-content-center">

        </div> -->
		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-8">
				<div class="row">
					<div class="d-flex justify-content-center pb-5">
						<img style="width: 100px" src="../../../uniprep-assets/images/icon-light.svg" />
					</div>
					<!-- <img style="width:150px" src="../../../uniprep-assets/images/icon-light.svg"> -->
					<p-carousel [value]="questions" [numVisible]="5" [numScroll]="1" [circular]="true" [showIndicators]="false">
						<ng-template let-question pTemplate="item">
							<div class="card h-100 mx-2" style="border: 1px solid var(--uniprep-secondary)">
								<div class="card-body">
									<i class="fa-regular fa-gears"></i>
									<p style="cursor: pointer" (click)="triggerSample(question.question)">{{ question.question }}</p>
								</div>
							</div>
						</ng-template>
					</p-carousel>
				</div>
			</div>
		</div>
		<!-- <div class="">
			<div class="p-inputgroup">
				<div class="p-inputgroup">
					<input type="text" [(ngModel)]="userQuestion" pInputText placeholder="" />
					<button type="button" (click)="getAns()" class="btn btn-primary" pButton pRipple label="Search"></button>
				</div>
			</div>
		</div> -->
	</div>
	<div #chatContainer class="card-body flex-fill overflow-y-auto" *ngIf="isQuestionAsked">
		<div class="row justify-content-center overflow-hidden" *ngIf="showSkeleton">
			<div class="col-md-8">
				<div class="row align-items-center">
					<div>
						<div class="flex mb-3">
							<p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
							<div>
								<p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
								<p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
							</div>
						</div>
						<p-skeleton width="100%" height="1rem"></p-skeleton>
					</div>
					<hr class="my-3" />
					<div>
						<div class="flex mb-3">
							<p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
							<div>
								<p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
								<p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
							</div>
						</div>
						<div class="d-flex flex-column gap-1">
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
						</div>
					</div>
					<hr class="my-3" />
					<div>
						<div class="flex mb-3">
							<p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
							<div>
								<p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
								<p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
							</div>
						</div>
						<div class="d-flex flex-column gap-1">
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
							<p-skeleton width="100%" height="1rem"></p-skeleton>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center" *ngFor="let chat of chatdata">
			<div class="col-md-8" #chatContainer>
				<div class="advisor-question" *ngIf="chat.input == 1">
					<div class="d-flex align-items-center">
						<p style="margin-right: 10px; background-color: var(--uniprep-primaryop30); padding: 1rem; text-transform: uppercase; font-weight: bold; border-radius: 100%">{{ chat.name.slice(0, 2) }}</p>
						<div class="d-flex flex-column">
							<p>{{ chat.name }}</p>
							<p>{{ chat.created }}</p>
						</div>
					</div>
					<p style="margin-top: 10px">{{ chat.message }}</p>
					<!-- <p style="margin-top: 10px" *ngif="chat.input == 3">Two{{ chat.message }}</p>
					<div *ngif="chat.input == 2">
						three
						<h5>{{chat.input}}</h5>
						<p *ngfor="let msg of chat.formatedMsg">{{msg}}</p>
					</div> -->
					<hr />
				</div>

				<div class="advisor-answer" *ngIf="chat.input != 1">
					<div class="d-flex flex-column">
						<div class="d-flex align-items-center">
							<!-- <p style="margin-right: 10px;background-color: var(--uniprep-primaryop30);padding: 1rem;text-transform: uppercase;font-weight: bold;border-radius: 100%;">U</p> -->
							<!-- <img src="/src/uniprep-assets/images/icon-light.svg"> -->
							<img style="width: 50px" src="../../../uniprep-assets/images/icon-light.svg" />
							<div class="d-flex flex-column">
								<p>UNIPREP AI Advisor</p>
								<p>{{ chat.created }}</p>
							</div>
						</div>
						<div>
							<!-- <div class="force-font">
								<div class="mt-2" [innerHTML]="chat.message"></div>
							</div> -->
							<div *ngIf="chat.input == 2">
								<!-- <h5>{{chat.input}}</h5> -->
								 <ul>
									<div *ngFor="let msg of chat.formatedMsg; index as i">
										<li class="pb-2" *ngIf="i != 0">{{msg}}</li>
									</div>
									
								 </ul>
								
							</div>
							<!-- {{chat.message}} -->
						</div>
					</div>
					<hr />
				</div>
			</div>
		</div>
		<div class="row justify-content-center mt-5">
			<div class="col-md-4 d-flex align-items-center flex-column">
				<p class="text-danger mb-2">Not happy with the answer ?</p>
				<button class="btn btn-primary btn-rounded px-5" (click)="askExpert()">{{ this.requestButton }}</button>
			</div>
		</div>
	</div>
	<div class="card-footer border-0 bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="p-inputgroup advisorinput">
					<input type="text" [(ngModel)]="userQuestion" pInputText placeholder="" />
					<button type="button" (click)="getAns()" class="btn btn-success btn-rounded" pButton pRipple><i class="fa-solid fa-stars"></i> {{responseType}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
