.optionanswered {
	border: 2px solid var(--primary-500);
    border-radius: 10px;
    background: var(--uniprep-green);
    color: var(--uniprepprimarydark);
}

.optionreviewcorrect {
	border: 2px solid var(--uniprep-darkgreen);
	background: var(--uniprep-green);
	border-radius: 8px;
	color: #fff;
}
.optionreviewnotcorrect {
	border: 2px solid var(--uniprep-darkgreen);
	background: white;
	border-radius: 8px;
}
.answercorct{
	border: 2px solid var(--uniprep-darkgreen);
	background: var(--uniprep-green);
	border-radius: 8px;
	color: white;

}

.answernotcorct{
	border: 2px solid var(--uniprep-red);
	background: red;
    color: white;
	border-radius: 8px;
}

.answernotselected{
	color: white;
	color: black;
}

.green{
	border: 2px solid var(--uniprep-darkgreen);
	background: var(--uniprep-green);
	border-radius: 8px;
	color: white;
}

.red{
	border: 2px solid var(--uniprep-red);
	background: red;
    color: white;
	border-radius: 8px;
}

.white{
	border: 2px solid var(--uniprep-red);
	background: white;
	border-radius: 8px;
}