.search-dropdown {
	width: 100%;
	position: relative;
  .searchcard
  {
    position:absolute;
    z-index: 999;
    top: 4rem;
    left: 0;
    right: 0;
    background: white;
    border-radius: 10px;
    max-height: 50vh;
    overflow-y: auto;
  }
	.p-inputgroup {
		padding: 3px;
		background: white;
		border-radius: 10px;
		.p-button {
			border-radius: 0px 8px 8px 0 !important;
		}
	}
	.searchheight {
		input {
			background-color: white;
		}
	}
	.search-icon {
		justify-content: center;
		align-items: center;
		vertical-align: middle;
		display: flex;
		font-size: 1.5rem;
		color: var(--primary-500);
		// border-right: 1px solid var(--primary-500);
		padding: 10px;
	}
}

// btn-primary {
//   color: black !important;
//   border-radius: 0 !important;
// }

// .list-group {
//   position: absolute;
//   z-index: 1 !important;
//   right: 0;
//   left: 0;
//   top: 60px;
//   overflow-y: auto;
//   max-height: 400px;
//   border-radius: 10px;
// }
// .answercard {
//   background-color: transparent;
//   border: none;
//   // max-height: 50vh;
//   overflow-y: auto;
//   .readingheight
//   {
//     max-height:40vh;
//     overflow-y:auto;
//     min-height: 35vh;
//   }
// }
// li:last-of-type {
//   width: 100%;
//   position: sticky;
//   right: 0;
//   bottom: 0;
// }

// :host ::ng-deep p-carousel {
//   //On later realease of PrimeNG, this can be done programmatically with [showIndicators | showNavigators]="false"
//   .p-carousel-indicators {
//     display: none !important;
//   }

//   .p-carousel-next, .p-carousel-prev {
//     display: none !important;
//   }
// }

// :host ::ng-deep .p-carousel-item {
//   max-height: 0;
// }

// :host ::ng-deep .p-carousel-item-active {
//   max-height: 100% !important;
// }

// .color-red{
//   color: green !important;
// }
// .unselectable {
//   -webkit-user-select: none;
//   -webkit-touch-callout: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
// .fw-bold-yellow{
//   font-weight: 700;
//   color: var(--secondary-500);
//   text-transform: capitalize;
// }

// @media screen and (max-width: 768px) {
//   #ref-links-container {
//       flex-wrap: nowrap !important;
//       overflow-x: auto;
//   }
//   #ref-links-container a {
//       flex: 0 0 auto;
//       margin-bottom: 0.5rem;
// }
// }

// .gap-2 {
//   flex-wrap: wrap !important;
// }

// .mobile{
//   display: none;
// }

// @media (max-width: 575.98px) {
//   .desktop{
//     display: none !important;
//   }
//   .gap-2{
//     flex-wrap: nowrap !important;
//   }
// .list-group{
//     position: absolute;
//       z-index: 1 !important;
//       right: 0;
//       left: 0;
//       top: 40px;
//       overflow-y: auto;
//       max-height: 300px;
//       border-radius: 10px;
// }
// .p-breadcrumb ul{
//   flex-wrap: wrap !important;
//   text-align: center !important;
// }
// .mobile{
//   display: block;
// }

//  :host ::ng-deep .p-breadcrumb {
//    font-size: 10px;
//  }

//  .fa-file-contract {
//    font-size: 10px;
//  }

//  .fa-house {
//    font-size: 10px;
//  }
// }

// .btn-warning {
//   background-color: var(--secondary-500);
//   color: white;
// }

// .badge{
//   border-radius: 25px !important;
// }
// .text-right-close{
//   text-align: right;
//   margin: 5px;
// }

// .scrollable-container {
//   display: flex;
//   overflow-x: hidden;
//   align-items: center;
//   max-width: 500px;
// }

// .scrollable-container-ref {
//   display: flex;
//   overflow-x: hidden;
//   align-items: center;
//   max-width: 80%;
// }

// .scroll-content {
//   display: flex;
// }

// .scroll-content-ref {
//   display: flex;
// }

// .scroll-button {
//   border: none;
//   border-radius: 20px;
//   cursor: pointer;
//   background: #b4ceec;
//   cursor: pointer;
//   width: 25px !important;
//   height: 25px !important;
// }

// .scroll-button-warning{
//   border: none;
//     border-radius: 20px;
//     cursor: pointer;
//     background: #ffd5b0;
//     cursor: pointer;
//     width: 25px !important;
//     height: 25px !important;
//     .fa-chevron-left {
//         color: #f0780e;
//       }

//       .fa-chevron-right {
//         color: #f0780e;
//       }
// }

// .fa-chevron-left{
//   color: #26374b;
// }

// .fa-chevron-right{
//   color: #26374b;
// }

// .videolinkbutton {
//   white-space: nowrap;
//   font-size: 12px;
//   font-weight: 400 !important;
// }

.reflinkbutton {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400 !important;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal {
	z-index: 9999;
	.modalbuttons {
		position: absolute;
		top: -1rem;
		right: -1rem;
	}
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive::before {
	display: block;
	content: "";
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.embed-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

 :host ::ng-deep p-carousel {
   //On later realease of PrimeNG, this can be done programmatically with [showIndicators | showNavigators]="false"
   .p-carousel-indicators {
     display: none !important;
   }

   .p-carousel-next, .p-carousel-prev {
     display: none !important;
   }
 }
 .scrollable-container {
	display: flex;
	overflow-x: hidden;
	align-items: center;
}
.answercard {
	background-color: var(--primary-50);
	border: 2px solid var(--primary-500);
	overflow-y: auto;
}
//.answercard {
//	background-color: transparent;
//	border: none;
//	// max-height: 50vh;
//	overflow-y: auto;
//	.readingheight
//	{
//	  max-height:40vh;
//	  overflow-y:auto;
//	  min-height: 35vh;
//	}
//  }

  .cardnobg
  {
	background: transparent;
    border: none;
  }

//:host ::ng-deep .p-carousel-item {
//	//max-height: 600px;
//	//min-height: 600px;
//	height: auto !important;
//	overflow-y: auto !important;
//}
//::ng-deep .answersection .p-carousel-content ng-star-inserted p-carousel-item p-carousel-item-active p-carousel-item-start {
//	height: auto !important;
//}

.heightauto{
	height: auto !important;
}
#pr_id_14 .p-carousel-item {
	flex: 1 0 auto !important; /* Allow items to grow and shrink, and their base size is determined by the content */
	height: auto;   /* Ensure height adjusts based on content */
	display: flex;  /* Use flexbox to allow for flexible layout */
	flex-direction: column; /* Stack items vertically */
}
// ::ng-deep .p-carousel-content {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: stretch;
// 	height: auto !important; /* Ensure the carousel container can grow based on its content */
// }

::ng-deep .p-carousel-item {
	height: auto !important; /* Ensure each carousel item has auto height */
	display: flex;
	flex-direction: column;
}
.searchcard {
	position: relative;
}

.sticky-bottom {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	background-color: white; /* Ensure background color to cover other content */
	z-index: 10; /* Adjust z-index as necessary */
}