.search-dropdown {
  width: 100%;
  position: relative;
}

.search-icon {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  font-size: 1.5rem;
  color: rgb(58 171 50);
  border-right: 1px solid var(--uniprep-primary);
  padding: 10px;
}

.searchheight
{
  height: 2.5rem;
}

.p-inputgroup {
  padding: 0px;
  background: #fff;
  border-radius: 10px;
  .p-button
    {
      border-radius: 0px 8px 8px 0 !important;
    }
}

btn-primary {
  color: black !important;
  border-radius: 0 !important;
}

.list-group {
  position: absolute;
  z-index: 1 !important;
  right: 0;
  left: 0;
  top: 60px;
  overflow: scroll;
  max-height: 400px;
  border-radius: 10px;
}
.answercard {
  background-color: var(--uniprep-primaryop10);
  border: 2px solid var(--uniprep-primary);
  max-height: 60vh;
  overflow-y: auto;
}
li:last-of-type {
  width: 100%;
  position: sticky;
  right: 0;
  bottom: 0;
}

:host ::ng-deep p-carousel {
  .p-carousel-indicators {
    display: none !important;
  }

  .p-carousel-next, .p-carousel-prev {
    display: none !important;
  }
}
.color-red{
  color: green !important;
}
.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fw-bold-yellow{
  font-weight: 700;
  color: #f0780c;
  text-transform: capitalize;
}
.search-button{
  background-color: #4552A3;
}
.b-none{
  border: none !important;
}