<div class="search-dropdown px-0 mb-2">
	<div class="col-md-12">
		<p-inputgroup class=" searchheight">
			<p-inputgroup-addon class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></p-inputgroup-addon>
			<input #searchInput (keyup)="onKey(searchInput.value)" (keyup.enter)="searchKeyWord(searchInput)"
				[(ngModel)]="searchInputText" (input)="onSearchChange(searchInput.value)" pInputText
				placeholder="Enter Your Keywords Here" type="text" />
			<span (click)="clearText()" *ngIf="showCloseIcon" class="border-0 input-group-text passwordvisibility"
				role="button" style="background: transparent">
				<i class="fa-solid fa-xmark text-danger" style="font-size: 1.25rem"></i>
			</span>
			<!-- <button *ngIf="isButtonShowOnlyModulesMenus" (click)="showModuleSearchBare()" class="btn-primary"
			style="background-color: #D9D9D9 !important; color:#394D83 !important ; border-color: #D9D9D9;border-radius: 8px 0px 0px 8px !important;"
			 pButton pRipple >{{flobalsearchbuttonname}}</button> -->
			<button (click)="searchKeyWord(searchInput)" class="btn-primary"
				style="border-radius: 0px 8px 8px 0px !important;" label="Questions" pButton pRipple
				type="button"></button>
		</p-inputgroup>
		<div class="searchcard" *ngIf="isSearchResultFound">
			<div (scroll)="scrollHandler($event)" scrollTracker (scrollingFinished)="onScrollingFinished()"
				*ngFor="let c of searchResult" class="p-2">
				<div class="row mb-2">
					<div class="col-xxl-9 col-xl-8 col-lg-7 col-md-7 col-sm-12 col-12" (click)="gerSelectedQuestion(c)">
						<span [innerHTML]="dataContentChange(c.question)" role="button"> </span>
					</div>
					<div class="col-xxl-3 col-xl-4 col-lg-5 col-md-5 col-sm-12 col-12 d-flex align-items-center justify-content-start justify-content-md-end gap-2"
						role="button">
						<a class="text-small uniprep-primary text-decoration-none"
							(click)="redirectModule(c.module_name)">{{ c.module_name }}</a>
						<i class="fa-solid fa-chevron-right text-small uniprep-primary"></i>
						<a class="text-small uniprep-primary text-decoration-none" (click)="redirectToSubmodule(c)">{{
							c.submodule_name }}</a>
					</div>
				</div>
			</div>
			<div class="row sticky-bottom px-3 py-4 ">
				<div class="col-md-6 col-12 text-md-start text-center order-2 order-md-1">
					<p class="text-left fw-bold">If you can't find your Question! <span (click)="openChat()"
							role="button" class="text-primary font-primarycolor">Ask Us</span></p>
				</div>
				<div class="col-md-6 col-12 text-md-end text-center order-1 order-md-2">
					<p class="text-right fw-bold">Total Related Questions: {{ searchKeywordTotalCount }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<p-dialog #dialogContent [(visible)]="isQuestionAnswerVisible" [draggable]="false" [modal]="true" class="questionmodal"
	header="Header" [maximizable]="true">
	<ng-template pTemplate="header">
		<div class="d-flex w-100 flex-column px-4">
			<div class="d-flex flex-row justify-content-md-between justify-content-center">
				<div class="d-md-block d-none">
					<button (click)="goToHome($event)" class="btn btn-secondary homecardbtn px-3 my-2">
						<i class="fa-solid h5 fa-house"></i><br />
						<span>Home</span>
					</button>
				</div>
				<div class="col-md-10 col-8">
					<h5 class="select-title w-100 text-center mb-0">Searched For - {{ searchInputValue | uppercase }}
					</h5>
					<p-breadcrumb [model]="breadCrumb" class="w-100 mt-2 text-small"></p-breadcrumb>

					<!--                    <div class="row">-->
					<!--                        <p-breadcrumb [model]="breadCrumb" class="w-100 mt-2 d-md-block d-none text-small"></p-breadcrumb>-->
					<!--                    </div>-->
					<div class="row justify-content-center">
						<div class="col">
							<div class="d-flex justify-content-end">
								<a role="button" *ngIf="isAnswerDialogVisiblePrev" (click)="clickPrevious()"> <i
										class="text-green h4 mx-3 mb-0 fa-solid fa-circle-chevron-left"></i></a>
							</div>
						</div>
						<div class="col">
							<!--                            <p-breadcrumb [model]="breadCrumb" class="w-100 mt-2 d-md-block d-none text-small"></p-breadcrumb>-->
							<!--                            <p-breadcrumb [model]="breadCrumb" class="w-100 mt-2 text-small"></p-breadcrumb>-->
						</div>
						<div class="col">
							<a role="button" *ngIf="isAnswerDialogVisibleNext" (click)="clickNext()"><i
									class="text-green mx-3 h4 fa-solid mb-0 fa-circle-chevron-right"></i></a>
						</div>
					</div>
					<div class="row justify-content-center"></div>
				</div>
				<div class="d-md-block d-none">
					<button (click)="openReport()" class="btn btn-primary px-3 homecardbtn my-2">
						<i class="fa-solid h5 fa-file-contract"></i>
						<br />
						<span>Report</span>
					</button>
				</div>
			</div>
			<div class="d-flex justify-content-between d-md-none d-block align-items-center">
				<div>
					<button (click)="goToHome($event)" class="btn btn-secondary homecardbtn px-3 my-2">
						<i class="fa-solid h5 fa-house"></i><br />
						<span>Home</span>
					</button>
				</div>

				<div class="col-md-10 col-8">
					<div class="row justify-content-center"></div>
				</div>
				<div>
					<button (click)="openReport()" class="btn btn-primary px-3 homecardbtn my-2">
						<i class="fa-solid h5 fa-file-contract"></i>
						<br />
						<span>Report</span>
					</button>
				</div>
			</div>
		</div>
	</ng-template>
	<div class="carousel-container px-4">
		<div class="card flex-fill answercard">
			<div class="card-body text-start">
				<div class="d-flex align-items-center justify-content-between position-relative">
					<span class="text-small blockquote text-start mb-0">
						Last updated at: {{ oneQuestionContent?.updated_at | date }}
						<!--                        <span *ngIf="currentModuleId != 8">-->
						<!--							<span *ngIf="oneQuestionContent?.verified === 1" class="badge" style="background-color: #4ffb05">Verified</span>-->
						<!--							<span *ngIf="oneQuestionContent?.pre_verified === 1 && oneQuestionContent?.verified !== 1" style="background-color: darkorchid" class="badge">Pre Verified</span>-->
						<!--							<span *ngIf="oneQuestionContent?.pre_verified !== 1 && oneQuestionContent?.verified !== 1" style="background-color: #3f4c83" class="badge">Non Pre-Verified</span>-->
						<!--						</span>-->
					</span>
					<!--                    <button class="btn btn-primary socialShareBtn" (click)="showSocialSharingList()"><i class="fa-light fa-xl fa-share-nodes"></i></button>-->
					<!--                    <p-card id="socialSharingList">-->
					<!--                        <ul style="list-style: none; cursor: pointer">-->
					<!--                            <li (click)="shareViaWhatsapp()"><i class="pi pi-whatsapp"></i>Whatsapp</li>-->
					<!--                            <li (click)="shareViaMail()"><i class="pi pi-envelope"></i>Email</li>-->
					<!--                            <li (click)="shareViaFacebook()"><i class="pi pi-facebook"></i>Facebook</li>-->
					<!--                            <li (click)="shareViaTwitter()"><i class="pi pi-twitter"></i>Twitter</li>-->
					<!--                            <li (click)="shareViaInstagram()"><i class="pi pi-instagram"></i>Instagram</li>-->
					<!--                            <li (click)="shareViaLinkedIn()"><i class="pi pi-linkedin"></i>LinkedIn</li>-->
					<!--                            <li (click)="copyLink()"><i class="pi pi-link"></i>Copy Link</li>-->
					<!--                        </ul>-->
					<!--                    </p-card>-->
				</div>
				<h3 class="unselectable d-md-block d-none" [innerHTML]="oneQuestionContent?.question"></h3>
				<h5 class="unselectable d-md-none d-block" [innerHTML]="oneQuestionContent?.question"></h5>
				<div class="fw-medium" style="white-space: inherit; max-height: 80%; min-height: 80%"
					[innerHTML]="oneQuestionContent?.answer"></div>
			</div>
		</div>
	</div>

	<ng-template pTemplate="footer">
		<div class="d-flex justify-content-between flex-nowrap flex-column flex-md-row px-4 mt-4 mb-2">
			<div class="flex-full" *ngIf="videoLinks">
				<h5 class="text-start mb-1" *ngIf="oneQuestionContent?.videolink?.length > 0">Recommended Videos</h5>
				<div class="d-flex align-items-center gap-2 pb-2">
					<div class="scrollable-container" id="video-links-container" #videoLinksContainer>
						<div class="d-flex flex-nowrap flex-md-wrap overflow-x-auto gap-2">
							<span class="btn btn-primary text-small videolinkbutton flex-shrink-0 rounded-0"
								(click)="openVideoPopup(videoL.link)"
								*ngFor="let videoL of oneQuestionContent?.videolink; let ind = index">Video {{ ind + 1
								}} &nbsp;<i class="fa-solid fa-video fa-sm"></i></span>
						</div>
					</div>
				</div>
			</div>

			<div class="flex-full" *ngIf="refLink">
				<h5 class="text-start mb-1" *ngIf="oneQuestionContent?.reflink?.length > 0">Recommended Links</h5>
				<div class="d-flex align-items-center gap-2 pb-2">
					<div class="scrollable-container" id="ref-links-container" #refLinksContainer>
						<div class="d-flex flex-nowrap flex-md-wrap overflow-x-auto gap-2">
							<a class="btn btn-secondary text-small reflinkbutton flex-shrink-0 rounded-0"
								target="_blank" href="{{ refL.link }}"
								*ngFor="let refL of oneQuestionContent?.reflink; let ind = index">Link {{ ind + 1 }}
								&nbsp;<i class="fa-solid fa-link fa-sm"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="align-items-center d-flex desktop">
				<button class="btn w-100 btn-primary theme-dark-blue mx-0 px-5 py-2 align-items-center"
					(click)="onClickAsk()">
					<div class="row justify-content-center align-items-center">
						<div class="col-12">
							<i class="fa-solid fa-file-contract h5 mb-2"></i>
						</div>
						<div class="col-12">
							<span>Click here to ask&nbsp;Personalised Questions</span>
						</div>
					</div>
					<!-- <i class="fa-solid fa-file-contract h5 mb-2"></i>
					<br>
					<span>Click here to ask&nbsp;Personalised Questions</span> -->
				</button>
			</div>
		</div>
	</ng-template>
</p-dialog>
<p-dialog [(visible)]="isReviewedByVisible" [draggable]="false" label="Show" [modal]="true" [maximizable]="true"
	[style]="{ width: '30vw' }" header="Header">
	<ng-template pTemplate="header">
		<span class="text-xl font-bold ms-2">Reviewed</span>
	</ng-template>
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-md-3" *ngFor="let review of reviewedByOrgList">
				<img src="{{ review.logo }}" [alt]="review.organizationname" class="w-2 shadow-2 img-fluid" />
			</div>
		</div>
	</div>
</p-dialog>
<!-- <p-dialog [(visible)]="visibleExhastedData" [closable]="false" class="p-0 m-0" [modal]="true"
	[draggable]="false" [resizable]="false">
	<div class="d-flex justify-content-between p-4">
		<div>
			<h4>Your <span class="text-xl font-bold p-1 fw-bold" style="color: #3f4c83"> Subscription</span> Was
				Exhausted</h4>
			<p class="get-certificate">Explore 1000+ modules and 10+ countries on UNIPREP.</p>
		</div>
		<div>
			<img src="../../../uniprep-assets/images/popup-clock.png" alt="clock" width="70" />
		</div>
	</div>
	<div class="px-5 pb-5 pt-3">
		<h4>Get more with our<span class="text-xl font-bold p-1 fw-bold" style="color: #3f4c83"> Subscription.</span>
		</h4>
		<p class="list-data"><i class="pi pi-check mr-2"></i>Access to Over half a million questions and answers</p>
		<p class="list-data"><i class="pi pi-check mr-2"></i>Ask any Personalized Questions & get answer within 8
			working hours</p>
		<p class="list-data"><i class="pi pi-check mr-2"></i>Get Expert Answers to Your Queries</p>
		<p class="list-data"><i class="pi pi-check mr-2"></i>Discover Unexplored Questions</p>
		<p class="list-data"><i class="pi pi-check mr-2"></i>Find Answers to your question with Verified Source links
		</p>
		<p class="list-data"><i class="pi pi-check mr-2"></i>Information verified by experts</p>
		<p class="list-data"><i class="pi pi-check mr-2"></i>Navigate using Smart Keyword Search
		</p>
		<p class="list-data"><i class="pi pi-check mr-2"></i>Updates on international career events
		</p>
		<p class="list-data"><i class="pi pi-check mr-2"></i>Access to global resources</p>
		<div class="d-flex justify-content-center">
			<button class="btn btn-primary btn-rounded me-2 ms-0 my-0" (click)="onClickSubscribedUser()"
				alt="chat with notification"><span class="text-small fw-normal px-3">Subscribe Now</span></button>
		</div>
	</div>
</p-dialog> -->

<div [ngStyle]="{ display: visibleExhastedData ? 'block' : 'none' }" class="modal modal-bg multiDeviceLogoutPopup"
	role="dialog" tabindex="-1">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content card bg-light">
			<div class="text-right-close">
				<a (click)="closeQuiz()" class="close" role="button">
					<span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
				</a>
			</div>
			<div class="modal-body card-body">
				<div class="container">
					<div class="row mb-2">
						<div *ngIf="ehitlabelIsShow" class="col-md-12 px-4">
							<div class="d-flex flex-column">
								<div class="icon-container mb-3 mt-3 text-center">
									<img src="../../../uniprep-assets/images/TrialExpire.png" alt="clock" width="100" />
								</div>
								<div class="mt-3 mb-1">
									<span>
										<strong class="firsttimelogin">
											<h5 style="color: rgb(63 76 131)">Oops! Your Free Trail Expired</h5>
										</strong>
									</span>
								</div>
								<div class="mt-1 text-center">
									<span>
										<strong class="firsttimelogin">
											<h2 style="color: #f0780e; margin-bottom: 0">Subscribe now to continue using
												the platform.</h2>
										</strong>
									</span>
								</div>
								<div class="icon-container mt-1 d-flex justify-content-center mb-1">
									<h6 style="color: rgb(63 76 131)">Enjoy complete access to <strong>UNIPREP</strong>
										V 1.0</h6>
								</div>
								<div class="d-flex justify-content-center">
									<button class="btn btn-primary btn-rounded me-2 ms-0 my-0"
										(click)="onClickSubscribedUser()" alt="chat with notification"><span
											class="text-small fw-normal px-3">Subscribe Now</span></button>
								</div>
							</div>
						</div>
						<div *ngIf="!ehitlabelIsShow" class="col-md-12 px-4">
							<div class="d-flex flex-column">
								<div class="icon-container mb-3 mt-3">
									<img src="../../../uniprep-assets/images/TrialExpire.png" alt="clock" width="100" />
								</div>
								<div class="mt-3 mb-1">
									<span>
										<strong class="firsttimelogin">
											<h5 style="color: rgb(63 76 131)">Oops! Your Free Trail Expired</h5>
										</strong>
									</span>
								</div>
								<div class="icon-container mt-1 d-flex justify-content-center mb-1">
									<h6 style="color: rgb(63 76 131)">Please contact {{orgnamewhitlabel}} Company for
										access</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- vedio pop up -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': showVideoPopup }">
	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body position-relative pt-4">
				<div class="modalbuttons">
					<div class="d-flex gap-2">
						<button title="New Window" type="button" class="btn btn-primary btn-rounded"
							(click)="openNextVideo()"><i class="fa-solid fa-arrow-up-right-from-square"></i></button>
						<button type="button" title="Close Popup" class="btn btn-primary btn-rounded"
							(click)="closeVideoPopup()"><i class="fa-solid fa-xmark"></i></button>
					</div>
				</div>
				<div class="embed-responsive" *ngIf="selectedVideoLink">
					<iframe #videoFrame [src]="selectedVideoLink" width="100%" frameborder="0" allowfullscreen></iframe>
				</div>
				<!--				<div class="embed-responsive"><iframe #videoFrame [src]="selectedVideoLink" width="100%" frameborder="0" allowfullscreen></iframe></div>-->
			</div>
		</div>
	</div>
</div>