.search-dropdown {
  width: 100%;
  position: relative;
}

.search-icon {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  font-size: 1.5rem;
  color: var(--uniprep-primary);
  border-right: 1px solid var(--uniprep-primary);
  padding: 10px;
}

.searchheight
{
  height: 2.5rem;
}

.p-inputgroup {
  padding: 0px;
  background: #fff;
  border-radius: 10px;
  .p-button
    {
      border-radius: 0px 8px 8px 0 !important;
    }
}

btn-primary {
  color: black !important;
  border-radius: 0 !important;
}

.list-group {
  position: absolute;
  z-index: 1 !important;
  right: 0;
  left: 0;
  top: 60px;
  min-height: 200px;
  border-radius: 10px;
}
.answercard {
  background-color: var(--uniprep-primaryop10);
  border: 2px solid var(--uniprep-primary);
  max-height: 60vh;
  overflow-y: auto;
}

:host ::ng-deep p-carousel {
  //On later realease of PrimeNG, this can be done programmatically with [showIndicators | showNavigators]="false"
  .p-carousel-indicators {
    display: none !important;
  }

  .p-carousel-next, .p-carousel-prev {
    display: none !important;
  }
}