<!-- select country currecny -->
<div class="card readingcard" *ngIf="isFormVisible">
    <div class="card-header border-0 bg-transparent">
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex gap-2 text-center">
                <div class="backIcon d-md-flex d-none" role="button" (click)="goBackcareerPlanList()">
                    <span class="fa-solid fa-chevron-left"></span>
                </div>
                <div class="select-title d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-2">
                        <h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
                            <i class="fa-regular fa-home"></i>
                        </h5>
                        <span><i class="fa-solid fa-chevron-right"></i></span>
                        <h5 class=" mb-0" tooltipPosition="top">Career Tools</h5>
                        <span><i class="fa-solid fa-chevron-right"></i></span>
                        <h5 class=" mb-0" tooltipPosition="top">Career Planner</h5>
                        <span><i class="fa-solid fa-chevron-right"></i></span>
                        <h5 class=" mb-0" tooltipPosition="top">Country Wise</h5>
                    </div>
                    <div>
                        <button pButton class="how-it-works-button" severity="warn"
                            (click)="openVideoPopup('https://www.youtube.com/embed/jG3wFxF8zZI?si=2I3dijKIH-aEisoS')">How
                            it works? <i class="fa-solid fa-play d-md-block d-none"></i></button>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-1">
                    <button pButton *ngIf="ehitlabelIsShow" class="btn btn-secondary text-small btn-rounded flex-fill"
                        (click)="buyCredits()" type="button">Buy Credits</button>
                    <button pButton
                        class="btn btn-outline-primary text-small btn-rounded d-flex gap-2 align-items-center flex-fill"
                        type="button">
                        AI Credit <span class="btn-icon text-white">{{ aiCreditCount }}</span>
                    </button>
                    <button pButton type="button" (click)="saveRecommadation()"
                        class="btn btn-primary btn-rounded py-2 px-4">
                        <span>History</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <form role="form" [formGroup]="form" (ngSubmit)="formSubmit()">
            <div class="row">
                <div class="col-12 p-2">
                    <div class="form-group">
                        <h3>Which country are you interested in pursuing your career?</h3>
                        <p-select [options]="countries" styleClass="w-100 border-primary" formControlName="country"
                            optionValue="country" optionLabel="country" placeholder="Select the country where you wish to pursue your career" [filter]="true"
                            [showClear]="true"> </p-select>
                        <div *ngIf="submitted && form.get('country')?.hasError('required')" style="color: red;">
                            Country is required.
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 p-2">
                    <div class="form-group">
                        <h3>Select Your Specialization</h3>
                        <p-select [options]="specializationList" styleClass="w-100 border-primary"
                            formControlName="specialization_name" optionValue="specialization_name"
                            optionLabel="specialization_name" placeholder="Choose the field or specialization you are interested in" [filter]="true"
                            [showClear]="true">
                        </p-select>
                        <div *ngIf="submitted && form.get('specialization_name')?.hasError('required')"
                            style="color: red;">
                            Specialization is required.
                        </div>
                    </div>
                </div>
                <div class="col-12 p-2">
                    <div class="form-group">
                        <h3>How many years of experience do you have?</h3>
                        <p-select [options]="experienceArray" styleClass="w-100 border-primary" formControlName="experience"
                            optionValue="value" optionLabel="label" placeholder="Select your years of experience" [filter]="true"
                            [showClear]="true"> </p-select>
                        <div *ngIf="submitted && form.get('experience')?.hasError('required')" style="color: red;">
                            Experience is required.
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 mt-4 p-2">
                    <div class="form-group">
                        <h3>Select Your Preferred Currency</h3>
                        <p-select [options]="countries" styleClass="w-100 border-primary" formControlName="currency"
                            optionValue="currency_code" optionLabel="currency_code" placeholder="Select Currency"
                            [filter]="true" [showClear]="true" [appendTo]="'body'">
                            <ng-template let-data pTemplate="item">
                                <div>{{data.country}} - {{data.currency_code}}</div>
                            </ng-template> 
                        </p-select>
                        <div *ngIf="submitted && form.get('currency')?.hasError('required')" style="color: red;">
                            Currency is required.
                        </div>
                    </div>
                </div> -->
            </div>
            <button pButton pButton class="btn btn-success btn-rounded footer-btn" type="submit">
                <span class="me-2">Get Recommendations</span>
                <span class="btn-icon px-2 py-2">
                    <i class="fa fa-check-circle"></i>
                </span>
            </button>
        </form>
    </div>
</div>
<!-- get chatgpt response -->
<!-- new design -->
<div class="card readingcard" *ngIf="isFormChatgptresponse">
    <div class="card-header border-0 bg-transparent">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 d-flex gap-4">
                <div class="backIcon d-md-flex d-none" role="button" (click)="BackReset()" style="height: auto;">
                    <span class="fa-solid fa-chevron-left"></span>
                </div>
                <div class="select-title d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-2">
                        <h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
                            <i class="fa-regular fa-home"></i>
                        </h5>
                        <span><i class="fa-solid fa-chevron-right"></i></span>
                        <h5 class=" mb-0" tooltipPosition="top">Career Tools</h5>
                        <span><i class="fa-solid fa-chevron-right"></i></span>
                        <h5 class=" mb-0" tooltipPosition="top">Career Planner</h5>
                        <span><i class="fa-solid fa-chevron-right"></i></span>
                        <h5 class=" mb-0" tooltipPosition="top">Country Wise</h5>
                    </div>
                    <div>
                        <button pButton class="how-it-works-button" severity="warn"
                            (click)="openVideoPopup('https://www.youtube.com/embed/jG3wFxF8zZI?si=2I3dijKIH-aEisoS')">How
                            it works? <i class="fa-solid fa-play d-md-block d-none"></i></button>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-1">
                    <button pButton *ngIf="ehitlabelIsShow" class="btn btn-secondary text-small btn-rounded flex-fill"
                        (click)="buyCredits()" type="button">Buy Credits</button>
                    <button pButton
                        class="btn btn-outline-primary text-small btn-rounded d-flex gap-2 align-items-center flex-fill"
                        type="button">
                        AI Credit <span class="btn-icon text-white">{{ aiCreditCount }}</span>
                    </button>
                    <button pButton type="button" (click)="saveRecommadation()"
                        class="btn btn-primary btn-rounded py-2 px-4">
                        <span>History</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body worksans flex-fill overflow-y-auto">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="d-flex justify-content-end gap-3 mb-3" *ngIf="recommendationData">
                    <button pButton type="button" (click)="downloadRecommadation()"
                        class="btn btn-secondary btn-rounded p-1 ps-4">
                        <span class="me-2">Download</span><span class="btn-icon px-2 py-2">
                            <i class="fa-regular fa-download"></i></span>
                    </button>
                </div>
                <div *ngIf="isResponseSkeleton; else showResponseData"
                    class="card p-3 chatgpt-response bg-white h-100 overflow-y-auto">
                    <p-skeleton width='30rem' height='2rem' styleClass="mb-2"></p-skeleton>
                    <p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
                    <p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
                    <p-skeleton width='90%' height='1rem' styleClass="mb-2"></p-skeleton>
                    <p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
                    <p-skeleton width='95%' height='1rem' styleClass="mb-2"></p-skeleton>
                    <p-skeleton width='50%' height='1rem'></p-skeleton>
                    <div class="divider"></div>
                    <p-skeleton width='30rem' height='2rem' styleClass="mb-2"></p-skeleton>
                    <p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
                    <p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
                    <div class="d-flex justify-content-end">
                        <uni-percentage-loader />
                    </div>
                </div>
                <ng-template #showResponseData>
                    <div class="card p-3 poppins-content chatgpt-response bg-white h-100 overflow-y-auto"
                        [innerHtml]="recommendationData"></div>
                </ng-template>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="card-footer bg-transparent border-0">
        <div class="text-end">
            <button pButton pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="BackReset()">
                Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i>
                </span>
            </button>
        </div>
    </div>
</div>
<!-- saved response -->
<div class="card readingcard" *ngIf="isSavedResponse">
    <div class="card-header border-0 bg-transparent">
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex gap-2 text-center">
                <div class="backIcon d-md-flex d-none" role="button" (click)="goBackChatGptResp()">
                    <span class="fa-solid fa-chevron-left"></span>
                </div>
                <div class="select-title d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-2">
                        <h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
                            <i class="fa-regular fa-home"></i>
                        </h5>
                        <span><i class="fa-solid fa-chevron-right"></i></span>
                        <h5 class=" mb-0" tooltipPosition="top">Career Tools</h5>
                        <span><i class="fa-solid fa-chevron-right"></i></span>
                        <h5 class=" mb-0" tooltipPosition="top">Career Planner</h5>
                        <span><i class="fa-solid fa-chevron-right"></i></span>
                        <h5 class=" mb-0" tooltipPosition="top">Country Wise</h5>
                    </div>
                    <div>
                        <button pButton class="how-it-works-button" severity="warn"
                            (click)="openVideoPopup('https://www.youtube.com/embed/jG3wFxF8zZI?si=2I3dijKIH-aEisoS')">How
                            it works? <i class="fa-solid fa-play d-md-block d-none"></i></button>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-1">
                    <button pButton *ngIf="ehitlabelIsShow" class="btn btn-secondary text-small btn-rounded flex-fill"
                        (click)="buyCredits()" type="button">Buy Credits</button>
                    <button pButton
                        class="btn btn-outline-primary text-small btn-rounded d-flex gap-2 align-items-center flex-fill"
                        type="button">
                        AI Credit <span class="btn-icon text-white">{{ aiCreditCount }}</span>
                    </button>
                    <button pButton type="button" (click)="newResponse()" class="btn btn-primary btn-rounded py-2 px-4">
                        <span>+ New</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-center flex-fill overflow-y-auto">
        <div class="row mb-0">
            <div *ngFor="let item of recommadationSavedQuestionList; let i=index;"
                class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
                <div class="row w-100 m-0 justify-content-center h-100">
                    <div class="card subjectcard" role="button"
                        (click)="showRecommandationData(item.response, item.user_inputs)">
                        <div class="card-body text-start">
                            <p class="text-medium"><b>Country : </b>{{item.country}}</p>
                            <p class="text-medium"><b>Specialization : </b>{{item.specialization_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>