.body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.footer-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.readingarea {
  font-size: 15px;
}

.btn-red {
  background-color: red !important;
  border-color: red !important;
  color: white !important;
  /* Ensure text is visible */
}

::ng-deep .border-primary {
  padding: 3px !important;
}