.body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  form {
    width: 100%;
    max-width: 600px; 
    padding: 20px;
  }
  .footer-btn {
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
  }