<!-- select country currecny -->
<div class="card readingcard" *ngIf="isFormVisible">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="backIcon d-md-flex d-none" role="button" (click)="goBackcareerPlanList()">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div>
						<h5 class="w-100 mb-0" tooltipPosition="top"
							pTooltip="Plan your career path by exploring job opportunities worldwide">Career Planner<i
								class="questiontooltip fa-solid fa-circle-question"></i></h5>
					</div>
					<div>
						<button class="how-it-works-button"
							(click)="openVideoPopup('https://www.youtube.com/embed/jG3wFxF8zZI?si=2I3dijKIH-aEisoS')">How
							it works? <i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="body mt-4">
        <form role="form" [formGroup]="form" (ngSubmit)="formSubmit()">
            <div class="row">
                <div class="col-12 p-2">
                    <div class="form-group">
                        <h3>Which country are you interested in pursuing your career?</h3>
                        <p-dropdown [options]="countries" styleClass="w-100 border-primary" formControlName="country"
                            optionValue="country" optionLabel="country" placeholder="Select Country" [filter]="true"
                            [showClear]="true"> </p-dropdown>
                        <div *ngIf="submitted && form.get('country')?.hasError('required')" style="color: red;">
                            Country is required.
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 p-2">
                    <div class="form-group">
                        <h3>Select Your Specialization</h3>
                        <p-dropdown [options]="specializationList" styleClass="w-100 border-primary" formControlName="specialization_name"
                            optionValue="specialization_name" optionLabel="specialization_name" placeholder="Select Specialization"
                            [filter]="true" [showClear]="true">
                        </p-dropdown>
                        <div *ngIf="submitted && form.get('currency')?.hasError('required')" style="color: red;">
                            Specialization is required.
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 mt-4 p-2">
                    <div class="form-group">
                        <h3>Select Your Preferred Currency</h3>
                        <p-dropdown [options]="countries" styleClass="w-100 border-primary" formControlName="currency"
                            optionValue="currency_code" optionLabel="currency_code" placeholder="Select Currency"
                            [filter]="true" [showClear]="true" [appendTo]="'body'">
                            <ng-template let-data pTemplate="item">
                                <div>{{data.country}} - {{data.currency_code}}</div>
                            </ng-template> 
                        </p-dropdown>
                        <div *ngIf="submitted && form.get('currency')?.hasError('required')" style="color: red;">
                            Currency is required.
                        </div>
                    </div>
                </div> -->
            </div>
            <button pButton class="btn btn-success btn-rounded footer-btn" type="submit">
                <span class="me-2">Get Recommendations</span>
                <span class="btn-icon px-2 py-2">
                    <i class="fa fa-check-circle"></i>
                </span>
            </button>
        </form>
    </div>
</div>
<!-- get chatgpt response -->
<!-- new design -->
<div class="card readingcard" *ngIf="isFormChatgptresponse">
    <div class="card-header border-0 bg-transparent">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 d-flex gap-4">
                <div class="backIcon d-md-flex d-none" role="button" (click)="BackReset()" style="height: auto;">
                    <span class="fa-solid fa-chevron-left"></span>
                </div>
                <div class="select-title d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="w-100 mb-0" tooltipPosition="top"
                        pTooltip="Plan your career path by exploring job opportunities worldwide">Career Planner<i
                            class="questiontooltip fa-solid fa-circle-question"></i></h5>
                    </div>
                    <div>
                        <button class="how-it-works-button">How it works?
                            <i class="fa-solid fa-play d-md-block d-none"></i></button>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button pButton type="button" (click)="saveRecommadation()"
                        class="btn btn-primary btn-rounded py-2 px-4">
                        <span>History</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body worksans flex-fill overflow-y-auto">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="d-flex justify-content-end gap-3 mb-3">
                    <button pButton type="button" (click)="downloadRecommadation()"
                        class="btn btn-secondary btn-rounded p-1 ps-4">
                        <span class="me-2">Download</span><span class="btn-icon px-2 py-2">
                            <i class="fa-regular fa-download"></i></span>
                    </button>
                    <!-- <button pButton type="button" (click)="onSaveRes()"
                        class="btn btn-primary btn-rounded p-1 ps-4">
                        <span class="me-2">Save Response</span><span class="btn-icon px-2 py-2">
                            <i class="fa-regular fa-floppy-disk"></i></span>
                    </button> -->
                </div>
                <markdown emoji>
                    <div class="card p-3 poppins-content" [innerHtml]="customizedResponse"></div>
                </markdown>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="card-footer bg-transparent border-0">
        <div class="text-end">
            <button pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="BackReset()">
                Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i>
                </span>
            </button>
        </div>
    </div>
</div>
<!-- saved response -->
<div class="card readingcard" *ngIf="isSavedResponse">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="backIcon d-md-flex d-none" role="button" (click)="goBackChatGptResp()">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div>
						<h5 class="w-100 mb-0" tooltipPosition="top"
							pTooltip="Plan your career path by exploring job opportunities worldwide">Career Planner<i
								class="questiontooltip fa-solid fa-circle-question"></i></h5>
					</div>
					<div>
						<button class="how-it-works-button"
							(click)="openVideoPopup('https://www.youtube.com/embed/jG3wFxF8zZI?si=2I3dijKIH-aEisoS')">How
							it works? <i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
                <!-- <div class="d-flex align-items-center">
                    <button pButton type="button" (click)="saveRecommadation()"
                        class="btn btn-primary btn-rounded py-2 px-4">
                        <span>Save</span>
                    </button>
                </div> -->
			</div>
		</div>
	</div>
    <div class="card-body text-center flex-fill overflow-y-auto">
        <div class="row mb-0">
            <div *ngFor="let item of recommadationSavedQuestionList; let i=index;"
                class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
                <div class="row w-100 m-0 justify-content-center h-100">
                    <div class="card subjectcard" role="button" (click)="showRecommandationData(item.response)">
                        <div class="card-body text-start">
                            <p class="text-medium"><b>Country : </b>{{item.country}}</p>
                            <p class="text-medium"><b>Specialization : </b>{{item.specialization_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
