<div class="card readingcard">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<!-- <div class="col-md-8 text-center">
				<h5 class="select-title mb-1" tooltipPosition="top" pTooltip="Quiz">QUIZ<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
			</div> -->
			<div class="col-md-12 d-flex gap-2 text-center">
                <div class="backIcon d-md-flex d-none" (click)="goBack()" role="button">
                    <span class="fa-solid fa-chevron-left"></span>
                  </div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div>
						<h5 class="w-100 mb-0" tooltipPosition="top" pTooltip="Access resources for starting your business, from ideation to execution.">{{headertooltipname}}<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
					</div>
					<div>
						<button class="how-it-works-button" (click)="openVideoPopup('https://www.youtube.com/embed/l00Z_Nk6GLI?si=j1IwWBZjrXEAYjxH')">How it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="card-body text-center flex-fill overflow-y-auto" *ngIf="isShowCountryData">
        <div class="row mb-0">
            <div *ngFor="let item of countrylist; let i=index;"
                class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
                <div class="row w-100 m-0 justify-content-center h-100">
                    <div class="card subjectcard" role="button">
                        <div class="card-body" (click)="showDatas(item)">
                           <!-- <img src="{{item.country_flag}}" alt="" height="70" width="70"> -->
                           <div class="submoduleicon">
                            <img alt="" class="selectimage" src="{{item.country_flag}}" />
                          </div>
                           <p class="mt-2" style="font-size: small;"><b>{{item.country}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-center flex-fill overflow-y-auto" *ngIf="isShowCountryQuesAns">
        <div class="row mb-0">
            <div *ngFor="let item of questuionanswerlist; let i=index;"
                class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
                <div class="row w-100 m-0 justify-content-center h-100">
                    <div class="card subjectcard" role="button" (click)="showDataAnswer(item)">
                        <div class="card-body text-start">
                            <p class="text-medium">{{item.quesions}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- question ans -->
<p-dialog #dialogContent [(visible)]="isQuestionAnswerVisible" [draggable]="false" [modal]="true" class="questionmodal" header="Header" [maximizable]="true" (onShow)="onShowModal($event)">
    <ng-template pTemplate="header">
      <div class="d-flex w-100 flex-column px-4">
        <div class="d-flex flex-row justify-content-md-between justify-content-center">
          <div class="d-md-block d-none">
            <button (click)="goToHome($event)" class="btn btn-secondary homecardbtn px-3 mt-4 mb-3">
              <i class="fa-solid h5 fa-house"></i><br />
              <span>Home</span>
            </button>
          </div>
            <div class="col-md-8 col-6">
            <h5 class="select-title w-100 text-center mb-0">{{headertooltipname}}</h5>
          </div>
          <div class="d-md-block d-none">
              <button (click)="openReport()" class="btn btn-primary px-3 py-3 homecardbtn mt-2 mb-2 mx-2">
              <i class="fa-solid h5 fa-file-contract"></i>
              <br />
              <span>Report</span>
                  <br/>
            </button>
  
          </div>
        </div>
      </div>
    </ng-template>
    <div class="carousel-container px-4">
      <div class="card flex-fill answercard">
        <div class="card-body text-start">
          <div class="d-flex align-items-center justify-content-between position-relative" style="float: right;">
            <button class="btn btn-primary socialShareBtn" (click)="showSocialSharingList()"><i class="fa-light fa-xl fa-share-nodes"></i></button>
            <p-card id="socialSharingList">
              <ul style="list-style: none; cursor: pointer">
                <li (click)="shareViaWhatsapp()"><i class="pi pi-whatsapp"></i>Whatsapp</li>
                <li (click)="shareViaMail()"><i class="pi pi-envelope"></i>Email</li>
                <li (click)="shareViaFacebook()"><i class="pi pi-facebook"></i>Facebook</li>
                <li (click)="shareViaTwitter()"><i class="pi pi-twitter"></i>Twitter</li>
                <li (click)="shareViaInstagram()"><i class="pi pi-instagram"></i>Instagram</li>
                <li (click)="shareViaLinkedIn()"><i class="pi pi-linkedin"></i>LinkedIn</li>
                <li (click)="copyLink()"><i class="pi pi-link"></i>Copy Link</li>
              </ul>
            </p-card>
          </div>
          <!-- <h3 class="unselectable d-md-block d-none">{{dataanswerquestion?.quesions}}</h3> -->
          <!-- <h5 class="unselectable d-md-none d-block">hssksk</h5> -->
          <div class="fw-medium" style="white-space: inherit; max-height: 80%; min-height: 80%" [innerHTML]="dataanswerquestion?.blogs"></div>
          <!-- <div class="fw-medium" style="white-space: inherit; max-height: 80%; min-height: 80%"> {{dataanswerquestion?.blogs}}</div> -->

        </div>
      </div>
    </div>
  </p-dialog>