.questioncard {
  border: 1px solid var(--primary-400);
  padding: 0;
  .homecountry {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    padding: 0;
    img {
      height: 100%;
      width: 100%;
      border-radius: 100%;
      border: 1px solid transparent;
      object-fit: cover;
    }
  }
}
.saved-btn {
  background-color: #EBEDF2;
  color: #001631 !important;
  border-radius: 20px !important;
  border: none;
}
.universityicon {
  color: var(--secondary-500);
}
.primary-color {
  color: var(--primary-500);
}
.popup-header {
  background-color: #2e2f89;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.popup-body {
  padding: 20px;
  background-color: #ffffff;
}

.popup-sections {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.popup-section {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  background-color: #f9f9f9;
  overflow-y: auto;
}
.estimatemainblock {
  border-radius: 1rem;
  line-height: 1.9;
}
.mainblock {
  height: 75vh;
  .card-header {
    font-size: large;
    color: var(--primary-500);
    font-weight: 700;
    text-align: center;
    background: #ebedf2;
  }
  .card-body {
    background: #ebedf2;
    .readingarea {
      font-size: medium;
      font-weight: 600;
    }
  }
}
.popup-section h6 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.quesHeading {
  font-size: x-large;
  color: var(--primary-500);
  font-weight: 700;
}

.font-size-25{
  font-size: 25px;
}