<div class="card readingcard">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="backIcon" role="button" (click)="backtoMain()">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
							<i class="fa-regular fa-home"></i></h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 routerLink="/pages/job-tool/career-tool" role="button" class="mb-0" tooltipPosition="top"
							pTooltip="">Career Tools</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top">Global Employment Insights</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top"
							pTooltip="Questions related to the application process are answered">{{ prepData.country + "
							Employment Insights" }}</h5>
					</div>
					<div>
						<!-- <button (click)="
                openVideoPopup(
                  'https://www.youtube.com/embed/cbny1-f4rXI?si=E3WEU6LuiMLWA1Uq'
                )
              " class="how-it-works-button">
                            How it works?<i class="fa-solid fa-play d-md-block d-none"></i>
                        </button> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body text-center flex-fill overflow-y-auto">
		<div *ngIf="isSkeletonVisible">
			<div class="row">
				<div *ngFor="let index of loopRange" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-12">
					<div class="card my-2">
						<div class="card-body">
							<div class="row justify-content-center align-items-center">
								<div class="col-3 col-md-12 d-flex justify-content-center">
									<p-skeleton width="5rem" height="5rem" styleClass="mb-2"></p-skeleton>
								</div>
								<div class="col-9 col-md-12">
									<p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
									<p-skeleton width="100%"></p-skeleton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex" [ngClass]="{ 'justify-content-center align-items-center h-100': ListData.length <= 4 }"
			*ngIf="!isSkeletonVisible && totalDataCount != 0">
			<div class="row w-100"
				[ngClass]="{ 'justify-content-center align-items-center h-100': ListData.length <= 4 }">
				<div *ngFor="let module of ListData" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-12">
					<div (click)="readSavedResponse(module)" class="card subjectcard mb-3" role="button">
						<div
							class="card-body d-flex flex-md-column flex-row justify-content-md-between align-items-center px-0 py-2">
							<div>
								<div class="submoduleicon">
									<img alt="{{ module.title }}" class="selectimage" src="{{ module.image }}" />
								</div>
								<h6 class="text-center subjecttitle d-md-block d-none pt-2">
									{{ module.title }}
								</h6>
							</div>
							<div class="text-start text-md-center">
								<h6 class="subjecttitle d-md-none d-block pt-2">
									{{ module.title }}
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer border-0 bg-transparent">
		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">
				<p-paginator [rows]="perpage" [totalRecords]="totalDataCount" (onPageChange)="paginate($event)"
					[rowsPerPageOptions]="[50, 100, 300, 500, 1000]"></p-paginator>
			</div>
		</div>
	</div>
</div>
<uni-restriction-dialog *ngIf="restrict" [isShowRestrict]="restrict" (closeRestrictModal)="restrict = false" />

<p-dialog #dialogContent [(visible)]="isQuestionAnswerVisible" [draggable]="false" [modal]="true"
	class="questionmodal custom-quiz-modal" header="Header" [closable]="false" (onShow)="onShowModal($event)">
	<ng-template pTemplate="header">
		<div class="card-header border-0 bg-transparent px-4 pt-4 pb-0 w-100">
			<div class="row justify-content-center">
				<div class="col-md-12 d-flex gap-2 text-center">
					<div class="career-homeIcon px-3" role="button" (click)="backtoMain()">
						<span class="fa-solid fa-home me-2"></span>Home
					</div>
					<div class="select-title d-flex flex-fill gap-2 align-items-center w-100">
						<h5 routerLink="/pages/job-tool/career-tool" role="button" class="mb-0" tooltipPosition="top"
							pTooltip="">Career Tools</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top">Global Employment Insights</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top"
							pTooltip="Questions related to the application process are answered">{{ prepData.country + "
							Employment Insights" }}</h5>
					</div>
					<div class="career-reportIcon px-3" role="button" (click)="openReport()">
						<span class="fa-solid fa-file me-2"></span>Report
					</div>
					<div class="career-closeIcon" role="button" (click)="isQuestionAnswerVisible = false">
						<span class="fa-solid fa-close"></span>
					</div>
				</div>
			</div>
			<div class="d-flex align-items-center position-relative mt-1" style="justify-content: end !important">
				<button class="btn socialShareBtn" (click)="showSocialSharingList()">
					<i class="fa-solid fa-share"></i></button>
				<p-card id="socialSharingList">
					<ul style="list-style: none; cursor: pointer">
						<li (click)="shareViaWhatsapp()"><i class="pi pi-whatsapp"></i>Whatsapp</li>
						<li (click)="shareViaMail()"><i class="pi pi-envelope"></i>Email</li>
						<li (click)="shareViaFacebook()"><i class="pi pi-facebook"></i>Facebook</li>
						<li (click)="shareViaTwitter()"><i class="pi pi-twitter"></i>Twitter</li>
						<li (click)="shareViaInstagram()"><i class="pi pi-instagram"></i>Instagram</li>
						<li (click)="shareViaLinkedIn()"><i class="pi pi-linkedin"></i>LinkedIn</li>
						<li (click)="copyLink()"><i class="pi pi-link"></i>Copy Link</li>
					</ul>
				</p-card>
			</div>
		</div>
	</ng-template>
	<div class="px-4 blog-content">
		<div class="card flex-fill answercard" style="border: none">
			<div class="card-body text-start">
				<h1><b>{{ selectedQuestionData?.title }}</b></h1>
				<div class="fw-medium" style="white-space: inherit; max-height: 80%; min-height: 80%"
					[innerHTML]="selectedQuestionData?.answer"></div>
			</div>
		</div>
	</div>
</p-dialog>