.country-card {
    max-width: 200px;
    max-height: 185px;
    border-radius: 16px;
    cursor: pointer;
    border-color: var(--uniprep-secondary) !important;
}
.country-card:hover {
    background-color: lightgray !important;
    border-color: var(--uniprep-primary) !important;
}
.flag-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px auto;
    overflow: hidden;
}
