.country-card {
    max-width: 200px;
    max-height: 185px;
    border-radius: 16px;
    cursor: pointer;
    border-color: var(--secondary-500) !important;
}
.country-card:hover {
    background-color: lightgray !important;
    border-color: var(--primary-500) !important;
}
.flag-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px auto;
    overflow: hidden;
    position: relative; /* Add this */
    display: flex; /* Add this */
    align-items: center; /* Add this */
    justify-content: center; /* Add this */
  }
  
  .flag-circle img {
    width: 100%; /* Change this */
    height: 100%; /* Add this */
    object-fit: cover; /* Keep this */
    object-position: center; /* Add this */
  }
