<div class="container-fluid mt-2 mb-0">
    <div class="row gap-3 d-flex">
        <div class="card col footer-card w-100 px-0" role="button">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <i class="h4 fa-solid fa-message"></i>
                    <p class="mb-2 text-end fw-medium fctitle">Ask your personalized<br>Questions</p>
                </div>
                <div class="d-flex  align-items-center justify-content-between">
                    <p class="p-0 m-0 text-start text-small fw-medium">Questions<br>Answered</p>
                    <h4 class="mb-0">{{dashboardCount.personalisedquestioncount}}</h4>
                </div>
            </div>
        </div>
        <div class="card col footer-card w-100 px-0" role="button">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <i class="h4 fa-solid fa-question"></i>
                    <p class="mb-2 text-end fw-medium fctitle">Recently Added<br>Questions</p>
                </div>
                
                <div class="d-flex  align-items-center justify-content-between">
                    <p class="p-0 m-0 text-start text-small fw-medium">Added in last<br>30 days</p>
                    <h4 class="mb-0">{{dashboardCount.recentlyaddedquestion}}</h4>
                </div>
            </div>
        </div>
        <div class="card col footer-card w-100 px-0" role="button">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <i class="h4 fa-solid fa-circle-check"></i>
                    <p class="mb-2 text-end fw-medium fctitle">Total Questions</p>
                </div>
                
                <div class="d-flex  align-items-center justify-content-between">
                    <p class="p-0 m-0 text-start text-small fw-medium">Questions<br>Answered</p>
                    <h4 class="mb-0">{{dashboardCount.totalquestioncount}}</h4>
                </div>
            </div>
        </div>
        <div class="card col footer-card w-100 px-0" role="button">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <i class="h4 fa-solid fa-circle-question"></i>
                    <p class="mb-2 text-end fw-medium fctitle">Most Popular <br>Questions</p>
                </div>
                
                <div class="d-flex  align-items-center justify-content-between">
                    <p class="p-0 m-0 text-start text-small fw-medium">Questions<br>Answered</p>
                    <h4 class="mb-0">{{dashboardCount.popularquestioncount}}</h4>
                </div>
            </div>
        </div>
        <div class="card col footer-card w-100 px-0" role="button">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <i class="h4 fa-solid fa-graduation-cap"></i>
                    <p class="mb-2 text-end fw-medium fctitle">Number of Registered <br>Students</p>
                </div>
                
                <div class="d-flex  align-items-center justify-content-between">
                    <p class="p-0 m-0 text-start text-small fw-medium">Active<br>Users</p>
                    <h4 class="mb-0">{{dashboardCount.registereduser}}</h4>
                </div>
            </div>
        </div>
        <div class="card col footer-card w-100 px-0" role="button">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <i class="h4 fa-solid fa-user-graduate"></i>
                    <p class="mb-2 text-end fw-medium fctitle">Certificate <br>Granted</p>
                </div>
                
                <div class="d-flex align-items-center justify-content-between">
                    <p class="p-0 m-0 text-start text-small fw-medium">Added in last<br>30 days</p>
                    <h4 class="mb-0">{{dashboardCount.certificate_granted}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>