.congratulations {
  font-family: Allura;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.rectangle-534 {
  padding: 40px 20px;
  border: solid 1px #9dc52a;
  background-color: #545454;
}
.rectangle-651 {
  border-radius: 12px;
  border: solid 3px #707070;
}
.actionbtn {
  color: #ffffff;
  padding: 5px 18px 5px 18px;
  min-width: 150px;
  border-radius: 25px;
  font-size: .8rem;
  border: solid 1px #9bc329;
  background-color: #8e8e8e;
}