.small-image {
	width: 40%;
	text-align: left;
}
.fa-check-circle{
    font-size: 80px;
    margin-bottom: 20px;
    color: green;
}
.card{
    height:500px;
}
.centerdiv{
position: relative;
top: 30%;
}

.countdown-container {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.countdown-timer {
    font-weight: bold;
    color: #e74c3c;
}

table, td, th {
    border: 1px solid lightgrey;
  }
  
  table {
    width: 50%;
  border-collapse: collapse;
  margin:0 auto ;
  }