.small-image {
	width: 40%;
	text-align: left;
}
.fa-check-circle{
    font-size: 80px;
    margin-bottom: 20px;
    color: green;
}
.card{
    height:500px;
}
.centerdiv{
position: relative;
top: 30%;
}