<div class="card readingcard">
	<div class="card-header p-0 bg-transparent border-0">
		<div class="row justify-content-center">
			<div class="col-md-3 text-start"></div>
			<div class="col-md-6 text-center">
				<div class="select-title text-nowrap d-flex justify-content-between align-items-center">
					<div>
						<h5 class="w-100 mb-1" tooltipPosition="top" pTooltip="Job Portal">Job Portal<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
					</div>
					<div>
						<button class="how-it-works-button">&nbsp;How it works? &nbsp;&nbsp;<i class="fa-solid fa-play"></i></button>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-end"></div>
		</div>
	</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-12 mt-3">
                <div class="card resourcecard  text-black h-100" >
                    <div class="card-body d-flex">
                        <div class="h-100" id="resourceLink">
                            <a href="https://novoresume.com/" class="text-dark text-start text-decoration-none h-100" target="_blank" style="pointer-events: none">
                                <div class="d-flex gap-3 align-items-center h-100">
                                    <div class="resourceimg"><img src="https://api.uniprep.ai/uniprepapi/storage/app/public/resources-coverimage/cv.svg" alt="" /></div>
                                    <div class="d-flex flex-column gap-2 justify-content-between">
                                        <div>
                                            <h5 title="Cover Letter Builder">CV Builder</h5>
                                            <p style="overflow-wrap: anywhere" class="small mb-0" tooltipPosition="top" pTooltip="Craft personalized and compelling cover letters for job applications." tooltipStyleClass="tooltip">
                                               With the CV builder you can get yourself ready for a job easily
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 mt-3">
                <div class="card resourcecard  text-black h-100" >
                    <div class="card-body d-flex">
                        <div class="h-100" id="resourceLink">
                            <a href="https://resumaker.ai/cover-letter/" class="text-dark text-start text-decoration-none h-100" target="_blank" style="pointer-events: none">
                                <div class="d-flex gap-3 align-items-center h-100">
                                    <div class="resourceimg"><img src="https://api.uniprep.ai/uniprepapi/storage/app/public/resources-coverimage/CoverLetter.svg" alt="" /></div>
                                    <div class="d-flex flex-column gap-2 justify-content-between">
                                        <div>
                                            <h5 title="Cover Letter Builder">Cover Letter Builder</h5>
                                            <p style="overflow-wrap: anywhere" class="small mb-0" tooltipPosition="top" pTooltip="Craft personalized and compelling cover letters for job applications." tooltipStyleClass="tooltip">
                                               This tool lets you build a cover letter with the help of few easy steps
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
