.darksection {
	background-color: #07070b;
}
.custom-badge {
	background-color: var(--p-secondary-50);
	border: 1px solid var(--p-secondary-500);
	color: black;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-size: 0.8rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	cursor: pointer;
	&:hover {
		background-color: var(--p-secondary-200);
	}
}
:host ::ng-deep .p-rating-option-active .p-rating-icon {
	color: #EAB308;
}
.color-gray
{
  color: #707070;
}
.color-blue
{
  color: #0052B4;
}
.color-purple
{
  color: #6537CF;
}
.color-red
{
  color: #CF373A;
}
.color-green
{
  color: #97C13D;
}
.color-orange
{
  color: var(--p-secondary-500);
}
.color-darkblue
{
  color: #000088;
}