.submangercard {
    border: 1px solid #9bc329;
    height: auto;
    width: 100%;
    border-radius: 0.35rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.35rem;
    padding: 30px;
  }
  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
    background: #eae9e9;
    // width: 100%;
    height: auto;
    padding: 10px;
}
.description{
    margin: 15px;
    color: #000000;
    float: left;
    inline-size: 500px;
    overflow: hidden;
    width: 550px;
}
.plan{
    margin-top: 30px;
    width: 150px;
    height: 23px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #9bc329;
    border: 1px solid #9bc329;
    border-radius: 5px;
    color: #ffffff;
}
.plan1{
    margin-top: 30px;
    width: 150px;
    height: 23px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: left;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    color: #ffffff;
}
.plan2{
    margin-top: 30px;
    width: 150px;
    height: 23px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: left;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    color: #ffffff;
}
.btncolor {
    background-color: #9bc329;
    color: #ffffffff;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
  }
.btnclass{
    margin-top: 30px;
    width: 150px;
    height: 23px;
    padding-left:100px ;   
    float: right;
   

}
.vl {
    border-left: 6px solid #9bc3297a;
    height: 55px;
    margin: 15px;
  }