.optionanswered {
	border: 2px solid var(--p-primary-500);
    border-radius: 10px;
    background: var(--p-green-600);
    color: var(--uniprepprimarydark);
}

.optionreviewcorrect {
	border: 2px solid var(--p-lime-500);
	background: var(--p-green-600);
	border-radius: 8px;
	color: var(--p-neutral-50);
}
.optionreviewnotcorrect {
	border: 2px solid var(--p-lime-500);
	background: white;
	border-radius: 8px;
}
.answercorct{
	border: 2px solid var(--p-lime-500);
	background: var(--p-green-600);
	border-radius: 8px;
	color: white;

}

.answernotcorct{
	border: 2px solid var(--uniprep-red);
	background: red;
    color: white;
	border-radius: 8px;
}

.answernotselected{
	color: white;
	color: black;
}

.green{
	border: 2px solid var(--p-lime-500);
	background: var(--p-green-600);
	border-radius: 8px;
	color: white;
}

.red{
	border: 2px solid var(--uniprep-red);
	background: red;
    color: white;
	border-radius: 8px;
}

.white{
	border: 2px solid var(--uniprep-red);
	background: white;
	border-radius: 8px;
}