.arrowchilditems {
  margin-left: 25px !important;
}
.arrow-right-ufade:after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  border-top: 28px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 20px solid #e8e8e8;
  z-index: 1;
}
.bg-green {
  background-color: #9bc329;
  border-radius: 50%;
  color: #ffffff;
  padding: 2px;
  text-align: center;
  svg {
    vertical-align: text-top;
  }
}
#watch {
  background-color: #ffffff;
  border: 0px solid white;
  border-radius: 10px;
  padding: 2px 10px;
}
.custom_container {
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: hidden;
}
.arrow-right-udefault:after {
   content: "";
   position: absolute;
   right: -20px;
   top: 0;
   border-top: 28px solid transparent;
   border-bottom: 22px solid transparent;
   border-left: 20px solid #ffffff;
   z-index: 1;
 }
.ufade {
  position: relative;
  width: 220px;
  height: 50px;
  line-height: 40px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
  font-size: 0.66rem;
  background: #e8e8e8;
}
.udefault {
  position: relative;
  width: 220px;
  height: 50px;
  line-height: 40px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
  font-size: 0.66rem;
  background: #ffffff;
}
.bg-white {
  background-color: #ffffff !important;
}
.upload_h {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #9bc329;
}

.container_footer {
  margin-bottom: 0.8rem;
  p {
    font-size: .8rem;
  }
  span {
    color: #9bc329;
  }
}
.footer-btn {
  padding: 1rem;
  text-align: end;
}
.btn-dark {
  background: linear-gradient(
                  90deg,
                  rgb(127 129 121) 35%,
                  rgb(101, 106, 87) 60%,
                  rgb(76 78 72) 85%
  ) !important;
  border-color: grey !important;
}
.containerr {
  width: 100%;
  height: 100%;
  padding: 5rem;
  text-align: center;
  border: dashed 1.5px #9bc329;
  position: relative;
  margin: 0 auto;
  background-color: rgb(63 57 57 / 7%);
  &:hover {
    background-color: rgb(63 57 57 / 5%);
  }
  &:active {
    background-color: rgb(63 57 57 / 1%);
  }
  input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #db202f;
    padding: 8px 16px;
  }

  h3 {
    font-size: 0.65rem;
    font-weight: 600;
    color: #38424c;
  }
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.files-list {
  margin-top: 1.5rem;

  .single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    margin-bottom: 1rem;

    .delete {
      display: flex;
      margin-left: 0.5rem;
      cursor: pointer;
      align-self: flex-end;
    }

    display: flex;
    flex-grow: 1;

    .name {
      font-size: 14px;
      font-weight: 500;
      color: #353f4a;
      margin: 0;
    }

    .size {
      font-size: 12px;
      font-weight: 500;
      color: #a4a4a4;
      margin: 0;
      margin-bottom: 0.25rem;
    }

    .info {
      width: 100%;
    }
  }
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.sop-container {
  h6 {
    font-weight: 800;
  }
  hr {
    width: 100%;
  }
}
._container {
  width: 100%;
  overflow: hidden;
  border: 1px solid #9bc329;
  border-radius: 11px;
  position: relative;
  margin: 0 auto;
  div {
    overflow: auto;
    height: 100%;
    padding: 10px;
  }
}
.doc-container {
  margin: 0px 0 -15px 0px;
  h6 {
    font-weight: 600;
  }
  hr {
    width: 100%;
  }
}
._footer_part {
  display: flex;
  background: #9bc329;
  color: white;
  padding: 5px;
  width: 70%;
  justify-content: space-around;
  margin: auto;
  font-size: .8rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  div {
    text-align: center;
    flex: 1;
    border-right: 1px solid white;
    &:last-child {
      border-right-width: 0px;
    }
  }
}
.sop-subscription-remind {
  min-height: 450px;
  background-image: url("/assets/images/SOP2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}
.p-dialog-content {
  padding: 10px !important;
}
