<div class="card readingcard">
	<ng-container *ngIf="isRecommendationQuestion">
		<div class="card-header border-0 bg-transparent">
			<div class="row justify-content-center">
				<div class="col-md-12 d-flex gap-2">
					<div class="backIcon d-md-flex d-none" role="button" (click)="goBack()" style="height: auto">
						<span class="fa-solid fa-chevron-left"></span>
					</div>
					<div class="select-title d-flex justify-content-between align-items-center">
						<div class="d-flex gap-2">
							<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top"
								pTooltip=""><i class="fa-regular fa-home"></i></h5>
							<span><i class="fa-solid fa-chevron-right"></i></span>
							<h5 routerLink="/pages/founderstool/founderstoollist" role="button" class="mb-0"
								tooltipPosition="top">Founders Tool</h5>
							<span><i class="fa-solid fa-chevron-right"></i></span>
							<h5 role="button" class="mb-0" tooltipPosition="top"
								pTooltip="Access resources for starting your business, from ideation to execution.">
								Startup Expense Estimator</h5>
						</div>
					</div>
					<div class="d-flex align-items-center gap-1">
						
						<button pButton type="button" (click)="saveRecommadation()"
							class="btn btn-primary btn-rounded py-2 px-4">
							<span>History</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body text-center d-flex align-items-center overflow-y-auto">
			<form [formGroup]="marketingForm" class="mt-4">
				<p-carousel [value]="recommendations" [numVisible]="1" [numScroll]="1" [circular]="false"
					[showNavigators]="false" [showIndicators]="false" [page]="activePageIndex" styleClass="h-100">
					<ng-template let-recommendation let-i="index" pTemplate="item">
						<div class="row text-center">
							<!-- ------------------ Basic Information View -------------------- -->
							<div *ngIf="recommendation.id == 1" class="col-md-6 offset-md-3">
								<h2 class="fw-bold mb-2">
									{{ recommendation.question.heading }}
								</h2>
								<div class="d-flex flex-column gap-2 mb-2">
									<h5 class="uniprep-primary fw-semibold mt-3 mb-1">
										{{ recommendation.question.branches[0] }}
									</h5>
									<p-select styleClass="w-100 text-start" appendTo="body" [options]="industryList"
										[filter]="true" formControlName="industry" filterBy="Industry"
										optionLabel="Industry" placeholder="Select Industry" optionValue="Industry"
										[autoDisplayFirst]="false"> </p-select>
									<p class="text-center"
										*ngIf="marketingForm.get('industry')?.errors?.required && submitted"
										style="color: red">Please enter the industry type</p>
								</div>
								<div class="d-flex flex-column gap-2 mb-1">
									<h5 class="uniprep-primary fw-semibold mt-3 mb-1">
										{{ recommendation.question.branches[1] }}
									</h5>
									<!-- <p-select styleClass="w-100" appendTo="body" [options]="locationsList" [filter]="true"
                                      formControlName="location" filterBy="district" optionLabel="district" optionValue="district" placeholder="Select Location"
                                      [autoDisplayFirst]="false">
                                    </p-select> -->

									<p-select [options]="departureLocationList" [virtualScroll]="true"
										[virtualScrollItemSize]="50" formControlName="location" [appendTo]="'body'"
										[filter]="true" filterBy="city_name,country_name" [showClear]="true"
										placeholder="Select Departure location" styleClass="w-100 text-start">
										<ng-template let-country pTemplate="item">
											<div class="d-flex align-items-center gap-2">
												<div class="dropdownimg">
													<img [src]="country.flag" class="img-fluid" />
												</div>
												<div>
													<span *ngIf="country.city_name !== null"> {{ country.city_name }},
													</span>{{ country.country_name }}
												</div>
											</div>
										</ng-template>
										<ng-template pTemplate="selectedItem" let-selectedOption>
											<div class="d-flex align-items-center gap-2">
												<div class="dropdownimg">
													<img [src]="selectedOption.flag" class="img-fluid" />
												</div>
												<div>
													<span *ngIf="selectedOption.city_name !== null"> {{
														selectedOption.city_name }}, </span>{{
													selectedOption.country_name }}
												</div>
											</div>
										</ng-template>
									</p-select>
									<p class="text-center"
										*ngIf="marketingForm.get('location')?.errors?.required && submitted"
										style="color: red">Please Choose Any one option</p>
								</div>
								<div class="d-flex flex-column gap-2 mb-1">
									<h5 class="uniprep-primary fw-semibold mt-3 mb-1">
										{{ recommendation.question.branches[2] }}
									</h5>
									<p-select styleClass="w-100 text-start" appendTo="body" [options]="startupStageList"
										[filter]="true" formControlName="startup_stage" filterBy="name"
										optionLabel="name" optionValue="name" placeholder="Select Startup Stage"
										[autoDisplayFirst]="false"> </p-select>
									<p class="text-center"
										*ngIf="marketingForm.get('startup_stage')?.errors?.required && submitted"
										style="color: red">Please Choose Any one option</p>
								</div>
								<div class="d-flex flex-column gap-2 mb-1">
									<h5 class="uniprep-primary fw-semibold mt-3 mb-1">
										{{ recommendation.question.branches[3] }}
									</h5>
									<p-select styleClass="w-100 text-start" appendTo="body" [options]="teamSizeList"
										[filter]="true" formControlName="team_size" filterBy="name" optionLabel="name"
										optionValue="name" placeholder="Select Team Size" [autoDisplayFirst]="false">
									</p-select>
									<p class="text-center"
										*ngIf="marketingForm.get('team_size')?.errors?.required && submitted"
										style="color: red">Please Choose Any one option</p>
								</div>
							</div>

							<div *ngIf="recommendation.id == 2" class="col-md-6 offset-md-3">
								<h2 class="fw-bold mb-2">
									{{ recommendation.question.heading }}
								</h2>
								<div>
									<h5 class="uniprep-primary fw-semibold mt-3 mb-1">
										{{ recommendation.question.branches[0] }}
									</h5>
									<p-multiSelect styleClass="w-100 text-start" placeholder="Select Expense"
										[options]="primaryExpenseList" optionLabel="name" optionValue="name"
										appendTo="body" formControlName="primary_expense"> </p-multiSelect>
									<p class="text-center"
										*ngIf="marketingForm.get('primary_expense')?.errors?.required && submitted"
										style="color: red">Please Choose Any one option</p>
								</div>
								<div>
									<h5 class="uniprep-primary fw-semibold mt-3 mb-1">
										{{ recommendation.question.branches[1] }}
									</h5>
									<div class="w-100 text-start d-flex gap-2 flex-fill">
										<p-select formControlName="investment_currency_code" [options]="currenciesList"
											[filter]="true" filterBy="currency_symbol" placeholder=" Currency"
											appendTo="body" optionLabel="currency_symbol" optionValue="currency_symbol"
											[autoDisplayFirst]="false"> </p-select>
										<input class="w-100 pl-4 border border-gray rounded-3" type="number" [min]="100"
											pInputText
											[placeholder]="marketingForm.get('investment_currency_code').value ? 'Amount in' + ' ' + marketingForm.get('investment_currency_code').value : 'Investment Amount'"
											formControlName="current_investment" />
									</div>
									<p class="text-center"
										*ngIf="marketingForm.get('current_investment')?.errors?.required && submitted"
										style="color: red">Current Investment Required</p>
								</div>
								<div>
									<h5 class="uniprep-primary fw-semibold mt-3 mb-1">
										{{ recommendation.question.branches[2] }}
									</h5>
									<p-multiSelect styleClass="w-100 text-start" placeholder="Select Revenue Model"
										[options]="revenueModelsList" optionLabel="name" optionValue="name"
										appendTo="body" formControlName="revenue_model"> </p-multiSelect>
									<p class="text-center"
										*ngIf="marketingForm.get('revenue_model')?.errors?.required && submitted"
										style="color: red">Please Choose Any one option</p>
								</div>
								<div>
									<h5 class="uniprep-primary fw-semibold mt-3 mb-1">
										{{ recommendation.question.branches[3] }}
									</h5>
									<div class="w-100 text-start d-flex gap-2 flex-fill">
										<p-select formControlName="expense_currency_code" [options]="currenciesList"
											[filter]="true" [disabled]="true" filterBy="currency_symbol"
											placeholder="Currency" optionLabel="currency_symbol"
											optionValue="currency_symbol" [autoDisplayFirst]="false" appendTo="body">
										</p-select>
										<input class="w-100 pl-4 border border-gray rounded-3" type="number" pInputText
											[placeholder]="marketingForm.get('expense_currency_code').value ? 'Amount in' + ' ' + marketingForm.get('expense_currency_code').value : 'Operating Expense'"
											formControlName="operating_expense" />
									</div>
									<p class="text-center"
										*ngIf="marketingForm.get('operating_expense')?.errors?.required && submitted"
										style="color: red">Please Choose Any one option</p>
								</div>
							</div>
							<div *ngIf="recommendation.id == 3" class="col-md-6 offset-md-3">
								<h2 class="fw-bold mb-2">
									{{ recommendation.question.heading }}
								</h2>
								<div>
									<h5 class="uniprep-primary fw-semibold mt-3 mb-1">
										{{ recommendation.question.branches[0] }}
									</h5>
									<div class="w-100 text-start d-flex gap-2 flex-fill">
										<p-select formControlName="sales_currency_code" [options]="currenciesList"
											[filter]="true" [disabled]="true" filterBy="currency_symbol"
											placeholder=" Currency" optionLabel="currency_symbol"
											optionValue="currency_symbol" [autoDisplayFirst]="false"> </p-select>
										<input class="w-100 pl-4 border border-gray rounded-3" type="text" pInputText
											[placeholder]="marketingForm.get('sales_currency_code').value ? 'Amount in' + ' ' + marketingForm.get('sales_currency_code').value : 'Marketing and SalesBuget Amount'"
											formControlName="budget" />
									</div>
									<p class="text-center"
										*ngIf="marketingForm.get('budget')?.errors?.required && submitted"
										style="color: red">Please Choose Any one option</p>
								</div>
								<div>
									<h5 class="uniprep-primary fw-semibold mt-3 mb-1">
										{{ recommendation.question.branches[1] }}
									</h5>
									<p-select styleClass="w-100 text-start" formControlName="expense_estimation"
										appendTo="body" [options]="expenseEstimation" [filter]="true" filterBy="name"
										placeholder="Select Expense Estimation" optionLabel="name" optionValue="name"
										[autoDisplayFirst]="false"> </p-select>
									<p class="text-center"
										*ngIf="marketingForm.get('expense_estimation')?.errors?.required && submitted"
										style="color: red">Please Choose Any one option</p>
								</div>
							</div>
						</div>
					</ng-template>
				</p-carousel>
			</form>
		</div>
		<div class="card-footer bg-transparent border-0">
			<div class="d-flex justify-content-between mt-2">
				<button pButton type="button" class="btn btn-primary btn-rounded p-1 pe-4"
					[style.visibility]="activePageIndex == 0 ? 'hidden' : 'visible'" (click)="previous()">
					<span class="btn-icon px-2 py-2"><i class="fa fa-arrow-left"></i></span>
					<span class="ms-2">Previous</span>
				</button>
				<button pButton type="button" (click)="next()" *ngIf="activePageIndex <= 1"
					class="btn btn-primary btn-rounded p-1 ps-4">
					<span class="me-2">Next</span><span class="btn-icon px-2 py-2"><i
							class="fa fa-arrow-right"></i></span>
				</button>
				<button pButton type="button" (click)="getRecommendation()" *ngIf="activePageIndex == 2"
					class="btn btn-success btn-rounded p-1 ps-4">
					<span class="me-2">Get Recommendations</span><span class="btn-icon px-2 py-2"> <i
							class="fa fa-check-circle"></i></span>
				</button>
			</div>
		</div>
	</ng-container>
	<!-- ----------------- Recommandation Response View ----------------- -->
	<ng-container *ngIf="isRecommendationData">
		<div class="card-header border-0 bg-transparent">
			<div class="row justify-content-center align-items-center">
				<div class="col-md-12 d-flex gap-4">
					<div class="backIcon d-md-flex d-none" role="button" (click)="goBack()" style="height: auto">
						<span class="fa-solid fa-chevron-left"></span>
					</div>
					<div class="select-title d-flex justify-content-between align-items-center">
						<div class="d-flex gap-2">
							<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top"
								pTooltip=""><i class="fa-regular fa-home"></i></h5>
							<span><i class="fa-solid fa-chevron-right"></i></span>
							<h5 routerLink="/pages/founderstool/founderstoollist" role="button" class="mb-0"
								tooltipPosition="top">Founders Tool</h5>
							<span><i class="fa-solid fa-chevron-right"></i></span>
							<h5 role="button" class="mb-0" tooltipPosition="top"
								pTooltip="Access resources for starting your business, from ideation to execution.">
								Startup Expense Estimator</h5>
						</div>
					</div>
					<div class="d-flex align-items-center gap-1">
						
						<button pButton type="button" (click)="saveRecommadation()"
							class="btn btn-primary btn-rounded py-2 px-4">
							<span>History</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body worksans flex-fill overflow-y-auto">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="d-flex justify-content-end gap-3 mb-3">
						<button pButton type="button" (click)="downloadRecommadation()"
							class="btn btn-secondary btn-rounded p-1 ps-4">
							<span class="me-2">Download</span><span class="btn-icon px-2 py-2"> <i
									class="fa-regular fa-download"></i></span>
						</button>
					</div>
					<div *ngIf="isResponseSkeleton; else showResponseData"
						class="card p-3 chatgpt-response bg-white h-100 overflow-y-auto">
						<p-skeleton width='30rem' height='2rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='90%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='95%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='50%' height='1rem'></p-skeleton>
						<div class="divider"></div>
						<p-skeleton width='30rem' height='2rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<div class="d-flex justify-content-end">
							<uni-percentage-loader />
						</div>
					</div>
					<ng-template #showResponseData>
						<div class="card p-3  chatgpt-response bg-white h-100 overflow-y-auto"
							[innerHtml]="recommendationData"></div>
					</ng-template>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
		<div class="card-footer bg-transparent border-0">
			<div class="text-end">
				<button pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="resetRecommendation()">
					Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i> </span>
				</button>
			</div>
		</div>
	</ng-container>

	<!-- ----------------- Recommandation Saved Response View ----------------- -->
	<ng-container *ngIf="isRecommendationSavedData">
		<div class="card-header border-0 bg-transparent">
			<div class="row justify-content-center align-items-center">
				<div class="col-md-12 d-flex gap-4">
					<div class="backIcon d-md-flex d-none" role="button" (click)="goBack()" style="height: auto">
						<span class="fa-solid fa-chevron-left"></span>
					</div>
					<div class="select-title d-flex justify-content-between align-items-center">
						<div class="d-flex gap-2">
							<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top"
								pTooltip=""><i class="fa-regular fa-home"></i></h5>
							<span><i class="fa-solid fa-chevron-right"></i></span>
							<h5 routerLink="/pages/founderstool/founderstoollist" role="button" class="mb-0"
								tooltipPosition="top">Founders Tool</h5>
							<span><i class="fa-solid fa-chevron-right"></i></span>
							<h5 role="button" class="mb-0" tooltipPosition="top"
								pTooltip="Access resources for starting your business, from ideation to execution.">
								Startup Expense Estimator</h5>
						</div>
					</div>
					<div class="d-flex align-items-center gap-1">
						
						<button pButton type="button" (click)="saveRecommadation()"
							class="btn btn-primary btn-rounded py-2 px-4">
							<span>History</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body text-center flex-fill overflow-y-auto">
			<div class="row mb-0">
				<div *ngFor="let item of recommadationSavedQuestionList; let i = index"
					class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
					<div class="row w-100 m-0 justify-content-center h-100">
						<div class="card subjectcard" role="button" (click)="showRecommandationData(item.response)">
							<div class="card-body text-start">
								<h5 class="fw-bold mb-0">Startup Expense Estimate {{ i + 1 }}</h5>
								<p class="text-small"><b>Industry : </b>{{ item.industry }}</p>
								<p class="text-small"><b>Location : </b>{{ item.location }}</p>
								<p class="text-small"><b>Startup Stage : </b>{{ item.startupstage }}</p>
								<p class="text-small"><b>Team Size : </b>{{ item.teamsize }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer bg-transparent border-0">
			<div class="text-end">
				<button pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="resetRecommendation()">
					Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i> </span>
				</button>
			</div>
		</div>
	</ng-container>
</div>