.mailicon
{
  color:var(--uniprep-secondary);
}

.locationicon
{
  color:#E90707;
}

.countryicon
{
  color:#9BC329;
}

.investoricon
{
  color: blueviolet;
}

.investorcard
{
  border:1px solid var(--uniprep-secondary);
  &:hover
  {
    border:1px solid var(--uniprep-primaryhighlight);
    background:var(--uniprep-primaryop10);
  }
}

.upper-text {
  width: auto;
  font-size: 20px;
  font-weight: normal;
  padding: 20px 220px;
  border-radius: 0px 0px 10px 10px;
  margin-top: -13px;
}
.readingcard
{
  height:75vh;
  overflow-y:auto;
}
.card-style {
  border-radius: 0px 0px 10px 10px;
  background-color: #F5F5F5;
  a
  {
    color:#001631;
    padding: 30px;
    text-decoration: none;
  }
  &:hover
  {
    background-color: var(--uniprep-primary);
    color:#fff;
    a
    {
      color:#fff;
    }
  }
}
.card-container {
  display: flex; /* Use a flex container for horizontal alignment */
  flex-wrap: wrap; /* Allow cards to wrap to the next row on smaller screens */
  gap: 10px; /* Add some spacing between cards */
}

::ng-deep .p-datatable th
{
  background-color: var(--uniprep-primaryhighlight) !important;
  border-right: 1px solid var(--uniprep-primaryop30);
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td
{
  border:1px solid var(--uniprep-primaryop10);
}

:host ::ng-deep .p-paginator .p-dropdown-panel {
  left: auto !important;
  right: 0; /* Adjust the right position as needed */
  top: auto !important;
  bottom: 100%; /* Position the dropdown above the paginator */
  max-height: none !important; /* Prevent max-height from causing a scroll */
  overflow: visible !important; /* Ensure the dropdown is not hidden */
}

::ng-deep .p-datatable a
{
  text-decoration: none;
  color:var(--uniprep-primaryhighlight);
}

/* Style for each card */
.card1 {
  flex: 0 0 calc(25% - 10px); /* Each card takes up 25% of the container width with spacing */
  background-color: #f0f0f0;
  // padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ccc;
}
.vertical-line {
  border-left: 1px solid #fff; /* Adjust the color and thickness as needed */
  height: 22px; /* Adjust the height of the vertical line as needed */
  display: inline-block;
  margin: -7px 5px; /* Optional: Add margin for spacing */
}
// .card1:hover .card__inner {
//   background-color: #EBEDF2;
// }
.card1:hover {
  border: 3px solid var(--uniprep-primary);
}
.resterbutton {
  background-color: #fff;
  color: var(--uniprep-primary);
}
.resterbutton:hover {
  background-color: var(--uniprep-primary);
  color: #fff;
}
.custom-input {
  width: 325px;
}

.eventcard
{
  border:1px solid #f0f0f0;
  margin: 10px 0;
  border-radius: 20px !important;
  &:hover
  {
    border: 1px solid var(--uniprep-primary);
    .event-top
    {
      border-bottom: 1px solid  var(--uniprep-primary);
    }
    .event-bottom
    {
      background-color: var(--uniprep-primaryop10);
    }
    .registerbtn
    {
      background-color:white !important;
      color:var(--uniprep-primary) !important;
    }
  }
  .eventcomplete
  {
    background-color: #ccc !important;
    position:absolute;
    left: 0.5rem;
    right: auto;
    top: 0.5rem;
    border-radius: 100px !important;
    border: none !important;
  }
  .eventcountdown
  {
    position:absolute;
    left: 0.5rem;
    right: auto;
    top: 0.5rem;
    border-radius: 100px !important;
  }
  .event-top
  {
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    border-radius: 20px 20px 0 0;
    min-height: 175px;
    .eventtime
    {
      background-color:var(--uniprep-primary);
      color: white;
      font-size: 0.8rem;
      padding: 0.5rem 1.5rem;
      border-radius: 20px 20px 0px 0px;
      display: inline-block;
    }
  }
  .event-bottom
  {
    border-radius:0 0 20px 20px;
    background-color: #f0f0f0;
  }
  .card {
    border-radius: 15px 15px 0px 0px !important;
  }
}

.theme-blue{
  border: 1px solid (--uniprep-primary) !important;
}

.mobile{
  display: none;
}

@media (max-width: 575.98px) {
  .mobileview {
    width: 100px;
    border-radius: 25px !important;
    border: 1px solid #3F4C83;
  }
  .b-6{
    border-radius: 6px;
    border: 1px solid #3F4C83;
  }
  .curve{
    border-radius: 25px;
    border: 1px solid #3F4C83;
  }
  .desktop{
    display: none !important;
  }

  .mobile{
    display: block;
  }
  // .p-paginator{
  //   justify-content: left !important;
  // }
 
  :host .investor-list-table-header {
    white-space: nowrap !important;
  }
}
// ::ng-deep .p-paginator {
//   padding-left: 400px;
//   display: block !important;
// }

.primary-header{
  background: #3F4C83 !important;
}
.investor-expired{
  background: url('../../../uniprep-assets/images/Investor\ List@2x.jpg');
    background-size: cover;
}

.companny-list {
  background-color: white !important;
  border: 1.5px solid orange;
  border-radius: 10px;
}

.br-8 {
  border-radius: 25px !important;
}

.pr-2 {
  padding-right: 2px;
}

.social-media {
  a {
    color: black;
  }
}

// :host ::ng-deep .p-dialog-header {
//   border: 1px solid gray !important;
//   padding: 0px 5px !important;
// }

:host ::ng-deep .p-dialog-title {
  padding: 15px !important;
}

.companny-list {
  background-color: white !important;
  border: 1.5px solid orange;
  border-radius: 10px;
}

.br-8 {
  border-radius: 25px !important;
}

.pr-2 {
  padding-right: 2px;
}

.social-media {
  a {
    color: black;
  }
}

:host ::ng-deep .p-dialog-header {
  padding: 0px 5px !important;
}

:host ::ng-deep .p-dialog-title {
  padding: 15px !important;
}

.investor-guidlines {
  background-color: #EBEDF2;
  color: #001631 !important;
  border-radius: 20px !important;
  border: none;
}
.margin-auto {
  margin: 5rem auto;
  padding: 10px;
}

.investor-name{
  color: #3F4C83;
}

.fa-map-marker{
  color: #E90707;
}

.fa-building{
  color: #9BC329;
}

.fa-list{
  color: #9BC329;
}

.fa-globe{
  color: #4AB5EC;
}

.fa-envelope{
  color: #FF1313;
}

.fa-linkedin{
  color: #3F4C83;
}

.exportButton{
  background-color: #EBEDF2;
  color: #001631 !important;
  border-radius: 20px !important;
  border: none;
  padding: 10px;
}
.favCount{
	padding: 6px;
	border-radius: 25px;
	color:#3F4C83;
	background-color: white;
	margin-left: 5px;
}


.exhausted-plan-icon-success{
  padding: 10px;
  border-radius: 25px;
  background-color: #9BC329;
  color: white;
  margin-left: 5px;
}

.p-danger-button {
  background-color: #E53939 !important;
  color: white !important;

  .fa-circle::before {
      color: #BE2B2B !important;
  }
}
.carousel-container{
  display: flex;
  flex-direction: column;
}


.p-button-info-prev {
  background-color: #0E3361;
  color: white;
  border: none;
}

.p-button-info-next {
  background-color: #4552A3;
  color: white;
  border: none;
}

.p-button-info-succes {
  background-color: #9BC329;
  color: white;
  border: none;
}

.exhausted-plan-icon-prev, .exhausted-plan-icon-next {
  padding: 10px;
  border-radius: 25px;
  background-color: #4552A3;
  color: white;
  margin-left: 5px;
} 

.product-item-content {
  margin: auto;
  width: 85%;
  padding: 10px;
}

.question-number {
  font-size: 18px;
  color: #3F4C83;
  font-weight: 500;
}

.question {
  color: #001631;
  font-size: 25px;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 10px;
  height: 10px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 20px;
}

@media (max-width: 575.98px) {
  .product-item-content {
      margin: auto;
      padding: 10px;
  }

  .question-number {
      font-size: 12px;
      color: #3F4C83;
      font-weight: 500;
  }

  .question {
      color: #001631;
      font-size: 14px;
  }

  .module-list {
      width: 46% !important;
  }
}

.cube-container {
  display: flex;
  justify-content: space-around;
}

.cube {
  width: 18%;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.cube:hover {
  border-color: var(--uniprep-primary);
}

.tickPlacement{
  position: relative;
  left: 5%;
  bottom: 30%;
  cursor: pointer;
  color: var(--uniprep-primary);
}

.cube.selected {
  border-color: 2px solid var(--uniprep-primary);
}

::ng-deep .p-multiselect .p-multiselect-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; 
}

::ng-deep .p-multiselect {
  width: 100%;
  max-width: 950px;
}

::ng-deep .p-multiselect-panel {
  width: 100% !important;
}
