<div class="card readingcard" style="border-radius: 15px 15px 0px 0px !important;">
    <div class="card-body pt-0">
        <div class="row justify-content-center">
            <div class="col-md-2 text-start"></div>
            <div class="col-md-8 text-center">
                <h5 class="select-title mb-1" tooltipPosition="top"
                    pTooltip="">
                    INVESTOR LIST<i class="questiontooltip fa-solid fa-circle-question"></i>
                </h5>

            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row justify-content-center desktop">
            <div class="col-md-3 col-5 text-md-start">
                <div class="p-input-icon-left w-100 mt-3">
                    <i class="pi pi-search"></i>
                    <input class="w-100 px-5 py-2" type="text" placeholder="Search Investors..." pInputText
                           [(ngModel)]="valueNearYouFilter" (input)="performSearch($event)" />
                </div>

            </div>
            <div class="col-md-6 col-7 text-md-center text-end">
            </div>
            <div class="col-md-3 col-12 text-right">
                <span ><button class="btn btn-outline-primary theme-blue px-4 py-3" (click)="filterOnSubmit()" type="button">Filter
						by</button></span>
            </div>
        </div>
        <div class="mobile mt-2">
            <div class="text-center curve">

            </div>
            <div class="row">
                <div class="col-8">
                    <div class="p-input-icon-left w-100 mt-3">
                        <i class="pi pi-search"></i>
                        <input class="w-100 px-5 py-2 b-6 h-100" type="text" placeholder="Search Events Near You..." pInputText
                               [(ngModel)]="valueNearYouFilter" (input)="performSearch($event)" />
                    </div>
                </div>
                <div class="col-4 mt-2">
                     <span ><button class="btn btn-outline-light px-4 py-3 b-6" type="button">Filter
							by</button></span>
                </div>
            </div>
        </div>
        <!-- upcomming event -->
        <div class="row mt-3 p-4" >
            <div class="col-md-4 col-12" *ngFor="let event of valueNearYouFilter">
                <div class="card eventcard">
                    <span class="btn btn-primary eventcountdown">{{ event.daysago }}</span>
                    <div class="event-top card-body pb-0">
                        <div class="position-relative mt-2 p-2">
                            <div class="text-center" style="text-align: center; height: 75px;">
                                <img width="21%" src="{{ event.companylogo }}" alt="" />
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <div class="eventtime text-small">
								<span><i class="fa-regular fa-clock me-2"></i>{{ event.from }} - {{ event.to
                                    }}</span>
                                <span class="mx-2">|</span>
                                <span><i class="fa-regular fa-calendar me-2"></i>{{ event.date }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="event-bottom card-body">
                        <div *ngIf="event.registered===1?false:true">
                            <!-- befor registration -->
                            <h5 class="mb-0" tooltipPosition="top"
                                [pTooltip]="event.eventname + '<br>Speaker - ' + event.speakername" [escape]="false">
                                {{ event.eventname.length >27 ? event.eventname.slice(0,27) +
                                '...':event.eventname
                                }} <span><i class="questiontooltip fa-solid fa-circle-question"></i></span></h5>
                            <p class="small">{{ event.eventdescription.length > 43 ?
                                event.eventdescription.slice(0,
                                    43) + '...' : event.eventdescription }}</p>
                        </div>

                        <div class="row" *ngIf="event.registered===0?false:true">
                            <!-- after registration -->
                            <div class="col-7">
                                <h5 class="mb-0" tooltipPosition="top"
                                    [pTooltip]="event.eventname + '<br>Speaker - ' + event.speakername"
                                    [escape]="false">
                                    {{ event.eventname.length >15 ? event.eventname.slice(0,15) +
                                    '...':event.eventname
                                    }} <span><i class="questiontooltip fa-solid fa-circle-question"></i></span>
                                </h5>
                                <p class="small">{{ event.eventdescription.length > 21 ?
                                    event.eventdescription.slice(0,
                                        21) + '...' : event.eventdescription }}</p>
                            </div>
                            <div class="col-5">
								<span *ngIf="event.registered===0?false:true" target="_blank">
									<div class="mt-2"><button
                                            style="display: inline-flex;" class="btn btn-primary registerbtn w-100 m-0"
                                            type="button"><i class="fa-regular fa-clock me-2"></i> &nbsp;Event
											Link</button>
									</div>
								</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center ">
                                    <img class="me-1" style="width: 20px" src="{{ event.countrylog }}" alt="" />
                                    <p style="white-space: nowrap;" class="small fw-semibold mb-0">{{
                                            event.country }}</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex align-items-center mt-1">
                                    <i class="fa-regular fa-users me-1 small"></i>
                                    <p class="small fw-semibold mb-0 ">Registered
                                        Members-{{event.registerusercount}}</p>
                                </div>
                            </div>
                            <div class="col-12 d-flex mt-1 align-items-center">
                                <i class="fa-regular fa-microphone-stand me-1 small"></i>
                                <p style="white-space: nowrap;" class="mb-0 small fw-semibold">Speaker- {{
                                        event.speakername.length>20
                                            ?event.speakername.slice(0,20) + '...':event.speakername}}<span></span>
                                </p>
                            </div>
                            <div class="col-12 d-flex mt-1 align-items-center">
                                <i class="fa-regular fa-gauge-simple-min"></i> &nbsp;
                                <p style="white-space: nowrap;" class="mb-0 small fw-semibold">
                                    Available Slot - {{event.registerusercount}} / {{event.slotno}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="mt-1"><button
                                                  class="btn btn-primary registerbtn w-100 m-0" type="button">{{event.registered===0?
                            'register Now':'Registered'}}</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
