.subjectcard {
	border: 1px solid var(--secondary-500);
	width: 100%;

	.submoduleicon {
		height: 75px;
		width: 75px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		.selectimage {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&:focus {
		background-color: var(--primary-100);
		border: 1px solid var(--primary-500);
	}

	&:hover {
		background-color: var(--primary-100);
		border: 1px solid var(--primary-500);
	}

	// .subjecttitle {
	//   height: 50px;
	//   font-size: 16px;
	// }
}

input[type="checkbox"] {
	zoom: 1.5;
}

.universityicon
{
  color:var(--secondary-500);
}

.primary-color{
  color: var(--primary-500);
}


.investor-name {
	color: #3f4c83;
}

.fa-location-dot {
	color: #e90707;
}

.fa-building {
	color: #9bc329;
}

.fa-list {
	color: #9bc329;
}

.fa-globe,
.fa-list {
	color: #4ab5ec;
}

.fa-envelope {
	color: #ff1313;
}

.fa-linkedin {
	color: #3f4c83;
}

.cube-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.cube {
	flex: 1;
	height: 10rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid lightgray;
	border-radius: 10px;
	transition: border-color 0.3s ease;
	cursor: pointer;
	position: relative;
	padding: 10px;
	label
	{
		text-align: center;
	}
}

.cube:hover {
	border-color: var(--primary-500);
}

.tickPlacement {
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: var(--primary-500);
}

.cube.selected {
	border-color: 2px solid var(--primary-500);
}

::ng-deep .p-multiselect .p-multiselect-label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

::ng-deep .p-multiselect {
	width: 100%;
	max-width: 950px;
}

::ng-deep .p-multiselect-panel {
	width: 100% !important;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
	width: 10px;
	height: 10px;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
	border-radius: 20px;
}

:host ::ng-deep .p-dialog-header {
	padding: 1rem !important;
}

:host ::ng-deep .p-carousel-content {
	height: 100% !important;
	.p-carousel-container {
		height: 100%;
		.p-carousel-items-container {
			height: 100%;
		}
	}
}

:host ::ng-deep .p-carousel-item {
	width: 100% !important;
}
:host ::ng-deep .p-carousel .p-carousel-indicators {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
