.contact-container ::ng-deep input:-webkit-autofill,
.contact-container ::ng-deep input:-webkit-autofill:hover,
.contact-container ::ng-deep input:-webkit-autofill:focus,
.contact-container ::ng-deep textarea:-webkit-autofill,
.contact-container ::ng-deep textarea:-webkit-autofill:hover,
.contact-container ::ng-deep textarea:-webkit-autofill:focus,
.contact-container ::ng-deep .intel-input input:-webkit-autofill,
.contact-container ::ng-deep .intel-input input:-webkit-autofill:hover,
.contact-container ::ng-deep .intel-input input:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
}

.contact-container ::ng-deep .form-select:-webkit-autofill,
.contact-container ::ng-deep .form-select:-webkit-autofill:hover,
.contact-container ::ng-deep .form-select:-webkit-autofill:focus,
.contact-container ::ng-deep .p-select:-webkit-autofill,
.contact-container ::ng-deep .p-select:-webkit-autofill:hover,
.contact-container ::ng-deep .p-select:-webkit-autofill:focus,
.contact-container ::ng-deep .p-select .p-select-label:-webkit-autofill,
.contact-container ::ng-deep .p-select .p-select-label:-webkit-autofill:hover,
.contact-container ::ng-deep .p-select .p-select-label:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
}
h1,
.text-size-h1 {
	font-size: 5.61em;
}

h2,
.text-size-h2 {
	font-size: 4.209em;
}

h3,
.text-size-h3 {
	font-size: 3.157em;
}

h4,
.text-size-h4 {
	font-size: 2.369em;
}

h5,
.text-size-h5 {
	font-size: 1.777em;
}

h6,
.text-size-h6 {
	font-size: 1.333em;
}

small,
.text-small {
	font-size: 0.833em;
}

p {
	
	line-height: 2;
	font-weight: 500;
	font-size: 1rem;
}

.text-caption {
	font-size: 0.71em;
}

::ng-deep .p-select {
  background: #222 !important;
  color: var(--p-neutral-50) !important;
  border: 1px solid var(--p-neutral-50) !important;
  border-radius: 6px;
}
  
::ng-deep .p-select .p-select-label {
  color: var(--p-neutral-50) !important;
}

// ::ng-deep .p-select .p-select-list-container	 {
//   color: #ccc !important;
//   background: #1e1e1e !important;
// }

::ng-deep .p-select-panel {
  background: #1e1e1e !important;
  color: white !important;
  border: 1px solid #444 !important;
}

::ng-deep .p-select-option {
  background-color:  #1e1e1e !important;
  color: white !important;
}


::ng-deep .p-select-option.p-highlight {
  background-color: #444 !important;
  color: var(--p-neutral-50) !important;
}


.contact-container {
  background-color: var(--p-neutral-950);
  color: var(--p-neutral-50);
  padding: 6rem 20rem;
  min-height: 100vh;
}

.back-button {
  margin-bottom: 2rem;
}

.card {
	border-radius: 1.5rem;
	border: 1px solid #e6ddfe08;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
	box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
	color: var(--p-neutral-50);
	&:hover {
		.card-title {
			color: var(--p-secondary-500);
		}
		.cardicon {
			font-weight: 700;
		}
	}
}

.dropdown {
  justify-content: space-between;
}

.direct-contact {
  margin-top: 3rem;
  padding: 2rem;
  background: rgb(219, 83, 175);
  background: linear-gradient(90deg, var(--p-secondary-400) 0%,  var(--p-rose-500) 100%);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.direct-contact p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.direct-contact .email-button {
  background-color: var(--p-neutral-900);
  color: var(--p-neutral-50);
  border: none;
  padding: 0.75rem 1.5rem;
}

.contact-content {  
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  gap: 2rem;
  
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.contact-info {
  background-color: #111;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.contact-details {
  margin-top: 1rem;
}

.map-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 0.5rem;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contact-form {
  // background-color: #111;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.form-header {
  margin-bottom: 2rem;
}

.form-control, .form-select {
  padding: 8px;
  border: 1px solid #333;
  
  &:focus {
    background-color: #222;
    color: var(--p-neutral-50);
    border-color: #555;
    box-shadow: none;
  }
}
 
#headquarterDropdown {
  border: 1px solid #e6ddfe08;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
	box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
}

.select-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
	border: 1px solid #e6ddfe08;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
	box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
}

::ng-deep .iti__flag-container {
  background: #333;
  border: #333;
  color: var(--p-neutral-50);
}

::ng-deep .iti__flag-container .iti__dropdown-content {
  background: #333;
  border: #333;
  color: var(--p-neutral-50);
}

.select-menu {
  background-color: #222;
  border: 1px solid #333;
  
  .select-item {
    color: var(--p-neutral-50);
    
    &:hover {
      background-color: #333;
    }
  }
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.gradient-container {
  background: linear-gradient(90deg, #e67e22, #e74c3c);
}

.btn-warning {
  background-color: #e67e22;
  border-color: #e67e22;
  
  &:hover {
    background-color: darken(#e67e22, 10%);
    border-color: darken(#e67e22, 10%);
  }

:host ::ng-deep .intel-input {
  border: 1px solid #333;
      background-color: #222;
}
}
@media (max-width: 992px) {
  .contact-container {
    padding: 20px;
  }
}
p {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

span {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

li {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

div {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

h1,
h2,
h3,
h4,
h5 {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}
@media screen and (max-width: 768px) {
	h1,
	.text-size-h1 {
		font-size: 2.986em;
	}

	h2,
	.text-size-h2 {
		font-size: 2.488em;
	}

	h3,
	.text-size-h3 {
		font-size: 2.074em;
	}

	h4,
	.text-size-h4 {
		font-size: 1.728em;
	}

	h5,
	.text-size-h5 {
		font-size: 1.44em;
	}

	h6,
	.text-size-h6 {
		font-size: 1.2em;
	}

	small,
	.text-small {
		font-size: 0.833em;
	}

	p {
		
		line-height: 2;
		font-weight: 500;
		font-size: 1rem;
	}

	.text-caption {
		font-size: 0.71em;
	}
}