.application-text-small {
	color: black;
	font-size: 0.8rem;
	padding-left: 10px;
	padding-right: 10px;
}

.application-border {
	border: 3px solid var(--p-primary-500);
	border-radius: 5%;
	font-size: 0.8rem;
}

.unselected-border {
	border: 3px solid var(--p-primary-600);
	border-radius: 5px;
	font-size: 0.8rem;
}

.selected-border {
	background-color: var(--p-primary-500);
	border: 0;
}

.application-text {
	font-size: 0.8rem;
}


.sub-data {
	font-size: 12px;
}
:host ::ng-deep p-carousel {
	//On later realease of PrimeNG, this can be done programmatically with [showIndicators | showNavigators]="false"
	.p-carousel-indicators {
		display: none !important;
	}

	.p-carousel-next,
	.p-carousel-prev {
		display: none !important;
	}
}
selctedQuizTiny {
	font-size: 10px;
	color: var(--p-primary-500);
}
.quizprogress {
	.p-progressbar {
		height: 10px;
		margin-top: 5px;
	}
}
.quiznotanswered {
	border: 1px solid #e3e3e3;
	border-radius: 8px;
	width: 100%;
	width: 100%;
	padding: 8px;
	text-align: start;
	color: #001631;
}

.optionanswered {
	border: 1px solid var(--p-primary-500);
	border-radius: 8px;
	color: #001631;
}

.optionreviewcorrect {
	border: 1px solid var(--p-primary-500);
	background: var(--p-primary-500);
	border-radius: 8px;
	color: var(--p-neutral-50);
}

.optionreviewwrong {
	border: 1px solid #df3e3e;
	background: #df3e3e;
	border-radius: 8px;
	color: var(--p-neutral-50);
}
@media (max-width: 1199.98px) {
	.subjectcard {
		.submoduleicon {
			height: 70px;
			width: 70px;
		}
	}
}
@media (max-width: 991.98px) {
	.subjectcard {
		.submoduleicon {
			height: 70px;
			width: 70px;
			margin-right: 1rem;
		}
	}
}
@media (max-width: 767.98px) {
	.subjectcard {
		.submoduleicon {
			height: 65px;
			width: 65px;
			margin-right: 1rem;
		}
	}
}
@media (max-width: 575.98px) {
	.subjectcard {
		.submoduleicon {
			height: 60px;
			width: 60px;
			margin-right: 1rem;
		}
	}
}
.homecardbtnquiz {
	background-color: black;
	color: white;
}
.ellipse-button {
	width: auto;
	padding: 6px 25px;
	height: auto;
	background-color: #f0780e;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: not-allowed;
	font-size: 10px;
}

.primary-btn {
	border-radius: 25px !important;
}

.readButton {
	border-radius: 25px !important;
}

.float-right {
	float: right;
	.warning {
		background-color: var(--p-secondary-500) !important;
		border-radius: 25px !important;
		color: white;
		font-weight: 300;
		font-size: 10px;
	}
}

.mobile {
	display: none;
}
@media screen and (max-width: 480px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}

.offer {
	color: #df7905;
}


.soon-university {
	margin-top: 20px;
	color: #ff9113;
}
// .search-container {
// 	display: flex;
// 	flex: 1;
//     align-items: start;
//     justify-content: center;
//     height: max-content;
// }
// .p-input-icon-left>i, .p-input-icon-right>i, .p-input-icon-right>i:not(.filterDialog) .p-input-icon-left>i:not(.filterDialog),.alignment {
//     position: absolute;
//     top: 50%;
//     margin-top: -0.1.2rem;
// }
// .noalignment {
//     position: absolute;  
//     top: 50%;         
//     margin-top: -0.01rem;    
// }

.clear-button {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: #999;
}

.dropdown-container {
	position: absolute;
    width: 100%;
    top: 100%;
    z-index: 9;
    background: white;
    border: 1px solid var(--p-secondary-500);
    border-radius: 10px;
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none;  /* For Internet Explorer and Edge */
	max-height: 35vh;
    overflow-y: auto;
}

.dropdown-container::-webkit-scrollbar {
	display: none; /* For Chrome, Safari, and Opera */
}

.dropdown-item {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.dropdown-item h3 {
	margin: 0;
	font-size: 16px;
}

.dropdown-item p {
	margin: 5px 0 0;
	color: #666;
}

.dropdown-item:last-child {
	border-bottom: none;
}

.dropdown-item h3 {
	margin: 0;
	font-size: 16px;
}

.dropdown-item p {
	margin: 5px 0 0;
	color: #666;
}

.dropdown-item:last-child {
	border-bottom: none;
}
.dropdown-container1 {
	display: flex;
	flex-direction: column; /* Stack elements vertically */
  }
  
  /* Optional: Add some spacing between the label and dropdown */
  .dropdown-container1 label {
	margin-bottom: 5px; /* Adjust as needed */
  }
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px; /* Prevents text from overlapping with the icon */
}