.cost-block {
  background: #f7f9fc;
}
.readingcard {
  overflow-y: auto;
}
:host ::ng-deep .p-select {
  width: 100%;
}

::ng-deep.p-paginator {
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: center;
  align-items: center;
}
