<div class="card">
    <div class="card-body">
        <div class="mb-4">
            <div class="d-flex"><h4 class="sop-border sop-header">Statement Of Purpose Sample</h4></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow p-0 mb-0 bg-body rounded ">
                    <div class="card-body">
                        <div class="block-title">
                            {{pdfData.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 shadow p-0 mb-0 bg-body rounded">
                <div class="scroll" id="style-2">
                    <div class="card_content">
                        <div class="card-header">
                            <img height="60px" src="/uniprep-assets/images/logo-light.png" width="120px">
                        </div>
                        <div class="card_content_body">
                            <p class="text-center">{{pdfData.name}}</p>
                            {{pdfData.content}}
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a dignissim urna. Aliquam
                                bibendum enim id suscipit faucibus. Suspendisse egestas dignissim leo nec scelerisque.
                                In laoreet orci eget dolor eleifend lobortis. Vestibulum ultricies interdum porttitor.
                                Nunc bibendum mauris ut neque iaculis tristique. Phasellus volutpat non nibh sit amet
                                cursus. Nunc ante ante, scelerisque a viverra non, rutrum ac lorem. Etiam a tortor vitae
                                nisl rhoncus dapibus vel eu eros. Vivamus at fermentum augue, vitae rutrum magna.
                                Curabitur vulputate augue in ante egestas, at tempor augue venenatis. Nullam rhoncus
                                nunc at sapien vestibulum, eget sodales nibh commodo.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a dignissim urna.
                                Aliquam bibendum enim id suscipit faucibus. Suspendisse egestas dignissim leo nec
                                scelerisque. In laoreet orci eget dolor eleifend lobortis. Vestibulum ultricies interdum
                                porttitor. Nunc bibendum mauris ut neque iaculis tristique. Phasellus volutpat non nibh
                                sit amet cursus. Nunc ante ante, scelerisque a viverra non, rutrum ac lorem. Etiam a
                                tortor vitae nisl rhoncus dapibus vel eu eros. Vivamus at fermentum augue, vitae rutrum
                                magna. Curabitur vulputate augue in ante egestas, at tempor augue venenatis. Nullam
                                rhoncus nunc at sapien vestibulum, eget sodales nibh commodo.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a dignissim urna.
                                Aliquam bibendum enim id suscipit faucibus. Suspendisse egestas dignissim leo nec
                                scelerisque. In laoreet orci eget dolor eleifend lobortis. Vestibulum ultricies interdum
                                porttitor. Nunc bibendum mauris ut neque iaculis tristique. Phasellus volutpat non nibh
                                sit amet cursus. Nunc ante ante, scelerisque a viverra non, rutrum ac lorem. Etiam a
                                tortor vitae nisl rhoncus dapibus vel eu eros. Vivamus at fermentum augue, vitae rutrum
                                magna. Curabitur vulputate augue in ante egestas, at tempor augue venenatis. Nullam
                                rhoncus nunc at sapien vestibulum, eget sodales nibh commodo.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a dignissim urna.
                                Aliquam bibendum enim id suscipit faucibus. Suspendisse egestas dignissim leo nec
                                scelerisque. In laoreet orci eget dolor eleifend lobortis. Vestibulum ultricies interdum
                                porttitor. Nunc bibendum mauris ut neque iaculis tristique. Phasellus volutpat non nibh
                                sit amet cursus. Nunc ante ante, scelerisque a viverra non, rutrum ac lorem. Etiam a
                                tortor vitae nisl rhoncus dapibus vel eu eros. Vivamus at fermentum augue, vitae rutrum
                                magna. Curabitur vulputate augue in ante egestas, at tempor augue venenatis. Nullam
                                rhoncus nunc at sapien vestibulum, eget sodales nibh commodo.
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <br>
    </div>
</div>




