.pagination-container {
    display: flex;
    justify-content: flex-end; /* Ensures correct alignment */
  }
  
  .btn-light {
    background-color: #f8f9fa;
    border-color: #eee;
    font-size: 0.9rem;
  }
  
  /* Job Tracker Panel */
  .job-tracker-panel {
    background-color: var(--p-neutral-50);
    border-radius: 0.5rem;
    padding: 5px;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  
  /* Status Tabs */
  .status-tabs .nav-tabs {
    border-bottom: none;
  }
  
  .job-status-tab {
    border: none;
    background-color: #f5f5f5;
    color: #333;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
    transition: background 0.3s ease;
  
    &.active {
      background-color: #3f51b5;
      color: white;
    }
  
    &:hover {
      background-color: #ddd;
    }
  }
  
  /* Job Cards */
  .job-card {
    background-color: var(--p-neutral-50);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    border: 1px solid #eee;
  
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
  }
  
  .company-logo {
    width: 60px;
    max-height: 60px ;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .company-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .job-details {
    flex: 1;
  }
  
  .job-title {
    font-weight: 600;
    font-size: 1.1rem;
  }
  
  .company-name,
  .job-status {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }
  
  .location {
    font-size: 0.9rem;
    color: #333;
  }
  
  /* Status Badges */
  .status-badge {
    font-size: 0.8rem;
    padding: 0.25rem 0.75rem;
    border-radius: 0.3rem;
    font-weight: 500;
    display: inline-block;
  }
  
  /* Scroll Buttons */
  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 30px;
    height: 35px;
  }
  
  .left-btn {
    top: 15px;
    left: -10px;
  }
  
  .right-btn {
    top: 15px;
    right: -10px;
  }
  
  /* Left align text where needed */
  .text-left {
    text-align: left;
  }

  .job-cards {
    max-height: calc(100vh - 350px);
    overflow-y: auto;
  }
  

  .notification-badge {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #ff0000;
    color: #fafafa;
    border-radius: 50%;
    padding-inline: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    margin-top: 2px;
    font-weight: bold;
    }