.industrytext
{
  word-break:break-all !important;
}

.industryicon
{
  color:var(--uniprep-secondary);
}

.locationicon
{
  color:#E90707;
}

.headquartersicon
{
  color:#9BC329;
}

.companycard
{
  border:1px solid var(--uniprep-secondary);
  &:hover
  {
    border:1px solid var(--uniprep-primaryhighlight);
    background:var(--uniprep-primaryop10);
  }
}