<div class="card readingcard">
  <ng-container *ngIf="!enableModule">
    <div class="card-header border-0 bg-transparent">
      <div class="row justify-content-center">
        <div class="col-md-12 d-flex gap-2 text-center">
          <div class="backIcon d-md-flex d-none" role="button" (click)="goBack()">
            <span class="fa-solid fa-chevron-left"></span>
          </div>
          <div class="select-title d-flex justify-content-between align-items-center">
            <div>
              <h5 class="w-100 mb-0" tooltipPosition="top"
                pTooltip="Access a curated list of companies by industry and location to target your job search effectively.">
                Career Tools -> Company List<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
            </div>
            <div>
              <button pButton class="how-it-works-button" severity="warn"
                (click)="openVideoPopup('https://www.youtube.com/embed/uihpCF4rvB4?si=bBNT7iH_WigFZzoN')">How it
                works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid h-100">
        <p-carousel [value]="recommendations" [numVisible]="1" [numScroll]="1" [circular]="false"
          [showNavigators]="false" [showIndicators]="false" [page]="activePageIndex" styleClass="h-100">
          <ng-template let-recommendation let-i="index" pTemplate="item">
            <div class="h-100 d-flex flex-column justify-content-between">
              <div>&nbsp;</div>
              <div class="row justify-content-center text-start">
                <div class="col-md-12 mb-4">
                  <!-- <h5 class="text-center uniprep-primary fw-semibold mb-0">Question Number1 {{ recommendation.id }}</h5> -->
                  <h2 class="fw-bold mb-0 text-center">{{ recommendation.question }}</h2>
                </div>
                <div class="col-md-6">
                  <div class="recommendationinput d-flex flex-column justify-content-center gap-3">
                    <ng-container *ngIf="recommendation.id == 1">
                      <p-multiSelect styleClass="w-100" placeholder="Industry Type" [options]="industryInterested"
                        display="chip" optionLabel="industry_name" optionValue="id"
                        [(ngModel)]="selectedData[recommendation.id]" [appendTo]="'body'"></p-multiSelect>
                      <p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please
                        Choose Any one option</p>
                    </ng-container>
                    <ng-container *ngIf="recommendation.id == 2">
                      <p-multiSelect styleClass="w-100" placeholder="Company Country" [options]="countryList"
                        display="chip" optionLabel="country" optionValue="id"
                        [(ngModel)]="selectedData[recommendation.id]" [appendTo]="'body'"
                        (onChange)="loadHeadQuartersData($event)"></p-multiSelect>
                      <p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please
                        Choose Any one option</p>
                    </ng-container>
                    <ng-container *ngIf="recommendation.id == 3">
                      <p-multiSelect styleClass="w-100" placeholder="Headquarters Location" [options]="headQuartersList"
                        display="chip" optionLabel="head_quarters_name" optionValue="id"
                        [(ngModel)]="selectedData[recommendation.id]" [appendTo]="'body'"></p-multiSelect>
                      <p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please
                        Choose Any one option</p>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <button pButton type="button" class="btn btn-primary btn-rounded p-1 pe-4"
                  [style.visibility]="recommendation.id == 1 ? 'hidden' : 'visible'" (click)="previous()">
                  <span class="btn-icon px-2 py-2"><i class="fa fa-arrow-left"></i></span> <span
                    class="ms-2">Previous</span>
                </button>
                <button pButton type="button" (click)="next(recommendation.id)" *ngIf="recommendation.id != 3"
                  class="btn btn-primary btn-rounded p-1 ps-4">
                  <span class="me-2">Next</span><span class="btn-icon px-2 py-2"><i
                      class="fa fa-arrow-right"></i></span>
                </button>
                <button pButton type="button" (click)="getRecommendation()" severity="success"
                  *ngIf="recommendation.id == 3" class="btn btn-success btn-rounded p-1 ps-4">
                  <span class="me-2">Get Recommendations</span><span class="btn-icon px-2 py-2"><i
                      class="fa fa-check-circle"></i></span>
                </button>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="enableModule">
    <div class="card-header border-0 bg-transparent">
      <div class="row d-md-none d-flex">
        <div class="col-12">
          <div class="select-title d-flex justify-content-between align-items-center">
            <div>
              <h6 class="w-100 mb-0" tooltipPosition="top" pTooltip="Company List">Career Tools -> Company List<i
                  class="questiontooltip fa-solid fa-circle-question"></i></h6>
            </div>
            <div>
              <button pButton class="how-it-works-button" severity="warn"
                (click)="openVideoPopup('https://www.youtube.com/embed/uihpCF4rvB4?si=bBNT7iH_WigFZzoN')">How it
                works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-between mt-2 gap-1">
            <button pButton *ngIf="ehitlabelIsShow" class="btn btn-secondary text-small btn-rounded flex-fill"
              (click)="buyCredits()" type="button">Buy Credits</button>
            <button pButton
              class="btn btn-outline-primary text-small btn-rounded d-flex gap-2 align-items-center flex-fill"
              (click)="exportData()" type="button">
              Export <span class="btn-icon text-white">{{ exportCreditCount }}</span>
            </button>
            <button pButton class="btn btn-secondary text-small flex-fill" (click)="openReport()" type="button"><i
                class="fa-solid fa-circle-exclamation"></i></button>
            <button pButton class="btn btn-gray text-small flex-fill" (click)="companyGuidlines()" type="button"><i
                class="fa-solid fa-graduation-cap"></i></button>
            <button pButton class="btn btn-primary text-small flex-fill" (click)="viewFavourites()" type="button"><i
                class="fa-solid fa-bookmark"></i><span class="ms-2">({{ favCount }})</span>
            </button>
            <button pButton class="btn btn-primary text-small flex-fill" (click)="filterBy()" type="button"><i
                class="fa-solid fa-bars-filter"></i></button>
          </div>
        </div>
        <div class="col-12 mt-2">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex gap-2 align-items-center">
              <input type="checkbox" class="me-0" [(ngModel)]="selectAllCheckboxes" (click)="selectAllCheckbox()"
                id="selectAllcheckbox" />
              <label class="text-small fw-semibold" for="selectAllcheckbox" style="cursor: pointer">Select All</label>
              <span class="text-small fw-semibold">Selected : {{ selectedCompanies }}</span>
            </div>
            <span class="text-muted fw-semibold text-small">Total Companies : {{ totalCompanyCount }}</span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center d-md-flex d-none">
        <!-- <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-12 col-12 text-start order-md-1 order-2">
          <div class="p-input-icon-left w-100 mt-3">
            <i class="fa-solid fa-search"></i>
            <input class="w-100 px-5 py-2" type="text" placeholder="Search in Company List .." pInputText [(ngModel)]="valueNearYouFilter" (input)="performSearch($event)" (click)="searchClick()" id="searchInput" />
          </div>
        </div> -->
        <!-- <div class="col-md-6 text-center order-md-2 order-1">
					<h5 class="select-title mb-1" tooltipPosition="top" pTooltip="">COMPANY LIST</h5>
				</div> -->
        <!-- select-title css also needs to change the width -->
        <!-- after create the video just uncomment the below code. and send the youtube embeded video link -->
        <div class="col-md-12 d-flex gap-2 text-center">
          <div class="backIcon d-md-flex d-none" role="button" (click)="goBack()">
            <span class="fa-solid fa-chevron-left"></span>
          </div>
          <div class="select-title d-flex justify-content-between align-items-center">
            <div>
              <h5 class="w-100 mb-0" tooltipPosition="top" pTooltip="Company List">Career Tools -> Company List<i
                  class="questiontooltip fa-solid fa-circle-question"></i></h5>
            </div>
            <div>
              <button pButton class="how-it-works-button" severity="warn"
                (click)="openVideoPopup('https://www.youtube.com/embed/uihpCF4rvB4?si=bBNT7iH_WigFZzoN')">How it
                works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
            </div>
          </div>
          <span class="d-flex justify-content-end gap-2">
            <button pButton class="btn btn-primary text-small company-guidlines" (click)="companyGuidlines()"
              type="button">Company Guidlines</button>
            <button pButton *ngIf="ehitlabelIsShow" class="btn btn-primary text-small company-guidlines"
              (click)="buyCredits()" type="button">Buy Credits</button>
            <button pButton class="btn btn-primary text-small exportButton" (click)="exportData()" type="button">
              Export <span class="exportCount">{{ exportCreditCount }}</span>
            </button>
          </span>
        </div>
        <div class="col-md-12">
          <div class="d-flex justify-content-between">
            <div>
              <span class="d-flex justify-content-start p-2">
                <input type="checkbox" class="me-0" style="zoom:1.5; cursor: pointer" [(ngModel)]="selectAllCheckboxes"
                  (click)="selectAllCheckbox()" id="selectAllcheckbox" />
                <label class="p-2" for="selectAllcheckbox" style="cursor: pointer">Select All</label>
                <span class="p-2">Selected : {{ selectedCompanies }}</span>
                <button pButton class="btn btn-primary text-small" (click)="viewFavourites()" type="button"
                  style="font-size: small;">
                  {{ viewFavouritesLabel }}<span class="favCount" *ngIf="viewFavouritesLabel != 'View All'">{{ favCount
                    }}</span>
                </button>
              </span>
            </div>
            <div class="d-flex align-items-center justify-content-end gap-2 mt-3">
              <button pButton class="btn btn-primary text-small ps-3 pe-3 pt-2 pb-2 br-8 p-1"
                style="background-color: #ff9113 !important" (click)="openReport()" type="button">Report</button>
              <button pButton class="btn btn-primary text-small ps-3 pe-3 pt-2 pb-2 br-8" (click)="filterBy()"
                type="button">Filter by</button>
              <div class="pe-2">
                <span class="text-muted text-small"><strong>Total Companies : {{ totalCompanyCount }}</strong></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body text-center flex-fill overflow-y-auto">
      <div class="row d-flex justify-content-center text-nowrap">
        <div *ngFor="let companyData of companyListData" class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-12 col-12 mb-3">
          <div class="card subjectcard m-0 h-100">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <div class="d-flex justify-content-between" title="Company Name">
                  <div class="d-flex gap-2 align-items-start">
                    <input type="checkbox" (change)="onCheckboxChange($event)" class="mt-1" style="zoom:1.5;"
                      [(ngModel)]="companyData.isChecked" />
                    <h5 class="uniprep-primary text-wrap text-start">{{ companyData.company_name }}</h5>
                  </div>
                  <i [class]="companyData.favourite == 1 ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark'"
                    style="color: #e90707" (click)="bookmarkQuestion(companyData.id, companyData.favourite)"></i>
                </div>
                <div class="d-flex mt-2 gap-5 align-items-center" title="Country Name">
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fa fa-map-marker locationicon" aria-hidden="true"></i>
                    <p class="text-small mb-0">{{ companyData.country_name }}</p>
                  </div>
                  <div class="d-flex gap-2 align-items-center" title="Headquarters Name">
                    <i class="fa fa-building headquartersicon" aria-hidden="true"></i>
                    <p class="text-small mb-0">{{ companyData.head_quarters_name }}</p>
                  </div>
                </div>
                <div class="d-flex mt-2 gap-5" title="Industry Interested">
                  <div class="d-flex gap-2 align-items-start">
                    <i class="fa-solid fa-industry industryicon"></i>
                    <p class="text-start text-wrap line-break text-small mb-0">{{ companyData.industry_interested_name
                      }}</p>
                  </div>
                </div>
              </div>
              <div class="d-flex gap-3 justify-content-end social-media">
                <div *ngIf="companyData.website && companyData.website.trim() !== ''" title="Company Website">
                  <a target="_blank" href="{{ companyData.website }}"><i class="fa-solid fa-globe"></i></a>
                </div>
                <div *ngIf="companyData.linked_in && companyData.linked_in.trim() !== ''" title="Company LinkedIn">
                  <a target="_blank" href="{{ companyData.linked_in }}"><i
                      class="fa-brands fa-linkedin uniprep-primary"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div *ngIf="totalCompanyCount == 0" class="text-center margin-auto">
        <h3>No Results Found</h3>
        <p>
          The applied filter did not provide any results,<br />
          please try again by changing the parameters.
        </p>
      </div> -->
      <div *ngIf="totalCompanyCount == 0" class="d-flex justify-content-center align-items-center h-100 flex-column">
        <h3 class="primary-color">It seems we don't have any recommendations that</h3>
        <h3 class="primary-color">match your current selection.</h3>
        <br>
        <h4 class="universityicon">Don't Worry! You can try</h4>
        <h6 class="primary-color">Adjusting your preferences</h6>
        <h6 class="primary-color">Exploring other categories</h6>
      </div>
    </div>
    <div class="card-footer border-0 bg-transparent">
      <button pButton type="button" style="bottom:5rem;right:1rem"
        class="btn btn-quit btn-rounded p-1 ps-3 text-small position-absolute d-flex d-md-none "
        (click)="resetRecommendation()">
        <span>Reset</span><span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i> </span>
      </button>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p-paginator *ngIf="totalCompanyCount != 0" [rows]="pageSize" [totalRecords]="totalCompanyCount"
            (onPageChange)="pageChange($event)" [rowsPerPageOptions]="[50, 100, 300, 500, 1000]"></p-paginator>
        </div>
        <div class="col-md-2 d-md-block d-none text-end">
          <button pButton type="button" style="white-space: nowrap;" class="btn btn-quit ps-3 btn-rounded"
            (click)="resetRecommendation()">
            Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i> </span>
          </button>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="planExpired" class="resources-expired">
		  <div class="row">
			<div class="col-md-2 text-start"></div>
			<div class="col-md-8 text-center">
			  <h5 class="select-title mb-1" tooltipPosition="top" pTooltip="">
				COMPANY LIST
			  </h5>
			</div>
			<div class="col-md-2"></div>
		  </div>
		  <div class="text-center mt-5 mb-4">
			<img src="../../../uniprep-assets/images/smartloack.png" class="image" width="80" />
			<h3>Upgrade now to access invaluable tools</h3>
			<p><br />
			  Upgrade your plan now to gain instant access.
			</p>
			<p class="offer">
			  Company list offers:<br />
			  Access to over 1 million global companies database including company
			  name, headquarters, industry, contact details and more!
			</p>
			<button pButton type="button" class="text-white p-ripple p-button-rounded p-button-warning p-button p-component"
			  (click)="upgradePlan()">
			  Upgrade Plan<i class="fa fa-arrow-right exhausted-plan-icon"></i>
			</button>
		  </div>
		</div> -->
  </ng-container>
</div>

<p-dialog header="Filter Companies" [(visible)]="isFilterVisible" [modal]="true" [style]="{ width: '60rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [ngStyle]="{ display: isFilterVisible }" class="filterDialog">
  <div class="m-5">
    <form role="form" [formGroup]="filterForm" (ngSubmit)="loadCompanyData(0)">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <label class="form-label" style="font-size: medium; font-weight: 500">Filter by Company Name</label>
              <div class="form-group">
                <div class="mb-3">
                  <input class="w-100 px-5 py-2" style="height: 45px" type="text" formControlName="company_name"
                    placeholder="Search in Company Name" pInputText />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label" style="font-size: medium; font-weight: 500">Filter by Industry</label>
              <div class="form-group">
                <div class="mb-3">
                  <p-multiSelect [options]="industryInterested" styleClass="w-100" formControlName="industry_interested"
                    defaultLabel="Select Industry" optionValue="id" optionLabel="industry_name" #IndustriesMultiSelect
                    [appendTo]="'body'">
                    <ng-template pTemplate="selectedItems">
                      {{ IndustriesMultiSelect.defaultLabel }}
                    </ng-template>
                  </p-multiSelect>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label" style="font-size: medium; font-weight: 500">Filter by Country</label>
              <div class="form-group">
                <div class="mb-3">
                  <p-multiSelect [options]="countryList" styleClass="w-100" formControlName="country" optionValue="id"
                    (onChange)="loadHeadQuartersData($event)" defaultLabel="Select Countries" optionLabel="country"
                    #multiSelect [appendTo]="'body'"> </p-multiSelect>
                  <div *ngIf="filterForm.hasError('org_name')" class="text-danger">
                    {{ filterForm.getError("org_name") }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label" style="font-size: medium; font-weight: 500">Filter by Head Quarters</label>
              <div class="form-group">
                <div class="mb-3">
                  <p-multiSelect [options]="headQuartersList" styleClass="w-100" formControlName="head_quarters"
                    defaultLabel="Select Head Quarters" optionValue="id" optionLabel="head_quarters_name"
                    #HeadMultiSelect [appendTo]="'body'">
                    <ng-template pTemplate="selectedItems">
                      {{ HeadMultiSelect.defaultLabel }}
                    </ng-template>
                  </p-multiSelect>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button pButton type="submit" class="btn btn-dark w-100"
          style="background-color: var(--uniprep-primary); border: none">Apply Filter</button>
        <button pButton class="btn btn-dark w-100" (click)="clearFilter()"
          style="background-color: white; border-radius: 8px; color: var(--uniprep-primary); border: none"
          type="button">Reset Filter</button>
      </div>
    </form>
  </div>
</p-dialog>

<uni-restriction-dialog *ngIf="restrict" [isShowRestrict]="restrict" (closeRestrictModal)="restrict = false" />