.industrytext
{
  word-break:break-all !important;
}

.industryicon
{
  color:var(--secondary-500);
}

.locationicon
{
  color:#E90707;
}

.headquartersicon
{
  color:#9BC329;
}

.companycard
{
  border:1px solid var(--secondary-500);
  &:hover
  {
    border:1px solid var(--primary-600);
    background:var(--primary-50);
  }
}

::ng-deep .p-datatable th
{
  background-color: var(--primary-600) !important;
  border-right: 1px solid var(--primary-200);
}

:host ::ng-deep .p-paginator .p-select-panel {
  left: auto !important;
  right: 0; /* Adjust the right position as needed */
  top: auto !important;
  bottom: 100%; /* Position the dropdown above the paginator */
  max-height: none !important; /* Prevent max-height from causing a scroll */
  overflow: visible !important; /* Ensure the dropdown is not hidden */
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td
{
  border:1px solid var(--primary-50);
}

::ng-deep .p-datatable a
{
  text-decoration: none;
  color:var(--primary-600);
}


.card-container {
  display: flex; /* Use a flex container for horizontal alignment */
  flex-wrap: wrap; /* Allow cards to wrap to the next row on smaller screens */
  gap: 10px; /* Add some spacing between cards */
}

/* Style for each card */
.card1 {
  flex: 0 0 calc(25% - 10px); /* Each card takes up 25% of the container width with spacing */
  background-color: #f0f0f0;
  // padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ccc;
}
.vertical-line {
  border-left: 1px solid #fff; /* Adjust the color and thickness as needed */
  height: 22px; /* Adjust the height of the vertical line as needed */
  display: inline-block;
  margin: -7px 5px; /* Optional: Add margin for spacing */
}
// .card1:hover .card__inner {
//   background-color: #EBEDF2;
// }
.card1:hover {
  border: 3px solid var(--primary-500);
}
.resterbutton {
  background-color: #fff;
  color: var(--primary-500);
}
.resterbutton:hover {
  background-color: var(--primary-500);
  color: #fff;
}
.custom-input {
  width: 325px;
}

.eventcard
{
  border:1px solid #f0f0f0;
  margin: 10px 0;
  border-radius: 20px !important;
  &:hover
  {
    border: 1px solid var(--primary-500);
    .event-top
    {
      border-bottom: 1px solid  var(--primary-500);
    }
    .event-bottom
    {
      background-color: var(--primary-50);
    }
    .registerbtn
    {
      background-color:white !important;
      color:var(--primary-500) !important;
    }
  }
  .eventcomplete
  {
    background-color: #ccc !important;
    position:absolute;
    left: 0.5rem;
    right: auto;
    top: 0.5rem;
    border-radius: 100px !important;
    border: none !important;
  }
  .eventcountdown
  {
    position:absolute;
    left: 0.5rem;
    right: auto;
    top: 0.5rem;
    border-radius: 100px !important;
  }
  .event-top
  {
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
    border-radius: 20px 20px 0 0;
    min-height: 175px;
    .eventtime
    {
      background-color:var(--primary-500);
      color: white;
      font-size: 0.8rem;
      padding: 0.5rem 1.5rem;
      border-radius: 20px 20px 0px 0px;
      display: inline-block;
    }
  }
  .event-bottom
  {
    border-radius:0 0 20px 20px;
    background-color: #f0f0f0;
  }
  .card {
    border-radius: 15px 15px 0px 0px !important;
  }
}

.theme-blue{
  border: 1px solid (--primary-500) !important;
}

.mobile{
  display: none;
}

.company-list-filter{
  margin-top: 50%
}

@media (max-width: 575.98px) {
  .mobileview {
    width: 100px;
    border-radius: 25px !important;
    border: 1px solid #3F4C83;
  }
  .b-6{
    border-radius: 6px;
    border: 1px solid #3F4C83;
  }
  .curve{
    border-radius: 25px;
    border: 1px solid #3F4C83;
  }
  .desktop {
    display: none !important;
  }

  .company-list-filter {
    margin-top: 10px;
  }

  :host .company-list-table-header {
    white-space: nowrap !important;
  }

  .mobile{
    display: block;
  }
  .p-paginator{
    justify-content: left !important;
  }
}
.primary-header{
  background: #3F4C83 !important;
}
.company-list-expired {
  // background: url('../../../uniprep-assets/images/Company\ List@2x.jpg');
  background-size: cover;
}
.pr-10 {
  padding-right: 10px;
}
.fs-10{
  font-size: 11px;
}
.companny-list{
  background-color: white !important;
  border: 1.5px solid orange;
  border-radius: 10px;
}
.br-8{
  border-radius: 25px !important;
}
.pr-2{
  padding-right: 2px;
}

.filterDialog ::ng-deep .p-dialog-header{
  border: 1px solid gray !important;
  padding: 0px 5px !important;
}

:host ::ng-deep .p-dialog-title{
  padding: 15px !important;
}
.company-guidlines{
background-color: #EBEDF2;
color: #001631 !important;
border-radius: 20px !important;
border: none;
}
.margin-auto {
  margin: 5rem auto;
  padding: 10px;
}

.exportButton{
  background-color: #EBEDF2;
  color: #001631 !important;
  border-radius: 20px !important;
  border: none;
  padding: 10px;
}
.favCount{
	padding: 6px;
	border-radius: 25px;
	color:#3F4C83;
	background-color: white;
	margin-left: 5px;
}

.exhausted-plan-icon-success{
  padding: 10px;
  border-radius: 25px;
  background-color: #9BC329;
  color: white;
  margin-left: 5px;
}

.p-danger-button {
  background-color: #E53939 !important;
  color: white !important;

  .fa-circle::before {
      color: #BE2B2B !important;
  }
}
.carousel-container{
  display: flex;
  flex-direction: column;
}


.p-button-info-prev {
  background-color: #0E3361;
  color: white;
  border: none;
}

.p-button-info-next {
  background-color: #4552A3;
  color: white;
  border: none;
}

.p-button-info-succes {
  background-color: #9BC329;
  color: white;
  border: none;
}

.exhausted-plan-icon-prev, .exhausted-plan-icon-next {
  padding: 10px;
  border-radius: 25px;
  background-color: #4552A3;
  color: white;
  margin-left: 5px;
} 

.product-item-content {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.question-number {
  font-size: 18px;
  color: #3F4C83;
  font-weight: 500;
}

.question {
  color: #001631;
  font-size: 25px;
}

.product-item-content {
  margin: auto;
  width: 70%;
  padding: 10px;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 10px;
  height: 10px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 20px;
}


::ng-deep .p-multiselect .p-multiselect-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; 
}

::ng-deep .p-multiselect {
  width: 100%;
  max-width: 800px;
}

::ng-deep .p-multiselect-panel {
  width: 100% !important;
}

@media (max-width: 575.98px) {
  .product-item-content {
      margin: auto;
      padding: 10px;
  }

  .question-number {
      font-size: 12px;
      color: #3F4C83;
      font-weight: 500;
  }

  .question {
      color: #001631;
      font-size: 14px;
  }

  .module-list {
      width: 46% !important;
  }
}
.universityicon
{
  color:var(--secondary-500);
}
.primary-color{
  color: var(--primary-500);
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 10px;
  height: 10px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 20px;
  }
  
  :host ::ng-deep .p-carousel-content {
  height: 100% !important;
  .p-carousel-container {
    height: 100%;
    .p-carousel-items-container {
      height: 100%;
    }
  }
  }
  
  :host ::ng-deep .p-carousel-item {
  width: 100% !important;
  }
  :host ::ng-deep .p-carousel .p-carousel-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  }