::ng-deep .card-div {
  .p-card {
    box-shadow: none;
    border: 1px solid var(--uniprep-gray);
    &:hover {
      background-color: var(--uniprep-gray);
      border-color: var(--uniprep-secondary);
    }
  }
}

.icon-container {
    background-color: #f0f4f8;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    margin-top: 10px;
  }

  .card-title {
    min-height: 45px;
    max-height: 45px;
  }

  .inside-card {
    background-color: white;
    box-shadow: none;
    border: 1px solid var(--uniprep-gray);
    &:hover {
     border:  1px solid  var(--uniprep-secondary);
    }
  }

  .card-tag {
    border-radius: 20px;
    width: fit-content;
    padding: 2px;
    padding-inline: 5px;
    background-color: var(--uniprep-secondary);
    color: white;
    font-weight: bold;
    font-size: smaller;
    text-align: center;
  }

  .text-primary {
    color: var(--uniprep-primary) !important;
  }
  
