<div class="card readingcard">
	<div class="card-header border-0 bg-transparent">
		<div class="row">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="select-title d-flex justify-content-between align-items-center">
					<div>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="Questions related to the application process are answered">Employer Connect<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
					</div>
					<div>
						<button class="how-it-works-button" (click)="openVideoPopup(howItWorksVideoLink)">How it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-3 mt-2 text-end desktop justify-content-end d-none d-md-flex"></div> -->
		</div>
	</div>
	<div class="card-body text-center flex-fill overflow-y-auto">
			<div class="row w-100 justify-content-center" *ngIf="isSkeletonVisible else showModules">
				<div *ngFor="let index of loopRange" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
					<div class="card my-2">
						<div class="card-body">
							<div class="row justify-content-center align-items-center">
								<div class="col-3 col-md-12 d-flex justify-content-center">
									<p-skeleton width="5rem" height="5rem" styleClass="mb-2"></p-skeleton>
								</div>
								<div class="col-9 col-md-12">
									<p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
									<p-skeleton width="100%"></p-skeleton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <ng-template #showModules>
                <div class="main-content text-center p-4">
                    <h3 class="main-heading mb-5 text-primary">
                      Create your profile, explore jobs that match your skills, and get hired faster with seamless employer connections!
                    </h3>
                  
                    <div class="row features-row justify-content-center ">
                      <!-- Profile Card -->
                      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
                        <p-card styleClass="h-100" class="card-div">
                          <div class="d-flex flex-column">
                            <div class="pt-2">
                                <div class="icon-container d-flex align-items-center justify-content-center mx-auto">
                                      <img src="assets/icons/profile-icon.png" alt="Profile" class="feature-icon">
                                </div>
                                </div>
                            <h4 class="card-title">Your Profile</h4>
                            <div class="tag-container w-100" style="text-align: center;">
                                <span class="card-tag">1M+ PROFILES</span>
                            </div>
                          </div>
                          <ng-template pTemplate="footer">
                            <div class="button-container">
                              <button class="btn btn-primary btn-rounded px-3 py-1" [routerLink]="'/pages/tutorials'">Create Profile</button>
                            </div>
                          </ng-template>
                        </p-card>
                      </div>
                  
                      <!-- Easy Apply Card -->
                      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
                        <p-card styleClass="h-100" class="card-div">
                          <div class="d-flex flex-column">
                            <div class="pt-2">
                                <div class="icon-container d-flex align-items-center justify-content-center mx-auto">
                                  <img src="assets/icons/apply-icon.png" alt="Apply" class="feature-icon">
                                </div>
                              </div>
                            <h4 class="card-title">Easy Apply</h4>
                            <div class="tag-container w-100" style="text-align: center;">
                                <span class="card-tag">1M+ JOBS</span>
                            </div>
                          </div>
                          <ng-template pTemplate="footer">
                            <div class="button-container">
                              <button class="btn btn-primary btn-rounded px-3 py-1" [routerLink]="'/pages/tutorials'">Apply</button>
                            </div>
                          </ng-template>
                        </p-card>
                      </div>
                  
                      <!-- Company Connect Card -->
                      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
                        <p-card styleClass="h-100" class="card-div">
                          <div class="d-flex flex-column">
                            <div class="pt-2">
                                <div class="icon-container d-flex align-items-center justify-content-center mx-auto">
                                  <img src="assets/icons/company-connect-icon.png" alt="Company Connect" class="feature-icon">
                                </div>
                            </div>
                            <h4 class="card-title">Company Connect</h4>
                            <div class="tag-container w-100" style="text-align: center;">
                                <span class="card-tag">100+ COMPANIES</span>
                            </div>
                          </div>
                          <ng-template pTemplate="footer">
                            <div class="button-container">
                              <button class="btn btn-primary btn-rounded px-3 py-1" [routerLink]="'/pages/tutorials'">Connect</button>
                            </div>
                          </ng-template>
                        </p-card>
                      </div>
                  
                      <!-- Job Tracker Card -->
                      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
                        <p-card styleClass="h-100 inside-card" class="card-div">
                          <div class="d-flex flex-column">
                            <div class="pt-2">
                                <div class="icon-container d-flex align-items-center justify-content-center mx-auto">
                                  <img src="assets/icons/job-tracker-icon.png" alt="Job Tracker" class="feature-icon">
                                </div>
                              </div>
                            <h4 class="card-title">Job Tracker</h4>
                            <div class="tag-container w-100" style="text-align: center;">
                                <span class="card-tag">100+ USERS</span>
                            </div>
                          </div>
                          <ng-template pTemplate="footer">
                            <div class="button-container">
                              <button class="btn btn-primary btn-rounded px-3 py-1" (click)="navigateJobTracker();">Track</button>
                            </div>
                          </ng-template>
                        </p-card>
                      </div>
                  
                      <!-- Company Tracker Card -->
                      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
                        <p-card styleClass="h-100 p-1" class="card-div">
                          <div class="d-flex flex-column">
                            <div class="pt-2">
                                <div class="icon-container d-flex align-items-center justify-content-center mx-auto">
                                  <img src="assets/icons/company-tracker-icon.png" alt="Company Tracker" class="feature-icon">
                                </div>
                              </div>
                            <h4 class="card-title">Company Tracker</h4>
                            <div class="tag-container w-100" style="text-align: center;">
                                <span class="card-tag">100+ USERS</span>
                            </div>
                          </div>
                          <ng-template pTemplate="footer">
                            <div class="button-container">
                              <button class="btn btn-primary btn-rounded px-3 py-1" [routerLink]="'/pages/talent-connect/company-tracker'" >Track</button>
                            </div>
                          </ng-template>
                        </p-card>
                      </div>
                    </div>
                  </div>
            </ng-template>
		</div>
</div>
<p-dialog [(visible)]="restrict" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false" class="restrictionDialog" [breakpoints]="{ '960px': '30vw', '959px': '60vw', '425px': '90vw' }" (onHide)="this.restrict = false;">
	<div *ngIf="ehitlabelIsShow" class="text-center mt-5 mb-4">
		<img src="../../../uniprep-assets/images/smartloack.png" class="image" width="60" />
		<h3 class="offer">Upgrade Required</h3>
		<p>To access this exclusive module,please upgrade your plan now</p>
		<button pButton type="button" class="text-white p-ripple p-button-rounded p-button-warning p-button p-component p-2" (click)="upgradePlan()">Upgrade Plan<i class="fa fa-arrow-right exhausted-plan-icon"></i></button>
	</div>
	<div *ngIf="!ehitlabelIsShow" class="text-center mt-5 mb-4">
		<img src="../../../uniprep-assets/images/smartloack.png" class="image" width="60" />
		<h3 class="offer">Upgrade Required</h3>
		<p>Please contact {{ orgnamewhitlabel }} Company for access</p>
	</div>
</p-dialog>
