<div class="container h-100">
  <div class="row loginbox">
  <div class="card">
  <div class="card-body d-flex">
    <div class="col-md-6 col-lg-6 align-content-center">
      <div class="row">
         <img class="small-image text-left" src="../../../uniprep-assets/images/uniboard.png">

          <h4 class="pt-2">Welcome to UNIPREP</h4>
        <p>Live resolution to personal questions.</p>
          <p><span class="font-primarycolor">30,000+ questions on every topics concerning education abroad<br>
          answered by alumni of international universities.</span></p>
        <div class="row justify-content-center">
         <img class="bg-image text-center" src="../../../uniprep-assets/images/Uniprep_Icons_image.png">
        </div>
        <p><strong>Note:</strong> You are welcomed for the selected country of your choice</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="login d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <h3 class="login-heading">
                Welcome, Please Register your
                <span class="font-primarycolor">account.</span>
              </h3>
              <label class="signup"
                >Already Have An Account ?<span
                  ><a class="font-primarycolor" href="login"> Sign In</a></span
                ></label
              >
              <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="row g-3">
                  <div class="col">
                    <label for="fullName">Full Name</label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_Full_name.png">
                      </div>
                      <input
                        type="text"
                        class="border-0"
                        pInputText
                        id="fullName"
                        placeholder="Full Name"
                        formControlName="fullName"
                        [ngClass]="{
                          'is-invalid': submitted && f.fullName.errors
                        }"
                      />
                    </div>
                    <div
                      *ngIf="submitted && f.fullName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.fullName.errors.required">
                        Full Name is required
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label for="location">Location</label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_location.png">
                      </div>
                      <p-dropdown
                        formControlName="location"
                        id="location" [filter]="true" [filterBy]="'district'"
                        [options]="locationList"
                        optionLabel="district"
                      ></p-dropdown>
                    </div>
                    <div
                      *ngIf="submitted && f.location.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.location.errors.required">
                        Location is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-6">
                    <label for="contactNumber">Contact Number</label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_Contact.png">
                      </div>
                      <input
                        type="number"
                        class="border-0"
                        pInputText
                        id="contactNumber"
                        formControlName="contactNumber"
                        placeholder="Contact Number"
                        [readonly]="isMobileOTPSend"
                        [ngClass]="{
                          'is-invalid': submitted && f.contactNumber.errors
                        }"
                      />
                      <div class="p-2">
                        <span *ngIf="!isMobileOTPValidated">
                          <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_un_verified.png">
                        </span>
                        <span *ngIf="isMobileOTPValidated">
                          <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_verified.png">

                        </span>
                        </div>
                    </div>
                    <div
                      *ngIf="submitted && f.contactNumber.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.contactNumber.errors.required">
                        Contact Number is required
                      </div>
                    </div>
                  </div>
                  <div class="col-6" *ngIf="isMobileOTPValidated">
                    <label for="emailAddress">Email Address</label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_email.png">
                      </div>
                      <input
                        type="email"
                        pInputText
                        class="border-0 w-full"
                        id="emailAddress"
                        [readonly]="isEmailOTPSend"
                        formControlName="emailAddress"
                        [ngClass]="{
                          'is-invalid': submitted && f.emailAddress.errors
                        }"
                      />
                      <div class="p-2">
                        <span *ngIf="!isEmailOTPValidated">
                          <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_un_verified.png">
                        </span>
                        <span *ngIf="isEmailOTPValidated">
                          <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_verified.png">
                        </span>
                        </div>
                    </div>
                    <div
                      *ngIf="submitted && f.emailAddress.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.emailAddress.errors.required">
                        Email Address is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row g-3" *ngIf="!isMobileOTPSend">
                  <div class="col">
                    <br />
                    <div class="text-center">
                      <button
                        class="pt-2 pb-2 btn btn-primary btn-login text-uppercase fw-bold m-0 w-50"
                        type="button"
                        (click)="sendMobileOTP()">
                        SEND OTP
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row g-3 justify-content-center text-center mt-2" *ngIf="isMobileOTPSend && !isMobileOTPValidated">
                  <form
                    [formGroup]="otpForm"
                    class="formOTP"
                    (ngSubmit)="onValidateMobileOTP()"
                  >
                    <h5 class="login-heading mt-3 mb-2">Enter your OTP</h5>
                    <label class="signup mb-3"
                      >We have sent you one time password to your contact number
                      for verification</label
                    >
                    <div style="text-align-last: center">
                      <input
                              (keypress)="numericOnly($event)"
                              (keyup)="focusNextInput($event, 1)"
                              [ngClass]="{
                          'is-invalid': submitted && f.otp1.errors
                        }"
                              autofocus
                              class="col form-control"
                              formControlName="otp1"
                              maxlength="1"
                              type="text"
                      />
                      <input
                              #otp2
                              (keyup)="focusNextInput($event, 2)"
                              [ngClass]="{
                          'is-invalid': submitted && f.otp2.errors
                        }"
                              class="col form-control"
                              formControlName="otp2"
                              maxlength="1"
                              type="text"
                      />
                      <input
                              class="col form-control"
                              formControlName="otp3"
                              (keyup)="focusNextInput($event, 3)"
                              type="text"
                              #otp3
                              maxlength="1"
                              [ngClass]="{
                          'is-invalid': submitted && f.otp3.errors
                        }"
                      />
                      <input
                              [ngClass]="{
                          'is-invalid': submitted && f.otp4.errors
                        }"
                              class="col form-control"
                              #otp4
                              formControlName="otp4"
                              (keyup)="focusNextInput($event, 4)"
                              maxlength="1"
                              type="text"
                      />
                      <div
                        *ngIf="
                          submitted &&
                          f.otp1.errors &&
                          f.otp2.errors &&
                          f.otp3.errors &&
                          f.otp4.errors
                        "
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="
                            f.otp1.errors.required &&
                            f.otp2.errors.required &&
                            f.otp3.errors.required &&
                            f.otp4.errors.required
                          "
                        >
                          OTP is required
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="text-center">
                      <button
                        class="pt-2 pb-2 btn btn-primary btn-login text-uppercase fw-bold m-0 w-50"
                        type="submit"
                      >
                        VERIFY OTP
                      </button>
                    </div>
                    <!--                    <label class="resend_label"-->
                    <!--                      >Didn't receive the Mobile OTP?-->
                    <!--                      <span class="font-primarycolor"-->
                    <!--                        ><a (click)="resendMobileOTP()"-->
                    <!--                          >Click to resend.</a-->
                    <!--                        ></span-->
                    <!--                      ></label-->
                    <!--                    >-->
                    <!--                    <div class="footer-part">-->
                    <!--                      <a href="login"-->
                    <!--                        ><span><i class="pi pi-chevron-left"></i></span></a-->
                    <!--                      ><br />-->
                    <!--                      <label>Back to Sign In</label>-->
                    <!--                    </div>-->
                  </form>
                </div>
                <div class="row g-3" *ngIf="!isEmailOTPSend && isMobileOTPValidated && !isRemainingFieldVisible">
                  <div class="col">
                    <br />
                    <div class="text-center">
                      <button
                        class="pt-2 pb-2 btn btn-primary btn-login text-uppercase fw-bold m-0 w-50"
                        type="button"
                        (click)="sendEmailOTP()"
                      >
                        SEND OTP
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row g-3 justify-content-center text-center mt-2" *ngIf="isEmailOTPSend && !isRemainingFieldVisible">
                  <form
                    [formGroup]="emailOTPForm"
                    class="formOTP"
                    (ngSubmit)="onValidateEmailOTP()"
                  >
                    <h5 class="login-heading mt-3 mb-2">Enter your Email OTP</h5>
                    <label class="signup mb-3"
                      >We have sent you one time password to your Email
                      for verification</label
                    >
                    <div style="text-align-last: center">
                      <input
                        class="col form-control"
                        [ngClass]="{
                          'is-invalid': submitted && f.otp5.errors
                        }"
                        formControlName="otp5"
                        (keyup)="focusNextEmailInput($event, 5)"
                        type="text"
                        #otp5
                        autofocus
                        maxlength="1"
                      />
                      <input
                        class="col form-control"
                        formControlName="otp6"
                        (keyup)="focusNextEmailInput($event, 6)"
                        type="text"
                        maxlength="1"
                        autofocus
                        #otp6
                        [ngClass]="{
                          'is-invalid': submitted && f.otp6.errors
                        }"
                      />
                      <input
                        class="col form-control"
                        formControlName="otp7"
                        (keyup)="focusNextEmailInput($event, 7)"
                        type="text"
                        maxlength="1"
                        #otp7
                        autofocus
                        [ngClass]="{
                          'is-invalid': submitted && f.otp7.errors
                        }"
                      />
                      <input
                        class="col form-control"
                        formControlName="otp8"
                        type="text"
                        (keyup)="focusNextEmailInput($event, 8)"
                        #otp8
                        maxlength="1"autofocus
                        [ngClass]="{
                          'is-invalid': submitted && f.otp8.errors
                        }"
                      />
                      <div
                        *ngIf="
                          submitted &&
                          f.otp5.errors &&
                          f.otp6.errors &&
                          f.otp7.errors &&
                          f.otp8.errors
                        "
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="
                            f.otp5.errors.required &&
                            f.otp6.errors.required &&
                            f.otp7.errors.required &&
                            f.otp8.errors.required
                          "
                        >
                          OTP is required
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="text-center">
                      <button
                        class="pt-2 pb-2 btn btn-primary btn-login text-uppercase fw-bold m-0 w-50"
                        type="submit"
                      >
                        VERIFY OTP
                      </button>
                    </div>
                    <!--                    <label class="resend_label"-->
                    <!--                      >Didn't receive the Email OTP?-->
                    <!--                      <span class="font-primarycolor"-->
                    <!--                        ><a (click)="resendEmailOTP()"-->
                    <!--                          >Click to resend.</a-->
                    <!--                        ></span-->
                    <!--                      ></label-->
                    <!--                    >-->
                    <!--                    <div class="footer-part">-->
                    <!--                      <a href="login"-->
                    <!--                        ><span><i class="pi pi-chevron-left"></i></span></a-->
                    <!--                      ><br />-->
                    <!--                      <label>Back to Sign In</label>-->
                    <!--                    </div>-->
                  </form>
                </div>
                <div *ngIf="isRemainingFieldVisible">
                <div class="row g-3">
                  <div class="col-6">
                    <label for="interestedCountry">Interested Country </label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_select_country.png">
                      </div>
                      <p-dropdown
                        formControlName="interestedCountry"
                        [options]="countryList"
                        [autoDisplayFirst]="false"
                        optionLabel="country"
                      ></p-dropdown>
                    </div>
                    <div
                      *ngIf="submitted && f.interestedCountry.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.interestedCountry.errors.required">
                        Interested Country is required
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <label for="lastDegreePassingYear">Last Degree Passing Year </label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_calender.png">
                      </div>
<!--                      <input-->
<!--                        type="number"-->
<!--                        class="border-0"-->
<!--                        pInputText-->
<!--                        formControlName="lastDegreePassingYear"-->
<!--                        [ngClass]="{-->
<!--                          'is-invalid': submitted && f.lastDegreePassingYear.errors-->
<!--                        }"-->
<!--                      />-->

                      <p-calendar
                              view="year"
                              dateFormat="yy"
                              inputId="pickYear"
                              class="pt-2"
                              formControlName="lastDegreePassingYear"
                              [maxDate]="dateTime"
                              [readonlyInput]="false"
                              placeholder="">
                      </p-calendar>
                    </div>
                    <div
                      *ngIf="submitted && f.lastDegreePassingYear.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.lastDegreePassingYear.errors.required">
                        Last Degree Passing year is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-6">
                    <label for="intakeYear">Intake year looking</label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_calender.png">
                      </div>
<!--                      <p-dropdown-->
<!--                        formControlName="intakeYear"-->
<!--                        #intakeYear-->
<!--                        [options]="intakeYearLooking"-->
<!--                        [autoDisplayFirst]="false"-->
<!--                        (onChange)="yearChange($event)"-->
<!--                        optionLabel="value"-->
<!--                      ></p-dropdown>-->

                      <p-calendar
                              view="year"
                              dateFormat="yy"
                              inputId="pickYear"
                              class="pt-2"
                              formControlName="intakeYear"
                              [minDate]="dateTime"
                              [readonlyInput]="false"
                              placeholder="">
                      </p-calendar>
                    </div>
                    <div
                      *ngIf="submitted && f.intakeYear.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.intakeYear.errors.required">
                        Intake Year is required
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <label for="intakeMonth">Intake Month Looking</label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_calender.png">
                      </div>
<!--                      <p-dropdown-->
<!--                        formControlName="intakeMonth"-->
<!--                        [options]="intakeMonthLooking"-->
<!--                        [autoDisplayFirst]="false"-->
<!--                        optionLabel="value"-->
<!--                      ></p-dropdown>-->

                      <p-calendar
                              view="month"
                              dateFormat="MM"
                              formControlName="intakeMonth"
                              inputId="pickMonth"
                              [yearNavigator]="true"
                              class="pt-2"
                              [readonlyInput]="false"
                              [minDate]="dateTime"
                              placeholder="">
                      </p-calendar>
                    </div>
                    <div
                      *ngIf="submitted && f.intakeMonth.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.intakeMonth.errors.required">
                        IntakeMonth is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-6">
                    <label for="programLevel">Program Level</label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_Program_Level.png">
                      </div>
                      <p-dropdown
                        formControlName="programLevel"
                        [options]="programLevelList"
                        [autoDisplayFirst]="false"
                        optionLabel="programlevel"
                      ></p-dropdown>
                    </div>
                    <div
                      *ngIf="submitted && f.location.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.location.errors.required">
                        Location is required
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <label for="gender">Gender</label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <img class="bg-image text-center" src="../../../uniprep-assets/images/icons/Uniprep_Icons_gender.png">
                      </div>
                      <p-dropdown
                        formControlName="gender"
                        [options]="genderList"
                        [autoDisplayFirst]="false"
                        optionLabel="value"
                      ></p-dropdown>
                    </div>
                    <div
                      *ngIf="submitted && f.gender.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.gender.errors.required">
                        Gender is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col">
                    <label for="floatingPassword">Password</label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <i class="pi pi-lock gray-100"></i>
                      </div>
                      <input
                      [type]="password"
                        pInputText
                        class="border-0"
                        formControlName="password"

                        [ngClass]="{
                          'is-invalid': submitted && f.password.errors
                        }"
                      />
                      <div class="p-2">
                      <span (click)="showHidePassword()">
                        <i class="pi pi-eye" aria-hidden="true" *ngIf="!show"></i>
                        <i class="pi pi-eye-slash" aria-hidden="true" *ngIf="show"></i>
                      </span>
                    </div>
                    </div>
                    <div
                      *ngIf="submitted && f.password.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.password.errors.required">
                        Password is required
                      </div>
                      <div *ngIf="f.password.errors.minlength">
                        Password must be at least 8 characters
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="p-inputgroup">
                      <div class="p-inputgroup-addon">
                        <i class="pi pi-lock"></i>
                      </div>
                      <input
                              [type]="confirmPassword"
                              pInputText
                              class="border-0"
                              id="confirmPassword"
                              formControlName="confirmPassword"
                              [ngClass]="{
                          'is-invalid': submitted && f.confirmPassword.errors
                        }"
                      />
                      <div class="p-2">
                      <span (click)="showHideConfirmPassword()">
                        <i class="pi pi-eye" aria-hidden="true" *ngIf="!showConfirm"></i>
                        <i class="pi pi-eye-slash" aria-hidden="true" *ngIf="showConfirm"></i>
                      </span>
                      </div>
                    </div>
                    <div
                            *ngIf="submitted && f.confirmPassword.errors"
                            class="invalid-feedback"
                    >
                      <div
                              style="width: 120%"
                              *ngIf="f.confirmPassword.hasError('matching')"
                      >
                        Password and confirm password not match
                      </div>
                      <div *ngIf="f.confirmPassword.errors.required">
                        Confirm Password is required
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    class="input_checkbox"
                    type="checkbox"
                    id="terms"
                    formControlName="terms"
                  />
                  <label class="form-check-label agree" for="terms">
                    I agree to the
                    <a class="font-primarycolor" (click)="openTermsPopup()">
                      terms and Conditions</a
                    >.
                  </label>
                </div>
                <br />
                <div class="d-grid">
                  <button
                    class="pt-3 pb-3 btn btn-primary btn-login text-uppercase fw-bold m-0"
                    type="submit"
                  >
                    Sign Up
                  </button>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal modal-bg"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayTerms }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a (click)="closeTermsPopup()">
          <span aria-hidden="true"
            ><img src="../../../uniprep-assets/images/sop/close.png"
          /></span>
        </a>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="card _terms">
            <div class="card-body mt-2">
              <h4 class="card-title">Terms & Conditions</h4>
              <p class="card-text terms_p">Last update: 1 November 2022</p>
              <hr />
              <div style="font-size: 0.9rem">
                <p>
                  <b>Welcome to Project</b><br />
                  Quisque est nisi, eleifend tristique congue non, sagittis quis
                  justo. In blandit hendrerit magna, sit amet ullamcorper
                  sapien. Suspendisse potenti. Vivamus eu lacus ut nulla dapibus
                  malesuada nec et libero. Ut ultrices risus id eleifend
                  sagittis.
                </p>
                <br />
                <p>
                  <b>1. What are Terms and Conditions</b><br />
                  Sed non dui aliquam, ullamcorper est non, aliquet mauris.
                  Quisque lacus ligula, dapibus nec dignissim non, tincidunt vel
                  quam. Etiam porttitor iaculis odio. Cras sagittis nunc lectus,
                  in condimentum ligula ornare at. Etiam sagittis malesuada
                  nisl. Duis volutpat ligula ante. Sed cursus, tortor a
                  pellentesque pulvinar, lorem ipsum gravida elit, id posuere
                  elit neque in est. Mauris ex justo, tincidunt at suscipit
                  quis, pretium a mi. Quisque consequat nisl nulla, dignissim
                  gravida ipsum ultrices et. Morbi pharetra non massa at cursus.
                  Vivamus convallis dui eu nisl blandit, vel convallis nisi
                  dapibus.
                </p>
                <br />
                <p>
                  <b>A. What to include in a Terms and Conditions</b><br />
                  tiam rhoncus quis eros eget fringilla. Etiam malesuada enim
                  laoreet nibh euismod, eu finibus elit finibus. Duis ornare
                  tempus purus. Nam at leo quis tortor congue dignissim. Sed non
                  varius erat. Nulla vel nibh eu risus cursus vulputate nec ac
                  elit.
                </p>
                <br />
                <p>
                  <b>B. Is a Terms and Conditions required?</b><br />
                  roin efficitur vestibulum molestie. Nam urna justo, ornare
                  commodo sem eget, pretium lobortis nisi. Curabitur ac felis
                  pharetra nunc molestie semper quis eu mauris. Aliquam mollis,
                  arcu in blandit cursus, lacus est aliquam dui, vitae suscipit
                  orci massa.
                </p>
                <p>
                  <b>2. What are Terms and Conditions</b><br />
                  Sed non dui aliquam, ullamcorper est non, aliquet mauris.
                  Quisque lacus ligula, dapibus nec dignissim non, tincidunt vel
                  quam. Etiam porttitor iaculis odio. Cras sagittis nunc lectus,
                  in condimentum ligula ornare at. Etiam sagittis malesuada
                  nisl. Duis volutpat ligula ante. Sed cursus, tortor a
                  pellentesque pulvinar, lorem ipsum gravida elit, id posuere
                  elit neque in est. Mauris ex justo, tincidunt at suscipit
                  quis, pretium a mi. Quisque consequat nisl nulla, dignissim
                  gravida ipsum ultrices et. Morbi pharetra non massa at cursus.
                  Vivamus convallis dui eu nisl blandit, vel convallis nisi
                  dapibus.
                </p>
                <br />
                <p>
                  <b>3. Is a Terms and Conditions required?</b><br />
                  roin efficitur vestibulum molestie. Nam urna justo, ornare
                  commodo sem eget, pretium lobortis nisi. Curabitur ac felis
                  pharetra nunc molestie semper quis eu mauris. Aliquam mollis,
                  arcu in blandit cursus, lacus est aliquam dui, vitae suscipit
                  orci massa.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
