<!-- <section class="startbg h-100 d-flex align-items-start align-items-md-center">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card px-4 my-4">
					<div class="card-body p-md-5 p-0 py-5">
						<div class="row justify-content-center justify-content-md-between desktop">
							<div class="col-md-5 col-lg-5 align-items-center col-12">
								<div class="row">
									<img class="small-image text-left mb-2" src="../../../uniprep-assets/images/uniprep-light.svg" />
									<h1 class="fw-medium uniprep-primary mt-3 mb-0">Welcome to <span class="fw-semibold uniprep-primarydark">UNIPREP</span></h1>
									<h4 class="uniprep-primarydark mb-3">A one-stop global platform.</h4>
									<p class="uniprep-primary mb-5">Find answers to all your questions related to career, education, and life at your chosen destination.</p>
									<div class="row justify-content-start">
										<iframe width="100%" height="300px" src="https://www.youtube.com/embed/xc1mPlOlKmU?si=hDaOq7SEfH4II5o5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-6 col-12">
								<div class="login d-flex align-items-center">
									<div class="container">
										<div class="row">
											<div class="col-md-12 col-lg-12">
												<h4 class="mt-3 mb-2 fw-semibold">Welcome, Please Register to your account.</h4>
												<hr class="w-25 m-0" />
												<p class="signup mt-2">
													Already have an account?<span><a class="font-primarycolor" href="login"> Login</a></span>
												</p>
												<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
													<div class="row registerForm">
														<div class="col-md-6 col-12">
															<label for="fullName">Full Name<span class="required">*</span></label>
															<div class="p-inputgroup">
																<div class="p-inputgroup-addon">
																	<i class="fa-regular fa-user"></i>
																</div>
																<input type="text" class="border-0" pInputText id="fullName" placeholder="Full Name" formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
															</div>
															<div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
																<div *ngIf="f.fullName.errors.required">Full Name is required</div>
															</div>
														</div>
														<div class="col-md-6 col-12">
															<label for="contactNumber"
																>Contact Number
																<span *ngIf="!isMobileOTPValidated && showContactErrorIcon">
																	<i class="fa-solid fa-circle-exclamation text-danger"></i>
																</span>
																<span *ngIf="isMobileOTPValidated">
																	<i class="fa-solid fa-circle-check uniprep-primary"></i>
																</span>
																<span class="required">*</span>
															</label>
															<div class="w-100 position-relative">
																<ngx-intl-tel-input
																	class="intel-input w-100"
																	[cssClass]="'custom'"
																	[preferredCountries]="[CountryISO.India]"
																	[enableAutoCountrySelect]="true"
																	[enablePlaceholder]="true"
																	[searchCountryFlag]="true"
																	[maxLength]="15"
																	[searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
																	[phoneValidation]="true"
																	customPlaceholder="9876543210"
																	[selectedCountryISO]="CountryISO.India"
																	name="phone"
																	formControlName="contactNumber"
																	[readonly]="isMobileOTPSend"
																	(keyup)="onChangeContact($event)"
																	[ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }">
																</ngx-intl-tel-input>
																<div class="edit-button" *ngIf="isMobileOTPEdit && !isMobileOTPValidated" (click)="editMobileNumberAgain()">Edit</div>
															</div>
															<div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
																<div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
															</div>
														</div>
														<div class="col-md-12 col-12" *ngIf="isMobileOTPValidated">
															<label for="emailAddress"
																>Email Address
																<span *ngIf="!isEmailOTPValidated && showEmailErrorIcon">
																	<i class="fa-solid fa-circle-exclamation text-danger"></i>
																</span>
																<span *ngIf="isEmailOTPValidated">
																	<i class="fa-solid fa-circle-check uniprep-primary"></i>
																</span>
																<span class="required">*</span>
															</label>
															<div style="position: relative">
																<div class="p-inputgroup">
																	<div class="p-inputgroup-addon">
																		<i class="fa-regular fa-envelope"></i>
																	</div>
																	<input type="email" pInputText class="border-0 w-full" id="emailAddress" [readonly]="isEmailOTPSend" formControlName="emailAddress" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" (keyup)="onChangeEmail($event)" />
																</div>
																<div class="edit-button" *ngIf="isEmailOTPSend && !isRemainingFieldVisible && isMobileOTPSend" (click)="editEmailAgain()">Edit</div>
															</div>
															<div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
																<div *ngIf="f.emailAddress.errors.required">Email Address is required</div>
															</div>
														</div>
														<div class="col-md-12" *ngIf="!isMobileOTPSend">
															<div class="row">
																<div class="col-md-12 col-12">
																	<div class="text-center mt-3">
																		<button class="btn m-0 btn-primary send-btn" type="button" (click)="sendMobileOTP()">SEND OTP</button>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-12" *ngIf="isMobileOTPSend && !isMobileOTPValidated">
															<form [formGroup]="otpForm" class="formOTP" (ngSubmit)="onValidateMobileOTP()">
																<h5 class="mt-3 text-center">Enter your OTP</h5>
																<p class="text-center text-muted">We have sent you one time password to your contact number for verification</p>
																<div class="text-center">
																	<input (keypress)="numericOnly($event)" (keyup)="focusNextInput($event, 1)" [ngClass]="{ 'is-invalid': submitted && f.otp1.errors }" autofocus class="col form-control" formControlName="otp1" maxlength="1" type="text" />
																	<input #otp2 (keyup)="focusNextInput($event, 2)" [ngClass]="{ 'is-invalid': submitted && f.otp2.errors }" class="col form-control" formControlName="otp2" maxlength="1" type="text" />
																	<input class="col form-control" formControlName="otp3" (keyup)="focusNextInput($event, 3)" type="text" #otp3 maxlength="1" [ngClass]="{ 'is-invalid': submitted && f.otp3.errors }" />
																	<input [ngClass]="{ 'is-invalid': submitted && f.otp4.errors }" class="col form-control" #otp4 formControlName="otp4" (keyup)="focusNextInput($event, 4)" maxlength="1" type="text" />
																	<div *ngIf="submitted && f.otp1.errors && f.otp2.errors && f.otp3.errors && f.otp4.errors" class="invalid-feedback">
																		<div *ngIf="f.otp1.errors.required && f.otp2.errors.required && f.otp3.errors.required && f.otp4.errors.required">OTP is required</div>
																	</div>
																	<div *ngIf="resendTime <= 3" class="mt-3 mb-4 small">
																		<div class="text-center">Didn't receive the Otp?</div>
																		<div class="text-center">
																			<span *ngIf="startTimer > 0; else notime">Resend OTP in {{ startTimer }}</span>
																			<ng-template #notime>
																				<span class="font-primarycolor"><a (click)="sendMobileOTP()">Click to resend.</a></span>
																			</ng-template>
																		</div>
																	</div>
																</div>
																<div class="text-center">
																	<button class="pt-2 pb-2 btn btn-primary btn-login text-uppercase fw-bold m-2 w-50" type="submit">VERIFY OTP</button>
																</div>
																<div class="footer-part">
																	<a href="login"
																		><span><i class="pi pi-chevron-left"></i></span></a
																	><br /><label>Back to Sign In</label>
																</div>
															</form>
														</div>
														<div class="col-md-12" *ngIf="!isEmailOTPSend && isMobileOTPValidated && !isRemainingFieldVisible">
															<div class="row g-3">
																<div class="col-md-12 col-12">
																	<div class="text-center mt-3">
																		<button class="btn m-0 mt-3 btn-primary send-btn" type="button" (click)="sendEmailOTP()">SEND OTP</button>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-12" *ngIf="isEmailOTPSend && !isRemainingFieldVisible">
															<form [formGroup]="emailOTPForm" class="formOTP" (ngSubmit)="onValidateEmailOTP()">
																<h5 class="mt-3 text-center">Enter your OTP</h5>
																<p class="text-center text-muted">We have sent you one time password to your email for verification</p>
																<div class="text-center">
																	<input class="col form-control" [ngClass]="{ 'is-invalid': submitted && f.otp5.errors }" formControlName="otp5" (keyup)="focusNextEmailInput($event, 5)" type="text" #otp5 autofocus maxlength="1" />
																	<input class="col form-control" formControlName="otp6" (keyup)="focusNextEmailInput($event, 6)" type="text" maxlength="1" autofocus #otp6 [ngClass]="{ 'is-invalid': submitted && f.otp6.errors }" />
																	<input class="col form-control" formControlName="otp7" (keyup)="focusNextEmailInput($event, 7)" type="text" maxlength="1" #otp7 autofocus [ngClass]="{ 'is-invalid': submitted && f.otp7.errors }" />
																	<input class="col form-control" formControlName="otp8" type="text" (keyup)="focusNextEmailInput($event, 8)" #otp8 maxlength="1" autofocus [ngClass]="{ 'is-invalid': submitted && f.otp8.errors }" />
																	<div *ngIf="submitted && f.otp5.errors && f.otp6.errors && f.otp7.errors && f.otp8.errors" class="invalid-feedback">
																		<div *ngIf="f.otp5.errors.required && f.otp6.errors.required && f.otp7.errors.required && f.otp8.errors.required">OTP is required</div>
																	</div>
																</div>
																<br />
																<div class="text-center">
																	<button class="pt-2 pb-2 btn btn-primary btn-login text-uppercase fw-bold m-0 w-50" type="submit">VERIFY OTP</button>
																</div>
																<p class="text-center mt-3">
																	Didn't receive the Email OTP?<br /><span class="font-primarycolor"><a (click)="sendEmailOTP()">Click to resend.</a> </span>
																</p>
																<div class="footer-part">
																	<a href="login"
																		><span><i class="pi pi-chevron-left"></i></span></a
																	><br />
																	<label>Back to Sign In</label>
																</div>
															</form>
														</div>
													</div>

													<div *ngIf="isRemainingFieldVisible">
														<div class="row">
															<div class="col-md-6 col-12">
																<label for="gender">Gender</label>
																<div class="p-inputgroup">
																	<div class="p-inputgroup-addon">
																		<i class="fa-regular fa-venus-mars"></i>
																	</div>
																	<p-dropdown placeholder="Gender" formControlName="gender" [options]="genderList" [autoDisplayFirst]="false" optionLabel="value"></p-dropdown>
																</div>
															</div>
															<div class="col-md-6 col-12">
																<label for="interestedCountry">Interested Country<span class="required">*</span></label>
																<div class="p-inputgroup">
																	<div class="p-inputgroup-addon">
																		<i class="fa-regular fa-earth-americas"></i>
																	</div>
																	<p-dropdown placeholder="Select Interested Country" formControlName="interestedCountry" [options]="intrestedCountryList" optionValue="id" optionLabel="country" [filter]="true" filterBy="country" [autoDisplayFirst]="false"></p-dropdown>
																</div>
																<div *ngIf="submitted && f.interestedCountry.errors" class="invalid-feedback">
																	<div *ngIf="f.interestedCountry.errors.required">Interested Country is required</div>
																</div>
															</div>
															<div class="col-md-6 col-12">
																<label for="country">Home Country<span class="required">*</span></label>
																<div class="p-inputgroup">
																	<div class="p-inputgroup-addon">
																		<i class="fa-regular fa-earth-americas"></i>
																	</div>
																	<p-dropdown placeholder="My Country" formControlName="country" id="country" [options]="countryList" optionValue="id" optionLabel="country" [autoDisplayFirst]="false" [filter]="true" filterBy="country" (onChange)="changeLocation($event)"></p-dropdown>
																</div>
																<div *ngIf="submitted && f.country.errors" class="invalid-feedback">
																	<div *ngIf="f.country.errors.required">Home Country is required</div>
																</div>
															</div>
															<div class="col-md-6 col-12">
																<label for="location">Location<span class="required">*</span></label>
																<div class="p-inputgroup">
																	<div class="p-inputgroup-addon">
																		<i class="fa-regular fa-location-dot"></i>
																	</div>
																	<p-dropdown placeholder="My City" formControlName="location" id="location" [filter]="true" *ngIf="registrationForm.get('country').value == 122" [filterBy]="'district'" [options]="locationList" optionLabel="district" optionValue="id" [autoDisplayFirst]="false"></p-dropdown>
																	<p-dropdown placeholder="My City" formControlName="location" id="location" [options]="locationList" *ngIf="registrationForm.get('country').value != 122" optionLabel="district" optionValue="id" [readonly]="true"></p-dropdown>
																</div>
																<div *ngIf="submitted && f.location.errors" class="invalid-feedback">
																	<div *ngIf="f.location.errors.required">Location is required</div>
																</div>
															</div>
															<div class="col-md-6 col-12">
																<label for="floatingPassword">Password<span class="required">*</span></label>
																<div class="p-inputgroup">
																	<div class="p-inputgroup-addon">
																		<i class="fa-regular fa-lock"></i>
																	</div>
																	<input
																		[type]="password"
																		pInputText
																		class="border-0"
																		formControlName="password"
																		placeholder="New Password"
																		[ngClass]="{
																			'is-invalid': submitted && f.password.errors
																		}" />
																	<div class="p-2" role="button">
																		<span (click)="showHidePassword()">
																			<i class="fa-regular fa-eye" aria-hidden="true" *ngIf="!show"></i>
																			<i class="fa-regular fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
																		</span>
																	</div>
																</div>
																<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
																	<div *ngIf="f.password.errors.required">Password is required</div>
																	<div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
																</div>
															</div>
															<div class="col-md-6 col-12">
																<label for="confirmPassword">Confirm Password<span class="required">*</span></label>
																<div class="p-inputgroup">
																	<div class="p-inputgroup-addon">
																		<i class="fa-regular fa-lock-hashtag"></i>
																	</div>
																	<input
																		[type]="confirmPassword"
																		pInputText
																		class="border-0"
																		placeholder="Confirm Password"
																		id="confirmPassword"
																		formControlName="confirmPassword"
																		[ngClass]="{
																			'is-invalid': submitted && f.confirmPassword.errors
																		}" />
																	<div class="p-2" role="button">
																		<span (click)="showHideConfirmPassword()">
																			<i class="fa-regular fa-eye" aria-hidden="true" *ngIf="!showConfirm"></i>
																			<i class="fa-regular fa-eye-slash" aria-hidden="true" *ngIf="showConfirm"></i>
																		</span>
																	</div>
																</div>
																<div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
																	<div style="width: 120%" *ngIf="f.confirmPassword.hasError('matching')">Password and confirm password not match</div>
																	<div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
																</div>
															</div>
														</div>
														<div class="col-md-12 mt-4">
															<div class="d-grid">
																<button class="pt-3 pb-3 btn btn-primary btn-login text-uppercase fw-semibold h5 m-0 text-dark" type="submit">Sign Up</button>
															</div>
														</div>
													</div>
												</form>
												<div class="line mt-4 mb-4"></div>
											   <div class="d-flex gap-3">
													<asl-google-signin-button text='signup_with' class="ml-2 font-bold fullWidth" logo_alignment="center" type="standard" size="large"></asl-google-signin-button>
													<div class="socialloginbutton justify-content-center gap-3 w-100 flex-row align-items-center d-flex" role="button">
														<img src="../../../uniprep-assets/icons/facebook.svg" width="20" />
														<span class="text-small fw-semibold">Sign Up Coming Soon</span>
													</div>
													<div class="socialloginbutton justify-content-center gap-3 w-100 flex-row align-items-center d-flex" role="button">
														<img src="../../../uniprep-assets/icons/linkedin.svg" width="20" />
														<span class="text-small fw-semibold">Sign Up Coming Soon</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="mobile">
							<div class="text-center">
								<img class="small-image mb-2" src="../../../uniprep-assets/images/uniprep-light.svg" />
								<h2 class="fw-medium uniprep-primary mt-3 mb-0">Welcome to <span class="fw-semibold uniprep-primarydark">UNIPREP</span></h2>
								<div class="row justify-content-start mt-4 mb-4">
									<iframe width="100%" height="200px" src="https://www.youtube.com/embed/xc1mPlOlKmU?si=hDaOq7SEfH4II5o5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
								</div>
							</div>
							<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
								<div class="row registerForm">
									<div class="col-md-6 col-12">
										<label for="fullName">Full Name<span class="required">*</span></label>
										<div class="p-inputgroup">
											<div class="p-inputgroup-addon">
												<i class="fa-regular fa-user"></i>
											</div>
											<input type="text" class="border-0" pInputText id="fullName" placeholder="Full Name" formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
										</div>
										<div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
											<div *ngIf="f.fullName.errors.required">Full Name is required</div>
										</div>
									</div>
									<div class="col-md-6 col-12">
										<label for="contactNumber"
											>Contact Number
											<span *ngIf="!isMobileOTPValidated && showContactErrorIcon">
												<i class="fa-solid fa-circle-exclamation text-danger"></i>
											</span>
											<span *ngIf="isMobileOTPValidated">
												<i class="fa-solid fa-circle-check uniprep-primary"></i>
											</span>
											<span class="required">*</span>
										</label>
										<div class="w-100 position-relative">
											<ngx-intl-tel-input
												class="intel-input w-100"
												[cssClass]="'custom'"
												[preferredCountries]="[CountryISO.India]"
												[enableAutoCountrySelect]="true"
												[enablePlaceholder]="true"
												[searchCountryFlag]="true"
												[maxLength]="15"
												[searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
												[phoneValidation]="true"
												customPlaceholder="9876543210"
												[selectedCountryISO]="CountryISO.India"
												name="phone"
												formControlName="contactNumber"
												[readonly]="isMobileOTPSend"
												(keyup)="onChangeContact($event)"
												[ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }">
											</ngx-intl-tel-input>
											<div class="edit-button" *ngIf="isMobileOTPEdit && !isMobileOTPValidated" (click)="editMobileNumberAgain()">Edit</div>
										</div>
										<div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
											<div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
										</div>
									</div>
									<div class="col-md-12 col-12" *ngIf="isMobileOTPValidated">
										<label for="emailAddress"
											>Email Address
											<span *ngIf="!isEmailOTPValidated && showEmailErrorIcon">
												<i class="fa-solid fa-circle-exclamation text-danger"></i>
											</span>
											<span *ngIf="isEmailOTPValidated">
												<i class="fa-solid fa-circle-check uniprep-primary"></i>
											</span>
											<span class="required">*</span>
										</label>
										<div style="position: relative">
											<div class="p-inputgroup">
												<div class="p-inputgroup-addon">
													<i class="fa-regular fa-envelope"></i>
												</div>
												<input type="email" pInputText class="border-0 w-full" id="emailAddress" [readonly]="isEmailOTPSend" formControlName="emailAddress" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" (keyup)="onChangeEmail($event)" />
											</div>
											<div class="edit-button" *ngIf="isEmailOTPSend && !isRemainingFieldVisible && isMobileOTPSend" (click)="editEmailAgain()">Edit</div>
										</div>
										<div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
											<div *ngIf="f.emailAddress.errors.required">Email Address is required</div>
										</div>
									</div>
									<div class="col-md-12" *ngIf="!isMobileOTPSend">
										<div class="row">
											<div class="col-md-12 col-12">
												<div class="text-center mt-3">
													<button class="btn m-0 btn-primary send-btn" type="button" (click)="sendMobileOTP()">SEND OTP</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12" *ngIf="isMobileOTPSend && !isMobileOTPValidated">
										<form [formGroup]="otpForm" class="formOTP" (ngSubmit)="onValidateMobileOTP()">
											<h5 class="mt-3 text-center">Enter your OTP</h5>
											<p class="text-center text-muted">We have sent you one time password to your contact number for verification</p>
											<div class="text-center">
												<input (keypress)="numericOnly($event)" (keyup)="focusNextInput($event, 1)" [ngClass]="{ 'is-invalid': submitted && f.otp1.errors }" autofocus class="col form-control" formControlName="otp1" maxlength="1" type="text" />
												<input #otp2 (keyup)="focusNextInput($event, 2)" [ngClass]="{ 'is-invalid': submitted && f.otp2.errors }" class="col form-control" formControlName="otp2" maxlength="1" type="text" />
												<input class="col form-control" formControlName="otp3" (keyup)="focusNextInput($event, 3)" type="text" #otp3 maxlength="1" [ngClass]="{ 'is-invalid': submitted && f.otp3.errors }" />
												<input [ngClass]="{ 'is-invalid': submitted && f.otp4.errors }" class="col form-control" #otp4 formControlName="otp4" (keyup)="focusNextInput($event, 4)" maxlength="1" type="text" />
												<div *ngIf="submitted && f.otp1.errors && f.otp2.errors && f.otp3.errors && f.otp4.errors" class="invalid-feedback">
													<div *ngIf="f.otp1.errors.required && f.otp2.errors.required && f.otp3.errors.required && f.otp4.errors.required">OTP is required</div>
												</div>
												<div *ngIf="resendTime <= 3" class="mt-3 mb-4 small">
													<div class="text-center">Didn't receive the Otp?</div>
													<div class="text-center">
														<span *ngIf="startTimer > 0; else notime">Resend OTP in {{ startTimer }}</span>
														<ng-template #notime>
															<span class="font-primarycolor"><a (click)="sendMobileOTP()">Click to resend.</a></span>
														</ng-template>
													</div>
												</div>
											</div>
											<div class="text-center">
												<button class="pt-2 pb-2 btn btn-primary btn-login text-uppercase fw-bold m-2 w-50" type="submit">VERIFY OTP</button>
											</div>
											<div class="footer-part">
												<a href="login"
													><span><i class="pi pi-chevron-left"></i></span></a
												><br /><label>Back to Sign In</label>
											</div>
										</form>
									</div>
									<div class="col-md-12" *ngIf="!isEmailOTPSend && isMobileOTPValidated && !isRemainingFieldVisible">
										<div class="row g-3">
											<div class="col-md-12 col-12">
												<div class="text-center mt-3">
													<button class="btn m-0 mt-3 btn-primary send-btn" type="button" (click)="sendEmailOTP()">SEND OTP</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12" *ngIf="isEmailOTPSend && !isRemainingFieldVisible">
										<form [formGroup]="emailOTPForm" class="formOTP" (ngSubmit)="onValidateEmailOTP()">
											<h5 class="mt-3 text-center">Enter your OTP</h5>
											<p class="text-center text-muted">We have sent you one time password to your email for verification</p>
											<div class="text-center">
												<input class="col form-control" [ngClass]="{ 'is-invalid': submitted && f.otp5.errors }" formControlName="otp5" (keyup)="focusNextEmailInput($event, 5)" type="text" #otp5 autofocus maxlength="1" />
												<input class="col form-control" formControlName="otp6" (keyup)="focusNextEmailInput($event, 6)" type="text" maxlength="1" autofocus #otp6 [ngClass]="{ 'is-invalid': submitted && f.otp6.errors }" />
												<input class="col form-control" formControlName="otp7" (keyup)="focusNextEmailInput($event, 7)" type="text" maxlength="1" #otp7 autofocus [ngClass]="{ 'is-invalid': submitted && f.otp7.errors }" />
												<input class="col form-control" formControlName="otp8" type="text" (keyup)="focusNextEmailInput($event, 8)" #otp8 maxlength="1" autofocus [ngClass]="{ 'is-invalid': submitted && f.otp8.errors }" />
												<div *ngIf="submitted && f.otp5.errors && f.otp6.errors && f.otp7.errors && f.otp8.errors" class="invalid-feedback">
													<div *ngIf="f.otp5.errors.required && f.otp6.errors.required && f.otp7.errors.required && f.otp8.errors.required">OTP is required</div>
												</div>
											</div>
											<br />
											<div class="text-center">
												<button class="pt-2 pb-2 btn btn-primary btn-login text-uppercase fw-bold m-0 w-50" type="submit">VERIFY OTP</button>
											</div>
											<p class="text-center mt-3">
												Didn't receive the Email OTP?<br /><span class="font-primarycolor"><a (click)="sendEmailOTP()">Click to resend.</a> </span>
											</p>
											<div class="footer-part">
												<a href="login"
													><span><i class="pi pi-chevron-left"></i></span></a
												><br />
												<label>Back to Sign In</label>
											</div>
										</form>
									</div>
								</div>

								<div *ngIf="isRemainingFieldVisible">
									<div class="row">
										<div class="col-md-6 col-12">
											<label for="gender">Gender</label>
											<div class="p-inputgroup">
												<div class="p-inputgroup-addon">
													<i class="fa-regular fa-venus-mars"></i>
												</div>
												<p-dropdown placeholder="Gender" formControlName="gender" [options]="genderList" [autoDisplayFirst]="false" optionLabel="value"></p-dropdown>
											</div>
										</div>
										<div class="col-md-6 col-12">
											<label for="interestedCountry">Interested Country<span class="required">*</span></label>
											<div class="p-inputgroup">
												<div class="p-inputgroup-addon">
													<i class="fa-regular fa-earth-americas"></i>
												</div>
												<p-dropdown placeholder="Select Interested Country" formControlName="interestedCountry" [options]="intrestedCountryList" optionValue="id" optionLabel="country" [filter]="true" filterBy="country" [autoDisplayFirst]="false"></p-dropdown>
											</div>
											<div *ngIf="submitted && f.interestedCountry.errors" class="invalid-feedback">
												<div *ngIf="f.interestedCountry.errors.required">Interested Country is required</div>
											</div>
										</div>
										<div class="col-md-6 col-12">
											<label for="country">Home Country<span class="required">*</span></label>
											<div class="p-inputgroup">
												<div class="p-inputgroup-addon">
													<i class="fa-regular fa-earth-americas"></i>
												</div>
												<p-dropdown placeholder="My Country" formControlName="country" id="country" [options]="countryList" optionValue="id" optionLabel="country" [autoDisplayFirst]="false" [filter]="true" filterBy="country" (onChange)="changeLocation($event)"></p-dropdown>
											</div>
											<div *ngIf="submitted && f.country.errors" class="invalid-feedback">
												<div *ngIf="f.country.errors.required">Home Country is required</div>
											</div>
										</div>
										<div class="col-md-6 col-12">
											<label for="location">Location<span class="required">*</span></label>
											<div class="p-inputgroup">
												<div class="p-inputgroup-addon">
													<i class="fa-regular fa-location-dot"></i>
												</div>
												<p-dropdown placeholder="My City" formControlName="location" id="location" [filter]="true" *ngIf="registrationForm.get('country').value == 122" [filterBy]="'district'" [options]="locationList" optionLabel="district" optionValue="id" [autoDisplayFirst]="false"></p-dropdown>
												<p-dropdown placeholder="My City" formControlName="location" id="location" [options]="locationList" *ngIf="registrationForm.get('country').value != 122" optionLabel="district" optionValue="id" [readonly]="true"></p-dropdown>
											</div>
											<div *ngIf="submitted && f.location.errors" class="invalid-feedback">
												<div *ngIf="f.location.errors.required">Location is required</div>
											</div>
										</div>
										<div class="col-md-6 col-12">
											<label for="floatingPassword">Password<span class="required">*</span></label>
											<div class="p-inputgroup">
												<div class="p-inputgroup-addon">
													<i class="fa-regular fa-lock"></i>
												</div>
												<input
													[type]="password"
													pInputText
													class="border-0"
													formControlName="password"
													placeholder="New Password"
													[ngClass]="{
														'is-invalid': submitted && f.password.errors
													}" />
												<div class="p-2" role="button">
													<span (click)="showHidePassword()">
														<i class="fa-regular fa-eye" aria-hidden="true" *ngIf="!show"></i>
														<i class="fa-regular fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
													</span>
												</div>
											</div>
											<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
												<div *ngIf="f.password.errors.required">Password is required</div>
												<div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
											</div>
										</div>
										<div class="col-md-6 col-12">
											<label for="confirmPassword">Confirm Password<span class="required">*</span></label>
											<div class="p-inputgroup">
												<div class="p-inputgroup-addon">
													<i class="fa-regular fa-lock-hashtag"></i>
												</div>
												<input
													[type]="confirmPassword"
													pInputText
													class="border-0"
													placeholder="Confirm Password"
													id="confirmPassword"
													formControlName="confirmPassword"
													[ngClass]="{
														'is-invalid': submitted && f.confirmPassword.errors
													}" />
												<div class="p-2" role="button">
													<span (click)="showHideConfirmPassword()">
														<i class="fa-regular fa-eye" aria-hidden="true" *ngIf="!showConfirm"></i>
														<i class="fa-regular fa-eye-slash" aria-hidden="true" *ngIf="showConfirm"></i>
													</span>
												</div>
											</div>
											<div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
												<div style="width: 120%" *ngIf="f.confirmPassword.hasError('matching')">Password and confirm password not match</div>
												<div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
											</div>
										</div>
									</div>
									<div class="col-md-12 mt-4">
										<div class="d-grid">
											<button class="pt-3 pb-3 btn btn-primary btn-login text-uppercase fw-semibold h5 m-0 text-dark" type="submit">Sign Up</button>
										</div>
									</div>
								</div>
							</form>
							<p class="signup mt-2 text-center">
								Already have an account?<span><a class="font-primarycolor" href="login"> Login</a></span>
							</p>
							<div class="line"></div>
							<div class="d-flex flex-column gap-3">
								<asl-google-signin-button text='signup_with' class="ml-2 font-bold fullWidth" logo_alignment="center" type="standard" size="large"></asl-google-signin-button>
								<div class="socialloginbutton justify-content-center gap-3 py-2 w-100 flex-row align-items-center d-flex" role="button">
									<img src="../../../uniprep-assets/icons/facebook.svg" width="20" />
									<span class="text-small fw-semibold">Sign Up Coming Soon</span>
								</div>
								<div class="socialloginbutton justify-content-center gap-3 py-2 w-100 flex-row align-items-center d-flex" role="button">
									<img src="../../../uniprep-assets/icons/linkedin.svg" width="20" />
									<span class="text-small fw-semibold">Sign Up Coming Soon</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal modal-bg" tabindex="-1" role="dialog" [ngStyle]="{ display: displayTerms }">
				<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<a (click)="closeTermsPopup()">
								<span aria-hidden="true"><i class="fa-regular text-white fa-circle-xmark fa-xl"></i></span>
							</a>
						</div>

						<div class="modal-body">
							<div class="row">
								<div class="card">
									<div class="card-body mt-2">
										<h4 class="card-title">Terms & Conditions</h4>
										<p class="card-text terms_p">Last update: 1 November 2022</p>
										<hr />
										<div class="container">
											<div class="row">
												<div class="col-md-12">
													<p>These Terms of Use are created to govern the access and use of the Services in SOP Expert. The Terms of Use, as well as the User Agreement, which will be provided after Your Account registration, constitute legally binding agreement between You, as the User of the Services UNIPREP, and UNIABROAD LTD (may refer to "We", "Our", "Ours" or "Us" in the Terms of Use),</p>
													<p>Please read this Terms of Use carefully as far as it will regulate relations between you and us in the course of your use of the Service. By using the Service you agree to be bound by the terms and conditions stated herein. You claim and warrant that You have the full legal authority to enter these Terms of Use and to be legally bound by them</p>
													<hr />
													<h2>LICENSE</h2>
													<p class="text-decoration-underline">LICENSE TO USE THE SITE</p>
													<p>
														In consideration for Your consent to follow these Terms, We grant You a non-transferable, non-exclusive, worldwide license to use the Site and the Services only for Your personal, non-commercial purposes to find the similarity in the texts or other materials. No other license is granted. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information or services from the
														Site without our direct prior written consent. While UNIPREP provides comprehensive services to enhance your career, it is important to note that the platform and the company are not responsible for any prospective or specific growth in your career or choice you may make.
													</p>
													<p class="text-decoration-underline">LICENSE BY YOU</p>
													<p>
														When You upload, submit, store, send or receive Text information to, or from our Services, You give/grant to Us (Our representatives, agents, employees) a worldwide, non-exclusive, royalty-free, perpetual, irrevocable license to use, host, store, create derivative works (such as those resulting from translations, adaptations or other changes), reproduce such content. The rights that You grant by this license are for the limited purpose of operating, performing and
														improving our Services, and developing new ones. This license shall survive termination or suspension of these Terms notwithstanding the reason for such termination or suspension. Any suggestions you give or messages sent on the chat window do not grant any license or promise to enhance your career accomplishments in any way.
													</p>
													<p class="text-decoration-underline">ACCEPTABLE USE POLICY</p>
													<p>
														You shall use the Services in full compliance with these Terms. You acknowledge that the main purpose of the Services is to provide guidance through information related to career in general and study abroad. It does not target any specific course details or expertise. Thereby the user agrees to use UNIPREP for gaining information in any manner or to any extent provided. We do not assure of any kind of certain results to be achieved from the use of UNIPREP. The usage
														of the Services for any other purposes of any other materials than the educational records or materials related to Your own internalactivities shall be previously agreed with Us.
													</p>
													<p class="fw-semibold">You Shall Not:</p>
													<ol>
														<li>copy, modify duplicate or create derivative works based on the Site and the Services;</li>
														<li>Republish, download, display, transmit, or distribute all or any portion of the Site or software included in Site in any form or media or by any means;</li>
														<li>access content or data not intended for You, log onto a server or account that You are not authorized to access, or otherwise violate or attempt to violate any security or authentication feature or measures of the Site or the Services;</li>
														<li>attempt to access or derive the source code or architecture of the Services software;</li>
														<li>attempt to reverse compile, disassemble, reverse engineer or otherwise reduce to human-perceivable form all or any part of the Site or software included in the Site;</li>
														<li>attempt to probe, scan or test the vulnerability of the Site, or any associated system or network, or to breach any security or authentication feature or measures of the Site;</li>
														<li>interfere or attempt to interfere with Services to any User, host or network, including, without limitation, by means of submitting malicious software or computer code to the Site or the Services, load testing, overloading, "flooding," "spamming," "mail bombing," "crashing,";</li>
														<li>
															email or otherwise transmit any content that (i) infringes any intellectual property or other proprietary rights; (ii) You do not have a right to upload under any law or under contractual or fiduciary relationships; (iii) contains any malicious code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; (iv) poses or creates a privacy or security risk to any person or entity;
															(v) constitutes unsolicited or unauthorized materials; or (vi) is otherwise objectionable;
														</li>
														<li>automate access to the Site or the Services, including, without limitation, through the use of bots, scrapers or other similar devices;</li>
														<li>use or access any services, or software in order to build a competitive product, service or solution;</li>
														<li>
															access, store, distribute or transmit via, during the course of its use of the Site information that is unlawful, harmful, threatening, defamatory, obscene, infringing, harassing or racially or ethnically offensive, facilitates illegal activity, depicts sexually explicit images, promotes unlawful violence, is discriminatory based on race, gender, color, religious belief, sexual orientation, disability, or any other illegal activity or causes damage or injury to any
															person or property;
														</li>
														<li>violate any applicable law or regulations.</li>
													</ol>
													<p>You shall use all reasonable endeavors to prevent any unauthorized access to, or use of, the Site and, in the event of any such unauthorized access or use, promptly notify Us.</p>
													<p>You represent and warrant that You are not on a list of persons barred and are not the subject of any sanction administered or enforced by the law</p>
													<hr />
													<h2>REGISTRATION AND USER ACCOUNT</h2>
													<p>
														You will need to pass the registration procedure and create Your Account to obtain access to the Services. The registration procedure covers the transfer of Your Personal Data to Us by filing the information. By completing the registration procedure on the Site, You agree to use the Services in accordance with these Terms and Your User Agreement, which will be provided after the registration. You agree to provide us with accurate and complete registration information.
														The failure to provide accurate information may affect Your use of the Services.
													</p>
													<p>To learn more about the collection, storage and transfer of the User's Personal Data, please read our Privacy Policy and Cookie Policy.</p>
													<p>You are solely responsible for all activity in connection with access to the Site and/or the Services through Your Account or using Your password, and for the security of Your computer systems, and in no event shall We be liable for any loss or damages relating to such activity.</p>
													<hr />
													<h2>FEES AND PAYMENT</h2>
													<p>The amount of fees and payments for the use of the Services depends on the amount of the ordered Users' Account or Search requests (Page) You have chosen. UNIABROAD and</p>
													<hr />
													<h2>INTELLECTUAL PROPERTY RIGHTS</h2>
													<p>You acknowledge that all rights in and to the Site and its content, including visual interface, graphics, design, text materials, compilations, computer code, software and all other elements of the Site are and shall remain Our sole property.</p>
													<p>As expressly stated herein, these Terms do not grant You any rights to, or in, patents, copyrights, database rights, trade secrets, trade names, trademarks (whether registered or unregistered), or any other rights or licenses in respect of the Site and Services.</p>
													<p>We confirm that We have all the rights in relation to the Site and Services that are necessary to grant all the rights We purport to grant under and in accordance with these Terms.</p>
													<hr />
													<h2>MODIFICATION OF SITE AND SERVICES</h2>
													<p>We may from time to time modify, alternate or change design, functionality or information contained on the Site at Our own discretion without any prior notice to You.</p>
													<hr />
													<h2>MODIFICATION OF THESE TERMS</h2>
													<p>
														We reserve the right to change these Terms of Use or the User Agreement. We may notify You about such changes in Our legal documents, including these Terms of Use, User Agreement, Service Level Agreement and/or any other kind of legal and information document regarding the Site, the Services and/or any other area of relations between You and Us, by the email or through a notification on the Site. The updates become legally binding after the posting of the renewed
														Terms on the Site. Your use of the Services following any such update or revision constitutes Your agreement to be bound by and comply with these Terms as updated or revised.
													</p>
													<p>No modification to these Terms of Use or any other legal document at this Site by You is allowed. Any abovementioned modification, alteration, or change of any kind without Our express written consent shall be negligent.</p>
													<hr />
													<h2>TERMINATION</h2>
													<p>We reserve the right at any time without liability to You at Our sole discretion to limit, suspend or revoke Your access to the Services in case of any breach of these Terms of Use or any other written Agreement between You and Us.</p>
													<hr />
													<h2>WARRANTY, DISCLAIMER and LIMITATION of LIABILITY</h2>
													<p>
														Other than as expressly set out in these terms of use or legal documents at this site, neither we nor our licensees, vendors, agents, or affiliates make any specific promises, warranties or representation about the site. site and services are provided on "as is" and "as available" basis. We do not make any statements or give any warranties about the results obtained by using the site and services, the specific functions of the site or it's reliability, availability,
														accuracy or ability to meet your needs. we do not warrant that access to the site and services will be uninterrupted or error-free, or that defects in the site or services will be corrected. some jurisdictions provide for certain warranties, like the implied warranty of merchantability, fitness for a particular purpose and non-infringement. To the fullest extent permitted by law, we exclude all such warranties.
													</p>
													<p>You acknowledge and agree that the services have information purposes only and provide the similarity check of your text information. In any case, the results of the similarity check provided by the services shall be subject to your further review. we shall not be responsible or liable for any results of your services use, their interpretation and consequences of such interpretation.</p>
													<p>We and our licensees, vendors, agents, and affiliates will not be responsible for loss of profits, revenues or data, admissions, financial losses or indirect, special, consequential, exemplary or punitive damages.</p>
													<p>Under no circumstances shall we and our licensees, vendors, agents, or affiliates be liable for any loss or damage that is not reasonably foreseeable.</p>
													<hr />
													<h2>LOGOS USE</h2>
													<p>We hereby grant to You a limited, non-exclusive, non-transferable, non-sublicensable, royalty-free and revocable license to use Our logo "UNIPREP" for the limited purposes subject to the terms and conditions of these Terms of Use.</p>
													<p>Within the scope of the license granted to You here under You can list Us as Your counter party in Your Website and/or in Your advertising materials and display Our logo for these purposes. But in any case, You agree that any use of Our logo by You shall be subject to Our previous written approval.</p>
													<p class="fw-semibold">You do not permit to make any changes to Our logo, including, but not limited to:</p>
													<ul>
														<li>Distort the logo by scaling disproportionally;</li>
														<li>Adjust the colors of or add gradients to the logo;</li>
														<li>Change the typeface;</li>
														<li>Reconfigure the logo or add embellishments like drop shadows;</li>
														<li>Outline the logo;</li>
														<li>Size the logo so small that it is not readable;</li>
														<li>Manipulate or alter the logo in any other way.</li>
													</ul>
													<p>You agree not to challenge or assist others to challenge Our logo (except to the extent such restriction is prohibited by applicable law), and You agree not to register or attempt to register any domain names, trademarks, trade names, or other distinctive brand features that are confusingly similar to those of Us.</p>
													<p>We reserve the right in Our sole discretion to terminate or modify Your permission to display Our logo and to take action against any use that does not conform to the terms and conditions set forth herein, infringes any of our intellectual property or other right, or violates applicable law. Any use of Our logo without Our prior written permission, other than as specifically authorized by these Terms of use, is strictly prohibited.</p>
													<p>All disputes related to these Terms of Use shall be resolved by negotiations between the parties, which agree to make all efforts to resolve the dispute.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<section class="startbg h-100 d-flex align-items-start align-items-md-center">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<article style="    color: white;
			text-align: center;
			font-size: x-large;">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.24 202.24" style="width: 60px;">
					<defs>
						<style>
							.cls-1 {
								fill: #fff;
							}
						</style>
					</defs>
					<title>Asset 3</title>
					<g id="Layer_2" data-name="Layer 2">
						<g id="Capa_1" data-name="Capa 1">
							<path class="cls-1"
								d="M101.12,0A101.12,101.12,0,1,0,202.24,101.12,101.12,101.12,0,0,0,101.12,0ZM159,148.76H43.28a11.57,11.57,0,0,1-10-17.34L91.09,31.16a11.57,11.57,0,0,1,20.06,0L169,131.43a11.57,11.57,0,0,1-10,17.34Z" />
							<path class="cls-1"
								d="M101.12,36.93h0L43.27,137.21H159L101.13,36.94Zm0,88.7a7.71,7.71,0,1,1,7.71-7.71A7.71,7.71,0,0,1,101.12,125.63Zm7.71-50.13a7.56,7.56,0,0,1-.11,1.3l-3.8,22.49a3.86,3.86,0,0,1-7.61,0l-3.8-22.49a8,8,0,0,1-.11-1.3,7.71,7.71,0,1,1,15.43,0Z" />
						</g>
					</g>
				</svg>
				<h1>We&rsquo;ll be back soon!</h1>
				<div>
					<p>Sorry for the inconvenience. We&rsquo;re performing some maintenance at the moment. If you need
						to you can always
						follow us on <a href="http://www.uniabroad.io/">UNIABROAD</a> for updates, otherwise we&rsquo;ll
						be back up
						shortly!</p>
					<p>&mdash; The UNIPREP Team</p>
				</div>
			</article>
		</div>
	</div>
</section>