.p-inputgroup {
	height: 3.5rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.otpbtn {
	border-radius: 10px !important;
	padding: 1rem;
}

.signup {
	font-size: medium;
	color: rgba(0, 0, 0, 0.378);
	margin-bottom: 4%;
}

.invalid-feedback {
	display: block !important;
}

.input_checkbox {
	height: auto !important;
	padding: 0 !important;
}

.input-group-text {
	background: white !important;
	border-right: 1px solid var(--uniprep-primary) !important;

	i {
		font-size: 0.7rem;
		color: rgba(0, 0, 0, 0.378);
	}
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
	background-color: var(--uniprep-primary);
}

::ng-deep .ng-select .ng-select-container {
	background-color: unset !important;
	border: none !important;
	box-shadow: none !important;

	:hover {
		box-shadow: none !important;
	}
}

::ng-deep .ng-dropdown-panel {
	min-width: 250px !important;
}

form {
	label {
		font-size: 0.8rem;
		color: rgba(0, 0, 0, 0.378);
	}

	:focus {
		border-color: var(--uniprep-primary) !important;
		//background-color: #fff !important;
		box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
	}

  .backbtn
  {
    width:30px;
    height:30px;
    background: var(--uniprep-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    a
    {
      color: white;
      display: flex;
    }
  }
}

.bg-image {
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	width: 100%;
}

.small-image {
	width: 40%;
	text-align: left;
}

a {
	text-decoration: none;
	cursor: pointer;
}


.formOTP {
	input {
		display: inline-block;
		width: 40px;
		height: 40px;
		text-align: center;
		margin-right: 10px;
		color: var(--uniprep-primary);
	}

	label {
		font-size: 0.8rem;
		color: black;
	}

	:focus {
		border-color: var(--uniprep-primary) !important;
		// background-color: #fff !important;
		box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
	}

	.signup {
		font-size: small;
		color: black;
	}
}

.input-group-text {
	background: white !important;
	border-right: 1px solid var(--uniprep-primary) !important;

	i {
		font-size: 0.7rem;
		color: rgba(0, 0, 0, 0.378);
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
}

::ng-deep .custom-dropdown {
	max-width: fit-content;
	.p-dropdown-trigger {
		max-width: 0px;
		.p-dropdown-trigger-icon {
			display: none;
		}
	}
}
