.resourcecard
{
  border:1px solid var(--uniprep-primary);
  &:hover
  {
    background-color: var(--uniprep-primaryop10);
    cursor: pointer;
  }
    .resourceimg
  {
    width:60px;
    height:60px;
 
    img
    {
      width:inherit;
      border-radius: 5px; 
    }
  }
}
