/* profile.component.scss */
.profile-container {
    padding: 20px;
  
    .card-inside {
     .card-header {
        h4 {
            font-size: 25px;
            font-weight: bolder;
        }
     }
      .card-body {
        padding: 20px;
  
        h5 {
          color: var(--uniprep-secondary);
          margin-bottom: 10px;
          font-weight: 600;
        }
  
        p {
          margin-bottom: 10px;
          color: black;
          font-weight: bolder;
          font-size: small;
        }
  
        ul {
          padding-left: 20px;
        }
  
        a {
          color: #007bff;
          text-decoration: none;
          transition: color 0.3s ease;
  
          &:hover {
            color: #0056b3;
            text-decoration: underline;
          }
        }
      }
    }
  
    .profile-image {
      max-width: 200px;
      max-height: 200px;
      border-radius: 50%;
      object-fit: cover;
      border: 4px solid #fff;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
  }
  
  @media (max-width: 768px) {
    .profile-container {
      padding: 10px;
  
      .card {
        margin-bottom: 15px;
  
        .card-body {
          padding: 15px;
        }
      }
    }
  }