/* profile.component.scss */
.profile-container {
    padding: 40px;
    h3 {
      font-size: 25px !important;
      font-weight: bolder !important;
      color: black;
     }
    .card-inside {
     .card-header-modal {
        h4 {
            font-size: 40px !important;
            font-weight: bolder !important;
        }
     }
      .card-body {  
        h5 {
          color: var(--dynamic-heading-color) !important;
          font-weight: 670 !important;
        }
  
        p {
          margin-bottom: 15px !important;
          color: black !important;
          font-weight: bolder !important;
          font-size:15px  !important;
        }
  
        ul {
          padding-left: 20px !important;
        }
  
        a {
          color: #007bff !important;
          text-decoration: none !important;
          transition: color 0.3s ease !important;
          margin-bottom: 15px !important;

          &:hover {
            color: #0056b3;
            text-decoration: underline;
          }
        }
      }
    }
  
    .profile-image {
      max-width: 200px;
      max-height: 200px;
      border-radius: 50%;
      object-fit: cover;
      border: 4px solid #fff;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    .cerfiticates {
      p {
        margin-bottom: 10px !important;
        color: black !important;
        font-weight: bolder !important;
        font-size:15px  !important;
      }
      h5 {
        color: var(--dynamic-heading-color) !important;
        font-weight: 670 !important;
      }
    }

  }
  
  @media (max-width: 768px) {
    .profile-container {
      padding: 10px;
  
      .card {
        margin-bottom: 15px;
  
        .card-body {
          padding: 15px;
        }
      }
    }
  }