
  .text-primary {
    color: var(--uniprep-primary) !important;
  }
  
  .text-left {
    text-align: left;
  }

  .job-detail-container {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.25rem;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    height: calc(100vh - 240px);
    overflow-y: auto;
  }

  .card-body {
    width: 100%;
  }
  
  p-steps .p-steps  {
    .p-steps-list {
      width: 100%;
    }
    display: flex; /* Ensures it stretches fully */
    justify-content: space-between; /* Ensures steps are spaced properly */
  }

  ::ng-deep .p-steps-list {
    width: 100%;
  }

  .bg-warning-sub {
    background-color: #fff3cd !important;
  }

  .bg-secondary-subtle {
    background-color: #F8F8F8 !important;
  }
 .badge {
    font-weight: 500;
    padding: 0.5rem 0.75rem;
  }
    .bg-warning {
    background-color: #F9E9D8 !important;
  }