
  .text-primary {
    color: var(--uniprep-primary) !important;
  }
  
  .text-left {
    text-align: left;
  }

  .job-detail-container {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.25rem;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    height: 100%;
  }