<div class="card readingcard h-100">
	<div class="card-header border-0 bg-transparent">
		<div class="row">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="backIcon d-md-flex d-none" role="button" routerLink="/pages/talent-connect/job-tracker">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div>
						<h5 class="mb-0">Job Tracker</h5>
					</div>
					<div>
						<button class="how-it-works-button" pButton (click)="openVideoPopup()">How
							it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body text-start flex-fill overflow-y-auto">
		<div class="row justify-content-between h-100">
			<div class="h-100 overflow-hidden" [ngClass]="!showChat ? 'col-sm-12' : 'col-sm-12 col-md-7 col-lg-8 col-xl-9'" *ngIf="showInfo">
				<div class="card h-100 overflow-y-auto">
					<div class="card-header bg-transparent">
						<div class="row align-items-center">
							<div class="col-md-12">
								<div class="row">
									<div class="col-xxl-1 col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3">
										<div class="rounded-2 border overflow-hidden">
											<img [src]="jobDetails?.company_logo_url ?? '/uniprep-assets/images/job.webp'"
												alt="Company Logo" class="img-fluid"
												style="max-width: 100%; max-height: 100%; object-fit: contain" />
										</div>
									</div>
									<div class="col-xxl-11 col-xl-11 col-lg-10 col-md-10 col-sm-9 col-9 text-start">
										<div class="row">
											<div class="col-xxl-10 col-xl-8 col-lg-7 col-md-7 col-sm-12 col-12">
												<h2 class="mb-0">{{ jobDetails.position }}</h2>
												<div class="d-flex align-items-center mb-3">
													<span>{{ jobDetails.company_name }}</span>
													<span class="ms-1 text-primary" *ngIf="jobDetails">
														<i class="fas fa-check-circle"></i>
													</span>
												</div>
											</div>
											<div class="col-xxl-2 col-xl-4 col-lg-5 col-md-5 col-sm-12 col-12">
												<div class="row">
													<div class="col-12 text-md-end text-center mb-2 d-lg-block d-none">
														<button pButton label="Close Info" class="btn btn-primary w-100"
															(click)="showInfo = false" *ngIf="showChat"></button>
														<button pButton class="p-button-success chat-btn w-100" *ngIf="!showChat"
															(click)="showChat = true"><i class="pi pi-comments"></i>
															Chat</button>
													</div>
													<div class="d-block d-md-none">
														<button pButton class="p-button-success chat-btn w-100"
															(click)="visible = true"><i class="pi pi-comments"></i>
															Chat</button>
													</div>
													<div class="col-12 text-md-end text-start">
														<p class="text-small text-muted">Applied On: {{ jobDetails.created_at | date
															:
															"dd-MM-yyyy" }}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body h-100">
						<!-- Job Details -->
						<div class="row text-start">
							<div class="col-md-12 col-12">
								<div class="row">
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
										<div class="d-flex text-left align-items-center">
											<i class="fa-solid fa-calendar text-primary me-2 mt-1" style="color: purple"></i>
											<div>
												<p class="text-muted mb-1">Start Date</p>
												<p class="fw-bold mb-0">{{ jobDetails.start_date }}</p>
											</div>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
										<div class="d-flex text-left align-items-center">
											<i class="fa-solid fa-calendar text-primary me-2 mt-1" style="color: purple"></i>
											<div>
												<p class="text-muted mb-1">Job Application Deadline</p>
												<p class="fw-bold mb-0">{{ jobDetails.due_date }}</p>
											</div>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
										<div class="d-flex text-left align-items-center">
											<i class="fa-solid fa-location-dot text-success me-2 mt-1"></i>
											<div>
												<p class="text-muted mb-1">Work Location</p>
												<p class="fw-bold mb-0">{{ jobDetails.worklocation || jobDetails.work_location }}
												</p>
											</div>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
										<div class="d-flex text-left align-items-center">
											<i class="fa-solid fa-building text-secondary me-2 mt-1"
												style="color: var(--p-secondary-500)"></i>
											<div>
												<p class="text-muted mb-1">Work Mode</p>
												<p class="fw-bold mb-0">
													<span *ngIf="!array.isArray(jobDetails.work_mode)">{{ jobDetails.work_mode
														}}</span>
													<span *ngIf="array.isArray(jobDetails.work_mode)">{{
														jobDetails.work_mode.join(", ")
														}}</span>
												</p>
											</div>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
										<div class="d-flex text-left align-items-center">
											<i class="fa-solid fa-clock me-2 mt-1" style="color: red"></i>
											<div>
												<p class="text-muted mb-1">Work Type</p>
												<p class="fw-bold mb-0">
													<span *ngIf="!array.isArray(jobDetails.employment_type)">{{
														jobDetails.employment_type }}</span>
													<span *ngIf="array.isArray(jobDetails.employment_type)">{{
														jobDetails.employment_type.join(", ") }}</span>
												</p>
											</div>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
										<div class="d-flex text-left align-items-center">
											<i class="fa-solid fa-dollar me-2 mt-1" style="color: green"></i>
											<div>
												<p class="text-muted mb-1">Salary offered per month</p>
												<p class="fw-bold mb-0">
													<span *ngIf="jobDetails.currency_code"> {{ jobDetails.currency_code }}</span>
													{{ jobDetails.salary_range || jobDetails.salary_offer }}
												</p>
											</div>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 mb-3">
										<div class="d-flex text-left align-items-center">
											<i class="fa fa-id-card me-2 mt-1"></i>
											<div>
												<p class="text-muted mb-1">Available Vacancies</p>
												<p class="fw-bold mb-0">{{ jobDetails.available_vacancies }}</p>
											</div>
										</div>
									</div>
									<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
										<div class="d-flex text-left align-items-center">
											<i class="fas fa-users me-2 mt-1 text-secondary"></i>
											<div>
												<p class="text-muted mb-1">Total Applied</p>
												<p class="fw-bold mb-0">{{ jobDetails.total_applied }}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<hr />
							</div>
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12" *ngIf="jobDetails?.job_overview">
										<div class="card mb-4 bg-secondary-subtle">
											<div class="card-body">
												<div class="row">
													<div class="col-md-5">
														<h3 class="fw-bold mb-0">Job Overview</h3>
													</div>
													<div class="col-md-7 font-bold">
														<p class="mb-0" [innerHTML]="jobDetails.job_overview"></p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12" *ngIf="jobDetails?.key_responsibilities">
										<div class="card mb-4 bg-secondary-subtle">
											<div class="card-body">
												<div class="row">
													<div class="col-md-5">
														<h3 class="fw-bold mb-0">Key Responsibilities</h3>
													</div>
													<div class="col-md-7 font-bold">
														<div [innerHTML]="jobDetails.key_responsibilities"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12" *ngIf="jobDetails?.languages?.length > 0">
										<div class="card mb-4 bg-secondary-subtle">
											<div class="card-body">
												<div class="row">
													<div class="col-md-5">
														<h3 class="fw-bold mb-0">Language Proficiency</h3>
													</div>
													<div class="col-md-7">
														<ul class="list-unstyled font-bold">
															<li *ngFor="let lang of jobDetails?.languages" class="mb-3">
																<div class="d-flex align-items-center gap-2">
																	<span class="me-2">{{ lang.lang }}</span>
																	<p-rating *ngIf="lang.level" style="font-size: large"
																		[ngModel]="getProficiencyRating(lang.level)"
																		[readonly]="true"></p-rating>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12" *ngIf="jobDetails?.compensation_structure?.length > 0">
										<div class="card mb-4 bg-secondary-subtle">
											<div class="card-body">
												<div class="row">
													<div class="col-md-5">
														<h3 class="fw-bold mb-0">Compensation Structure</h3>
													</div>
													<div class="col-md-7 font-bold">
														<div class="d-flex flex-wrap gap-2">
															<!-- Handle both string and array formats -->
															<ng-container *ngIf="!array.isArray(jobDetails.compensation_structure)">
																<span
																	class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{
																	jobDetails.compensation_structure }}</span>
															</ng-container>
															<ng-container *ngIf="array.isArray(jobDetails.compensation_structure)">
																<span *ngFor="let comp of jobDetails.compensation_structure"
																	class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{
																	comp }}</span>
															</ng-container>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12" *ngIf="jobDetails?.benefits_perks?.length > 0">
										<div class="card mb-4 bg-secondary-subtle">
											<div class="card-body">
												<div class="row">
													<div class="col-md-5">
														<h3 class="fw-bold mb-0">Additional Benefits & Perks</h3>
													</div>
													<div class="col-md-7 font-bold">
														<div class="d-flex flex-wrap gap-2">
															<!-- Handle both string and array formats -->
															<ng-container *ngIf="!array.isArray(jobDetails.benefits_perks)">
																<span
																	class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{
																	jobDetails.benefits_perks }}</span>
															</ng-container>
															<ng-container *ngIf="array.isArray(jobDetails.benefits_perks)">
																<span *ngFor="let benefit of jobDetails.benefits_perks"
																	class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{
																	benefit }}</span>
															</ng-container>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12" *ngIf="jobDetails?.soft_skills?.length > 0">
										<div class="card mb-4 bg-secondary-subtle">
											<div class="card-body">
												<div class="row">
													<div class="col-md-5">
														<h3 class="fw-bold mb-0">Essential Soft Skills</h3>
													</div>
													<div class="col-md-7 font-bold">
														<div class="d-flex flex-wrap gap-2">
															<!-- Handle both string and array formats -->
															<ng-container *ngIf="!array.isArray(jobDetails.soft_skills)">
																<span
																	class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{
																	jobDetails.soft_skills }}</span>
															</ng-container>
															<ng-container *ngIf="array.isArray(jobDetails.soft_skills)">
																<span *ngFor="let skill of jobDetails.soft_skills"
																	class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{
																	skill }}</span>
															</ng-container>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12" *ngIf="jobDetails?.hiring_stages?.length > 0">
										<div class="card mb-4 bg-secondary-subtle">
											<div class="card-body">
												<div class="row">
													<div class="col-md-5">
														<h3 class="fw-bold mb-0">Hiring & Recruitment</h3>
													</div>
													<div class="col-md-7 font-bold">
														<h6 class="mb-2 text-primary">Hiring Process Stages</h6>
														<div class="d-flex flex-wrap gap-2 mb-4">
															<!-- Handle different hiring_stages formats -->
															<ng-container *ngIf="!array.isArray(jobDetails.hiring_stages)">
																<span
																	class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6 ">{{
																	jobDetails.hiring_stages }}</span>
															</ng-container>
															<ng-container *ngIf="array.isArray(jobDetails.hiring_stages)">
																<span *ngFor="let stage of jobDetails.hiring_stages"
																	class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">
																	{{ stage.name || stage }}
																</span>
															</ng-container>
														</div>
			
														<h6 class="mb-2 text-primary">Estimated Hiring Decision Timeframe</h6>
														<p class="mb-4">{{ jobDetails.hiring_timeframe }}</p>
			
														<h6 class="mb-2 text-primary">Interview Format</h6>
														<div class="d-flex flex-wrap gap-2 mb-4">
															<span *ngFor="let stage of jobDetails.interview_format"
																class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">
																{{ stage }}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12" *ngIf="jobDetails?.additional_notes">
										<div class="card mb-4 bg-secondary-subtle">
											<div class="card-body">
												<div class="row">
													<div class="col-md-5">
														<h3 class="fw-bold mb-0">Additional Notes</h3>
													</div>
													<div class="col-md-7">
														<div [innerHTML]="jobDetails?.additional_notes"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 d-md-block d-none h-100" *ngIf="showChat" [ngClass]="{ 'col-md-5 col-lg-4 col-xl-3 overflow-y-auto': showInfo }">
				<uni-job-chat-ui (openInfo)="showInfo = true" [showInfo]="showInfo" [jobDetails]="jobDetails" [jobId]="jobDetails?.id" (closeChat)="showChat = false"></uni-job-chat-ui>
			</div>
			<p-drawer #drawerRef [(visible)]="visible" position="right" [style]="{ width: '80vw' }">
				<ng-template #headless>
						<uni-job-chat-ui class="h-100" (openInfo)="showInfo = true" [showInfo]="showInfo"
						[jobDetails]="jobDetails" [jobId]="jobDetails?.id"
						(closeChat)="showChat = false"></uni-job-chat-ui>
				</ng-template>
			</p-drawer>
		</div>
	</div>