.post-admission-text {
  color: #9bc32a;
}
.post-admission-text-small {
  color: black;
  font-size: 0.8rem;
}
.post-admission-border {
  border: 2px solid #9bc32a;
  border-radius: 5%;
}
.selectimage
{
  aspect-ratio: 1/1;
  width: 200px;
}
.subjectcard
{
  border:2px solid #efb875;
  width:100%;
  margin: 10px 0px;
  .selectimage {
    aspect-ratio: 1/1;
    width: -webkit-fill-available;
    mix-blend-mode: multiply;
  }
  &:hover
  {
    background-color: #daeca5;
    border: 2px solid #9bc329;
  }
  &:focus
  {
    background-color: #daeca5;
    border: 2px solid #9bc329;
  }
  .subjecttitle
  {
    height: 50px;
  }
}