.post-admission-text {
  color: #9bc32a;
}
.post-admission-text-small {
  color: black;
  font-size: 0.8rem;
}
.post-admission-border {
  border: 2px solid #9bc32a;
  border-radius: 5%;
}
.selectimage
{
  aspect-ratio: 1/1;
  width: 200px;
}
