<div class="card readingcard">
  <div class="card-body pt-0">
    <div class="row justify-content-center">
      <div class="col-md-2 text-start"></div>
      <div class="col-md-8 text-center">
        <h5
          class="select-title mb-1"
          tooltipPosition="top"
          pTooltip="This section provides a comprehensive walkthrough on the UNIPREP platform."
        >
          24X7 SUPPORT
        </h5>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="container-fluid">
      <div style="padding: 2rem;">
        <div class="row gap-3 mb-5">
          <div class="col pri-color">
              
            <p class="card-heading">Join our WhatsApp community</p>
            <ul style="list-style-type: none;" class="p-0">
              <li><i class="fa-light fa-gift-card mr-2"></i>Get exclusive offers</li>
              <li><i class="fa-light fa-face-thinking mr-2"></i>Interesting updates</li>
              <li><i class="fa-regular fa-money-check-dollar mr-2"></i>Pricing updates</li>
              <li><i class="fa-light fa-file-invoice mr-2"></i>Visa guidance</li>
              <li><i class="fa-thin fa-lightbulb-on mr-2"></i>Career tips <button class="btn" style="float: right;">Join Now</button></li>               
            </ul>
              
          </div>
          <div class="col sec-color">
            <p class="card-heading"><i class="fa-regular fa-light-emergency-on mr-2"></i>UNIPREP Emergency 24x7 Hotline:</p>
            <ul style="list-style-type: none;" class="p-0">
              <li><i class="fa-sharp fa-light fa-phone-volume mr-2"></i>+91 90357 23087</li>
              <li><i class="fa-brands fa-whatsapp mr-2"></i>+91 90357 23087</li>
              <li><i class="fa-light fa-envelope mr-2"></i>support@uniprep.ai</li>
            </ul>
            <label>In case of a emergency or escalation, please<br> make a direct call.</label>
          </div>
        </div>
        <div class="row">
          <div class="col secondary-color">
            <div style="float: left; padding: 0.65rem;"><span><i class="fa-regular fa-headset mr-2"></i>Have questions about the product?</span></div>
            <div style="float: right;"><button class="btn btn-primary">Join product demo call</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
