<div class="card readingcard">
  <div class="card-header border-0 bg-transparent">
    <div class="row">
      <div class="col-md-12 d-flex gap-2 text-center">
        <div class="select-title text-nowrap d-flex justify-content-start align-items-center">
          <div>
            <h5 class="mb-0 text-uppercase" tooltipPosition="top" pTooltip="This section provides a comprehensive walkthrough on the UNIPREP platform.">24X7 SUPPORT<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body flex-fill overflow-y-auto">
    <div class="d-flex flex-column h-100">
      <div class="row">
        <div class="col-md-4 col-12 mb-3">
          <div class="card h-100 unibg-primary">
            <div class="card-body">
              <h5 class="text-white">Join our WhatsApp community</h5>
              <ul class="fa-ul p-0 lh-lg mb-0">
                <li class="text-white">
                  <span class="fa-li"><i class="fa-light fa-gift-card mr-2"></i></span>Get Exclusive Offers
                </li>
                <li class="text-white">
                  <span class="fa-li"><i class="fa-light fa-gear mr-2"></i></span>Feature Updates
                </li>
                <li class="text-white">
                  <span class="fa-li"><i class="fa-light fa-briefcase mr-2"></i></span>Career Tips
                </li>
                <li class="text-white">
                  <span class="fa-li"><i class="fa-light fa-rocket mr-2"></i></span>Start-up Tips
                </li>
                <li class="text-white">
                  <span class="fa-li"><i class="fa-light fa-lightbulb-on mr-2"></i></span>New Additional Data
                </li>
                <li class="text-white text-end">
                  <a href="https://chat.whatsapp.com/F5TxXiB6nZlEBQ9KolyrsW" target="_blank"><button pButton  class="btn btn-light btn-rounded m-0 px-4">Join Now</button></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-12 mb-3">
          <div class="card h-100 unibg-primaryop10">
            <div class="card-body">
              <h5 class="uniprep-primary"><i class="fa-regular fa-light-emergency-on mr-2"></i>UNIPREP Emergency 24x7 Hotline:</h5>
              <ul class="fa-ul p-0 lh-lg">
                <li class="uniprep-primary fw-semibold">
                  <span class="fa-li"><i class="fa-sharp fa-light fa-phone-volume mr-2"></i></span>+91 90357 23087
                </li>
                <li class="uniprep-primary fw-semibold">
                  <span class="fa-li"><i class="fa-brands fa-whatsapp mr-2"></i></span>+91 90357 23087
                </li>
                <li class="uniprep-primary fw-semibold">
                  <span class="fa-li"><i class="fa-light fa-envelope mr-2"></i></span>support&#64;uniprep.ai
                </li>
              </ul>
              <p class="uniprep-primary">In case of a emergency or escalation, please<br />make a direct call.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-fill">
        <div class="col">
          <div class="card h-100 unibg-primaryop10">
            <div class="card-body d-flex flex-column gap-3 align-items-center justify-content-center">
              <span><i class="fa-regular fa-4x fa-video uniprep-primary"></i></span>
              <div class="text-center">
                <h3 class="mb-0 uniprep-primary">To get a complete overview of our platform check out our in depth videos on every category</h3>
                <h5 class="mb-0 fw-medium uniprep-primary" style="font-weight: 600 !important;">Expert-led sessions available Monday to Saturday.</h5>
              </div>
              <!-- <a href="https://calendly.com/uniprep-ai/30min" target="_blank"><button pButton  class="btn btn-primary btn-rounded px-5 py-3">Schedule Now</button></a> -->
              <button pButton  class="btn btn-primary btn-rounded px-5 py-3" [routerLink]="'/pages/tutorials'" >View Tutorial</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
