<div class="card readingcard">
	<div class="card-body pt-0">
		<div class="row justify-content-center">
			<div class="col-md-2 text-start"></div>
			<div class="col-md-8 text-center">
				<h5 class="select-title mb-1" tooltipPosition="top" pTooltip="This section provides a comprehensive walkthrough on the UNIPREP platform.">24X7 SUPPORT</h5>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="container-fluid">
				<div class="row mt-3">
					<div class="col-md-4 col-12 mb-3">
						<div class="card h-100 unibg-primary">
							<div class="card-body">
								<h5 class="text-white">Join our WhatsApp community</h5>
								<ul class="fa-ul p-0 lh-lg">
									<li class="text-white"><span class="fa-li"><i class="fa-light fa-gift-card mr-2"></i></span>Get exclusive offers</li>
									<li class="text-white"><span class="fa-li"><i class="fa-light fa-face-thinking mr-2"></i></span>Interesting updates</li>
									<li class="text-white"><span class="fa-li"><i class="fa-light fa-money-check-dollar mr-2"></i></span>Pricing updates</li>
									<li class="text-white"><span class="fa-li"><i class="fa-light fa-file-invoice mr-2"></i></span>Visa guidance</li>
									<li class="text-white"><span class="fa-li"><i class="fa-light fa-lightbulb-on mr-2"></i></span>Career tips</li>
                  <li class="text-white"><a href="https://chat.whatsapp.com/F5TxXiB6nZlEBQ9KolyrsW" target="_blank"><button class="btn btn-light border-0 m-0" style="float: right">Join Now</button></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-12 mb-3">
						<div class="card h-100 unibg-primaryop10">
							<div class="card-body">
                <h5 class="uniprep-primary"><i class="fa-regular fa-light-emergency-on mr-2"></i>UNIPREP Emergency 24x7 Hotline:</h5>
								<ul class="fa-ul p-0 lh-lg">
									<li class="uniprep-primary fw-semibold"><span class="fa-li"><i class="fa-sharp fa-light fa-phone-volume mr-2"></i></span>+91 90357 23087</li>
									<li class="uniprep-primary fw-semibold"><span class="fa-li"><i class="fa-brands fa-whatsapp mr-2"></i></span>+91 90357 23087</li>
									<li class="uniprep-primary fw-semibold"><span class="fa-li"><i class="fa-light fa-envelope mr-2"></i></span>support@uniprep.ai</li>
								</ul>
								<p class="uniprep-primary">In case of a emergency or escalation, please<br />make a direct call.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
            <div class="card unibg-primaryop10"> 
              <div class="card-body d-flex align-items-center justify-content-between">
                <h5 class="mb-0 uniprep-primary"><i class="fa-regular fa-headset mr-2"></i>Have questions about the product?</h5>
                <a href="https://calendly.com/uniprep-ai/30min" target="_blank"><button class="btn btn-primary">Join product demo call</button></a>
              </div>
            </div>
					</div>
				</div>
		</div>
	</div>
</div>
