:root,
[data-bs-theme="light"] {
	--bs-primary-rgb: 63, 76, 131;
	--bs-secondary-rgb: 240, 120, 14;
	--bs-primary: var(--primary-500);
	--bs-secondary: #f0780e;
	--primary-500: var(--primary-500);
	--primary-100: var(--primary-500) 25;
	--primary-200: var(--primary-500) 5b;
	--secondary-500: #f0780e;
	--secondary-100: #f0780e25;
	--secondary-200: #f0780e5b;
	--primary-500highlight: #4552a3;
	--secondary-500highlight: #f6895a;
	--uniprep-white: #ffffff;
}

:host {
  display: block;
  overflow: auto; 
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  font-family: "Poppins", sans-serif;
  &::-webkit-scrollbar {
    display: none;      
  }
}

.card {
	border-radius: 1.5rem;
	border: 1px solid #E6DDFE08;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 100%);
	box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.10) inset;
	color:white;
	&:hover
	{
		.card-title
		{
			color:var(--secondary-500);
		}
		.cardicon
		{
			font-weight:700;
		}
	}
}

.darksection {
	background-color: #07070b;
	p {
		color: #fff !important;
	}
}

.topmarquee
{
	background:linear-gradient(145deg, rgba(24,34,79,1) 0%, rgba(220,122,86,1) 100%);
}

html {
	scroll-behavior: smooth;
	overflow: auto !important;
}

.filter-popover {
	min-width: 400px;
}


// ::ng-deep ::-webkit-scrollbar-track {
// 	-webkit-box-shadow: none !important;
// 	border-radius: 8px !important;
// 	background-color: black !important;
// }

// ::ng-deep ::-webkit-scrollbar {
// 	border-radius: 0px;
// 	width: 8px !important;
// 	height: 5px;
// 	background-color: black !important;
// }

// ::ng-deep ::-webkit-scrollbar-thumb {
// 	border-radius: 8px !important;
// 	-webkit-box-shadow: none !important;
// 	background-color: var(--secondary-500) !important;
// }

section {
	scroll-margin-top: 3rem;
}


.blog-card {
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #07070b;
  border: #07070b;
  &:hover {
    transform: translateY(-5px);
	color: var(--secondary-500) !important;
  }
}


.input-group {
::-webkit-input-placeholder { 
  color: white;
}
::-moz-placeholder { 
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
:-moz-placeholder { 
  color: white;
}}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
  }
p {
	margin-bottom: 0rem;
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

span {
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

li {
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

div {
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	line-height: 1.3;
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}
