.subjectcard {
  border: 1px solid var(--p-secondary-500);
  width: 100%;
  margin: 10px 0px;

  .submoduleicon {
    height: 75px;
    width: 75px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .selectimage {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &:focus {
    background-color: var(--p-primary-50);
    border: 1px solid var(--p-primary-500);
  }

  &:hover {
    background-color: var(--p-primary-50);
    border: 1px solid var(--p-primary-500);
  }

}
.readingcard
{
  height:90vh;
  overflow-y:auto;
}