.application-text-small {
  color: black;
  font-size: 0.8rem;
  padding-left: 10px;
  padding-right: 10px;
}

.application-border {
  border: 2px solid #9bc32a;
  border-radius: 5%;
  font-size: 0.8rem;
}

.unselected-border {
  border: 2px solid #efb875;
  border-radius: 5px;
  font-size: 0.8rem;
}

.selected-border {
  background-color: #9bc32a;
  border: 0;
}

.application-text {
  font-size: 0.8rem;
}

.subjectcard {
  border: 2px solid #efb875;
  width: 100%;
  margin: 10px 0px;

  .selectimage {
    aspect-ratio: 1/1;
    width: unset;
  }

  &:focus {
    background-color: #daeca5;
    border: 2px solid #9bc329;
  }

  &:hover {
    background-color: #daeca5;
    border: 2px solid #9bc329;
  }

  .subjecttitle {
    height: 50px;
  }
}
:host ::ng-deep p-carousel {
  //On later realease of PrimeNG, this can be done programmatically with [showIndicators | showNavigators]="false"
  .p-carousel-indicators {
    display: none !important;
  }

  .p-carousel-next, .p-carousel-prev {
    display: none !important;
  }
}
selctedQuizTiny{
  font-size: 10px;
  color: #9bc329;
}
.quizprogress
{
  .p-progressbar
  {
    height: 10px;
    margin-top: 5px;
  }
}
.quiznotanswered
{
  border: 2px solid #E3E3E3;
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  text-align: start;
  color: #001631;
}

.optionanswered
{
  border: 2px solid #9bc329;
  border-radius: 8px;
  color: #001631;
}

.optionreviewcorrect
{
  border: 2px solid #9bc329;
  background: #9bc329;
  border-radius: 8px;
  color: #fff;
}

.optionreviewwrong
{
  border: 2px solid #DF3E3E;
  background: #DF3E3E;
  border-radius: 8px;
  color: #fff;
}