.p-datatable {
  th {
    background-color: gray !important;
    color: #ffffff !important;
    border-right: 1px solid whitesmoke !important;
    &:last-child {
      border-right: 0px solid red !important;
    }
  }
}
p-accordion {
  .p-accordion-header-link:focus {
    box-shadow: unset !important;
  }
  &.description {

  }
  &.plain {
    .p-accordion-tab {
      border-bottom: 1px dashed #343a40;
      padding-bottom: 10px;
      margin-bottom: 10px !important;
    }
    .p-accordion-content {
      border-width: 0px !important;
      padding: 10px !important;
      padding-right: 20px;
    }
    .p-accordion-tab-active {
      .p-accordion-header-link {
        &:after {
          content: '\2715';
          position: absolute;
          right: 15px;
        }
      }
    }
    .p-accordion-header-link {
      padding: 10px 30px 10px 10px !important;
      position: relative !important;
      background-color: transparent !important;
      border-width: 0px !important;
      .p-accordion-toggle-icon {
        display: none !important;
      }
      position: relative;
      &:after {
        content: '\002B';
        position: absolute;
        right: 15px;
      }
    }
  }
  &.result {
    .p-accordion-content {
      border-width: 0px !important;
      padding: 0px !important;
    }
    .p-accordion-header-link {
      position: relative !important;
      background-color: transparent !important;
      .p-accordion-toggle-icon {
        display: none !important;
      }
    }
    p-accordionTab {
      overflow: hidden;
      margin-top: 15px;
      display: block;
      &:first-child {
        margin-top: 0px;
      }
      .p-accordion-header {
        .arrow {
          width: 40px;
          height: 20px;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          text-align: center;
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
        }
        .arrow-down {
          display: block;
        }
        .arrow-up {
          display: none;
        }
        .batch {
          width: 30px;
          height: 40px;
          position: absolute;
          top: -15px;
          left: -10px;
          transform: rotate(45deg);
        }
      }
      .p-accordion-tab-active {
        .arrow-down {
          display: none;
        }
        .arrow-up {
          display: block;
        }
      }

      &.success {
        .p-accordion-header-link {
          border-color: var(--uniprep-primary) !important;
        }
        .arrow, .batch {
          color: white;
          background-color: var(--uniprep-primary);
        }
      }
      &.warning {
        .p-accordion-header-link {
          border-color: orange !important;
        }
        .arrow, .batch {
          color: white;
          background-color: orange;
        }
      }
      &.danger {
        .p-accordion-header-link {
          border-color: red !important;
        }
        .arrow, .batch {
          color: white;
          background-color: red;
        }
      }
    }
  }
}
.p-inputgroup {
  border: 1px solid var(--uniprep-primary);
  padding: 4px;
  border-radius: 5px;
  .p-multiselect {
    width: 100% !important;
  }
  .p-dropdown, p-dropdown, .p-multiselect {
    border-width: 0px;
    &.p-focus {
      box-shadow: unset !important;
    }
  }
  .p-inputgroup-addon {
    border-width: 0px;
    background-color: transparent;
    border-right: 1px solid var(--uniprep-primary);
  }

  .p-inputgroup-addon-new {
    border-width: 0px;
    background-color: transparent;
    border-right: 0px solid var(--uniprep-primary);
  }

  .p-dropdown-trigger, .p-multiselect-trigger {
    border-left: 1px solid var(--uniprep-primary);
  }
  input {
    padding: 0px 10px;
    border: 0px !important;
    &:focus-within {
      border-width: 0px !important;
      box-shadow: none !important;
      outline: none !important;
    }
  }
}

p-dropdown {
  display: flex;
  align-items: center;
  width: unset;
  .p-inputtext {
    padding: 5px 10px !important;
  }
}
.input-group {
  label {
    margin-bottom: 5px;
  }
  .p-multiselect, p-inputMask, p-inputMask input, input {
    width: 100% !important;
    padding: 0px 10px;
    border: 0px !important;
  }

}

p-dialog {
  &.sop {
    .p-dialog-content {
      padding: 10px !important;
    }
  }

}

.p-inputtext {
  &:focus {
    box-shadow: unset !important;
    border-color: var(--uniprep-primary) !important;
  }
  &:hover {
    border-color: var(--uniprep-primary) !important;
  }
}

.sopeditor {
  .p-editor-toolbar {
    display: none !important;
  }
  .p-editor-container {
    border: 1px solid var(--uniprep-primary);
    border-radius: 11px;
    overflow: hidden;
  }
  .p-editor-content {
    border: unset !important;
  }
}