$font-family-base: 'Poppins', sans-serif;

//Sizes
$font-size-base: 14px;
$font-size-small: 0.889rem;
$font-size-extrasmall: 0.79rem;
$font-size-h1: 2.027rem;
$font-size-h2: 1.802rem;
$font-size-h3: 1.602rem;
$font-size-h4: 1.424rem;
$font-size-h5: 1.266rem;
$font-size-h6: 1.125rem;

//Spacing
$spacing-0: 0px;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 28px;
$spacing-8: 32px;
$spacing-9: 36px;
$spacing-10: 40px;

//Border Radius
$border-radius-0: 0px;
$border-radius-5: 5px;
$border-radius-10: 10px;
$border-radius-20: 20px;
$border-radius-100: 100px;
$border-radius-999: 999px;

//Header
$header-height: 50px;

//Colors

//Primary
$primary-50:  #e9eaf5;
$primary-100: #d6d9ed;
$primary-200: #aab1db;
$primary-300: #818dca;
$primary-400: #5a6bb5;
$primary-500: #3f4c83;
$primary-600: #323d6b;
$primary-700: #252e53;
$primary-800: #19203c;
$primary-900: #0f1429;
$primary-950: #070a19;

//Secondary
$secondary-50: #fff1ed;
$secondary-100: #ffe6de;
$secondary-200: #fec8b6;
$secondary-300: #feae8d;
$secondary-400: #fe9257;
$secondary-500: var(--p-secondary-500);
$secondary-600: #c05e09;
$secondary-700: #8f4505;
$secondary-800: #612d02;
$secondary-900: #3a1801;
$secondary-950: #250d00;