$font-family-base: 'Poppins', sans-serif;

//Sizes
$font-size-base: 14px;
$font-size-small: 0.889rem;
$font-size-extrasmall: 0.79rem;
$font-size-h1: 2.027rem;
$font-size-h2: 1.802rem;
$font-size-h3: 1.602rem;
$font-size-h4: 1.424rem;
$font-size-h5: 1.266rem;
$font-size-h6: 1.125rem;

//Spacing
$spacing-0: 0px;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 28px;
$spacing-8: 32px;
$spacing-9: 36px;
$spacing-10: 40px;

//Border Radius
$border-radius-0: 0px;
$border-radius-5: 5px;
$border-radius-10: 10px;
$border-radius-20: 20px;
$border-radius-100: 100px;
$border-radius-999: 999px;

//Header
$header-height: 50px;

//Colors

//Primary
$primary-50: var(--primary-50, #e9eaf5);
$primary-100: var(--primary-100, #d6d9ed);
$primary-200: var(--primary-200, #aab1db);
$primary-300: var(--primary-300, #818dca);
$primary-400: var(--primary-400, #5a6bb5);
$primary-500: var(--primary-500, #3f4c83);
$primary-600: var(--primary-600, #323d6b);
$primary-700: var(--primary-700, #252e53);
$primary-800: var(--primary-800, #19203c);
$primary-900: var(--primary-900, #0f1429);
$primary-1000: var(--primary-1000, #070a19);

//Secondary
$secondary-50: var(--secondary-50, #fff1ed);
$secondary-100: var(--secondary-100, #ffe6de);
$secondary-200: var(--secondary-200, #fec8b6);
$secondary-300: var(--secondary-300, #feae8d);
$secondary-400: var(--secondary-400, #fe9257);
$secondary-500: var(--secondary-500, #f0780e);
$secondary-600: var(--secondary-600, #c05e09);
$secondary-700: var(--secondary-700, #8f4505);
$secondary-800: var(--secondary-800, #612d02);
$secondary-900: var(--secondary-900, #3a1801);
$secondary-1000: var(--secondary-1000, #250d00);

//Neutral
$neutral-50: var(--neutral-50, #fafafa);
$neutral-100: var(--neutral-100, #f5f5f5);
$neutral-200: var(--neutral-200, #e5e5e5);
$neutral-300: var(--neutral-300, #d4d4d4);
$neutral-400: var(--neutral-400, #a3a3a3);
$neutral-500: var(--neutral-500, #737373);
$neutral-600: var(--neutral-600, #525252);
$neutral-700: var(--neutral-700, #404040);
$neutral-800: var(--neutral-800, #262626);
$neutral-900: var(--neutral-900, #171717);
$neutral-1000: var(--neutral-1000, #0a0a0a);

//Green
$green-50: var(--green-50, #f0fdf4);
$green-100: var(--green-100, #dcfce7);
$green-200: var(--green-200, #bbf7d0);
$green-300: var(--green-300, #86efac);
$green-400: var(--green-400, #4ade80);
$green-500: var(--green-500, #22c55e);
$green-600: var(--green-600, #16a34a);
$green-700: var(--green-700, #15803d);
$green-800: var(--green-800, #166534);
$green-900: var(--green-900, #14532d);
$green-1000: var(--green-1000, #052e16);

//Lime
$lime-50: var(--lime-50, #f7fee7);
$lime-100: var(--lime-100, #ecfccb);
$lime-200: var(--lime-200, #d9f99d);
$lime-300: var(--lime-300, #bef264);
$lime-400: var(--lime-400, #a3e635);
$lime-500: var(--lime-500, #84cc16);
$lime-600: var(--lime-600, #65a30d);
$lime-700: var(--lime-700, #4d7c0f);
$lime-800: var(--lime-800, #3f6212);
$lime-900: var(--lime-900, #365314);
$lime-1000: var(--lime-1000, #1a2e05);

//Yellow
$yellow-50: var(--yellow-50, #fefce8);
$yellow-100: var(--yellow-100, #fef9c3);
$yellow-200: var(--yellow-200, #fef08a);
$yellow-300: var(--yellow-300, #fde047);
$yellow-400: var(--yellow-400, #facc15);
$yellow-500: var(--yellow-500, #eab308);
$yellow-600: var(--yellow-600, #ca8a04);
$yellow-700: var(--yellow-700, #a16207);
$yellow-800: var(--yellow-800, #854d0e);
$yellow-900: var(--yellow-900, #713f12);
$yellow-1000: var(--yellow-1000, #422006);

//Red
$red-50: var(--red-50, #fef2f2);
$red-100: var(--red-100, #fee2e2);
$red-200: var(--red-200, #fecaca);
$red-300: var(--red-300, #fca5a5);
$red-400: var(--red-400, #f87171);
$red-500: var(--red-500, #ef4444);
$red-600: var(--red-600, #dc2626);
$red-700: var(--red-700, #b91c1c);
$red-800: var(--red-800, #991b1b);
$red-900: var(--red-900, #7f1d1d);
$red-1000: var(--red-1000, #450a0a);

//Blue
$blue-50: var(--blue-50, #eff6ff);
$blue-100: var(--blue-100, #dbeafe);
$blue-200: var(--blue-200, #bfdbfe);
$blue-300: var(--blue-300, #93c5fd);
$blue-400: var(--blue-400, #60a5fa);
$blue-500: var(--blue-500, #3b82f6);
$blue-600: var(--blue-600, #2563eb);
$blue-700: var(--blue-700, #1d4ed8);
$blue-800: var(--blue-800, #1e40af);
$blue-900: var(--blue-900, #1e3a8a);
$blue-1000: var(--blue-1000, #172554);

//Purple
$purple-50: var(--purple-50, #faf5ff);
$purple-100: var(--purple-100, #f3e8ff);
$purple-200: var(--purple-200, #e9d5ff);
$purple-300: var(--purple-300, #d8b4fe);
$purple-400: var(--purple-400, #c084fc);
$purple-500: var(--purple-500, #a855f7);
$purple-600: var(--purple-600, #9333ea);
$purple-700: var(--purple-700, #7e22ce);
$purple-800: var(--purple-800, #6b21a8);
$purple-900: var(--purple-900, #581c87);
$purple-1000: var(--purple-1000, #3b0764);