<div class="readingcard card">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-2 col-2 text-start d-flex align-items-center">
				<h5 class="fw-bold">{{ this.page + 1 }}/10 Questions Left</h5>
			</div>
			<div class="col-md-8 col-8 text-center">
				<h5 class="select-title mb-1">Nationalised Exam Quiz</h5>
			</div>
			<div class="col-md-2 col-2 text-end">
				<button class="btn btn-quit btn-rounded px-2 py-2" (click)="closeQuiz()">
					<div class="d-flex align-items-center">
						<span class="fw-normal h6 mb-0 ps-3 pe-2">Quit</span>
						<div class="btn-icon"><i class="fa-solid fa-power-off"></i></div>
					</div>
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="d-flex justify-content-center uniprep-primary mt-0">
		  <div class="px-3 py-2 h5 mb-0 border-primary rounded-2 fw-bold">{{ formatTime(timer) }} | {{
			formatTime(totalquiztime) }}</div>
		</div>
	  </div>
	<div class="card-body flex-fill overflow-y-auto">
		<p class="text-start mb-0 fw-semibold uniprep-primary">Question Number {{ this.page + 1 }}</p>
		<h4 class="uniprep-primarydark fw-bold text-start pt-2 pb-2 text-capitalize">{{ this.activeQuestion }}</h4>
		<div class="d-flex p-3 my-1" style="border: 1px solid #e3e3e3; border-radius: 10px">
			<p-radioButton name="groupname" value="A" [(ngModel)]="selectedValue" inputId="opt1"></p-radioButton>
			<label for="opt1" class="ps-2">{{ this.activeOptOne }}</label>
		</div>
		<div class="d-flex p-3 my-1" style="border: 1px solid #e3e3e3; border-radius: 10px">
			<p-radioButton name="groupname" value="B" [(ngModel)]="selectedValue" inputId="opt2"></p-radioButton>
			<label for="opt2" class="ps-2">{{ this.activeOptTwo }}</label>
		</div>
		<div class="d-flex p-3 my-1" style="border: 1px solid #e3e3e3; border-radius: 10px">
			<p-radioButton name="groupname" value="C" [(ngModel)]="selectedValue" inputId="opt3"></p-radioButton>
			<label for="opt3" class="ps-2">{{ this.activeOptThree }}</label>
		</div>
		<div class="d-flex p-3 my-1" style="border: 1px solid #e3e3e3; border-radius: 10px">
			<p-radioButton name="groupname" value="D" [(ngModel)]="selectedValue" inputId="opt4"></p-radioButton>
			<label for="opt4" class="ps-2">{{ this.activeOptFour }}</label>
		</div>
		<p style="color: red" class="fw-semibold" *ngIf="showError">Please select an answer</p>
	</div>
	<div class="card-footer bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-8 text-start">
				<div class="w-100 px-3 quizprogress">
					<span class="font-secondarycolor fw-semibold">Progress: {{ this.page * 10 }}% Completed</span>
					<p-progressBar [value]="progressvalue"></p-progressBar>
				</div>
			</div>
			<div class="col-md-4 text-end">
				<button *ngIf="page != 0" (click)="prevQues()" class="btn btn-back btn-rounded me-3 px-2 py-2">
					<div class="d-flex align-items-center">
						<span class="fw-normal h6 mb-0 ps-3 pe-2">Previous</span>
						<div class="btn-icon"><i class="fa-solid fa-arrow-left"></i></div>
					</div>
				</button>
				<button (click)="nextQues()" class="btn btn-start btn-rounded m-0 px-2 py-2">
					<div class="d-flex align-items-center">
						<span class="fw-normal h6 mb-0 ps-3 pe-2">{{ page <= 8 ? 'Next' : 'Submit' }}</span>
						<div class="btn-icon"><i [class]="page <= 8 ? 'fa-solid fa-arrow-right' : 'fa-solid fa-check'"></i></div>
					</div>
				</button>
			</div>
		</div>
	</div>
</div>
<p-dialog [(visible)]="restrict" [modal]="true" [closable]="false" [style]="{ width: '30vw' }" [draggable]="false"
  [resizable]="false" class="restrictionDialog" [breakpoints]="{ '960px': '30vw', '959px': '60vw', '425px': '90vw' }">
  <div class="text-center mt-5 mb-4">
    <h3 class="uniprep-secondary">Time's Up!</h3>
    <p class="mb-2">You have run out of time for this quiz. Unfortunately,this means the quiz is marked as failed. Try
      the quiz again."</p>
    <button pButton type="button" class="btn btn-secondary btn-rounded text-center" (click)="closeQuiz()"><i
        class="fa fa-arrow-right"></i></button>
  </div>
</p-dialog>