.questions-left {
    display: inline;
    white-space: nowrap;
}

.quizprogress {
    margin-right: auto;

    .p-progressbar {
        height: 10px;
        margin-top: 5px;
    }
}

.btn-back,
.btn-quit {
    white-space: nowrap;
}

.text-bold {
    font-weight: bold;
}



:host ::ng-deep p-carousel {
    .p-carousel-indicators {
        display: none !important;
    }

    .p-carousel-next,
    .p-carousel-prev {
        display: none !important;
    }
}

.quiznotanswered {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    text-align: start;
    color: #001631;
}

.optionanswered {
    border: 1px solid var(--uniprep-primary);
    border-radius: 8px;
    color: #001631;
}

.optionreviewcorrect {
    border: 1px solid var(--uniprep-primary);
    background: green;
    border-radius: 8px;
    color: #fff;
}

.answercorct {
    border: 1px solid var(--uniprep-primary);
    background: green;
    border-radius: 8px;
    color: #fff;
}

.optionreviewwrong {
    border: 1px solid #df3e3e;
    background: #df3e3e;
    border-radius: 8px;
    color: #fff;
}

@media (max-width: 575.98px) {
    .subjectcard {
        .submoduleicon {
            height: 60px;
            width: 60px;
            margin-right: 1rem;
        }
    }
}

.offer {
    color: #df7905;
}

.select-title {
    margin-bottom: 20px;
}


.text-muted {
    color: #6c757d;
}

.recommendation {

    h3,
    h4 {
        color: #000;
    }

    p {
        font-size: 1rem;
        line-height: 1.6;
    }

    .container {
        max-width: 800px;
    }

    img {
        width: 120px;
    }

}

.streamQuiz {
    .pdf-viewer {
        border: 1px solid #e0e0e0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        height: 90%;
    }

    .card-body {
        text-align: start;
    }

    .badge {
        padding: 10px;
        border-radius: 5px;
    }

    @media (max-width: 768px) {
        .chart-labels {
            margin-top: 20px;
            text-align: center;
        }
    }

    .footer .btn {
        width: 200px;
        font-size: 18px;
        font-weight: bold;
    }


}

.text-left {
    text-align: left;
}

.userguide {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    background-position-y: 50px;
    margin: 0 auto;
    width: 100%;
    border: 0;
}

iframe {
    width: 50%;
    height: 100vh;
}