.questions-left {
    display: inline;
    white-space: nowrap;
}

.quizprogress {
    margin-right: auto;

    .p-progressbar {
        height: 10px;
        margin-top: 5px;
    }
}

.btn-back,
.btn-quit {
    white-space: nowrap;
}

.text-bold {
    font-weight: bold;
}



:host ::ng-deep p-carousel {
    .p-carousel-indicators {
        display: none !important;
    }

    .p-carousel-next,
    .p-carousel-prev {
        display: none !important;
    }
}

.quiznotanswered {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    text-align: start;
    color: #001631;
}

.optionanswered {
    border: 1px solid var(--primary-500);
    border-radius: 8px;
    color: #001631;
}

.optionreviewcorrect {
    border: 1px solid var(--primary-500);
    background: green;
    border-radius: 8px;
    color: var(--p-neutral-50);
}

.answercorct {
    border: 1px solid var(--primary-500);
    background: green;
    border-radius: 8px;
    color: var(--p-neutral-50);
}

.optionreviewwrong {
    border: 1px solid #df3e3e;
    background: #df3e3e;
    border-radius: 8px;
    color: var(--p-neutral-50);
}

@media (max-width: 575.98px) {
    .subjectcard {
        .submoduleicon {
            height: 60px;
            width: 60px;
            margin-right: 1rem;
        }
    }
}

.offer {
    color: #df7905;
}

.select-title {
    margin-bottom: 20px;
}


.text-muted {
    color: #6c757d;
}

.recommendation {

    h3,
    h4 {
        color: var(--p-neutral-950);
    }

    p {
        font-size: 1rem;
        line-height: 1.6;
    }

    .container {
        max-width: 800px;
    }

    img {
        width: 120px;
    }

}

.streamQuiz {
    .pdf-viewer {
        border: 1px solid #e0e0e0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .card-body {
        text-align: start;
    }

    .badge {
        padding: 10px;
        border-radius: 5px;
    }

    @media (max-width: 768px) {
        .chart-labels {
            margin-top: 20px;
            text-align: center;
        }
    }

    .footer .btn {
        width: 200px;
        font-size: 18px;
        font-weight: bold;
    }


}

.text-left {
    text-align: left;
}

.userguide {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    background-position-y: 50px;
    margin: 0 auto;
    width: 100%;
    border: 0;
}

iframe {
    width: 50%;
    height: 100vh;
}

.la-square-jelly-box,
.la-square-jelly-box>div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.la-square-jelly-box {
    display: block;
    font-size: 0;
    color: var(--primary-500);
    width: 64px;
    height: 64px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: all;
}

.la-square-jelly-box.la-dark {
    color: #333;
}

.la-square-jelly-box>div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-square-jelly-box>div:nth-child(1),
.la-square-jelly-box>div:nth-child(2) {
    position: absolute;
    left: 0;
    width: 100%;
}

.la-square-jelly-box>div:nth-child(1) {
    top: -25%;
    z-index: 1;
    height: 100%;
    border-radius: 10%;
    -webkit-animation: square-jelly-box-animate .6s -.1s linear infinite;
    -moz-animation: square-jelly-box-animate .6s -.1s linear infinite;
    -o-animation: square-jelly-box-animate .6s -.1s linear infinite;
    animation: square-jelly-box-animate .6s -.1s linear infinite;
}

.la-square-jelly-box>div:nth-child(2) {
    bottom: -9%;
    height: 10%;
    background: var(--p-neutral-950);
    border-radius: 50%;
    opacity: .2;
    -webkit-animation: square-jelly-box-shadow .6s -.1s linear infinite;
    -moz-animation: square-jelly-box-shadow .6s -.1s linear infinite;
    -o-animation: square-jelly-box-shadow .6s -.1s linear infinite;
    animation: square-jelly-box-shadow .6s -.1s linear infinite;
}


@-webkit-keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }

    25% {
        -webkit-transform: translateY(25%) rotate(22.5deg);
        transform: translateY(25%) rotate(22.5deg);
    }

    50% {
        border-bottom-right-radius: 100%;
        -webkit-transform: translateY(50%) scale(1, .9) rotate(45deg);
        transform: translateY(50%) scale(1, .9) rotate(45deg);
    }

    75% {
        -webkit-transform: translateY(25%) rotate(67.5deg);
        transform: translateY(25%) rotate(67.5deg);
    }

    100% {
        -webkit-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg);
    }
}

@-moz-keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }

    25% {
        -moz-transform: translateY(25%) rotate(22.5deg);
        transform: translateY(25%) rotate(22.5deg);
    }

    50% {
        border-bottom-right-radius: 100%;
        -moz-transform: translateY(50%) scale(1, .9) rotate(45deg);
        transform: translateY(50%) scale(1, .9) rotate(45deg);
    }

    75% {
        -moz-transform: translateY(25%) rotate(67.5deg);
        transform: translateY(25%) rotate(67.5deg);
    }

    100% {
        -moz-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg);
    }
}

@-o-keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }

    25% {
        -o-transform: translateY(25%) rotate(22.5deg);
        transform: translateY(25%) rotate(22.5deg);
    }

    50% {
        border-bottom-right-radius: 100%;
        -o-transform: translateY(50%) scale(1, .9) rotate(45deg);
        transform: translateY(50%) scale(1, .9) rotate(45deg);
    }

    75% {
        -o-transform: translateY(25%) rotate(67.5deg);
        transform: translateY(25%) rotate(67.5deg);
    }

    100% {
        -o-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes square-jelly-box-animate {
    17% {
        border-bottom-right-radius: 10%;
    }

    25% {
        -webkit-transform: translateY(25%) rotate(22.5deg);
        -moz-transform: translateY(25%) rotate(22.5deg);
        -o-transform: translateY(25%) rotate(22.5deg);
        transform: translateY(25%) rotate(22.5deg);
    }

    50% {
        border-bottom-right-radius: 100%;
        -webkit-transform: translateY(50%) scale(1, .9) rotate(45deg);
        -moz-transform: translateY(50%) scale(1, .9) rotate(45deg);
        -o-transform: translateY(50%) scale(1, .9) rotate(45deg);
        transform: translateY(50%) scale(1, .9) rotate(45deg);
    }

    75% {
        -webkit-transform: translateY(25%) rotate(67.5deg);
        -moz-transform: translateY(25%) rotate(67.5deg);
        -o-transform: translateY(25%) rotate(67.5deg);
        transform: translateY(25%) rotate(67.5deg);
    }

    100% {
        -webkit-transform: translateY(0) rotate(90deg);
        -moz-transform: translateY(0) rotate(90deg);
        -o-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg);
    }
}

@-webkit-keyframes square-jelly-box-shadow {
    50% {
        -webkit-transform: scale(1.25, 1);
        transform: scale(1.25, 1);
    }
}

@-moz-keyframes square-jelly-box-shadow {
    50% {
        -moz-transform: scale(1.25, 1);
        transform: scale(1.25, 1);
    }
}

@-o-keyframes square-jelly-box-shadow {
    50% {
        -o-transform: scale(1.25, 1);
        transform: scale(1.25, 1);
    }
}

@keyframes square-jelly-box-shadow {
    50% {
        -webkit-transform: scale(1.25, 1);
        -moz-transform: scale(1.25, 1);
        -o-transform: scale(1.25, 1);
        transform: scale(1.25, 1);
    }
}