.headingbar {
    padding: 1rem;
    background-color: var(--p-primary-500);
    text-transform: uppercase;
    color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
  }
.content {
  border: 0.5px solid var(--p-primary-500);;
  border-radius: 20px;
  padding:1rem;
}