p {
    padding: 1rem;
    background-color: #3f4c83;
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 50%;
  }
.content {
  h5 {
    text-align: left !important;
  }
  text-align: left !important;
  padding: 1rem;
  border: 0.5px solid black;
  border-radius: 20px;
  font-weight: 500;
  font-size: smaller;
}
