<section class="pb-2 pt-5 py-md-3 darksection" id="home">
  <div class="container-fluid pt-5 text-center">
    <div class="row justify-content-center">
      <div class="col-md-8 col-12 d-flex flex-column justify-content-center align-items-center">
        <h1><span class="text-white fw-extralight">Power the</span><br /><span class="text-white fw-bold">Next Generation of Talent</span></h1>
        <div class="text-center mb-4 mt-4">
          <a href="/register" class="text-decoration-none"
            ><button type="button" class="btn btn-secondary-1 px-4 py-3 m-0"><h6 class="mb-0">REGISTER NOW!</h6></button></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pb-0 darksection homebg">
  <div class="container-fluid pt-3 text-center">
    <div class="row justify-content-center">
      <div class="col-md-6 col-12">
        <div class="video-container">
          <i class="fa-solid fa-circle-play uniprep-secondary fa-beat" role="button" *ngIf="!isPlaying" (click)="toggleVideo()"></i>

          <!-- YouTube iframe (shown when playing) -->
          <iframe *ngIf="isPlaying" (click)="toggleVideo()" class="youtube-iframe" [src]="embedUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen> </iframe>

          <!-- Video thumbnail (shown when not playing) -->
          <img *ngIf="!isPlaying" class="video-thumbnail" [src]="videoThumbImage" alt="Video thumbnail" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="darksection py-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 col-12">
        <div class="row">
          <div class="col-md-3 col-12">
            <p-select [options]="countries" [(ngModel)]="selectedCountry" styleClass="custom-country-select w-100 h-100 mb-2 mb-md-0" [style]="{ 'border-radius': '8px', border: '1px solid orange', background: 'transparent', color: '#fff' }" panelStyleClass="custom-dropdown-panel" optionValue="id" [filter]="true" filterBy="country" (onChange)="getPartnersListById($event.value)" placeholder="Select Country">
              <ng-template let-country pTemplate="item">
                <div class="d-flex align-items-center gap-2 h-100">
                  <div class="dropdownimg">
                    <img [src]="country?.flag" class="img-fluid" />
                  </div>
                  <div>
                    {{ country?.country }}
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="d-flex align-items-center gap-2 text-white h-100">
                  <div class="dropdownimg">
                    <img [src]="selectedOption.flag" class="img-fluid" />
                  </div>
                  <div>
                    {{ selectedOption.country }}
                  </div>
                </div>
              </ng-template>
            </p-select>
          </div>
          <div class="col-md-9 col-12">
            <div class="input-group border-1 border-dark rounded-4">
              <span class="input-group-text bg-dark border-0 text-white p-3">
                <i class="fa fa-search"></i>
              </span>
              <input type="text" [(ngModel)]="searchWord" (ngModelChange)="onSearchPartner($event)" class="form-control bg-dark text-white p-3 border-0 rounded-end-2" placeholder="Search For Partners..." style="border-radius: 0" />
            </div>
            <div *ngIf="filteredPartnerList && filteredPartnerList.length > 0 && searchWord.length > 0" class="rounded-4 border-orange dropdown-content">
              <ng-container *ngFor="let partner of filteredPartnerList">
                <div class="bg-dark text-white text-decoration-none p-3 border-white cursor-pointer" (click)="navigateRouteLink(partner.domainname)" target="_blank">
                  {{ partner.partnername }}
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="darksection text-white py-5">
  <div class="container-fluid">
    <div class="row">
      <ng-container *ngFor="let section of landingSections">
        <div class="container-fluid pb-5 pb-mb-0">
          <div class="row justify-content-center">
            <div class="col-md-8 col-12">
              <div class="row justify-content-md-between align-items-center py-40">
                <div class="col-md-6" [ngClass]="{ 'order-lg-1 order-1': !section.isRight, 'order-lg-2 order-1': section.isRight }">
                  <div class="landing-content">
                    <img [src]="section.image" [alt]="section.imageAlt" class="img-fluid rounded border-0" />
                  </div>
                </div>
                <div class="col-md-5" [ngClass]="{ 'order-lg-2 order-2': !section.isRight, 'order-lg-1 order-2': section.isRight }">
                  <h4 class="fw-bold mb-2" [innerHTML]="section.title"></h4>
                  <h6 class="uniprep-secondary mb-4" [innerHTML]="section.subTitle"></h6>
                  <div class="feature-list d-flex gap-3 flex-column">
                    <div class="d-flex align-items-center gap-2" *ngFor="let feature of section.features">
                      <span>
                        <i class="fa-light fa-2xl fa-square-check text-white"></i>
                      </span>
                      <p class="mb-0 text-white" [innerHTML]="feature"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<section class="py-5 darksection">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center text-md-start">
        <h4 class="mb-2 text-white fw-light">Who We <span class="text-secondary fw-bold">Work With</span></h4>
        <p class="mb-4 text-white fs-5">Empowering the Ecosystem of Education, Employment, and Global Mobility</p>
        <div class="row g-3">
          <div *ngFor="let category of partnerCategories; let i = index" class="col-12 col-md-4">
            <div class="card">
              <div class="d-flex align-items-center gap-2 p-3 rounded">
                <h3 class="mb-0">{{ category.emoji }}</h3>
                <p class="mb-0 text-white" [innerHTML]="category.title"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 darksection">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 col-12">
        <div class="row">
          <div class="col-12">
            <h4 class="mb-4 text-white fw-light">Why Partner with <span class="text-orange fw-bold">UNIPREP?</span></h4>

            <div class="p-4 rounded card">
              <p class="mb-1 text-white">{{ whyPartnerParagraph1 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 darksection">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 col-12">
        <h4 class="mb-4 text-white fw-light">Our <span class="fw-bold">Advisors</span></h4>
        <p-carousel [value]="advisorImages" [numVisible]="4" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [showNavigators]="false" [showIndicators]="false" [responsiveOptions]="responsiveOptions" styleClass="advisor-carousel">
          <ng-template let-advisor pTemplate="item">
            <div class="advisor-item">
              <img [src]="advisor.src" [alt]="advisor.alt" class="advisor-image" />
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</section>
<section class="py-5 cta-field darksection">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 col-12">
        <div class="card py-4 px-4">
          <div class="card-body">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-9">
                <h4 class="mb-md-0 mb-3 text-md-start text-center text-white">{{ wantToKnowMoreTitle }}</h4>
                <h6 class="fw-medium text-white text-md-start text-center">{{ wantToKnowMoreLead }}</h6>
              </div>
              <div class="col-md-3 col-9 text-center text-md-end">
                <a href="/partner/register" class="btn cta-btn m-0 h5 py-3">{{ joinNowButtonText }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
