:host {
  display: block;
}

:root,
[data-bs-theme="light"] {
	--bs-primary-rgb: 63, 76, 131;
	--bs-secondary-rgb: 240, 120, 14;
	--bs-primary: var(--uniprep-primary);
	--bs-secondary: #f0780e;
	--uniprep-primary: var(--uniprep-primary);
	--uniprep-primaryop10: var(--uniprep-primary) 25;
	--uniprep-primaryop30: var(--uniprep-primary) 5b;
	--uniprep-secondary: #f0780e;
	--uniprep-secondaryop10: #f0780e25;
	--uniprep-secondaryop30: #f0780e5b;
	--uniprep-primaryhighlight: #4552a3;
	--uniprep-secondaryhighlight: #f6895a;
	--uniprep-tertiary: #ffffff;
}


html {
	scroll-behavior: smooth;
	overflow: auto !important;

}

::ng-deep .custom-country-select {
  min-height: 52px !important; /* Adjust select height */
  border-radius: 8px;
  border: 1px solid orange;
  background: transparent;
  color: #fff;
}

.btn-secondary-1 {
	color: white;
	background-color: var(--uniprep-secondary);
}

body {
	font-family: "Poppins", sans-serif !important;
	overflow: auto !important;
}

.text-secondary {
    color: var(--uniprep-secondary) !important;
}

video::-webkit-media-controls-panel {
	background-image: none !important;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-circle-play {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    z-index: 2;
    cursor: pointer;
}

.youtube-iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9; /* Maintains proper video aspect ratio */
    border-radius: 1rem; /* Equivalent to rounded-4 */
}

.video-thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    cursor: pointer;
}

.video-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
}

body {
	font-family: "Poppins", sans-serif !important;
	overflow: auto !important;
}

h1,
.text-size-h1 {
	font-weight: 700;
	margin-top: 0;
	font-size: 5rem;
}

h2,
.text-size-h2 {
	font-size: 4em;
}

h3,
.text-size-h3 {
	font-size: 2.83em;
}

h4,
.text-size-h4 {
	font-size: 2em;
}

h5,
.text-size-h5 {
	font-size: 1.41em;
}

.text-caption {
	font-size: 0.71em;
}

small,
.text-small {
	font-size: 0.833em;
}

h1,
h2 {
	font-weight: 700;
}
h3,
h4 {
	font-weight: 600;
}
h5,
h6 {
	font-weight: 500;
}

.cta-field {
	.card {
		background: rgb(219, 83, 175);
		background: linear-gradient(90deg, #e78e60 0%,  #d14283 100%);
		border: none;
	}
	.cta-btn {
		background: black;
		color: white;
		padding: 0.8rem;
	}
}

.card {
	border-radius: 1.5rem;
	border: 1px solid #e6ddfe08;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
	box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
	color: white;
	&:hover {
		.card-title {
			color: var(--uniprep-secondary);
		}
		.cardicon {
			font-weight: 700;
		}
	}
}

.darksection {
	background-color: #07070b;
	p {
		color: #000;
	}
}

section {
	scroll-margin-top: 3rem;
}

.bg-dark {
  background-color: #121212 !important;
}

.text-orange {
  color: var(--uniprep-secondary) !important;
}

.border-orange {
  border-color: var(--uniprep-secondary) !important;
}

.btn-orange {
  background-color: var(--uniprep-secondary) !important;
  border-color: var(--uniprep-secondary) !important;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
}

.form-control, .input-group-text {
  background-color: #333 !important;
}

.form-control::placeholder {
  color: #aaa;
}

.feature-list {
  i {
    color: #ff8a00;
    font-size: 1.2rem;
  }
}

kbd {
  background-color: #333;
  padding: 2px 5px;
  border-radius: 3px;
}

// Responsive adjustments
@media (max-width: 992px) {
  .order-lg-1 {
    order: 1;
  }
  
  .order-lg-2 {
    order: 2;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  .display-4, .display-5 {
    font-size: 1.8rem;
  }
}
.slider-container {
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 175px;
	/* Adjust height as needed */
}

.slider-track {
	display: flex;
	width: calc(100%);
}

.slider-track img {
	width: 17.2%;
	padding: 10px;
	object-fit: contain;
}

.dropdown-content{
  max-height: 300px;
  overflow-y: scroll;
}

.gap-95{
	gap:95px;
}