$color_1: white;
$color_2: var(--primary-500);
$color_3: #222;
$color_4: #180660;
$color_5: #343434;
$color_6: #000;
$color_7: #061061;
$color_8: #fff;
$color_9: #343945;
$color_10: black;
$background-color_1: var(--primary-500);
$background-color_2: white;
$background-color_3: darken(#ebe084, 15%);
$background-color_4: #fff;
$background-color_5: #f5f5f5;
$background-color_6: #f6f7fa;
$background-color_7: #e1e1e1b3;
$background-color_8: transparent;
$background-color_9: #dbdbdb;
$background-color_10: rgba(0, 0, 0, 0.35);
$border-color_1: transparent transparent #000;
$border-color_2: transparent transparent #f5f5f5 transparent;
$border-color_3: transparent transparent #daf395 transparent;
$border-color_4: rgba(0, 0, 0, 0.127);
$border-color_5: var(--primary-500);

/*.modal-body {*/
/*  width: 100%;*/
/*  position: absolute;*/
/*  padding: 0 !important;*/
/*}*/
/*image*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-body {
  background: #f5f5f5;
  // background-image: url(../../../uniprep-assets/images/chatpattern-o.webp);
  background-size: contain;
  background-position: center;
}

.modal--modal-header {
  box-shadow: 0 1px 3px 0 rgba(38, 41, 58, 0.06);
  width: 100%;
  max-width: 600px;
  padding: 1%;
  color: $color_1;
  background-color: $background-color_1;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.modal--modal-content {
  box-shadow: 0 1px 3px 0 rgba(38, 41, 58, 0.06);
  width: 100%;
  max-width: 600px;
  position: relative;
  border-radius: 10px;
}

.modal--close-btn {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 14px;
  color: $color_2;
  background-color: $background-color_2;
  padding: 4px 10px;
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid var(--primary-500);

  &:hover {
    background-color: $background-color_3;
    cursor: pointer;
  }
}

.modal--close-btn-min {
  position: absolute;
  top: -16px;
  right: 27px;
  font-size: 16px;
  color: $color_2;
  background-color: $background-color_2;
  padding: 3px 13px;
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid var(--primary-500);

  &:hover {
    background-color: $background-color_3;
    cursor: pointer;
  }
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}

blockquote {
  quotes: none;

  &:before {
    content: "";
    content: none;
  }

  &:after {
    content: "";
    content: none;
  }
}

q {
  quotes: none;

  &:before {
    content: "";
    content: none;
  }

  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 15px;
}

* {
  margin-bottom: 0;
}

.message-area {
  height: 80vh;
  overflow: hidden;
  padding: 30px 0;
  background: #f5f5f5;
  border-radius: 0 0 10px 10px;
}

.chat-area {
  position: relative;
  width: 100%;
  background-color: $background-color_4;
  border-radius: 0.3rem;
  overflow: hidden;
  min-height: calc(100% - 1rem);

  .modal-content {
    border: none;
    border-radius: 0;
    outline: 0;
    height: 100%;
  }

  .modal-dialog-scrollable {
    height: 100% !important;
  }

  .form-control {
    display: block;
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: $color_3;
    background-color: $background-color_4;
    background-clip: padding-box;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      outline: 0;
      box-shadow: inherit;
    }
  }

  .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    align-items: center;
    justify-content: space-between;
    flex-wrap: inherit;

    .nav-item {
      width: 100%;
    }

    .nav-link {
      width: 100%;
      color: $color_4;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      text-transform: capitalize;
      margin-top: 5px;
      margin-bottom: -1px;
      background: 0 0;
      border: 1px solid transparent;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;

      &:focus {
        border-color: $border-color_1;
        isolation: isolate;
      }

      &:hover {
        border-color: $border-color_1;
        isolation: isolate;
      }
    }

    .nav-item.show {
      .nav-link {
        color: $color_3;
        background-color: $background-color_4;
        border-color: $border-color_1;
      }
    }

    .nav-link.active {
      color: $color_3;
      background-color: $background-color_4;
      border-color: $border-color_1;
    }
  }
}


.chatbox {
  width: auto;
  overflow: hidden;
  height: 100%;

  .modal-dialog {
    max-width: 100%;
    margin: 0;
  }
}

a.add {
  img {
    height: 36px;
  }
}


.msg-body {
  height: 550px;
  overflow: auto;
  ul {
    overflow: hidden;
    padding: 20px;

    li {
      list-style: none;
      margin: 8px 0;
    }

    li.sender {
      display: block;
      width: 100%;
      position: relative;
      float: right;

      &::before
      {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -0.4rem;
      width: 1rem;
      height: 1rem;
      transform: scaleX(0.8) skew(45deg);
      background: #fff;
      }

      p {
        color: #001631;
        font-size: 1rem;
        font-weight: 500;
        padding: 6px 20px;
        background: #fff;
        display: inline-block;
        border-radius: 0px 10px 10px 10px;
        max-width: 40vh;

        b {
          display: block;
          color: $color_4;
          font-size: 14px;
          line-height: 1.5;
          font-weight: 500;
        }
      }
    }

    li.reply {
      display: flex;
      width: 100%;
      justify-content: end;
      text-align: right;
      position: relative;
      &::before
      {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 1rem;
        height: 1rem;
        right: -0.3rem;
        z-index: 0;
        left: auto;
        transform: skew(130deg);
        background: #daf395;
      }
      p {
        color: #001631;
        font-size: 14px;
        font-weight: 500;
        padding: 6px 20px;
        background: #daf395;
        display: inline-block;
        border-radius: 10px 0px 10px 10px;
        position:relative;
        max-width: 40vh;
        b {
          display: block;
          color: $color_7;
          font-size: 14px;
          line-height: 1.5;
          font-weight: 500;
        }
      }

      &:after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }

  h6 {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: $color_3;
    background: #fff;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 0;
  }
}

.time {
  display: block;
  color: #889A74;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
  float: right;
}

li.reply {
  .time {
    margin-left: 5px;
  }
}


.send-box {
  padding: 0;
  background-color: $background-color_5;

  form {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 100%;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: $color_3;
    text-align: start;
    border-radius: 10px !important;
    background-color: $background-color_5;
    background-clip: padding-box;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  button {
    border: none;
    background: var(--primary-500);
    color: $color_8;
    width: 10%;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 400;
    margin-left: 1%;

    i {
      margin-right: 5px;
      width: 100%;
    }
  }
}

form {
  background-color: $background-color_5;
}

button {
  &:focus {
    outline: 0;
  }
}

.card {
  border-color: $border-color_4;
}

.terms_p {
  font-size: small;
  color: $color_1;
  background: var(--primary-500);
  width: 20%;
  border-radius: 2px;
  padding-left: 1rem;
}

._terms {
  min-height: 500px;
}


.modal-content {
  min-height: 550px;
  background-color: $background-color_9 !important;
  overflow: hidden;
  border-color: $border-color_5;
}

.round-button {
  border: none;
  background: var(--primary-500);
  color: $color_8;
  width: 10%;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  margin-left: 1%;
}

.p-toast {
  .p-toast-message {
    .p-toast-message-content {
      z-index: 99999 !important;
    }
  }
}

.modal-dialog-report {
  margin: 0 !important;
}

.trigger {
  width: 300px;
  position: absolute;
  z-index: 10000;
  left: 35%;
  top: 41%;
  text-align: center;
}

.popup {
  position: absolute;
  left: 0;
  top: -60px;
  transform: translate3d(0, -50%, 0);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: white;
  width: 100%;

  &:after {
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    background: #fff;
    position: absolute;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: -1;
    top: -10px;
    left: calc(50% - 10px);
  }
}

.inner {
  padding: 30px 0;
  background: #fff;
  align-items: start;
  justify-items: start;
}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 7px;
  background: #fff;
  border: 3px solid var(--primary-500);
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btn-primary {
  color: $color_8;
  background-color: $background-color_1;
  border-color: $border-color_5;
  width: 100%;

  .btn-label {
    position: relative;
    left: 10px;
    background: var(--primary-500);
    padding: 4px;
    border-radius: 50%;
  }

  .btn-label-dark {
    position: relative;
    left: 10px;
    background: #81816b;
    padding: 7px 5px 4px 5px;
    border-radius: 50%;
    box-shadow: #000 0px 1px 2px 0px, #000 0px 1px 3px 1px;
  }
}

.p-inputgroup {
  padding: 0 !important;
  border-radius: 10px;
  border: none !important;
  background: white;
  //box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 10px !important;
}

.bg-image {
  width: 100%;
}

.small-image {
  height: 100%;
  width: 100%;
  text-align: left;
}

@media (max-width: 767px) {
  .chat-icon {
    display: block;
    margin-right: 5px;
  }
  .chatlist {
    width: 100%;
  }
  .chatbox {
    width: 100%;
    position: absolute;
    left: 1000px;
    right: 0;
    background: #fff;
    transition: all 0.5s ease;
    border-left: none;
  }
  .showbox {
    left: 0 !important;
    transition: all 0.5s ease;
  }
  .msg-head {
    h3 {
      font-size: 14px;
    }

    p {
      font-size: 12px;
    }

    .flex-shrink-0 {
      img {
        height: 30px;
      }
    }
  }
  .send-box {
    button {
      width: 100%;
    }

    .form-control {
      width: 100%;
    }
  }
  .chat-list {
    h3 {
      font-size: 14px;
    }

    p {
      font-size: 12px;
    }
  }
  .msg-body {
    ul {
      li.sender {
        p {
          font-size: 13px;
          padding: 8px;
          border-bottom-left-radius: 6px;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }

      li.reply {
        p {
          font-size: 13px;
          padding: 8px;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          border-bottom-left-radius: 6px;
        }
      }
    }
  }
}

.small-image {
  height: auto;
  width: 100%;
}