<p-dialog class="bg-light uniprepchat"  [maximizable]="false" [(visible)]="visible" [draggable]="false" [style]="{ width: '50vw' }"
          header="Header">
    <ng-template pTemplate="header" class="p-0 m-0">
        <div class="container-fluid py-2">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex">
                <div class="circle chat-avatar px-1">
                    <img class="small-image" src="../../../uniprep-assets/images/uniboard.png"/>
                </div>
                <div>
                    <h5 class="text-white">UNIPREP</h5>
                    <p class="text-white">Live Chat</p>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div>
                    <h5 (click)="op.toggle($event)" role="button" class="text-white px-4">Report</h5>
                            <p-overlayPanel #op [style]="{ width: '20vw' }">
                                <ng-template pTemplate="content">
                                    <div class="row d-flex w-100">
                                        <div class="flex flex-column gap-2">
                                            <label htmlFor="Issue Type">Issue Type</label>
                                            <p-dropdown (onChange)="issueTypeOnChange($event)" [options]="issueType"
                                                        [style]="{'minWidth':'100%'}"
                                                        id="issueType"
                                                        optionLabel="reportoption_name"
                                                        style="width: 100% !important;"
                                            ></p-dropdown>
                                        </div>
                                        <div class="flex flex-column gap-2">
                                            <label>Add Command</label>
                                            <textarea pInputTextarea id="command" [(ngModel)]="comment"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-login p-2 m-2" (click)="reportSubmit(op)">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-overlayPanel>
                </div>
                <div class="d-flex align-items-center">
                    <h5 class="text-white px-2 fw-normal">Question credits</h5>
                    <div class="circle fw-semibold text-green">{{this.questionLeft + ''}}/3</div>
                </div>
            </div>
        </div>
        </div>
    </ng-template>
    <div class="chat-area">
        <!-- chatbox -->
        <div class="chatbox">
            <div class="modal-dialog-scrollable">
                <div class="modal-content">
                    <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="modal-body">
                        <div class="msg-body">
                            <ul>
                                <div *ngFor="let v of details">
                                    <li class="sender">
                                        <p>{{v.admin_message}}<br>
                                            <span class="time">{{v.updated_at | date:"HH:mm"}}</span>
                                        </p>
                                    </li>
                                    <li class="repaly">
                                        <p>{{v.message}}<br><span
                                                class="time">{{v.created_at | date:"HH:mm"}}</span>
                                        </p>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <form action="" class=" bg-light">
            <div class="p-inputgroup  bg-light">
                <input
                    #message
                    class="border-0 w-full bg-light"
                    pInputText
                    placeholder="Type your message"
                    type="text"
                />
                <div class="">
                    <span>
                      <img (click)="sendMsg(message)" alt="uni_send_icon"
                           class="bg-image text-center" src="../../../uniprep-assets/images/icons/send_icon.svg">
                    </span>
                </div>
            </div>
        </form>
    </ng-template>
</p-dialog>