<p-dialog class="bg-light uniprepchat"  [maximizable]="false" [(visible)]="visible" [draggable]="false" [style]="{ width: '40vw' }" header="Header">
	<ng-template pTemplate="header" class="p-0 m-0 chatbg">
		<div class="container-fluid py-2 px-2">
			<div class="d-flex align-items-center justify-content-between">
				<div class="d-flex d-flex align-items-center">
					<div class="circle me-2 chat-avatar px-1">
						<img class="small-image" src="../../../uniprep-assets/images/uniboard.png" />
					</div>
					<div>
						<h5 class="text-white">UNIPREP</h5>
						<p class="text-white">Live Chat</p>
					</div>
				</div>
				<div class="d-flex align-items-center">
					<div>
						<h5 (click)="op.toggle($event)" role="button" class="text-white px-4">Report</h5>
						<p-popover class="m-0" #op>
							<ng-template pTemplate="content">
								<div class="container-fluid px-0">
									<div class="row report d-flex m-0 w-100">
										<div class="flex flex-column gap-2 mb-2">
											<p class="report-label text-left mb-0">Issue Type</p>
											<p-select class="chatreportbox" (onChange)="issueTypeOnChange($event)" [options]="issueType" [(ngModel)]="selectedIssueType" optionLabel="reportoption_name" placeholder="Select an issue type" class="w-full" />
										</div>
										<div class="flex flex-column gap-2 mb-2">
											<p class="report-label text-left mb-0">Add Comment</p>
											<textarea class="w-100" pInputTextarea id="command" [(ngModel)]="comment"></textarea>
										</div>
										<div class="col-md-12">
											<button pButton  class="btn btn-primary btn-login m-0" (click)="reportSubmit(op)">SUBMIT</button>
										</div>
									</div>
								</div>
							</ng-template>
						</p-popover>
					</div>
					<div class="d-flex align-items-center">
						<h5 class="text-white px-2 fw-normal">Question credits</h5>
						<div class="circle fw-semibold text-green">{{ this.questionLeft + "" }}/3</div>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
	<div class="chat-area">
		<!-- chatbox -->
		<div class="chatbox">
			<div class="modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-body">
						<div class="msg-body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
							<ul>
								<div *ngFor="let v of details">
									<li class="sender" *ngIf="v.admin_message == 1">
										<p>
											{{ v.message }}<br />
											<span class="time">{{ v.created_at | date : "HH:mm" }}</span>
										</p>
									</li>
									<li class="reply" *ngIf="v.admin_message != 1">
										<p>
											{{ v.message }}<br /><span class="time">{{ v.created_at | date : "HH:mm" }}</span>
										</p>
									</li>
								</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template pTemplate="footer">
		<form action="" class="bg-light">
			<p-inputgroup class=" d-flex align-items-center bg-light">
				<input class="border-0 w-100 bg-light" pInputText name="message" id="message" [(ngModel)]="message" placeholder="Type your message" type="text" />
				<div class="" role="button">
					<span>
						<img (click)="sendMsg()" alt="uni_send_icon" class="bg-image text-center" src="../../../uniprep-assets/images/icons/send_icon.svg" />
					</span>
				</div>
			</p-inputgroup>
		</form>
	</ng-template>
</p-dialog>

<p-dialog class="thankyoupopup"  header="Header" [(visible)]="showReportSuccess" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: 'auto' }" [draggable]="false" resizable="false">
	<ng-template pTemplate="header">
		<span class="text-xl font-bold"></span>
	</ng-template>
	<div class="px-3 pb-3 pt-2 bg-white">
		<div class="justify-content-center text-center bg-white">
			<h4 class="text-center mb-2">We have noted your feedback.<br />Our team will get back to you shortly.</h4>
			<h3 class="text-center mb-2 text-green">Thank You</h3>
			<img class="pb-5" src="../../../uniprep-assets/images/icons/thumbsup.webp" width="auto" alt="thumbs up" />
		</div>
	</div>
	<!-- <img src="../../../uniprep-assets/images/icons/report_popup.png"/> -->
</p-dialog>
