:host ::ng-deep .p-dialog 
{
    .p-dialog-content
    {
        border-radius:15px;
    }
}
.answercard {
	background-color: var(--uniprep-primaryop10);
	border: 2px solid var(--uniprep-primary);
	overflow-y: auto;
}