<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body text-center pt-0 h-100">
                <h5 class="select-title mb-3">PRE-Application - {{moduleName}}</h5>
                <div class="row">
                    <div *ngFor="let sub of listQuestion$ | async" class="col-md-3">
                        <div class="row w-100 h-100 m-0 justify-content-center">
                            <div (click)="onSubModuleClick(sub.id)" class="card questioncard {{sub.read == 1 ? 'questionread' : ''}}" role="button">
                                <div class="card-body mb-5">
                                    <div class="row justify-content-center">
                                        <p class="mb-3 circle text-center">{{sub.id}}</p>
                                        <p class="text-start text-capitalize fw-medium questiontext">{{sub.question}}
                                        </p>
                                        <button class="btn w-full btn-primary primary-btn" pButton type="button">Read
                                            Answer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog [(visible)]="isQuestionAnswerVisible" [draggable]="false" [modal]="true" [style]="{ width: '80vw' }"
    class="questionmodal" header="Header">
    <ng-template class="p-3" pTemplate="header">
        <h5 class="select-title text-center mb-3">PRE-Application - {{moduleName}}<i
                class="questiontooltip fa-solid fa-circle-question"></i></h5>
        <span class="text-xl font-bold"></span>
    </ng-template>
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md-12 mb-2">
                <p-breadcrumb [model]="breadCrumb" class="max-w-full"></p-breadcrumb>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-8 d-flex align-items-center justify-content-center text-center">
                <a role="button" (click)="clickPrevious(carousel, $event)"><i
                        class="text-green h4 mx-3 mb-0 fa-solid fa-circle-chevron-left"></i></a>
                <h5 class="mb-0">Question
                    Number {{positionNumber}}</h5>
                <a role="button" (click)="clickNext(carousel, $event)"><i
                        class="text-green mx-3 h4 fa-solid mb-0 fa-circle-chevron-right"></i></a>
            </div>
            <div class="col-md-2 gap-2 d-flex">
                <button (click)="goToHome($event)" class="btn w-100 btn-primary homecardbtn m-0 px-2 py-2">
                    <i class="fa-solid h5 fa-house"></i>
                    <p class="mb-0">Home</p>
                </button>
                <button class="btn w-100 btn-primary homecardbtn m-0 px-2 py-2">
                    <i class="fa-solid h5 fa-file-contract"></i>
                    <p class="mb-0">Report</p>
                </button>
            </div>
        </div>
        <p-carousel #carousel (onPage)="setPage($event)" [circular]="true" [numScroll]="1" [numVisible]="1"
            [page]="selectedQuestion -1" [responsiveOptions]="responsiveOptions" [value]="data" class="answersection">
            <ng-template [ngForOf]="data" let-i="index" let-val ngFor pTemplate="item">
                <div class="row text-center">
                    <div class="col-12">
                        <div class="card answercard">
                            <div class="card-body text-start">
                                <h3>{{val.question}}</h3>
                                <h5 class="fw-medium">{{val.answer}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <ng-template class="p-3" pTemplate="footer">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-md-5">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-2">
                            <!-- <a (click)="clickPreviousVideo(carouselVideo, $event)"><i
                                    class="text-green h4 mx-3 mb-0 fa-solid fa-circle-chevron-left"></i></a> -->
                        </div>
                        <div class="col-md-8">
                            <p-carousel #carouselVideo [circular]="false" [showNavigators]="false"
                                [showIndicators]="false" [numScroll]="1" [numVisible]="2"
                                [responsiveOptions]="responsiveOptions" [value]="videoLinks" *ngIf="videoLinks">
                                <ng-template let-item pTemplate="item">
                                    <div class="border-1 surface-border border-round m-2 text-center ">
                                        <div class="mb-1">
                                            <img src="item.imglink" (click)="onClickRecommendedVideo(videoLinks)"
                                                height="100" width="100" [alt]="item.imglink" class="w-2 shadow-2" />
                                            <!-- <video controls height="100" width="100">
                                            <source src="item.imglink" type="video/mp4">
                                            <source src="item.imglink" type="video/ogg">
                                            Your browser does not support HTML video. 
                                        </video> -->
                                        </div>
                                        <!-- <div class="mb-1">
                                        <p style="font-size:6px">{{item.title}}</p>
                                    </div> -->
                                    </div>
                                </ng-template>
                            </p-carousel>
                        </div>
                        <div class="col-md-2">
                            <!-- <a (click)="clickNextVideo(carouselVideo, $event)"><i
                                    class="text-green mx-3 h4 fa-solid mb-0 fa-circle-chevron-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-2">
                            <!-- <a (click)="clickPreviousRef(carouselRef, $event)"><i
                                    class="text-green h4 mx-3 mb-0 fa-solid fa-circle-chevron-left"></i></a> -->
                        </div>
                        <div class="col-md-8">
                            <p-carousel #carouselRef [circular]="false" [numScroll]="1" [numVisible]="2"
                                [responsiveOptions]="responsiveOptions" [value]="refLink" *ngIf="refLink">
                                <ng-template let-item pTemplate="item">
                                    <div class="border-1 surface-border border-round m-2 text-center ">
                                        <div class="mb-1">
                                            <video controls height="100" width="100">
                                                <source src="item.reflink" type="video/mp4">
                                                <source src="item.reflink" type="video/ogg">
                                                Your browser does not support HTML video.
                                            </video>
                                        </div>
                                        <!-- <div class="mb-1">
                                <p style="font-size:6px">{{item.title}}</p>
                            </div> -->
                                    </div>
                                </ng-template>
                            </p-carousel>
                        </div>
                        <div class="col-md-2">
                            <!-- <a (click)="clickNextRef(carouselRef, $event)"><i
                                    class="text-green mx-3 h4 fa-solid mb-0 fa-circle-chevron-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <div (click)="onClickAsk()" class="col-md-2 p-3 justify-content-center align-items-center">
                    <button (click)="onClickAsk()" class="btn w-100 btn-primary homecardbtn m-0 px-2 py-2">
                        <p class="mb-0">Click here to ask personalised questions</p>
                        <i class="pi pi-comment"></i>
                    </button>
                    <!-- <button type="button"
                        class="bbtn btn btn-tertiary d-flex align-items-center justify-content-center w-100"
                        (click)="onClickRecommendedLinks()">
                        <p class="my-2">Recommended Links</p> <i class="h5 mx-2 mb-0 fa-solid fa-link"></i>
                    </button> -->
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="isRecommendedVideoVisible" [modal]="true" [style]="{ width: '30vw' }" header="Header">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Recommended Videos</span>
    </ng-template>
    <div class="container-fluid">
        <div class="row">
            <ng-template *ngFor="let link of videoLinks">
                <div class="col">
                    <img src="link.imglink" height="100" width="100" [alt]="link.imglink" class="w-2 shadow-2" />
                </div>
            </ng-template>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="isRecommendedLinksVisible" [modal]="true" [style]="{ width: '30vw' }" header="Header">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Recommended Links</span>
    </ng-template>
    <div class="container-fluid">
        <div class="row">
            <ng-template *ngFor="let link of refLink">
                <div class="col">
                    <img src="link.reflink" height="100" width="100" [alt]="link.reflink" class="w-2 shadow-2" />
                </div>
            </ng-template>
        </div>

    </div>
</p-dialog>