<div class="card readingcard">
	<div class="card-body">
		<h3 class="mb-0">UNIPREP Refund Policy</h3>
		<p>Thank you for choosing UNIPREP, hosted by UNIABROAD. We value your trust and are committed to providing a transparent refund policy to ensure a satisfactory user experience.</p>
		<br />
		<h4>1. Free Registration -</h4>
		<ul>
			<li>Users who opt for the free registration with a free trial period will not be charged during this period.</li>
			<li>No cancellation fees will be applied under any circumstances.</li>
			<li>If users decide not to continue after the trial, no charges will be incurred.</li>
		</ul>
		<h4>2. Paid Subscription Plans:</h4>
		<ul>
			<li>UNIPREP offers various subscription plans based on validity and the number of countries selected for information access (up to 13 countries).</li>
			<li>Regardless of the subscription plan chosen, there will be no cancellation fees imposed.</li>
			<li>UNIPREP does not provide refunds for any subscription plans once they are activated.</li>
			<li>It's essential to note that when you upgrade your subscription, the previous subscription is automatically discontinued, and the new subscription begins immediately. No refund will be issued for the previous plan</li>
		</ul>
		<h4>Cancellation Process:</h4>
		<ul>
			<li>Users can cancel their subscription at any time without incurring any charges.</li>
			<li>To cancel, please contact the UNIPREP team at <a href="support@uniprep.ai">support&#64;uniprep.ai</a> with your request.</li>
		</ul>
		<h4>Contact Information:</h4>
		<ul>
			<li>For more information or assistance, feel free to reach out to the UNIPREP team at <a href="support@uniprep.ai ">support&#64;uniprep.ai </a></li>
		</ul>
		<br />
		<h4 class="mb-0">Note:</h4>
		<ul>
			<li>UNIPREP reserves the right to modify the refund policy at its discretion.</li>
			<li>Users are encouraged to review the terms regularly for any updates. Thank you for being a part of UNIPREP! We are here to support your educational journey.</li>
		</ul>
		<br />
	</div>
</div>
