<div class="container-fluid custom_container">
    <div class="editcard">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cardedit">
                        <div class="card-body">
                            <div class="row">
                                <p class="text-left mt-3">USER DETAILS</p>
                                <div class="col-sm-2">
                                    <img class="img" src="uniprep-assets/images/img2.jpg"/>
                                </div>
                                <div class="col-sm-3">
                                    <div class="titledis">
                                        <strong>NAOMI LAWRENCE</strong><br/>
                                        <label>nikunj&#64;gmail.com</label>
                                    </div>

                                </div>
                                <div class="col-sm-3">
                                    <div class="titledis1">
                                        <button pButton  class="btn btn-sm btncolor" type="button">UPDATE</button>

                                        <button pButton  class="btn btn-outline-dark btn-sm" type="button">DELETE</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="tablecard">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="mb-3">
                                        <label class="form-label label">USERNAME</label>
                                        <input class="form-control" placeholder="USERNAME" type="email"/>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="mb-3">
                                        <label class="form-label label">FULL NAME</label>
                                        <input class="form-control" placeholder="FULL NAME" type="email"/>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="mb-3">
                                        <label class="form-label label">Email</label>
                                        <input
                                                Id=""
                                                class="form-control"
                                                placeholder="Email"
                                                type="email"
                                        />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="mb-3">
                                        <label class="form-label label">STATUS</label>
                                        <select
                                                aria-label=".form-select-sm example"
                                                class="form-select form-select-sm"
                                        >
                                            <option selected></option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="mb-3">
                                        <label class="form-label label">USER ROLE</label>
                                        <select
                                                aria-label=".form-select-sm example"
                                                class="form-select form-select-sm"
                                        >
                                            <option selected>Open this select menu</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="mb-3">
                                        <label class="form-label label">COUNTRY</label>
                                        <input
                                                Id=""
                                                class="form-control"
                                                placeholder="COUNTRY"
                                                type="email"
                                        />
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr class="borderline"/>
        <div class="row">
            <p class="text-left1">PROFILE</p>
            <div class="col-12 mt-3">
                <table class="table">
                    <thead>
                    <tr style="background-color: var(--primary-500)6e;">
                        <th scope="col">MODULE</th>
                        <th scope="col">READ</th>
                        <th scope="col">WRITE</th>
                        <th scope="col">CREATE</th>
                        <th scope="col">CREATE</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ADMIN</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>STAFF</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>AUTHOR</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>CONTRIBUTER</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>USER</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <div class="row">
                        <div class="col-4">
                            <button pButton  class="btn btn-sm btncolor2" type="button">SAVE CHANGES</button>
                        </div>
                        <div class="col-3">
                            <button pButton  class="btn btn-outline-dark btn-sm" type="button">RESET</button>
                        </div>

                    </div>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
  

