.editcard {
  border: 1px solid var(--p-primary-500);
  height: 100%;
  width: 100%;
  border-radius: 0.35rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--p-neutral-50);
  background-clip: border-box;
  border-radius: 0.35rem;
}

.img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.titledis {
  /* margin: 10px; */
  margin-left: -36px;
  margin-top: 20px;

}

.titledis1 {
  margin-left: -75px;
  margin-top: 25px

}

hr.borderline {
  border-top: 5px solid var(--p-primary-500);
  background-color: var(--p-primary-500);
  width: 97%;
  margin: 10px
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--p-neutral-50);
  background-clip: border-box;
  /* border: 1px solid rgba(0,0,0,.125); */
  /* border-radius: 0.25rem; */
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--p-neutral-50);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.cardedit {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--p-neutral-50);
  border: none;

}

.label {
  color: var(--p-primary-500);
}

.btncolor {
  background-color: var(--p-primary-500);
  color: white;
  margin-right: 0px;
  border: none;
  margin-right: 10px;
}

.btncolor2 {
  background-color: var(--p-primary-500);
  color: white;
  margin-right: 0px;
  border: none;
  margin-right: 10px;
  float: right;
}

.text-left {
  float: left;
  font-weight: 700;
  font-weight: bold;
}

.text-left1 {
  float: right;
  font-weight: 700;
  font-weight: bold;
  margin: 10px;
}

tfoot {
  border: none;
}