<div class="card readingcard h-100">
    <div class="card-header border-0 bg-transparent">
        <div class="row">
            <div class="col-md-12 d-flex gap-2 text-center">
                <div class="select-title d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="mb-0">Docs Wallet</h5>
                    </div>
                    <div>
                        <button pButton (click)="openVideoPopup()" class="how-it-works-button">How to use?<i
                                class="fa-solid fa-play d-md-block d-none"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="d-md-flex justify-content-between align-items-center mb-2">
                <div><span class="fs-5 fw-bold">Storage </span> <span class="uniprep-primary"> 10MB of 250MB used</span>
                </div>
                <p-button (click)="fileUploadModalVisible = true" [rounded]="true">
                    <i class="fa-solid fa-plus"></i><span
                        class="d-md-block d-none">&nbsp;Upload Files</span>
                </p-button>
              
            </div>
            <p-progressBar [value]="30" [showValue]="false" styleClass="custom-progress p-0"
                [style]="{ height: '5px', color: 'red' }"></p-progressBar>
        </div>
    </div>
    <div class="card-body flex-fill overflow-y-auto">
        <div class="row docs-section">
            <div class="col-md-3 col-lg-3 col-12">
                <p-panel header="My Folder" [toggleable]="true">
                    <ul>
                        <li class="d-flex justify-content-between align-items-center p-3 folder-sec" role="button"
                            [ngClass]="{'active': getActiveClassStatus('All Files')}"
                            (click)="setSwitchSection('All Files')">
                            <div class="d-flex gap-3 align-items-center"><i class="fa-light fa-folder-open fs-2"></i>
                                All Files
                            </div>
                            <i class="pi pi-ellipsis-h"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center p-3 folder-sec mt-3" role="button"
                            [ngClass]="{'active': getActiveClassStatus('Certificates')}"
                            (click)="setSwitchSection('Certificates')">
                            <div class="d-flex gap-3 align-items-center"><i
                                    class="fa-light fa-folder-grid fs-2"></i>Certificates
                            </div>
                            <i class="pi pi-ellipsis-h"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center p-3 folder-sec mt-3" role="button"
                            [ngClass]="{'active': getActiveClassStatus('Saved')}" (click)="setSwitchSection('Saved')">
                            <div class="d-flex gap-3 align-items-center"><i
                                    class="fa-light fa-folder-bookmark fs-2"></i>Saved
                            </div>
                            <i class="pi pi-ellipsis-h"></i>
                        </li>
                    </ul>
                </p-panel>
                <br />
                <p-panel header="Shared Folder" [toggleable]="true">
                    <ul>
                        <li class="d-flex justify-content-between align-items-center p-3 folder-sec mt-2" role="button"
                            [ngClass]="{'active': getActiveClassStatus('Shared -> Certificates')}"
                            (click)="setSwitchSection('Shared->Certificates')">
                            <div class="d-flex gap-3 align-items-center"><i
                                    class="fa-light fa-folder-grid fs-2"></i>Certificates
                            </div>
                            <i class="pi pi-ellipsis-h"></i>
                        </li>
                    </ul>
                </p-panel>
            </div>
            <div class="col-md-9 col-lg-9 col-12">
                <div class="card h-100 bg-white">
                    <div class="card-header bg-transparent d-md-flex justify-content-between align-items-center">
                        <div class="fs-5 fw-bold">{{ activeSectionCard }}</div>
                        <div>
                            Sort By <p-select [options]="filterDropdown" optionLabel="name" placeholder="Select"
                                appendTo="body" [style]="{width:'180px'}" />
                        </div>
                    </div>
                    <div class="card-body overflow-y-auto">
                        <div class="mb-2">
                            <p-iconfield iconPosition="left" class="ml-auto">
                                <p-inputicon>
                                    <i class="pi pi-search"></i>
                                </p-inputicon>
                                <input pInputText type="text" placeholder="Search keyword" class="w-100" />
                            </p-iconfield>
                        </div>
                        <div class="d-flex justify-content-between align-items-center p-3 folder-sec2 mb-2">
                            <div class="d-flex gap-3 align-items-center">
                                <p-checkbox [binary]="true" />
                                <i class="fa-light fa-file-doc fs-2"></i>
                                <div>
                                    <div>Project.docx</div>
                                    <div class="text-muted">Jan 15, 2025 - 4.30PM 625kb</div>
                                </div>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <i class="pi pi-bookmark cursor-pointer"></i>
                                <i class="pi pi-ellipsis-h cursor-pointer" (click)="op.toggle($event)"></i>
                                <p-popover #op>
                                    <div class="">
                                        <div class="mb-2 cursor-pointer"><i class="fa-light fa-share me-2"></i> Share
                                        </div>
                                        <div class="mb-2 cursor-pointer"><i class="fa-light fa-link me-2"></i> Get
                                            Sharable Link</div>
                                        <hr>
                                        <div class="mb-2 cursor-pointer"><i class="fa-light fa-download me-2"></i>
                                            Download</div>
                                        <div class="mb-2 cursor-pointer text-primary"><i
                                                class="fa-light fa-pen-to-square me-2"></i> Rename</div>
                                        <div class="mb-2 cursor-pointer text-danger"><i
                                                class="fa-light fa-trash me-2"></i> Delete</div>
                                    </div>
                                </p-popover>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="File Upload" [modal]="true" [(visible)]="fileUploadModalVisible" [style]="{ width: '30%' }">
    <div role="button" class="upload-box py-2 px-3 d-flex align-items-center justify-content-between position-relative"
        (click)="fileUpload.click()">
        <div class="d-flex justify-content-start align-items-center gap-3">
            <span><i class="fa-regular fa-upload uniprep-primary fa-2xl"></i></span>
            <div class="fw-bold">
                <!-- {{ "test.pdf" }} -->
            </div>
        </div>
        <input type="file" style="visibility: hidden" accept="application/pdf"
            (change)="uploadFile($event)" #fileUpload />
       
    </div>

    <div class="flex justify-content-end gap-2 mt-4">
        <p-button label="Cancel" severity="secondary" (click)="fileUploadModalVisible = false" />
        <p-button label="Save" (click)="fileUploadModalVisible = false" />
    </div>
</p-dialog>