.launch-soon-tag {
	border-top-right-radius: 10px;
}
.card.disabled {
	opacity: 0.6; /* Makes the card appear grayed out */
	cursor: not-allowed; /* Shows a disabled cursor */
}
.icon-container {
	max-width: 75px;
	border-radius: 100%;
	margin: 0;
}

.feature-icon {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card-border {
	border: 1px solid var(--uniprep-primary);
	border-radius: 10px;
	background-color: white;
	&.disabled {
		opacity: 0.6; /* Makes the card appear grayed out */
		cursor: not-allowed; /* Shows a disabled cursor */
	}
}

.employercard {
	&:hover {
		background-color: var(--uniprep-primaryop10);
		border: 1px solid var(--uniprep-primary);
		.btn-outline-primary {
			background-color: var(--uniprep-primary) !important;
      		color: white !important;
		}
	}
}
