.launch-soon-tag {
	border-top-right-radius: 10px;
}
.card.disabled {
	opacity: 0.6; /* Makes the card appear grayed out */
	cursor: not-allowed; /* Shows a disabled cursor */
}
.icon-container {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	padding: 20px;
	margin: 0;
	background-color: var(--uniprep-primaryop30);
}

.feature-icon {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.employercard {
	&:hover {
		background-color: var(--uniprep-primaryop10);
		border: 1px solid var(--uniprep-primary);
		.btn-outline-primary {
			background-color: var(--uniprep-primary) !important;
      color: white !important;
		}
	}
}
