.application-text-small {
  color: black;
  font-size: 0.8rem;
  padding-left: 10px;
  padding-right: 10px;
}

.application-border {
  border: 2px solid var(--primary-500);
  border-radius: 5%;
  font-size: 0.8rem;
}

.unselected-border {
  border: 2px solid var(--primary-600);
  border-radius: 5px;
  font-size: 0.8rem;
}

.selected-border {
  background-color: var(--primary-500);
  border: 0;
}


.application-text {
  font-size: 0.8rem;
}

.questionmodal {
  p-dialog-header-icons
  {
    position: absolute;
    right:0.5rem;
    top:1rem;
  }
  .bbtn {
    border-radius: 10px 10px 0px 0px !important;
    border: none;
  }
}

//.questionread {
//  filter: grayscale(1);
//}
.questionread {
  color: gray;
  background: lightgray;
}
.readButton{
  filter: grayscale(1);
}
.questioncard {
  border: 3px solid var(--primary-600);
  width: 100%;
  margin: 8px 0px;

  .primary-btn {
    border: 2px solid var(--primary-500);
  }

  &:focus {
    background-color: var(--primary-50);
    border: 3px solid var(--primary-500);

    .primary-btn {
      background-color: var(--primary-600);
      border: 2px solid var(--primary-500);
    }
  }

  &:hover {
    background-color: var(--primary-50);
    border: 3px solid var(--primary-500);

    .primary-btn {
      background-color: var(--primary-600);
      border: 2px solid var(--primary-500);
    }
  }

  .questiontext {
    //min-height: -webkit-fill-available;
    height:auto;
  }

}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 7px;
  background: #fff;
  border: 5px solid var(--primary-500);
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.card-body {
  cursor: pointer;
}

.card-box {
  height: 300px;
  overflow: scroll;
}

:host ::ng-deep p-carousel {
  //On later realease of PrimeNG, this can be done programmatically with [showIndicators | showNavigators]="false"
  .p-carousel-indicators {
    display: none !important;
  }

  .p-carousel-next, .p-carousel-prev {
    display: none !important;
  }
}

.tiny-btn {
  font-size: 10px
}


.answercard {
  background-color: transparent;
  border: none;
  // max-height: 50vh;
  overflow-y: auto;
  .readingheight
  {
    max-height:40vh;
    overflow-y:auto;
    min-height: 35vh;
  }
}

.carousel-container {
  /* Make use of flexbox to occupy available space */
  display: flex;
  flex-direction: column;
  height: 100%; /* Occupy full height of the dialog */
}

.custom-carousel {
  /* Allow the carousel to take up all available space */
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
}

:host ::ng-deep .p-carousel-item {
  max-height: 0;
}

:host ::ng-deep .p-carousel-item-active {
  max-height: 100% !important;
}

.card-color {
  background: var(--primary-500) !important;
  width: 100%;
  height: 100%;

}
.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 768px) {
  #ref-links-container {
      overflow-x: auto;
  }
  #ref-links-container a {
      flex: 0 0 auto;
      margin-bottom: 0.5rem;
}
}

.desktop{
  display: block !important;
}

.mobile{
  display: none;
}


.primary-btn {
  border-radius: 25px !important;
}

.readButton {
  border-radius: 25px !important;
}

::ng-deep.p-button.p-button-icon-only.p-button-rounded{
  background-color: #3F4C83 !important;
  color: white !important;
}

.btn-warning {
  background-color: var(--secondary-500);
  color: white;
}

.gap-2 {
  flex-wrap: wrap !important;
}

@media screen and (max-width: 480px) {
  .gap-2 {
      flex-wrap: nowrap !important;
    }

  .desktop {
    display: none !important;
  }
    .mobile {
      display: block;
    }

    .desktop-enable{
      display: none;
    }

    :host ::ng-deep .p-breadcrumb {
      font-size: 10px ;
    }

    .fa-file-contract{
      font-size: 10px;
    }
    .fa-house{
      font-size: 10px;
    }
}

.badge {
  border-radius: 25px !important;
}

.scrollable-container {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  max-width: 500px; 
}

.scrollable-container-ref {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  max-width: 80%; 
}

.scroll-content {
  display: flex;
}

.scroll-content-ref {
  display: flex;
}

.scroll-button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #b4ceec;
  cursor: pointer;
  width: 25px !important;
  height: 25px !important;
}

.scroll-button-warning{
  border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #ffd5b0;
    cursor: pointer;
    width: 25px !important;
    height: 25px !important;
    .fa-chevron-left {
        color: #f0780e;
      }
    
      .fa-chevron-right {
        color: #f0780e;
      }
}

.fa-chevron-left{
  color: #26374b;
}

.fa-chevron-right{
  color: #26374b;
}

.videolinkbutton {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400 !important;
}

.reflinkbutton {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400 !important;
}
.modal {
	z-index: 9999;
	.modalbuttons {
		position: absolute;
		top: -1rem;
		right: -1rem;
	}
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive::before {
	display: block;
	content: "";
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.embed-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: 0;
}