.sop-border:after {
  width: 150px !important;
}
.sop-border-thin {
  &:after {
    content: "";
    width: 200px;
    height: 2px;
    display: block;
    margin-top: 20px !important;
    background-color: var(--primary-500);
    border-radius: 5px;
  }
}
.card {
  display: block;
}
.scardStart {
  padding: 5px 20px;
  background: var(--primary-500);
  color: white;
  text-align: center;
  border-radius: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: -15px;
  z-index: 2;
  position: relative;
  &:hover {
    background: #001631 0% 0% no-repeat padding-box;
    cursor: pointer;
  }
}
.vertical-center {
  vertical-align: middle;
}
.scardFeatures {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &.center {
    justify-content: center;
  }
  .scardFeature {
    display: flex;
    gap: 5px;
    .pi {
      background: var(--primary-500);
      color: white;
      text-align: center;
      line-height: 22px;
      width: 22px !important;height: 22px !important;
      font-size: 10px;
      border-radius: 50%;
    }
  }
}
.card-footer {
  background: white;
}
.input-group {
  border: 1px solid var(--primary-500);
  border-radius: 3px;
  input {
    outline: none !important;
    box-shadow: none !important;
  }
  flex-wrap: nowrap;
  .input-group-text {
    background: var(--primary-500);
    color: white;
    cursor: pointer;
  }
}
.contnr {
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border: 1px solid var(--primary-500);
  border-radius: 5px;
  padding: 15px;
}
.text-red {
  color: #FF0000;
  font-size: .8rem;
}