.card-inside {
  border: 1px solid var(--secondary-500);
  /* Light orange border */
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--secondary-50);
    border: 1px solid var(--secondary-500);
  }
}

.share-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.btn-primary {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.btn-outline-primary {
  color: #3f51b5;
  border-color: #3f51b5;

  &:hover {
    background-color: #3f51b5;
    color: white;
  }
}

.text-warning {
  color: #ff9800 !important;
}

.text-primary {
  color: #3f51b5 !important;
}

.text-success {
  color: #4caf50 !important;
}

.text-danger {
  color: #f44336 !important;
}

.text-secondary {
  color: #9e9e9e !important;
}

.fw-medium {
  font-weight: 500;
}

:host ::ng-deep {
  .p-dialog-header {
    padding: 1rem 1.5rem !important;
    border-bottom: 1px solid #dee2e6;
  }

  .p-dialog-content {
    padding: 0 !important;
  }

  .p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
  }

  .p-dialog-footer {
    border-top: 1px solid #dee2e6;
    padding: 1rem 1.5rem;
  }

  .p-multiselect,
  .p-dropdown {
    width: 100%;
  }

  .dialog-footer {
    border-top: 1px solid #dee2e6;
  }

  .input-group-prepend .p-dropdown {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-group-text {
    padding: 0px;
  }



  .input-group .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  // Styling for the multiselect fields
  .p-multiselect-label-container {
    height: 38px;
  }
}

.form-label {
  margin-bottom: 0.5rem;
  display: block;
}

label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.module-button {
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  color: var(--primary-500);

  &:hover,
  &:active,
  &:focus {
    color: white;
    background-color: var(--primary-500);
  }
}