/* job-listing.component.scss */
.card-inside {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0; /* Remove extra margin */
    padding: 10px; /* Keep padding inside */
    text-align: left
  }
  
  .card-header-inside {
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
  }
  
  .share-button {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .btn-primary {
    background-color: #3f51b5;
    border-color: #3f51b5;
  }
  
  .btn-outline-primary {
    color: #3f51b5;
    border-color: #3f51b5;
    
    &:hover {
      background-color: #3f51b5;
      color: white;
    }
  }
  
  .text-warning {
    color: #ff9800 !important;
  }
  
  .text-primary {
    color: #3f51b5 !important;
  }
  
  .text-success {
    color: #4caf50 !important;
  }
  
  .text-danger {
    color: #f44336 !important;
  }
  
  .text-secondary {
    color: #9e9e9e !important;
  }
  
  .fw-medium {
    font-weight: 500;
  }

  :host ::ng-deep .p-dropdown {
    width: 100%;
  }
  
  :host ::ng-deep .p-inputtext {
    width: 100%;
  }
  
  :host ::ng-deep .filter-modal .p-dialog-header {
    border-bottom: 1px solid #e9ecef;
    padding: 1rem !important;
  }
  
  :host ::ng-deep .filter-modal .p-dialog-content {
    padding: 1.5rem;
  }
  
  :host ::ng-deep .filter-modal .p-dialog-footer {
    border-top: 1px solid #e9ecef;
    padding: 1.5rem;
  }
  
  .form-label {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 12px;
  }
  
  button.p-button-primary {
    background-color: var(--uniprep-primary);  
  color: white;}
  
  button.p-button-secondary {
    color: #3f51b5;
    border-color:var(--uniprep-primary);;
  }

  .module-button {
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    color: var(--uniprep-primary);
    &:hover, &:active, &:focus {
      color: white;
      background-color: var(--uniprep-primary);
    }
  }