<div class="card readingcard h-100">
  <div class="card-header border-0 bg-transparent">
    <div class="row">
      <div class="col-md-12 d-flex gap-2 text-center">
        <div
          class="backIcon d-md-flex d-none"
          role="button"
          routerLink="/pages/talent-connect/list">
          <span class="fa-solid fa-chevron-left"></span>
        </div>
        <div
          class="select-title d-flex justify-content-between align-items-center"
        >
          <div>
            <h5
              class="mb-0"
              tooltipPosition="top"
              pTooltip="Questions related to the application process are answered"
            >
              Easy Apply<i
                class="questiontooltip fa-solid fa-circle-question"
              ></i>
            </h5>
          </div>
          <div>
            <button class="how-it-works-button" (click)="openVideoPopup('')">
              How it works?<i class="fa-solid fa-play d-md-block d-none"></i>
            </button>
          </div>
        </div>
        <button
          type="button"
          title="Close Popup"
          class="border-primary bg-primary text-white rounded-3 px-2 mt-2"
          (click)="displayModal = true"
        >
          <i class="fa-solid fa-caret-down"></i>&nbsp;&nbsp;Filter
        </button>
      </div>
      <!-- <div class="col-md-3 mt-2 text-end desktop justify-content-end d-none d-md-flex"></div> -->
    </div>
  </div>
  <div class="card-body text-center flex-fill overflow-y-auto">
    <div class="d-flex flex-fill align-items-center">
        <div class="d-flex flex-fill gap-2 justify-content-center align-items-center">
          <button
            type="button"
            class="p-2 px-4 mb-4 mt-3 rounded-lg"
            style="background-color: var(--uniprep-primary); color: white; border-radius: 8px;"
            routerLink="/pages/talent-connect/company-connect">
            Job Search
          </button>
          <button
            type="button"
            class="p-2 px-4 mb-4 mt-3 module-button" style="border-radius: 8px;"
            routerLink="/pages/talent-connect/job-tracker">
            Job Tracker
          </button>
        </div>
      <div class="text-end ">
        <span class="fw-bold border border-success px-2 py-1 rounded-pill me-1">Total Job : {{ totalJobs }}</span>
        <span class="fw-bold border border-danger px-2 py-1 rounded-pill ">Total Vacanies : {{ totalJobs }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4" *ngFor="let job of jobListings" [routerLink]="['/pages/talent-connect/easy-apply', job.id]">
        <div class="card-inside h-100 d-flex flex-column" style="border-radius: 10px; margin-bottom: 20px; transition: transform 0.3s; border: 1px solid gray;">
          <!-- Job Header -->
          <div class="card-body bg-white card-header-inside">
            <div class="row align-items-center w-100">
              <div class="col-auto">
                <img [src]="job.company_logo" alt="Company Logo" width="100" height="80" class="rounded"/>
              </div>
              <div class="col">
                <h5 class="mb-1">{{ job?.position }}</h5>
                <p class="mb-0 text-orange">
                  {{ job.company_name }}
                  <span class="ms-1 text-primary" *ngIf="job.isVerified">
                    <i class="fas fa-check-circle"></i>
                  </span>
                </p>
                <p class="mb-0 text-warning" style="font-size: 10px">
                  You match {{ job.matchedSkills }} out of {{ job.totalSkills }} skill requirements for this job
                </p>
              </div>
              <div class="col-auto">
                <button class="btn btn-link text-warning p-0">
                  <i class="fas fa-share-alt"></i>
                </button>
              </div>
            </div>
          </div>
        
          <div class="m-2 border border-bottom-100"></div>
        
          <!-- Job Details (Make this section flexible) -->
          <div class="card-body flex-grow-1">
            <div class="row">
              <div class="col-md-6">
                <div class="d-flex mb-3 align-items-center">
                  <div class="me-2 text-success">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div>
                    <p class="text-muted mb-0 small">Work Location</p>
                    <p class="mb-0 fw-medium">{{ job.worklocation }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex mb-3 align-items-center">
                  <div class="me-2 text-primary">
                    <i class="fas fa-calendar-alt"></i>
                  </div>
                  <div>
                    <p class="text-muted mb-0 small">Total Applied</p>
                    <p class="mb-0 fw-medium">{{ job.total_applied }}</p>
                  </div>
                </div>
              </div>
        
              <div class="col-md-6">
                <div class="d-flex mb-3 align-items-center">
                  <div class="me-2 text-primary">
                    <i class="fas fa-calendar-alt"></i>
                  </div>
                  <div>
                    <p class="text-muted mb-0 small">Start Date</p>
                    <p class="mb-0 fw-medium">{{ job.start_date }}</p>
                  </div>
                </div>
              </div>
        
              <div class="col-md-6">
                <div class="d-flex mb-3 align-items-center">
                  <div class="me-2 text-primary">
                    <i class="fas fa-calendar-alt"></i>
                  </div>
                  <div>
                    <p class="text-muted mb-0 small">Due Date</p>
                    <p class="mb-0 fw-medium">{{ job.due_date }}</p>
                  </div>
                </div>
              </div>
        
              <div class="col-md-6">
                <div class="d-flex mb-3 align-items-center">
                  <div class="me-2 text-warning">
                    <i class="fas fa-building"></i>
                  </div>
                  <div>
                    <p class="text-muted mb-0 small">Work Mode</p>
                    <p class="mb-0 fw-medium">{{ job.work_mode }}</p>
                  </div>
                </div>
              </div>
        
              <div class="col-md-6">
                <div class="d-flex mb-3 align-items-center">
                  <div class="me-2 text-danger">
                    <i class="fas fa-briefcase"></i>
                  </div>
                  <div>
                    <p class="text-muted mb-0 small">Employment Type</p>
                    <p class="mb-0 fw-medium">{{ job.employment_type }}</p>
                  </div>
                </div>
              </div>
        
              <div class="col-md-6">
                <div class="d-flex mb-3 align-items-center">
                  <div class="me-2 text-success">
                    <i class="fas fa-dollar-sign"></i>
                  </div>
                  <div>
                    <p class="text-muted mb-0 small">Salary Range</p>
                    <p class="mb-0 fw-medium">{{ job.salary_offer }}</p>
                  </div>
                </div>
              </div>
        
              <div class="col-md-6">
                <div class="d-flex mb-3 align-items-center">
                  <div class="me-2 text-success">
                    <i class="fas fa-users"></i>
                  </div>
                  <div>
                    <p class="text-muted mb-0 small">Company Size</p>
                    <p class="mb-0 fw-medium">{{ job.companySize }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <!-- Footer (Sticks to the bottom) -->
          <div class="card-footer bg-white text-end border-top-0 mt-auto">
            <small class="text-muted">Posted On: {{ job.created_at | date: 'dd-MM-yyyy' }}</small>
          </div>
        </div>
        
  </div>
   </div>
   </div>
<div class="card-footer border-0 bg-transparent">
  <div class="row d-flex align-items-center justify-content-between">
   <p-paginator
     *ngIf="totalJobs != 0"
     [rows]="pageSize"
     [totalRecords]="totalJobs"
     [first]="(page - 1) * pageSize"
     (onPageChange)="pageChange($event)"
     [rowsPerPageOptions]="[50, 100, 300, 500, 1000]"
     [disabled]="totalJobs <= pageSize"
   >
   </p-paginator>
  </div>
</div>
<div>
  <p-dialog 
    header="Filter" 
    [(visible)]="displayModal" 
    [modal]="true" 
    [style]="{width: '80%'}" 
    [baseZIndex]="10000"
    [draggable]="false" 
    [resizable]="false"
    styleClass="container">
    
    <form [formGroup]="filterForm" class="p-3">
      <div class="mb-4">
        <label class="form-label fw-bold">Search</label>
        <div class="p-inputgroup">
          <input 
            type="text" 
            pInputText 
            placeholder="Search by Keyword" 
            class="form-control">
        </div>
      </div>
      
      <div class="row mb-4">
        <div class="col-md-4">
          <label class="form-label fw-bold">Position Title</label>
          <div class="p-inputgroup">
            <input 
              type="text" 
              pInputText 
              formControlName="position" 
              placeholder="Enter position title" 
              class="form-control">
          </div>
        </div>
        
        <div class="col-md-4">
          <label class="form-label fw-bold">Industry <span class="text-danger">(Multi select)</span></label>
          <p-multiSelect 
            [options]="industries" 
            formControlName="industry" 
            defaultLabel="Select industry" 
            optionLabel="industry_name" 
            optionValue="id"
            display="chip"
            class="w-100">
          </p-multiSelect>
        </div>
        
        <div class="col-md-4">
          <label class="form-label fw-bold">Work Location <span class="text-danger">(Multi select)</span></label>
          <p-multiSelect 
            [options]="locations" 
            formControlName="worklocation" 
            defaultLabel="Select work location" 
            optionLabel="work_location" 
            optionValue="id"
            display="chip"
            class="w-100">
          </p-multiSelect>
        </div>
      </div>
      
      <div class="row mb-4">
        <div class="col-md-4">
          <label class="form-label fw-bold">Work mode <span class="text-danger">(Multi select)</span></label>
          <p-multiSelect 
            [options]="workModes" 
            formControlName="work_mode" 
            defaultLabel="Select work type" 
            optionLabel="label" 
            display="chip"
            class="w-100">
          </p-multiSelect>
        </div>
        
        <div class="col-md-4">
          <label class="form-label fw-bold">Employment Type <span class="text-danger">(Multi select)</span></label>
          <p-multiSelect 
            [options]="employmentTypes" 
            formControlName="employment_type" 
            defaultLabel="Select employment type" 
            optionLabel="label" 
            display="chip"
            class="w-100">
          </p-multiSelect>
        </div>
        
        <div class="col-md-4">
          <label class="form-label fw-bold">Currency display for salaries</label>
          <p-select
            [options]="currencies" 
            formControlName="currency" 
            optionLabel="currency_code" 
            optionId="id"
            [filter]="true" 
            filterBy="label" 
            class="w-100">
          </p-select>
        </div>
      </div>
      
      <div class="row mb-4">
        <div class="col-md-4">
          <label class="form-label fw-bold">Salary offered</label>
          <div class="d-flex w-100 gap-2">
            <p-select [options]="currencies"
            styleClass="p-select p-component"
            optionLabel="currency_code" optionValue="id"
            placeholder="Select"
            formControlName="currency"
            [style]="{ width: '80px' }">
           </p-select>
            <div class="flex-grow-1 me-2">
                <p-inputNumber id="salary"
                    placeholder="Enter your salary/month"
                    styleClass="p-inputtext w-100" [showButtons]="false"
                    class="w-100"
                    formControlName="salary"></p-inputNumber>
            </div>
        </div>
        </div>
        
        <div class="col-md-4">
          <label class="form-label fw-bold">Experience Level <span class="text-danger">(Multi select)</span></label>
          <p-multiSelect 
            [options]="experienceLevels" 
            formControlName="experienceLevel" 
            defaultLabel="Select experience level" 
            optionLabel="label" 
            display="chip"
            class="w-100">
          </p-multiSelect>
        </div>
        <div class="col-md-4 h-full mt-auto">
          <button 
          pButton 
          label="Apply Filter" 
          (click)="applyFilter()" 
          class="btn-primary w-100">
        </button>
        </div>
      </div>
    </form>
    
    <div class="dialog-footer p-3 d-flex justify-content-center">
      <button 
        pButton 
        label="Reset Filter" 
        (click)="resetFilter()" 
        class="p-button-text text-primary">
      </button>
    </div>
  </p-dialog>
</div>
