.graphs{
    display: flex;
    width:25px;
    justify-content: space-between;
    .graph-container {
        height: 60px;
        width: 12px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        .graph-border
        {
            border-radius:4px;
        }
        span{
            width:12px;
        }
    }
}

.colicon
{
    height:40px;
    width:40px;
}

.flagIconDiv{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    .flagicon
    {
        width:30px;
        height:30px;
        border-radius: 100px;
        overflow: hidden;
        img
        {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}