.costofliving {
    background-color: var(--uniprep-primary);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.outline-card,
.pi-times {
    border: 2px solid var(--uniprep-primary);
    border-radius: 10px;
    padding: 10px;
}

@media (min-width: 575.98px) {

    .headerCard {
        height: 65px;

        .card {
            height: 100%;
        }
    }
    

}
@media (max-width: 575.98px) {
    .gap-two{
        gap: 0.5rem;
    }
}


.count {
    height: 30px;
    width: 30px;
    border: 1px solid var(--uniprep-primary);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.smallText {
    font-size: 10px;
}

.p-minus,
.p-plus {
    font-size: 12px !important;
}

.fs-12 {
    font-size: 12px;
    font-weight: 600;
}

.pi-chart-bar {
    font-size: 30px;
}

.flag {
    height: 20px;
    width: 20px;
}