<div class="card readingcard">
    <div class="card-header p-0 bg-transparent border-0">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-3 text-start">
            </div>
            <div class="col-md-6 text-center">
                <div class="select-title text-nowrap d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="w-100 mb-0" tooltipPosition="top"
                            pTooltip="Access a wide range of academic resources to enhance your learning and understanding.">
                            Academic Tools<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
                    </div>
                    <div>
                        <button class="how-it-works-button">&nbsp;How it works? &nbsp;&nbsp;<i
                                class="fa-solid fa-play"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-end"></div>
        </div>
    </div>
    <div class="card-body">
        <div class="list-card-container">
            <div class="resourcecard" routerLink="15">
                <img [src]="'https://api.uniprep.ai/uniprepapi/storage/app/public/icon/academic/grade9&10.png'"
                    alt="" />
                <h3>Grade 8</h3>
                <p>Enhance your future academic journey with tailored tools for Grade 8.</p>
            </div>
            <div class="resourcecard" routerLink="19">
                <img [src]="'https://api.uniprep.ai/uniprepapi/storage/app/public/icon/academic/grade9&10.png'"
                    alt="" />
                <h3>Grade 9</h3>
                <p>Access key resources to shape your educational path in Grade 9.</p>
            </div>
            <div class="resourcecard" routerLink="20">
                <img [src]="'https://api.uniprep.ai/uniprepapi/storage/app/public/icon/academic/grade9&10.png'"
                    alt="" />
                <h3>Grade 10</h3>
                <p>Explore tools that pave the way for your academic progress in Grade 10.</p>
            </div>
            <div class="resourcecard" routerLink="16">
                <img [src]="'https://api.uniprep.ai/uniprepapi/storage/app/public/icon/academic/grade11&12.png'"
                    alt="" />
                <h3>Grade 11</h3>
                <p>Discover resources to strategically advance your learning in Grade 11.</p>
            </div>
            <div class="resourcecard" routerLink="17">
                <img [src]="'https://api.uniprep.ai/uniprepapi/storage/app/public/icon/academic/grade11&12.png'"
                    alt="" />
                <h3>Grade 12</h3>
                <p>Utilize essential tools to prepare effectively for your next steps after Grade 12.</p>
            </div>

            <div class="resourcecard" routerLink="/pages/job-tool/cost-of-living">
                <img [src]="'https://api.uniprep.ai/uniprepapi/storage/app/public/resume_icons/cost-of-living.svg'"
                    alt="" />
                <h3>Cost Of Living Comparision</h3>
                <p>Compare living expenses across countries to make informed decisions.</p>
            </div>
        </div>
    </div>
</div>