<!-- ----------------- Recommandation Question View ----------------- -->
<div class="card readingcard" *ngIf="isRecommendationQuestion">
	<div class="card-header border-0 bg-transparent">
		<div class="row">
			<div class="col-md-12 d-flex align-items-center gap-4">
				<div class="backIcon d-md-flex d-none" role="button" (click)="goBack()">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
							<i class="fa-regular fa-home"></i>
						</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 routerLink="/pages/education-tools" role="button" class="mb-0" tooltipPosition="top"
							pTooltip="">Education Tools</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">Course Navigator</h5>
					</div>
					<div>
						<button pButton class="how-it-works-button" (click)="openVideoPopup()" severity="warn">How it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
				<p-iconfield>
					<p-inputicon styleClass="pi pi-search" />
					<input type="text" pInputText placeholder="Search Specialization" [(ngModel)]="specializationFilter"
						(ngModelChange)="performSearch('specialization')" />
				</p-iconfield>
			</div>
		</div>
	</div>
	<div class="card-body text-center flex-fill h-100 overflow-y-auto">
		<div class="container-fluid h-100">
			<p-carousel [value]="recommendations" [numVisible]="1" [numScroll]="1" [circular]="false"
				[showNavigators]="false" [showIndicators]="false" [page]="activePageIndex"
				styleClass="carousal-container-sec">
				<ng-template let-recommendation let-i="index" pTemplate="item">
					<div class="d-flex flex-column justify-content-between">
						<div class="row">
							<div *ngFor="let item of specializationList"
								class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
								<div class="row w-100 m-0 justify-content-center h-100">
									<div class="card subjectcard" role="button" (click)="getCourseList(item)">
										<div
											class="card-body d-flex flex-md-column flex-row justify-content-md-between align-items-center">
											<div>
												<div class="submoduleicon">
													<img class="selectimage" [src]="item.icon" />
												</div>
												<h5 class="text-center mt-3 fw-bold mb-0">{{ item.specialization_name }}
												</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</p-carousel>
		</div>
	</div>
</div>

<!-- ----------------- Recommandation Response View ----------------- -->
<div class="card readingcard" *ngIf="isRecommendationData">
	<div class="card-header border-0 bg-transparent">
		<div class="row">
			<div class="col-md-12 d-flex align-items-center gap-4">
				<div class="backIcon d-md-flex d-none" role="button" (click)="goBack('recommandation')">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
							<i class="fa-regular fa-home"></i>
						</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 routerLink="/pages/education-tools" role="button" class="mb-0" tooltipPosition="top"
							pTooltip="">Education Tools</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">Course Navigator</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">{{selectedSpecialization}}</h5>
					</div>
					<div>
						<button pButton (click)="openVideoPopup()" class="how-it-works-button" severity="warn">How it works? <i
								class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
				<p-iconfield>
					<p-inputicon styleClass="pi pi-search" />
					<input type="text" pInputText placeholder="Search Degree" [(ngModel)]="degreeFilter"
						(ngModelChange)="performSearch('degree')" />
				</p-iconfield>
			</div>
		</div>
	</div>
	<div class="card-body text-center flex-fill overflow-y-auto">
		<div class="row">
			<div *ngFor="let item of recommendationDataList" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
				<div class="row w-100 m-0 justify-content-center h-100">
					<div class="card subjectcard" role="button" (click)="getCourseSubmodules(item)">
						<div
							class="card-body d-flex flex-md-column flex-row justify-content-md-between align-items-center">
							<div>
								<div class="submoduleicon">
									<img class="selectimage" [src]="item.icon" />
								</div>
								<h5 class="text-center mt-3 fw-bold mb-0">{{ item.degree_name }}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer bg-transparent border-0">
		<div class="text-end">
			<button pButton pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="resetRecommendation()">
				Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i> </span>
			</button>
		</div>
	</div>
</div>

<!-- ----------------- Recommandation Response View ----------------- -->
<div class="card readingcard" *ngIf="isCourseSubmodule">
	<div class="card-header border-0 bg-transparent">
		<div class="row">
			<div class="col-md-12 d-flex gap-4">
				<div class="backIcon d-md-flex d-none" role="button" (click)="goBack('submodule')">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
							<i class="fa-regular fa-home"></i>
						</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 routerLink="/pages/education-tools" role="button" class="mb-0" tooltipPosition="top"
							pTooltip="">Education Tools</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">Course Navigator</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">{{selectedSpecialization}}</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">{{ selectedDegreeName }}</h5>
					</div>
					<div>
						<button pButton class="how-it-works-button" (click)="openVideoPopup()">How it works? <i
								class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body text-center flex-fill overflow-y-auto">
		<div class="h-100 d-flex flex-column justify-content-between">
			<div></div>
			<div class="row" [ngClass]="{ 'justify-content-center': courseSubmodules.length <= 6 }">
				<div *ngFor="let item of courseSubmodules" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
					<div class="row w-100 m-0 justify-content-center h-100">
						<div class="card subjectcard" role="button" (click)="getCourseQandAList(item.id)">
							<div
								class="card-body d-flex flex-md-column flex-row justify-content-md-between align-items-center">
								<div>
									<div class="submoduleicon">
										<img class="selectimage" [src]="item.icon" />
									</div>
									<h5 class="text-center mt-3 fw-bold mb-0">{{ item.submodule_name }}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div></div>
		</div>
	</div>
	<div class="card-footer bg-transparent border-0">
		<div class="text-end">
			<button pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="resetRecommendation()">
				Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i> </span>
			</button>
		</div>
	</div>
</div>

<!-- ----------------- Recommandation Saved Response View ----------------- -->
<div class="card readingcard" *ngIf="isRecommendationSavedData">
	<div class="card-header border-0 bg-transparent">
		<div class="row">
			<div class="col-md-12 d-flex gap-4">
				<div class="backIcon d-md-flex d-none" role="button" (click)="goBack('questions')">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
							<i class="fa-regular fa-home"></i>
						</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 routerLink="/pages/education-tools" role="button" class="mb-0" tooltipPosition="top"
							pTooltip="">Education Tools</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">Course Navigator</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">{{selectedSpecialization}}</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">{{ selectedDegreeName }}</h5>
					</div>
					<div>
						<button pButton (click)="openVideoPopup()" class="how-it-works-button" severity="warn">How it works? <i
								class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
				<!-- <div class="d-flex align-items-center">
                    <p-selectButton [options]="stateOptions" [(ngModel)]="selectedState" optionLabel="label"
                        optionValue="value" (onChange)="onChangeSelect($event)"
                        styleClass="cn-select-btn"></p-selectButton>
                </div> -->
			</div>
		</div>
	</div>
	<div class="card-body text-center flex-fill overflow-y-auto">
		<div class="row">
			<div *ngFor="let sub of recommandedQandAList" class="col-md-3 col-sm-4 mb-3">
				<div class="row w-100 h-100 m-0 justify-content-center">
					<div (click)="viewOneQuestion(sub)" role="button" class="card subjectcard">
						<div class="card-body d-flex justify-content-center align-items-center">
							<div class="py-3">
								<p class="text-start fw-bold questiontext mb-0" title="{{ sub.question }}">
									{{ sub.question }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<p-dialog #dialogContent [(visible)]="isQuestionAnswerVisible" [draggable]="false" [modal]="true"
	class="questionmodal custom-quiz-modal" header="Header" [closable]="false" (onShow)="onShowModal($event)">
	<ng-template pTemplate="header">
		<div class="card-header border-0 bg-transparent px-4 pt-4 pb-0 w-100">
			<div class="row justify-content-center">
				<div class="col-md-12 d-flex gap-2 text-center">
					<div class="career-homeIcon px-3" role="button" (click)="isQuestionAnswerVisible = false">
						<span class="fa-solid fa-home me-2"></span>Home
					</div>
					<div class="select-title d-flex flex-fill gap-2 align-items-center w-100">
						<h5 class="mb-0">Course Navigator</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">{{selectedSpecialization}}</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">{{ selectedDegreeName }}</h5>
					</div>
					<div class="career-reportIcon px-3" role="button" (click)="openReport()">
						<span class="fa-solid fa-file me-2"></span>Report
					</div>
					<div class="career-closeIcon" role="button" (click)="isQuestionAnswerVisible = false">
						<span class="fa-solid fa-close"></span>
					</div>
				</div>
			</div>
			<div class="d-flex align-items-center position-relative mt-1" style="justify-content: end !important">
				<button class="btn socialShareBtn" (click)="showSocialSharingList()">
					<i class="fa-solid fa-share"></i></button>
				<p-card id="socialSharingList">
					<ul style="list-style: none; cursor: pointer">
						<li (click)="shareQuestion('Whatsapp')"><i class="pi pi-whatsapp"></i>Whatsapp</li>
						<li (click)="shareQuestion('Mail')"><i class="pi pi-envelope"></i>Email</li>
						<li (click)="shareQuestion('Facebook')"><i class="pi pi-facebook"></i>Facebook</li>
						<li (click)="shareQuestion('Twitter')"><i class="pi pi-twitter"></i>Twitter</li>
						<li (click)="shareQuestion('Instagram')"><i class="pi pi-instagram"></i>Instagram</li>
						<li (click)="shareQuestion('LinkedIn')"><i class="pi pi-linkedin"></i>LinkedIn</li>
						<li (click)="copyLink()"><i class="pi pi-link"></i>Copy Link</li>
					</ul>
				</p-card>
			</div>
		</div>
	</ng-template>
	<div class="px-4 blog-content">
		<div class="card flex-fill answercard" style="border: none">
			<div class="card-body text-start">
				<h1><b>{{ selectedQuestionData?.question }}</b></h1>
				<div class="fw-medium" style="white-space: inherit; max-height: 80%; min-height: 80%"
					[innerHTML]="selectedQuestionData?.answer"></div>
			</div>
		</div>
	</div>
</p-dialog>