.answercard {
	background-color: var(--uniprep-primaryop10);
	border: 2px solid var(--uniprep-primary);
	overflow-y: auto;
}

.socialShareBtn {
	height: 40px;
	width: 40px;
	border-radius: 50px !important;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#socialSharingList {
	display: none;
	position: absolute;
	right: 0rem;
	top: 3rem;
}

#socialSharingList ul {
	padding: 10px !important;
	margin-bottom: 0;

	li {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
	}

	i {
		margin-right: 10px;
	}
}

.questioncard:hover {
	border: 1px solid var(--uniprep-secondary);
}

.questioncard::after {
	content: "\2197";
	/* Unicode for right arrow (→) */
	font-size: 20px;
	color: #ffffff;
	position: absolute;
	bottom: 10px;
	right: 13px;
	opacity: 0;
	transition: opacity 0.3sease-in-out, transform 0.3sease-in-out;
	background-color: var(--uniprep-secondary);
	border-radius: 0.5rem;
	width: 30px;
}

.questioncard:hover::after {
	opacity: 1;
	transform: translate(5px, -5px);
	/* Small movement effect */
}

.questioncard {
	border: 1px solid #ececec;
	padding: 0;

}

.questioncard .content-preview {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.questioncard:hover .content-preview {
	opacity: 1;
	max-height: 100px;
	/* Adjust as needed */
}
