<div class="card readingcard bg-white">
  <div class="card-header border-0 bg-transparent">
    <div class="row justify-content-center">
      <div class="col-md-12 d-flex gap-2 text-start">
        <div class="select-title d-flex justify-content-between align-items-center" style="width: 100%">
          <div class="d-flex gap-2">
            <h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip=""><i
                class="fa-regular fa-home"></i></h5>
            <span><i class="fa-solid fa-chevron-right"></i></span>
            <h5 routerLink="/pages/mycertificate" role="button" class="mb-0" tooltipPosition="top"
              pTooltip="Learn new skills and concepts through step-by-step tutorials in a variety of subjects.">
              Subscription</h5>
          </div>
        </div>
        <div class="d-flex flex-wrap justify-content-start gap-2" *ngIf="studentType != 2">
          <button pButton class="btn btn-outline-light theme-blue flex-grow-1" style="min-width: 120px;"
            (click)="setActiveButton(1)" [ngStyle]="button1Style">
            Monthly
          </button>
          <button pButton class="btn btn-outline-light theme-blue flex-grow-1" style="min-width: 120px;"
            (click)="setActiveButton(2)" [ngStyle]="button2Style">
            Half Yearly
          </button>
          <button pButton class="btn btn-outline-light theme-blue flex-grow-1" style="min-width: 120px;"
            (click)="setActiveButton(3)" [ngStyle]="button3Style">
            Annualy
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body flex-fill overflow-y-auto">

    <!-- <div class="card">
  <div class="card-body">
    <div class="d-flex flex-column flex-md-row justify-content-md-between">
      <div class="text-md-start text-center">
        <h5 class="sop-border sop-header">Ready To Get Started?</h5>
        <span>Choose a plan tailored to your needs</span>
      </div>
      <div class="monthly-subscription mt-2" *ngIf="studentType!=2">
        <p-tabView (onChange)="changeMonthlyPlan($event)">
          <p-tabPanel header="6 Month Plan"> </p-tabPanel>
          <p-tabPanel header="12 Month Plan"> </p-tabPanel>
        </p-tabView>
      </div>

      <div *ngIf="showHistoryBtn">
        <div class="text-md-end text-center pt-3">
          <button pButton  class="btn historyBtn" (click)="gotoHistory()">Subscription History</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
    <div class="card d-flex mt-2 bg-white" style="flex: 1">
      <div class="card-body d-flex flex-column justify-content-center">
        <ng-container *ngIf="basesubscription">
          <div class="d-md-block d-none">
            <div class="row d-flex card-body" style="background-color: white">
              <div class="columns col-lg-4 col-md-4 p-0">
                <ul class="price text-left list-unstyled">
                  <li class="header">Pricing Table</li>
                  <li class="mt-25 fw-medium" style="color:rgb(0, 0, 94)"><small>Features list</small></li>
                  <li class="fw-semibold">Create Talent Profile</li>
                  <li class="fw-semibold">Share Talent Profile</li>
                  <li class="fw-semibold">Apply to Unlimited Jobs</li>
                  <li class="fw-semibold">Connect With Company</li>
                  <li class="fw-semibold">AI Global Advisor</li>
                  <li class="fw-semibold">Dedicated Career Coach <span class="text-muted ms-2"
                      style="font-size: 10px;">2 Calls/Month</span></li>
                  <li class="fw-semibold">Career Tools <span class="text-muted ms-2" style="font-size: 10px;">20 +
                      Tools</span></li>
                  <li class="fw-semibold">Education Tools <span class="text-muted ms-2" style="font-size: 10px;">10 +
                      Tools</span></li>
                  <li class="fw-semibold">Enterpreneur Tools <span class="text-muted ms-2" style="font-size: 10px;">10 +
                      Tools</span></li>
                  <li class="fw-semibold">Travel Tools <span class="text-muted ms-2" style="font-size: 10px;">10 +
                      Tools</span></li>
                </ul>
              </div>

              <div class="columns col-lg-4 col-md-4 p-0 bl-1 br-1">
                <ul class="price text-center list-unstyled ">
                  <li class="header mt-15">
                    <h4 class="mb-0 fw-bold" style="margin-top:2px;">Standard Plan</h4>
                    <h2 class="amount orange">Free</h2>
                  </li>
                  <li class="mt-18"><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green "></i></li>
                  <li><i class="fa-solid fa-check green "></i></li>
                  <li><i class="fa-solid fa-times red"></i></li>
                  <li><i class="fa-solid fa-times red"></i></li>
                  <li><i class="fa-solid fa-times red"></i></li>
                  <li><i class="fa-solid fa-times red"></i></li>
                  <li><i class="fa-solid fa-times red"></i></li>
                  <li class="mt-0 pb-0">
                    <!-- <h5 class="fw-semibold mb-0">{{ timeLeftInfoCard }} Validity</h5> -->
                  </li>
                  <li class="mt-0">
                    <div class="getstartedbtn pb-0" *ngIf="planstage==0">
                      <button pButton class="px-5 py-1 btn btn-basic btn-sm m-0" [disabled]="'true'"
                        style="color:var(--p-neutral-50);background:black">Not Applicable</button>
                    </div>
                    <div class="getstartedbtn pb-0" *ngIf="planstage==1">
                      <button pButton class="px-5 py-1 btn btn-basic btn-sm m-0"
                        style="color:var(--p-neutral-50);background:black">Current Plan</button>
                    </div>
                    <div class="getstartedbtn pb-0" *ngIf="planstage == 2 || planstage == 3">
                      <button pButton class="px-5 py-1 btn btn-primary m-0" [disabled]="'true'"
                        style="color:var(--p-neutral-50)">Select</button>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="columns col-lg-4 col-md-4 p-0" *ngFor="let subscription of subscriptionList"
                [ngClass]="{'br-1':subscription}">
                <ul class="price text-center list-unstyled ">
                  <!-- add this to hide career and entrepreneur for k10 -->
                  <li style="background-color: var(--p-primary-500); color: white;margin-top:5px;"
                    *ngIf="subscription.popular == 1">Most Popular Plan
                  </li>
                  <li class="header" [ngClass]="{
                    header: subscription.popular === 1,
                    'mt-15': !(subscription.popular === 1)
                  }">
                    <h4 class="mb-0 fw-bold" style="margin-top:2px;">{{ subscription.subscription_plan }}</h4>
                    <h2 class="amount orange">
                      {{ subscription.givenprice | number : ".0" }}
                      {{ subscription.currency }}
                    </h2>
                    <!-- <div *ngIf="studentType!=2" class="d-flex" style="justify-content: space-evenly">
                      <p style="font-size: 12px; font-weight: 500" class="mb-0 mt-2">
                        <s>{{ subscription.currency }} {{ subscription.actualprice | number : ".2-2" }}</s>
                      </p>
                      <div class="btn discountbutton-o btnCurser">Save {{ subscription.discountpercentage }}%</div>
                    </div> -->
                  </li>
                  <li class="mt-18"><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green"></i></li>
                  <li><i class="fa-solid fa-check green"></i></li>
                  <li class="pb-0">
                    <!-- <h5 class="fw-semibold mb-0">{{ subscription.validity }} Months Validity</h5> -->
                  </li>
                  <li class="mt-0">
                    <div class="getstartedbtn flex pb-0" *ngIf="planstage==0">
                      <div class="col-6">
                        <h6 class="fw-semibold text-small mb-0">60 Minutes Validity</h6>
                        <button pButton class="px-4 py-1 btn btn-basic w-100 m-0"
                          style="color:var(--p-neutral-50);background:black">Current Plan (On
                          Trail)</button>
                      </div>
                      <div class="col-6">
                        <h6 class="fw-semibold text-small mb-0">{{ subscription.validity }} Months Validity</h6>
                        <button pButton class="px-5 py-1 btn btn-primary w-100 m-0 text-white"
                          *ngIf="subscription.selected"
                          (click)="selectedSubscriptionPlan(subscription)">Selected</button>
                        <button pButton class="px-5 py-1 btn btn-basic w-100 m-0" style="color:var(--p-neutral-50)"
                          *ngIf="!subscription.selected" (click)="selectedSubscriptionPlan(subscription)">Conitnue
                          Plan</button>
                      </div>
                    </div>
                    <div class="getstartedbtn pb-0" *ngIf="planstage==1">
                      <h6 class="fw-semibold text-small w-100 mb-2">{{ subscription.validity }} Months Validity</h6>
                      <button pButton class="px-5 py-1 btn btn-primary m-0 text-white" *ngIf="subscription.selected"
                        (click)="selectedSubscriptionPlan(subscription)">Selected</button>
                      <button pButton class="px-5 py-1 btn btn-basic m-0" style="color:var(--p-neutral-50)"
                        *ngIf="!subscription.selected" (click)="selectedSubscriptionPlan(subscription)">Upgrade</button>
                    </div>
                    <div class="getstartedbtn pb-0" *ngIf="planstage==2">
                      <h6 class="fw-semibold text-small w-100 mb-2">{{ subscription.validity }} Months Validity</h6>
                      <button *ngIf="planstatus?.current_plan_validity == subscription.validity" pButton 
                      class="px-5 py-1 btn btn-dark m-0" style="color:var(--p-neutral-50);background:black">Current
                      Plan</button>
                      <button *ngIf="planstatus?.current_plan_validity > subscription.validity" pButton 
                        class="px-5 py-1 btn btn-basic m-0" style="color:var(--p-neutral-50);background:black" [disabled]="'true'">
                        Not Applicable </button>
                      <ng-container *ngIf="planstatus?.current_plan_validity < subscription.validity">
                        <button pButton class="px-5 py-1 btn btn-primary m-0 text-white" *ngIf="subscription.selected"
                          (click)="selectedSubscriptionPlan(subscription)">Selected</button>
                        <button pButton class="px-5 py-1 btn btn-basic m-0" style="color:var(--p-neutral-50)"
                          *ngIf="!subscription.selected" (click)="selectedSubscriptionPlan(subscription)">Upgrade</button>
                      </ng-container>
                    </div>
                    <div class="getstartedbtn pb-0" *ngIf="planstage==3">
                      <h6 class="fw-semibold text-small w-100 mb-2">{{ subscription.validity }} Months Validity</h6>
                      <button pButton class="px-5 py-1 btn btn-basic m-0"
                        (click)="selectedSubscriptionPlan(subscription)" style="color:var(--p-neutral-50)">Purchase
                        Again</button>
                    </div>
                  </li>
                  <!-- <p class="orange fw-bolder" *ngIf="subscription.validity != 1">That's only {{ subscription.currency }} {{ getWholePricePerMonth(subscription.givenprice, subscription.validity)  }} a month </p> -->
                </ul>
              </div>

            </div>
          </div>
          <div class="d-md-none d-block">
            <p-tabView>
              <p-tabPanel header="Free">
                <div class="container-fluid">
                  <div class="row gap-5 d-flex">
                    <div class="card card-bg subscriptioncard col px-0">
                      <div class="card-header py-2 px-4">
                        <div class="d-flex justify-content-between">
                          <div class="mt-4">
                            <h6 class="plan_type">Free</h6>
                            <h3 class="amount">0 {{ currency }}</h3>
                          </div>
                        </div>
                      </div>
                      <div class="card-body p-4">
                        <div class="permission-list">
                          <p class="what-you-get">What you get</p>
                          <p><i class="fa-solid fa-check me-2 green"></i>Create Talent Profile</p>
                          <p><i class="fa-solid fa-check me-2 green"></i>Share Talent Profile</p>
                          <p><i class="fa-solid fa-check me-2 green"></i>Apply to Unlimited Jobs</p>
                          <p><i class="fa-solid fa-check me-2 green"></i>Connect With Company</p>
                          <p><i class="fa-solid fa-check me-2 green"></i>AI Global Advisor</p>
                          <p><i class="fa-solid fa-times me-2 red"></i>Dedicated Career Coach<span class="text-muted ms-2"
                              style="font-size: 10px;">2 Calls/Month</span></p>
                          <p><i class="fa-solid fa-times me-2 red"></i>Career Tools<span class="text-muted ms-2"
                              style="font-size: 10px;">20 + Tools</span></p>
                          <p><i class="fa-solid fa-times me-2 red"></i>Education Tools<span class="text-muted ms-2"
                              style="font-size: 10px;">10 + Tools</span></p>
                          <p><i class="fa-solid fa-times me-2 red"></i>Enterpreneur Tools<span class="text-muted ms-2"
                              style="font-size: 10px;">10 + Tools</span></p>
                          <p><i class="fa-solid fa-times me-2 red"></i>Travel Tools<span class="text-muted ms-2"
                              style="font-size: 10px;">10 + Tools</span></p>
                        </div>
                      </div>
                      <div class="card-footer py-2 px-4 mb-5">
                        <h6 class="fw-semibold text-small mb-0">60 Minutes Validity</h6>
                        <div class="getstartedbtn pb-0" *ngIf="planstage==0">
                          <button pButton class="px-5 py-1 btn btn-basic btn-sm m-0" [disabled]="'true'"
                            style="color:var(--p-neutral-50);background:black">Not Applicable</button>
                        </div>
                        <div class="getstartedbtn pb-0" *ngIf="planstage==1">
                          <button pButton class="px-5 py-1 btn btn-basic btn-sm m-0"
                            style="color:var(--p-neutral-50);background:black">Current Plan</button>
                        </div>
                        <div class="getstartedbtn pb-0" *ngIf="planstage == 2 || planstage == 3">
                          <button pButton class="px-5 py-1 btn btn-primary m-0" [disabled]="'true'"
                            style="color:var(--p-neutral-50)">Select</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
              <ng-container *ngFor="let subscription of subscriptionList">
                <p-tabPanel header="{{ subscription.subscription_plan }}">
                  <div class=" card-body">
                    <div class="container-fluid">
                      <div class="row gap-5 d-flex">
                        <div class="card card-bg subscriptioncard col px-0"
                          [ngClass]="{ active: subscription.isActive }">
                          <div class="mostpopular subscription_list" *ngIf="subscription.popular == 1">Most Popular Plan
                          </div>
                          <div class="card-header py-2 px-4">
                            <div class="d-flex justify-content-between">
                              <div class="mt-4">
                                <h6 class="plan_type">
                                  {{ subscription.subscription_plan }}
                                </h6>
                                <h3 class="amount" *ngIf="subscription.popular != 1">
                                  {{ subscription.givenprice | number : ".2" }}
                                  {{ subscription.currency }}
                                </h3>
                                <h3 class="amount orange" *ngIf="subscription.popular == 1">
                                  {{ subscription.givenprice | number : ".2" }}
                                  {{ subscription.currency }}
                                </h3>
                              </div>
                              <div class="mt-4">
                                <p>
                                  <s>{{ subscription.currency }} {{ subscription.actualprice | number : ".2-2" }}</s>
                                </p>
                                <div class="btn discountbutton-o btnCurser" *ngIf="subscription.popular == 1">Save {{
                                  subscription.discountpercentage }}%</div>
                                <div class="btn discountbutton btnCurser" *ngIf="subscription.popular != 1">Save {{
                                  subscription.discountpercentage }}%</div>
                              </div>
                            </div>
                          </div>
                          <div class="card-body p-4">
                            <div class="permission-list">
                              <p class="what-you-get">What you get</p>
                              <p><i class="fa-solid fa-check me-2 green"></i>Create Talent Profile</p>
                              <p><i class="fa-solid fa-check me-2 green"></i>Share Talent Profile</p>
                              <p><i class="fa-solid fa-check me-2 green"></i>Apply to Unlimited Jobs</p>
                              <p><i class="fa-solid fa-check me-2 green"></i>Connect With Company</p>
                              <p><i class="fa-solid fa-check me-2 green"></i>AI Global Advisor</p>
                              <p><i class="fa-solid fa-check me-2 green"></i>Dedicated Career Coach<span class="text-muted ms-2"
                                  style="font-size: 10px;">2 Calls/Month</span></p>
                              <p><i class="fa-solid fa-check me-2 green"></i>Career Tools<span class="text-muted ms-2"
                                  style="font-size: 10px;">20 + Tools</span></p>
                              <p><i class="fa-solid fa-check me-2 green"></i>Education Tools<span class="text-muted ms-2"
                                  style="font-size: 10px;">10 + Tools</span></p>
                              <p><i class="fa-solid fa-check me-2 green"></i>Enterpreneur Tools<span class="text-muted ms-2"
                                  style="font-size: 10px;">10 + Tools</span></p>
                              <p><i class="fa-solid fa-check me-2 green"></i>Travel Tools<span class="text-muted ms-2"
                                  style="font-size: 10px;">10 + Tools</span></p>
                            </div>
                          </div>
                          <div class="card-footer py-2 px-4" [ngClass]="subscription.popular != 1 ? 'mb-5' : ''">
                            <div class="getstartedbtn flex pb-0" *ngIf="planstage==0">
                              <div class="col-6">
                                <h6 class="fw-semibold text-small mb-0">60 Minutes Validity</h6>
                                <button pButton class="px-4 py-1 btn btn-basic w-100 m-0"
                                  style="color:var(--p-neutral-50);background:black">Current Plan (On
                                  Trail)</button>
                              </div>
                              <div class="col-6">
                                <h6 class="fw-semibold text-small mb-0">{{ subscription.validity }} Months Validity</h6>
                                <button pButton class="px-5 py-1 btn btn-primary w-100 m-0 text-white"
                                  *ngIf="subscription.selected"
                                  (click)="selectedSubscriptionPlan(subscription)">Selected</button>
                                <button pButton class="px-5 py-1 btn btn-basic w-100 m-0"
                                  style="color:var(--p-neutral-50)" *ngIf="!subscription.selected"
                                  (click)="selectedSubscriptionPlan(subscription)">Conitnue
                                  Plan</button>
                              </div>
                            </div>
                            <div class="getstartedbtn pb-0" *ngIf="planstage==1">
                              <h6 class="fw-semibold text-small w-100 mb-2">{{ subscription.validity }} Months Validity
                              </h6>
                              <button pButton class="px-5 py-1 btn btn-primary m-0 text-white"
                                *ngIf="subscription.selected"
                                (click)="selectedSubscriptionPlan(subscription)">Selected</button>
                              <button pButton class="px-5 py-1 btn btn-basic m-0" style="color:var(--p-neutral-50)"
                                *ngIf="!subscription.selected"
                                (click)="selectedSubscriptionPlan(subscription)">Upgrade</button>
                            </div>
                            <div class="getstartedbtn pb-0" *ngIf="planstage==2">
                              <h6 class="fw-semibold text-small w-100 mb-2">{{ subscription.validity }} Months Validity
                              </h6>
                              <button *ngIf="planstatus?.current_plan_validity == subscription?.validity" pButton class="px-5 py-1 btn btn-dark m-0"
                               style="color:var(--p-neutral-50);background:black">
                                Current Plan</button>
                                <button *ngIf="planstatus?.current_plan_validity > subscription?.validity" pButton 
                                class="px-5 py-1 btn btn-basic m-0" style="color:var(--p-neutral-50);background:black" [disabled]="'true'">
                                Not Applicable </button>
                                <ng-container *ngIf="planstatus?.current_plan_validity < subscription.validity">
                                  <button pButton class="px-5 py-1 btn btn-primary m-0 text-white" *ngIf="subscription.selected"
                                    (click)="selectedSubscriptionPlan(subscription)">Selected</button>
                                  <button pButton class="px-5 py-1 btn btn-basic m-0" style="color:var(--p-neutral-50)"
                                    *ngIf="!subscription.selected" (click)="selectedSubscriptionPlan(subscription)">Upgrade</button>
                                </ng-container>
                            </div>
                            <div class="getstartedbtn pb-0" *ngIf="planstage==3">
                              <h6 class="fw-semibold text-small w-100 mb-2">{{ subscription.validity }} Months Validity
                              </h6>
                              <button pButton class="px-5 py-1 btn btn-basic m-0"
                                (click)="selectedSubscriptionPlan(subscription)"
                                style="color:var(--p-neutral-50)">Purchase
                                Again</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabPanel>
              </ng-container>
            </p-tabView>
          </div>
          <br />
          <!-- <div class="offer-msg">
				Congratulations ! Early bird offer. You get free access to 13 other countries with the base
				subscription. Subscribe before the offer ends.
			</div> -->
        </ng-container>

        <!-- Top-up-countries -->
        <div class="row" *ngIf="topupcountries">
          <div *ngFor="let subscription of subscriptionTopupList" class="col-lg-4">
            <div class="card-body">
              <div class="container-fluid">
                <div class="row gap-5 mt-4 d-flex">
                  <div class="card card-bg subscriptioncard col px-0" [ngClass]="{ active: subscription.isActive }">
                    <div class="mostpopular" *ngIf="subscription.popular == 1">Most Popular Plan</div>
                    <div class="card-header p-4">
                      <div class="d-flex justify-content-between align-items-center">
                        <h3 class="fw-bold mb-0">{{ subscription.name }} <br />Plan</h3>
                        <div class="text-end">
                          <h4 class="mb-0">
                            <s>INR {{ subscription.price | number : ".2-2" }}</s>
                          </h4>
                          <div class="btn discountbutton">Save {{ subscription.discountPercentage }} %</div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-3">
                      <h5 style="font-size: 18px; text-align: center">Select Your Add On Countries</h5>
                      <p-multiSelect [options]="subscription.filteredCountryList" styleClass="w-100"
                        [(ngModel)]="subscription.selectedCoutriesList"
                        defaultLabel="Select a multiple countries as per your requirement" optionLabel="country"
                        #multiSelect>
                        <ng-template pTemplate="selectedItems">
                          {{ multiSelect.defaultLabel }}
                        </ng-template>
                      </p-multiSelect>
                      <div class="d-flex align-items-center gap-2 flex-wrap pt-2">
                        <div *ngFor="let data of subscription?.selectedCoutriesList">
                          <p-chip [label]="data.country" [image]="data.flag" [removable]="true"
                            (onRemove)="removeCountry(subscription.id, data.id)"
                            removeIcon="fa-solid fa-times"></p-chip>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer p-4" style="text-align: center">
                      <h2 class="font-primarycolor fw-bold">INR {{ subscription.finalamount | number : ".2-2" }}</h2>
                      <p class="fw-semibold">{{ subscription.validity }} Month Validity</p>
                      <div class="getstartedbtn">
                        <button pButton *ngIf="!subscription.selected" class="btn btn-primary"
                          (click)="selectedTopupCountryPlan(subscription)">Select Plan</button>
                        <button pButton *ngIf="subscription.selected" class="btn dark-btn"
                          (click)="selectedTopupCountryPlan(subscription)">You have selected {{ subscription.name }}
                          Plan</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- top up validity -->
        <div class="row p-3" *ngIf="topupvalidity">
          <div class="d-flex justify-content-between">
            <div class="mt-2">
              <label for="" style="white-space: nowrap">Select Country for Validity</label>
            </div>
            <div class="ms-2" style="width: -webkit-fill-available">
              <span class="p-float-label">
                <p-multiSelect [options]="countryList" optionValue="id" placeholder="Select a country"
                  [(ngModel)]="selectedCountry" styleClass="w-100 custom-multiselect"
                  optionLabel="country"></p-multiSelect>
              </span>
            </div>
          </div>
        </div>
        <div class="cardcontainer" *ngIf="topupvalidity">
          <div class="card-body sameline">
            <div class="container-fluid">
              <div class="row gap-5 mt-4 d-flex">
                <div class="card col px-0">
                  <!-- <div class="mostpopular">Most Popular Plan</div> -->
                  <div class="card-header p-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <h6 class="fw-bold mb-0">1 Month <br />Validity</h6>
                      <div class="text-end">
                        <span class="mb-0"><s>INR 1000</s></span>
                        <div class="btn discountbutton">Save 20 %</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer p-4 pt-5" style="text-align: center">
                    <h4 class="font-primarycolor fw-bold">INR 699.00</h4>
                    <div class="">
                      <button pButton style="width: -webkit-fill-available" class="btn btn-primary">
                        <span style="color: var(--p-neutral-50) !important" class="ps-5 pe-5">Top Up</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body sameline">
            <div class="container-fluid">
              <div class="row gap-5 mt-4 d-flex">
                <div class="card col px-0">
                  <!-- <div class="mostpopular">Most Popular Plan</div> -->
                  <div class="card-header p-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <h6 class="fw-bold mb-0">1 Month <br />Validity</h6>
                      <div class="text-end">
                        <span class="mb-0"><s>INR 1000</s></span>
                        <div class="btn discountbutton">Save 20 %</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer p-4 pt-5" style="text-align: center">
                    <h4 class="font-primarycolor fw-bold">INR 699.00</h4>
                    <div class="">
                      <button pButton style="width: -webkit-fill-available" class="btn btn-primary">
                        <span style="color: var(--p-neutral-50) !important" class="ps-5 pe-5">Top Up</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body sameline">
            <div class="container-fluid">
              <div class="row gap-5 mt-4 d-flex">
                <div class="card col px-0">
                  <!-- <div class="mostpopular">Most Popular Plan</div> -->
                  <div class="card-header p-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <h6 class="fw-bold mb-0">1 Month <br />Validity</h6>
                      <div class="text-end">
                        <span class="mb-0"><s>INR 1000</s></span>
                        <div class="btn discountbutton">Save 20 %</div>
                      </div>
                    </div>
                  </div>

                  <div class="card-footer p-4 pt-5" style="text-align: center">
                    <h4 class="font-primarycolor fw-bold">INR 699.00</h4>
                    <div class="">
                      <button pButton style="width: -webkit-fill-available" class="btn btn-primary">
                        <span style="color: var(--p-neutral-50) !important" class="ps-5 pe-5">Top Up</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body sameline">
            <div class="container-fluid">
              <div class="row gap-5 mt-4 d-flex">
                <div class="card col px-0">
                  <!-- <div class="mostpopular">Most Popular Plan</div> -->
                  <div class="card-header p-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <h6 class="fw-bold mb-0">1 Month <br />Validity</h6>
                      <div class="text-end">
                        <span class="mb-0"><s>INR 1000</s></span>
                        <div class="btn discountbutton">Save 20 %</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer p-4 pt-5" style="text-align: center">
                    <h4 class="font-primarycolor fw-bold">INR 699.00</h4>
                    <div class="">
                      <button pButton style="width: -webkit-fill-available" class="btn btn-primary">
                        <span style="color: var(--p-neutral-50) !important" class="ps-5 pe-5">Top Up</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body sameline">
            <div class="container-fluid">
              <div class="row gap-5 mt-4 d-flex">
                <div class="card col px-0">
                  <!-- <div class="mostpopular">Most Popular Plan</div> -->
                  <div class="card-header p-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <h6 class="fw-bold mb-0">1 Month <br />Validity</h6>
                      <div class="text-end">
                        <span class="mb-0"><s>INR 1000</s></span>
                        <div class="btn discountbutton">Save 20 %</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer p-4 pt-5" style="text-align: center">
                    <h4 class="font-primarycolor fw-bold">INR 699.00</h4>
                    <div class="">
                      <button pButton style="width: -webkit-fill-available" class="btn btn-primary">
                        <span style="color: var(--p-neutral-50) !important" class="ps-5 pe-5">Top Up</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex mt-3 gap-3 flex-column flex-md-row">
      <div class="card flex-fill h-100 bg-white" *ngIf="studentType!=2  && !couponTab">
        <div class="card-body d-flex align-items-center">
          <div class="w-100">
            <div class="d-flex justify-content-between align-items-center">
              <h6>Apply your coupon code here</h6>
              <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">View Offers</a>
            </div>
            <p-inputgroup class=" inputheight mt-1">
              <input [(ngModel)]="couponInput" (keyup)="onInput($event)" pInputText
                placeholder="Enter Your coupon code Here" type="text" [readonly]="iscouponReadonly" />
              <i class="fa-solid fa-xmark-large" *ngIf="showCross" (click)="clearCoupon()"></i>
              <button pButton (click)="applyCoupon()" class="btn-primary" label="Apply" pButton pRipple
                type="button"></button>
            </p-inputgroup>
            <p class="mb-0 small"><span class="uniprep-lightgray" *ngIf="!invalidCoupon">Please enter a discount code to
                avail further discounts</span><span class="text-danger" *ngIf="invalidCoupon">You entered an invalid
                discount code. Please check the code and try again</span>&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="card flex-fill h-100 justify-content-center bg-white">
        <div class="card-body d-flex align-items-center">
          <div class="w-100">
            <div class="d-flex flex-row">
              <div class="flex-grow-1">
                <div *ngIf="basesubscription">
                  <p class="fw-semibold mb-0">Total</p>
                  <h4 class="mb-0 uniprep-primary" *ngIf="checkoutTotal == ''">{{ currency }} {{ subscriptionTotal |
                    number
                    : ".2-2" }}</h4>
                  <h4 class="mb-0 uniprep-primary" *ngIf="subscriptionTotal != '0.00' && checkoutTotal != ''">{{
                    currency }}
                    {{ checkoutTotal | number : ".2-2" }}</h4>
                  <p *ngIf="discountAmountEnable">Discount Percentage:{{ discountPercentage }}%</p>
                </div>
                <div *ngIf="topupcountries">
                  <h5 class="fw-semibold mb-0">
                    Countries:
                    <span class="uniprep-primary">{{ selectedTopupCountryDetails?.selectedCoutriesList?.length }}</span>
                  </h5>
                  <h5 class="fw-semibold mb-0">
                    Total:
                    <span class="uniprep-primary" *ngIf="checkoutTotal == ''"> {{ currency }} {{ subscriptionTotal |
                      number
                      : ".2-2" }}</span>
                    <span class="uniprep-primary" *ngIf="subscriptionTotal != '0.00' && checkoutTotal != ''"> {{
                      currency }}
                      {{ checkoutTotal | number : ".2-2" }}</span>
                  </h5>
                </div>
              </div>
              <div class="flex-grow-2">
                <!-- <div style="text-align: center" class="mb-2">
              <p class="text-small fw-semibold mb-0">Checkout</p>
            </div> -->
                <div class="d-flex gap-2">
                  <!-- <button pButton  *ngIf="currentCountry!='India'" [disabled]="showCheckout" class="btn btn-basic stripeborder px-4" (click)="checkout('stripe')">
                <img class="img-fluid" src="../../../../uniprep-assets/stripe.png" width="40px" />
              </button>
              <button pButton  *ngIf="currentCountry=='India'" [disabled]="showCheckout" class="btn btn-basic razorpayborder" (click)="checkout('razorpay')">
                <img class="img-fluid" src="../../../../uniprep-assets/razorpay.png" width="40px" />
              </button> -->
                  <button pButton [disabled]="showCheckout" *ngIf="currentCountry && currentCountry !== 'India'"
                    class="pt-3 pb-3 btn btn-basic w-100 btn btn-primary" (click)="checkout('stripe')">
                    Checkout
                  </button>
                  <button pButton [disabled]="showCheckout" *ngIf="currentCountry=='India'"
                    class="pt-3 pb-3 btn btn-basic w-100 btn btn-primary" (click)="checkout('razorpay')">
                    Checkout
                  </button>
                </div>
                <p *ngIf="discountAmountEnable">Discount Amount: {{ discountAmount }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- last know more about section -->

      <!-- modeal -->

      <p-dialog class="retrypopup" [modal]="true" [closable]="false" header="Header" footer="Footer"
        [(visible)]="isInstructionVisible" [style]="{ width: '27vw' }" [breakpoints]="{ '960px': '75vw' }"
        [draggable]="false" [resizable]="false">
        <ng-template pTemplate="header" style="overflow: hidden"></ng-template>
        <span style="float: right"><i (click)="closeAllHome()"
            class="fa-solid fa-circle-xmark fa-2x custom-icon"></i></span>
        <div style="margin: 10px 10px 10px 10px">
          <div class="card text-center mt-1" style="background-color: #fbfbfb; padding: 10px">
            <h3 class="p-2">What You Get With The Subscription</h3>
          </div>
        </div>

        <div class="container-fluid bg-white">
          <div class="row">
            <div class="col-md-12">
              <div class="font-secondarycolor fw-medium lh-lg">
                <p>
                  <span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Discover Unexplored Questions.
                </p>
                <p>
                  <span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Get access to smart tools and
                  resources to build your profile
                </p>
                <p>
                  <span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Alerts on upcoming events
                </p>
                <p>
                  <span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Navigate Using Smart Keyword
                  Search
                </p>
                <p>
                  <span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Get Expert Answers To Your
                  Queries
                </p>
                <p>
                  <span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Find Answers To Your Question
                  With
                  Verified Source Links
                </p>
                <p>
                  <span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Over half a million Questions
                  And
                  Answers Throughout Platform
                </p>
                <p>
                  <span><i class="fa-solid fa-circle-check custom-icon1"></i>&nbsp;</span>Ask Any Personalized Questions
                  &
                  Get Answer Within 8 Working Hours
                </p>
              </div>
            </div>
          </div>
        </div>
      </p-dialog>
      <!-- <p-dialog [(visible)]="confirmModal" [modal]="true">
		<div class="container-fluid bg-white pb-3">
			<div class="confirm-modal-header">
				Confirm Subscription
			</div>
			<div class="container-fluid px-3 py-3">
				<div class="d-flex align-items-center gap-2">
					<div class="fw-bold">Selected Base Country</div>
					<div class="confirm-modal-country">
						<img [src]="selectedSubscriptionDetails?.selectedCountry?.flag" alt="country"
							style="width: 25px;height: 25px;">
						<div class="fw-bold">{{selectedSubscriptionDetails?.selectedCountry?.country}}</div>
					</div>
				</div>
				<div class="fw-bold">Congratulations !</div>
				<div>Early Bird Offer.</div>
				<div>You Get Free Access To 13 Other Countries With The Base Subscription.</div>
				<div>Subscribe Before The Offer Ends.</div>
			</div>
			<div *ngIf="couponInput" class="confirm-modal-header" style="padding: 10px 15px; font-size: 16px;">
				Applied Coupon : {{couponInput}}
			</div>
			<br>
			<div class="confirm-modal-header d-flex align-items-center justify-content-between"
				style="padding: 10px 15px;">
				<div>
					<p class="fw-semibold mb-0">Total</p>
					<h4 class="mb-0 uniprep-primary" *ngIf="checkoutTotal == ''">INR {{ subscriptionTotal |
						number : ".2-2" }}</h4>
					<h4 class="mb-0 uniprep-primary" *ngIf="subscriptionTotal != '0.00' && checkoutTotal != ''">
						INR {{ checkoutTotal | number : ".2-2" }}</h4>
				</div>
				<button pButton  class="btn btn-primary py-3 px-5 h6 m-0" (click)="checkout()">Confirm</button>
			</div>


		</div>
	</p-dialog> -->
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Available Offers</h1>
            <button pButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
          </div>
          <div class="modal-body d-flex flex-column justify-content-center">
            <p class="btn btn-rounded mx-auto"
              style="background: #9bc32935; border: 1px dashed #9bc329; width: 100px; margin-bottom: 10px;"
              (click)="copyCoupon()" id="offerId">UNI30</p>
            <p class="text-center">Use this coupon code to unlock a 30% discount on your subscription.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>