.input-wrapper {
  position: relative;
  // display: inline-block;
}

input[type="url"] {
  padding-right: 30px; /* Adjust the value to make space for the icon */
}

.plus-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px; /* Adjust the width as needed */
  height: 25px; /* Adjust the height as needed */
  background-color: var(--uniprep-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.plus-icon i {
  color: white;
}

input[type="text"] {
  padding-right: 120px; /* Adjust the value to make space for the button */
}

.upload-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  background-color: var(--uniprep-primary);
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.border-cell {
  border: 1px solid #ccc;
  padding: 8px;
  border-width: 1px !important;
}
.file-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
:host ::ng-deep .custom-multiselect .p-multiselect-label {
  height: 40px !important;
  // font-weight: bold;
}
:host ::ng-deep .card-body {
  padding: 0 !important;
}
.card-header {
  padding: 1rem 1rem 0rem 1rem;
  border-bottom: 1px solid #b9b4b491;
  .info {
    float: left;
    p {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 0.5rem !important;
      span {
        font-size: small;
        font-weight: 400;
        color: #9d9292;
      }
    }
  }
  .filebtndiv {
    float: right;
    button {
      i {
        margin-left: 0.5rem;
      }
    }
  }
}
.folder {
  float: left;
  cursor: pointer;
  align-items: flex-start;
  padding: 1rem;
  .folderinfo {
    overflow: hidden;
    width: 40%;
    h5 {
      margin: 0 !important;
      font-size: small;
      width: 500px;
    }
    p {
      font-size: x-small;
      font-weight: 600;
      span {
        margin-left: 5px;
        font-weight: 400;
      }
    }
  }
}
.dropup {
  position: relative;
  display: inline-block;
}
i {
  cursor: pointer;
}
.dropup-content {
  display: none;
  position: absolute;
  background-color: #fbf7f7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #ddd;
}

.dropup:hover .dropup-content {
  display: block;
}
.folder-card {
  border: 1px solid #3f4c83b3;
  margin: 5px 0;
  min-width: 300px;
  max-width: 300px;
  margin: 0.2rem !important;
  border-radius: 15px;
}
.routedata {
  font-weight: 700;
  text-transform: capitalize;
  text-indent: 2px;
}
.fontcolor {
  color: #3e4d92f5;
}
.info {
  font-size: small;
  font-weight: 600;
}
@media screen and (max-width: 575.98px) {
  .card-body {
    padding: 0 !important;
    overflow-y: scroll !important;
  }
}
::ng-deep .p-dropdown {
  position: relative !important;
}
.custompaginator {
  position: relative;
  bottom: 0;
  left: 0;
}

.startup-expired{
  background: url('../../../uniprep-assets/images/Startup\ KIT@2x.jpg');
    background-size: cover;
}