.startupkitcard {
  border: 1px solid var(--primary-500);
  &:hover {
    background: var(--primary-50);
  }
}

.searchinput {
  background: transparent;
  border: 1px solid #dfe4f8;
  height: 50px;
  border-radius: 12px;
}

.dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 180px;
  overflow-y: auto;
  border: 1px solid #ccc;
  position: absolute;
  width: 30%;
  background-color: white;
  display: block;
  z-index: 1001;
}

.dropdown-list li {
  padding: 8px;
  cursor: pointer;
}

.file-item {
  display: flex;
  align-items: center;
}

.file-icon {
  width: 24px; /* Set desired width */
  height: 24px; /* Set desired height */
  margin-right: 8px;
}

.file-name {
  flex: 1;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.path-name{
  font-size: xx-small;
}
