.text-navy {
  color: var(--primary-900);
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: none;
}

.text-primary {
  color: var(--primary-500) !important;
}

.text-warning {
  color: var(--secondary-500) !important;
}

.p-button-warning {
  background-color: var(--p-neutral-50);
  color: var(--secondary-500);
  border-color: var(--secondary-500);

  &:hover {
    background-color: #fff9e6;
    color: var(--secondary-500);
    border-color: var(--secondary-500);
  }
}

.p-progressbar .p-progressbar-value {
  background: linear-gradient(to right, var(--secondary-500), #ff5722);
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: var(--secondary-500);
}

.student-details {
  .card {
    background-color: #F8F8F8 !important;
  }
}

::ng-deep .custom-progress .p-progressbar-value {
  background-color: var(--secondary-500);
}

#socialSharingList {
  right: 2rem;
  top: 4rem;
}

.profile-img {
  max-height: 200px;
  height: 100%;
  aspect-ratio: 1 / 1;
}