.resourcecard
{
  border:1px solid var(--uniprep-primary);
  &:hover
  {
    background-color: var(--uniprep-primaryop10);
  }
    .resourceimg
  {
    width:60px;
    height:60px;
    img
    {
      width:inherit;
      border-radius: 5px;
    }
  }
}
.rounded-background {
    display: inline-block;
    background-color: #3F4C83; 
    padding: 10px; 
    border-radius: 50%;
    color: white; 
  }