.invalid-feedback{
  display: block !important;
}
.forgotpassword
{
  height:100vh;
}

.p-inputgroup {
	border: 1px solid var(--primary-500);
	border-radius: 10px;
	align-items: center;
	.p-inputgroup-addon {
		background: transparent;
		border: none;
		border-radius: 0;
		border-right: 1px solid var(--primary-500);
	}
}
form {
  input {
    border:none;
    background-color: transparent;
  }
  label {
    font-size: 0.8rem;
    color: black;
  }

  :focus {
    border-color: var(--primary-500) !important;
    // background-color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  }
  .signup {
    font-size: small;
    color: black;
  }
}
.input-group-text {
  background: transparent;
  border: none;
  i {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.378);
  }
}

.icn {
  text-align: center;
  svg {
    outline: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  }
}

@media screen and (max-width: 480px) {
  .container-fluid {
    margin: auto;
  }

  .label {
    text-align: center;
  }

  .text-muted {
    color: #50555C;
    text-align: center;
  }
}