// @import "../../../uniprep-assets/buttons";
.bg-image {
  background-image: url("../../../uniprep-assets/images/Uniprep_Icons_Image_1.png");
  background-size: cover;
  background-position: center;
}
.invalid-feedback{
  display: block !important;
}
form {
  input {
    height: 2.2rem !important;
    padding: 0 0 0 10px !important;
  }
  label {
    font-size: 0.8rem;
    color: black;
  }

  :focus {
    border-color: var(--uniprep-primary) !important;
    // background-color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  }
  .signup {
    font-size: small;
    color: black;
  }
}
.input-group-text {
  background: white !important;
  border-right: 1px solid var(--uniprep-primary) !important;
  i {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.378);
  }
}

.icn {
  text-align: center;
  svg {
    outline: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  }
}