@import "../../../uniprep-assets/buttons";
.bg-image {
  background-image: url("../../../uniprep-assets/images/Uniprep_Icons_Image_1.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  form {
    background-color: white;
    width: 380px;
    border-radius: 1rem;
    margin-left: 60px;
    padding: 2rem;
  }
  .formdiv {
    height: 100vh;
    width: 100vh;
    padding-top: 8rem;
  }
}
.invalid-feedback{
  display: block !important;
}
form {
  input {
    height: 2.2rem !important;
    padding: 0 0 0 10px !important;
  }
  label {
    font-size: 0.8rem;
    color: black;
  }

  :focus {
    border-color: #9bc329 !important;
    // background-color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  }
  .signup {
    font-size: small;
    color: black;
  }
}
.input-group-text {
  background: white !important;
  border-right: 1px solid #9bc329 !important;
  i {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.378);
  }
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 10px !important;
}

.icn {
  text-align: center;
  svg {
    outline: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  }
}