.elliptical-search-bar {
    border: 2px solid orange;
    border-radius: 30px;
    padding: 1em 1.5em; 
    padding-left: 2.5em; 
    width: 100%; 
    min-width: 100%;
    box-shadow: none; 
    outline: none; 
    font-size: 16px; 
}

.dropdown-list {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    position: absolute; 
    width: 100%;
    min-width: 100%; 
    z-index: 1000; 
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.dropdown-list li {
    padding: 0.5em 1em; 
    cursor: pointer; 
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
}

.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 20px; 
    color: black; 
}

.p-button-info-search {
    background-color: #4552A3;
    color: white;
    border: none;
}

.exhausted-plan-icon-prev, .exhausted-plan-icon-next {
    padding: 10px;
    border-radius: 25px;
    background-color: #4552A3;
    color: white;
    margin-left: 5px;
} 

.p-dropdown {
    padding-top: 1.5em !important;
}

.p-dropdown .p-dropdown-label {
    padding-top: 1.5em !important; 
}

.p-dropdown .p-dropdown-panel {
    padding-top: 1.5em !important; 
}

.p-dropdown .p-dropdown-trigger {
    padding-top: 1.5em !important; 
}
