.search-icon {
	position: absolute;
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
}

.careergrowthcard
{
    background:#F4F4F4;
}


.role-details-box {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
}

.role-detail {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	color: white;
	margin: 0;
	flex: 1;
	position: relative;
	white-space: nowrap;
}

.detail-1 {
	background-color: #8a95dd;
}

.detail-2 {
	background-color: #6975bb;
}

.detail-3 {
	background-color: #4552a3;
}

.detail-4 {
	background-color: #3f4c83;
}

.role-detail:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border-left: 20px solid;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    height: 50px;
    z-index: 1;
}

.role-detail.detail-1::after {
	border-left-color: #8a95dd;
}

.role-detail.detail-2::after {
	border-left-color: #6975bb;
}

.role-detail.detail-3::after {
	border-left-color: #4552a3;
}

.role-detail.detail-4::after {
	border-left-color: #3f4c83;
}

.arrow-container {
	text-align: center;
	margin: 10px 0;
}

.arrow-icon {
	font-size: 24px;
	color: #3f4c83;
	display: block;
}

.fixed-header {
	position: sticky;
	top: 0;
	background-color: #fafafa;
	z-index: 1000;
}

.error-message {
	position: absolute;
}

.role-details-box {
	cursor: pointer;
}

.dropdown-list-container {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 96%;
	max-height: 200px;
	overflow-y: auto;
	margin-top: 10px;
	background-color: white;
	border: 1px solid var(--secondary-500);
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 9999;
  }
  
  .dropdown-list {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .dropdown-list li {
	padding: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .dropdown-list li:hover {
	background-color: #f1f1f1;
  }
  
  @media (max-width: 767px) {
	.dropdown-list-container {
	  width: 100%; 
	  max-height: 180px; 
	}
  
	input#jobSearch {
	  padding-left: 2rem; 
	}
  }
  
  @media (min-width: 768px) {
	.dropdown-list-container {
	  width: 100%; 
	  left: 0; 
	  right: auto; 
	}
  }

// div.col-md-3 {
// 	padding: 0 !important;  
// 	margin: 0 !important;  
// 	overflow: visible !important; 
// 	height: auto !important;  
//   }

  .search-page {
	height: 100vh;    
	overflow-y: auto;
	overflow-x: hidden;            
  }
  
  ::ng-deep .p-select-panel {
	position: absolute !important;
	top: 100% !important;        
	left: 0 !important;
	right: 0 !important;
	z-index: 9999 !important;  
	max-height: 200px !important;
	overflow-y: hidden !important;  
	overflow-x: hidden !important; 
	width: auto !important;   
  }
  
  @media (max-width: 768px) {
	::ng-deep .p-select-panel {
	  max-height: 150px !important; 
	}
  }

  