.elliptical-search-bar {
    border: 2px solid orange;
    border-radius: 30px;
    padding: 1em 1.5em; 
    padding-left: 2.5em; 
    width: 100%; 
    min-width: 100%;
    box-shadow: none; 
    outline: none; 
    font-size: 16px; 
}

.dropdown-list {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    position: absolute; 
    width: 100%;
    min-width: 100%; 
    z-index: 1000; 
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.dropdown-list li {
    padding: 0.5em 1em; 
    cursor: pointer; 
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
}

.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 20px; 
    color: black; 
}

.p-button-info-search {
    background-color: #4552A3;
    color: white;
    border: none;
}

.exhausted-plan-icon-prev, .exhausted-plan-icon-next {
    padding: 10px;
    border-radius: 25px;
    background-color: #4552A3;
    color: white;
    margin-left: 5px;
} 

.p-dropdown {
    padding-top: 1.5em !important;
}

.p-dropdown .p-dropdown-label {
    padding-top: 1.5em !important; 
}

.p-dropdown .p-dropdown-panel {
    padding-top: 1.5em !important; 
}

.p-dropdown .p-dropdown-trigger {
    padding-top: 1.5em !important; 
}

.role-details-box {
    padding: 0; 
    background-color: #f9f9f9; 
    margin-top: 20px; 
    display: flex; 
    align-items: center;
}

.role-detail {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 45px; 
    color: white; /* Text color */
    margin: 0; /* No margin for full extension */
    flex: 1; /* Allow each detail to grow and fill space equally */
}

.detail-1 {
    background-color: #8a95dd; 
}

.detail-2 {
    background-color: #6975bb;
}

.detail-3 {
    background-color: #4552a3; 
}

.detail-4 {
    background-color: #3f4c83;
}



