.search-icon {
	position: absolute;
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
}

.careergrowthcard
{
    background:#F4F4F4;
}

.dropdown-list-container {
	position: absolute;
	border: 1px solid var(--uniprep-secondary);
	border-radius: 10px;
	width: 96%;
	margin-top: 10px;
    z-index: 999;
	.dropdown-list {
		list-style: none;
		margin: 0;
		padding: 0;
        max-height: 200px;
        overflow-y: auto;
        li
        {
            padding:1rem;
        }
	}
}

.role-details-box {
	display: flex;
	flex-direction: row;
}

.role-detail {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	color: white;
	margin: 0;
	flex: 1;
	position: relative;
}

.detail-1 {
	background-color: #8a95dd;
}

.detail-2 {
	background-color: #6975bb;
}

.detail-3 {
	background-color: #4552a3;
}

.detail-4 {
	background-color: #3f4c83;
}

.role-detail:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border-left: 20px solid;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    height: 50px;
    z-index: 1;
}

.role-detail.detail-1::after {
	border-left-color: #8a95dd;
}

.role-detail.detail-2::after {
	border-left-color: #6975bb;
}

.role-detail.detail-3::after {
	border-left-color: #4552a3;
}

.role-detail.detail-4::after {
	border-left-color: #3f4c83;
}

.arrow-container {
	text-align: center;
	margin: 10px 0;
}

.arrow-icon {
	font-size: 24px;
	color: #3f4c83;
	display: block;
}

.fixed-header {
	position: sticky;
	top: 0;
	background-color: #fafafa;
	z-index: 1000;
}

.error-message {
	position: absolute;
}

.role-details-box {
	cursor: pointer;
}
