<div class="card readingcard">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<!-- <div class="col-md-10 order-1 order-lg-2 text-center">
				<h5 class="select-title mb-1" tooltipPosition="top" pTooltip="Within this section, you have all the necessary components to craft a solid portfolio.">RESOURCES<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
			</div> -->
			<!-- select-title css also needs to change the width -->
			<!-- after create the video just uncomment the below code. and send the youtube embeded video link -->
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="select-title d-flex justify-content-between align-items-center">
					<div>
						<h5 class="mb-0" tooltipPosition="top"
							pTooltip="Within this section, you have all the necessary components to craft a solid portfolio.">
							RESOURCES<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
					</div>
					<div>
						<button pButton class="how-it-works-button" severity="warn"
							(click)="openVideoPopup('https://www.youtube.com/embed/1KA9phVhkgM?si=mSwMe9gquEWEtI9a')">How
							it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
				<button pButton class="btn btn-outline-primary px-3 py-2" type="button" (click)="filterPopUp()">Filter
					by</button>
			</div>
		</div>
	</div>
	<div class="card-body flex-fill overflow-hidden" *ngIf="showSkeleton">
		<div class="row">
			<div *ngFor="let index of loopRange" class="col-md-3 col-sm-4 col-xs-12 col-12">
				<div class="card mb-3">
					<div class="card-body">
						<div class="row justify-content-center align-items-center">
							<div class="col-3">
								<p-skeleton height="60px"></p-skeleton>
							</div>
							<div class="col-9">
								<p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
								<p-skeleton width="100%" styleClass="mb-1"></p-skeleton>
								<p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
								<div class="d-flex gap-2">
									<p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
									<p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
									<p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body text-center flex-fill overflow-y-auto">
		<div class="container-fluid">
			<div class="row">
				<div *ngFor="let resource of resourceslist" class="col-md-3 col-12 mb-3">
					<div class="card resourcecard justify-content-center text-black h-100" (click)="canSeeResources()">
						<div class="card-body">
							<div class="h-100" id="resourceLink" *ngIf="planExpired">
								<a href="{{ resource.link }}" class="text-dark text-start text-decoration-none h-100"
									target="_blank" style="pointer-events: none">
									<div class="d-flex gap-3 align-items-center h-100">
										<div class="resourceimg"><img src="{{ resource.coverimage }}" alt="" /></div>
										<div class="d-flex flex-column gap-2 justify-content-between">
											<div>
												<h5 title="{{ resource.title }}">{{ resource.title }}</h5>
												<p style="overflow-wrap: anywhere" class="small mb-0"
													tooltipPosition="top" pTooltip="{{ resource.resourcedescription }}"
													tooltipStyleClass="tooltip">
													{{ resource.resourcedescription.length > 75 ?
													resource.resourcedescription.slice(0, 75) + "..." :
													resource.resourcedescription }}
												</p>
											</div>
											<div>
												<span *ngFor="let flag of resource.countryFlag.split(',')"
													class="resourceimg mt-4 ms-2 me-2" style="cursor: pointer">
													<img [src]="flag" loading="lazy" [style.width.px]="20"
														tooltipPosition="top" pTooltip="{{ getCountryName(flag) }}" />
												</span>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="h-100" id="resourceLink" *ngIf="!planExpired">
								<a href="{{ resource.link }}" class="text-dark text-start text-decoration-none h-100"
									target="_blank">
									<div class="d-flex gap-3 align-items-center h-100">
										<div class="resourceimg"><img src="{{ resource.coverimage }}" alt="" /></div>
										<div class="d-flex flex-column gap-2 justify-content-between">
											<div>
												<h5 title="{{ resource.title }}">{{ resource.title }}</h5>
												<p style="overflow-wrap: anywhere" class="small mb-0"
													tooltipPosition="top" pTooltip="{{ resource.resourcedescription }}"
													tooltipStyleClass="tooltip">
													{{ resource.resourcedescription.length > 75 ?
													resource.resourcedescription.slice(0, 75) + "..." :
													resource.resourcedescription }}
												</p>
											</div>
											<div>
												<span *ngFor="let flag of resource.countryFlag.split(',')"
													class="resourceimg mt-4 ms-2 me-2" style="cursor: pointer">
													<img [src]="flag" loading="lazy" [style.width.px]="20"
														tooltipPosition="top" pTooltip="{{ getCountryName(flag) }}" />
												</span>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div *ngIf="planExpired" class="resources-expired">
      <div class="row">
        <div class="col-md-2 text-start"></div>
        <div class="col-md-8 text-center">
          <h5 class="select-title mb-1" tooltipPosition="top" pTooltip="">
            RESOURCES
          </h5>
    
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="text-center mt-5 mb-4">
        <img src="../../../uniprep-assets/images/smartloack.png" class="image" width="80">
        <h3>Upgrade now to access invaluable tools</h3>
        <p><br> Upgrade your plan now to gain instant
          access.</p>
        <p class="offer">Resources offer:<br>100+ tools like CV builder, LinkedIn profile samples, global job search tools and many more to kickstart your global journey</p>
        <button pButton  pButton type="button"
          class=" text-white p-ripple p-button-rounded p-button-warning p-button p-component p-2"
          (click)="upgradePlan()">Upgrade Plan<i class="fa fa-arrow-right exhausted-plan-icon"></i></button>
      </div>
    </div> -->
	</div>
</div>

<!-- filter pop-up -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: newfile }">
	<div class="modal-dialog" role="document">
		<form role="form" [formGroup]="filterform" (ngSubmit)="filtersubmit()">
			<div class="modal-content" style="margin-top: 50% !important">
				<div class="modal-header flex justify-content-between">
					<h4 class="modal-title">Filter Resources</h4>
					<span style="cursor: pointer"><i (click)="closenewfilePopup()"
							class="fa-solid fa-circle-xmark fa-2x"></i></span>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label class="text-small mb-1">Filter by Country</label>
								<!-- <p-select class="mt-2" placeholder="Select" formControlName="coutryname" [options]="countries"
                  optionValue="id" optionLabel="country" styleClass="w-100" [filter]="true"></p-select> -->
								<p-multiSelect class="custom-multiselect" placeholder="Select"
									formControlName="coutryname" optionValue="id" placeholder="Select"
									optionLabel="country" styleClass="w-100" [options]="countries" [filter]="true"
									(onChange)="onLocationSelect($event)"></p-multiSelect>
							</div>
						</div>
					</div>
					<div class="mt-2 text-end">
						<button pButton type="submit" class="btn btn-primary">Apply Filter</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>