.resourcecard
{
  border:1px solid var(--primary-500);
  &:hover
  {
    background-color: var(--primary-50);
  }
    .resourceimg
  {
    width:60px;
    height:60px;
    img
    {
      width:inherit;
      border-radius: 5px;
    }
  }
}