.upper-text {
    width: auto;
    font-size: 20px;
    font-weight: normal;
    padding: 20px 220px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -13px;
  }

.card-style {
  border-radius: 0px 0px 10px 10px;
  background-color: #F5F5F5;
  a
  {
    color:#001631;
    padding: 1.5rem 1rem;
    text-decoration: none;
  }
  &:hover
  {
    background-color: var(--uniprep-primary);
    color:#fff;
    a
    {
      color:#fff !important;
    }
  }
}
