.upper-text {
    width: auto;
    font-size: 20px;
    font-weight: normal;
    padding: 20px 220px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -13px;
  }

  .card-style {
    padding: 30px 50px;
    border-radius: 0px 0px 10px 10px;
    background-color: lightsteelblue;
  }