<div class="container-fluid">
  <div class="row">
    <div class="card readingcard">
      <div class="card-body pt-0">
        <div class="row justify-content-center">
          <div class="col-md-2 text-start">
          </div>
          <div class="col-md-8 text-center">
            <h5 class="select-title mb-1" tooltipPosition="top"
              pTooltip="Within this section, you have all the necessary components to craft a solid portfolio.">
              RESOURCES<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div *ngFor="let resource of resourceslist" class="col-md-3 col-12 mt-3 ">
              <div class="card card-style text-black">
                <a href={{resource.link}} class="fw-semibold text-dark text-start" target="_blank">
                  <div class="flex justify-content-between">
                    <div style="display: flex;">
                      <img style="width: 55px; margin-right: 10px;" src="{{resource.coverimage}}" alt="">
                      <div style="text-align: start; overflow: hidden;">
                        <h6>
                            <span style="font-size: 20px;">{{resource.title.length>15 ?resource.title.slice(0,15)
                              +'...':resource.title}}</span>
                          </h6>
                        <p style="text-align: start; height: 38px; font-size: small; font-weight: 100px !important;">
                          {{resource.resourcedescription.length > 75 ? resource.resourcedescription.slice(0, 75) + '...'
                          : resource.resourcedescription}}
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>