.p-button-info-prev {
	background-color: #0e3361;
	color: white;
	border: none;
}

.p-button-info-next {
	background-color: #4552a3;
	color: white;
	border: none;
}

.p-button-info-succes {
	background-color: #9bc329;
	color: white;
	border: none;
}

:host ::ng-deep .fa-check-circle {
	color: #83a81a !important;
}

.bg-grey {
	background-color: lightgrey;
}

.exhausted-plan-icon-prev {
	padding: 10px;
	border-radius: 25px;
	background-color: #0e3361;
	color: white;
	margin-left: 5px;
}

.exhausted-plan-icon-next {
	padding: 10px;
	border-radius: 25px;
	background-color: #4552a3;
	color: white;
	margin-left: 5px;
}

.question-number {
	font-size: 18px;
	color: #3f4c83;
	font-weight: 500;
}

.question {
	color: #001631;
	font-size: 25px;
}

.product-item-content {
	margin: auto;
	width: 70%;
	padding: 10px;
}

.b-1 {
	border: 1px solid lightgray;
	padding: 10px 5px;
	margin: 5px 0px;
	border-radius: 5px;
}

:host ::ng-deep .p-checkbox .p-checkbox-box {
	border-radius: 25px !important;
}

:host ::ng-deep.p-checkbox .p-checkbox-box.p-highlight {
	border-color: #0e3361;
	background: #0e3361;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
	width: 10px;
	height: 10px;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
	border-radius: 20px;
}

@media (max-width: 575.98px) {
	.product-item-content {
		margin: auto;
		padding: 10px;
	}

	.question-number {
		font-size: 12px;
		color: #3f4c83;
		font-weight: 500;
	}

	.question {
		color: #001631;
		font-size: 14px;
	}

	.module-list {
		width: 46% !important;
	}
}

:host ::ng-deep .p-carousel-prev {
	align-self: end !important;
}

:host ::ng-deep .p-carousel-next {
	align-self: end !important;
}

.module-list {
	width: 22%;
}

:host ::ng-deep .p-card {
	background-color: #ebedf2 !important;
}

.module-name {
	color: #121212;
	font-size: 16px;
}

.b-none {
	border: none !important;
}

:host ::ng-deep .bg-blue {
	.p-card {
		background-color: #0e3361 !important;

		.p-card-body {
			padding: 5px 15px !important;
		}
	}
}

.info-recommend {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
}

.text-align-right {
	text-align: right;
}

.p-danger-button {
	background-color: #e53939 !important;
	color: white !important;

	.fa-circle::before {
		color: #be2b2b !important;
	}
}

.hyperlink {
	cursor: pointer;
}

.custom-dropdown-width {
	width: 200px;
}

.blue-color {
	color: var(--uniprep-primary);
}

.subjectcard
{
	background: white;
	border: 1px solid var(--uniprep-primary);
	padding:0px 5px
}
.careerdivider
{
	position: absolute;
    right: -14px;
    height: 100%;
    border: 1px;
    width: 2px !important;
    padding: 0;
	opacity: 0.5;
	background-color:#3F4C83;
	margin-top:0px;
}
.careerimage {
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.joblogos {
	display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    padding: 2px;
	img {
		object-fit: contain;
        max-height:25px;
        margin: auto;
		width:100%;
	}
}
.small-font-size {
	font-size: x-small;
}
