<div class="card readingcard bg-white">
	<div class="card-body d-flex flex-column justify-content-between pt-0">
		<div class="row justify-content-center">
			<div class="col-md-3 text-start"></div>
			<!-- <div class="col-md-6 text-center">
				<h5 class="select-title w-100 mb-1" tooltipPosition="top" pTooltip="Career Planner">CAREER PLANNER<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
			</div> -->
			<div class="col-md-6 text-center">
				<div class="select-title text-nowrap d-flex justify-content-between align-items-center">
					<div>
						<h5 class="w-100 mb-1" tooltipPosition="top" pTooltip="Career Planner">CAREER PLANNER<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
					</div>
					<div>
						<button class="how-it-works-button" (click)="openVideoPopup('https://www.youtube.com/embed/jG3wFxF8zZI?si=2I3dijKIH-aEisoS')">How it works? <i class="fa-solid fa-play"></i></button>
					</div>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="d-flex gap-1 my-2 align-items-center justify-content-end" *ngIf="enableModule">
					<label for="exportButton" class="text-small">Currency in</label>
					<div class="d-flex align-items-center p-1 gap-1" style="background-color: #EBEDF2;border-radius: 10rem;">
						<button class="btn btn-primary text-small"  [ngClass]="{'inactiveButton': currencyButtonName == 'inr'}" (click)="toggleClass('Dollar')" style="border-radius: 20px !important;" type="button">$ Dollar</button>
						<button class="btn btn-primary text-small"  [ngClass]="{'inactiveButton': currencyButtonName == 'Dollar'}" (click)="toggleClass('inr')" style="border-radius: 20px !important;" type="button">₹ INR</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid" *ngIf="!enableModule">
			<p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="false" [showNavigators]="false" [showIndicators]="false" [page]="activePageIndex" *ngIf="!enableModule">
				<ng-template let-product let-i="index" pTemplate="item">
					<div class="d-flex flex-column h-100 justify-content-between">
						<div class="product-item">
							<div class="product-item-content">
								<div class="p-mb-3"></div>
								<div class="text-center">
									<p class="question-number p-2">Question Number {{ product.id }}</p>
									<h4 class="p-mb-1 question p-2">{{ product.question }}</h4>
								</div>
								<div class="check-list">
									<ng-container *ngIf="product.id == 1 || product.id == 4 || product.id == 7">
										<div class="flex align-items-center b-1" *ngFor="let item of arrayMap[product.arrayName]">
											<p-radioButton id="yes_{{ product.id }}" [ngClass]="{ 'ng-invalid ng-dirty': invalidClass === true }" name="selection_{{ product.id }}" [value]="item.id" (onClick)="onClickRadioButton(product.id)" [(ngModel)]="selectedData[product.id]"> </p-radioButton>
											<label id="yes_{{ product.id }}">&nbsp;&nbsp;{{ item.value }}</label>
										</div>
									</ng-container>

									<ng-container *ngIf="product.id == 2 || product.id == 5 || product.id == 8">
										<div class="flex align-items-center">
											<p-dropdown [options]="arrayMap[product.arrayName]" [filter]="true" [(ngModel)]="selectedData[product.id]" optionLabel="subject_name" styleClass="w-100" optionValue="id" [showClear]="true" [placeholder]="product.placeholder"></p-dropdown>
										</div>
									</ng-container>

									<ng-container *ngIf="product.id == 3 || product.id == 6 || product.id == 9">
										<div class="flex align-items-center">
											<p-multiSelect [options]="arrayMap[product.arrayName]" [filter]="true" styleClass="w-100" [(ngModel)]="selectedData[product.id]" optionValue="id" [showClear]="true" optionLabel="specialisation_name" [placeholder]="product.placeholder" selectedItemsLabel="{} items selected"></p-multiSelect>
										</div>
									</ng-container>

									<p class="text-center" [ngClass]="{ 'd-none': invalidClass === false }" style="color: red">Please Choose Any one option</p>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-between">
							<button pButton type="button" [style.visibility]="product.id == 1 ? 'hidden' : 'visible'" class="text-white p-ripple p-button-rounded p-button-info-prev p-button p-component p-2" (click)="previous(product.id)"><i class="fa fa-arrow-left exhausted-plan-icon-prev"></i> Previous</button>
							<button pButton type="button" *ngIf="product.id != 9 && !nxtOrRecommendBtn" class="text-white p-ripple p-button-rounded p-button-info-next p-button p-component p-2" (click)="next(product.id)">Next<i class="fa fa-arrow-right exhausted-plan-icon-next"></i></button>
							<button pButton type="button" *ngIf="product.id == 9 || nxtOrRecommendBtn" class="text-white p-ripple p-button-rounded p-button-info-succes p-button p-component p-2" (click)="getRecommendation(product.id)">Get Job Recommendations<i class="fa fa-check-circle exhausted-plan-icon-success"></i></button>
						</div>
					</div>
				</ng-template>
			</p-carousel>
		</div>
		<div class="container-fluid" *ngIf="enableModule">
			<p-card class="bg-blue">
				<p class="text-white text-center fw-bolder">We recommended {{totalRowCount}} job roles based on your specialization, along with average salaries in the top 5 countries.</p>
			</p-card>
			<div class="border mt-2 rounded-2">
				<div class="d-flex flex-column m-2" *ngFor="let item of careerListData">
					<div class="row p-2">
						<div class="col-4">
							<p class="text-start  fw-bold blue-color">{{ item.key }}</p>
						</div>
						<div class="col-8">
							<p class="text-center fw-bold blue-color">Top 5 countries for {{ item.key }}</p>
						</div>
					</div>
					<div class="row justify-content-center mb-0">
						<div *ngFor="let subItems of item.value" class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 col-12 mb-3">
							<div class="row w-100 m-0 justify-content-center h-100">
								<div class="card subjectcard">
									<div class="card-body d-flex flex-column justify-content-between text-center py-2 px-0">
										<div>
											<div class="careerimage m-auto">
												<img alt="{{ subItems.country_name }}" class="img-responsive" src="{{ subItems.storage_path }}country-flags/{{ subItems.flag }}" />
											</div>
											<h5 class="text-center d-md-block d-none pt-2">{{ subItems.country_name }}</h5>
											<p class="fw-bold text-small">Average Salary</p>
											<p class="fw-medium mb-2" [ngClass]="{'d-none': currencyButtonName == 'inr'}" [ngStyle]="{'font-size.px': subItems.salary.length > 19 ? 12 : 15}"  style="white-space: nowrap;">{{ subItems.salary }}</p>
											<p class="fw-medium mb-2" [ngClass]="{'d-none': currencyButtonName == 'Dollar'}" [ngStyle]="{'font-size.px': subItems.salary.length > 19 ? 12 : 15}"  style="white-space: nowrap;">{{ subItems.inr_salary }}</p>
										</div>
										<div>
											<p class="fw-bold"  style="font-size:0.7rem;">Top 4 Job Sites</p>
											<div class="d-flex justify-content-center gap-2 my-1">
												<ng-container *ngFor="let jobs of subItems.job_site_data">
													<div class="joblogos">
														<a target="_blank" title="{{ !jobs.job_site_url.startsWith('http://') && !jobs.job_site_url.startsWith('https://') ? 'http://' + jobs.job_site_url : jobs.job_site_url }}" href="{{ !jobs.job_site_url.startsWith('http://') && !jobs.job_site_url.startsWith('https://') ? 'http://' + jobs.job_site_url : jobs.job_site_url }}">
															<img alt="{{ jobs.country }}" class="img-responsive" src="{{ subItems.storage_path }}JobSite/{{ jobs.job_site_logo }}" />
														</a>
													</div>
												</ng-container>
											</div>
										</div>
									</div>
									<hr class="vr careerdivider" *ngIf="subItems.country_name == 'India'">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p-paginator [rows]="perPage" [totalRecords]="totalRowCount" [rowsPerPageOptions]="[30, 40, 50]" (onPageChange)="paginate($event)" *ngIf="enableModule" dropdownAppendTo="body"></p-paginator>
		<div class="text-align-right p-2" *ngIf="enableModule">
			<button pButton type="button" (click)="resetRecommendation()" class="text-black b-none p-ripple p-button-rounded p-danger-button p-button p-component p-2 bg-white">
				Reset Job Recommendations<span class="fa-stack">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-undo fa-stack-1x fa-inverse"></i>
				</span>
			</button>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>
