<div class="h-100 previewBodyForm">
    <div class="text-center" id="personalinfo">
        <h1 class="m-0">{{ f["user_name"].value }}</h1>
        <p class="m-0">{{ f["user_job_title"].value }}</p>
        <hr />
        <div class="d-flex justify-content-between font-12">
            <a [href]="'tel:' + f['user_phone'].value" target="_Blank">{{ f["user_phone"].value }}</a>
            <a [href]="'tel:' + f['user_email'].value" target="_Blank">{{ f["user_email"].value }}</a>
            <a [href]="f['user_linkedin'].value" target="_Blank">LinkedIn</a>
            <a [href]="f['user_website'].value" target="_Blank">{{ f["user_website"].value }}</a>
            <span>{{ f["user_location"].value }}</span>
        </div>
        <hr />
        <div>
            <h2>Summary</h2>
            <p class="m-0" [innerHTML]="f['user_summary'].value"></p>
        </div>
    </div>
    <hr />
    <div class="d-flex gap-1">
        <div class="w-75 d-flex flex-column justify-content-between">
            <div id="education">
                <h2 class="m-0">Education</h2>
                <div class="d-flex flex-wrap">
                    <div class="w-50" *ngFor="let edu of getEduDetailsArray.controls">
                        <h3 class="m-0">{{ edu.value.edu_degree }}</h3>
                        <h4 class="m-0">{{ edu.value.edu_college_name }} {{ edu.value.edu_percentage ? " | " + edu.value.edu_percentage : "" }} {{ edu.value.edu_cgpa_percentage }}</h4>
                        <p class="m-0">{{ edu.value.edu_location }} {{ edu.value.edu_start_year }} {{ edu.value.edu_end_year ? " - " + edu.value.edu_end_year : "" }}</p>
                    </div>
                </div>
            </div>
            <hr />
            <div id="experience">
                <h2 class="m-0">Experience</h2>
                <div class="mb-1" *ngFor="let exp of getWorkExpArray.controls">
                    <h3 class="m-0">{{ exp.value.work_designation }} {{ exp.value.work_type ? " - " + exp.value.work_type : "" }}</h3>
                    <h4 class="m-0">{{ exp.value.work_org_name }} {{ exp.value.work_location ? " | " + exp.value.work_location : "" }} {{ exp.value.work_start_year ? " | " + exp.value.work_start_year : "" }} {{ exp.value.work_end_year ? " - " + exp.value.work_end_year : "" }}</h4>
                    <p class="m-0" [innerHTML]="exp.value.work_job_description"></p>
                </div>
            </div>
            <hr />
            <div id="project">
                <h2 class="m-0">Project</h2>
                <div class="mb-1" *ngFor="let project of getProjectDetailsArray.controls">
                    <h3 class="m-0">{{ project.value.project_name }}</h3>
                    <h4 class="m-0">{{ project.value.project_start_name }} {{ project.value.project_end_name ? " - " + project.value.project_end_name : "" }}</h4>
                    <p class="m-0" [innerHTML]="project.value.project_description"></p>
                </div>
            </div>
        </div>
        <div><hr class="h-100" /></div>
        <div class="w-25 d-flex flex-column justify-content-between">
            <div id="certificates">
                <h2 class="m-0">Certificates</h2>
                <div *ngFor="let certificate of getCertificatesArray.controls">
                    <h3 class="m-0">{{ certificate.value.certificate_name }}</h3>
                    <h4 class="m-0">{{ certificate.value.certificate_issued }}</h4>
                    <p class="m-0">{{ certificate.value.certificate_id }}</p>
                    <a [href]="certificate.value.certicate_link" target="_Blank">Certificate Link</a>
                </div>
            </div>
            <hr />
            <div id="language">
                <h2 class="m-0">Languages Known</h2>
                <ul>
                    <li *ngFor="let lang of getLanguagesKnownArray.controls">{{ lang.value.language }} {{ lang.value.lang_proficiency ? " - " + lang.value.lang_proficiency : "" }}</li>
                </ul>
            </div>
            <hr />
            <div id="skills">
                <h2 class="m-0">Skills</h2>
                <ul>
                    <li *ngFor="let skill of getSkillsArray.controls">{{ skill.value.skills }} {{ skill.value.skills_proficiency ? " - " + skill.value.skills_proficiency : "" }}</li>
                </ul>
            </div>
            <hr />
            <div id="hobbies">
                <h2 class="m-0">Hobbies</h2>
                <ul>
                    <li *ngFor="let hobby of getHobbiesArray.controls">{{ hobby.value.hobbies }}</li>
                </ul>
            </div>
            <hr />
            <div id="achievements">
                <h2 class="m-0">Other Achievements</h2>
                <ul>
                    <li *ngFor="let extra of getExtraCurricularArray.controls">{{ extra.value.extra_curricular_activites }}</li>
                </ul>
            </div>
            <hr />
            <div id="references">
                <h2 class="m-0">References</h2>
                <div *ngFor="let refer of getReferenceArray.controls">
                    <h4 class="m-0">{{ refer.value.ref_name }} {{ refer.value.ref_position ? " | " + refer.value.ref_position : "" }}</h4>
                    <p class="m-0">{{ refer.value.ref_organization }} {{ refer.value.ref_contact ? " | " + refer.value.ref_contact : "" }}</p>
                    <p>{{ refer.value.ref_email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>