.contributor-img-sec {
    width: 80px;
    height: 80px;
    border: 1px solid var(--p-primary-100);
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.contributor-tag {
    background: var(--p-primary-400);
    color: var(--p-neutral-50);
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 0.85rem;
    width: 75px;
    line-height: initial;
    position: absolute;
    top: 7px;
    right: 7px;
}

.no-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;

     i {
        font-size: 30px;
        color: var(--p-neutral-50);
    }
}

.questioncard {
	border: 1px solid var(--p-primary-500);
	padding: 0;
}

.answercard {
	background-color: var(--p-primary-50);
	border: 2px solid var(--p-primary-500);
	overflow-y: auto;
}

.socialShareBtn {
	height: 40px;
	width: 40px;
	border-radius: 50px !important;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#socialSharingList {
	display: none;
	position: absolute;
	right: 0rem;
	top: 3rem;
}

#socialSharingList ul {
	padding: 10px !important;
	margin-bottom: 0;

	li {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
	}

	i {
		margin-right: 10px;
	}
}