<div class="card readingcard">
	<div class="card-body pt-0">
		<div class="row justify-content-center">
			<div class="col-md-2 text-start">
			</div>
			<div class="col-md-8 text-center">
				<h5 class="select-title mb-1" tooltipPosition="right"
					pTooltip="Questions related to the application process are answered">TERMS & CONDITIONS<i
						class="questiontooltip fa-solid fa-circle-question"></i></h5>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row justify-content-center">
			<div class="modal-body">
				<div class="card-body mt-2">
					<h3 class="mb-0">Terms & Conditions</h3>
					<p class="mb-0">Last update: 1 February 2024</p>
					<hr />
					<p>
						These Terms of Use are created to govern the access and use of the Services in SOP Expert. The
						Terms of Use, as well as the User Agreement, which will be provided after Your Account
						registration, constitute legally binding agreement between You, as the User of the Services
						UNIPREP, and UNIABROAD LTD (may refer to "We", "Our", "Ours" or "Us" in the Terms of Use),Please
						read this Terms of Use carefully as far as it will regulate relations between you and us in the
						course of your use of
						the Service. By using the Service you agree to be bound by the terms and conditions stated
						herein. You claim and warrant that You have the full legal authority to enter these Terms of Use
						and to be legally bound by them
					</p>
					<hr />
					<h4>LICENSE</h4>
					<h5 class="text-decoration-underline">LICENSE TO USE THE SITE</h5>
					<p>
						In consideration for Your consent to follow these Terms, We grant You a non-transferable,
						non-exclusive, worldwide license to use the Site and the Services only for Your personal,
						non-commercial purposes to find the similarity in the texts or other materials. No other license
						is granted. You may not modify, copy, distribute, transmit, display, perform, reproduce,
						publish, license, create derivative works from, transfer, or sell any information or services
						from the Site without our
						direct prior written consent. While UNIPREP provides comprehensive services to enhance your
						career, it is important to note that the platform and the company are not responsible for any
						prospective or specific growth in your career or choice you may make.
					</p>
					<h5 class="text-decoration-underline">LICENSE BY YOU</h5>
					<p>
						When You upload, submit, store, send or receive Text information to, or from our Services, You
						give/grant to Us (Our representatives, agents, employees) a worldwide, non-exclusive,
						royalty-free, perpetual, irrevocable license to use, host, store, create derivative works (such
						as those resulting from translations, adaptations or other changes), reproduce such content. The
						rights that You grant by this license are for the limited purpose of operating, performing and
						improving our
						Services, and developing new ones. This license shall survive termination or suspension of these
						Terms notwithstanding the reason for such termination or suspension. Any suggestions you give or
						messages sent on the chat window do not grant any license or promise to enhance your career
						accomplishments in any way.
					</p>
					<h5 class="text-decoration-underline">ACCEPTABLE USE POLICY</h5>
					<p>
						You shall use the Services in full compliance with these Terms. You acknowledge that the main
						purpose of the Services is to provide guidance through information related to career in general
						and study abroad. It does not target any specific course details or expertise. Thereby the user
						agrees to use UNIPREP for gaining information in any manner or to any extent provided. We do not
						assure of any kind of certain results to be achieved from the use of UNIPREP. The usage of the
						Services
						for any other purposes of any other materials than the educational records or materials related
						to Your own internalactivities shall be previously agreed with Us.
					</p>
					<h6>You shall not:</h6>
					<ol>
						<li>copy, modify duplicate or create derivative works based on the Site and the Services;</li>
						<li>Republish, download, display, transmit, or distribute all or any portion of the Site or
							software included in Site in any form or media or by any means;</li>
						<li>access content or data not intended for You, log onto a server or account that You are not
							authorized to access, or otherwise violate or attempt to violate any security or
							authentication feature or measures of the Site or the Services;</li>
						<li>attempt to access or derive the source code or architecture of the Services software;</li>
						<li>attempt to reverse compile, disassemble, reverse engineer or otherwise reduce to
							human-perceivable form all or any part of the Site or software included in the Site;</li>
						<li>attempt to probe, scan or test the vulnerability of the Site, or any associated system or
							network, or to breach any security or authentication feature or measures of the Site;</li>
						<li>interfere or attempt to interfere with Services to any User, host or network, including,
							without limitation, by means of submitting malicious software or computer code to the Site
							or the Services, load testing, overloading, "flooding," "spamming," "mail bombing,"
							"crashing,";</li>
						<li>
							email or otherwise transmit any content that (i) infringes any intellectual property or
							other proprietary rights; (ii) You do not have a right to upload under any law or under
							contractual or fiduciary relationships; (iii) contains any malicious code, files or programs
							designed to interrupt, destroy or limit the functionality of any computer software or
							hardware or telecommunications equipment; (iv) poses or creates a privacy or security risk
							to any person or entity; (v) constitutes
							unsolicited or unauthorized materials; or (vi) is otherwise objectionable;
						</li>
						<li>automate access to the Site or the Services, including, without limitation, through the use
							of bots, scrapers or other similar devices;</li>
						<li>use or access any services, or software in order to build a competitive product, service or
							solution;</li>
						<li>
							access, store, distribute or transmit via, during the course of its use of the Site
							information that is unlawful, harmful, threatening, defamatory, obscene, infringing,
							harassing or racially or ethnically offensive, facilitates illegal activity, depicts
							sexually explicit images, promotes unlawful violence, is discriminatory based on race,
							gender, color, religious belief, sexual orientation, disability, or any other illegal
							activity or causes damage or injury to any person or
							property;
						</li>
						<li>violate any applicable law or regulations.</li>
					</ol>
					<p>You shall use all reasonable endeavors to prevent any unauthorized access to, or use of, the Site
						and, in the event of any such unauthorized access or use, promptly notify Us.</p>
					<p>You represent and warrant that You are not on a list of persons barred and are not the subject of
						any sanction administered or enforced by the law</p>
					<hr />
					<h4>REGISTRATION AND USER ACCOUNT</h4>
					<p>
						You will need to pass the registration procedure and create Your Account to obtain access to the
						Services. The registration procedure covers the transfer of Your Personal Data to Us by filing
						the information. By completing the registration procedure on the Site, You agree to use the
						Services in accordance with these Terms and Your User Agreement, which will be provided after
						the registration. You agree to provide us with accurate and complete registration information.
						The failure to
						provide accurate information may affect Your use of the Services.
					</p>
					<p>To learn more about the collection, storage and transfer of the User's Personal Data, please read
						our Privacy Policy and Cookie Policy.</p>
					<p>You are solely responsible for all activity in connection with access to the Site and/or the
						Services through Your Account or using Your password, and for the security of Your computer
						systems, and in no event shall We be liable for any loss or damages relating to such activity.
					</p>
					<hr />
					<h4>FEES AND PAYMENT</h4>
					<p>The amount of fees and payments for the use of the Services depends on the amount of the ordered Users' Account or Search requests (Page) You have chosen. UNIABROAD and UNIPREP can change the subscription plans and the costing at any time.<br />There are multiple subscription plans on the platform for the users to choose from. The payment can be made digitally, either through UPI or card.<br />Please note that UNIABROAD and UNIPREP do not charge any cancellation fees or offer any refund on any of the subscription plans.<br>It's essential to note that when you upgrade your subscription, the previous subscription is automatically discontinued, and the new subscription begins immediately.
					<hr />
					<h4>INTELLECTUAL PROPERTY RIGHTS</h4>
					<p>You acknowledge that all rights in and to the Site and its content, including visual interface,
						graphics, design, text materials, compilations, computer code, software and all other elements
						of the Site are and shall remain Our sole property.</p>
					<p>As expressly stated herein, these Terms do not grant You any rights to, or in, patents,
						copyrights, database rights, trade secrets, trade names, trademarks (whether registered or
						unregistered), or any other rights or licenses in respect of the Site and Services.</p>
					<p>We confirm that We have all the rights in relation to the Site and Services that are necessary to
						grant all the rights We purport to grant under and in accordance with these Terms.</p>
					<hr />
					<h4>MODIFICATION OF SITE AND SERVICES</h4>
					<p>We may from time to time modify, alternate or change design, functionality or information
						contained on the Site at Our own discretion without any prior notice to You.</p>
					<hr />
					<h4>MODIFICATION OF THESE TERMS</h4>
					<p>
						We reserve the right to change these Terms of Use or the User Agreement. We may notify You about
						such changes in Our legal documents, including these Terms of Use, User Agreement, Service Level
						Agreement and/or any other kind of legal and information document regarding the Site, the
						Services and/or any other area of relations between You and Us, by the email or through a
						notification on the Site. The updates become legally binding after the posting of the renewed
						Terms on the Site.
						Your use of the Services following any such update or revision constitutes Your agreement to be
						bound by and comply with these Terms as updated or revised.
					</p>
					<p>No modification to these Terms of Use or any other legal document at this Site by You is allowed.
						Any abovementioned modification, alteration, or change of any kind without Our express written
						consent shall be negligent.</p>
					<hr />
					<h4>TERMINATION</h4>
					<p>We reserve the right at any time without liability to You at Our sole discretion to limit,
						suspend or revoke Your access to the Services in case of any breach of these Terms of Use or any
						other written Agreement between You and Us.</p>
					<hr />
					<h4>WARRANTY, DISCLAIMER and LIMITATION of LIABILITY</h4>
					<p>
						Other than as expressly set out in these terms of use or legal documents at this site, neither
						we nor our licensees, vendors, agents, or affiliates make any specific promises, warranties or
						representation about the site. site and services are provided on "as is" and "as available"
						basis. We do not make any statements or give any warranties about the results obtained by using
						the site and services, the specific functions of the site or it's reliability, availability,
						accuracy or
						ability to meet your needs. we do not warrant that access to the site and services will be
						uninterrupted or error-free, or that defects in the site or services will be corrected. some
						jurisdictions provide for certain warranties, like the implied warranty of merchantability,
						fitness for a particular purpose and non-infringement. To the fullest extent permitted by law,
						we exclude all such warranties.
					</p>
					<p>you acknowledge and agree that the services have information purposes only and provide the
						similarity check of your text information. In any case, the results of the similarity check
						provided by the services shall be subject to your further review. we shall not be responsible or
						liable for any results of your services use, their interpretation and consequences of such
						interpretation.</p>
					<p>we and our licensees, vendors, agents, and affiliates will not be responsible for loss of
						profits, revenues or data, admissions, financial losses or indirect, special, consequential,
						exemplary or punitive damages.</p>
					<p>under no circumstances shall we and our licensees, vendors, agents, or affiliates be liable for
						any loss or damage that is not reasonably foreseeable.</p>
					<hr />
					<h4>LOGOS USE</h4>
					<p>We hereby grant to You a limited, non-exclusive, non-transferable, non-sublicensable,
						royalty-free and revocable license to use Our logo "UNIPREP" for the limited purposes subject to
						the terms and conditions of these Terms of Use.</p>
					<p>Within the scope of the license granted to You here under You can list Us as Your counter party
						in Your Website and/or in Your advertising materials and display Our logo for these purposes.
						But in any case, You agree that any use of Our logo by You shall be subject to Our previous
						written approval.</p>
					<h6>You do not permit to make any changes to Our logo, including, but not limited to:</h6>
					<ul>
						<li>Distort the logo by scaling disproportionally;</li>
						<li>Adjust the colors of or add gradients to the logo;</li>
						<li>Change the typeface;</li>
						<li>Reconfigure the logo or add embellishments like drop shadows;</li>
						<li>Outline the logo;</li>
						<li>Size the logo so small that it is not readable;</li>
						<li>Manipulate or alter the logo in any other way.</li>
					</ul>
					<p>You agree not to challenge or assist others to challenge Our logo (except to the extent such
						restriction is prohibited by applicable law), and You agree not to register or attempt to
						register any domain names, trademarks, trade names, or other distinctive brand features that are
						confusingly similar to those of Us.</p>
					<p>We reserve the right in Our sole discretion to terminate or modify Your permission to display Our
						logo and to take action against any use that does not conform to the terms and conditions set
						forth herein, infringes any of our intellectual property or other right, or violates applicable
						law. Any use of Our logo without Our prior written permission, other than as specifically
						authorized by these Terms of use, is strictly prohibited.</p>
					<p>All disputes related to these Terms of Use shall be resolved by negotiations between the parties,
						which agree to make all efforts to resolve the dispute.</p>
				</div>
			</div>
		</div>
	</div>
</div>