<nav class="navbar navbar-expand-md flex-column navbar-light sticky-top pt-0" id="mainmenu">
    <div class="topmarquee container-fluid justify-content-center">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-0 py-2 text-center text-white"><span class="h5 fw-semibold">UNIPREP 1.0</span> is live now!
                    Explore our features today. <a href="/register" class="text-white">Try now for free</a></p>
            </div>
        </div>
        <!-- <marquee class="text-white py-2">Enjoy free access to UNIPREP till 1st January 2024.</marquee> -->
    </div>
    <div class="container-fluid d-md-flex d-none">
        <!-- Your brand/logo (optional) -->
        <a class="navbar-brand py-0" href="#">
            <img class="lightmodelogo" src="/uniprep-assets/images/uniprep-dark.png" />
            <!-- <img class="darkmodelogo" src="/uniprep-assets/images/uniprep-dark.png" /> -->
        </a>

        <!-- Inside your component's template -->
        <ul class="nav flex-row gap-2">
            <li class="nav-item">
                <a class="nav-link active text-white fw-regular" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-regular" aria-label="About UNIPREP" href="/home">About UNIPREP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-regular" aria-label="Key Features" href="/home">Key Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-regular" aria-label="FAQ" href="/home">F.A.Q</a>
            </li>
            <!-- Add other desktop menu items as needed -->
        </ul>

        <div class="d-flex gap-4 align-items-center">
            <a [routerLink]="['/login']" class="text-decoration-none text-white">Login</a>
            <a [routerLink]="['/register']" class="text-decoration-none"><button pButton type="button"
                    class="btn btn-secondary px-4 py-2 m-0">Register</button></a>
        </div>
    </div>

    <div class="container-fluid d-md-none">
        <!-- Your brand/logo (optional) -->
        <a class="navbar-brand py-0" href="#">
            <img class="lightmodelogo" src="/uniprep-assets/images/uniprep-dark.png" />
            <!-- <img class="darkmodelogo" src="/uniprep-assets/images/uniprep-dark.png" /> -->
        </a>

        <!-- Hamburger button for mobile -->
        <button pButton class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas"
            data-bs-placement="right" data-bs-target="#sidebarNav" aria-controls="sidebarNav">
            <!-- <span class="navbar-toggler-icon text-white"></span> -->
            <i class="fa-regular fa-bars fa-2xl" role="button"></i>
        </button>

        <!-- Sidebar navigation (offcanvas) -->
        <div class="offcanvas offcanvas-end text-bg-dark" data-bs-scroll="true" tabindex="-1" id="sidebarNav"
            aria-labelledby="sidebarNavLabel">
            <div class="offcanvas-header justify-content-end mt-2">
                <!-- Close button (X) to close the sidebar -->
                <i class="fa-solid fa-xmark text-white fa-2xl" role="button" data-bs-dismiss="offcanvas"></i>
            </div>
            <div class="offcanvas-body justify-content-center d-flex align-items-center">
                <!-- Mobile menu items -->
                <ul class="nav flex-column gap-5 w-100">
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link active text-white fw-medium text-center h4" aria-current="page"
                            href="/home">Home</a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link text-white fw-medium text-center h4" aria-label="About"
                            href="/home">About</a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link text-white fw-medium text-center h4" aria-label="keyfeatures"
                            href="/home">Key Features</a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link text-white fw-medium text-center h4" aria-label="FAQ" href="/home">F.A.Q</a>
                    </li>
                    <!-- Add other mobile menu items as needed -->
                    <li class="nav-item text-center">
                        <a [routerLink]="['/login']"
                            class="text-decoration-none text-center h4 text-white fw-regular">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="text-decoration-none"><button pButton type="button"
                                class="w-100 h4 btn btn-secondary px-4 py-2 m-0">Try for Free</button></a>
                    </li>
                </ul>
            </div>
            <!-- "Try for Free" button (common for both mobile and desktop) -->
        </div>
    </div>
    <!-- <div class="landingmodeswitch">
		<label class="me-2">
			<i class="fa-solid fa-sun"></i>
		</label>
		<div class="form-check form-switch">
			<input type="checkbox" role="button" id="darkmodeswitch" class="form-check-input" [checked]="isDarkMode" (change)="toggleTheme()" />
		</div>
		<label class="ms-1">
			<i class="fa-solid fa-moon"></i>
		</label>
	</div> -->
</nav>
<div class="container mt-5 mt-5">
    <h3 class="mb-0">Privacy Policy</h3>
    <p class="mb-0">Last update: 1 February 2024</p>
    <p>We respect your privacy rights, care about Your Personal Data, and do Our best endeavors to protect it. So we
        provide this Privacy Policy (which can be also referred to as Policy) to explain to you how we collect, manage,
        use and protect your Personal Data. Please read this Policy carefully along with the Terms of Use and Cookie
        Policy. Unless otherwise defined all of the terms in this Privacy Policy have the same meaning as in the Terms
        of Use.</p>
    <hr />
    <h4>ABOUT US</h4>
    <p>
        In this Privacy Policy references to SOP Expert, or to "We", "Our", and "Ours" are to UNIABROAD Ltd. UNIABROAD
        Ltd is acting as data controller of the SOP Expert Individual Users' Personal Data. If you are a Corporate User,
        We will act on your behalf as Your data processor. We will provide You with the amended Privacy statement
        together with the User Agreement at the time of your Account activation. For the purpose of this clause the term
        "Individual User" shall mean any natural person, who
        visits our Site and/or use Our Services, and the term "Corporate User" shall mean any legal entity
        (organizations, educational establishments etc.), which uses Our Services through the specially created for that
        K-12&Higher ED Account.
    </p>
    <p>If You have any questions related to your privacy, please contact us by Email: <a
            href="matilto:support@uniprep.ai">support&#64;uniprep.ai</a></p>
    <h4>Your Personal Data</h4>
    <h5>a) What categories of Your Personal Data do We collect and process?</h5>
    <p>In the course of using the Services, we will ask You to provide Us or can collect from third parties, certain
        information that identifies You as a specific individual or can be used to contact or identify You (hereinafter
        referred to as Personal Data).</p>
    <h4>Registration data</h4>
    <p>At the time You register Your Account, We ask You to provide Your Full name, email, country, District, password,
        and Contact number and other relevant information regarding your career like college and prospects etc.</p>
    <h4>Payment data</h4>
    <p>Despite the payment method You choose, We do not store and cannot use Your credit/debit card information or BN
        other payment details. Your credit card details are encrypted and securely stored by Your payment operator to
        enable Us to automatically bill You.</p>
    <h4>Information Collected from Users Automatically (log information)</h4>
    <p>
        We will automatically collect log information from You whenever You access or interact with the Services. All
        this information will be stored in the anonymized form so that We will not be able to identify You. We need such
        data for Our initial statistical purposes. Such log information includes the browser and operating system You
        are using, the URL or advertisement that referred You to the Services, the search terms You entered into a
        search engine that led to the Services, areas within the
        Services that You visited, and other information commonly shared when browsers communicate with websites. We can
        combine this automatically collected log information with other information We collect about You and build their
        profile. We do this to develop the Services We offer and to improve marketing, analytics, and Site
        functionality. The information We collect also includes the Internet Protocol ("IP") address or other unique
        device identifier ("Device Identifier") for any device
        (computer, mobile phone, tablet, etc.) used to access the Services. A Device Identifier is a number that is
        automatically assigned or connected to the device You use to access the Services.
    </p>
    <h4>Request form information</h4>
    <p>When You use the "Contact Us" form or other request forms, available on Our Site, to send Us Your request, We
        will ask You to give Us Your name, email address and (for Corporate Users) Your title and the name of the legal
        entity You are representing. We need this information to provide You with a reply to such a request. And if You
        are not the registered user on Our Site with the Account We will not use Your data for any other purposes unless
        We receive Your consent for that.</p>
    <h5>b) Why We Need Your Personal Data?</h5>
    <p>We collect and process only the data which is needed for certain purposes and according to the legal grounds
        provided by the law.</p>
    <p>When is the processing of Your Personal Data necessary for the performance of a contract between You and Us?</p>
    <p>
        We need Your email and country of Your residence, which We collect from You during the registration, as well as
        Your telephone number, which You will provide in Your Account after the registration, to process Your
        registration, verify the information You provide is valid and create Your Account in order to provide You with
        Our Services on and beyond the platform. Your Account is personalized with Your email address and password, so
        without Your email, We won't be able to provide You with the
        Services. In addition, Your email is a means of password recovery in cases when You forget the password. We need
        to know the country of Your residence and Your telephone number in order to be able to receive and verify Your
        payments. We will also be collecting information regarding your education qualification and future desires to
        give you right and accurate guidance.
    </p>
    <p>We will also ask You about your age in order to know if You are old enough to give Your consent for Personal Data
        processing or if We need to obtain Your parental consent to process Your Personal Data.</p>
    <p>Please note that We need this data to provide You with Our Services. So as long as You want to use UNIPREP all
        this data will be processed by Us. If You want Us to stop processing this Data, You can delete Your account and
        stop using UNIPREP. In addition, the processing of the Data on such a legal basis is not related to Your consent
        for the processing, so that You cannot exercise the right to withdraw Your consent regarding such data.</p>
    <h4>When the processing of Personal Data is based on Your consent?</h4>
    <h5>During the registration You can give Your consent to using Your Personal Data for such purposes:</h5>
    <p>To receive newsletters, marketing and promotional materials, related to the Services of SOP Expert and UNIABROAD
        on Your email address, texts and calls . Please note that if You gave Your consent to that, You can use the
        unsubscribe option at any time</p>
    <h5>When the processing of Your Personal Data is based on Our legitimate interest?</h5>
    <p>At the time of Your registration, We will ask You to provide Us with details. We collect and process such
        categories of Your Personal Data on the basis of Our legitimate interest.</p>
    <p>We need these details to help you with the right kind of guidance for your career ahead and analyze your profile
        for prospects abroad through UNIPREP platform and the services provided by UNIABROAD altogether.</p>
    <p>We will also use Your name and email to provide You with a reply to Your request in cases when You send Us the
        requests through the "Contact Us" form, the chat window to resolve personalized questions or other request forms
        on Our Site.</p>
    <p>Please note that such processing of Your Personal Data will not harm any of Your rights and interests and We will
        not use Your Data for any other purposes.</p>
    <p>If We process Your Personal Data on the basis of Our legitimate interest, we will consider and balance any
        potential impact on You and Your rights under data protection and any other relevant law.</p>
    <h5>c) How do we collect Your Personal Data?</h5>
    <p>
        All of the Personal Data We process according to this Privacy Policy, is provided directly by You (for example,
        the Data You give Us during the registration or sending Us Your requests through the 'Contact Us" form or
        received by Us from the third parties. We can also collect information from a third party to create users on the
        portal, it could either be through a college, university, school, institute, organization or a third party
        vendor who has the rights to market UNIPREP on the behalf
        of UNIABROAD.
    </p>
    <h4>Profiling</h4>
    <p>Profiling means gathering, automated processing and analyzing the information about the individual or groups of
        individuals in order to evaluate certain personal aspects of such individuals.</p>
    <p>We use automatically collected log information as well as the other information You directly provide to Us to
        Build Your profile.</p>
    <p>We can use profiling to produce relevant communication and provide a better experience for Our Users. With the
        help of profiling, We can target Our Services more effectively by getting and combining certain categories of
        Your Personal Data.</p>
    <p>For example, We can group Our Users according to their occupation (students or teachers/instructors) and provide
        them with relevant marketing and informational materials. Additionally, We may need such profiles for analytical
        and statistical purposes, in order to examine how Our Site and Services are used and to make certain
        improvements if needed. We can use Your profile with Your Personal Data to set the targeting advertisement with
        the help of third-party services (such as Facebook).</p>
    <p>You can also withdraw Your consent at any time if You do not want Your Data to be used in any of the listed above
        ways.</p>
    <hr />
    <h4>Marketing</h4>
    <p>We can, with consent, process Your Personal Data to provide You with information about Our activities and Our
        Services. In cases You gave Your consent on receiving marketing materials during the registration or just
        subscribe to newsletters about our Services on Our Site, We will send such marketing material to Your email.</p>
    <p>Please pay attention that if You did not choose such an option during the registration, We still can send letters
        via Your email, but only in cases when We are obliged under the law or under the contract to provide You with
        certain information (for example, when We change Our Terms of Use and Privacy Policy, make any software updates
        etc., We can inform You about it by sending You the email).</p>
    <p>We can also use Your Personal Data (with Your prior consent) to provide it to the third party's services in order
        to set target marketing if You provide Us during the registration with consent to process Your Personal Data for
        marketing purposes, which also include targeting marketing.</p>
    <hr />
    <h4>Your rights</h4>

    <h5>You have the following privacy rights related to Your Personal Data processing:</h5>
    <p>Right to be informed</p>
    <h5>This right means that You can get information from Us on how We use Your Personal Data;</h5>
    <p>Right of access</p>
    <p>This right entitles You to verify the Personal Data held by Us, and get informed on the ways it is used and the
        purposes of the processing. Right to rectification</p>
    <p>Right to erasure, "right to be forgotten"</p>
    <p>This right means that You can request the removal of Your Personal Data, We hold and process, but please pay
        attention that We can delete Your Personal Information only if there is no legal or regulatory obligation to
        retain it;</p>

    <h4>How we use and Share Your Personal Data</h4>

    <p>We only disclose Your Personal Data to third parties when We are obliged by law or other applicable legislation.
    </p>
    <p>We will also disclose Your Personal Data (but after obtaining Your consent for that), such as Your log data and
        emails to third parties, which provide the service of setting up targeting ads (such as Facebook) for marketing
        purposes.</p>
    <p>Moreover, We will share some categories of Your Personal Data (which will include Your name and email) with the
        marketing automation services, when We make automated mailing on the emails of Our Users.</p>
    <p>For the purpose of this clause the term "Sub-processor" shall mean another data processor, including but not
        limited to group companies, subsidiaries and auxiliary suppliers, engaged by the data processor to perform
        specific processing activities on behalf of the data controller. Please note that Your Personal Data is also
        being processed by Our hosting provider.</p>

    <hr />
    <h4>CHANGES TO THIS POLICY</h4>

    <p>We may update this Privacy Policy in future if needed to provide compliance with data protection laws and
        regulations. In such cases, We may send You a letter of notification in Your email prior to the change becoming
        effective. We will always use Your Personal Data in accordance with GDPR requirements and in a manner consistent
        with the Privacy Policy in effect at the time You submitted the information unless You consent to the new or
        revised policy.</p>

    <p>Contact Us</p>
    <p>If You have any questions related to your privacy, please contact us:</p>

    <p>Email: <a href="matilto:support@uniprep.ai">support&#64;uniprep.ai</a></p>
    <p>or use "Contact Us" form.</p>
    <hr />
    <h4>Cookie Policy</h4>
    <p>Please read this Policy together with the Terms of Use and Privacy Policy.</p>
    <p>This Cookie Policy provides You with the information, which explains what types of cookies We use, why We use
        cookies, and how cookies enable the Site to function properly, so that You may not be able to experience the
        full functionality of the Site if You disable cookies.</p>
    <p>Unless otherwise defined all of the terms in this Cookie Policy have the same meaning as in the Terms of Use.</p>
    <h4>What are cookies</h4>
    <p>Cookies are text files, containing small amounts of information, which are downloaded to Your browsing device
        (such as a computer or smartphone) when You visit a website. Cookies can be recognized by the website that
        downloaded them — or other websites that use the same cookies. This helps websites to know if the browsing
        device has visited them before. The cookies allow the website to "remember" your actions or preferences over
        time.</p>
    <hr />
    <h4>What are cookies used for?</h4>
    <p>Cookies are used for lots of different purposes, like helping Us understand how the Site is being used by You,
        letting You navigate between pages efficiently, making Our Site work as You'd expect, remembering Your
        preferences and settings, and generally improving Your browsing experience. Cookies can also help to ensure that
        the marketing You see online is more relevant to the Your interests.</p>
    <h4>What types of cookies do We use?</h4>
    <h5>There are four types of cookies that may be used during Your visit to the Site:</h5>
    <ol>
        <li>(a) Session cookies, which are stored only temporarily during a browsing session and are erased when You
            close the browser;</li>
        <li>(b) Persistent cookies, which remain on Your computer for a fixed period of time (usually one year or more)
            and are not deleted when the browser is closed, for example Targeting cookies;</li>
        <li>(c) First-party cookies, which belong to Us and are set by the Site; and</li>
        <li>(d) Third-party cookies, which are placed on Your browsing device through the Site by the other
            organization, such as a third-party analytics company.</li>
    </ol>
    <hr />
    <h4>First party cookies</h4>
    <p>First-party Cookies mean Functional Cookies that are set by Our Site. We need to use such cookies, as they enable
        You to move around the Site and use its features and functionality, as well as allow Us to receive certain
        aggregated information about how the Site and Services are being used.</p>
    <h5>These cookies include:</h5>
    <p>Performance Cookies, which collect information about how You use the Site, for example, which pages You go to
        most often and if You get error messages from certain pages.</p>
    <p>Authentication Cookies, which help to identify You once he has logged in, for the duration of a session.</p>
    <p>Operational Cookies (Your interface customization cookies), which allow the Site to remember the choices You
        make. For instance, the Site uses functionality cookies to remember the Your language preference. These cookies
        can also be used to remember changes You have made to text size, font and other parts of pages that the user can
        customize;</p>
    <p>Verification Cookies, which help Us to understand how You interact with the Site</p>
    <p>Please pay attention, that We need all these cookies in order to provide you with the Services and to get the
        functional information about Your use of the Site in aggregated form. We use the data We get with the help of
        such cookies only for our internal purposes in order to be able to improve or develop Services. We will not be
        able to perform Services appropriately without these first-party cookies.</p>

    <h4>Third-party cookies</h4>

    <p>Third-party cookies are placed on Site for the purpose of recognizing Your specific browser or remembering
        information specific to Your browser, where You are to return to the same site. We use third party cookies to
        try and discern Your current interests so that We can deliver relevant, targeted advertising to You.</p>

    <h5>These cookies include:</h5>
    <p>Targeting Cookies, these cookies are used to deliver advertisements that are more relevant to Your interests.
        Such cookies are also used to limit the number of times You see an advertisement as well as to help measure the
        effectiveness of an advertising campaign. elsewhere on the Internet.</p>
    <p>Analytics Cookies, the third-party organizations on the Site may use cookies, beacons and other technologies to
        collect or receive information from Us and elsewhere on the internet to provide analytical services</p>
    <p>Please note that We do not transfer any data to third parties and have no control over cookies placed on the Site
        by third parties you should check the relevant third party's website for more information.</p>
    <p>You can delete or disable such third-party cookies in Privacy Options at the Site.</p>

    <h4>How long will cookies stay on Your browsing device?</h4>

    <p>The length of time a cookie will stay on the Your browsing device depends on whether it is a "persistent" or
        "session" cookie. Session cookies will only stay on the Your device until You stop browsing. Persistent cookies
        stay on the Your browsing device until they expire or are deleted (usually one year or more).</p>

    <h4>How to control and delete cookies through the User's browser</h4>

    <p>The browser You are using to view the Site can enable, disable or delete cookies. To do this, You should follow
        the instructions provided by Your browser (usually located within the "Help," "Tools" or "Edit" facility).</p>
    <p>But if You set the browser to disable cookies, You may not be able to access certain parts of the Site. Other
        parts of the Site may also not work properly</p>
    <p>Contacting Us</p>
    <p>If You have any questions about this Cookie Policy, please contact Us at: <a
            href="matilto:support@uniprep.ai">support&#64;uniprep.ai</a></p>
</div>
<footer class="text-center">
    <section class="footerbg">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-md-6 col-12 text-md-start text-center">
                    <p class="mb-0 text-white fw-semibold">Join our social media community for more insights</p>
                </div>
                <div class="col-md-6 col-12 text-md-end text-center">
                    <div class="d-flex justify-content-center justify-content-md-end gap-4">
                        <a href="https://www.facebook.com/uniprepindia" aria-label="Facebook" class="text-white"
                            target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
                        <a href="https://instagram.com/uniprepindia" aria-label="Instagram" target="_blank"
                            class="text-white"><i class="fa-brands fa-instagram fa-xl"></i></a>
                        <a href="https://www.linkedin.com/company/uniprep-india/" aria-label="LinkedIn" target="_blank"
                            class="text-white"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                        <!--<a href="" class="text-white"><i class="fa-brands fa-youtube fa-xl"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="darksection">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <img class="lightmodelogo" src="/uniprep-assets/images/uniprep-dark.png" width="150px" />
                    <img class="darkmodelogo" src="/uniprep-assets/images/uniprep-dark.png" width="150px" />
                    <div class="text-white small mb-3">
                        <p class="mb-0">For Any Queries</p>
                        <a href="mailto:support&#64;uniprep.ai"
                            class="text-decoration-none text-white">support&#64;uniprep.ai</a>
                        |
                        <a href="tel:+919035723087" class="text-decoration-none text-white">+91 9035723087</a>
                    </div>
                    <div class="d-flex flex-md-row flex-column gap-md-4 justify-content-center">
                        <div class="d-flex flex-md-row flex-column align-items-center gap-md-3 justify-content-center">
                            <i class="fa-solid fa-location-dot text-white"></i>
                            <p class="text-white text-md-start small mb-0">353 High Street North, London, England, E12
                                6PQ</p>
                        </div>
                        <hr class="vr white-divider d-md-block d-none">
                        <div class="d-flex flex-md-row flex-column align-items-center gap-md-3 justify-content-center">
                            <i class="fa-solid fa-location-dot text-white"></i>
                            <p class="text-white text-md-start small mb-0">
                                165/1,Opp Brahmasthana Kalyana Mantapa<br>Sahukar Chenniah Road, TK Layout, Mysuru -
                                570023
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-black">
        <div class="container-fluid py-3">
            <div class="row align-items-center">
                <div class="col-md-12  text-center">
                    <p class="mb-0 text-white">2024 © All rights reserved by UNIPREP TECH Ltd.</p>
                </div>
            </div>
        </div>
    </section>
</footer>