<div class="card card-body">
    <div class="d-flex"><h4 class="sop-border sop-header">How can we help?</h4></div>
    <br>
    <div class="row">
        <div class="col-6">
            <div>
                <p-dropdown [options]="['Select your Category 1 ', 'Select your Category 2']" class="w-full"
                            styleClass="w-full mh-50"></p-dropdown>
            </div>
            <br>
            <div class="form-group">
                <label>Email Address</label>
                <input class="w-full" pInputText placeholder="Enter Email" type="text"/>
            </div>
            <div>
                <small class="form-text text-muted mt-2">Please, enter the email address where you wish to receive our
                    answer. If you are a registered user of UNCHECKER
                    please include the email address you used when you registered if possible to help us locate your
                    account as soon
                    as possible.</small>
            </div>
            <br>

            <div class="form-group">
                <textarea class="w-full" pInputTextarea placeholder="Write your message"></textarea>
            </div>
            <div>
                <small class="form-text text-muted mt-2">
                    Please enter the details of your request and, if you have any questions regarding our Terms of Use,
                    please
                    include specific samples of the usage you wish to give our resouces. If you’re reporting a problem,
                    make sure to
                    include as much information as possible. Please include any screenshots or videos of issues since
                    this will also
                    help us resolve problems much sooner. Once your request is submitted, a member of our support staff
                    will
                    respond as soon as possible
                </small>
            </div>
            <br>
            <button class="btn w-full btn-primary" pButton type="button">SEND</button>
        </div>

        <!--        <div class="col-8">-->
        <!--            <form>-->
        <!--                <div class="form-group mt-3">-->
        <!--                    <select class="form-control">-->
        <!--                        <option>Select your Category</option>-->
        <!--                        <option>Select your Category</option>-->
        <!--                      </select>-->
        <!--                  </div>-->
        <!--                  <div class="form-group  mt-3">-->
        <!--                    <label for="exampleInputEmail1">Email address</label>-->
        <!--                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->

        <!--                  </div>-->
        <!--                  <div class="form-group  mt-3">-->
        <!--                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
        <!--                    <small  class="form-text text-muted mt-2">Please enter the details of your request and, if you have any questions regarding our Terms of Use, please-->
        <!--                        include specific samples of the usage you wish to give our resouces. If you’re reporting a problem, make sure to-->
        <!--                        include as much information as possible. Please include any screenshots or videos of issues since this will also-->
        <!--                        help us resolve problems much sooner. Once your request is submitted, a member of our support staff will-->
        <!--                        respond as soon as possible.</small>-->
        <!--                </div>-->
        <!--                <div class="form-group  mt-3">-->
        <!--                    <button type="button" class="btn btn-primary">SEND</button>-->
        <!--                </div>-->
        <!--            </form>-->
        <!--        </div>-->

    </div>
</div>
