<div class="container-fluid">
    <div class="row">
        <div class="card readingcard">
            <div class="card-body pt-0">
              <div class="row justify-content-center">
                <div class="col-md-2 text-start">
                </div>
                <div class="col-md-8 text-center">
                    <h5 class="select-title mb-1"  tooltipPosition="top"  pTooltip="This section provides a comprehensive walkthrough on the UNIPREP platform.">TUTORIALS<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                  <div *ngFor="let tutorial of tutoriallist" class="col-md-3 col-12 mt-3">
                    <div class="card card-style"><a href={{tutorial.link}} class="fw-semibold" target="_blank">
                        <h6 class="mb-0">{{tutorial.title}}</h6></a></div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>