
        <div class="card readingcard">
            <div class="card-body pt-0">
              <div class="row justify-content-center">
                <div class="col-md-2 text-start">
                </div>
                <div class="col-md-8 text-center">
                    <h5 class="select-title mb-1"  tooltipPosition="top"  pTooltip="This section provides a comprehensive walkthrough on the UNIPREP platform.">TUTORIALS<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="container-fluid">
                  <div class="wrapper" >
                        <div class="card1 mt-2" *ngFor="let tutorial of tutoriallist">
                          <a href="{{tutorial.link}}" target="_blank">
                            <figure class="card__thumbnail">
                              <img src="{{tutorial.coverimage}}" style="opacity: 0.6;">
                              <span class="card__title">{{tutorial.title}} <br><span class="card__title2">{{tutorial.description.length > 35 ? tutorial.description.slice(0, 35) + '...' : tutorial.description}}</span></span>                             
                            </figure>
                          </a>
                        </div> 
                  </div>
              </div>
        </div>
    </div>