  /* chat.component.scss */

  .text-left {
    text-align: left;
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 250px);
    max-width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: var(--p-neutral-50);
  }

  .chat-header {
    background-color: var(--p-neutral-50);
  }

  .progress-container {
    padding: 0 15px;
  }

  .progress-steps {
    position: relative;
    display: flex;
    width: 100%;
  }

  .progress-step {
    position: relative;
    padding: 0 10px;

    .progress-bar {
      height: 4px;
      margin-bottom: 10px;
    }

    .step-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &.active .step-name {
      font-weight: bold;
    }

    &.completed .progress-bar {
      background-color: #fd7e14 !important;
    }
  }

  .chat-messages {
    flex: 1;
    overflow-y: auto;
    background-color: #f8f9fa;
  }

  .message-container {
    margin-bottom: 15px;
    max-width: 80%;

    &.justify-content-end {
      margin-left: auto;

      .message-content {
        background-color: #fd7e14;
      }
    }
  }


  .uniabroad-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9f5e9;
    width: 36px;
    height: 36px;
    border-radius: 8px;
  }

  .message-content {
    // max-width: 80%;
    padding: 0.75rem 1rem;
    border-radius: 15px;
    position: relative;
  }

  .sender-id {
    font-size: 0.8rem;
    color: #6c757d;
    margin-left: 8px;
  }

  .avatar {
    display: flex;
    align-items: flex-end;
  }

  .file-message {
    background-color: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 2rem;
    text-align: center;
    color: #495057;
  }

  :host ::ng-deep .p-button.p-button-warning {
    background-color: #e67e22;
    border-color: #e67e22;
    color: white;
    border-radius: 8px;
    padding: 0.75rem 1rem;
  }

  :host ::ng-deep .p-button.p-button-warning:hover {
    background-color: #d35400;
    border-color: #d35400;
  }

  .chat-input {
    background-color: var(--p-neutral-50);
  }

  /* Override PrimeNG button styles to match the design */
  :host ::ng-deep {
    .p-button-secondary {
      background-color: #6c757d;
      border-color: #6c757d;
    }

    .p-button.p-button-secondary:hover {
      background-color: #5a6268;
      border-color: #545b62;
    }

    .p-avatar {
      &.bg-light {
        background-color: #e9ecef !important;
      }
    }
  }

  .chat-logo {
    width: 24px;
    /* Adjust size as needed */
    height: 24px;
    object-fit: contain;
  }

  .bg-transparent {
    background-color: transparent !important;
  }

  .center-align {
    display: flex;
    justify-content: center;
  }

  :host ::ng-deep .upgrade-to-apply {
    .p-dialog {
      width: 33vw !important;
      max-width: 100vw !important;
      height: auto !important;
      max-height: 90vh !important;
    }

    .p-button-secondary {
      background-color: var(--p-primary-500);
      border-color: var(--p-primary-500);
      color: white;
    }

    .gift-image img {
      height: 22vh;
      width: auto;
    }
  }

  :host ::ng-deep .why-premium .p-dialog {
    width: 43vw !important;
    max-width: 100vw !important;
    height: auto !important;
    max-height: 90vh !important;

    .premium-benefits {
      font-family: Arial, sans-serif;
      max-width: 900px;
      margin: auto;
      padding: 1rem;
    }

    .benefit {
      display: flex;
      gap: 1rem;
      align-items: flex-start;
      margin-bottom: 1.5rem;
    }

    .left-column {
      width: 40%;
      font-weight: bold;
      font-size: 1rem;
    }

    .right-column {
      width: 60%;
      font-size: 0.95rem;
    }

    .subtext {
      font-size: 0.85rem;
      margin-top: 5px;
    }


    .content h4 {
      margin: 0;
      font-size: 1rem;
      font-weight: 600;
    }

    .content p {
      margin: 0.3rem 0;
      font-size: 0.95rem;
    }

    .note {
      font-size: 0.85rem;
      color: var(--p-primary-500);
      border-top: 1px solid #ddd;
      padding-top: 1rem;
      margin-top: 2rem;
      font-weight: 500;
    }

  }

  :host ::ng-deep .why-premium .p-dialog-header {
    justify-content: center !important;
    text-align: center;
  }

  :host ::ng-deep .why-premium .p-dialog-title {
    width: 100%;
    text-align: center;
  }