 
.resourcecard {
	border: 3px solid #f0780c;
	width: 100%;
	margin:   0px;

	.resourceimg {
		height: 100px;
		width: 100px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&:focus {
		background-color: var(--uniprep-primaryop10);
		border: 3px solid var(--uniprep-primary);
	}

	&:hover {
		background-color: var(--uniprep-primaryop10);
		border: 3px solid var(--uniprep-primary);
	}

}