<div class="row">
    <div class="col-md-3 col-12 mt-3" *ngFor="let category of subCategories">
        <div class="card resourcecard  text-black h-100"
            [routerLink]="['/pages/job-tool/quiz/employer/list',category.sub_category_id]">
            <div class="card-body d-flex justify-content-center">
                <div class="h-100" id="resourceLink">
                    <div class="d-flex flex-column align-items-center">
                        <div class="resourceimg"><img [src]="category.icon" alt="" /></div>
                        <h5 class="mt-3">{{ category.category}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>