<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-12 mb-3" *ngFor="let category of subCategories">
    <div class="card resourcecard text-black h-100 position-relative" role="button"
      (click)="navigateToQuiz(category, category.sub_category_id)">
      <div *ngIf="category.is_assessment && authService._user?.student_type_id == 2" class="assessment-tag"
        style="background-color: var(--uniprep-skyblue);">Assessment</div>
      <div class="card-body d-flex justify-content-center">
        <div class="h-100" id="resourceLink">
          <div class="d-flex flex-column align-items-center">
            <div class="resourceimg mb-3"><img [src]="category.icon" alt="" /></div>
            <h5 class="fw-bold mb-0 text-center">{{ category.category }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>