// .country-icon {
//   position: absolute;
//   right: 5px;

//   .country-img {
//     height: 30px;
//     width: 30px;
//     border-radius: 50%;
//   }
// }

// .submoduleicon {
//   scale: 1.5;
// }
// updated ui
.custom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white !important;
  justify-content: center;
  align-items: center;
}
.card-right {
  width: 60%;
  padding: 10px;
}
@media (max-width: 480px) {  /* Mobile screens */

    .card-right h4 {
        font-size: 16px;
    }

    .card-right h6 {
        font-size: 12px;
    }
}
.card-left {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
}

.leader-img {
  width: 100%;
  // object-fit: cover;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 10px;
  border:1px solid var(--uniprep-primaryop10);
}

/* Image */
.card-left img.leader-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border:1px solid var(--uniprep-primaryop10);
}

/* Label inside Image (Full Width) */
.image-label {
  position: absolute;
  bottom: 4px;
  width: 90%;
  background-color: #90C436;
  color: white;
  padding: 3px 0;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
}