// .country-icon {
//   position: absolute;
//   right: 5px;

//   .country-img {
//     height: 30px;
//     width: 30px;
//     border-radius: 50%;
//   }
// }

// .submoduleicon {
//   scale: 1.5;
// }
// updated ui
.custom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white !important;
  justify-content: center;
  align-items: center;
}
.card-right {
  width: 60%;
  padding: 10px;
}
@media (max-width: 480px) {  /* Mobile screens */

    .card-right h4 {
        font-size: 16px;
    }

    .card-right h6 {
        font-size: 12px;
    }
}
.card-left {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
}

.leader-img {
  width: 100%;
  // object-fit: cover;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 10px;
  border:1px solid var(--p-primary-50);
}

/* Image */
.card-left img.leader-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border:1px solid var(--p-primary-50);
}

/* Label inside Image (Full Width) */
.image-label {
  position: absolute;
  bottom: 4px;
  width: 90%;
  background-color: #90C436;
  color: white;
  padding: 3px 0;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
}
.text-small{
  font-size: 0.76rem !important; 
}
.light-text-size{
  font-size: 0.69rem !important;
  text-shadow: 0 0 black !important;
}

.year-range-picker {
  .year-input-wrapper {
    flex: 1;
    min-width: 100px;
    
    ::ng-deep {
      .p-datepicker {
        width: 100%;
        
        input {
          width: 120px;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
  
  .separator {
    color: #94a3b8;
    font-size: 14px;
    padding: 0 8px;
  }
}