<ng-container [ngSwitch]="stage">
    <!-- <ng-container *ngSwitchCase="1">
        <div class="card card-body"> -->
            <!-- <div class="d-flex justify-content-between">
                <h3 class="sop-border sop-header">Pricing & Plans For <br> Statement Of Purpose</h3>
                <span>Fast, Secure</span>
            </div> -->
            <!-- <p>UNIABROAD offering most flexible billing solutions to execute efficiency & reliability. Improve your contents value by using this Plagiarism checker. Trusted by millions of people!</p> -->
            <!-- <div class="price-card-list">
                <div class="price-card basicImg">
                    <br><br>
                    <div class="header">
                        <h4>{{planname[0]}}</h4>
                        <p>{{ totalcheck[0] }} check</p>
                    </div>

                    <div class="pricedetails">
                        <div class="fs"><span class="fs2">INR₹</span>&nbsp;&nbsp;<span class="fs3">{{ planprice[0]}}</span><span class="fs2">.00</span></div>
                        <div>Per Month</div>
                        <br><br>
                        <div>
                            <button (click)="buynow(planprice[0],planname[0],totalcheck[0],subscriptionid[0])" class="buynow pointer"><span>BUY NOW</span></button>
                        </div>
                    </div>
                </div>
                <div class="price-card standardImg">
                    <br><br>
                    <div class="header">
                        <h4>{{planname[1]}}</h4>
                        <p>{{ totalcheck[1] }} check</p>
                    </div>

                    <div class="pricedetails">
                        <div class="fs"><span class="fs2">INR₹</span>&nbsp;&nbsp;<span class="fs3">{{planprice[1] }}</span><span class="fs2">.00</span></div>
                        <div>Per Month</div>
                        <br><br>
                        <div>
                            <button  (click)="buynow(planprice[1],planname[1],totalcheck[1],subscriptionid[1])" class="buynow pointer"><span>BUY NOW</span></button>
                        </div>
                    </div>
                </div>
                <div class="price-card unlimitedImg">
                    <br><br>
                    <div class="header">
                        <h4>{{planname[2]}}</h4>
                        <p>{{ totalcheck[2] }} check</p>
                    </div>

                    <div class="pricedetails">
                        <div class="fs"><span class="fs2">INR₹</span>&nbsp;&nbsp;<span class="fs3">{{ planprice[2] }}</span><span class="fs2">.00</span></div>
                        <div>Per Month</div>
                        <br><br>
                        <div>
                            <button  (click)="buynow(planprice[2],planname[2],totalcheck[2],subscriptionid[2])"  class="buynow pointer"><span>BUY NOW</span></button>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <br>
            <h3 class="sop-border sop-header sop-border-center m-auto fit-content text-center">Here, What Are You Getting!</h3>
            <br> -->
            <!-- <div class="row">
                <div class="col-md-4">
                    <div class="card text-center hover-bg shadow-sm card-body bold">WORD COUNT</div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center hover-bg shadow-sm card-body bold">GRAMMAR CHECKER</div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center hover-bg shadow-sm card-body bold">PLAGIARISM CHECKER</div>
                </div>
            </div>
            <br> -->
            <!-- <div class="row">
                <div class="col-md-4">
                    <div class="card text-center hover-bg shadow-sm card-body bold">SOP SAMPLES</div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center hover-bg shadow-sm card-body bold">MULTILINGUAL ASSISTANCE</div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center hover-bg shadow-sm card-body bold">SOP CHECK LIMIT</div>
                </div>
            </div> -->
        <!-- </div>
    </ng-container> -->
        
    <!-- create new one -->
    <!-- <ng-container *ngSwitchCase="1"> -->
        <div class="card card-body">
            <div class="d-flex justify-content-between">
                <h3 class=" sop-header">SUBSCRIPTION</h3>
                <span><b> Fast, Secure <br>
                and Affordable</b><br>
        </span>
            </div>
            <div><button class="btn btn-primary mx-2 " alt="chat with notification">BUY QUESTION CREDITS</button></div>
            <br/>
            <div class="scards">
                <div class="scard"  (click)="basicplan()">
                    <div class="scardTitle"> Save 20%</div>
                    <h3 class="scardCheck">Basic Plan</h3>
                    <h6 class="scardCheck">1 month validity</h6>
                    <div class="scardPrice">INR-<b>1999</b>.00</div> 
                    <div class="scardPriceCurrent">INR-<b>999</b>.00</div>
                    <div class="scardDiscount">United Kindom</div>
                    <div class="scardCheck">Add other Countries at 699 INR</div>
                    <div class="scardStart">SUBSCRIBE NOW</div>
                </div>
                <div class="scard" (click)="basicplan()">
                    <div class="scardTitle">Save 30%</div>
                    <h3 class="scardCheck">Standard Plan</h3>
                    <h6 class="scardCheck">3 month validity</h6>
                    <div class="scardPrice">INR-<b>2599</b>.00</div> 
                    <div class="scardPriceCurrent">INR-<b>1999</b>.00</div>
                    <div class="scardDiscount">United Kindom</div>
                    <div class="scardCheck">Add other Countries at 699 INR</div>
                    <div class="scardStart">SUBSCRIBE NOW</div>
                </div>
                <div class="scard" (click)="basicplan()">
                    <div class="scardTitle">Save 40%</div>
                    <h3 class="scardCheck">Basic Plan</h3>
                    <h6 class="scardCheck">1 month validity</h6>
                    <div class="scardPrice">INR-<b>4199</b>.00</div> 
                    <div class="scardPriceCurrent">INR-<b>2999</b>.00</div>
                    <div class="scardDiscount">United Kindom</div>
                    <div class="scardCheck">Add other Countries at 699 INR</div>
                    <div class="scardStart">SUBSCRIBE NOW</div>
                </div>
            </div>
        </div>
    <!-- </ng-container> -->

    <ng-container *ngSwitchCase="2">
        <div class="card bg-app text-white radius-top card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="bold">Billing</h4>
                    <hr />
                    <div>Manage your billing and payment details</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h5>BILLING FREQUENCY</h5>
                <div class="card shadow-sm card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5>{{ selectedplanname }}</h5>
                            <span class="text-muted">Best Value</span>
                        </div>
                        <div>
                            <h5><span class="text-app bold">₹ {{ selectedplanprice }} / </span><span class="text-muted">Per Month</span></h5>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5><span class="text-app bold">{{ noofchecks }}</span>&nbsp;<span class="bold">Check's</span></h5>
                        <div class="pointer" (click)="stage = 1">
                            <span class="text-muted">Change Plans</span>&nbsp;
                            <span class="text-app bold">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <h5>YOUR BENEFITS</h5>
                <div class="card shadow-sm card-body">
                    <p class="d-flex pb-2 justify-content-between align-items-center border-dashed-bottom">
                        <span>Check's</span>
                        <span class="text-danger">{{ noofchecks }}</span>
                    </p>
                    <p class="d-flex pb-2 justify-content-between align-items-center border-dashed-bottom">
                        <span>Word Count</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </p>
                    <p class="d-flex pb-2 justify-content-between align-items-center border-dashed-bottom">
                        <span>Grammar Checker</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </p>
                    <p class="d-flex pb-2 justify-content-between align-items-center border-dashed-bottom">
                        <span>Plagiarism Checker</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </p>
                    <p class="d-flex pb-2 justify-content-between align-items-center border-dashed-bottom">
                        <span>SOP Samples</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </p>
                    <p class="d-flex pb-2 justify-content-between align-items-center border-dashed-bottom">
                        <span>Multilingual Assistance</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </p>
                    <p class="d-flex mb-0 pb-2 justify-content-between align-items-center">
                        <span>SOP Check Limit</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h4 class="bold text-app">To Pay</h4>
                    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p> -->
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label>Credit Card Type</label>
                                <p-dropdown class="d-block w-full" [options]="cards">
                                    <ng-template let-card pTemplate="selectedItem">
                                        <div class="d-flex align-items-center">
                                            <img class="card-img mr-2" [src]="card.img"/>
                                            <div>{{card.name}}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-card pTemplate="item">
                                        <div class="d-flex align-items-center">
                                            <img class="card-img mr-2" [src]="card.img"/>
                                            <div>{{card.name}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label>Expiry date</label>
                                <p-inputMask mask="99/99"></p-inputMask>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label>CVV</label>
                                <p-inputMask mask="999"></p-inputMask>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="input-group">
                        <label>Card Number</label>
                        <p-inputMask mask="9999 9999 9999 9999"></p-inputMask>
                    </div>
                    <br>
                    <div class="input-group">
                        <label>Name on Card</label>
                        <input type="text" pInputText />
                    </div>
                    <br> -->
                    <div class="d-flex justify-content-between align-items-center">
                        <p-checkbox label="I agree on terms & conditions" value="val2"></p-checkbox>
                        <div><span class="mr-2">Total Amount</span> <span class="text-app">₹ {{ selectedplanprice}}</span></div>
                    </div>
                    <br>
                    <button (click)="paymentcheckout()" class="border-0 bg-app pt-3 pb-3 radius-2 text-white">PAY NOW</button>
                </div>
            </div>

        </div>
    </ng-container>
    <ng-container *ngSwitchCase="3">
        <div class="d-flex justify-content-center">
            <div class="paymentpanel shadow-sm">
                <div>
                    <div class="p-4 text-white text-center bg-app">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-credit-card-2-front" viewBox="0 0 16 16">
                                <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                <path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </div>
                        <br>
                        <h4>THANK YOU FOR YOUR SUBSCRIPTION</h4>
                    </div>
                </div>
                <div class="bg-white p-4">
                    <table class="w-full pricedetailtable">
                        <tr>
                            <td>
                                <div class="bold">Billed to</div>
                                <div>{{ subscribername }}</div>
                            </td>
                            <td>
                                <div class="bold">Payment date</div>
                                <div>{{ currentDate | date:'dd-MM-yyyy' }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <div class="space"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="bold">Plan</div>
                                <div>{{ selectedplanname }}</div>
                            </td>
                            <td>
                                <div class="bold">Price</div>
                                <div>₹{{ selectedplanprice }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <div class="border-dashed"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Amount paid
                            </td>
                            <td>
                                ₹{{ selectedplanprice}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <img src="uniprep-assets/images/SOP-CHECKER.PNG">
                            </td>
                        </tr>
                    </table>
                </div>
                <button class="downloadbtn">Download</button>
            </div>
        </div>
    </ng-container>
</ng-container>