<p class="uniprep-primary mb-0">Credits</p>
<div class="card">
	<div class="card-body">
		<div class="d-flex flex-column flex-md-row justify-content-md-between justify-content-center">
			<div class="text-md-start text-center">
				<h5 class="sop-border sop-header">Ready To Get Started?</h5>
				<span>Choose a plan tailored to your needs</span>
			</div>
		</div>
	</div>
</div>
<div class="row readingcard mt-2">
	<div class="col-sm-8">
		<div class="card">
			<div class="card-body d-flex flex-column justify-content-center" *ngFor="let modules of moduleList">
				<div class="card" style="border-width: 2px;">
					<div class="card-body">
						<div class="row">
							<div class="col-md-8 col-8">
								<h5 class="card-title uniprep-primary">{{ modules.module_name }}</h5>
								<small>{{ modules.module_description }}</small>
							</div>
							<!-- *ngIf="modules.planValidation == 1; else upgradeRequired" -->
							<div class="col-md-4 col-4 d-flex flex-column justify-content-center gap-3" *ngIf="modules.planValidation == 1">
								<div class="d-flex justify-content-center justify-content-md-end">
									<p-inputNumber [(ngModel)]="modules.inputvalue" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="0" [size]="3"></p-inputNumber>
								</div>
								<div class="d-flex flex-row justify-content-md-end justify-content-between gap-3 align-items-center text-nowrap ">
									<h5 class="mb-0 uniprep-primary">{{ modules.price_per_credit }} Rs/Credit</h5>                
									<button type="button" (click)="updateCredits()" class="btn btn-primary">Update Credits</button>
								</div>
							</div>
                            <!-- <ng-template #upgradeRequired> -->
                                <div class="col-md-4 col-4 d-flex flex-column align-items-center " *ngIf="modules.planValidation == 0">
                                    <h6 class="card-title mt-2" style="color: #f0780e;">Upgrade Required</h6>
                                    <small>To access this exclusive module, please upgrade your subscription plan now.</small>
                                    <button pButton type="button" class="text-white p-ripple p-button-rounded p-button-warning p-button p-component p-2 mb-2">Upgrade Plan<i class="fa fa-arrow-right exhausted-plan-icon"></i></button>
                                </div>
                            <!-- </ng-template> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 position-relative">
		<div class="card position-sticky" style="top: 0">
			<div class="card-body">
				<h5 class="card-title p-2 d-flex justify-content-center">Added Credits</h5>
				<div class="d-flex justify-content-between p-2" *ngFor="let modules of moduleList">
					<div class="d-flex flex-column">
						<h6 class="card-title">{{ modules.credit_name }}</h6>
						<small>{{ modules.addedCredits }} Credits</small>
					</div>
					<div>
						<h5 class="p-2">{{ modules.added_credit_rupees }} Rs</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="d-flex mt-3 gap-3 flex-column flex-md-row">
	<!-- <div class="card flex-fill h-100">
		<div class="card-body d-flex align-items-center">
			<div class="w-100">
				<div class="d-flex justify-content-between align-items-center">
					<h6>Apply your coupon code here</h6>
					<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">View Offers</a>
				</div>

				<div class="p-inputgroup inputheight mt-1">
					<input  pInputText placeholder="Enter Your coupon code Here" type="text"  />
					<button class="btn-primary" label="Apply" pButton pRipple type="button"></button>
				</div>
				<span class="text-danger">You entered an invalid discount code. Please check the code and try again</span>&nbsp;
			</div>
		</div>
	</div> -->
	<div class="card flex-fill h-100 justify-content-center">
		<div class="card-body d-flex align-items-center">
			<div class="w-100">
				<div class="d-flex flex-row">
					<div class="flex-grow-1">
						<div>
							<p class="fw-semibold mb-0">Total</p>
							<h4 class="mb-0 uniprep-primary">INR {{totalPayableAmount}}</h4>
							<!-- <p>Discount Percentage:10%</p> -->
						</div>
					</div>
					<div class="flex-full">
						<button (click)="checkOut()" class="btn btn-primary w-100 py-3 px-5 h6 m-0">Checkout</button>
						<!-- <p>Discount Amount: 10</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- last know more about section -->

	<!-- modeal -->
	<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Available Offers</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body d-flex flex-column justify-content-center">
					<p class="btn btn-rounded mx-auto" style="background: #9bc32935; border: 1px dashed #9bc329; width: 100px">UNI25</p>
					<p class="text-center">Use this coupon code to unlock a 25% discount on your subscription.</p>
				</div>
			</div>
		</div>
	</div> -->
</div>
