::ng-deep .p-inputnumber-buttons-horizontal .p-inputnumber-input
{
    text-align: center;
}

::ng-deep .plus-icon, 
::ng-deep .minus-icon {
    background-color: var(--uniprep-primary) !important;
    border-color: var(--uniprep-primary) !important;
}
