.message-content {
  max-width: 75%;
  padding: 0.75rem 1rem;
  border-radius: 15px;
  position: relative;
}
.avatar {
  display: flex;
  align-items: flex-end;
}

.file-message {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 2rem;
  text-align: center;
  color: #495057;
}


.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: Hide scrollbar background */
}


.message-content p {
  margin-bottom: 0.5rem;
  word-break: break-word;
}

.file-message {
  word-break: break-word;
}
