<div [class]="'card card-body'">
    <div class=" d-flex justify-content-between">
        <div>
            <span class="sop-border sop-header">United Kingdom Subscription</span>
            <h2 class="mt-3 mb-0">Standard Plan</h2>
            <span>(3 Months) - 5 Days Remaining</span>
        </div>
        <div>
            <button (click)="buttonclicked2()" class="btn btn-primary btn-rounded">TOP UP VALIDITY</button>
            <button (click)="buttonclicked1()" class="btn btn-back btn-rounded px-2 py-2">TOP UP COUNTRIES</button>
        </div>
    </div>
</div>
<br />
<div [class]="'card card-body'">
    <span class="sop-header mb-3">Account Billing history</span>
    <p-table [value]="[{},{}]" class="subscriptiontable">
        <ng-template pTemplate="header">
            <tr>
                <th>Product</th>
                <th>Country</th>
                <th>Validity</th>
                <th>Reference</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Download</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{ 'Standard Plan' }}</td>
                <td>{{ 'United Kingdom' }}</td>
                <td>{{ '3 Months' }}</td>
                <td>{{ 'UNI-C-2023' }}</td>
                <td>{{ '23-01-2023' }}</td>
                <td>{{ 'INR 1999.00' }}</td>
                <td><i class="pi pi-check" style="color: rgb(85, 255, 85)"></i></td>
                <td><button class="btn btn-primary"><i class="pi pi-download"></i></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<br />
<div [class]="'card card-body'">
    <span class="sop-header mb-3">Subscription history</span>
    <p-table [value]="[{}]" class="subscriptiontable">
        <ng-template pTemplate="header">
            <tr>
                <th>Product</th>
                <th>Country</th>
                <th>Validity</th>
                <th>Date Started</th>
                <th>Date Ended</th>
                <th>Amount</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{ 'Standard Plan' }}</td>
                <td>{{ 'United Kingdom' }}</td>
                <td>{{ '3 Months' }}</td>
                <td>{{ '23-01-2023' }}</td>
                <td>{{ '23-01-2023' }}</td>
                <td>{{ 'INR 1999.00' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>