.policy-container {
    margin: 0 auto;
    padding: 3rem;
    line-height: 1.6;
    font-size: 1rem;
    color: #333;

    h2 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        color: #222;
    }

    ul {
        padding-left: 1.5rem;
        list-style: disc;
    }
}