// ::ng-deep .slick-prev:before, ::ng-deep .slick-next:before {
//     color: black !important;
//     font-size: 50px;
//     background: rgba(0, 0, 0, 0.1); 
//     border-radius: 50%; 
// 	position: absolute;
// }

// ::ng-deep .slick-prev {
// 	z-index: 1000;
// }

// ::ng-deep .slick-next {
//     right: 3%; 
// }


// .slick-center .cvBuilderSampleImg img {
// 	height: 275px;  
// 	transform: scale(1);  
// 	transition: transform 0.3s ease, height 0.3s ease;
//   }

//   .slick-center .center-button {
// 	display: block;
//   }

//   .slick-slide:not(.slick-center) .cvBuilderSampleImg img {
// 	transform: scale(0.8);
//   }

//   .slick-slide:nth-child(n+3):not(.slick-center) .cvBuilderSampleImg img {
// 	transform: scale(0.6); 
//   }

.swiper-slide-active {
	transform: scale(1.2) !important;
	transition: 250ms;
}

.swiper-slide-prev,
.swiper-slide-next {
	transform: scale(1) !important;
	transition: 250ms;
}

.swiper-slide-next {
	margin-left: 0px;
}

.swiper-slide {
	transform: scale(0.8);
	transition: 250ms;
}

.swiper {
	overflow: visible;
}

.swiper-prev,
.swiper-next {
	background-color: black !important;
	color: white !important;
	width: 35px !important;
	height: 35px !important;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide-active .center-button {
	display: block;
}

.backIcon {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-color: var(--primary-500);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700px;
}

.cvBuilderSampleImg {
	cursor: pointer;
	text-align: center;
	width: fit-content;

	img {
		height: 300px;
		border-radius: 9px;
		border: 1px solid;
		transition: transform 0.3s ease, height 0.3s ease;
	}

	// &:hover {
	// 	-webkit-box-shadow: 0px 0px 50px 0px var(--primary-100);
	// 	-moz-box-shadow: 0px 0px 50px 0px var(--primary-100);
	// 	box-shadow: 0px 0px 50px 0px var(--primary-100);
	// }
}

.previewcontainer {
	display: flex;
	justify-content: center;

	.previewbody {
		aspect-ratio: 1/1.41;
		width: 100%;
	}
}

.center-button {
	position: absolute;
	color: white;
	border: none;
	white-space: nowrap;
	border-radius: 10px;
	margin: 0px 8px;
	left: 0;
	right: 0;
	padding: 10px;
	display: none;
	bottom: 0.5rem;
}

.HistoryDownloadIcon {
	background-color: var(--primary-500);
	color: white;
	border-radius: 100px;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	// position: absolute;
	// transform: translateY(9%) translateX(250%);
	// top: 57%;
}

.HistoryDeleteIcon {
	background-color: #d80027;
	color: white;
	border-radius: 100px;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	// position: absolute;
	// bottom: 70%;
}

.tickIcon {
	background-color: #5a5aed;
	padding: 8px;
	border-radius: 25px;
}

.selectedResumeLevel {
	border: 2px solid #404d82;
	border-radius: 12px;
	position: relative;
}


@keyframes shake {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(5px);
	}

	50% {
		transform: translateX(-5px);
	}

	75% {
		transform: translateX(5px);
	}

	100% {
		transform: translateX(0);
	}
}

.shake {
	animation: shake 0.3s;
	background-color: red;
}

.p-button-info-prev {
	background-color: #0e3361;
	color: white;
	border: none;
}

.p-button-info-next {
	background-color: #4552a3;
	color: white;
	border: none;
}

.p-button-info-succes {
	background-color: #9bc329;
	color: white;
	border: none;
}

:host ::ng-deep .fa-check-circle {
	color: #83a81a !important;
}

:host ::ng-deep .p-carousel-prev {
	align-self: end !important;
}

:host ::ng-deep .p-carousel-next {
	align-self: end !important;
}

.exhausted-plan-icon-prev {
	padding: 10px;
	border-radius: 25px;
	background-color: #0e3361;
	color: white;
	margin-left: 5px;
}

.exhausted-plan-icon-next {
	padding: 10px;
	border-radius: 25px;
	background-color: #4552a3;
	color: white;
	margin-left: 5px;
}

.labelFont {
	font-size: medium;
	font-weight: 900;
}

.PageTitle {
	color: var(--primary-500);
	// margin: 10px;
}

.borderClass {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 10px;
}

.previewDiv {
	background-color: gainsboro;
	border: 1px solid whitesmoke;
	border-radius: 10px;
}

.addMoreButton {
	background-color: var(--primary-500);
	color: white;
	padding: 5px 5px;
	border: none;
	border-radius: 50px;
}

.deleteDivButton {
	background-color: #d80027;
	color: white;
	padding: 5px 5px;
	border: none;
	border-radius: 50px;
}

.trashIcon {
	background-color: #fa3e61;
	padding: 8px;
	border-radius: 25px;
}

.subtitleMargin {
	margin: 10px 0px;
}

// .scrollDivide{
//     height: 100vh;
//     overflow-x: hidden;
//     overflow-y: scroll;
// }

.previewBodyForm {
	overflow: hidden;
	border: 1px solid lightslategrey;
	border-radius: 10px;
	background-color: whitesmoke;
	font-size: calc(0.4vw + 0.4vh);

	ul {
		padding-left: 0px !important;
	}

	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 2.5em;
	}

	h4 {
		font-size: 2em;
	}

	h5 {
		font-size: 1.5em;
	}

	h6 {
		font-size: 1.25em;
	}

	hr {
		margin: 0px;
		border-top: 1px solid;
		opacity: 0.5;
	}

	p,
	a,
	span,
	li {
		list-style: none;
	}

	ul {
		padding-left: 2em !important;
	}

	.small-text {
		font-size: 0.9em;
	}
}

.previewBodyFormFull {
	overflow: hidden;
	border: 1px solid lightslategrey;
	border-radius: 10px;
	background-color: whitesmoke;
	font-size: calc(0.45vw + 0.45vh);

	ul {
		padding-left: 0px !important;
		margin-bottom: 5px;
	}

	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 2.5em;
	}

	h4 {
		font-size: 2em;
	}

	h5 {
		font-size: 1.5em;
	}

	h6 {
		font-size: 1.25em;
	}

	hr {
		margin: 0px;
		border-top: 1px solid;
		opacity: 0.5;
	}

	p,
	a,
	span,
	li {
		list-style: none;
	}

	ul {
		padding-left: 2em !important;
	}

	.small-text {
		font-size: 0.9em;
	}
}

.cvPreview {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	background-color: #2d3764;
}

.templateButton {
	background-color: #5e6eb3;
	color: #ebedf2 !important;
	border-radius: 20px !important;
	border: none;
	padding: 10px;
	font-weight: 600;
	margin: 0px 5px;
	position: relative;
	display: flex;
}

.colorButton {
	background-color: #5e6eb3;
	color: #ebedf2 !important;
	border-radius: 20px !important;
	border: none;
	padding: 5px;
	font-weight: 600;
}

.templateName {
	padding: 5px 25px;
	border-radius: 25px;
	background-color: white;
	color: black;
}


@media (max-width: 2559.98px) {
	.previewBodyForm {
		font-size: calc(0.45vw + 0.45vh) !important;
	}

	.previewBodyFormFull {
		font-size: calc(0.45vw + 0.45vh) !important;
	}
}

@media (max-width: 1919.98px) {
	.previewBodyForm {
		font-size: calc(0.45vw + 0.45vh) !important;
	}

	.previewBodyFormFull {
		font-size: calc(0.45vw + 0.45vh) !important;
	}
}

@media (max-width: 1919.98px) {
	.previewBodyForm {
		font-size: calc(0.4vw + 0.4vh) !important;
	}

	.previewBodyFormFull {
		font-size: calc(0.4vw + 0.4vh) !important;
	}
}

@media (max-width: 1499.98px) {
	.previewBodyForm {
		font-size: calc(0.4vw + 0.4vh) !important;
	}

	.previewBodyFormFull {
		font-size: calc(0.4vw + 0.4vh) !important;
	}
}

@media (max-width: 1399.98px) {
	.previewBodyForm {
		font-size: calc(0.4vw + 0.4vh) !important;
	}

	.previewBodyFormFull {
		font-size: calc(0.4vw + 0.4vh) !important;
	}
}

@media (max-width: 1299.98px) {
	.previewBodyForm {
		font-size: calc(0.35vw + 0.35vh) !important;
	}

	.previewBodyFormFull {
		font-size: calc(0.35vw + 0.35vh) !important;
	}
}

@media (max-width: 1199.98px) {
	.previewBodyForm {
		font-size: calc(0.3vw + 0.3vh) !important;
	}

	.previewBodyFormFull {
		font-size: calc(0.3vw + 0.3vh) !important;
	}
}

@media (max-width: 991.98px) {
	.previewBodyForm {
		font-size: calc(0.3vw + 0.3vh) !important;
	}

	.previewBodyFormFull {
		font-size: calc(0.3vw + 0.3vh) !important;
	}
}

@media (max-width: 575.98px) {
	.previewBodyForm {
		font-size: calc(0.25vw + 0.25vh);
	}

	.previewBodyFormFull {
		font-size: calc(0.25vw + 0.25vh);
	}
}

@media screen and (max-width: 480px) {
	.previewBodyForm {
		font-size: calc(0.2vw + 0.2vh);
	}

	.previewBodyFormFull {
		font-size: calc(0.2vw + 0.2vh);
	}
}

.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

// .templateButton {
// 	position: relative;
// 	display: inline-block;
// }

.template-dropdown-content {
	display: none;
	margin-top: 8px;
	padding: 5px;
	position: absolute;
	background-color: white;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 10px;
}

.template-dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
	padding: 8px 10px;
}

.template-dropdown-content a:hover {
	background-color: var(--primary-500highlight);
	color: white;
	border-radius: 25px;
}

/* Show dropdown on hover */
.templateButton:hover .template-dropdown-content {
	display: block;
}


.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	margin-right: 0;
	min-width: auto;
	margin-left: 0;
	width: auto !important;
	position: absolute;
	background-color: var(--primary-500highlight);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	padding: 5px;
	position: relative;

	&:hover {
		background-color: var(--primary-500highlight);
		border-radius: 25px;
	}
}

.colorSelector {
	padding: 15px;
	border-radius: 25px;
	border: 2px solid white;
}

.cursorPointer {
	cursor: pointer;
	display: flex !important;
	align-items: center;
}

.selectedColor {
	padding: 12px;
	border-radius: 25px;
	border: 2px solid white;
}

.ColorCheckBox {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.colorWhite {
	color: white;
}


.downloadButton {
	background-color: var(--primary-500);
	color: white;
	padding: 5px 15px;
	border: none;
	border-radius: 50px;
	margin: 15px;
}

.cvSampleImg {
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
	color: var(--primary-500);
	font-weight: 700;

	img {
		height: 250px;
		border-radius: 9px;
		border: 1px solid;
	}
}

@page {
	size: A4;
	margin: 10mm;
}

html {
	margin: 0;
	font-family: Poppins, sans-serif;
	font-size: 10px;
	line-height: 1.1;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.text-color-white {
	color: white;
}

.text-color-liteBlue {
	color: #339499;
}

.fw-700 {
	font-weight: 700;
}

.fw-600 {
	font-weight: 600;
}

.fw-500 {
	font-weight: 500;
}

.upperCase {
	text-transform: uppercase;
}

.content {
	margin: 5px;
}

.contentText {
	font-size: 10px;
}

.tg {
	padding: 10px;
}

.resumeIcons {
	height: 5px;
	width: 5px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.separator {
	width: 10%;
	height: 2px;
}

.userName {
	font-size: 15px !important;
	font-weight: 700;
	white-space: nowrap;
	letter-spacing: 3px;
}

.profession {
	font-size: 10px !important;
	font-weight: 700;
}

.contactItem {
	display: flex;
	align-items: center;
	margin: 5px;
}

.contactItem img {
	height: 1rem;
	width: auto;
	margin-right: 10px;
}

.languageItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
}

.languageItem img {
	height: 1rem;
	width: auto;
	margin-right: 10px;
}

.certificationItem {
	margin: 5px;
}

.certificationItem a {
	font-size: smaller;
}

.technicalSkillItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
}

.technicalSkillItem img {
	height: 1rem;
	width: auto;
	margin-right: 10px;
}

.experienceItem {
	display: flex;
	margin: 5px;
}

.educationItem {
	display: flex;
	margin: 5px;
}

.projectItem {
	display: flex;
	margin: 5px;
}

.referenceItem {
	display: flex;
	justify-content: space-between;
	margin: 5px;
}

.referenceItem b {
	font-weight: 700;
}

.aboutMe {
	margin: 5px;
}

.nowrapClass {
	white-space: nowrap;
}

.small-text {
	font-size: smaller !important;
}

.zeroMarginPadding {
	margin: 0px !important;
	padding: 0px !important;
}

.hr-custom {
	height: 1px;
	border-width: 0;
	// color: #339499;
	// background-color: #339499;
	margin-left: 10px;
}

.content-contact {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-xs {
	font-size: 0.8rem;
}

.activeTemplate {
	background-color: #5e6eb3;
	border-radius: 25px;
	color: white !important;
}

:host ::ng-deep .p-sidebar-header {
	padding: 0px !important;
}

:host ::ng-deep .p-sidebar-content {
	padding: 0px !important;
}

:host ::ng-deep .p-sidebar-footer {
	padding: 0px !important;
}

.deleteDivButton {
	background-color: #d80027;
	color: white;
	padding: 5px 5px;
	border: none;
	border-radius: 50px;
}

// modern
// modern
#cv-preview-container {
	display: flex;
	flex-direction: column;
	/* Arrange children vertically */
	height: 100%;
	/* Ensure it takes the full height of its container */
}

.customfontstyles {
	margin: auto;
	/* Centers the content vertically if needed */
}

.container1 {
	margin-top: auto;
	/* Pushes the footer to the bottom of the container */
	width: 100%;
	position: relative;
}

// acadamic
#cv-preview-container {
	display: flex;
	flex-direction: column;
	/* Arrange children vertically */
	height: 100%;
	/* Ensure it takes the full height of its container */
}

.containeracadamic {
	position: relative;
	width: 100%;
	height: 10px;
	/* Adjust height as needed */
}

.horizontal-lineacadamic {
	position: absolute;
}

.horizontal-lineacadamic {
	width: 100%;
	height: 5px;
	top: 51%;
	left: 0px;
}


.customfontstyles {
	margin: auto;
	/* Centers the content vertically if needed */
}

.containeracademic1 {
	margin-top: auto;
	/* Pushes the footer to the bottom of the container */
	width: 100%;
	position: relative;
}

.horizontal-lineacadamic1 {
	position: absolute;
}

.horizontal-lineacadamic1 {
	width: 100%;
	height: 5px;
	bottom: 4px;
	left: 0px;
}

//   traditional
.container {
	position: relative;
	width: 100%;
	height: 50px;
}

.vertical-line,
.horizontal-line {
	position: absolute;
	box-shadow: 0px 0px 1px 1px grey;
}

.vertical-line {
	width: 1px;
	height: 120%;
	left: 7%;
	top: -10px;
}

.horizontal-line {
	width: 104%;
	height: 1px;
	top: 50%;
	left: -2%;
}

.circle {
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #E8BF93;
	border-radius: 50%;
	top: 50%;
	left: 7%;
	transform: translate(-50%, -50%);
}

.container1 {
	width: 100%;
	height: 150px;
}

.vertical-line1,
.horizontal-line1 {
	position: absolute;
	box-shadow: 0px 0px 1px 1px grey;
}

.vertical-line1 {
	width: 1px;
	height: 50%;
	left: 90%;
	top: 85px;
	box-shadow: 0px 0px 1px 1px grey;
}

.horizontal-line1 {
	width: 104%;
	height: 1px;
	bottom: 25%;
	left: -2%;
	box-shadow: 0px 0px 1px 1px grey;
}

.circle1 {
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #E8BF93;
	border-radius: 50%;
	bottom: 20%;
	left: 90%;
	transform: translate(-50%, -50%);
}

// fuctional
.containerfuctional {
	position: relative;
	width: 100%;
	height: 70px;
	top: -10px
}

#cv-preview-container {
	position: relative;
	height: 100%;
}

:host ::ng-deep .p-steps {
	ul {
		gap: 2rem;
		justify-content: center;
	}

	.p-highlight {
		.p-steps-title {
			font-weight: 700 !important;
		}

		.p-steps-number {
			background: black !important;
			color: white !important;
		}
	}

	.p-steps-item {
		flex: 0;

		.p-menuitem-link {
			background: transparent;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 1rem;

			.p-steps-title {
				margin: 0;
				color: var(--primary-500);
				font-weight: 600;
			}

			.p-steps-number {
				background: #e5e5e5;
				border: none;
				color: var(--primary-500);
				font-weight: 700;
			}
		}
	}

	.p-steps-item:before {
		display: none;
	}
}

:host ::ng-deep .p-inputtext {
	background-color: transparent;
	border-radius: 8px;
}

:host ::ng-deep .p-select {
	background-color: transparent;
	border-radius: 8px;
}

:host ::ng-deep .p-sidebar-header {
	padding: 0px !important;
}

:host ::ng-deep .p-sidebar-content {
	padding: 0px !important;
}

:host ::ng-deep .p-sidebar-footer {
	padding: 0px !important;
}

:host ::ng-deep .p-editor-toolbar {
	display: none;
}

.content-font-size {
	font-size: 10px !important;
}

.pdfviewer-card-border {
	border-radius: 10px !important;
	text-transform: inherit !important;
	background-color: #ededed;
	border: 1px solid #dfe4f8;
	padding: 10px;
	margin: 10px;
}

.cvSampleImg {
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: center;
	color: var(--primary-500);
	font-weight: 700;

	pdf-viewer {
		border-radius: 9px;
		border: 1px solid;
		display: block;
		height: 310px;
		width: 210px;
		margin: 5px;
		padding: 5px 0px;
		overflow: hidden;
	}
}

.createResumeButton {
	background-color: var(--primary-500);
	color: white;
	padding: 15px 75px 15px 75px;
	border: none;
	border-radius: 50px;
	width: 30%;
	margin: 25px;
}

// .skeleton-loader {
// 	background: #dcdcdc;
// 	animation: pulse 1.5s infinite ease-in-out;
// 	border-radius: 9px;
// 	margin: 10px;
// }

// @keyframes pulse {
// 	0% {
// 		background-color: #dcdcdc;
// 	}
// 	50% {
// 		background-color: #b0b0b0;
// 	}
// 	100% {
// 		background-color: #dcdcdc;
// 	}
// }


.centered-paragraph {
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

.pdf-preview {
	width: 100%;
	height: 100%;
	background: #f8f9fa;
	border: 1px solid #dee2e6;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	transition: all 0.2s ease;

	&:hover {
		border-color: #adb5bd;
	}

	.pdf-thumbnail {
		max-width: 100%;
		width: 100%;
		max-height: 300px;
		object-fit: contain;
		background: none;
		border: none;
	}

	.loading-placeholder {
		color: #6c757d;
		font-size: 14px;
	}

	.resume-option {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: end;
		padding: 10px;
	}
}

.job-input {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	background: transparent;
	border-radius: 8px;
}

.input-wrapper {
	position: relative;
}

.dropdown-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-height: 150px;
	overflow-y: auto;
	border: 1px solid #ccc;
	position: absolute;
	width: 100%;
	background-color: white;
	display: block;
	z-index: 10001;
}

.dropdown-list li {
	padding: 8px;
	cursor: pointer;
}

.dropdown-list li:hover {
	background-color: #f0f0f0;
}

@media (max-width: 768px) {
	.createResumeButton {
		width: 60%;
		padding: 12px 40px;
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.createResumeButton {
		width: 90%;
		padding: 10px 20px;
		font-size: 13px;
		margin: 15px auto;
	}
}

::ng-deep .ql-toolbar.ql-snow {
	border: 2px solid #ccc !important;
}

:host ::ng-deep.p-editor .p-editor-content.ql-snow {
	border: 2px solid #ccc !important;
}

.history-Button {
	background-color: var(--primary-500);
	color: white;
	padding: 15px 75px 15px 75px;
	border: none;
	border-radius: 50px;
	width: 17%;
	margin: 15px;
}

.history-Button2 {
	background-color: var(--primary-500);
	color: white;
	padding: 10px 45px;
	border: none;
	border-radius: 50px;
	margin: 15px;
}