<div class="container-fluid h-100 d-flex flex-column justify-content-center bg-white" *ngIf="activePageIndex == 0">
	<div class="row justify-content-center">
		<div class="flex-column">
			<div>
				<h3 class="text-center uniprep-primary">Your Cover Letters</h3>
				<div class="cvSampleImg d-flex flex-wrap gap-3">
					<div class="flex-column overflow-hidden" *ngFor="let resume of resumeHistory; let i = index">
						<div>
							<!-- Replace PDF viewer with image -->
							<div class="pdf-preview" *ngIf="resume?.pdf_name">
								<img *ngIf="pdfThumbnails[resume.pdf_name]" [src]="pdfThumbnails[resume.pdf_name]"
									alt="PDF Preview" class="pdf-thumbnail" />
								<div *ngIf="!pdfThumbnails[resume.pdf_name]" class="loading-placeholder">Loading
									preview...</div>
								<div class="position-absolute resume-option">
									<span role="button" class="HistoryDeleteIcon"
										(click)="confirm($event, resume.pdf_name, resume.id)">
										<i class="fa-solid fa-trash"></i>
									</span>
									<p-confirmPopup></p-confirmPopup>
									<span role="button" class="HistoryDownloadIcon"
										(click)="downloadOldResume(resume.pdf_name)">
										<i class="fa-solid fa-download"></i>
									</span>
								</div>
							</div>
							<!-- <div *ngIf="pdfLoadError" class="alert alert-danger mt-3">
								<p>Error loading PDF. Please try downloading the file instead.</p>
							</div> -->
						</div>
						<div>
							<p>Version {{ i + 1 }}</p>
							<small>{{ resume.created_time }}</small>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<button pButton class="createResumeButton" (click)="next()">Create your Cover Letter
					&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right tickIcon"></i></button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid h-100 d-flex flex-column justify-content-center bg-white" *ngIf="activePageIndex == 1">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center uniprep-primary">Select your Cover Letter style to get started</h3>
		</div>
		<div class="col-md-12">
			<div class="swiper-wrapper-custom">
				<div class="d-flex">
					<div class="d-flex align-items-center justify-content-center">
						<button pButton type="button" class="swiper-prev" aria-label="Previous-Slide"><i
								class="fa-solid fa-angle-left"></i></button>
					</div>
					<div class="overflow-hidden py-5">
						<div class="swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide text-center d-flex justify-content-center"
									*ngFor="let slide of resumeSlider">
									<div class="cvBuilderSampleImg position-relative"
										[ngClass]="{ selectedResumeLevel: selectedResumeLevel == slide.templateName }">
										<h5 class="text-center uniprep-primary">{{ slide.templateName }}</h5>
										<img [src]="slide.imageLink" alt="{{ slide.templateName }}" />
										<button pButton class="center-button btn btn-primary"
											(click)="selectResumeTemplate(slide.templateName)">Select</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-center">
						<button pButton type="button" class="swiper-next" aria-label="Next-Slide"><i
								class="fa-solid fa-angle-right"></i></button>
					</div>
				</div>
			</div>
			<div class="" style="overflow-y: auto; text-align: end;">
				<button pButton class="history-Button" (click)="historyPage()">History
				</button>
			</div>
		</div>
	</div>
</div>
<!-- <div class="" *ngIf="activePageIndex == 3">

	<div class="row justify-content-center">
		<div class="flex-column">
			<div style="justify-content: center;">
				<h3 class="text-center uniprep-primary">Your Coverletter</h3>
				<h5 class="text-center uniprep-primary">{{ selectedResumeLevel }}</h5>
				<div class="cvBuilderSampleImg d-flex justify-content-center align-items-center">
					<span>
						<img *ngIf="selectedResumeLevel == 'Modern'" src="{{previewImage}}" />
						<img *ngIf="selectedResumeLevel == 'Traditional'" src="{{previewImage}}" />
						<img *ngIf="selectedResumeLevel == 'Creative'" src="{{previewImage}}" />
						<img *ngIf="selectedResumeLevel == 'Functional'" src="{{previewImage}}" />
						<img *ngIf="selectedResumeLevel == 'Academic'" src="{{previewImage}}" />
					</span>
				</div>
				<div class="d-flex justify-content-center align-items-center">
					<button pButton  class="downloadButton" (click)="downloadResume()">Download &nbsp;&nbsp;&nbsp;<i
							class="fa-solid fa-download tickIcon"></i></button>
				</div>
				<div class="d-flex justify-content-between">
					<button pButton  pButton type="button" (click)="previous()"
						class="text-white p-ripple p-button-rounded p-button-info-prev p-button p-component p-2"><i
							class="fa fa-arrow-left exhausted-plan-icon-prev"></i> Previous</button> -->
<!-- <button pButton  class="downloadButton" style="margin: 0px;" (click)="next()">Coverletter Builder
						&nbsp;&nbsp;&nbsp;<i class="fa-sharp fa-regular fa-house tickIcon"></i></button> -->
<!-- </div>
			</div>
		</div>
	</div>
</div> -->
<div class="container-fluid h-100 bg-white" *ngIf="activePageIndex == 3" style="overflow-y: auto">
	<div class="row justify-content-center">
		<div class="flex-column">
			<div style="height: 15%">
				<h3 class="text-center uniprep-primary">Your Cover Letter</h3>
				<h5 class="text-center uniprep-primary">{{ selectedResumeLevel }}</h5>
				<div class="d-flex justify-content-center align-items-center">
					<button pButton class="downloadButton" (click)="downloadResume()">Download &nbsp;&nbsp;&nbsp;<i
							class="fa-solid fa-download tickIcon"></i></button>
					<button pButton class="history-Button2" (click)="historyPage()">History
					</button>

				</div>
			</div>
			<div class="col-md-12 d-flex justify-content-center" style="height: 80%">
				<div class="col-md-6">
					<div class="previewcontainer">
						<div class="previewbody">
							<ng-container *ngTemplateOutlet="sharedContent"></ng-container>
						</div>
					</div>
				</div>
			</div>
			<!-- style="visibility:hidden;" -->
			<div class="d-flex justify-content-between" style="height: 5%">
				<button pButton pButton type="button" (click)="previous()"
					class="text-white p-ripple p-button-rounded p-button-info-prev p-button p-component p-2"><i
						class="fa fa-arrow-left exhausted-plan-icon-prev"></i> Previous</button>
				<!-- <button pButton  class="downloadButton" style="margin: 0px" (click)="next()">CV Builder &nbsp;&nbsp;&nbsp;<i class="fa-sharp fa-regular fa-house tickIcon"></i></button> -->
			</div>
		</div>
	</div>
</div>
<div class="container-fluid h-100 d-flex flex-column bg white" *ngIf="activePageIndex == 2">
	<!-- <div class="row align-items-center mb-2">
		<div class="col-md-1">
			<div class="backIcon d-md-flex d-none" role="button" (click)="previous()">
				<span class="pi pi-angle-left"></span>
			</div>
		</div>
		<div class="col-md-10">
			<p-steps [model]="items" [readonly]="false" [activeIndex]="moduleActiveIndex"></p-steps>
		</div>
		<div class="col-md-1">&nbsp;</div>
	</div> -->
	<div class="row flex-fill overflow-hidden bg-white">
		<div class="col-md-6 h-100 d-flex flex-column overflow-hidden gap-2">
			<div class="flex-fill overflow-y-auto">
				<form role="form" class="row" [formGroup]="resumeFormInfoData" #form="ngForm">
					<div class="col-md-12 mb-3">
						<ng-container *ngIf="moduleActiveIndex == 0">
							<h4 class="uniprep-primary">Enter Your Personal Information</h4>
							<div class="row mb-3">
								<div class="col-md-6">
									<label class="uniprep-primarydark fw-bold h6">Your Name</label>
									<div class="form-group">
										<div class="mb-3">
											<input class="w-100" type="text" placeholder="Full Name"
												formControlName="user_name" pInputText />
											<div *ngIf="submitted && f['user_name'].errors" class="text-danger text-xs">
												<div style="margin-left: 10px" *ngIf="f['user_name'].errors">Full Name
													Required</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<label class="uniprep-primarydark fw-bold h6">Job Title</label>
									<div class="form-group">
										<div class="mb-3">
											<!-- <input class="w-100" type="text" placeholder="Previous Your Job Title" formControlName="user_job_title" pInputText />
											<div *ngIf="submitted && f['user_job_title'].errors" class="text-danger text-xs">
												<div style="margin-left: 10px" *ngIf="f['user_job_title'].errors">Your Job Title Required</div>
											</div> -->
											<input type="text" formControlName="user_job_title"
												(input)="searchJob($event)"
												class="form-control w-100 rounded-5 border-primary inputHeight pr-5"
												placeholder="Search by Job Role"
												style="border-radius: 10px !important;" />
											<div *ngIf="submitted && f['user_job_title'].errors"
												class="text-danger text-xs">
												<div style="margin-left: 10px" *ngIf="f['user_job_title'].errors">Your
													Job Title Required</div>
											</div>

											<ul *ngIf="filterJobRole.length > 0" class="dropdown-list">
												<li *ngFor="let job of filterJobRole"
													(click)="setJobtitle(job.id, job.jobrole)">
													{{ job.jobrole }}
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<label class="uniprep-primarydark fw-bold h6">Your Email</label>
									<div class="form-group">
										<div class="mb-3">
											<input class="w-100" type="text" placeholder="Email Address"
												formControlName="user_email" pInputText />
											<div *ngIf="submitted && f['user_email'].errors"
												class="text-danger text-xs">
												<div style="margin-left: 10px"
													*ngIf="f['user_email'].errors?.['required']">Email Required</div>
												<div style="margin-left: 10px"
													*ngIf="f['user_email'].errors?.['email']">Enter Valid email Address
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<label class="uniprep-primarydark fw-bold h6">Your Location</label>
									<div class="form-group">
										<div class="mb-3">
											<div class="input-wrapper">
												<input type="text" formControlName="user_location"
													(input)="searchLocation($event, 'user_location')"
													(focusout)="onFocusOut()" placeholder="Location, Country"
													class="form-control job-input bg-transparent" />
												<ul *ngIf="filteredLocations.length > 0" class="dropdown-list">
													<li *ngFor="let city of filteredLocations"
														(click)="selectLocation(city, 'user_location')">{{
														city.country_name }}</li>
												</ul>
												<div *ngIf="submitted && f['user_location'].errors"
													class="text-danger text-xs">
													<div *ngIf="f['user_location'].errors">Location Required</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="d-flex align-items-center">
										<label class="uniprep-primarydark fw-bold h6">Country Code</label>
									</div>
									<div class="form-group">
										<div class="mb-3">
											<p-select [options]="countryCodeList" styleClass="w-100" [filter]="true"
												[filterBy]="'name'" placeholder="Select Country Code"
												formControlName="country_code" optionLabel="name"
												optionValue="code"></p-select>
											<div *ngIf="submitted && f['country_code'].errors"
												class="text-danger text-xs">
												<div *ngIf="f['country_code'].errors">Country Code Required</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<label class="uniprep-primarydark fw-bold h6">Phone Number</label>
									<div class="form-group">
										<div class="mb-3">
											<input class="w-100" type="text" placeholder="Phone Number"
												formControlName="user_phone" pInputText />
											<div *ngIf="f['user_phone'].invalid && (f['user_phone'].dirty || f['user_phone'].touched)"
												class="text-danger text-xs">
												<div style="margin-left: 10px"
													*ngIf="f['user_phone'].errors?.['required']">Phone number Required
												</div>
												<div style="margin-left: 10px"
													*ngIf="f['user_phone'].errors?.['pattern']">Enter Valid Phone number
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</ng-container>
						<ng-container>
							<h4 class="p-mb-1 PageTitle">Enter Organization Details</h4>
							<div class="row">
								<div class="col-md-6">
									<label class="uniprep-primarydark fw-bold h6">Organization Name</label>
									<div class="form-group">
										<div class="mb-3">
											<input class="w-100" type="text" placeholder="Organization Name"
												formControlName="org_name" pInputText />
											<div *ngIf="submitted && f['org_name'].errors" class="text-danger text-xs">
												<div style="margin-left: 10px" *ngIf="f['org_name'].errors">Organization
													Name Required</div>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="col-md-6">
									<label class="uniprep-primarydark fw-bold h6">Manager Name</label>
									<div class="row">
										<div class="form-group">
											<div class="mb-3">
												<input class="w-100" type="text" placeholder="Manger Name" formControlName="managername" pInputText />
												<div *ngIf="submitted && f['managername'].errors" class="text-danger text-xs">
													<div style="margin-left: 10px" *ngIf="f['managername'].errors">Manger Name Required</div>
												</div>
											</div>
										</div>
									</div>
								</div> -->
								<div class="col-md-6">
									<label class="uniprep-primarydark fw-bold h6">Location</label>
									<div class="form-group">
										<div class="mb-3">
											<div class="input-wrapper">
												<input type="text" formControlName="org_location"
													(input)="searchLocation($event, 'org_location')"
													(focusout)="onFocusOut()" placeholder="Location, Country"
													class="form-control job-input bg-transparent" />
												<ul *ngIf="orgLocation.length > 0" class="dropdown-list">
													<li *ngFor="let city of orgLocation"
														(click)="selectLocation(city, 'org_location')">{{
														city.country_name }}</li>
												</ul>
												<div *ngIf="submitted && f['org_location'].errors"
													class="text-danger text-xs">
													<div *ngIf="f['org_location'].errors">Organization Location Required
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<label class="uniprep-primarydark fw-bold h6">Job Position</label>
									<div class="form-group">
										<div class="mb-3">
											<!-- <input class="w-100" type="text" placeholder="Your Job Position" formControlName="jobposition" pInputText /> -->

											<input type="text" formControlName="jobposition"
												(input)="searchJobPosition($event)"
												class="form-control w-100 rounded-5 border-primary inputHeight pr-5"
												placeholder="Search by Job Role"
												style="border-radius: 10px !important;" />
											<div *ngIf="submitted && f['jobposition'].errors"
												class="text-danger text-xs">
												<div style="margin-left: 10px" *ngIf="f['jobposition'].errors">Your Job
													Position Required</div>
											</div>
											<ul *ngIf="filterJobRolePostionApplied.length > 0" class="dropdown-list">
												<li *ngFor="let job of filterJobRolePostionApplied"
													(click)="setJobtitlePositiApplied(job.id, job.jobrole)">
													{{ job.jobrole }}
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- job discription commented here  -->
								<!-- <div class="col-md-12">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<label class="uniprep-primarydark fw-bold h6 mb-0">Job Description</label>
										</div>
										<div>
											<button pButton *ngIf="generateDesBtnDisable" type="button"
												class="deleteDivButton m-2 p-2" [loading]="chatGptButtonLoader"
												(click)="chatGPTIntegration('generate_description')"
												style="background-color: #9bc329">AI Generate</button>
											<button *ngIf="rephraseDesBtnDisable" pButton type="button"
												[loading]="chatGptButtonLoader"
												class="deleteDivButton m-2 p-2 bg-secondary"
												(click)="chatGPTIntegration('rephrase_description')">Rephrase</button>
										</div>
									</div>
									<div class="form-group">
										<div class="mb-3">
											<p-editor [style]="{ height: 'auto' }" class="mt-2"
												formControlName="job_description" placeholder="Job Description"
												[modules]="editorModules"></p-editor>
											<div *ngIf="submitted && f['job_description'].errors"
												class="text-danger text-xs">
												<div style="margin-left: 10px" *ngIf="f['job_description'].errors">
													Required</div>
											</div>
										</div>
									</div>
								</div> -->
							</div>
						</ng-container>
						<ng-container>
							<div class="row">
								<div class="col-md-12">
									<div class="d-flex justify-content-between align-items-center">
										<div>
											<label class="uniprep-primarydark fw-bold h6 mb-0">Cover Letter
												Section</label>
										</div>
										<div>
											<button pButton *ngIf="generateConBtnDisable" type="button"
												class="deleteDivButton m-2 p-2" [loading]="chatGptButtonLoaderSummary"
												(click)="chatGPTIntegration('generate_summary')"
												style="background-color: #9bc329">AI Generate</button>
											<button pButton *ngIf="rephraseconBtnDisable" type="button"
												class="deleteDivButton m-2 p-2 bg-secondary"
												[loading]="chatGptButtonLoaderSummary"
												(click)="chatGPTIntegration('rephrase_summary')">Rephrase</button>
										</div>
									</div>
									<div class="form-group">
										<div class="mb-3">
											<p-editor [style]="{ height: 'auto' }" class="mt-2"
												formControlName="user_summary" placeholder="Generate Your Content"
												[modules]="editorModules"></p-editor>
											<div *ngIf="submitted && f['user_summary'].errors"
												class="text-danger text-xs">
												<div style="margin-left: 10px" *ngIf="f['user_summary'].errors">Required
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</form>
			</div>
			<div class="d-flex justify-content-between">
				<!-- <button pButton pButton type="button" (click)="prevStage()" class="btn btn-primary btn-rounded p-1 pe-4">
					<span class="btn-icon px-2 py-2"><i class="fa-solid fa-arrow-left"></i></span> <span class="ms-2">Previous</span>
				</button>
				<button pButton pButton type="button" (click)="resumeFormSubmit()" *ngIf="moduleActiveIndex != 2" class="btn btn-primary btn-rounded p-1 ps-4">
					<span class="me-2">Next</span><span class="btn-icon px-2 py-2"><i class="fa-solid fa-arrow-right"></i></span>
				</button> -->
				<button pButton pButton type="button" (click)="resumeFormSubmit()" *ngIf="moduleActiveIndex == 0"
					class="btn btn-success btn-rounded p-1 ps-4">
					<span class="me-2">Create</span><span class="btn-icon px-2 py-2"><i
							class="fa-solid fa-check"></i></span>
				</button>
			</div>
		</div>
		<div class="col-md-6 h-100">
			<div class="card h-100">
				<div class="card-header d-flex justify-content-between align-items-center border-0 bg-transparent">
					<h4 class="uniprep-primary mb-0">Preview</h4>
					<div class="d-flex gap-2 align-items-center">
						<span class="templateButton gap-2">Template
							<div class="template-dropdown position-relative">
								<span class="templateName">{{ selectedResumeLevel }} <i
										class="fa fa-caret-down"></i></span>
								<div class="template-dropdown-content">
									<a class="cursorPointer"
										[ngClass]="{ activeTemplate: selectedResumeLevel === 'Traditional' }"
										(click)="imgOnclick('Traditional')">Traditional</a>
									<a class="cursorPointer"
										[ngClass]="{ activeTemplate: selectedResumeLevel === 'Creative' }"
										(click)="imgOnclick('Creative')">Creative</a>
									<a class="cursorPointer"
										[ngClass]="{ activeTemplate: selectedResumeLevel === 'Modern' }"
										(click)="imgOnclick('Modern')">Modern</a>
									<a class="cursorPointer"
										[ngClass]="{ activeTemplate: selectedResumeLevel === 'Functional' }"
										(click)="imgOnclick('Functional')">Functional</a>
									<a class="cursorPointer"
										[ngClass]="{ activeTemplate: selectedResumeLevel === 'Academic' }"
										(click)="imgOnclick('Academic')">Academic</a>
								</div>
							</div>
						</span>
						<ng-container *ngTemplateOutlet="colorPickerContent"></ng-container>
					</div>
					<i class="fa-sharp fa-solid fa-expand" style="cursor: pointer" (click)="toggleFullScreen()"></i>
				</div>
				<div class="card-body overflow-y-auto">
					<div class="previewcontainer">
						<div class="previewbody">
							<ng-container *ngTemplateOutlet="sharedContent"></ng-container>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- templates -->

<p-sidebar [(visible)]="fullScreenVisible" [fullScreen]="true" [showCloseIcon]="false">
	<div class="col-md-12 h-100">
		<div class="card h-100 border-0">
			<div class="card-header cvPreview border-0 rounded-0">
				<h4 class="mb-0">Cover Letter Preview</h4>
				<div class="d-flex gap-2 align-items-center">
					<span class="templateButton gap-2">Template
						<div class="template-dropdown position-relative">
							<span class="templateName">{{ selectedResumeLevel }} <i class="fa fa-caret-down"></i></span>
							<div class="template-dropdown-content">
								<a class="cursorPointer"
									[ngClass]="{ activeTemplate: selectedResumeLevel === 'Traditional' }"
									(click)="imgOnclick('Traditional')">Traditional</a>
								<a class="cursorPointer"
									[ngClass]="{ activeTemplate: selectedResumeLevel === 'Creative' }"
									(click)="imgOnclick('Creative')">Creative</a>
								<a class="cursorPointer"
									[ngClass]="{ activeTemplate: selectedResumeLevel === 'Modern' }"
									(click)="imgOnclick('Modern')">Modern</a>
								<a class="cursorPointer"
									[ngClass]="{ activeTemplate: selectedResumeLevel === 'Functional' }"
									(click)="imgOnclick('Functional')">Functional</a>
								<a class="cursorPointer"
									[ngClass]="{ activeTemplate: selectedResumeLevel === 'Academic' }"
									(click)="imgOnclick('Academic')">Academic</a>
							</div>
						</div>
					</span>
					<ng-container *ngTemplateOutlet="colorPickerContent"></ng-container>
				</div>
				<i class="fa-sharp fa-solid fa-compress" role="button" (click)="toggleFullScreen()"></i>
			</div>
			<div class="card-body overflow-y-auto" style="background-color: #3f4c83">
				<div class="row justify-content-center">
					<div class="col-md-5">
						<div class="previewcontainer">
							<div class="previewbody">
								<ng-container *ngTemplateOutlet="sharedContent"></ng-container>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</p-sidebar>

<ng-template #colorPickerContent>
	<div class="dropdown">
		<div class="colorDiv d-flex colorButton align-items-center gap-2">
			<p>Color</p>
			<div style="background-color: black" [ngStyle]="{ 'background-color': selectedThemeColor }"
				class="selectedColor"></div>
		</div>
		<div class="dropdown-content">
			<div class="d-flex justify-content-center">
				<a (click)="selectColor('#172a99', 1)" class="p-2 cursorPointer">
					<div style="background-color: #172a99" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 1" class="fa-solid fa-check ColorCheckBox colorWhite"></i>
				</a>
				<a (click)="selectColor('#469199', 2)" class="p-2 cursorPointer">
					<div style="background-color: #469199" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 2" class="fa-solid fa-check ColorCheckBox colorWhite"></i>
				</a>
				<a (click)="selectColor('#973131', 3)" class="p-2 cursorPointer">
					<div style="background-color: #973131" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 3" class="fa-solid fa-check ColorCheckBox"></i>
				</a>
				<a (click)="selectColor('#C80036', 4)" class="p-2 cursorPointer">
					<div style="background-color: #c80036" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 4" class="fa-solid fa-check ColorCheckBox colorWhite"></i>
				</a>
			</div>
			<div class="d-flex justify-content-center">
				<a (click)="selectColor('#E2C742', 5)" class="p-2 cursorPointer">
					<div style="background-color: #e2c742" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 5" class="fa-solid fa-check ColorCheckBox colorWhite"></i>
				</a>
				<a (click)="selectColor('#686D76', 6)" class="p-2 cursorPointer">
					<div style="background-color: #686d76" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 6" class="fa-solid fa-check ColorCheckBox"></i>
				</a>
				<a (click)="selectColor('#373A40', 7)" class="p-2 cursorPointer">
					<div style="background-color: #373a40" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 7" class="fa-solid fa-check ColorCheckBox colorWhite"></i>
				</a>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #sharedContent>
	<div class="h-100" id="cv-preview-container"
		[ngClass]="{ previewBodyForm: !fullScreenVisible, previewBodyFormFull: fullScreenVisible }"
		*ngIf="selectedResumeLevel == 'Modern'">
		<div class="container-fluid d-flex flex-column h-100">
			<div class="h-100">
				<div class="row pt-5 flex-fill justify-content-center">
					<div class="col-12 text-center">
						<h1 class="mb-0 text-uppercase">{{ f["user_name"].value }}</h1>
						<h5 class="mb-3 text-uppercase fw-medium">{{ f["user_job_title"].value }}</h5>
					</div>
					<div class="col-11 py-3 mb-5" [ngStyle]="{ 'background-color': selectedThemeColor }">
						<div class="d-flex justify-content-between px-3 text-white">
							<div><i class="fa-solid fa-location-dot text-white"></i> {{ f["user_location"].value }}
							</div>
							<div><i class="fa-solid fa-phone text-white"></i> {{ f["country_code"].value }} {{
								f["user_phone"].value }}</div>
							<div><i class="fa-solid fa-envelope text-white"></i> {{ f["user_email"].value }}</div>
							<!-- <div *ngIf="f['user_website'].value"><i class="fa-solid fa-globe text-white"></i> {{ f["user_website"].value }}</div> -->
						</div>
					</div>
					<div class="col-12 content-font-size">
						<div class="row pt-2 pb-2 mb-3 flex-fill gap-1">
							<div>To</div>
							<div>Hiring Manager </div>
							<div>{{ f["org_name"].value }}</div>
							<div>{{ f["org_location"].value }}</div>
							<!-- <div>{{ currentDate | date : "dd-MM-yyyy" }}</div> -->
						</div>
						<p class="mb-2">Dear Sir/Madam,</p>
						<p class="centered-paragraph">
							<span class="UserSummary" [innerHTML]="f['user_summary'].value"></span>
						</p>
						<p class="mt-3">Warm regards,</p>
						<p>{{ f["user_name"].value }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="h-100" id="cv-preview-container"
		[ngClass]="{ previewBodyForm: !fullScreenVisible, previewBodyFormFull: fullScreenVisible }"
		*ngIf="selectedResumeLevel == 'Academic'">
		<div class="container-fluid d-flex flex-column h-100">
			<div class="h-100">
				<div class="row pt-5 flex-fill justify-content-center">
					<div class="col-12 text-center mb-4">
						<div class="card text-start" [ngStyle]="{ 'background-color': selectedThemeColor }">
							<div class="card-body">
								<h1 class="mb-0 text-uppercase text-white">{{ f["user_name"].value }}</h1>
								<h5 class="mb-3 text-uppercase fw-medium text-white">{{ f["user_job_title"].value }}
								</h5>
							</div>
						</div>
					</div>
					<div class="col-11 mb-5">
						<div class="d-flex justify-content-between px-3">
							<div><i class="fa-solid fa-location-dot"></i> {{ f["user_location"].value }}</div>
							<div><i class="fa-solid fa-phone"></i> {{ f["country_code"].value }} {{
								f["user_phone"].value }}</div>
							<div><i class="fa-solid fa-envelope"></i> {{ f["user_email"].value }}</div>
							<!-- <div *ngIf="f['user_website'].value"><i class="fa-solid fa-globe"></i> {{ f["user_website"].value }}</div> -->
						</div>
					</div>
					<div class="col-12 content-font-size">
						<div class="row pt-2 pb-2 mb-3 flex-fill gap-1">
							<!-- <div>{{ f["managername"].value }}</div> -->
							<div>To</div>
							<div>Hiring Manager </div>
							<div>{{ f["org_name"].value }}</div>
							<div>{{ f["org_location"].value }}</div>
							<!-- <div>{{ currentDate | date : "dd-MM-yyyy" }}</div> -->
						</div>
						<p class="mb-2">Dear Sir/Madam,</p>
						<p class="centered-paragraph">
							<span class="UserSummary" [innerHTML]="f['user_summary'].value"></span>
						</p>
						<p class="mt-3">Warm regards,</p>
						<p>{{ f["user_name"].value }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="h-100" id="cv-preview-container"
		[ngClass]="{ previewBodyForm: !fullScreenVisible, previewBodyFormFull: fullScreenVisible }"
		*ngIf="selectedResumeLevel === 'Creative'">
		<div class="container-fluid d-flex flex-column h-100">
			<div class="h-100">
				<div class="row pt-0 flex-fill justify-content-center">
					<div class="col-11 text-center bg-black pt-5">
						<h1 class="mb-0 text-uppercase" [ngStyle]="{ color: selectedThemeColor }">{{
							f["user_name"].value }}</h1>
						<h5 class="mb-3 text-uppercase fw-medium text-white">{{ f["user_job_title"].value }}</h5>
					</div>
					<div class="col-12 py-3" [ngStyle]="{ 'background-color': selectedThemeColor }">
						<div class="d-flex justify-content-between px-3 text-white">
							<div><i class="fa-solid fa-location-dot"></i> {{ f["user_location"].value }}</div>
							<div><i class="fa-solid fa-phone"></i> {{ f["country_code"].value }} {{
								f["user_phone"].value }}</div>
							<div><i class="fa-solid fa-envelope"></i> {{ f["user_email"].value }}</div>
							<!-- <div *ngIf="f['user_website'].value"><i class="fa-solid fa-globe"></i> {{ f["user_website"].value }}</div> -->
						</div>
					</div>
					<div class="col-11 text-center py-3 bg-black mb-4" style="border-radius: 0px 0px 20px 20px">&nbsp;
					</div>
					<div class="col-12 content-font-size">
						<div class="row pt-2 pb-2 mb-3 flex-fill gap-1">
							<!-- <div>{{ f["managername"].value }}</div> -->
							<div>To</div>
							<div>Hiring Manager </div>
							<div>{{ f["org_name"].value }}</div>
							<div>{{ f["org_location"].value }}</div>
							<!-- <div>{{ currentDate | date : "dd-MM-yyyy" }}</div> -->
						</div>
						<p class="mb-2">Dear Sir/Madam,</p>
						<p class="centered-paragraph">
							<span class="UserSummary" [innerHTML]="f['user_summary'].value"></span>
						</p>
						<p class="mt-3">Warm regards,</p>
						<p>{{ f["user_name"].value }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="h-100" id="cv-preview-container"
		[ngClass]="{ previewBodyForm: !fullScreenVisible, previewBodyFormFull: fullScreenVisible }"
		*ngIf="selectedResumeLevel == 'Functional'">
		<div class="container-fluid d-flex flex-column h-100">
			<div class="h-100">
				<div class="row pt-5 px-3 flex-fill justify-content-center">
					<div class="col-8 text-start">
						<h1 class="mb-0 text-uppercase">{{ f["user_name"].value }}</h1>
						<div class="py-1 mb-3" [ngStyle]="{ 'background-color': selectedThemeColor }"></div>
						<h5 class="text-uppercase fw-medium">{{ f["user_job_title"].value }}</h5>
					</div>
					<div class="col-4">
						<div class="d-flex flex-column gap-3">
							<div><i class="fa-solid fa-location-dot" [ngStyle]="{ color: selectedThemeColor }"></i> {{
								f["user_location"].value }}</div>
							<div><i class="fa-solid fa-phone" [ngStyle]="{ color: selectedThemeColor }"></i> {{
								f["country_code"].value }} {{ f["user_phone"].value }}</div>
							<div><i class="fa-solid fa-envelope" [ngStyle]="{ color: selectedThemeColor }"></i> {{
								f["user_email"].value }}</div>
							<!-- <div *ngIf="f['user_website'].value"><i class="fa-solid fa-globe" [ngStyle]="{ color: selectedThemeColor }"></i> {{ f["user_website"].value }}</div> -->
						</div>
					</div>
					<div class="col-12 mt-4 content-font-size">
						<div class="row pt-2 pb-2 mb-3 flex-fill gap-1">
							<!-- <div>{{ f["managername"].value }}</div> -->
							<div>To</div>
							<div>Hiring Manager </div>
							<div>{{ f["org_name"].value }}</div>
							<div>{{ f["org_location"].value }}</div>
							<!-- <div>{{ currentDate | date : "dd-MM-yyyy" }}</div> -->
						</div>
						<p class="mb-2">Dear Sir/Madam,</p>
						<p class="centered-paragraph">
							<span class="UserSummary" [innerHTML]="f['user_summary'].value"></span>
						</p>
						<p class="mt-3">Warm regards,</p>
						<p>{{ f["user_name"].value }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="h-100" id="cv-preview-container"
		[ngClass]="{ previewBodyForm: !fullScreenVisible, previewBodyFormFull: fullScreenVisible }"
		*ngIf="selectedResumeLevel == 'Traditional'">
		<div class="container-fluid d-flex flex-column h-100">
			<div class="h-100">
				<div class="row pt-5 pb-4 px-3 flex-fill justify-content-center" style="background-color: #f4f1eb">
					<div class="col-8 text-start text-uppercase">
						<h1 class="mb-3">{{ f["user_name"].value }}</h1>
						<h5 class="fw-medium mb-0">{{ f["user_job_title"].value }}</h5>
					</div>
					<div class="col-4">
						<div class="d-flex flex-column gap-3">
							<div><i class="fa-solid fa-location-dot"></i> {{ f["user_location"].value }}</div>
							<div><i class="fa-solid fa-phone"></i> {{ f["country_code"].value }} {{
								f["user_phone"].value }}</div>
							<div><i class="fa-solid fa-envelope"></i> {{ f["user_email"].value }}</div>
							<!-- <div *ngIf="f['user_website'].value"><i class="fa-solid fa-globe"></i> {{ f["user_website"].value }}</div> -->
						</div>
					</div>
				</div>
				<div class="row px-3">
					<div class="row pt-2 pb-2 mb-3 flex-fill gap-1 content-font-size">
						<!-- <div>{{ f["managername"].value }}</div> -->
						<div>To</div>
						<div>Hiring Manager </div>
						<div>{{ f["org_name"].value }}</div>
						<div>{{ f["org_location"].value }}</div>
						<!-- <div>{{ currentDate | date : "dd-MM-yyyy" }}</div> -->
					</div>
					<div class="col-12 content-font-size">
						<p class="mb-2">Dear Sir/Madam,</p>
						<p class="centered-paragraph">
							<span class="UserSummary" [innerHTML]="f['user_summary'].value"></span>
						</p>
						<p class="mt-3">Warm regards,</p>
						<p>{{ f["user_name"].value }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>