<div class="container-fluid" *ngIf="activePageIndex == 1">
	<h3 class="text-center uniprep-primary">Select your CV style to get started</h3>
	<div class="d-flex justify-content-center gap-5">
		<div>
			<h5 class="text-center uniprep-primary">Traditional</h5>
			<div class="cvBuilderSampleImg" [ngClass]="{ selectedResumeLevel: selectedResumeLevel == 'Traditional' }"
				(click)="imgOnclick('Traditional')">
				<img src="https://api.uniprep.ai/uniprepapi/storage/app/public/SampleUploadDocuments/cover_letter/traditional.png"
					alt="Traditional" />
				<button *ngIf="selectedResumeLevel == 'Traditional'" class="center-button">Selected <i
						class="fa-solid fa-check tickIcon"></i></button>
			</div>
		</div>
		<div>
			<h5 class="text-center uniprep-primary">Modern</h5>
			<div class="cvBuilderSampleImg" [ngClass]="{ selectedResumeLevel: selectedResumeLevel == 'Modern' }"
				(click)="imgOnclick('Modern')">
				<img src="https://api.uniprep.ai/uniprepapi/storage/app/public/SampleUploadDocuments/cover_letter/modern.png"
					alt="Modern" />
				<button *ngIf="selectedResumeLevel == 'Modern'" class="center-button">Selected <i
						class="fa-solid fa-check tickIcon"></i></button>
			</div>
		</div>
		<div>
			<h5 class="text-center uniprep-primary">Creative</h5>
			<div class="cvBuilderSampleImg" [ngClass]="{ selectedResumeLevel: selectedResumeLevel == 'Creative' }"
				(click)="imgOnclick('Creative')">
				<img src="https://api.uniprep.ai/uniprepapi/storage/app/public/SampleUploadDocuments/cover_letter/creative.png"
					alt="Functional" />
				<button *ngIf="selectedResumeLevel == 'Creative'" class="center-button">Selected <i
						class="fa-solid fa-check tickIcon"></i></button>
			</div>
		</div>
		<div>
			<h5 class="text-center uniprep-primary">Functional</h5>
			<div class="cvBuilderSampleImg" [ngClass]="{ selectedResumeLevel: selectedResumeLevel == 'Functional' }"
				(click)="imgOnclick('Functional')">
				<img src="https://api.uniprep.ai/uniprepapi/storage/app/public/SampleUploadDocuments/cover_letter/functional.png"
					alt="Creative" />
				<button *ngIf="selectedResumeLevel == 'Functional'" class="center-button">Selected <i
						class="fa-solid fa-check tickIcon"></i></button>
			</div>
		</div>
		<div>
			<h5 class="text-center uniprep-primary">Academic</h5>
			<div class="cvBuilderSampleImg" [ngClass]="{ selectedResumeLevel: selectedResumeLevel == 'Academic' }"
				(click)="imgOnclick('Academic')">
				<img src="https://api.uniprep.ai/uniprepapi/storage/app/public/SampleUploadDocuments/cover_letter/academic.png"
					alt="Academic" />
				<button *ngIf="selectedResumeLevel == 'Academic'" class="center-button">Selected <i
						class="fa-solid fa-check tickIcon"></i></button>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-4 mt-5">
			<button class="createResumeButton" (click)="shakeButton($event)">Create your Resume &nbsp;&nbsp;&nbsp;<i
					class="fa-solid fa-arrow-right tickIcon"></i></button>
		</div>
	</div>
</div>
<div class="container-fluid" *ngIf="activePageIndex == 3">
	<div class="row justify-content-center">
		<div class="flex-column">
			<div>
				<h3 class="text-center uniprep-primary">Your Resume</h3>
				<h5 class="text-center uniprep-primary">{{ selectedResumeLevel }}</h5>
				<div class="cvBuilderSampleImg">
					<img *ngIf="selectedResumeLevel == 'Traditional'"
						src="https://api.uniprep.ai/uniprepapi/storage/app/public/SampleUploadDocuments/cover_letter/traditional.png" />
					<img *ngIf="selectedResumeLevel == 'Modern'"
						src="https://api.uniprep.ai/uniprepapi/storage/app/public/SampleUploadDocuments/cover_letter/modern.png" />
					<img *ngIf="selectedResumeLevel == 'Creative'"
						src="https://api.uniprep.ai/uniprepapi/storage/app/public/SampleUploadDocuments/cover_letter/creative.png" />
					<img *ngIf="selectedResumeLevel == 'Functional'"
						src="https://api.uniprep.ai/uniprepapi/storage/app/public/SampleUploadDocuments/cover_letter/functional.png" />
					<img *ngIf="selectedResumeLevel == 'Academic'"
						src="https://api.uniprep.ai/uniprepapi/storage/app/public/SampleUploadDocuments/cover_letter/academic.png" />
				</div>
			</div>
			<div class="d-flex justify-content-center align-items-center">
				<button class="downloadButton" (click)="downloadResume()">Download &nbsp;&nbsp;&nbsp;<i
						class="fa-solid fa-download tickIcon"></i></button>
			</div>
			<div class="d-flex justify-content-between">
				<button pButton type="button" (click)="previous()"
					class="text-white p-ripple p-button-rounded p-button-info-prev p-button p-component p-2"><i
						class="fa fa-arrow-left exhausted-plan-icon-prev"></i> Previous</button>
				<button class="downloadButton" style="margin: 0px;" (click)="next()">CV Builder &nbsp;&nbsp;&nbsp;<i
						class="fa-sharp fa-regular fa-house tickIcon"></i></button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" *ngIf="activePageIndex == 4">
	<div class="row justify-content-center">
		<div class="flex-column">
			<div>
				<h3 class="text-center uniprep-primary">Your Resumes</h3>
				<div class="cvSampleImg">
					<div class="flex-column">
						<img src="https://api.uniprep.ai/uniprepapi/storage/app/public/job-search/basic.webp"
							alt="basic" />
						<p>Version 1</p>
						<small>02-07-2024 12:38PM</small>
					</div>
					<div class="flex-column">
						<img src="https://api.uniprep.ai/uniprepapi/storage/app/public/job-search/basic.webp"
							alt="basic" />
						<p>Version 2</p>
						<small>02-07-2024 12:38PM</small>
					</div>
					<div class="flex-column">
						<img src="https://api.uniprep.ai/uniprepapi/storage/app/public/job-search/basic.webp"
							alt="basic" />
						<p>Version 3</p>
						<small>02-07-2024 12:38PM</small>
					</div>
					<div class="flex-column">
						<img src="https://api.uniprep.ai/uniprepapi/storage/app/public/job-search/basic.webp"
							alt="basic" />
						<p>Version 4</p>
						<small>02-07-2024 12:38PM</small>
					</div>
					<div class="flex-column">
						<img src="https://api.uniprep.ai/uniprepapi/storage/app/public/job-search/basic.webp"
							alt="basic" />
						<p>Version 5</p>
						<small>02-07-2024 12:38PM</small>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-4 mt-5">
					<button class="createResumeButton" (click)="shakeButton($event)">Create your Resume
						&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right tickIcon"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid h-100" *ngIf="activePageIndex == 2">
	<div class="row h-100">
		<div class="col-md-6 h-100 overflow-y-auto">
			<form role="form" class="row" [formGroup]="resumeFormInfoData" #form="ngForm">
				<div class="col-md-12 mb-3">
					<h4 class="p-mb-2 PageTitle">Enter Your Personal Information</h4>
					<div class="row">
						<div class="col-md-6">
							<label class="form-label labelFont">Your Name</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100" type="text" placeholder="Full Name" formControlName="user_name"
										pInputText />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label class="form-label labelFont">Job Title</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100" type="text" placeholder="your Job Title"
										formControlName="user_job_title" pInputText />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label class="form-label labelFont">Your Email</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100" type="text" placeholder="Email Address"
										formControlName="user_email" pInputText />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label class="form-label labelFont">Current Address</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100" type="text" placeholder="Your Location"
										formControlName="user_location" pInputText />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label class="form-label labelFont">Phone Number</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100" type="text" placeholder="Phone Number"
										formControlName="user_phone" pInputText />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label class="form-label labelFont">LinkedIn Link</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100" type="text" placeholder="LinkedIn profile link"
										formControlName="user_linkedin" pInputText />
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<label class="form-label labelFont">Website (Optional)</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100" type="text" placeholder="Website or portfolio Link"
										formControlName="user_website" pInputText />
								</div>
							</div>
						</div>
						<h4 class="p-mb-1 PageTitle">Enter Organization Details</h4>
						<div class="col-md-6">
							<label class="form-label labelFont">Organization Name</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100" type="text" placeholder="College Name"
										formControlName="edu_college_name" pInputText />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label class="form-label labelFont">Manager Name</label>
							<div class="row">
								<div class="form-group">
									<div class="mb-3">
										<input class="w-100" type="text" placeholder="Start Year"
											formControlName="managername" pInputText />
									</div>
								</div>

							</div>
						</div>
						<div class="col-md-6">
							<label class="form-label labelFont">Location</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100" type="text" placeholder="Education Location"
										formControlName="edu_location" pInputText />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label class="form-label labelFont">Job Position</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100" type="text" placeholder="your Degree"
										formControlName="jobposition" pInputText />
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<label class="form-label labelFont">How did you get to know about us</label>
							<div class="form-group">
								<div class="mb-3">
									<input class="w-100" type="text" placeholder="Achieved Score"
										formControlName="getknowaboutas" pInputText />
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<label class="form-label labelFont">Cover Letter Section</label>
							<div class="form-group">
								<div class="mb-3">
									<button pButton type="button" (click)="chatGPTIntegration()"
									class="text-white p-ripple p-button-rounded p-button-info-prev p-button p-component p-2"><i
										class="fa fa-arrow-left exhausted-plan-icon-prev"></i> Generate</button>
									<p-editor formControlName="user_summary" placeholder="About yourself"></p-editor>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6 h-100">
			<div class="card h-100">
				<div class="card-header d-flex justify-content-between align-items-center PageTitle">
					<h4 class="p-mb-1">Preview</h4>
					<div class="gap-2">
						<span class="templateButton">Template<span class="templateName">Basic</span></span>
						<ng-container *ngTemplateOutlet="colorPickerContent"></ng-container>
					</div>
					<i class="fa-sharp fa-solid fa-expand" style="cursor: pointer" (click)="toggleFullScreen()"></i>
				</div>
				<div class="card-body h-100 overflow-hidden">
					<div class="previewcontainer">
						<div class="previewbody">
							<ng-container *ngTemplateOutlet="sharedContent"></ng-container>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex space-between" style="justify-content: space-between">
		<button pButton type="button" (click)="previous()"
			class="text-white p-ripple p-button-rounded p-button-info-prev p-button p-component p-2"><i
				class="fa fa-arrow-left exhausted-plan-icon-prev"></i> Previous</button>
		<button pButton type="button" (click)="resumeFormSubmit()"
			class="text-white p-ripple p-button-rounded p-button-info-next p-button p-component p-2">Next<i
				class="fa fa-arrow-right exhausted-plan-icon-next"></i></button>
	</div>
</div>

<p-sidebar [(visible)]="fullScreenVisible" [fullScreen]="true" [showCloseIcon]="false">
	<div class="col-md-12 h-100">
		<div class="card h-100">
			<div class="card-header cvPreview">
				<h4 class="p-mb-1">CV Preview</h4>
				<div>
					<span class="templateButton">Template<span class="templateName">Basic</span></span>
					<ng-container *ngTemplateOutlet="colorPickerContent"></ng-container>
				</div>
				<i class="fa-sharp fa-solid fa-compress" style="cursor: pointer" (click)="toggleFullScreen()"></i>
			</div>
			<div class="card-body h-100 overflow-hidden" style="background-color: #3f4c83">
				<div class="previewcontainer">
					<div class="previewbody">
						<ng-container *ngTemplateOutlet="sharedContent"></ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</p-sidebar>

<ng-template #colorPickerContent>
	<div class="dropdown">
		<div class="colorDiv d-flex colorButton align-items-center gap-2">
			<p>Color</p>
			<div style="background-color: black;" [ngStyle]="{ 'background-color': selectedThemeColor }"
				class="selectedColor"></div>
		</div>
		<div class="dropdown-content">
			<div class="d-flex justify-content-center">
				<a (click)="selectColor('#134B70',1)" class="p-2 cursorPointer">
					<div style="background-color: #134B70;" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 1" class="fa-solid fa-check ColorCheckBox colorWhite"></i>
				</a>
				<a (click)="selectColor('#172a99',2)" class="p-2 cursorPointer">
					<div style="background-color: #172a99;" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 2" class="fa-solid fa-check ColorCheckBox colorWhite"></i>
				</a>
				<a (click)="selectColor('#708871',3)" class="p-2 cursorPointer">
					<div style="background-color: #708871;" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 3" class="fa-solid fa-check ColorCheckBox"></i>
				</a>
				<a (click)="selectColor('#973131',4)" class="p-2 cursorPointer">
					<div style="background-color: #973131;" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 4" class="fa-solid fa-check ColorCheckBox colorWhite"></i>
				</a>
			</div>
			<div class="d-flex justify-content-center">
				<a (click)="selectColor('#C80036',5)" class="p-2 cursorPointer">
					<div style="background-color: #C80036;" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 5" class="fa-solid fa-check ColorCheckBox colorWhite"></i>
				</a>
				<a (click)="selectColor('#373A40',6)" class="p-2 cursorPointer">
					<div style="background-color:#373A40;" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 6" class="fa-solid fa-check ColorCheckBox"></i>
				</a>
				<a (click)="selectColor('#686D76',7)" class="p-2 cursorPointer">
					<div style="background-color:#686D76;" class="colorSelector"></div>
					<i *ngIf="selectedColorCode == 7" class="fa-solid fa-check ColorCheckBox colorWhite"></i>
				</a>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #sharedContent>
	<div class="h-100" [ngClass]="{ previewBodyForm: !fullScreenVisible, previewBodyFormFull: fullScreenVisible }"
		*ngIf="selectedResumeLevel=='Modern'">
		<div class="container mt-2">
			<p></p>
		</div>
	</div>
	<div class="h-100" [ngClass]="{ previewBodyForm: !fullScreenVisible, previewBodyFormFull: fullScreenVisible }"
		*ngIf="selectedResumeLevel=='Academic'">
		<div class="container mt-2">
			<div>
				<div class="line1"></div>
			</div>
			<div class="row mt-4">
				<div>
					<p class="userName upperCase">{{ f["user_name"].value }}</p>
					<p class="profession upperCase">{{ f["user_job_title"].value }}</p>
					<h3 [innerHTML]="f['user_summary'].value"></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="h-100" [ngClass]="{ previewBodyForm: !fullScreenVisible, previewBodyFormFull: fullScreenVisible }"
		*ngIf="selectedResumeLevel=='Creative'">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 text-left" style="background-color: black; padding: 20px 10px;">
					<h1 class="userName upperCase" style="color: #f8d44c;margin: 0px;">{{ f["user_name"].value }}</h1>
					<p class="profession upperCase" style="color: white;">{{ f["user_job_title"].value }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="h-100" [ngClass]="{ previewBodyForm: !fullScreenVisible, previewBodyFormFull: fullScreenVisible }"
		*ngIf="selectedResumeLevel=='Functional'">
		<div class="container">
			<div class="row" style="background-color: #339499; padding: 5px 10px 15px 10px;">
				<div class="col-12">
					<h1 class="userName upperCase" style="color: white;margin: 0px;">{{ f["user_name"].value }}</h1>
					<p class="profession upperCase" style="color: white;">{{ f["user_job_title"].value }}</p>
					<p style="line-height: 1;color: white;" [innerHTML]="f['user_summary'].value"></p>
				</div>
			</div>
		</div>
	</div>
</ng-template>