.readingcard {
  height: 78vh;
  overflow-y: auto;
}

.p-card {
  margin: 1rem;
  padding: 1rem;
}

.p-field {
  margin-bottom: 1rem;
}

.p-button {
  width: 100%;
}

.textarea-container {
  width: 100%;
  height: 175px;
  position: relative;
  display: inline-block;
}

.text-large{
  font-size: 1.5rem;
}

textarea {
  width: 100%;
  height: 175px;
  padding: 10px 10px 10px 50px;
  box-sizing: border-box;
}

.button1 {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background: none;
  border: none;
  cursor: pointer;
}


.button2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 10px;
  background: var(--uniprep-primary);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.button1 i {
  font-size: 16px;
}

.how-it-works-button1 {
  background-color: var(--uniprep-primary);
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: none;
}

.how-it-works-button {
  background-color: var(--uniprep-secondary);
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: none;
}

.input-container {
  display: flex;
  gap: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #f0780e;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  width: auto;
}

.custom-input {
  border: 1px solid #f0780e;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.icon {
  padding-right: 10px;
  font-size: 20px;
  background-color: #f2f2f2;
  border: none;
}

.form-control {
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: bold;
}