.readingcard {
  height: 78vh;
  overflow-y: auto;
}

.p-card {
  margin: 1rem;
  padding: 1rem;
}

.p-field {
  margin-bottom: 1rem;
}

.p-button {
  width: 100%;
}

.textarea-container {
  width: 100%;
  height: 200px;
  position: relative;
  display: inline-block;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px 10px 10px 50px;
  box-sizing: border-box;
}

.button1 {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.button1 i {
  font-size: 16px;
}

.how-it-works-button {
  background-color: var(--uniprep-primary);
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: none;
}