.bg-gray
{
	background: var(--p-neutral-100);
}



.bottombutton {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}
.leftbottombutton {
	position: absolute;
	bottom: 1.5rem;
	left: 1rem;
}
.topbutton {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.bottomtext {
	position: absolute;
	width: 100%;
	left: 3rem;
	bottom: 1.5rem;
}
