.bg-gray
{
	background: var(--p-neutral-100);
}



.bottombutton {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}
.leftbottombutton {
	position: absolute;
	bottom: 1.2rem;
	left: 0.6rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100% !important;
	background-color: var(--p-primary-500);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	cursor: pointer;
}
.topbutton {
	position: absolute;
    top: 0.8rem;
    left: 0.6rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100% !important;
	background-color: var(--p-primary-500);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	cursor: pointer;
}

.bottomtext {
	position: absolute;
	width: 100%;
	left: 3rem;
	bottom: 1.5rem;
}
