<div *ngIf="!isDetailedPageClicked" class="row d-none">
  <form (ngSubmit)="onSubmit()" [formGroup]="fG">
    <div class="form-group">
      <div class="row justify-content-center align-items-center mt-2">
        <div class="col-md-6 col-lg-4">
          <span class="p-input-icon-left w-100">
            <i class="pi pi-search"></i>
            <input class="form-control w-100 rounded-input" formControlName="what_and" pInputText placeholder="  Search by Job Title, Skill, Company" style="width: 100% !important" type="text" />
          </span>
        </div>
        <div class="col-md-3 col-lg-4">
          <p-select [appendTo]="'body'" [filter]="true" [options]="cities" [showClear]="true" [style]="{ minWidth: '100%' }" class="w-100 text-start" filterBy="name" formControlName="countryCode" optionLabel="name" placeholder="Location">
            <!-- Template for Selected Item -->
            <ng-template let-selectedOption pTemplate="selectedItem">
              <div class="d-flex align-items-center gap-2">
                <img [src]="selectedOption.flag" alt="Flag" />
                <div>{{ selectedOption.name }}{{ selectedOption.city_name ? ", " + selectedOption.country_name : "" }}</div>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="d-flex align-items-center gap-2">
                <img [src]="country.flag" alt="Flag" />
                <div>{{ country.name }}{{ country.city_name ? ", " + country.country_name : "" }}</div>
              </div>
            </ng-template>
          </p-select>
        </div>
        <div class="col-md-3 col-lg-4">
          <button class="btn btn-primary text-small btn-rounded" type="submit">
            Search <span class="searchIcon"><i class="fa-regular fa-magnifying-glass"></i></span>
          </button>
          <button (click)="resetSearch()" class="btn btn-danger text-small btn-rounded text-white ms-2" type="button">Reset</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="container-fluid h-100 overflow-y-auto">
  <div class="row h-100">
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onFilterSubmit()" [formGroup]="filterForm">
            <div class="form-group">
              <div class="row">
                <div class="col-6 text-start">
                  <h4 class="form-label">Filter</h4>
                </div>
                <div class="col-6 text-end">
                  <span (click)="resetSearch()" type="button">Reset</span>
                  <!-- <span (click)="onClickClear()">Clear</span> -->
                </div>
                <div class="col-md-12">
                  <label class="form-label" style="font-size: small; font-weight: 500">Search by Job Title</label>
                  <span class="p-input-icon-left w-100">
                    <i class="pi pi-search"></i>
                    <input class="form-control w-100" formControlName="what_and" (input)="searchJob($event)" pInputText placeholder="Job Title" style="width: 100% !important" type="text" />
                  </span>
                  <ul *ngIf="filterJobTitle.length > 0" class="dropdown-list">
                    <li *ngFor="let job of filterJobTitle" (click)="setJobtitle(job.jobrole)">{{ job.jobrole }}</li>
                  </ul>
                </div>
                <div class="col-md-12 mt-2">
                  <label class="form-label" style="font-size: small; font-weight: 500">Country <span class="mandatory">*</span></label>
                  <div class="form-group">
                    <div class="mb-3">
                      <span class="p-input-icon-left w-100">
                        <i class="pi pi-search"></i>
                        <input type="text" formControlName="countryCode" (input)="searchLocation($event)" class="form-control w-100" pInputText placeholder="Location" />
                      </span>
                      <ul *ngIf="filteredCity.length > 0" class="dropdown-list">
                        <li *ngFor="let city of filteredCity" (click)="setLocation(city)"><img [src]="city.flag" alt="" />{{ city.location_name }}</li>
                      </ul>
                      <!-- <p-select [appendTo]="'body'" [filter]="true" [options]="cities"
                                            [showClear]="true" class=""
                                            filterBy="name" formControlName="countryCode"
                                            optionLabel="name" placeholder="Source Country"
                                            style="width: 100% !important;"
                                            styleClass="w-100">
                                    <ng-template let-selectedOption pTemplate="selectedItem">
                                        <div class="d-flex align-items-center gap-2">
                                            <img [src]="selectedOption.flag" alt="Flag"/>
                                            <div>{{ selectedOption.name }}{{ selectedOption.city_name ? ', ' + selectedOption.country_name : '' }}</div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-country pTemplate="item">
                                        <div class="d-flex align-items-center gap-2">
                                            <img [src]="country.flag" alt="Flag"/>
                                            <div>{{ country.name }}{{ country.city_name ? ', ' + country.country_name : '' }}</div>
                                        </div>
                                    </ng-template>
                                </p-select> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-12 d-none">
                  <label class="form-label" style="font-size: small; font-weight: 500">Category</label>
                  <div class="form-group">
                    <div class="mb-3">
                      <span class="p-input-icon-left w-100">
                        <i class="pi pi-search"></i>
                        <p-select [filter]="true" [options]="categoryList" [showClear]="true" filterBy="label" formControlName="category" id="category" optionLabel="label" placeholder="Category" style="width: 100% !important" styleClass="w-100"></p-select>
                      </span>
                    </div>
                  </div>
                </div>
                <!--                    <div class="col-md-12">-->
                <!--                        <label class="form-label" style="font-size: small; font-weight: 500">Location</label>-->
                <!--                        <div class="form-group">-->
                <!--                            <div class="mb-3">-->
                <!--                                <input type="text" formControlName="location" class="sharp-edges" pInputText-->
                <!--                                       placeholder="Search by Location"/>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <div class="col-md-12">
                  <label class="form-label" style="font-size: small; font-weight: 500">Job Type</label>
                  <div class="form-group">
                    <div class="mb-3">
                      <span class="p-input-icon-left w-100">
                        <i class="pi pi-search"></i>
                        <p-select [filter]="true" [options]="jobTypeList" [showClear]="true" filterBy="name" formControlName="job_type" id="job_type" optionLabel="name" placeholder="Job Type" style="width: 100% !important" styleClass="w-100"></p-select>
                      </span>
                    </div>
                  </div>
                </div>

                <!--                    <div class="col-md-12">-->
                <!--                        <label class="form-label" style="font-size: small; font-weight: 500">Distance</label>-->
                <!--                        <div class="form-group">-->
                <!--                            <div class="mb-3">-->
                <!--                                <span class="p-input-icon-left w-100">-->
                <!--                                    <i class="pi pi-search"></i>-->
                <!--                                    <p-select id="distance" styleClass="w-100" style="width: 100% !important;"-->
                <!--                                                formControlName="distance" [options]="distanceList" [filter]="true"-->
                <!--                                                filterBy="name" [showClear]="true" optionLabel="name"-->
                <!--                                                placeholder="Distance"></p-select>-->
                <!--                                </span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-12">-->
                <!--                        <label class="form-label" style="font-size: small; font-weight: 500">Company</label>-->
                <!--                        <div class="form-group">-->
                <!--                            <div class="mb-3">-->
                <!--                                <input type="text" formControlName="company" class="sharp-edges" pInputText-->
                <!--                                       placeholder="Search by Company"/>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-12">-->
                <!--                        <label class="form-label" style="font-size: small; font-weight: 500">Maximum Days Old</label>-->
                <!--                        <div class="form-group">-->
                <!--                            <div class="mb-3">-->
                <!--                                <input type="text" formControlName="max_days_old" class="sharp-edges" pInputText-->
                <!--                                       placeholder="Enter Maximum Days Old"/>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-6">-->
                <!--                        <label class="form-label" style="font-size: small; font-weight: 500">Salary Min</label>-->
                <!--                        <div class="form-group">-->
                <!--                            <div class="mb-3">-->
                <!--                                <input type="text" formControlName="salary_min" class="sharp-edges" pInputText-->
                <!--                                       placeholder="Minimum Salary"/>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-6">-->
                <!--                        <label class="form-label" style="font-size: small; font-weight: 500">Salary Max</label>-->
                <!--                        <div class="form-group">-->
                <!--                            <div class="mb-3">-->
                <!--                                <input type="text" formControlName="salary_max" class="sharp-edges" pInputText-->
                <!--                                       placeholder="Maximum Salary"/>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <div class="text-center">
                  <button class="btn btn-primary btn-rounded px-5 py-2" type="submit">Search</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="!isDetailedPageClicked" class="col-md-9 h-100">
      <div class="d-flex flex-column h-100 w-100">
        <div class="row">
          <div class="col-md-6 text-start">
            <h6 *ngIf="whatAnd"><strong>Searching For {{ whatAnd }}</strong></h6>
          </div>
          <div class="col-md-6 text-end">
            <h6 *ngIf="count > 0"><strong>Total Jobs: {{ count }}</strong></h6>
          </div>
        </div>
        <div class="row overflow-y-auto" *ngIf="!isShowNoResultFound">
          <div *ngFor="let job of jobs; let i = index" class="col-md-4 col-12 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h5 class="uniprep-primary text-wrap mb-0 text-start">{{ job.title }}</h5>
                    <p class="text-start text-small" style="color: lightslategrey">
                      {{ job.company.display_name }}
                      ·
                      {{ job.location.display_name }}
                    </p>
                  </div>
                  <div class="text-end">
                    <img [src]="selectedFlag" alt="Uniprep" class="rounded-image" />
                  </div>
                </div>
                <div class="button-container mt-auto justify-content-start gap-3">
                  <button (click)="onClickDetails(job)" class="btn btn-primary btn-rounded px-3">Details</button>
                  <button (click)="onClickApply(job, 'shortlist')" class="btn btn-dark btn-rounded px-3">Shortlist</button>
                  <button (click)="onClickApply(job, 'apply')" class="btn btn-secondary btn-rounded px-3">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="row justify-content-center no-results" *ngIf="isShowNoResultFound">
              <h3>No Search Results for {{ whatAnd }}</h3>
          </div>
        <div class="d-flex justify-content-center align-items-center">
          <p-paginator [rows]="resultPerPage" [totalRecords]="count" *ngIf="count > 0" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[50, 100, 250, 500]"></p-paginator>
        </div>
      </div>
    </div>
    <div *ngIf="isDetailedPageClicked" class="col-md-9 h-100">
      <div class="d-flex flex-column h-100 w-100 gap-2">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-start">
              <div class="d-flex gap-3">
                <div class="backIcon d-md-flex d-none" (click)="goBack()">
                  <span class="fa-solid fa-chevron-left"></span>
                </div>
                <div class="text-start">
                  <h5 class="uniprep-primary text-wrap mb-0">{{ singleData.title }}</h5>
                  <h6>{{ singleData.company.display_name }} · {{ singleData.location.display_name }}</h6>
                  <p>{{ singleData.contract_type }}</p>
                </div>
              </div>
              <div class="d-flex justify-content-end gap-2">
                <button (click)="onClickApply(singleData, 'shortlist')" class="btn btn-dark btn-rounded px-4">Shortlist</button>
                <button (click)="onClickApply(singleData, 'apply')" class="btn btn-danger btn-rounded px-4">Apply</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card h-100">
          <div class="card-body text-start">
            <h5>Job Description</h5>
            <p>{{ singleData.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
