.spanButtons{
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}


.searchButton{
  background-color: #EBEDF2;
  color: #001631 !important;
  border-radius: 20px !important;
  border: none;
  padding: 10px;
}

.searchIcon {
  padding: 6px;
  border-radius: 25px;
  background-color: #3f4c83;
  color: white;
  margin-left: 5px;
}

::ng-deep .p-inputtext{
  border-color: grey;
  width:100%;
}
.sharp-edges {
  border-radius: 0;
}

.form-label{
  color: #3f4c83
}
.flex {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust the gap as needed */
}

.flag {
  width: 18px;
}

.job-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
}

.content {
  flex-grow: 1;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px; /* Optional: Adds some space between content and buttons */
}

img {
  height: 25px !important;
  width: 25px !important;
  margin-right: 10px;
}
.rounded-input {
  border-radius: 25px; /* Adjust this value for more or less rounding */
  width: 100% !important;
  border: 1px solid var(--uniprep-secondary);
  padding-left: 2.5rem; /* Ensures the text doesn't overlap with the icon */
}

.rounded-image {
  border-radius: 50%; /* Makes the image circular */
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image fits within the circle */
}

:host ::ng-deep .p-select {
  width: 100%;
}

// :host ::ng-deep .p-select-label {
//   width: 200px; /* Set your desired fixed width */
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
.dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 180px;
  overflow-y: auto;
  border: 1px solid #ccc;
  position: absolute;
  width: 92%;
  background-color: white;
  display: block;
  z-index: 1001;
  text-align: left;
  border-radius: 5%;
}

.dropdown-list li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}
.no-results {
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center; /* Center the text */
}