<section class="pb-5 pt-5 py-md-4 darksection" id="our-management">
	<div class="container-fluid py-5">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="d-flex gap-2 align-items-center mb-2">
							<button class="back-button" routerLink="/">
								<i class="text-white fa-solid fa-arrow-left"></i>
							</button>
							<span class="text-white pagetitle px-3">{{ categoryName }}</span>
						</div>
					</div>
					<div class="col-md-12">
						<h1 class="text-white fw-light">{{ pageTitle }}</h1>
						<p class="mb-4">{{ pageDescription }}</p>
					</div>
					<div class="col-md-12 mt-5" *ngFor="let step of steps">
						<ng-container *ngIf="getCardsForStep(step.tag_title).length">
							<div class="row">
								<div class="col-md-3">
									<div class="sticky-sidebar">
										<span class="emoji h3 mb-2">{{ step.tag_icon }}</span>
										<h2 class="uniprep-secondary mb-0">{{ step.tag_title }}</h2>
										<p>{{ step.tag_subtitle }}</p>
									</div>
								</div>
								<div class="col-md-9">
									<div class="row g-3">
										<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6" *ngFor="let card of getCardsForStep(step.tag_title)">
											<div class="card h-100 p-2" role="button" [routerLink]="card.status == 4 ? null : ['/category', card.feature_urlslug]" >
												<div class="card-body">
													<div class="d-flex justify-content-between align-items-center mb-3">
														<div class="emoji h5">{{ card.icon || '📚'}}</div>
														<div class="text-secondary fw-bold text-end pr-2 fs-5">{{card.order_no}}</div>
													</div>
													<h5 class="card-title">{{ card.feature_name }} <i class="fa-solid fa-arrow-up-right-from-square"></i><span *ngIf="card.status == 4" class="badge badge-warning ms-1"><i class="fa fa-clock"></i>&nbsp;Coming Soon</span></h5> 
													<p class="text-muted">{{ card.description }}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5 cta-field darksection">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card py-4 px-4">
					<div class="card-body">
						<div class="row align-items-center justify-content-center">
							<div class="col-md-10">
								<h2 class="fw-bold text-white">UNIPREP IS YOUR CAREER CO-PILOT</h2>
								<p class="cta-subtitle">READY WHEN YOU ARE.</p>
							</div>
							<div class="col-md-2 col-7">
								<a href="/register" class="btn cta-btn m-0 h5 py-4">REGISTER NOW</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pb-5 pt-5 py-md-4 darksection" id="our-management">
	<div class="container-fluid py-5">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-white fw-light">{{ categoryTitle }}</h1>
						<p class="mb-4">{{ categoryDescription }}</p>
					</div>
					<div class="col-md-12">
						<div class="row">
							<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mb-3" *ngFor="let benefit of benefits">
								<div class="card">
									<div class="card-body d-flex align-items-center gap-3">
										<div class="emoji h3 d-flex align-items-center">{{ benefit.category_icon }}</div>
										<div>
											<h4 class="card-title">{{ benefit.category_title }}</h4>
											<p class="text-muted">{{ benefit.category_subtitle }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
