.headerButtons{
    border-color: var(--uniprep-primary);
    border-radius: 5px;
    color: var(--uniprep-primary);
    font-weight: 700;
}

.active{
    background-color: var(--uniprep-primary);
    color: white;
}

