.headerButtons{
    color: var(--uniprep-primary);
    font-weight: 700;
    border: 1px solid var(--uniprep-primary);
    border-radius: 5px;
    padding: 0.8rem 1.5rem !important;
}

.active{
    background-color: var(--uniprep-primary);
    color: white;
}
.custom-button-container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    align-items: flex-end;     /* Aligns the button to the bottom */
    padding-end: 10px;
}

.dropdown-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 180px;
    overflow-y: auto;
    border: 1px solid #ccc;
    position: absolute;
    width: 92%;
    background-color: white;
    display: block;
    z-index: 1001;
    text-align: left;
    border-radius: 5%;
}

.dropdown-list li {
    padding: 8px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
}
