.headerButtons{
    color: var(--uniprep-primary);
    font-weight: 700;
    border: 1px solid var(--uniprep-primary);
    border-radius: 5px;
    padding: 0.8rem 1.5rem !important;
}

.active{
    background-color: var(--uniprep-primary);
    color: white;
}

