.headerButtons{
    color: var(--uniprep-primary);
    font-weight: 700;
    border: 1px solid var(--uniprep-primary);
    border-radius: 5px;
    padding: 0.8rem 1.5rem !important;
}

.active{
    background-color: var(--uniprep-primary);
    color: white;
}
.custom-button-container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    align-items: flex-end;     /* Aligns the button to the bottom */
    padding-end: 10px;
}

.dropdown-list {
    overflow-y: auto;
    position: absolute;
    border: 1px solid var(--uniprep-secondary);
    list-style: none;
    padding: 0.25rem;
    border-radius: 20px;
    width: 100%;
    text-align: left;
    margin: 0;
    top: 3.5rem;
    max-height: 25vh;
}

.dropdown-list li {
    padding: 8px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
}
