.questionread {
  filter: grayscale(1);
 }

.questioncard
{
  border:2px solid var(--uniprep-primary);
}

.scrollable-container {
  display: flex;
  overflow-x: hidden;
  align-items: center;
}

.answercard
{
  background-color: var(--uniprep-primaryop10);
  border: 2px solid var(--uniprep-primary);
  overflow-y: auto;
}