.questionread {
  filter: grayscale(1);
}

.questiontext {
  font-size: 1.2rem;
}

.questioncard {
  border: 1px solid var(--p-secondary-500);
  padding: 0;

  .homecountry {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    padding: 0;

    img {
      height: 100%;
      width: 100%;
      border-radius: 100%;
      border: 1px solid transparent;
      object-fit: cover;
    }
  }
}

.scrollable-container {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  width: 100%;
}

.answercard {
  background-color: var(--p-primary-50);
  border: 2px solid var(--p-primary-500);
  overflow-y: auto;
}

// .socialShareBtn {
// 	height: 40px;
// 	width: 40px;
// 	border-radius: 50px !important;
// 	margin: 0;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }
#socialSharingList {
  display: none;
  position: absolute;
  right: 0rem;
  top: 3rem;

  ::ng-deep.p-card-body {
    padding: 0px;

    .p-card-content {
      padding: 0px;
    }
  }

  ul {
    padding: 10px !important;
    margin-bottom: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }

    i {
      margin-right: 10px;
    }
  }
}

.modal {
  z-index: 9999;

  .modalbuttons {
    position: absolute;
    top: -1rem;
    right: -1rem;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.homecardbtnquiz {
  background-color: black;
  color: white;
}

.ellipse-button {
  width: auto;
  padding: 6px 25px;
  height: auto;
  background-color: #f0780e;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  font-size: 10px;
}

// new answer card ui
.answercard {
  background-color: white;
  overflow-y: auto;
}

.socialShareBtn {
  height: 38px;
  width: 38px;
  border-radius: 5px !important;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // left: 12px;
  background-color: black !important;
}

.select-title {
  border-radius: 5px !important;
}

.questioncard .content-preview {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.questioncard:hover .content-preview {
  opacity: 1;
  max-height: 100px;
  /* Adjust as needed */
}

.blog-content {
  
  line-height: 2rem;
}

::ng-deep .blog-content,
p {
  font-size: 16px;
}

// scroll
.scrollable-container {
  position: relative;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  white-space: nowrap;
}

/* Hide scrollbar initially */
.scrollable-container::-webkit-scrollbar {
  height: 6px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.scrollable-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Style for Right Scroll Button */
.scroll-btn-vedio {
  background: #c2d7fb;
  color: #42568a;
  border: none;
  padding: 10px;
  width: 8%;
  height: 8%;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
}

.scroll-btn-link {
  background: #ffcd96;
  color: #ff8b00;
  border: none;
  width: 8%;
  height: 8%;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
}

.scroll-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

// question card ui
.readingcardgrid1 {
  flex: 0 0 25% !important;
  max-width: 25% !important;
}

// 3 columns on medium screens
@media (max-width: 1199.98px) {
  .readingcardgrid1 {
    flex: 0 0 33.333% !important;
    max-width: 33.333% !important;
  }
}

// 2 columns on small screens
@media (max-width: 767.98px) {
  .readingcardgrid1 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

// 1 column on mobile
@media (max-width: 575.98px) {
  .readingcardgrid1 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
