<div class="card readingcard bg-white">
  <div class="card-header border-0 bg-transparent">
    <div class="row justify-content-center">
      <div class="col-md-12 col-12 d-flex flex-md-row flex-column align-items-center gap-2 text-center">
        <div class="backIcon d-md-flex d-none" (click)="goBack()" role="button">
          <span class="fa-solid fa-chevron-left"></span>
        </div>
        <div class="select-title d-flex justify-content-between align-items-center" style="width: 100%">
          <div class="d-flex gap-2">
            <h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
              <i class="fa-regular fa-home"></i>
            </h5>
            <span *ngIf="isHidGlobalRepository"><i class="fa-solid fa-chevron-right"></i></span>
            <h5 *ngIf="isHidGlobalRepository" routerLink="/pages/global-repo" role="button" class="mb-0" tooltipPosition="top" pTooltip="">Global Repository</h5>
            <span><i class="fa-solid fa-chevron-right"></i></span>
            <h5 *ngIf="currentModuleId == 8" class="mb-0" tooltipPosition="top" pTooltip="{{ tooltip }}">
              <span class=""
                >{{ currentModuleName }} <span><i class="fa-solid fa-chevron-right"></i></span></span
              ><span>
                <ng-container *ngIf="learningHubMainModuleName">
                  {{ learningHubMainModuleName }}
                  <i class="fa-solid fa-chevron-right"></i>
                </ng-container>
                {{ moduleName }} </span
              ><i class="questiontooltip fa-solid fa-circle-question"></i>
            </h5>
            <h5 *ngIf="currentModuleId != 8" class="mb-0" tooltipPosition="top" pTooltip="{{ tooltip }}">
              <span class=""
                >{{ currentModuleName }} <span><i class="fa-solid fa-chevron-right"></i></span
              ></span>
              {{ moduleName }} <i class="questiontooltip fa-solid fa-circle-question"></i>
            </h5>
          </div>
          <div>
            <button pButton class="how-it-works-button" severity="warn" (click)="openHowItWorksVideoPopup(howItWorksVideoLink)">How it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
          </div>
        </div>
        <button pButton pButton role="button" (click)="startQuiz()" class="m-0 btn btn-primary flex-shrink-0 btn-rounded" [disabled]="quizpercentage >= 90" *ngIf="currentModuleId == 8 || currentModuleId == 10 || (currentModuleId != 14 && currentModuleId != 7 && currentModuleId != 1 && currentModuleId != 3 && currentModuleId != 6 && currentModuleId != 4)">
          <p class="mb-0">
            <i class="fa-regular fa-lightbulb-on"></i> Start Quiz <span class="mb-0">{{ quizpercentage | number : "1.0-0" }}%</span>
          </p>

          <!-- <div class="row">
						<div style="cursor: pointer" class="col-12">
							<span style="cursor: pointer" class="ellipse-button fw-regular container-fluid">{{ quizpercentage >= 90 ? "Completed" : "Start" }}</span>
						</div>
					</div> -->
        </button>
      </div>
      <!-- <div class="col-md-3 mt-2 text-end  justify-content-end d-none d-md-flex"> -->

      <!-- <button pButton  role="button" style="background-color: var(--p-neutral-950); cursor: pointer" *ngIf="currentModuleId == 8 || currentModuleId == 10 || currentModuleId != 14" (click)="startQuiz()" class="btn w-75 mt-2 m-0 px-2 py-2 homecardbtn homecardbtnquiz" [disabled]="quizpercentage >= 90">
					<i class="fa-regular h3 fa-lightbulb-on mb-1"></i>
					<p class="mb-1">Start Quiz</p>
					<p class="mb-1">{{ quizpercentage | percent:'1.0-0' }}</p>
					<div class="row">
						<div style="cursor: pointer" class="col-12">
							<span style="cursor: pointer" class="ellipse-button fw-regular container-fluid">{{ quizpercentage >= 90 ? "Completed" : "Start" }}</span>
						</div>
					</div>
				</button> -->
      <!-- </div> -->
      <!-- <div class="col-md-1 col-1">&nbsp;</div> -->
    </div>
  </div>
  <div class="card-body text-center flex-fill bg-white">
    <div class="row overflow-hidden h-100" *ngIf="isSkeletonVisible">
      <div *ngFor="let index of loopRange" class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12">
        <div class="card my-2 bg-white">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-8 col-md-12">
                <p-skeleton width="100%" styleClass="mb-1"></p-skeleton>
                <p-skeleton width="100%" styleClass="mb-1"></p-skeleton>
                <p-skeleton width="80%" styleClass="mb-2"></p-skeleton>
              </div>
              <div class="col-4 col-md-12">
                <p-skeleton width="100%" height="3rem" borderRadius="100px"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!isSkeletonVisible">
      <div *ngFor="let sub of questionListData; let i = index" class="readingcardgrid1 my-2">
        <div class="row w-100 h-100 m-0 justify-content-center">
          <div (click)="viewOneQuestion(sub)" role="button" class="card questioncard {{ sub.read == 1 ? '' : '' }} bg-white">
            <div class="card-body d-flex flex-sm-column flex-row justify-content-sm-between align-items-center gap-2">
              <div class="row justify-content-center w-100">
                <div class="col">
                  <p class="text-start fw-bold questiontext mb-0" title="{{ sub.question }}">{{ sub.question }}</p>
                </div>
                <!--<div class="col-md-4 text-center">
                                            <p class="mb-3 circle text-center">{{i+1}}</p>
                                        </div> -->
                <div class="col-2 align-items-center justify-content-center text-center" *ngIf="sub.national == 'yes'">
                  <div class="homecountry"><img [src]="homeCountryLogo" alt="home_country_logo" class="w-10 shadow-2 no-border-radius" /></div>
                </div>
                <div class="col-2 align-items-center justify-content-center text-center" *ngIf="sub.popular == 1 && sub.national == 'no'">
                  <i class="fa-solid fa-star uniprep-secondary fa-xl" pTooltip="Most Popular Question" tooltipPosition="right"></i>
                </div>
                <!--<i class="pi pi-star-fill text-primary" pTooltip="Most Popular National Question" tooltipPosition="right" style="font-size: 1.5rem"></i>-->
              </div>

              <!--              <button pButton  class="btn d-md-block d-none w-100 flex-shrink-0 btn-primary btn-rounded m-0 primary-btn {{ sub.read == 1 ? 'questionread' : '' }}" pButton type="button">-->
              <!--                Read &nbsp;<span class="-enable">{{ sub.read == 1 ? "Completed" : "Answer" }}</span>-->
              <!--              </button>-->

              <!--              <button pButton  class="btn d-md-none d-flex flex-shrink-0 btn-primary btn-rounded m-0 primary-btn {{ sub.read == 1 ? 'questionread' : '' }}" pButton type="button">-->
              <!--                Read &nbsp;<span class="-enable">{{ sub.read == 1 ? "Completed" : "Answer" }}</span>-->
              <!--              </button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer py-0 border-0 bg-transparent">
    <p-paginator [rows]="25" [totalRecords]="totalQuestionCount" (onPageChange)="paginatepost($event)" [rowsPerPageOptions]="[25, 50, 100, 200]" dropdownAppendTo="body"></p-paginator>
  </div>
</div>
<!-- <p-dialog #dialogContent [(visible)]="isQuestionAnswerVisible" [draggable]="false"  class="questionmodal" header="Header" [maximizable]="true" (onShow)="onShowModal($event)" [style]="{ width: '85rem' }">
	<ng-template pTemplate="header">
		<div class="d-flex w-100 flex-column px-4">
			<div class="d-flex flex-row justify-content-md-between justify-content-center">
				<div class="col-md-10 col-10">
					<h5 class="select-title w-100 text-center mb-0">{{ currentModuleName }} - {{ moduleName }}</h5>
					<p-breadcrumb [model]="breadCrumb" class="w-100 mt-2 d-md-block d-none text-small"></p-breadcrumb>
				</div>
				<div class="d-md-block d-nonecol-md-2 col-2">
					<button pButton (click)="openReport()" class="btn btn-primary px-2 py-2 homecardbtn mt-2 mb-2 mx-2">
						<i class="fa-solid p fa-file-contract"></i>
						<br />
						<span>Report</span>
						<br />
					</button>
				</div>
			</div>
			<div class="d-flex justify-content-between d-md-none d-block align-items-center">
				<div>
					<button pButton (click)="goToHome($event)" class="btn btn-secondary px-3 d-flex justify-content-center align-items-center gap-3"><i class="fa-solid mb-0 fa-house"></i><span>Home</span></button>
				</div>
				<p-breadcrumb [model]="breadCrumb" class="w-100 mt-2 text-small"></p-breadcrumb>
				<div>
					<button pButton (click)="openReport()" class="btn btn-primary px-3 d-flex justify-content-center align-items-center gap-3"><i class="fa-solid mb-0 fa-file-contract"></i><span>Report</span></button>
				</div>
			</div>
		</div>
	</ng-template>
	<div class="carousel-container px-4">
		<div class="card flex-fill answercard">
			<div class="card-body text-start">
				<div class="d-flex align-items-center justify-content-between position-relative">
					<span class="text-small blockquote text-start mb-0">
						Last updated at: {{ oneQuestionContent?.updated_at | date }}
						<span *ngIf="oneQuestionContent?.verified === 1" class="badge" style="background-color: #2b8902">Verified</span>
						<span *ngIf="oneQuestionContent?.pre_verified === 1 && oneQuestionContent?.verified !== 1" style="background-color: darkorchid" class="badge">Pre Verified</span>
						<span *ngIf="oneQuestionContent?.pre_verified !== 1 && oneQuestionContent?.verified !== 1" style="background-color: var(--p-primary-500)" class="badge">Non Pre-Verified</span>
					</span>
					<button pButton class="btn btn-primary socialShareBtn" (click)="showSocialSharingList()"><i class="fa-light fa-xl fa-share-nodes"></i></button>
					<p-card id="socialSharingList">
						<ul style="list-style: none; cursor: pointer">
							<li (click)="shareViaWhatsapp()"><i class="pi pi-whatsapp"></i>Whatsapp</li>
							<li (click)="shareViaMail()"><i class="pi pi-envelope"></i>Email</li>
							<li (click)="shareViaFacebook()"><i class="pi pi-facebook"></i>Facebook</li>
							<li (click)="shareViaTwitter()"><i class="pi pi-twitter"></i>Twitter</li>
							<li (click)="shareViaInstagram()"><i class="pi pi-instagram"></i>Instagram</li>
							<li (click)="shareViaLinkedIn()"><i class="pi pi-linkedin"></i>LinkedIn</li>
							<li (click)="copyLink()"><i class="pi pi-link"></i>Copy Link</li>
						</ul>
					</p-card>
				</div>
				<h3 class="unselectable d-md-block d-none">{{ oneQuestionContent?.question }}</h3>
				<h5 class="unselectable d-md-none d-block">{{ oneQuestionContent?.question }}</h5>
				<div class="fw-medium" style="white-space: inherit; max-height: 80%; min-height: 80%" [innerHTML]="oneQuestionContent?.answer"></div>
			</div>
		</div>
	</div>

	<ng-template #footer>
		<div class="d-flex justify-content-between gap-3 w-100 p-4">
			<div class="d-flex flex-column" *ngIf="videoLinks">
				<h5 class="text-start mb-1" *ngIf="oneQuestionContent?.videolink?.length > 0">Recommended Videos</h5>
				<div class="d-flex align-items-center gap-2 pb-2">
					<div class="scrollable-container w-100" id="video-links-container" #videoLinksContainer>
						<div class="d-flex flex-nowrap flex-md-wrap overflow-x-auto gap-2">
							<span class="btn btn-primary text-small videolinkbutton flex-shrink-0" (click)="openVideoPopup(videoL.link)" *ngFor="let videoL of oneQuestionContent?.videolink; let ind = index"> Video {{ ind + 1 }} &nbsp;<i class="fa-solid fa-video"></i> </span>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex flex-column" *ngIf="refLink">
				<h5 class="text-start mb-1" *ngIf="oneQuestionContent?.reflink?.length > 0">Recommended Links</h5>
				<div class="d-flex align-items-center gap-2 pb-2">
					<div class="scrollable-container w-100" id="ref-links-container" #refLinksContainer>
						<div class="d-flex flex-nowrap flex-md-wrap overflow-x-auto gap-2">
							<a class="btn btn-secondary text-small reflinkbutton flex-shrink-0" target="_blank" href="{{ refL.link }}" *ngFor="let refL of oneQuestionContent?.reflink; let ind = index"> Link {{ ind + 1 }} &nbsp;<i class="fa-solid fa-link"></i> </a>
						</div>
					</div>
				</div>
			</div>
			<div class="align-items-center d-flex ">
				<button class="btn w-100 btn-primary theme-dark-blue mx-0 px-5 py-2 align-items-center" (click)="onClickAsk(oneQuestionContent?.question)">
					<div class="row justify-content-center align-items-center">
						<div class="col-12">
							<i class="fa-solid fa-file-contract h5 mb-2"></i>
						</div>
						<div class="col-12">
							<span>Click here to ask</span>
						</div>
						<div class="col-12">Personalised Questions</div>
					</div>
				</button>
			</div>
		</div>
	</ng-template>
</p-dialog> -->

<!-- new ui -->
<p-dialog #dialogContent [(visible)]="isQuestionAnswerVisible" [draggable]="false"  header="Header" [closable]="false" (onShow)="onShowModal($event)" [style]="{ width: '85rem' }" [breakpoints]="{ '1199px': '95vw', '575px': '90vw' }">
  <ng-template pTemplate="header">
    <div class="container-fluid">
      <div class="row align-items-center g-2">
        <div class="col-md-10 col-12">
          <div class="select-title w-100">
            <h5 class="mb-0 text-warp">{{ currentModuleName }} - {{ moduleName }}</h5>
          </div>
        </div>
        <div class="col-md-2 col-12">
          <div class="d-flex justify-content-end gap-2 align-items-center">
            <div class="career-reportIcon w-100 px-3" role="button" (click)="openReport()"><span class="fa-solid fa-file me-2"></span>Report</div>
            <div class="career-closeIcon" role="button" (click)="goToHome($event)">
              <span class="fa-solid fa-close"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-md-10 col-10">
        <h3 class="unselectable d-md-block d-none">{{ oneQuestionContent?.question }}</h3>
        <h4 class="unselectable d-md-none d-block">{{ oneQuestionContent?.question }}</h4>
      </div>
      <div class="col-md-2 col-2 text-end">
        <div class="position-relative d-flex justify-content-end">
          <button pButton class="btn btn-primary socialShareBtn" (click)="showSocialSharingList()"><i class="fa-solid fa-share"></i></button>
          <p-card id="socialSharingList">
            <ul style="list-style: none; cursor: pointer">
              <li (click)="shareQuestion('Whatsapp')"><i class="pi pi-whatsapp"></i>Whatsapp</li>
              <li (click)="shareQuestion('Mail')"><i class="pi pi-envelope"></i>Email</li>
              <li (click)="shareQuestion('Facebook')"><i class="pi pi-facebook"></i>Facebook</li>
              <li (click)="shareQuestion('Twitter')"><i class="pi pi-twitter"></i>Twitter</li>
              <li (click)="shareQuestion('Instagram')"><i class="pi pi-instagram"></i>Instagram</li>
              <li (click)="shareQuestion('LinkedIn')"><i class="pi pi-linkedin"></i>LinkedIn</li>
              <li (click)="copyLink()"><i class="pi pi-link"></i>Copy Link</li>
            </ul>
          </p-card>
        </div>
      </div>
      <div class="col-md-12">
        <div class="fw-medium blog-content" style="white-space: inherit; max-height: 80%; min-height: 80%" [innerHTML]="oneQuestionContent?.answer"></div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex flex-column text-start" *ngIf="videoLinks">
              <h5 class="text-start mb-1" *ngIf="oneQuestionContent?.videolink?.length > 0">Recommended Videos</h5>
              <div class="d-flex align-items-center gap-2 pb-2">
                <!-- Scrollable Video Links -->
                <div class="scrollable-container" id="video-links-container" #videoLinksContainer>
                  <div class="d-flex flex-row gap-4 flex-nowrap overflow-x-auto py-3 video-scroll-container" #scrollContainer>
                    <span class="btn btn-primary text-small videolinkbutton flex-shrink-0" (click)="openVideoPopup(videoL.link)" *ngFor="let videoL of oneQuestionContent?.videolink; let ind = index"> Video {{ ind + 1 }} &nbsp;<i class="fa-solid fa-video"></i> </span>
                  </div>
                </div>

                <!-- Right Arrow (Circular Scrolling) -->
                <button class="scroll-btn-vedio right" *ngIf="oneQuestionContent?.videolink?.length > 0" (click)="scrollRight()" aria-label="Scroll Right">
                  <i class="fa-solid fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex flex-column" *ngIf="refLink">
              <h5 class="text-start mb-1" *ngIf="oneQuestionContent?.reflink?.length > 0">Recommended Links</h5>
              <div class="d-flex align-items-center gap-2 pb-2">
                <!-- Scrollable Reference Links -->
                <div class="scrollable-container" id="ref-links-container" #refLinksContainer>
                  <div class="d-flex flex-row gap-4 flex-nowrap overflow-x-auto py-3 video-scroll-container" #scrollContainerlink>
                    <a class="btn btn-secondary text-small reflinkbutton flex-shrink-0" target="_blank" href="{{ refL.link }}" *ngFor="let refL of oneQuestionContent?.reflink; let ind = index"> Link {{ ind + 1 }} &nbsp;<i class="fa-solid fa-link"></i> </a>
                  </div>
                </div>

                <!-- Right Arrow (Circular Scrolling) -->
                <button class="scroll-btn-link right" *ngIf="oneQuestionContent?.reflink?.length > 0" (click)="scrollRightLinks()" aria-label="Scroll Right">
                  <i class="fa-solid fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="align-items-center d-flex">
              <button class="btn w-100 btn-primary mx-0 px-5 py-2 align-items-center" (click)="onClickAsk(oneQuestionContent?.question)">
                <div class="row justify-content-center align-items-center">
                  <div class="col-12">
                    <i class="fa-solid fa-comment"></i>
                  </div>
                  <div class="col-12">
                    <span>Click here to ask</span>
                  </div>
                  <div class="col-12">Personalised Questions</div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
<!-- <p-dialog [(visible)]="isRecommendedVideoVisible" class="questionvideopopup"  [style]="{ width: '80vw' }">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-md-1" *ngIf="videoLinks">
				<a (click)="clickPreviousVideoPopup($event)"><i
						class="text-green h4 mx-3 mb-0 fa-solid fa-circle-chevron-left"></i></a>
			</div>
			<div class="col-md-10">
				<p-carousel #carouselPopupVideoElm [circular]="false" [showNavigators]="false" [showIndicators]="false"
					[numScroll]="1" [numVisible]="1" [page]="selectedVideo" [responsiveOptions]="responsiveOptions"
					[value]="videoLinks" *ngIf="videoLinks">
					<ng-template let-item pTemplate="item">
						<div class="border-1 surface-border border-round m-2 text-center">
							<div class="mb-1">
								<iframe
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
									allowfullscreen class="mb-2" frameborder="0" height="500px " [src]=""
									title="YouTube video player" width="100%"></iframe>
							</div>
						</div>
					</ng-template>
				</p-carousel>
			</div>
			<div class="col-md-1" *ngIf="videoLinks">
				<a (click)="clickNextVideoPopup($event)"><i
						class="text-green mx-3 h4 fa-solid mb-0 fa-circle-chevron-right"></i></a>
			</div>
		</div>
	</div>
</p-dialog> -->

<!-- <p-dialog [(visible)]="isRecommendedLinksVisible" [draggable]="false"  [style]="{ width: '30vw' }" header="Header">
	<ng-template pTemplate="header">
		<span class="text-xl font-bold"></span>
	</ng-template>
	<div class="container-fluid">

		<div class="row justify-content-center align-items-center">
			<div class="col-md-2" *ngIf="refLink">
				<a (click)="clickPreviousRefPopup($event)"><i
						class="text-green h4 mx-3 mb-0 fa-solid fa-circle-chevron-left"></i></a>
			</div>
			<div class="col-md-8">
				<p-carousel #carouselPopupRefElm [circular]="false" [numScroll]="1" [numVisible]="1"
					[responsiveOptions]="responsiveOptions" [value]="refLink" *ngIf="refLink" [page]="selectedRefLink">
					<ng-template let-item pTemplate="item">
						<div class="border-1 surface-border border-round m-2 text-center">
							<div class="mb-1">
								<img src="{{ item.imageurl }}" [alt]="item.imageurl" class="w-2 shadow-2 img-fluid" />
							</div>
						</div>
					</ng-template>
				</p-carousel>
			</div>
			<div class="col-md-2" *ngIf="refLink">
				<a (click)="clickNextRefPopup($event)"><i
						class="text-green mx-3 h4 fa-solid mb-0 fa-circle-chevron-right"></i></a>
			</div>
		</div>
	</div>
</p-dialog> -->

<!-- <p-dialog [(visible)]="isReviewedByVisible" [draggable]="false" label="Show"  [maximizable]="true" [style]="{ width: '30vw' }" header="Header">
	<ng-template pTemplate="header">
		<span class="text-xl fw-bold ms-2 pl-4">Reviewed By</span>
	</ng-template>
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-md-3" *ngFor="let review of reviewedByOrgList">
				<img src="{{ review.logo }}" [alt]="review.organizationname" class="w-2 shadow-2 img-fluid" />
			</div>
		</div>
	</div>
</p-dialog> -->

<!-- vedio pop up -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': showVideoPopup }">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body position-relative pt-4">
        <div class="modalbuttons">
          <div class="d-flex gap-2">
            <button pButton title="New Window" type="button" class="btn btn-primary" (click)="openNextVideo()"><i class="fa-solid fa-arrow-up-right-from-square"></i></button>
            <button pButton type="button" title="Close Popup" class="btn btn-primary" (click)="closeVideoPopup()"><i class="fa-solid fa-xmark"></i></button>
          </div>
        </div>
        <div class="embed-responsive"><iframe #videoFrame [src]="selectedVideoLink" width="100%" frameborder="0" allowfullscreen></iframe></div>
      </div>
    </div>
  </div>
</div>
