.questionread {
  filter: grayscale(1);
}

.questioncard {
  border: 2px solid var(--uniprep-primary);
}

.scrollable-container {
  display: flex;
  overflow-x: hidden;
  align-items: center;
}

.answercard {
  background-color: var(--uniprep-primaryop10);
  border: 2px solid var(--uniprep-primary);
  overflow-y: auto;
}
.socialShareBtn{
  height: 40px;
  width: 40px;
  border-radius: 50px !important;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#socialSharingList{
  display:none;
  position: absolute;
  right: 0rem;
  top: 3rem;
  ::ng-deep.p-card-body{
    padding:0px;  
    .p-card-content{
      padding:0px;
    }
  }
  ul{
    padding:10px !important;
    margin-bottom: 0;
    li{
      display:flex;
      align-items: center;
      margin-bottom: 5px;
    }
    i{
      margin-right:10px;
    }
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.newwindow-button {
  position: absolute;
  top: -27px;
  right: 14px;
  /* Adjust the right position as needed */
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  color: #3F4C83;
}

.close-button {
  position: absolute;
  top: -27px;
  right: -25px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  color: #3F4C83;
}

.newwindow-button {
  font-size: 24px;
}
.fa-1x {
  font-size: 1.5em;
}
.video-container {
  position: relative;
  min-width: 600px;
  min-height: 350px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .modal-container {
    width: 80%; /* Adjust width for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
  .video-container {
    min-width: 100%;
    min-height: 350px;
  }
}

@media (max-width: 576px) {
  .modal-container {
    width: 90%; /* Further adjust width for extra small screens */
    padding: 5px; /* Further adjust padding for extra small screens */
  }
  .video-container {
    min-width: 100%;
    min-height: 350px;
  }
}