.questionread {
  filter: grayscale(1);
}

.questioncard {
  border: 2px solid var(--uniprep-primary);
}

.scrollable-container {
  display: flex;
  overflow-x: hidden;
  align-items: center;
}

.answercard {
  background-color: var(--uniprep-primaryop10);
  border: 2px solid var(--uniprep-primary);
  overflow-y: auto;
}
.socialShareBtn{
  height:40px;
  width:40px;
  text-align: center;
  border-radius: 50px !important;
}
#socialSharingList{
  display:none;
  position: absolute;
  top:60px;
  right:10px;
  padding:0px !important;
  ::ng-deep.p-card-body{
    padding:0px;  
    .p-card-content{
      padding:0px;
    }
  }
  ul{
    padding:10px !important;
    li{
      display:flex;
      align-items: center;
      margin-bottom: 5px;
    }
    i{
      margin-right:10px;
    }
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  z-index: 9999;
  /* Ensure modal overlay appears on top of other content */
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  /* Ensure modal container appears on top of modal overlay */
}

.newwindow-button {
  position: absolute;
  top: -27px;
  right: 14px;
  /* Adjust the right position as needed */
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  color: #3F4C83;
}

.close-button {
  position: absolute;
  top: -27px;
  right: -25px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  color: #3F4C83;
}

.newwindow-button {
  font-size: 24px;
}
.fa-1x {
  font-size: 1.5em;
}