.questionread {
  filter: grayscale(1);
}

.questioncard {
  border: 2px solid var(--uniprep-primary);
}

.scrollable-container {
  display: flex;
  overflow-x: hidden;
  align-items: center;
}

.answercard {
  background-color: var(--uniprep-primaryop10);
  border: 2px solid var(--uniprep-primary);
  overflow-y: auto;
}
.socialShareBtn{
  height:40px;
  width:40px;
  text-align: center;
  border-radius: 50px !important;
}
#socialSharingList{
  display:none;
  position: absolute;
  top:60px;
  right:10px;
  padding:0px !important;
  ::ng-deep.p-card-body{
    padding:0px;  
    .p-card-content{
      padding:0px;
    }
  }
  ul{
    padding:10px !important;
    li{
      display:flex;
      align-items: center;
      margin-bottom: 5px;
    }
    i{
      margin-right:10px;
    }
  }
}