.scholarshiplistcard{
  background:#F4F4F4;
  border-radius: 15px;
  &:hover
  {
    border:1px solid var(--uniprep-primaryhighlight);
    background:var(--uniprep-primaryop10);
  }
}

.courseImage{
    height: 3rem;
    width: 3rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #f0f0f0;
}

.headerButtons{
    border-color: var(--uniprep-primary);
    border-radius: 25px;
    color: var(--uniprep-primary);
    font-weight: 700;
    padding: 0px 10px 0px 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.column {
  width: 25% !important;
  position: relative;
  padding-left: 10px;
}

.column:nth-child(n+2)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: grey;
}

.card-container {
  margin-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.gap-2 {
  gap: 8px;
}
.icon-gray {
  color: gray;
  margin-right: 8px;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.company{
  color:var(--uniprep-primary)
}

.sharp-edges {
  border-radius: 0;
  width: 100%
}
.formGroup{
  padding: 10px
}
:host ::ng-deep .p-overlay {
  z-index: 4000 !important;
}
//:host ::ng-deep.p-dropdown {
//  width: 100% !important;
//}
:host ::ng-deep .p-dialog .p-dialog-content {
  overflow: visible !important; /* Allow overflow for dropdown */
}:host ::ng-deep .p-overlay p-component {
   z-index: 4050 !important;
}

.rounded-image {
  border-radius: 50%; /* Makes the image circular */
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image fits within the circle */
}
:host ::ng-deep .p-dropdown {
  width: 100%;
}

:host ::ng-deep .p-dropdown-label {
  width: 200px; /* Set your desired fixed width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep .p-dialog 
{
  border-radius: 15px;
  overflow: hidden;
}