<div class="row h-100 justify-content-center align-items-center text-center" *ngIf="!isDetailsCardVisible">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 h-100 overflow-y-auto" *ngFor="let status of statuses; let i = index">
        <h5 class="text-start uniprep-primary fw-bold mb-3">{{ status.label }}({{ getJobsByStatus(status.value).length }})</h5>
          <ng-container *ngFor="let job of getJobsByStatus(status.value)">
              <div class="card mb-3">
                  <div class="card-body">
                      <div class="d-flex justify-content-between mb-3">
                          <div>
                              <h5 class="uniprep-primary text-wrap mb-0 text-start" (click)="onClickCard(job)">
                                  {{ job.job_title || "No Title" }}
                              </h5>
                              <p class="text-start text-small" style="color: lightslategrey">
                                  {{ job.company_name || "No Company" }} · {{ job.location || "No Location" }}
                              </p>
                          </div>
                          <div class="text-end" *ngIf="job.country_flag">
                              <img [src]="job.country_flag" alt="logo" class="rounded-image" />
                          </div>
                      </div>
                      <div class="row align-items-center">
                          <div class="col-md-6 text-start">
                              <p-dropdown [(ngModel)]="job.type" [options]="statuses" placeholder="Status" (onChange)="onStatusChange(job, $event)">
                              </p-dropdown>
                          </div>
                          <div class="col-md-4">
                              <button class="btn btn-primary btn-rounded w-100" (click)="onClickDetails(job)">Details</button>
                          </div>
                          <div class="col-md-2">
                              <button type="button" class="btn btn-danger w-100 btn-rounded" (click)="onClickDeleteDialog(job)">
                                  <i class="fas fa-trash-alt"></i>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="row h-100" *ngIf="isDetailsCardVisible">
  <div class="d-flex flex-column h-100 w-100 gap-2">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex gap-3">
            <div class="backIcon" (click)="goBack()">
              <span class="fa-solid fa-chevron-left"></span>
            </div>
            <div class="text-start">
              <h5 class="uniprep-primary text-wrap mb-0">{{ singleData.job_title }}</h5>
              <h6>{{ singleData.company_name }} · {{ singleData.location }}</h6>
              <p *ngIf="singleData.work_type">Work Mode: {{ singleData.work_type }}</p>
              <p *ngIf="singleData.type">status: {{ singleData.type }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card h-100">
      <div class="card-body text-start">
        <h5>Job Description</h5>
        <p>{{ singleData.description }}</p>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="isVisibleAddManually" [modal]="true" [style]="{ width: '30rem' }" [draggable]="false" [resizable]="false" [breakpoints]="{ '960px': '30vw', '959px': '60vw', '425px': '90vw' }" (onHide)="clearRestriction()">
  <div class="text-center mt-5 mb-4 formGroup">
    <h4 class="text-start">Add Job</h4>
    <form [formGroup]="addManual" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <label class="form-label" style="font-size: small; font-weight: 500">Organization</label>
          <div class="form-group">
            <div class="mb-3">
              <input type="text" formControlName="company_name" class="sharp-edges" pInputText placeholder="Enter Organization" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-label" style="font-size: small; font-weight: 500">Job Title</label>
          <div class="form-group">
            <div class="mb-3">
              <input type="text" formControlName="job_title" class="sharp-edges" pInputText placeholder="Enter Job Title" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-label" style="font-size: small; font-weight: 500">Job Type</label>
          <div class="form-group">
            <div class="mb-3">
              <input type="text" formControlName="location" class="sharp-edges" pInputText placeholder="Enter Location" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-label" style="font-size: small; font-weight: 500">Status</label>
          <div class="form-group w-100">
            <div class="mb-3">
              <p-dropdown [options]="statuses" class="w-100" filterBy="label" [showClear]="true" optionLabel="label" formControlName="status" placeholder="Status"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <label class="form-label" style="font-size: small; font-weight: 500">Application Link</label>
          <div class="form-group">
            <div class="mb-3">
              <input type="text" formControlName="application_link" class="sharp-edges" pInputText placeholder="Enter Application Link" />
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary text-small btn-rounded" type="submit">Add</button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
<p-dialog [(visible)]="isDeleteVisible" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false" class="restrictionDialog" [breakpoints]="{ '960px': '30vw', '959px': '60vw', '425px': '90vw' }" (onHide)="clearRestriction()">
  <div class="text-center p-4">
    <div class="mb-3"><i class="fas fa-trash fa-3x text-danger"></i></div>
    <h4 class="uniprep-primary mb-3">Are you sure want to delete the job?</h4>
    <button class="btn btn-primary text-small btn-rounded w-100" type="button" (click)="onClickDelete()">Delete</button>
  </div>
</p-dialog>
