.p-button-info-prev {
    background-color: #0E3361;
    color: white;
    border: none;
}

.p-button-info-next {
    background-color: #4552A3;
    color: white;
    border: none;
}

.p-button-info-succes {
    background-color: #9BC329;
    color: white;
    border: none;
}

:host ::ng-deep .fa-check-circle {
    color: #83A81A !important;
}


.bg-grey {
    background-color: lightgrey;
}

.exhausted-plan-icon-prev {
    padding: 10px;
    border-radius: 25px;
    background-color: #0E3361;
    color: white;
    margin-left: 5px;
}

.exhausted-plan-icon-next {
    padding: 10px;
    border-radius: 25px;
    background-color: #4552A3;
    color: white;
    margin-left: 5px;
}

.question-number {
    font-size: 18px;
    color: #3F4C83;
    font-weight: 500;
}

.question {
    color: #001631;
    font-size: 25px;
}

.product-item-content {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.b-1 {
    border: 1px solid lightgray;
    padding: 10px 5px;
    margin: 5px 0px;
    border-radius: 5px;
}

:host ::ng-deep .p-checkbox .p-checkbox-box {
    border-radius: 25px !important;
}

:host ::ng-deep.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #0E3361;
    background: #0E3361;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    width: 10px;
    height: 10px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 20px;
}

@media (max-width: 575.98px) {
    .product-item-content {
        margin: auto;
        padding: 10px;
    }

    .question-number {
        font-size: 12px;
        color: #3F4C83;
        font-weight: 500;
    }

    .question {
        color: #001631;
        font-size: 14px;
    }

    .module-list {
        width: 35% !important;
    }
}

:host ::ng-deep .p-carousel-prev {
    align-self: end !important;
}

:host ::ng-deep .p-carousel-next {
    align-self: end !important;
}

.module-list {
    width: 18%;
}

:host ::ng-deep .p-card {
    background-color: #EBEDF2 !important;
}

.module-name {
    color: #121212;
    font-size: 16px;
}

.b-none {
    border: none !important;
}

:host ::ng-deep .bg-blue {
    .p-card {
        background-color: #0E3361 !important;

        .p-card-body {
            padding: 5px 15px !important
        }
    }
}

.info-recommend {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

.text-align-right {
    text-align: right;
}

.p-danger-button {
    background-color: #E53939 !important;
    color: white !important;

    .fa-circle::before {
        color: #BE2B2B !important;
    }
}

// testing
.application-text-small {
	color: black;
	font-size: 0.8rem;
	padding-left: 10px;
	padding-right: 10px;
}

.application-border {
	border: 3px solid var(--uniprep-primary);
	border-radius: 5%;
	font-size: 0.8rem;
}

.unselected-border {
	border: 3px solid var(--uniprep-primaryhighlight);
	border-radius: 5px;
	font-size: 0.8rem;
}

.selected-border {
	background-color: var(--uniprep-primary);
	border: 0;
}

.application-text {
	font-size: 0.8rem;
}

.subjectcard {
	border: 3px solid #f0780c;
	width: 100%;
	margin: 10px 0px;

	.submoduleicon {
		height: 100px;
		width: 100px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		.selectimage {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&:focus {
		background-color: var(--uniprep-primaryop10);
		border: 3px solid var(--uniprep-primary);
	}

	&:hover {
		background-color: var(--uniprep-primaryop10);
		border: 3px solid var(--uniprep-primary);
	}

	// .subjecttitle {
	//   height: 50px;
	//   font-size: 16px;
	// }
}
.sub-data {
	font-size: 12px;
}
:host ::ng-deep p-carousel {
	//On later realease of PrimeNG, this can be done programmatically with [showIndicators | showNavigators]="false"
	.p-carousel-indicators {
		display: none !important;
	}

	.p-carousel-next,
	.p-carousel-prev {
		display: none !important;
	}
}
selctedQuizTiny {
	font-size: 10px;
	color: var(--uniprep-primary);
}
.quizprogress {
	.p-progressbar {
		height: 10px;
		margin-top: 5px;
	}
}
.quiznotanswered {
	border: 1px solid #e3e3e3;
	border-radius: 8px;
	width: 100%;
	padding: 8px;
	text-align: start;
	color: #001631;
}

.optionanswered {
	border: 1px solid var(--uniprep-primary);
	border-radius: 8px;
	color: #001631;
}

.optionreviewcorrect {
	border: 1px solid var(--uniprep-primary);
	background: var(--uniprep-primary);
	border-radius: 8px;
	color: #fff;
}

.optionreviewwrong {
	border: 1px solid #df3e3e;
	background: #df3e3e;
	border-radius: 8px;
	color: #fff;
}
@media (max-width: 1199.98px) {
	.subjectcard {
		.submoduleicon {
			height: 70px;
			width: 70px;
		}
	}
}
@media (max-width: 991.98px) {
	.subjectcard {
		.submoduleicon {
			height: 70px;
			width: 70px;
			margin-right: 1rem;
		}
	}
}
@media (max-width: 767.98px) {
	.subjectcard {
		.submoduleicon {
			height: 65px;
			width: 65px;
			margin-right: 1rem;
		}
	}
}
@media (max-width: 575.98px) {
	.subjectcard {
		.submoduleicon {
			height: 60px;
			width: 60px;
			margin-right: 1rem;
		}
	}
}
.homecardbtnquiz {
	background-color: black;
	color: white;
}
.ellipse-button {
	width: auto;
	padding: 6px 25px;
	height: auto;
	background-color: #f0780e;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: not-allowed;
	font-size: 10px;
}

.desktop {
	display: flex;
}

.primary-btn {
	border-radius: 25px !important;
}

.readButton {
	border-radius: 25px !important;
}

.float-right {
	float: right;
	.warning {
		background-color: #f0780c !important;
		border-radius: 25px !important;
		color: white;
		font-weight: 300;
		font-size: 10px;
	}
}

.mobile {
	display: none;
}
@media screen and (max-width: 480px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}

.offer {
	color: #df7905;
}



.select-title {
	margin-bottom: 20px;
}

.soon-university {
	margin-top: 20px;
	color: #ff9113;
}
