<div class="card readingcard">
	<div class="card-body text-center pt-0 h-100">
		<div class="row justify-content-center">
			<div class="col-md-1 col-1 text-start">
			</div>
			<div class="col-md-10 col-10 text-center">
				<h5 class="select-title mb-1" tooltipPosition="top" pTooltip="Quiz">
					 QUIZ<i class="questiontooltip fa-solid fa-circle-question"></i>
				</h5>
			</div>
			<div class="col-md-1 col-1">&nbsp;</div>
		</div>
        <div class="container">
            <ng-container >
                <h5 class="mt-2">Your currently attending Quiz on UNITED States</h5>
                <h6 class="mt-3">Start your quiz on one of our modules</h6>
                <div>
                    <div class="d-flex flex-wrap text-center justify-content-center">
                        <ng-container>
                            <p-card class="card m-2 module-list">
                                <div class="list text-center">
                                    <img src="../../../uniprep-assets/images/icons/preadmission.png" class="img-fluid" alt="Module Image" width="100">
                                    <h4 class="module-name">Pre Admission</h4>
                                    <button (click)="startQuiz('pre-admission')" pButton type="button" style="background-color: #3F4C83; color: #4552A3;"
                                    class="p-button-rounded p-2"
                                   ><span style="color: white; font-size: small;">Start</span><span class="fa-stack">
                                      <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                                      <i class="fas fa-arrow-right fa-inverse"></i>                                        
                                   </span>
                                  </button>
                                </div>
                            </p-card>
                            <p-card class="card m-2 module-list">
                                <div class="list text-center">
                                    <img src="../../../uniprep-assets/images/icons/postadmission.png" class="img-fluid" alt="Module Image" width="100">
                                    <h4 class="module-name">Post Admission</h4>
                                    <button (click)="startQuiz('post-admission')" pButton type="button" style="background-color: #3F4C83; color: #4552A3;"
                                    class="p-button-rounded p-2"
                                   ><span style="color: white; font-size: small;">Start</span><span class="fa-stack">
                                      <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                                      <i class="fas fa-arrow-right fa-inverse"></i>                                        
                                   </span>
                                  </button>
                                </div>
                            </p-card>
                            <p-card class="card m-2 module-list">
                                <div class="list text-center">
                                    <img src="../../../uniprep-assets/images/icons/lifeat.png" class="img-fluid" alt="Module Image" width="100">
                                    <h4 class="module-name">Life at Country</h4>
                                    <button (click)="startQuiz('life-at-country')" pButton type="button" style="background-color: #3F4C83; color: #4552A3;"
                                    class="p-button-rounded p-2"
                                   ><span  style="color: white; font-size: small;">Start</span><span class="fa-stack">
                                      <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                                      <i class="fas fa-arrow-right fa-inverse"></i>                                        
                                   </span>
                                  </button>
                                </div>
                            </p-card>
                            <p-card class="card m-2 module-list">
                                <div class="list text-center">
                                    <img src="../../../uniprep-assets/images/icons/careerhub.png" class="img-fluid" alt="Module Image" width="100">
                                    <h4 class="module-name">Career Hub</h4>
                                    <button (click)="startQuiz('career-hub')" pButton type="button" style="background-color: #3F4C83; color: #4552A3;"
                                    class="p-button-rounded p-2"
                                   ><span style="color: white; font-size: small;">Start</span><span class="fa-stack">
                                      <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                                      <i class="fas fa-arrow-right fa-inverse"></i>                                        
                                   </span>
                                  </button>
                                </div>
                            </p-card>
                        </ng-container>
                    </div>
                </div>
                <div class="container ps-5 pe-5 mt-2">
                    <form action="">
                        <h6 style="text-align: center;">Start your quiz on an university you are interested in.</h6>
                        <div class="row justify-content-center">
                            <div class="col-md-1 col-1 text-start">
                            </div>
                            <div class="col-md-9 col-9 text-center mt-1">
                                <p-dropdown dropdownAppendTo="body" class="mt-2" placeholder="Select your university" [options]="filterUniversityList" optionValue="id" optionLabel="name" styleClass="w-100" [filter]="true"></p-dropdown>
                            </div>
                            <div class="col-md-1 col-1 text-center mt-1">
                                <button pButton type="button" style="background-color: #3F4C83; color: #4552A3;"
                                class="p-button-rounded p-2"
                               ><span  style="color: white; font-size: small;">Start</span><span class="fa-stack">
                                  <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
                                  <i class="fas fa-arrow-right fa-inverse"></i>                                        
                               </span>
                              </button> 
                            </div>
                            <div class="col-md-1 col-1">&nbsp;</div>
                        </div>
                    </form>
                </div>
            </ng-container>
        </div>
    </div>
</div>
