.container {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  margin: 0 auto;

  textarea {
    width: 100%;
    height: 280px;
    border-color: #9bc329;
    border-radius: 5px;
    overflow: auto;
  }

  label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #db202f;
    padding: 8px 16px;
  }

  h3 {
    font-size: 0.65rem;
    font-weight: 600;
    color: #38424c;
  }
}

.doc-container {
  margin: 0px 0 -25px 0px;

  h6 {
    font-size: 0.85rem;
    font-weight: 600;
  }

  hr {
    width: 100%;
  }
}

.footer_part {
  display: flex;
  background: #9bc329;
  color: white;
  border-radius: 12px;
  width: 70%;
  justify-content: space-around;
  margin: auto;
  padding-top: 3px;
  font-size: small;
}
