.btn-back,
.btn-quit {
    white-space: nowrap;
}

.instructionlist li {
    margin-bottom: 20px;
}
:host ::ng-deep p-carousel {
	//On later realease of PrimeNG, this can be done programmatically with [showIndicators | showNavigators]="false"
	.p-carousel-indicators {
		display: none !important;
	}

	.p-carousel-next,
	.p-carousel-prev {
		display: none !important;
	}
}

.quizprogress {
	margin-right: auto;
	.p-progressbar {
		height: 10px;
		margin-top: 5px;
	}
}
.quiznotanswered {
	border: 2px solid var(--p-neutral-200);
    padding: 1rem 1rem;
    border-radius: 10px;
}

.optionanswered {
	border: 2px solid var(--primary-500);
    border-radius: 10px;
    color: var(--uniprepprimarydark);
}

.optionreviewcorrect {
	border: 2px solid var(--p-lime-500);
	background: var(--p-green-600);
	border-radius: 8px;
	color: #fff;
}
.answercorct{
	border: 2px solid var(--p-lime-500);
	background: var(--p-green-600);
	border-radius: 8px;
	color: #fff;
}
.optionreviewwrong {
	border: 2px solid #df3e3e;
	background: #df3e3e;
	border-radius: 8px;
	color: #fff;
}
:host ::ng-deep .p-dialog 
{
    .p-dialog-content
    {
        border-radius:15px;
    }
}