.subcountry {
  .p-select {
    border: 2px solid var(--primary-500);
  }
}

.buttonactive {
  background-color: white;
  /* Add other styles for buttons */
}

.buttonactive.active {
  background-color: var(--primary-500);
  color: #fff !important;
  /* Add other styles for active buttons */
}
// sop
@media screen and (min-width: 500px) and (max-width: 1200px) {
  .sop-border:after {
    width: 350px !important;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .sop-border:after {
    width: 700px !important;
  }
}

@media screen and (min-width: 380px) and (max-width: 500px) {
  .sop-border:after {
    width: 300px !important;
    margin: auto;
  }
}

@media screen and (max-width: 380px) {
  .sop-border:after {
    width: 250px !important;
    margin: auto;
  }
}
.scardFeatures {
  display: flex;
  gap: 10px;
  &.center {
    justify-content: center;
  }
  .scardFeature {
    display: flex;
    gap: 5px;
    .pi {
      background: var(--primary-500);
      color: white;
      text-align: center;
      line-height: 22px;
      width: 22px !important;
      height: 22px !important;
      font-size: 10px;
      border-radius: 50%;
    }
  }
}
.scards {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 565px) {
    flex-direction: column;
  }
}
.mostpopular {
  background: var(--primary-500);
  color: #fff;
  text-align: center;
  padding: 10px 10px 12px;
  border-radius: 12px 12px 0 0;
  width: 100%;
}
.active {
  .card-header {
    border-bottom: none !important;
  }
  .card-footer {
    border-top: none !important;
  }
}
.subscriptioncard {
  border-width: 2px !important;
  height: -webkit-fill-available;
  .card-header {
    background: transparent;
    border-bottom: none;
  }
  .card-footer {
    background: transparent;
    border-top: none;
  }

  &:hover {
    background-color: var(--primary-50);
    border: 2px solid var(--primary-500);
    .card-header {
      border-bottom: none;
    }
    .card-footer {
      border-top: none;
    }
    // height: 445px;
    .getstartedbtn {
      opacity: 1;
      .btn {
        margin: 0 !important;
        width: 100%;
        border-radius: 10px !important;
      }
    }
  }
  &:focus {
    background-color: var(--primary-50);
    border: 2px solid var(--primary-500);
    .card-header {
      border-bottom: none;
    }
    .card-footer {
      border-top: none;
    }
    .getstartedbtn {
      opacity: 1;
      .btn {
        margin: 0 !important;
        width: 100%;
        border-radius: 10px !important;
      }
    }
  }
  .getstartedbtn {
    opacity: 1;
    .btn {
      margin: 0 !important;
      width: 100%;
      border-radius: 10px !important;
    }
  }
}
.subscriptioncard.active {
  border: 2px solid var(--primary-500);
  // height: 480px;
  .getstartedbtn {
    display: block;
    .btn {
      margin: 0 !important;
      width: 100%;
      border-radius: 10px !important;
    }
  }
}
.subscriptioncard1 {
  border-width: 2px !important;
  height: -webkit-fill-available;
  .card-header {
    background: transparent;
  }
  .card-footer {
    background: transparent;
  }
  &:hover {
    // height: 465px;
    background-color: var(--primary-50);
    border: 2px solid var(--primary-500);
    .getstartedbtn {
      display: block;
      .btn {
        margin: 0 !important;
        width: 100%;
        border-radius: 10px !important;
      }
    }
  }
  &:focus {
    background-color: var(--primary-50);
    border: 2px solid var(--primary-500);
    .getstartedbtn {
      display: block;
      .btn {
        margin: 0 !important;
        width: 100%;
        border-radius: 10px !important;
      }
    }
  }
  .getstartedbtn {
    display: block;
    .btn {
      margin: 0 !important;
      width: 100%;
      border-radius: 10px !important;
    }
  }
}
.discountbutton {
  border: 2px solid #ff8800;
  margin: 0;
  padding: 4px 10px !important;
  background-color: #ffe1be;
  font-size: 0.8em;
  border-radius: 5px !important;
  color: #ff8800;
  font-weight: 500;
}
.scard {
  border: 1px solid #b9b9b9;
  border-radius: 15px;
  width: 220px;
  background: #f5f5f5;
  border: 2px solid #b9b9b9;
  &:hover {
    background: #fbfff2 0% 0% no-repeat padding-box;
  }
  .scardTitle {
    width: 80%;
    margin: auto;
    padding: 5px 0px;
    background: var(--primary-500);
    color: white;
    text-align: center;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .scardStart {
    width: 80%;
    margin: auto;
    padding: 5px 0px;
    background: var(--primary-500);
    color: white;
    text-align: center;
    border-radius: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: -15px;
    z-index: 2;
    position: relative;
    &:hover {
      background: #001631 0% 0% no-repeat padding-box;
      cursor: pointer;
    }
  }
  .scardPrice {
    text-decoration: line-through;
    color: #001631;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 0px;
  }
  .scardDiscount {
    background: #ffa500;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin: auto;
    width: 150px;
  }
  .scardPriceCurrent {
    color: var(--primary-500);
    font-size: 1.1rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 0px;
    font-weight: 500;
  }
  .scardCheck {
    color: #001631;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
  }
}

.custom-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  background-color: #fff; /* Set the desired background color */
  color: var(--primary-500); /* Set the desired text color */
  padding: 4px; /* Adjust the padding as needed */
  border-radius: 50%; /* Create a circular shape */
}
.custom-icon1 {
  background-color: #fff; /* Set the desired background color */
  color: var(--primary-500); /* Set the desired text color */
  padding: 4px; /* Adjust the padding as needed */
  border-radius: 50%; /* Create a circular shape */
}
.cardcontainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  height: fit-content !important;
}
.sameline {
  padding: 1rem 0rem !important;
}

:host ::ng-deep .p-multiselect {
  border-radius: 50px !important;
  color: #010205;
  border: 2px solid var(--primary-500);
}

:host ::ng-deep .p-select {
  border-radius: 50px !important;
  margin: 0px 55px;
  border: 2px solid var(--primary-500);
}

.base-country-flag {
  width: 27px;
  height: 27px;
}

.dark-btn {
  background: #0d102f;
  color: white;

  &:hover {
    background: #010205;
  }
}

.inputheight {
  height: 2.3rem;
}

.p-inputgroup {
  padding: 0px;
  // background: #fff;
  border-radius: 10px;
  .p-button {
    border-radius: 0px 8px 8px 0 !important;
  }
  // input {
  //   padding-left: 10px;
  // }
}
.h-100 {
  height: 110px !important;
}
.sub-label {
  color: #3f4c83;
  font-size: 20px;
  font-weight: 500;
}
.font-secondarycolor p {
  color: #001631;
}

.offer-msg {
  font-weight: 600;
  margin: auto;
  padding: 10px 25px;
  border-radius: 25px;
  background-color: #ffe1be;
  border: 2px solid #ff8800;
  margin-bottom: 10px;
}

.confirm-modal-header {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 15px;
  border: 2px solid #ebebeb;
  border-radius: 10px;
  background: #f6f6f6;
}

.confirm-modal-country {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border: 1px solid var(--primary-500);
  border-radius: 25px;
}

.m-1 {
  border: 1px solid #ebedf2;
  border-radius: 5px;

  .pi-check {
    color: #9f9f9f;
    padding-right: 5px;
    font-size: 13px;
  }

  .what-you-get {
    font-size: 10px;
    color: #1d2628;
  }

  .footer-part {
    .validity {
      font-size: 20px;
      color: #1d2628;
    }
  }

  .permission-list {
    p {
      font-size: 14px;
      color: #1d2628;
      font-weight: 500;
    }
  }
}
.p-6 {
  padding: 30px;
  height: 650px;
}
.btn-grey {
  font-size: 14px;
  background-color: #979797;
  color: white !important;
}
.discountbutton {
  background-color: #ebedf2;
  border: #ebedf2;
  color: #979797;
}
.pt-10 {
  padding-top: 3rem;
  border-radius: 5px;
}

.mostpopular {
  background: var(--primary-500);
  color: #fff;
  text-align: center;
  padding: 10px 10px 12px;
  border-radius: 12px 12px 0 0;
  width: 100%;
}
.orange {
  color: #ff9113;
}

.discountbutton-o {
  padding: 4px 10px !important;
  background-color: #ffe1be;
  border-radius: 5px !important;
  color: #ff8800;
  font-weight: 500;
  font-size: 10px;
  margin: 4px;
}
.btn-basic {
  border-radius: 5px !important;
  border: 1px solid #3f4c83;
  color: #3f4c83;
}

.mobile {
  display: none;
}

@media (max-width: 575.98px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .m-1 {
    border: 1px solid #ebedf2;
    border-radius: 5px;


    .pi-check {
      color: #9f9f9f;
      padding-right: 5px;
      font-size: 13px;
    }

    .what-you-get {
      font-size: 10px;
      color: #1d2628;
    }

    .footer-part {
      .validity {
        font-size: 20px;
        color: #1d2628;
      }
    }

    .permission-list {
      p {
        font-size: 14px;
        color: #1d2628;
        font-weight: 500;
      }
    }
  }

  .p-6 {
    padding: 30px;
  }

  .btn-grey {
    font-size: 14px;
    background-color: #979797;
    color: white !important;
  }

  .discountbutton {
    background-color: #ebedf2;
    border: #ebedf2;
    color: #979797;
  }

  .pt-10 {
    padding-top: 3rem;
    border-radius: 5px;
  }

  .mostpopular {
    background: var(--primary-500);
    color: #fff;
    text-align: center;
    padding: 10px 10px 12px;
    border-radius: 12px 12px 0 0;
    width: 100%;
  }

  .orange {
    color: #ff9113;
  }

  .discountbutton-o {
    border: 2px solid #ffe1be;
    margin: 0;
    padding: 4px 10px !important;
    background-color: #ffe1be;
    font-size: 0.8em;
    border-radius: 5px !important;
    color: #ff8800;
    font-weight: 500;
  }

  .btn-basic {
    border-radius: 5px !important;
  }
}

.amount {
  color: #9f9f9f;
}
.orange {
  color: #ff9113;
}
.btn-grey:hover {
  color: #fff !important;
  background: var(--primary-500);
}

.fa-check {
  color: #9bc329 !important;
  font-size: 14px;
  
  &.grey {
    color: rgb(164, 163, 163) !important;
  }
}

.fa-xmark {
  color: #ff9113 !important;
  font-size: 14px;
  
  &.grey {
    color: rgb(164, 163, 163) !important;
  }
}

.what-you-get {
  font-size: 10px;
  color: #1d2628;
}
.columns {
  float: left;
}

.price {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bl-1 {
  border-left: 1px solid lightgray;
}

.br-1 {
  border-right: 1px solid lightgray;
}

.price .header {
  background-color: white;
  font-size: 25px;
  font-weight: 500;
}

.price li {
  padding: 10px;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.price .grey {
  font-size: 20px;
}

.button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.discountbutton {
  background-color: #ebedf2;
  border: #ebedf2;
  color: #979797;
}

.mt-15 {
  margin-top: 45px;
}
.mt-20 {
  margin-top: 45px;
}

.mt-25 {
  margin-top: 65px;
}

.mt-18 {
  margin-top: 33px;
}

.grey {
  color: rgb(164, 163, 163) !important;
  
}
.greyButton {
  color: grey;
  background-color: rgb(213, 211, 211);
  border: 1px solid grey;
  font-weight: 600;
}
.smallIcon {
  font-size: 14px !important;
}

.historyBtn {
  background: #ffa500;
  color: white;
  text-align: center;
  padding: 6px 12px;
  border-radius: 100px !important;
  width: 200px;
}
.fa-xmark-large {
  padding: 10px;
  font-weight: bold;
}
.monthly-subscription ::ng-deep .p-tabview-nav-container {
  ::ng-deep .p-tabview-nav-content {
    height: 50px !important;
    ::ng-deep ul {
      height: fitcontent !important;
      ::ng-deep li {
        height: fitcontent !important;
        a {
          height: 35px;
        }
      }
    }
  }
}
::ng-deep .p-confirm-dialog {
  width: 550px;
  .p-dialog-header,
  .p-dialog-content,
  .p-dialog-footer {
    padding: 10px !important;
  }
  ::ng-deep .p-confirm-dialog-accept {
    background-color: var(--primary-500);
  }
  ::ng-deep .p-confirm-dialog-accept:focus {
    box-shadow: none !important;
  }
  ::ng-deep .p-confirm-dialog-reject {
    color: var(--primary-500);
  }
}
.monthly-subscription ::ng-deep .p-tabview-panels {
  display: none;
}
.freeValidity {
  font-size: 16px !important;
}
.stripeborder {
  border: 1px solid #635bff !important;
}
.razorpayborder {
  border: 1px solid #3395ff !important;
}
.price_size {
  font-size: 1.99rem  !important;
}