
  
  .card {
    border-radius: 12px;
    background: #fff;
  }
  
  h5 {
    font-weight: bold;
  }

.message-box {
    background-color: #fdeedb;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-card {
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
}
.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
.status-badge {
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 20px;
}
.shortlisted {
    background-color: #4caf50;
    color: white;
}
.profile-completion {
    font-size: 12px;
    font-weight: bold;
    color: #f08c40;
}
.info-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    margin-bottom: 8px;
}
.info-item i {
    color: #f08c40;
}

.button-profile-top {
    border: 1px solid var(--uniprep-secondary);
    background-color: white;
    color: var(--uniprep-secondary);

    &:hover {
      background-color: var(--uniprep-secondary);
      color: white;
    }
}

label {
    font-weight: bolder;
    font-size: 16px;
    color: var(--uniprep-primary);
}

.upload-box {
    width: 100%;
    height: 70px;
    border: 1px dashed var(--uniprep-primary);
    background-color: var(--uniprep-gray);
}

.scroll-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-hidden::-webkit-scrollbar {
    width: 4px; /* Chrome, Safari, Edge */
}
