<section class="bg-image h-100">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body p-5 pb-4">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <h3 class="mt-5 mb-2 label">Forgot password?</h3>
              <p class="fw-medium mb-4 text-muted">No worries! Just enter your email and we'll send you a OTP to reset password.</p>
              <label for="floatingInput">Email address</label>
              <div class="form-floating mb-4">
                <div class="p-inputgroup">
                  <div class="p-inputgroup-addon"><i class="pi pi-envelope"></i></div>
                  <input type="email" pInputText id="floatingInput" placeholder="name@example.com" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                </div>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="d-grid">
                <button class="pt-3 pb-3 btn btn-primary btn-login text-uppercase fw-medium h5 m-0" type="submit">Send Recovery Email</button>
              </div>
              <div class="pt-5">&nbsp;</div>
              <div class="mt-5 d-flex flex-column align-items-center justify-content-center">
                <div class="backbtn">
                  <a href="login"><i class="pi pi-chevron-left"></i></a>
                </div>
                <div>
                  <p class="mb-0 small">Back to Sign In</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
	  <div class="col-md-8 d-md-block d-none">

	  </div>
    </div>
  </div>
</section>
