<section class="startbg h-100">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-4">
                <div class="card px-4 my-4">
                    <div class="card-body p-md-5 p-0 py-5">
                        <div class="row justify-content-center justify-content-md-center">
                            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                                <h3 class="mt-5 mb-2 label">Forgot password?</h3>
                                <p class="fw-medium mb-4 text-muted">Just enter your "REGISTERED" email ID AND We'll send you "AND" OTP to reset "YOUR" password.</p>
                                <label for="floatingInput">Email address</label>
                                <div class="mb-4">
                                    <p-inputgroup>
                                        <p-inputgroup-addon><i class="pi pi-envelope"></i></p-inputgroup-addon>
                                        <input type="email" pInputText id="floatingInput" placeholder="name@example.com"
                                               formControlName="email"
                                               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                                    </p-inputgroup>
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button pButton
                                            class="pt-3 pb-3 btn btn-primary btn-login text-uppercase fw-medium h5 m-0"
                                            type="submit">Send Recovery Email
                                    </button>
                                </div>
                                <div class="pt-5">&nbsp;</div>
                            </form>
                            <div routerLink="/login"
                                 class="mt-5 d-flex flex-column align-items-center justify-content-center">
                                <div class="backbtn" role="button">
                                    <i class="pi pi-chevron-left"></i>
                                </div>
                                <div>
                                    <p class="mb-0 small">Back to Sign In</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
