// @import "../../../uniprep-assets/buttons";
a {
  text-decoration: none;
  cursor: pointer;
}
.invalid-feedback{
  display: block;
}
.bg-image {
  background-image: url("../../../uniprep-assets/images/Uniprep_Icons_Image_1.png");
  background-size: cover;
  background-position: left;
}

form {
  input {
    height: 2.2rem !important;
    padding: 0 0 0 10px !important;
  }
  label {
    font-size: 0.8rem;
    color: black;
  }
  .backbtn
  {
    width:30px;
    height:30px;
    background: var(--uniprep-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    a
    {
      color: white;
      display: flex;
    }
  }

  :focus {
    border-color: var(--uniprep-primary) !important;
    // background-color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  }
  .signup {
    font-size: medium;
    color: black;
  }
}
.input-group-text {
  background: white !important;
  border-right: 1px solid var(--uniprep-primary) !important;
  i {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.378);
  }
}
.footer-part {
  text-align-last: center;
  margin-top: 3rem;
  span{
    background-color: var(--uniprep-primary);
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
  }
  i{
    font-size: 0.5rem;
    font-weight: 900;
    vertical-align: middle;
    margin-right: 4px;
  }
}
@media screen and (max-width: 480px) {
  .container-fluid {
      margin: auto;
    }
  .label{
    text-align: center;
  }
  .text-muted{
    color: #50555C;
    text-align: center;
  }
}