.invalid-feedback {
	display: block;
}
.bg-image {
	background-image: url("../../../uniprep-assets/images/Uniprep_Icons_Image_1.png");
	background-size: cover;
	background-position: left;
}

form {
	input {
		height: 2.2rem !important;
		padding: 0 0 0 10px !important;
	}
	label {
		font-size: 0.8rem;
		color: black;
	}
	.backbtn {
		width: 30px;
		height: 30px;
		background: var(--uniprep-primary);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: white;
		a {
			color: white;
			display: flex;
		}
	}

	:focus {
		border-color: var(--uniprep-primary) !important;
		// background-color: #fff !important;
		box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
	}
	.signup {
		font-size: medium;
		color: black;
	}
}
