@import "../../../assets/buttons";
a {
  text-decoration: none;
  cursor: pointer;
}
.invalid-feedback{
  display: block;
}
.bg-image {
  background-image: url("../../../assets/images/Uniprep_Icons_Image_1.png");
  background-size: cover;
  background-position: left;
  height: 100vh;
  form {
    background-color: white;
    width: 420px;
    border-radius: 1rem;
    margin-left: 60px;
    padding: 4rem;
  }
  .formdiv {
    height: 100vh;
    width: 100vh;
    padding-top: 10rem;
  }
}
.btn-login{
  border-radius: 10px !important;
}
form {
  input {
    height: 2.2rem !important;
    padding: 0 0 0 10px !important;
  }
  label {
    font-size: 0.8rem;
    color: black;
  }

  :focus {
    border-color: #9bc329 !important;
    // background-color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
  }
  .signup {
    font-size: medium;
    color: black;
  }
}
.input-group-text {
  background: white !important;
  border-right: 1px solid #9bc329 !important;
  i {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.378);
  }
}
.footer-part {
  text-align-last: center;
  margin-top: 3rem;
  span{
    background-color: #9bc329;
    padding: 1px 2px 3px 6px;
    border-radius: 50%;
    color: white;
  }
  i{
    font-size: 0.5rem;
    font-weight: 900;
    vertical-align: middle;
    margin-right: 4px;
  }
}
