.pdfDiv{
    height:100vh;
}
li.active{
    font-weight: bold;
    color:#001631;
}

.pdf-container {
    width: 100%;
}
@media (min-width:501px) {
    .docMobile{
        display: none;
    }
}

@media (max-width:500px){
    .docMobile{
        display: block;
    }
    .pdfDiv{
        display: none;
    }
}
 