.questions-left {
    display: inline;
    white-space: nowrap; 
}

.quizprogress {
    margin-right: auto;
}

.btn-back,
.btn-quit {
    white-space: nowrap;
}

.text-bold {
    font-weight: bold;
}

.instructionlist li {
    margin-bottom: 20px;
}

