<div class="card readingcard" style="background-color: white; height: 80%;" *ngIf="isInstructionVisible">
    <div class="card-body text-center pt-0">
        <div class="row">
            <div class="col-md-2">
                <h5 class="mb-3 mt-3" style="font-size: 18px;">{{ quizData.length }}/{{ quizData.length }} Questions Left</h5>
            </div>
			<div class="col-md-8 text-center">
				<h5 class="select-title mb-3">Quiz Instructions</h5>
			</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="font-secondarycolor fw-medium lh-lg instructionlist">
                <li>There are {{ quizData.length }} MCQs in the quiz.</li>
                <li>You can not skip any question / All question are mandatory to answer.</li>
                <li>You can not access the other screens while taking the quiz.</li>
                <li>You cannot save and submit later.</li>
                <li>Restart - will display new set of questions.</li>
                <li>You will get a certificate for completing all the quiz modules.</li>
                <li>Buffer? To qualify for the quiz you need to get __% correct.</li>
                <li>There is no time limit.</li>
            </ul>
        </div>
    </div>
</div>
<div class="card p-2" style="background-color: white; border-radius: 0px 0px 15px 15px;" *ngIf="isInstructionVisible">
    <div class="row justify-content-center">
        <div class="col-md-6 d-flex align-items-center text-start">
            <h4 class="font-primarycolor">ALL THE BEST!</h4>
        </div>
        <div class="col-md-6 text-end">
            <button (click)="runQuiz()" class="btn btn-start btn-rounded m-0 px-2 py-2" [disabled]="!this.quizData">
                <div class="d-flex align-items-center">
                    <span class="fw-normal h6 mb-0 ps-3 pe-2">Start</span>
                    <div class="btn-icon"><i class="fa-solid fa-arrow-right"></i></div>
                </div>
            </button>
        </div>
    </div>
</div>

<div class="card readingcard" style="background-color: white;" *ngIf="isStartQuiz">
    <div class="card-body text-center pt-0 h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-2 col-2 text-end">
                <h5 class="text-bold">{{ selectedQuiz }}/{{ quizData.length }} Question Left</h5>
            </div>
            <div class="col-md-8 col-8 text-center">
                <h5 class="select-title mb-1">
                    <span class="desktop">{{ currentModuleName }} Quiz</span>
                </h5>
            </div>
            <div class="col-md-2 col-2 text-end">
                <button (click)="closeQuiz()" class="btn btn-quit btn-rounded m-0 px-2 py-2">
                    <div class="d-flex align-items-center">
                        <span class="fw-normal h6 mb-0 ps-3 pe-2">Quit</span>
                        <div class="btn-icon"><i class="fa-solid fa-power-off"></i></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <p-carousel #carouselQuiz (onPage)="setPage($event)" [circular]="true" [numScroll]="1" [numVisible]="1" [page]="selectedQuiz - 1" [responsiveOptions]="responsiveOptions" [value]="quizData" class="text-center">
                        <ng-template [ngForOf]="quizData" let-i="index" let-val ngFor pTemplate="item">
                            <div class="row text-center">
                                <div class="col-12 mt-3 mb-4">
                                    <p class="text-start mb-0 fw-medium text-small font-primarycolor">Question Number {{ selectedQuiz }}</p>
                                    <h4 class="font-secondarycolor text-start pt-2 pb-2 text-capitalize">{{ val.question }}</h4>
                                    <div class="py-1">
                                        <input type="radio" value="{{ val.option1 }}" id="{{ val.otp1 }}" class="btn-check" name="options" autocomplete="off" />
                                        <label (click)="selectAnswer(val.option1, val, 1)" class="{{ 1 === val.user_answered ? 'optionanswered' : 'optionnotanswered' }} text-start quiznotanswered w-100 m-0" for="{{ val.otp1 }}">
                                            <h6 class="py-2 px-2 mb-0">
                                                <i class="{{ 1 === val.user_answered ? 'fa-sharp fa-solid fa-circle-check' : 'fa-regular fa-circle' }} pe-2"></i>
                                                {{ val.option1 }}
                                            </h6>
                                        </label>
                                    </div>
                                    <div class="py-1">
                                        <input type="radio" value="{{ val.option2 }}" id="{{ val.otp2 }}" class="btn-check" name="options" autocomplete="off" />
                                        <label
                                            (click)="selectAnswer(val.option2, val, 2)"
                                            class="{{ 2 === val.user_answered ? 'optionanswered' : 'optionnotansweredy' }}
                                                        text-start quiznotanswered w-100 m-0"
                                            for="{{ val.otp2 }}">
                                            <h6 class="py-2 px-2 mb-0">
                                                <i class="{{ 2 === val.user_answered ? 'fa-sharp fa-solid fa-circle-check' : 'fa-regular fa-circle' }} pe-2"></i>
                                                {{ val.option2 }}
                                            </h6>
                                        </label>
                                    </div>
                                    <div class="py-1">
                                        <input type="radio" value="{{ val.option3 }}" id="{{ val.otp3 }}" class="btn-check" name="options" autocomplete="off" />
                                        <label (click)="selectAnswer(val.option3, val, 3)" class="{{ 3 === val.user_answered ? 'optionanswered' : 'optionnotanswered' }} text-start quiznotanswered w-100 m-0" for="{{ val.otp3 }}">
                                            <h6 class="py-2 px-2 mb-0">
                                                <i class="{{ 3 === val.user_answered ? 'fa-sharp fa-solid fa-circle-check' : 'fa-regular fa-circle' }} pe-2"></i>
                                                {{ val.option3 }}
                                            </h6>
                                        </label>
                                    </div>
                                    <div class="py-1">
                                        <input type="radio" value="{{ val.option4 }}" id="{{ val.otp4 }}" class="btn-check" name="options" autocomplete="off" />
                                        <label (click)="selectAnswer(val.option4, val, 4)" class="{{ 4 === val.user_answered ? 'optionanswered' : 'optionnotanswered' }} text-start quiznotanswered w-100 m-0" for="{{ val.otp4 }}">
                                            <h6 class="py-2 px-2 mb-0">
                                                <i class="{{ 4 === val.user_answered ? 'fa-sharp fa-solid fa-circle-check' : 'fa-regular fa-circle' }} pe-2"></i>
                                                {{ val.option4 }}
                                            </h6>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid bg-white" *ngIf="isStartQuiz">
    <div class="container-fluid py-3 mt-2 cb-top">
        <div class="row justify-content-center">
            <div class="col-md-6 text-start">
                <p class="mb-0 fw-semibold">Reference</p>
                <p-breadcrumb [model]="breadCrumb" class="max-w-100 quizreference"></p-breadcrumb>
            </div>
            <div class="col-md-6 text-end">
                <button *ngIf="selectedQuiz != 1" class="btn btn-back btn-rounded me-3 px-2 py-2">
                    <div class="d-flex align-items-center">
                        <span class="fw-normal h6 mb-0 ps-3 pe-2">Previous</span>
                        <div class="btn-icon"><i class="fa-solid fa-arrow-left"></i></div>
                    </div>
                </button>
                <button *ngIf="this.quizData.length > this.selectedQuiz" [disabled]="answerOptionClicked"  class="btn btn-start btn-rounded m-0 px-2 py-2">
                    <div class="d-flex align-items-center">
                        <span class="fw-normal h6 mb-0 ps-3 pe-2">Next</span>
                        <div class="btn-icon"><i class="fa-solid fa-arrow-right"></i></div>
                    </div>
                </button>
                <button *ngIf="this.quizData.length <= this.selectedQuiz" (click)="clickSubmitQuiz()" class="btn btn-start btn-rounded m-0 px-2 py-2">
                    <div class="d-flex align-items-center">
                        <span class="fw-normal h6 mb-0 ps-3 pe-2">Submit</span>
                        <div class="btn-icon"><i class="fa-solid fa-check"></i></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card readingcard" *ngIf="isQuizSubmit">
    <div class="card-body text-center pt-0 h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10 col-10 text-center">
                <h5 class="select-title mb-1">
                    <span class="desktop">{{ currentModuleName }} Quiz</span>
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white" *ngIf="isQuizSubmit">
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="pb-2" src="/uniprep-assets/images/icons/quizcomplete.webp" alt="retry" />
            <p class="text-center mb-2 fw-medium">You have completed {{ totalPercentage | number : "1.0-0" }} % of {{ currentModuleName }} module<br />To Claim your certificate please complete the pending modules</p>           
        </div>
    </div>
</div>

<div class="container-fluid bg-white" *ngIf="isQuizSubmit">
    <div class="row align-items-center">
        <div class="col-md-8">
            <div class="w-100 px-3 quizprogress">
                <span class="font-secondarycolor fw-semibold">Progress: 100% Completed</span>
                <p-progressBar [value]="100"></p-progressBar>
            </div>
        </div>
        <div class="col-md-4 text-end">
            <button (click)="retryQuiz()" class="btn btn-quit btn-rounded me-2 px-2 py-2">
                <div class="d-flex align-items-center">
                    <span class="fw-normal h6 mb-0">Retry</span>
                    <div class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i></div>
                </div>
            </button>
            <button (click)="openReviewPopup()" class="btn btn-back btn-rounded px-2 py-2">
                <div class="d-flex align-items-center">
                    <span class="fw-normal h6 mb-0">Review</span>
                    <div class="btn-icon"><i class="fa-solid fa-list-check"></i></div>
                </div>
            </button>
        </div>
    </div>
</div>

<div class="card readingcard" *ngIf="isReviewVisible">
    <div class="card-body text-center pt-0 h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10 col-10 text-center">
                <h5 class="select-title mb-1">
                    <span class="desktop">Your Quiz Review</span>
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isReviewVisible">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6" *ngFor="let val of quizData">
                    <div class="card px-3 py-2 my-2">
                        <h5 class="font-secondarycolor text-start pt-2 pb-3 text-capitalize">
                            {{ val.question }}
                        </h5>
                        <div class="py-2">
                            <input type="radio" value="{{ val.option1 }}" id="{{ val.otp1 }}" class="btn-check" name="options" autocomplete="off" [disabled]="true" />
                            <label
                                class="{{ 1 === val.answer ? 'optionreviewcorrect' : 1 === val.user_answered ? 'optionreviewwrong' : 'optionnotanswered' }} quiznotanswered
                                             text-start  w-100 m-0"
                                for="{{ val.otp1 }}"
                                disabled="true">
                                <h6 class="py-2 mb-0">{{ val.option1 }}</h6>
                            </label>
                        </div>
                        <div class="py-2">
                            <input type="radio" value="{{ val.option2 }}" id="{{ val.otp2 }}" class="btn-check" name="options" autocomplete="off" [disabled]="true" />
                            <label
                                class="{{ 2 === val.answer ? 'optionreviewcorrect' : 2 === val.user_answered ? 'optionreviewwrong' : 'optionnotanswered' }} quiznotanswered
                                              text-start  w-100 m-0"
                                for="{{ val.otp2 }}">
                                <h6 class="py-2 mb-0">{{ val.option2 }}</h6>
                            </label>
                        </div>
                        <div class="py-2">
                            <input type="radio" value="{{ val.option3 }}" id="{{ val.otp3 }}" class="btn-check" name="options" autocomplete="off" [disabled]="true" />
                            <label
                                class="{{ 3 === val.answer ? 'optionreviewcorrect' : 3 === val.user_answered ? 'optionreviewwrong' : 'optionnotanswered' }} quiznotanswered
                                             text-start  w-100 m-0"
                                for="{{ val.otp3 }}">
                                <h6 class="py-2 mb-0">{{ val.option3 }}</h6>
                            </label>
                        </div>
                        <div class="py-2">
                            <input type="radio" value="{{ val.option4 }}" id="{{ val.otp4 }}" class="btn-check" name="options" autocomplete="off" [disabled]="true" />
                            <label class="{{ 4 === val.answer ? 'optionreviewcorrect' : 4 === val.user_answered ? 'optionreviewwrong' : 'optionnotanswered' }} quiznotanswered text-start  w-100 m-0" for="{{ val.otp4 }}">
                                <h6 class="py-2 mb-0">{{ val.option4 }}</h6>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isReviewVisible">
    <div class="row gap-2 justify-content-end mb-4">
        <!--                    <button (click)="clickPreviousQuiz(carouselQuiz, $event)"-->
        <!--                            class="btn btn-lg rounded-pill btn-tertiary m-0 px-2 py-2">-->
        <!--                        <p class="mb-0 px-2">Previous <i class="fa-solid fa-circle-arrow-left"></i></p>-->
        <!--                    </button>-->
        <!--                    <button *ngIf="this.quizData.length > this.selectedQuiz" (click)="clickNextQuiz(carouselQuiz, $event)"-->
        <!--                            class="btn btn-lg rounded-pill btn-secondary m-0 px-2 py-2">-->
        <!--                        <p class="mb-0 px-2"> Next <i class="fa-solid fa-circle-arrow-right"></i></p>-->
        <!--                    </button>-->
        <button (click)="retryQuiz()" class="btn btn-quit btn-rounded me-2 px-2 py-2">
            <div class="d-flex align-items-center">
                <span class="fw-normal h6 mb-0 ps-3 pe-2">Retry</span>
                <div class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i></div>
            </div>
        </button>
    </div>
</div>





