:host ::ng-deep .video-dialog {
  .p-dialog {
    width: 59vw !important;
    max-width: 100vw !important;
    height: auto !important;
    max-height: 90vh !important;
  }
  
  .p-dialog-content {
    overflow: hidden;
    padding: 0;
  }

  .video-wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .p-dialog-footer {
    padding: 1rem;
    border-top: 1px solid var(--surface-border);
  }
}