<!-- company-profile.component.html -->
<div class="row h-100 text-start">
	<div class="col-md-12 h-100 overflow-hidden">
		<div class="card h-100 bg-white">
			<div class="card-header bg-transparent">
				<div class="d-flex gap-3">
					<div class="logo-container border rounded-2">
						<img src="{{ companyDetails?.company_logo }}" alt="Company Logo" class="img-fluid"
							onerror="this.src" (error)="$event.target.src = '/uniprep-assets/images/job.webp'" />
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col ">
								<h1 class="fw-bold">{{ companyDetails?.company_name }}</h1>
								<p class="text-muted">Founded : {{ companyDetails?.founded_year }}</p>
								<div *ngIf="isSkeletonVisible; else showFollowBtn">
									<p-skeleton width="8rem" height="2.5rem" />
								</div>
								<ng-template #showFollowBtn>
									<button
										class="btn {{ companyDetails?.shortlisted == 0 ? 'btn-outline-primary' : 'btn-primary' }}"
										(click)="followCompany(companyDetails?.shortlisted)">
										{{ companyDetails?.shortlisted == 0 ? "Follow " : "Following " }}
										<i [ngClass]="companyDetails?.shortlisted == 0 ? 'pi pi-plus' : 'pi pi-check'"
											class="fs-6"></i>
									</button>
								</ng-template>
							</div>

							<div class="col-md-3">
								<div class="d-flex gap-2 justify-content-end">
									<button pButton label="Close Info" class="btn btn-primary w-100"
										(click)="closeInfo.emit(false)" *ngIf="showChat"></button>
									<button pButton class="p-button-success chat-btn w-100" *ngIf="!showChat"
										(click)="openChat.emit(true)"><i class="pi pi-comments"></i> Chat</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body overflow-y-auto">
				<!-- About Organization Section -->
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-md-3 h-100">
								<h2 class="fw-bold mb-4">About Organization</h2>
							</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-3 mb-3">
										<h6 class="text-muted text-primary">Industry Type</h6>
										<p>{{ companyDetails?.industry_type }}</p>
									</div>
									<div class="col-md-3 mb-3">
										<h6 class="text-muted text-primary">Company Size</h6>
										<p>
											{{ companyDetails?.size }}<br />
											<small class="text-muted">({{ companyInfo.sizeCategory }})</small>
										</p>
									</div>
									<!-- <div class="col-md-3 mb-3">
										<h6 class="text-muted text-primary">Company Type</h6>
										<p>{{ companyDetails?.company_type?[0]?.name }}</p>
									</div> -->
									<div class="col-md-3 mb-3">
										<h6 class="text-muted text-primary">Headquarters Location</h6>
										<p>{{ companyDetails?.HQ_city }}, {{ companyDetails?.HQ_country }}</p>
									</div>
									<div class="col-md-3 mb-3">
										<h6 class="text-muted text-primary">Global Presence</h6>
										<p>{{ companyDetails?.global_presence }}</p>
									</div>
									<!-- <div class="col-md-3 mb-3">
										<h6 class="text-muted text-primary">Department</h6>
										<p>{{ companyDetails?.departments }}</p>
									</div> -->
									<div class="col-md-3 mb-3">
										<h6 class="text-muted text-primary">Official Website</h6>
										<p (click)="openUrl(companyDetails?.website)" role="button"
											class="text-break text-primary">
											<i class="pi pi-globe fs-3"></i>
										</p>
									</div>
									<div class="col-md-3">
										<h6 class="text-muted text-primary">LinkedIn Profile</h6>
										<p (click)="openUrl(companyDetails?.linkedin_link)" role="button"
											class="text-break text-primary">
											<i class="pi pi-linkedin fs-3"></i>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Company Insights Section -->
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-md-3 h-100">
								<h2 class="fw-bold mb-4">Company Insights</h2>
							</div>
							<div class="col-md-9">
								<h5 class="text-primary">About Company</h5>
								<p style="white-space: pre-line">{{ companyInfo.about }}</p>

								<div class="row mt-4">
									<div class="col-md-6">
										<h5 class="text-primary">Work Life Balance Policies</h5>
										<div class="mt-2">
											<p-chip *ngFor="let policy of companyDetails?.work_life_balance_policy"
												label="{{ policy }}"
												styleClass="m-1 bg-warning bg-opacity-25 text-dark"></p-chip>
										</div>
									</div>
									<div class="col-md-6">
										<h5 class="text-primary">Employee Benefits & Perks</h5>
										<div class="mt-2">
											<p-chip *ngFor="let benefit of companyDetails?.benefits"
												label="{{ benefit }}"
												styleClass="m-1 bg-info bg-opacity-25 text-dark"></p-chip>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Hiring & Recruitment Section -->
				<div class="card mt-2">
					<div class="card-body">
						<div class="row">
							<div class="col-md-3 h-100">
								<h2 class="fw-bold mb-4">Hiring & Recruitment</h2>
							</div>
							<div class="col-md-9">
								<h5 class="text-primary">Hiring Process Stages</h5>
								<div class="mt-2">
									<p-chip *ngFor="let hire of companyDetails?.hiring_process_stages"
										label="{{ hire }}" styleClass="m-1 bg-warning bg-opacity-25 text-dark"></p-chip>
								</div>

								<div class="mt-4">
									<h5 class="text-primary">Estimated Hiring Decision Timeframe</h5>
									<p>{{ companyDetails?.timeframe }}</p>
								</div>

								<div class="mt-4">
									<h5 class="text-primary">Interview Format</h5>
									<p>{{ companyDetails?.format }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>