.score-sec {
    border: 1px solid var(--uniprep-primary);
    padding: 5px 15px;
    border-radius: 15px;
    background-color: white;
}

.overall-sec {
    background: #4d9cff;
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
}

.competition-sec {
    background: var(--uniprep-green);
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
}

.assessment-card {
    border: 1px solid var(--uniprep-primary);
}