<div class="card readingcard"  *ngIf="isRecommendation">
    <div class="card-header border-0 bg-transparent">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 d-flex gap-4">
                <div class="backIcon d-md-flex d-none" role="button" (click)="goBack()" style="height: auto;">
                    <span class="fa-solid fa-chevron-left"></span>
                </div>
                <div class="select-title d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="w-100 mb-0" tooltipPosition="top" pTooltip="">
                            Student Budget Planner<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
                    </div>
                    <div>
                        <button pButton  class="how-it-works-button" severity="warn" >How it works?
                            <i class="fa-solid fa-play d-md-block d-none"></i></button>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button pButton  pButton type="button" (click)="listOfSavedResponse()"
                        class="btn btn-primary btn-rounded py-2 px-4">
                        <span>saved</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-center flex-fill overflow-y-auto">
        <div class="container-fluid h-100">
            <p-carousel [value]="recommendations" [numVisible]="1" [numScroll]="1" [circular]="false"
                [showNavigators]="false" [showIndicators]="false" [page]="activePageIndex"
                styleClass="h-100 carousal-container-sec">
                <ng-template let-recommendation let-i="index" pTemplate="item">
                    <div class="h-100 d-flex flex-column justify-content-between overflow-y-auto overflow-x-hidden">
                        <div>&nbsp;</div>
                        <div class="row justify-content-center text-start">
                            <div class="col-md-12 mb-4">
                                <h2 class="fw-bold mb-0 text-center">{{ recommendation.question }}</h2> 
                            </div>
                            <div class="col-md-12">
                                <ng-container *ngIf="recommendation.id == 1">
                                    <!-- Country of Study -->
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Country of Study</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <p-select [options]="countriesList" [filter]="true" [filterBy]="'country'" styleClass="w-100" (onChange)="onChangeCountry()"
                                                [(ngModel)]="selectedData['country']" optionLabel="country"
                                                optionValue="id" [appendTo]="'body'" placeholder="Select Country">
                                            </p-select>
                                            <div *ngIf="notfilledArray.includes('country')" class="text-danger text-xs">
                                                <div>Country Of Study Required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- University -->
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">University</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <p-select [options]="universityList" styleClass="w-100" [filter]="true" [filterBy]="'university_name'"
                                                [(ngModel)]="selectedData['university']" optionLabel="university_name"
                                                optionValue="id" [appendTo]="'body'" placeholder="Select University">
                                            </p-select>
                                            <div *ngIf="notfilledArray.includes('university')" class="text-danger text-xs">
                                                <div>University Required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Course Duration -->
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Course Duration</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <p-select [options]="courseDurationList" styleClass="w-100" 
                                                [(ngModel)]="selectedData['course_duration']" 
                                                optionLabel="value"
                                                optionValue="value" 
                                                [appendTo]="'body'" 
                                                placeholder="Select Duration">
                                            </p-select>
                                            <div *ngIf="notfilledArray.includes('course_duration')" class="text-danger text-xs">
                                                <div>Course Duration Required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Stay Back Period -->
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Stay Back Period</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <p-select [options]="stayBackList" styleClass="w-100" [(ngModel)]="selectedData['stay_back']" optionLabel="value"
                                                optionValue="value" [appendTo]="'body'" placeholder="Select Stay Back Months">
                                            </p-select>
                                            <!-- <input type="text" pInputText placeholder="Stay Back Months" class="w-100" disabled="true" [(ngModel)]="selectedData['stay_back']" /> -->
                                            <div *ngIf="!selectedData['stay_back'] && isSubmitted" class="text-danger text-xs">
                                                <div>Stay Back Required</div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="recommendation.id == 2">
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">preferred Currency</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <p-select [options]="currencyList" [filter]="true" [filterBy]="'currency_code'" styleClass="w-100" placeholder="Select Currency"
                                                [(ngModel)]="selectedData['currency']" optionLabel="currency_code" optionValue="currency_code" [appendTo]="'body'" >
                                            </p-select>
                                            <div *ngIf="notfilledArray.includes('currency')" class="text-danger text-xs">
                                                <div>Currency Required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Overall Net Tution</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText [placeholder]="'Overall Net Tution' +  (selectedData['currency'] ? ' in '+ selectedData['currency'] : '')" class="w-100"  [(ngModel)]="selectedData['tution']" />
                                            <div *ngIf="!selectedData['tution'] && isSubmitted" class="text-danger text-xs">
                                                <div>Overall Net Tution Required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Accommodation</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText [placeholder]="'Cost/Month' + (selectedData['currency'] ? ' in '+ selectedData['currency'] : '')" class="w-100"  [(ngModel)]="selectedData['accommodation']" />
                                            <div *ngIf="!selectedData['accommodation'] && isSubmitted" class="text-danger text-xs">
                                                <div>Accommodation Required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Travel Expenses</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText [placeholder]="'Cost/Month' + (selectedData['currency'] ? ' in '+ selectedData['currency'] : '')" class="w-100"  [(ngModel)]="selectedData['travel_expense']" />
                                            <div  *ngIf="!selectedData['travel_expense'] && isSubmitted" class="text-danger text-xs">
                                                <div>Travel Expenses Required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Food & Groceries</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText [placeholder]="'Cost/Month' + (selectedData['currency'] ? ' in '+ selectedData['currency'] : '')" class="w-100"  [(ngModel)]="selectedData['food_and_grocery']" />
                                            <div *ngIf="!selectedData['food_and_grocery'] && isSubmitted" class="text-danger text-xs">
                                                <div>Food & Groceries Required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Miscellaneous</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText [placeholder]="'Cost/Month' + (selectedData['currency'] ? ' in '+ selectedData['currency'] : '')" class="w-100"  [(ngModel)]="selectedData['miscellaneous']" />
                                            <div *ngIf="!selectedData['miscellaneous'] && isSubmitted" class="text-danger text-xs">
                                                <div>Miscellaneous Required</div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="recommendation.id == 3">
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Education Loan</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText [placeholder]="'Cost/Month' + (selectedData['currency'] ? ' in '+ selectedData['currency'] : '')" class="w-100"  [(ngModel)]="selectedData['education_loan']" />
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Friends & Family Loan</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText [placeholder]="'Cost/Month' + (selectedData['currency'] ? ' in '+ selectedData['currency'] : '')" class="w-100"  [(ngModel)]="selectedData['family_loan']" />
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Monthly Payment</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText [placeholder]="'Cost/Month' + (selectedData['currency'] ? ' in '+ selectedData['currency'] : '')" class="w-100"  [(ngModel)]="selectedData['monthly_payment']" />
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Repayment Period</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText placeholder="Months" class="w-100"  [(ngModel)]="selectedData['repayment_period']" />
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="recommendation.id == 4">
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Part Time Income</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText [placeholder]="'Income/Month' + (selectedData['currency'] ? ' in '+ selectedData['currency'] : '')" class="w-100"  [(ngModel)]="selectedData['part_time_income']" />
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Full Time Income</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText [placeholder]="'Income/Month' + (selectedData['currency'] ? ' in '+ selectedData['currency'] : '')" class="w-100"  [(ngModel)]="selectedData['full_time_income']" />
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="col-md-3">
                                            <h5 class="mt-2">Other Income</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" pInputText [placeholder]="'Income/Month' + (selectedData['currency'] ? ' in '+ selectedData['currency'] : '')" class="w-100"  [(ngModel)]="selectedData['other_income']" />
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Navigation Buttons -->
                        <div class="d-flex justify-content-between mt-2">
                            <button pButton  pButton type="button" class="btn btn-primary btn-rounded p-1 pe-4"
                                [style.visibility]="recommendation.id == 1 ? 'hidden' : 'visible'" (click)="previous()">
                                <span class="btn-icon px-2 py-2"><i class="fa fa-arrow-left"></i></span>
                                <span class="ms-2">Previous</span>
                            </button>
                            <button pButton  pButton type="button" class="btn btn-primary btn-rounded p-1 ps-4"
                                (click)="next(recommendation.id)" *ngIf="recommendation.id != 4">
                                <span class="me-2">Next</span>
                                <span class="btn-icon px-2 py-2"><i class="fa fa-arrow-right"></i></span>
                            </button>
                            <button pButton  pButton type="button" class="btn btn-success btn-rounded p-1 ps-4"
                                (click)="submit()" *ngIf="recommendation.id == 4">
                                <span class="me-2">Compare</span>
                                <span class="btn-icon px-2 py-2"><i class="fa fa-check-circle"></i></span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
<div class="card readingcard" *ngIf="isResponsePage">
    <div class="card-header border-0 bg-transparent">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 d-flex gap-4">
                <div class="backIcon d-md-flex d-none" role="button" (click)="goBack()" style="height: auto;">
                    <span class="fa-solid fa-chevron-left"></span>
                </div>
                <div class="select-title d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="w-100 mb-0" tooltipPosition="top" pTooltip="">
                            Student Budget Planner<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
                    </div>
                    <div>
                        <button pButton  class="how-it-works-button" severity="warn" >How it works?
                            <i class="fa-solid fa-play d-md-block d-none"></i></button>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button pButton  pButton type="button" (click)="listOfSavedResponse()" 
                        class="btn btn-primary btn-rounded py-2 px-4">
                        <span>saved</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body worksans flex-fill overflow-y-auto">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <markdown emoji>
                    <div class="card p-3" [innerHtml]="recommendationData"></div>
                </markdown>
            </div>
            <div class="col-md-2">
                <button pButton type="button" [disabled]="responseBtnDisable" *ngIf="!isOldResponse" (click)="saveResponse()" class="btn btn-primary btn-rounded py-2 px-4">Save Response&nbsp;<i class="fa-solid fa-floppy-disk"></i></button>
                <button pButton type="button" (click)="downloadResponse()"
                        class="btn btn-secondary btn-rounded p-1 ps-4">
                        <span class="me-2">Download</span><span class="btn-icon px-2 py-2">
                            <i class="fa-regular fa-download"></i></span>
                    </button>
            </div>
        </div>
    </div>
    <div class="card-footer bg-transparent border-0">
        <div class="text-end">
            <button pButton  pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="resetRecommendation()">
                Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i>
                </span>
            </button>
        </div>
    </div>
</div>
<div class="card readingcard" *ngIf="isSavedResponse">
    <div class="card-header border-0 bg-transparent">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 d-flex gap-4">
                <div class="backIcon d-md-flex d-none" role="button" (click)="goBack()" style="height: auto;">
                    <span class="fa-solid fa-chevron-left"></span>
                </div>
                <div class="select-title d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="w-100 mb-0" tooltipPosition="top" pTooltip="">
                            Student Budget Planner<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
                    </div>
                    <div>
                        <button pButton  class="how-it-works-button" severity="warn" >How it works?
                            <i class="fa-solid fa-play d-md-block d-none"></i></button>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button pButton  pButton type="button" (click)="listOfSavedResponse()" 
                        class="btn btn-primary btn-rounded py-2 px-4">
                        <span>saved</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-center flex-fill overflow-y-auto">
        <div class="row mb-0">
            <div *ngFor="let item of recommadationSavedQuestionList; let i=index;"
                class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
                <div class="row w-100 m-0 justify-content-center h-100">
                    <div class="card subjectcard" role="button" (click)="showRecommandationData(item.response)">
                        <div class="card-body text-start">
                            <h5 class="fw-bold mb-0">Budget Planner {{i+1}}</h5>
                            <p class="text-small"><b>Country : </b>{{item.country_name}}</p>
                            <p class="text-small"><b>University : </b>{{item.university_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-transparent border-0">
        <div class="text-end">
            <button pButton  pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="resetRecommendation()">
                Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i>
                </span>
            </button>
        </div>
    </div>
</div>
