.p-inputgroup {
	border: 1px solid var(--uniprep-primary);
	border-radius: 10px;
	align-items: center;
	.p-inputgroup-addon {
		background: transparent;
		border: none;
		border-radius: 0;
		border-right: 1px solid var(--uniprep-primary);
	}
  input
  {
    background-color: transparent;
    background:transparent;
  }
}
::ng-deep .p-calendar {
	width: 100%;
	input {
		background: transparent;
		border: none;
	}
}
::ng-deep .p-select {
	width: 100%;
  background: transparent;
  border: none;
}

.profileImg {
	background: var(--uniprep-primaryop10);
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
}
.passwordvisibility
{
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
 
@media (max-width: 768px) {
	.desktopuserdetails{
		 display: none;
	}
	.mobileuserdetails{
		display: block;
	}
}
@media (min-width: 769px) {
	.desktopuserdetails{
		 display: block;
	}
	.mobileuserdetails{
		display: none;
	}
}

.tooltips {
	position: relative;
	display: inline-block;
}
  
.tooltips .tooltiptexts {
	visibility: hidden;
	width: 250px;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 0%;
	margin-left: -133px;
	opacity: 0;
	transition: opacity 0.3s;
	white-space: nowrap;
}

.tooltips .tooltiptexts::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: 75px;
	border-width: 9px;
	border-style: solid;
	border-color: #000 transparent transparent transparent;
}

.tooltips:hover .tooltiptexts {
	visibility: visible;
	opacity: 1;
}

.tooltipautovisible{
	.tooltiptexts {
		visibility: visible;
		opacity: 1;
	}
}