// .p-inputgroup {
// 	border: 1px solid var(--uniprep-primary);
// 	border-radius: 10px;
// 	align-items: center;
// 	.p-inputgroup-addon {
// 		background: transparent;
// 		border: none;
// 		border-radius: 0;
// 		border-right: 1px solid var(--uniprep-primary);
// 	}
//   input
//   {
//     background-color: transparent;
//     background:transparent;
//   }
// }
// ::ng-deep .p-calendar {
// 	width: 100%;
// 	input {
// 		background: transparent;
// 		border: none;
// 	}
// }
// ::ng-deep .p-select {
// 	width: 100%;
//   background: transparent;
//   border: none;
// }

// .profileImg {
// 	background: var(--uniprep-primaryop10);
// 	width: 40px;
// 	height: 40px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	border-radius: 100px;
// }


// @media (max-width: 768px) {
// 	.desktopuserdetails{
// 		 display: none;
// 	}
// 	.mobileuserdetails{
// 		display: block;
// 	}
// }
// @media (min-width: 769px) {
// 	.desktopuserdetails{
// 		 display: block;
// 	}
// 	.mobileuserdetails{
// 		display: none;
// 	}
// }

// .tooltips {
// 	position: relative;
// 	display: inline-block;
// }

// .tooltips .tooltiptexts {
// 	visibility: hidden;
// 	width: 250px;
// 	background-color: #000;
// 	color: #fff;
// 	text-align: center;
// 	padding: 5px 0;
// 	border-radius: 6px;
// 	position: absolute;
// 	z-index: 1;
// 	bottom: 125%;
// 	left: 0%;
// 	margin-left: -133px;
// 	opacity: 0;
// 	transition: opacity 0.3s;
// 	white-space: nowrap;
// }

// .tooltips .tooltiptexts::after {
// 	content: "";
// 	position: absolute;
// 	top: 100%;
// 	left: 50%;
// 	margin-left: 75px;
// 	border-width: 9px;
// 	border-style: solid;
// 	border-color: #000 transparent transparent transparent;
// }

// .tooltips:hover .tooltiptexts {
// 	visibility: visible;
// 	opacity: 1;
// }

// .tooltipautovisible{
// 	.tooltiptexts {
// 		visibility: visible;
// 		opacity: 1;
// 	}
// }
// // personal information ui 
// /* Large screens (≥992px): 5 per row */
// @media (min-width: 992px) {
// 	.custom-5-cols > .col {
// 	  flex: 0 0 20%;
// 	  max-width: 20%;
// 	}
//   }

//   /* Medium screens (≥768px and <992px): 4 per row */
//   @media (min-width: 768px) and (max-width: 991.98px) {
// 	.custom-5-cols > .col {
// 	  flex: 0 0 25%;
// 	  max-width: 25%;
// 	}
//   }

//   /* Small screens (≥576px and <768px): 2 per row */
//   @media (min-width: 576px) and (max-width: 767.98px) {
// 	.custom-5-cols > .col {
// 	  flex: 0 0 50%;
// 	  max-width: 50%;
// 	}
//   }

//   /* Extra small screens (<576px): 1 per row */
//   @media (max-width: 575.98px) {
// 	.custom-5-cols > .col {
// 	  flex: 0 0 100%;
// 	  max-width: 100%;
// 	}
//   }

//   /* Optional: spacing between rows */
//   .custom-5-cols > .col {
// 	margin-bottom: 1rem;
//   }


// new code
.main-container {
	height: calc(100vh - 120px);
	display: flex;
	overflow: hidden;
}

.sidebar {
	width: 29%;
	padding: 1rem;
	border-right: 1px solid #ddd;
	overflow-y: auto;
	border: 1px solid lightgrey;
	border-radius: 10px;
	background-color: #fff;
	margin-bottom: 1%;
	// transition: transform 0.3s ease;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.sidebar .menu {
	list-style: none;
	padding: 0;
	font-weight: 500;
}

.sidebar .menu li {
	padding: 10px;
	cursor: pointer;
	border-radius: 4px;
}

.sidebar .menu li:hover {
	background-color: #ECEDF3;
}

.sidebar .menu li.active {
	background-color: #ECEDF3;
}

.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: -webkit-fill-available;
}

.header {
	height: fit-content;
	background: linear-gradient(to right, #fff, #fff, #E4E7EF, #A5ADC6, #9EA6C1, #FA9650);
	padding: 1rem;
	border: 1px solid lightgrey;
	border-radius: 10px;
}

.body {
	flex-grow: 1;
	overflow-y: auto;
	padding: 1rem;
	background: #fff;
	scroll-behavior: smooth;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.custom-logout-btn {
	background-color: #ffffff;
	border: 1px solid #ccc;
	/* light gray border */
	color: #394D83;
	/* Bootstrap danger color for text */
	transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-logout-btn:hover {
	background-color: #DC9972;
	/* light red background on hover */
	color: #394D83;
}

//   progress bar
.progress-bar-container {
	width: 100%;
	background-color: #f3f3f3;
	border-radius: 5px;
}

.progress-bar {
	height: 8px;
	background-color: #ff7000;
	/* Orange progress color */
	border-radius: 5px;
	transition: width 0.5s ease-in-out;
}

.progress-bar2 {
	height: 8px;
	background-color: #394d83;
	/* Green color for progress */
	border-radius: 5px;
	transition: width 0.3s ease-in-out;
}

.progress-bar3 {
	height: 8px;
	background-color: #c8cfe5;
	/* Green color for progress */
	border-radius: 5px;
	transition: width 0.3s ease-in-out;
}

// small progress
$borderWidth: 10px;
$animationTime: 0.5s;
$border-color-default: #efefef;
$border-color-fill: var(--uniprep-secondary);
$size: 100px;
$howManySteps: 100; //this needs to be even.

.progress1 {
	width: $size;
	height: $size;
	line-height: $size;
	background: none;
	margin: 0 auto;
	box-shadow: none;
	position: relative;

	&:after {
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: $borderWidth solid $border-color-default;
		position: absolute;
		top: 0;
		left: 0;
	}

	>span {
		width: 50%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 1;
	}

	.progress1-left {
		left: 0;
	}

	.progress1-bar {
		width: 100%;
		height: 100%;
		background: none;
		border-width: $borderWidth;
		border-style: solid;
		position: absolute;
		top: 0;
		border-color: $border-color-fill;
	}

	.progress1-left .progress1-bar {
		left: 100%;
		border-top-right-radius: ($size/2);
		border-bottom-right-radius: ($size/2);
		border-left: 0;
		-webkit-transform-origin: center left;
		transform-origin: center left;
		//animation: loading-2 1.5s linear forwards 1.8s;
	}

	.progress1-right {
		right: 0;

		.progress1-bar {
			left: -100%;
			border-top-left-radius: ($size/2);
			border-bottom-left-radius: ($size/2);
			border-right: 0;
			-webkit-transform-origin: center right;
			transform-origin: center right;
			animation: loading-1 1.8s linear forwards;
		}
	}

	.progress1-value {
		display: flex;
		border-radius: 50%;
		font-size: 1rem;
		text-align: center;
		line-height: 20px;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		background-color: #fff;
		font-weight: 300;

		div {
			//margin-top: 10px;
			background-color: var(--uniprep-primary);
			border-radius: 100%;
			padding: 10px;
			color: white;
		}

		span {
			font-size: 12px;
			padding: 20px;
			text-transform: uppercase;
		}
	}
}

@for $i from 1 through $howManySteps {
	$stepName: (
		$i * (100 / $howManySteps)
	);

//animation only the left side if below 50%
@if $i <=($howManySteps/2) {
	.progress1[data-percentage="#{$stepName}"] {
		.progress1-right .progress1-bar {
			animation: loading-#{$i} $animationTime linear forwards;
		}

		.progress1-left .progress1-bar {
			animation: 0;
		}
	}
}

//animation only the right side if above 50%
@if $i >($howManySteps/2) {
	.progress1[data-percentage="#{$stepName}"] {
		.progress1-right .progress1-bar {
			animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
		}

		.progress1-left .progress1-bar {
			animation: loading-#{$i -
 ($howManySteps/2)
		}

		$animationTime linear forwards $animationTime;
	}
}
}
}

.passwordvisibility {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
}
.fontsizecontent{
	font-size: 0.9rem;
}
.user-initials {
	width: 40px;
	height: 40px;
	background-color: #374785; /* dark blue background */
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
  .setting-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	border-bottom: 1px solid #eee;
  }
  
  .setting-row:last-child {
	border-bottom: none;
  }
//   mobile view code i commented
//   @media (max-width: 768px) {
// 	.sidebar {
// 	  position: absolute;
// 	  top: 80px; /* below header */
// 	  left: 0;
// 	  height: calc(100vh - 80px);
// 	  width: 100%;
// 	  background-color: #f7f9fb;
// 	  z-index: 999;
// 	  transform: translateX(-100%);
// 	}

// 	.sidebar.mobile-visible {
// 	  transform: translateX(0);
// 	}

// 	.main-container {
// 	  flex-direction: column;
// 	}

// 	.content {
// 	  width: 100%;
// 	}
//   }