.fillercard {
  border: 1px solid #9bc329;
  height: 150px;
  width: 100%;
  border-radius: 0.35rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.35rem;
}

.tablecard {
  border: 1px solid #9bc329;
  height: auto;
  width: 100%;
  border-radius: 0.35rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.35rem;
}

.text-left {
  float: left;
  font-size: medium;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.label {
  color: #9bc329;
}

.label2 {
  padding: 5px;
  text-align: center -webkit-right;
  color: #9bc329;
  align-items: center;
}

.btncolor {
  background-color: #9bc329;
  color: #ffffffff;
  border: none;
  margin-right: 10 pxs;
}

.ms-n5 {
  margin-left: -40px;
}

.search {
  position: relative;
  width: 210px;
  float: right;
}

.search input {
  margin: 0px;
  height: 30px;
  text-indent: 25px;
}

.drop {
  position: relative;
  width: 70px;
  float: left;
  height: 10px;
}

.cardedit {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: none;


}

.img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.titledis {
  /* margin: 10px; */
  margin-left: -36px;
  margin-top: 20px;

}

.titledis1 {
  margin-left: -25px;
  margin-top: 25px

}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  border: 1px solid #9bc329;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border: none;
  /* border-bottom: 1px solid #dee2e6; */
  /* border-top-left-radius: calc(0.3rem - 1px); */
  /* border-top-right-radius: calc(0.3rem - 1px); */
}
.bg-image {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  width: 80%;
}

.profileImg{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 7px;
  background: #9bc329;
  border: 5px solid #9bc329;
  color: white;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}