.fillercard {
  border: 1px solid var(--uniprep-primary);
  height: 150px;
  width: 100%;
  border-radius: 0.35rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.35rem;
}

.tablecard {
  border: 1px solid var(--uniprep-primary);
  height: auto;
  width: 100%;
  border-radius: 0.35rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.35rem;
}

.text-left {
  float: left;
  font-size: medium;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.label {
  color: var(--uniprep-primary);
}

.label2 {
  padding: 5px;
  text-align: center -webkit-right;
  color: var(--uniprep-primary);
  align-items: center;
}

.btncolor {
  background-color: var(--uniprep-primary);
  color: #ffffffff;
  border: none;
  margin-right: 10 pxs;
}

.ms-n5 {
  margin-left: -40px;
}

.search {
  position: relative;
  width: 210px;
  float: right;
}

.search input {
  margin: 0px;
  height: 30px;
  text-indent: 25px;
}

.drop {
  position: relative;
  width: 70px;
  float: left;
  height: 10px;
}

.cardedit {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: none;


}

.img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.titledis {
  /* margin: 10px; */
  margin-left: -36px;
  margin-top: 20px;

}

.titledis1 {
  margin-left: -25px;
  margin-top: 25px

}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  border: 1px solid var(--uniprep-primary);
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border: none;
  /* border-bottom: 1px solid #dee2e6; */
  /* border-top-left-radius: calc(0.3rem - 1px); */
  /* border-top-right-radius: calc(0.3rem - 1px); */
}
.bg-image {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  width: 80%;
}

.profileImg{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 7px;
  background: var(--uniprep-primary);
  border: 5px solid var(--uniprep-primary);
  color: white;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.passwordvisibility
{
  position: absolute;
  right: 25px;
  top: 35px;
  cursor: pointer;
  img {
    width:20px;
    height:20px;
  }
}

.UserInfoValidation{
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: #fc051d;
}

.CursorPointer{
  cursor: pointer;
}

.custom-border{
  --bs-border-width: 4px;
  --bs-border-color: #1d4ed8;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}

.scrollable-container {
  max-height: 350px; /* Set the maximum height for scrollable content */
  overflow: hidden; /* Hide the scrollbar by default */
  position: relative; /* Enable positioning for the child div */
}

.scrollable-container:hover {
  overflow: scroll; /* Show the scrollbar on hover */
}

.notification {
  p,h3 {
    color: unset !important;
  }
}
.mobile-view{
  display: none;
}
@media screen and (max-width: 480px) {
.desktop{
  display: none;
}
.mobile-view{
  display: block;
  .profileImg {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      padding: 7px;
      background: var(--uniprep-primary);
      border: 5px solid var(--uniprep-primary);
      color: white;
      font-size: 20px;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  
    .info-edit {
      display: flex;
      flex-direction: row;
    }
    .w-60{
      width: 60%;
    }
    .w-40{
      width: 40%;
    }
    .w-50{
      width: 50%;
    }
}

}