.p-inputgroup {
	border: 1px solid var(--uniprep-primary);
	border-radius: 10px;
	align-items: center;
	.p-inputgroup-addon {
		background: transparent;
		border: none;
		border-radius: 0;
		border-right: 1px solid var(--uniprep-primary);
	}
  input
  {
    background-color: transparent;
    background:transparent;
  }
}
::ng-deep .p-calendar {
	width: 100%;
	input {
		background: transparent;
		border: none;
	}
}
::ng-deep .p-dropdown {
	width: 100%;
  background: transparent;
  border: none;
}

.profileImg {
	background: var(--uniprep-primaryop10);
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
}
.passwordvisibility
{
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}