.c-text {
    color: #9bc32a;
}

.post-application-text-small {
    color: black;
    font-size: 0.8rem;
}

.post-application-border {
    border: 2px solid #9bc32a;
    border-radius: 5%;
}

.bottom-text {
    width: auto;
    font-size: 1.2rem;
    font-weight: normal;
}
.badge {
    border-radius: 0 0 10% 10% !important;
}

.small-icon{
    width: 10%;
    margin-bottom: 10px;
}
.subjectcard
{
  border:2px solid #efb875;
  width:100%;
  margin: 10px 0px;
  .selectimage {
    aspect-ratio: 1/1;
    width: -webkit-fill-available;
    mix-blend-mode: multiply;
  }
  &:focus
  {
    background-color: #daeca5;
    border: 2px solid #9bc329;
  }
  &:hover
  {
    background-color: #daeca5;
    border: 2px solid #9bc329;
  }
  .subjecttitle
  {
    height: 50px;
  }
}