.back-button {
	width: 35px;
	height: 35px;
	display: flex;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	color: white;
	border: 1px solid white;
	background: transparent;
}

.uniprep-secondary {
	color: var(--uniprep-secondary);
}
video::-webkit-media-controls-panel {
	background-image: none !important;
}

.video-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-circle-play {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5em;
	z-index: 2;
}


video {
	width: 100%;
	height: auto;
}


.video-gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 200px; /* Adjust this value to change the height of the gradient */
	background: linear-gradient(to top, #07070b, transparent);
}

.pagetitle {
	background-color: transparent;
	border: 1px solid white;
	border-radius: 100px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.darksection {
	background-color: #07070b;
	p {
		color: #fff !important;
	}
}
.card {
	border-radius: 1.5rem;
	border: 1px solid #e6ddfe08;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
	box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
	color: white;
  .numberitem
  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: xxx-large;
    opacity: 0.25;
    z-index: 0;
    left: -0.5rem;
  }
	.card-title {
		color: white;
	}
	p {
		color: #aaaaaa !important;
	}
	&:hover {
		.card-title {
			color: var(--uniprep-secondary);
		}
		p {
			color: white !important;
		}
	}
}
.cta-field {
  .card {
	background: rgb(219, 83, 175);
	background: linear-gradient(90deg, #d14283 0%, #e78e60 100%);
    border: none;
  }
  .cta-btn {
    background: black;
    color: white;
    padding: 0.8rem;
  }
}
.faqcard {
	background: #18181d;
	border-radius: 10px !important;
	overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid #080e13 !important;
}

.accordion-button::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.faqcard .accordion-collapse {
	background: #18181d;
}

.faqcard .accordion-button:not(.collapsed) {
	background: #18181d;
	border-radius: 10px;
	color: var(--uniprep-primary);
	border: none;
}

/* .faqcard .accordion-button:not(.collapsed)::after
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */

.faqcard .accordion-header button {
	background: #18181d;
	box-shadow: none;
	padding: 1rem 1rem;
	font-weight: 600;
}

.faqcard .accordion-body {
	text-align: start;
	padding: 0.75rem 1rem;
	color: white;
	font-size: medium;
}
.mockup
{
	position: relative;
	width: 100%;
	z-index: 10;
}
.mockupfit
{
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 2.5%;
    width: 100%;
}