.headercountry
{
  width: 40px;
    height: 40px;
    border: 2px solid var(--uniprep-primaryop10);
    border-radius: 100%;
}
.sop-header{
  color: #001631;
  font-size: 30px !important;
  font-weight: 500 !important;
}
.sub-label {
  color: #3F4C83;
  font-size: 20px;
  font-weight: 500;
}