
.primary-color{
  color: var(--uniprep-primary);
}

.tickPlacement {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--uniprep-primary);
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  width: 10px;
  height: 10px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 20px;
}

:host ::ng-deep .p-carousel-content {
  height: 100% !important;
  .p-carousel-container {
    height: 100%;
    .p-carousel-items-container {
      height: 100%;
    }
  }
}

:host ::ng-deep .p-carousel-item {
  width: 100% !important;
}
:host ::ng-deep .p-carousel .p-carousel-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

input[type="checkbox"] {
  zoom: 1.0;
}

.card-inside {
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 1px solid var(--uniprep-secondary);
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.form-check-input {
  width: 20px;
  height: 20px;
}

.text-muted {
  font-size: 12px;
}

/* Custom color for the selected card border */
.border-primary {
  border: 1px solid var(--uniprep-secondary) !important;
  border-radius: 10px;
  &:hover {
    background-color: lightcyan;
    border-color: var(--uniprep-primary);
  }
}

/* India emblem image container */
.col-3 img {
  max-width: 100%;
  height: auto;
}