<div class="card readingcard" *ngIf="!isPdfLoaded" [style.display]="showDiv ? 'flex' : 'none'">
	<div class="card-header border-0 bg-transparent" *ngIf="!restrict">
		<div class="row d-md-none d-flex">
			<div class="col-12">
				<div class="select-title d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
							<i class="fa-regular fa-home"></i>
						</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 role="button" class="mb-0" tooltipPosition="top"
							pTooltip="Create compelling pitch presentations to attract investors and partners.">Pitch
							Deck</h5>
					</div>
					<div>
						<button pButton class="how-it-works-button" severity="warn"
							(click)="openVideoPopup()">How
							it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="d-flex justify-content-between mt-2 gap-1">
					<button pButton *ngIf="ehitlabelIsShow" class="btn btn-secondary text-small btn-rounded flex-fill"
						(click)="buyCredits()" type="button">Buy Credits</button>
					<button pButton
						class="btn btn-outline-primary text-small btn-rounded d-flex gap-2 align-items-center flex-fill"
						(click)="exportData()" type="button">
						Export <span class="btn-icon text-white">{{ exportCreditCount }}</span>
					</button>
					<button pButton class="btn btn-secondary text-small flex-fill" (click)="openReport()"
						type="button"><i class="fa-solid fa-circle-exclamation"></i></button>
					<button pButton class="btn btn-gray text-small flex-fill" (click)="closeGuidelines()"
						type="button"><i class="fa-solid fa-graduation-cap"></i></button>
					<button pButton class="btn btn-primary text-small flex-fill" (click)="viewFav()" type="button">
						<i class="fa-solid fa-bookmark"></i><span class="ms-2">({{ favCount }})</span>
					</button>
					<button pButton class="btn btn-primary text-small flex-fill" (click)="filterBy()" type="button"><i
							class="fa-solid fa-bars-filter"></i></button>
				</div>
			</div>
			<div class="col-12 mt-2">
				<div class="d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2 align-items-center">
						<input type="checkbox" class="me-0" [(ngModel)]="selectAllCheckboxes"
							(change)="selectAllCheckbox()" id="selectAllcheckbox" />
						<label class="text-small fw-semibold" for="selectAllcheckbox" style="cursor: pointer">Select
							All</label>
						<span class="text-small fw-semibold">Selected : {{ selectedCheckboxCount }}</span>
					</div>
					<span class="text-muted fw-semibold text-small">Total Pitch Decks : {{ totalPitchDeckCount }}</span>
				</div>
			</div>
			<div class="col-12 mt-2">
				<p-inputgroup fluid>
					<p-inputgroup-addon>
						<i class="fa fa-search"></i>
					</p-inputgroup-addon>
					<input pInputText type="text" placeholder="Search in Pitch Deck List"
						[(ngModel)]="valueNearYouFilter" (keyup)="performSearch()" />
				</p-inputgroup>
			</div>
		</div>
		<div class="row justify-content-center d-md-flex d-none">
			<!-- <div class="col-md-6 text-center">
				<h5 class="select-title mb-1" tooltipPosition="top" pTooltip="">PITCH DECK</h5>
			</div> -->
			<!-- select-title css also needs to change the width -->
			<!-- after create the video just uncomment the below code. and send the youtube embeded video link -->
			<div class="col-md-12 d-flex flex-md-row flex-column gap-2 text-center">
				<div class="select-title d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
							<i class="fa-regular fa-home"></i>
						</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 role="button" class="mb-0" tooltipPosition="top"
							pTooltip="Create compelling pitch presentations to attract investors and partners.">Pitch
							Deck</h5>
					</div>
					<div>
						<button pButton class="how-it-works-button" severity="warn"
							(click)="openVideoPopup()">How
							it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
				<span class="d-flex justify-content-end align-items-center gap-2">
					<!-- <div class="p-inputgroup d-md-none d-block">
						<p-inputgroup-addon>
							<i class="fa fa-search"></i>
						</p-inputgroup-addon>
						<input pInputText type="text" placeholder="Search in Pitch Deck List" [(ngModel)]="valueNearYouFilter" (input)="performSearch()" />
					</div> -->
					<button pButton class="btn btn-primary text-small pitchdeck-guidlines" (click)="closeGuidelines()"
						type="button"><span class="d-md-block d-none">Pitch Deck Guidelines</span><i
							class="fa-solid fa-book d-md-none d-block"></i></button>
					<button pButton *ngIf="ehitlabelIsShow" class="btn btn-primary text-small" (click)="buyCredits()"
						type="button"><span class="d-md-block d-none">Buy Credits</span><i
							class="fa-solid fa-dollar d-md-none d-block"></i></button>
					<button pButton class="btn btn-primary text-small d-flex align-items-center exportButton"
						(click)="exportData()" type="button">
						<span class="d-md-block d-none">Export</span><i
							class="fa-solid fa-file-export d-md-none d-block"></i> <span class="exportCount">{{
							exportCreditCount }}</span>
					</button>
				</span>
			</div>
			<div class="col-md-12 mt-2">
				<div class="d-flex flex-md-row flex-column w-100 align-items-center justify-content-between">
					<div class="d-flex gap-2 align-items-center">
						<div class="d-md-block d-none">
							<p-inputgroup fluid>
								<p-inputgroup-addon>
									<i class="fa fa-search"></i>
								</p-inputgroup-addon>
								<input pInputText type="text" placeholder="Search in Pitch Deck List"
									[(ngModel)]="valueNearYouFilter" (keyup)="performSearch()" />
							</p-inputgroup>
						</div>
						<span class="d-flex justify-content-start p-2">
							<input type="checkbox" [(ngModel)]="selectAllCheckboxes" (change)="selectAllCheckbox()"
								id="selectAllcheckbox" style="cursor: pointer" />
							<label class="p-2" for="selectAllcheckbox" style="cursor: pointer">Select All</label>
							<span class="p-2">Selected : {{ selectedCheckboxCount }}</span>
						</span>
						<button pButton class="btn btn-primary text-small ps-3 pe-3 pt-2 pb-2 br-8 p-1"
							style="border-radius: 20px !important" (click)="viewFav()" type="button">{{ viewFavourites ?
							"Remove " : "View " }} Favourites ({{ favCount }})</button>
					</div>
					<div class="d-flex gap-2 align-items-center">
						<button pButton class="btn btn-primary text-small ps-3 pe-3 pt-2 pb-2 br-8 p-1"
							style="background-color: #ff9113 !important" (click)="openReport()" type="button"><span
								class="d-md-block d-none">Report</span><i
								class="fa-solid fa-circle-exclamation d-md-none d-block"></i></button>
						<div class="pe-2">
							<span class="text-muted text-small"><strong>Total Pitch Deck : {{ totalPitchDeckCount
									}}</strong></span>
						</div>
						<button pButton class="btn btn-primary text-small ps-3 pe-3 pt-2 pb-2 br-8 p-1"
							(click)="filterBy()" type="button"><span class="d-md-block d-none">Filter By</span><i
								class="fa-solid fa-filters d-md-none d-block"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body text-center flex-fill overflow-y-auto flex-column">
		<div class="container-fluid" *ngIf="!restrict">
			<div class="row">
				<div *ngFor="let pitchDeskListData of pitchDeskList" class="col-md-3 col-12 mb-3">
					<div class="card deskcard text-start h-100"
						[ngClass]="{ selected: pitchDeskListData.isChecked === 1 }">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div class="d-flex gap-2 justify-content-start align-items-center">
									<div class="d-flex align-items-center justify-content-center pitchicon">
										<img class="img-responsive" [src]="pitchDeskListData.image_name" />
									</div>
									<div class="d-flex flex-column overflow-hidden">
										<a (click)="showPdf(pitchDeskListData.document_name, pitchDeskListData.pitchdeck_name)"
											style="cursor: pointer">
											<h5 class="mb-0 fw-bold text-truncate uniprep-primary position-relative">
												{{ pitchDeskListData.pitchdeck_name }}
												<span class="linkicon"><i
														class="fa-solid fa-arrow-up-right-from-square text-small"></i></span>
											</h5>
										</a>
										<h4 class="fw-bold mb-0 text-truncate">{{ pitchDeskListData.funding_amount }}
										</h4>
									</div>
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<i [class]="pitchDeskListData.favourite == 1 ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark'"
										(click)="bookmarkQuestion(pitchDeskListData.id, pitchDeskListData.favourite)"
										style="color: #e90707" class="favIcon"></i>
									<input type="checkbox" [checked]="pitchDeskListData.isChecked === 1"
										(change)="onCheckboxChange($event, pitchDeskListData)" />
								</div>
							</div>
							<div class="d-flex justify-content-between mt-2 mb-1">
								<div class="col text-nowrap">
									<i class="fa-solid fa-calendar text-small foundYearColor"></i>
									<span class="text-small"> {{ pitchDeskListData.founding_year }}</span>
								</div>
								<div class="col text-nowrap">
									<i class="fa-solid fa-seedling text-small fundTypeColor"></i>
									<span class="text-small"> {{ pitchDeskListData.funding_type_name }}</span>
								</div>
								<div class="col text-nowrap">
									<i class="fa-solid fa-building text-small sectorColor"></i>
									<span class="text-small"> {{ pitchDeskListData.sector_name }}</span>
								</div>
							</div>
							<div class="d-flex justify-content-between">
								<div class="col text-nowrap">
									<i class="fa-solid fa-location-dot text-small HeadQuartersColor"></i>
									<span class="text-small"> {{ pitchDeskListData.country_name }}, {{
										pitchDeskListData.head_quarters_name }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <p-paginator *ngIf="totalPitchDeckCount != 0" [rows]="pageSize" [totalRecords]="totalPitchDeckCount" (onPageChange)="pageChange($event)" [rowsPerPageOptions]="[50, 100, 300, 500, 1000]"></p-paginator> -->

		<p-dialog header="Filter Pitch Deck" [(visible)]="isFilterVisible" [modal]="true" [style]="{ width: '60rem' }"
			[breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [ngStyle]="{ display: isFilterVisible }">
			<div class="m-5">
				<form role="form" [formGroup]="filterForm" (ngSubmit)="getPitchDeskList()">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<label class="form-label" style="font-size: medium; font-weight: 500">Filter by
										Pitch Deck Name</label>
									<div class="form-group">
										<div class="mb-3">
											<input class="w-100" type="text" placeholder="Search Pitch Deck Name"
												formControlName="pitchdeck_name" pInputText />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<label class="form-label" style="font-size: medium; font-weight: 500">Filter by
										Country</label>
									<div class="form-group">
										<div class="mb-3">
											<p-multiSelect [options]="countrySelectBox" styleClass="w-100"
												formControlName="country" optionValue="id"
												placeholder="Select Countries" optionLabel="country" #multiSelect
												[appendTo]="'body'">
												<ng-template pTemplate="selectedItems">
													{{ multiSelect.defaultLabel }}
												</ng-template>
											</p-multiSelect>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<label class="form-label" style="font-size: medium; font-weight: 500">Filter by Fund
										Type</label>
									<div class="form-group">
										<div class="mb-3">
											<p-multiSelect [options]="fundingTypeSelectBox" styleClass="w-100"
												formControlName="funding_type" optionValue="id"
												placeholder="Select Fund Type" optionLabel="funding_type_name" #FundType
												[appendTo]="'body'">
												<ng-template pTemplate="selectedItems">
													{{ FundType.defaultLabel }}
												</ng-template>
											</p-multiSelect>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<label class="form-label" style="font-size: medium; font-weight: 500">Filter by
										Sector</label>
									<div class="form-group">
										<div class="mb-3">
											<p-multiSelect [options]="sectorSelectBox" styleClass="w-100"
												formControlName="sector" optionValue="id" placeholder="Select Sector"
												optionLabel="sector_name" #Sector [appendTo]="'body'">
												<ng-template pTemplate="selectedItems">
													{{ Sector.defaultLabel }}
												</ng-template>
											</p-multiSelect>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<button pButton type="submit" class="btn btn-dark w-100"
							style="background-color: var(--primary-500); border: none">Apply Filter</button>
						<button pButton class="btn btn-dark w-100" (click)="clearFilter()"
							style="background-color: white; border-radius: 8px; color: var(--primary-500); border: none"
							type="button">Reset Filter</button>
					</div>
				</form>
			</div>
		</p-dialog>
	</div>
	<div class="card-footer border-0 bg-transparent">
		<div class="row d-flex align-items-center justify-content-between">
			<p-paginator *ngIf="totalPitchDeckCount != 0" [rows]="pageSize" [totalRecords]="totalPitchDeckCount"
				[first]="(page - 1) * pageSize" (onPageChange)="pageChange($event)"
				[rowsPerPageOptions]="[50, 100, 300, 500, 1000]" [disabled]="totalPitchDeckCount <= pageSize">
			</p-paginator>
		</div>
	</div>
</div>

<div class="card overflow-y-auto h-100 flex-column" [style.display]="!showDiv ? 'flex' : 'none'">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-2 text-start"></div>
			<div class="col-md-8 text-center">
				<h5 class="select-title mb-1 text-capitalize" tooltipPosition="top" pTooltip="Pitch Deck Guidlines">
					PITCH DECK GUIDELINES<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
			</div>
			<div class="col-md-2 text-end d-flex align-items-center justify-content-end">
				<button pButton class="btn-rounded btn btn-primary" aria-label="Dismiss alert" type="button" data-close
					(click)="closeGuidelines()">
					<span aria-hidden="true">X</span>
				</button>
			</div>
		</div>
	</div>
	<div class="card-body pt-0">
		<div class="card guidelinecard mb-3 mt-2">
			<div class="card-body">
				<h5>Do's</h5>
				<ol class="lh-lg ps-3">
					<li><strong>Use as a Template:</strong> Treat the investor decks as templates or examples to guide
						you in preparing your own pitch deck for potential investors.</li>
					<li><strong>Study Industry Trends:</strong> Analyze the pitch decks of companies in your industry or
						similar sectors to gain insights into effective strategies and presentation styles.</li>
					<li><strong>Tailor Content:</strong> Customize the content of your pitch deck to accurately reflect
						your company's unique value proposition, market opportunity, and growth potential.</li>
					<li><strong>Highlight Key Metrics:</strong> Focus on highlighting key metrics, achievements, and
						milestones that demonstrate the traction and potential of your business.</li>
					<li><strong>Seek Feedback:</strong> Share your pitch deck with mentors, advisors, or peers for
						feedback and suggestions on how to improve clarity, effectiveness, and impact.</li>
				</ol>
			</div>
		</div>
		<div class="card guidelinecard">
			<div class="card-body">
				<h5>Dont's</h5>
				<ol class="lh-lg ps-3">
					<li><strong>Copy Directly:</strong> Avoid copying content directly from the investor decks of other
						companies; instead, use them as inspiration to develop original and compelling narratives for
						your own pitch deck.</li>
					<li><strong>Overlook Differentiators:</strong> Ensure your pitch deck emphasizes the unique aspects
						and competitive advantages of your company to differentiate yourself from others in the
						industry.</li>
					<li><strong>Neglect Customization:</strong> Resist the temptation to use a one-size-fits-all
						approach; tailor your pitch deck to suit the preferences and expectations of your target
						investors.</li>
					<li><strong>Exaggerate or Mislead:</strong> Refrain from exaggerating achievements or making
						unrealistic projections in your pitch deck, as this can damage credibility and trust with
						potential investors.</li>
					<li><strong>Misuse Data:</strong> Do not misuse or misrepresent any data obtained from the investor
						decks of other companies; ensure that all information is used ethically and appropriately in
						accordance with data privacy regulations.</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="card readingcard" *ngIf="isPdfLoaded">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-12 d-flex flex-md-row flex-column gap-2 text-center">
				<div class="d-flex gap-2 flex-fill">
					<div class="backIcon" role="button" (click)="goBack()">
						<span class="fa-solid fa-chevron-left"></span>
					</div>
					<div class="select-title d-flex justify-content-between align-items-center">
						<div>
							<h6 class="mb-0" tooltipPosition="top"
								pTooltip="Prepare for standardized tests and improve academic skills with practice tests and learning modules.">
								{{ pdname }}
								<i class="questiontooltip fa-solid fa-circle-question"></i>
							</h6>
						</div>
						<div>
							<button pButton class="how-it-works-button" severity="warn"
								(click)="openVideoPopup()">How
								it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
						</div>
					</div>
				</div>

				<div>
					<button pButton
						class="text-white p-ripple p-button-rounded p-button-warning p-button p-component p-2"
						*ngIf="isPdfDownloadOption" (click)="download()">Download PDF</button>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body text-center flex-fill overflow-y-hidden flex-column">
		<div class="row justify-content-center h-100">
			<div class="col-md-12 overflow-hidden">
				<pdf-viewer [src]="pdfURL" [original-size]="true" [show-all]="true" [fit-to-page]="true" [zoom]="1.0"
					[autoresize]="true" [render-text]="false" [external-link-target]="'blank'"
					style="width: 100%; height: 100%">
					></pdf-viewer>
				<!--                <ng2-pdfjs-viewer #pdfViewer [pdfSrc]="pdfURL" [viewerId]="'pdf-viewer'"-->
				<!--                                  [downloadFileName]="'document.pdf'" [externalWindow]="false" [openFile]="false"-->
				<!--                                  [viewBookmark]="false" [download]="false" [fullScreen]="true" [find]="true"-->
				<!--                                  [zoom]="'page-width'" [print]="true" [startPage]="1" style="width: 100%; height: 80vh"-->
				<!--                                  (error)="onError($event)"></ng2-pdfjs-viewer>-->
				<div *ngIf="pdfLoadError" class="alert alert-danger mt-3">
					<p>Error loading PDF. Please try downloading the file instead.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer border-0 bg-transparent"></div>
</div>