.deskcard{
  border:1px solid var(--secondary-500);
  &:hover
  {
    border:1px solid var(--primary-500highlight);
    background:var(--primary-100);
  }
  
  // Add styles for when card is selected
  &.selected {
    border: 1px solid var(--primary-500);
    background: var(--primary-100);
  }
}

.fontsizesmall{
  font-size: 0.75rem;
}

:host ::ng-deep .p-dialog-header {
  padding: 0px 5px !important;
}

:host ::ng-deep .p-dialog-title {
  padding: 15px !important;
}

// .p-paginator{
//   justify-content: left !important;
 
// }

// ::ng-deep :not(.p-paginator ){
//   display: flex;
// }
::ng-deep .p-datatable a
{
  text-decoration: none;
  color:var(--primary-500highlight);
}

::ng-deep .p-datatable th
{
  background-color: var(--primary-500highlight) !important;
  border-right: 1px solid var(--primary-200);
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td
{
  border:1px solid var(--primary-100);
}

:host ::ng-deep .p-paginator .p-select-panel {
  left: auto !important;
  right: 0; /* Adjust the right position as needed */
  top: auto !important;
  bottom: 100%; /* Position the dropdown above the paginator */
  max-height: none !important; /* Prevent max-height from causing a scroll */
  overflow: visible !important; /* Ensure the dropdown is not hidden */
}
::ng-deep .ng2-pdf-viewer-container
{
  overflow-x: hidden !important;
}

.pdf-container
{
  width:70%;
  margin: auto;
}

.sectorColor{
  color: #1b8b4f;
}

.fundTypeColor{
  color: #9bc329;
}

.HeadQuartersColor{
  color: #e90707;
}

.foundYearColor{
  color: #2a4ad2;
}

.pitchDeskNameColor{
  color:#3b579d;
}

.pitchdeck-guidlines {
  background-color: #EBEDF2 !important;
  color: #001631 !important;
  border-radius: 20px !important;
  border: none;
}

.guidelinecard
{
    border: 1px solid var(--primary-500);
}

.pitchicon
{
  height:50px;
  width:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius:5px;
  img
  {
    width:100%;
    height:100%;
    object-fit: contain;
  }
}

.exportButton{
  background-color: #EBEDF2 !important;
  color: #001631 !important;
  border-radius: 20px !important;
  border: none;
  padding: 10px;
}

// Remove all custom checkbox styling and just keep a simple style for size
input[type="checkbox"] {
  transform: scale(1.2);
  margin: 0 8px;
}