<div class="row">
    <div class="col-lg-12">
        <div class="container-fluid">
            <div class="uni-card mb-2">
                <label class="form-label mt-2 text-center card-title">Buttons</label>
                <div class="card-body">
                    <label class="form-label">Primary Buttons</label>
                    <hr>
                    <div class="col-md-12">
                        <button pButton  class="btn btn-primary" type="button">Primary</button>
                        <button pButton  class="btn btn-secondary" type="button">Secondary</button>
                        <button pButton  class="btn btn-success" type="button">Success</button>
                        <button pButton  class="btn btn-danger" type="button">Danger</button>
                        <button pButton  class="btn btn-warning" type="button">Warning</button>
                        <button pButton  class="btn btn-info" type="button">Info</button>
                        <button pButton  class="btn btn-light" type="button">Light</button>
                        <button pButton  class="btn btn-dark" type="button">Dark</button>
                    </div>
                    <label class="form-label">Outline Buttons</label>
                    <hr>
                    <div class="col-md-12">
                        <button pButton  class="btn btn-outline-primary" type="button">Primary</button>
                        <button pButton  class="btn btn-outline-secondary" type="button">Secondary</button>
                        <button pButton  class="btn btn-outline-success" type="button">Success</button>
                        <button pButton  class="btn btn-outline-danger" type="button">Danger</button>
                        <button pButton  class="btn btn-outline-warning" type="button">Warning</button>
                        <button pButton  class="btn btn-outline-info" type="button">Info</button>
                        <button pButton  class="btn btn-outline-light" type="button">Light</button>
                        <button pButton  class="btn btn-outline-dark" type="button">Dark</button>
                    </div>
                    <label class="form-label">Buttons with Icons</label>
                    <hr>
                    <div class="col-md-12">
                        <button pButton  class="btn btn-success" type="button">
                            <span class="btn-label"><i class='pi pi-check-circle'></i></span>Success
                        </button>
                        <button pButton  class="btn btn-danger" type="button">
                            <span class="btn-label"><i class='pi pi-times-circle'></i></span>Danger
                        </button>
                        <button pButton  class="btn btn-warning" type="button">
                            <span class="btn-label"><i class='pi pi-exclamation-triangle'></i></span>Warning
                        </button>
                        <button pButton  class="btn btn-primary" type="button">
                            <span class="btn-label"><i class='pi pi-user'></i></span>Primary
                        </button>
                    </div>
                    <label class="form-label">Disabled Buttons</label>
                    <hr>
                    <div class="col-md-12">
                        <button pButton  class="btn btn-primary" disabled type="button">Primary</button>
                        <button pButton  class="btn btn-secondary" disabled type="button">Secondary</button>
                        <button pButton  class="btn btn-outline-primary" disabled type="button">Primary</button>
                        <button pButton  class="btn btn-outline-light" disabled type="button">Light</button>
                        <button pButton  class="btn btn-outline-dark" disabled type="button">Dark</button>
                        <button pButton  class="btn btn-success" disabled type="button">
                            <span class="btn-label"><i class='bx bx-check-circle'></i></span>Success
                        </button>
                        <button pButton  class="btn btn-danger" disabled type="button">
                            <span class="btn-label"><i class='bx bx-block'></i></span>Danger
                        </button>
                        <button pButton  class="btn btn-warning" disabled type="button">
                            <span class="btn-label"><i class='bx bx-bookmark'></i></span>Warning
                        </button>
                        <button pButton  class="btn btn-primary" disabled type="button">
                            <span class="btn-label"><i class='bx bx-user'></i></span>Primary
                        </button>
                    </div>
                    <label class="form-label">Active Buttons</label>
                    <hr>
                    <div class="col-md-12">
                        <button pButton  autofocus class="btn btn-primary" type="button">Primary</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>