.questioncard {
	border: 1px solid var(--uniprep-primary);
	padding: 0;
	.homecountry {
		width: 25px;
		height: 25px;
		border-radius: 100px;
		padding: 0;
		img {
			height: 100%;
			width: 100%;
			border-radius: 100%;
			border: 1px solid transparent;
			object-fit: cover;
		}
	}
}