<div class="card readingcard">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="backIcon d-md-flex d-none" (click)="goToHome($event)" role="button">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
							<i class="fa-regular fa-home"></i>
						</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 routerLink="/pages/language-hub/languages" role="button" class="mb-0" tooltipPosition="top"
							pTooltip="">Language Hub</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 role="button" class="mb-0" tooltipPosition="top" pTooltip="">{{getFormattedValues()}}</h5>
					</div>
					<div>
						<button pButton
							(click)="openVideoPopup()"
							class="how-it-works-button">How it works?<i
								class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body text-center flex-fill overflow-y-auto">
		<div *ngIf="isSkeletonVisible">
			<div class="row">
				<div *ngFor="let index of loopRange"
					class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12">
					<div class="card my-2">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-8 col-md-12">
									<p-skeleton styleClass="mb-1" width="100%"></p-skeleton>
									<p-skeleton styleClass="mb-1" width="100%"></p-skeleton>
									<p-skeleton styleClass="mb-2" width="80%"></p-skeleton>
								</div>
								<div class="col-4 col-md-12">
									<p-skeleton height="3rem" width="100%" borderRadius="100px"></p-skeleton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="!isSkeletonVisible" class="row">
			<div *ngFor="let sub of questionListData; let i = index"
				class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 my-2">
				<div class="row w-100 h-100 m-0 justify-content-center">
					<div (click)="viewOneQuestion(sub)"
						class="card questioncard {{ sub.read == 1 ? 'questionread' : '' }}">
						<div
							class="card-body d-flex flex-sm-column flex-row justify-content-sm-between align-items-center gap-2 gap-md-0">
							<div class="row justify-content-center w-100">
								<div class="col">
									<p class="text-start fw-bold questiontext mb-0 mb-md-2">{{ sub.english }}</p>
								</div>
								<!--<div class="col-md-4 text-center">
                                            <p class="mb-3 circle text-center">{{i+1}}</p>
                                        </div> -->
								<div *ngIf="sub.favourite == 1"
									class="col-2 d-flex align-items-center justify-content-center text-end">
									<i class="pi pi-star-fill text-danger" pTooltip="Most Popular Question"
										style="font-size: 1.2rem" tooltipPosition="right"></i>
								</div>
							</div>
							<!-- <button
								pButton
								class="btn d-md-block d-none w-100 flex-shrink-0 btn-primary btn-rounded m-0 primary-btn
                                        {{ sub.read == 1 ? 'readButton' : '' }}"
								pButton
								type="button">
								Read &nbsp;<span class="desktop-enable">Answer</span>
							</button>
							<button
								pButton
								class="btn d-md-none d-flex flex-shrink-0 btn-primary m-0 btn-rounded primary-btn
                                        {{ sub.read == 1 ? 'readButton' : '' }}"
								pButton
								type="button">
								Read &nbsp;<span class="desktop-enable">Answer</span>
							</button> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer border-0 bg-transparent">
		<p-paginator (onPageChange)="paginate($event)" [rowsPerPageOptions]="[25, 50, 100, 200]" [rows]="perpage"
			[totalRecords]="totalQuestionCount" dropdownAppendTo="body"></p-paginator>
	</div>
</div>