.outer-container {
    height: 100px;
    width: 100px;
    background: linear-gradient(135deg, var(--uniprep-primary), var(--uniprep-secondary));
    // background: linear-gradient(135deg, #ff6ec4, #7873f5);
    border-radius: 50%;
    animation: rotate2 1.2s linear infinite;
    margin-right: 20px;
}

.inner-container {
    top: 12px;
    left: 12px;
    position: absolute;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    background: #ffffff;
    border-radius: 50%;
    cursor: default;
}

.inner-container span {
    font-size: 25px;
    font-weight: 800;
    background: linear-gradient(135deg, var(--uniprep-secondary), var(--uniprep-primary));
    // background: linear-gradient(135deg, #ff6ec4, #7873f5);
    color: transparent;
    -webkit-background-clip: text;
    background-size: 300%;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    to {
        transform: rotate(360deg);
    }
}