<div class="card readingcard h-100">
	<div class="card-header border-0 bg-transparent">
		<div class="row">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="backIcon d-md-flex d-none" role="button" routerLink="/pages/talent-connect/easy-apply">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div>
						<h5 class="mb-0">Job Description</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body text-start flex-fill overflow-y-auto">
		<div class="row justify-content-between h-100">
			@if(showInfo){
			<div class="h-100 overflow-hidden"
				[ngClass]="!isShowApplyChat ? 'col-sm-12' : 'col-sm-12 col-md-7 col-lg-8 col-xl-9'">
				<div class="card h-100 overflow-y-auto">
					<div class="card-header bg-transparent p-4">
						<div class="row align-items-start">
							<div class="col-xxl-1 col-xl-1 col-lg-2 col-md-2 col-sm-3 col-4">
								<div class="rounded-2 border overflow-hidden">
									<img class="company-logo" (error)="$event.target.src = '/uniprep-assets/images/job.webp'"
										[src]="jobDetails?.company_logo_url" alt="company_logo" />
								</div>
							</div>
							<div class="col-xxl-11 col-xl-11 col-lg-10 col-md-10 col-sm-9 col-8">
								<div class="row">
									<div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-3">
										<div class="d-flex align-items-center">
											<h3 class="fw-bold mb-0 me-2">{{ jobDetails?.position }}</h3>
											@if(jobDetails?.premium_users) {
											<span class="premium-button d-none d-sm-inline">
												Premium
											</span>
											<span class="premium-icon d-inline d-sm-none">
												<i class="fa-solid fa-circle-star"></i>
											</span>
											}
										</div>
										<div class="d-flex align-items-center">
											<span class="me-2 text-muted">{{ jobDetails.company_name }}</span>
											@if(jobDetails) {
											<span class="ms-1 text-primary">
												<i class="fas fa-check-circle"></i>
											</span>
											}
										</div>
										<div class="d-block d-md-flex align-items-center gap-2">
											<div class="contact-wrapper" [ngClass]="{'blur-text': shouldBlur}">
												<div class="uniprep-secondary">
													<i class="fa-light fa-envelope"></i>
													<span>{{ visibleEmail }}</span>
													<i class="fa-solid fa-copy" [ngClass]="{'cursor-pointer': !shouldBlur}"
														(click)="copytextHandler(jobDetails?.email, 'email')"></i>
												</div>
												<!-- <div class="uniprep-primary">
													<i class="fa-regular fa-phone"></i>
													<span>{{ visiblePhone }}</span>
													<i class="fa-solid fa-copy" [ngClass]="{'cursor-pointer': !shouldBlur}"
														(click)="copytextHandler(jobDetails?.phone ?? '+919035723087', 'phone')"></i>
												</div> -->
											</div>
										</div>
										<div>Job Id: {{ jobDetails.id }}</div>
									</div>
									<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
										<div class="row">
											<div class="col-12 text-md-end text-center mb-2 d-md-block d-none">
												<div class="d-flex gap-2">
													<div class="position-relative w-100">
														<button pButton label="Share Job" iconPos="right" icon="pi pi-share-alt"
															class="btn btn-secondary w-100" (click)="showSocialSharingList('socialSharingList')">
														</button>
														<p-card id="socialSharingList">
															<ul style="list-style: none; cursor: pointer">
																<li (click)="shareQuestion('Whatsapp')"><i class="pi pi-whatsapp"></i>Whatsapp</li>
																<li (click)="shareQuestion('Mail')"><i class="pi pi-envelope"></i>Email</li>
																<li (click)="shareQuestion('Facebook')"><i class="pi pi-facebook"></i>Facebook</li>
																<li (click)="shareQuestion('Twitter')"><i class="pi pi-twitter"></i>Twitter</li>
																<li (click)="shareQuestion('Instagram')"><i class="pi pi-instagram"></i>Instagram</li>
																<li (click)="shareQuestion('LinkedIn')"><i class="pi pi-linkedin"></i>LinkedIn</li>
																<li (click)="copyLink($event, jobDetails)"><i class="pi pi-link"></i>Copy Link</li>
															</ul>
														</p-card>
													</div>
													@if(isShowApplyChat && isApplied) {
													<button pButton label="Close Info" class="btn btn-primary w-100"
														(click)="showInfo = false"></button>
													}
													@if(!isShowApplyChat && isApplied) {
													<button pButton class="p-button-success chat-btn w-100" (click)="isShowApplyChat = true">
														Apply</button>
													}
												</div>
											</div>
											<div class="col-12 d-block d-md-none">
												@if(isApplied) {
												<button class="p-button-success chat-btn w-100 mb-2" pButton (click)="visible = true"><i
														class="pi pi-comments"></i>
													Apply</button>
												}
												<div class="position-relative w-100">
													<button pButton label="Share Job" iconPos="right" icon="pi pi-share-alt"
														class="btn btn-secondary w-100" (click)="showSocialSharingList('socialSharingListMobile')">
													</button>
													<p-card id="socialSharingListMobile">
														<ul style="list-style: none; cursor: pointer">
															<li (click)="shareQuestion('Whatsapp')"><i class="pi pi-whatsapp"></i>Whatsapp</li>
															<li (click)="shareQuestion('Mail')"><i class="pi pi-envelope"></i>Email</li>
															<li (click)="shareQuestion('Facebook')"><i class="pi pi-facebook"></i>Facebook</li>
															<li (click)="shareQuestion('Twitter')"><i class="pi pi-twitter"></i>Twitter</li>
															<li (click)="shareQuestion('Instagram')"><i class="pi pi-instagram"></i>Instagram</li>
															<li (click)="shareQuestion('LinkedIn')"><i class="pi pi-linkedin"></i>LinkedIn</li>
															<li (click)="copyLink()"><i class="pi pi-link"></i>Copy Link
															</li>
														</ul>
													</p-card>
												</div>
											</div>
											<div class="col-12 text-lg-end text-start">
												<p class="posted-date">Posted On : {{ jobDetails.created_at | date :
													"dd-MM-yyyy" }}</p>
											</div>
										</div>
									</div>
									<div class="col-12 col-sm-12 col-md-12 d-none d-md-block">
										<div class="row align-items-center">
											<div class="col-md-3 col-6">
												<div class="d-flex align-items-center gap-3">
													<span><i class="fa-solid fa-user-magnifying-glass fa-lg"></i></span>
													<div>
														<p class="text-muted text-small mb-0">Total Vacancies</p>
														<h4 class="mb-0 fw-bold">{{ jobDetails.available_vacancies }}
														</h4>
													</div>
												</div>
											</div>
											<!-- <div class="col-md-3 col-6">
												<div class="d-flex align-items-center gap-3">
													<span><i class="fa-solid fa-user-tie fa-lg"
															style="color: #cc660a"></i></span>
													<div>
														<p class="text-muted text-small mb-0">Total Applications</p>
														<h4 class="mb-0 fw-bold">{{ jobDetails.total_applied }}</h4>
													</div>
												</div>
											</div> -->
											<div class="col-md-3 col-6">
												<div class="d-flex align-items-center gap-3">
													<span><i class="fa-solid fa-video fa-lg text-muted"></i></span>
													<div>
														<p class="text-muted text-small mb-0">Introduction Video</p>
														<h6 class="mb-0 fw-bold">{{ jobDetails.intro_video == "No" ?
															"Not Mandatory" : "Mandatory" }}</h6>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-6">
												<p class="text-muted text-small mb-0">{{ jobDetails.matching_skills }}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-12 d-md-none d-block">
								<div class="row align-items-center">
									<div class="col-md-2 col-6">
										<div class="d-flex align-items-center gap-3">
											<span><i class="fa-solid fa-user-magnifying-glass fa-lg"></i></span>
											<div>
												<p class="text-muted text-small mb-0">Total Vacancies</p>
												<h4 class="mb-0 fw-bold">{{ jobDetails.available_vacancies }}</h4>
											</div>
										</div>
									</div>
									<!-- <div class="col-md-2 col-6">
										<div class="d-flex align-items-center gap-3">
											<span><i class="fa-solid fa-user-tie fa-lg"
													style="color: #cc660a"></i></span>
											<div>
												<p class="text-muted text-small mb-0">Total Applied</p>
												<h4 class="mb-0 fw-bold">{{ jobDetails.total_applied }}</h4>
											</div>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<div class="card-body h-100 p-4">
						<div class="row mb-4">
							<div class="col-md-12">
								<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-3"
									[ngClass]="{ '!row-cols-lg-4': isShowApplyChat }">
									<!-- Start Date -->
									<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
										<div class="d-flex flex-column">
											<div class="d-flex align-items-center mb-2">
												<i class="fas fa-calendar me-2" style="color: purple"></i>
												<div>
													<span class="text-muted">Start Date</span>
													<div class="fw-bold">{{ jobDetails.start_date }}</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Due Date -->
									<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
										<div class="d-flex flex-column">
											<div class="d-flex align-items-center mb-2">
												<i class="fa-solid fa-hourglass me-2" style="color: red"></i>
												<div>
													<span class="text-muted">Job Application Deadline</span>
													<div class="fw-bold">{{ jobDetails.due_date }}</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Work Location -->
									<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
										<div class="d-flex flex-column">
											<div class="d-flex align-items-center mb-2">
												<i class="fas fa-location-dot me-2" style="color: green"></i>
												<div>
													<span class="text-muted">Work Location</span>
													<div class="fw-bold">{{ jobDetails.work_location }}</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Work Mode -->
									<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
										<div class="d-flex flex-column">
											<div class="d-flex align-items-center mb-2">
												<i class="fa fa-building-user me-2" style="color: var(--p-secondary-500)"></i>
												<div>
													<span class="text-muted">Work Mode</span>
													<div class="fw-bold text-break">{{
														Array.isArray(jobDetails.work_mode) ?
														jobDetails.work_mode.join(", ") : jobDetails.work_mode }}</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Work Type -->
									<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
										<div class="d-flex flex-column">
											<div class="d-flex align-items-center mb-2">
												<i class="fas fa-person-digging me-2" style="color: red"></i>
												<div>
													<span class="text-muted">Work Type</span>
													<div class="fw-bold text-break">{{
														Array.isArray(jobDetails.employment_type) ?
														jobDetails.employment_type.join(", ") :
														jobDetails.employment_type }}</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Salary Range -->
									<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
										<div class="d-flex flex-column">
											<div class="d-flex align-items-center mb-2">
												<i class="fas fa-dollar me-2 text-success"></i>
												<div>
													<span class="text-muted">Salary Offered per Month</span>
													<div class="fw-bold">
														<span class="me-1">{{ jobDetails.currency_code }}</span>{{
														jobDetails.salary_offer }}
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Experience Level -->
									<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
										<div class="d-flex flex-column">
											<div class="d-flex align-items-center mb-2">
												<i class="fa-solid fa-user-plus me-2" style="color: black"></i>
												<div>
													<span class="text-muted">Experience Level</span>
													<div class="fw-bold">
														{{ jobDetails.experience_level == "Fresher" ?
														jobDetails.experience_level : jobDetails.experience_level == "1"
														? jobDetails.experience_level + " year" :
														jobDetails.experience_level + " years" }}
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Minimum Educational Requirement -->
									<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
										<div class="d-flex flex-column">
											<div class="d-flex align-items-center mb-2">
												<i class="fas fa-user-graduate me-2 text-primary"></i>
												<div>
													<span class="text-muted">Minimum Educational Requirement</span>
													<div class="fw-bold text-break">{{ jobDetails.minimum_education }}
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Department -->
									<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
										<div class="d-flex flex-column">
											<div class="d-flex align-items-center mb-2">
												<i class="fas fa-building me-2" style="color: darkblue"></i>
												<div>
													<span class="text-muted">Department</span>
													<div class="fw-bold">{{ jobDetails.department ?? "N/A" }}</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Gender -->
									<div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
										<div class="d-flex flex-column">
											<div class="d-flex align-items-center mb-2">
												<i class="fa-solid fa-transgender me-2" style="color: darkblue"></i>
												<div>
													<span class="text-muted">Gender Requirements</span>
													<div class="fw-bold">{{ jobDetails.gender_requirement_name ?? "N/A"
														}}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Job Overview -->
						@if(jobDetails?.job_overview) {
						<div class="row mb-2">
							<div class="col-md-12">
								<div class="card-body p-3 p-md-4 bg-secondary-subtle rounded-3">
									<div class="row">
										<div class="col-12 col-md-3 mb-3 mb-md-0">
											<h2 class="fs-3 fw-bold">Job Overview</h2>
										</div>
										<div class="col-12 col-md-9 font-bold">
											<p class="mb-0" [innerHTML]="jobDetails.job_overview"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						}

						<!-- Key Responsibilities -->
						@if(jobDetails?.key_responsibilities) {
						<div class="row mb-4">
							<div class="col-md-12">
								<div class="card-body p-3 p-md-4 bg-secondary-subtle rounded-3">
									<div class="row">
										<div class="col-12 col-md-3 mb-3 mb-md-0">
											<h2 class="fs-3 fw-bold">Key<br class="d-none d-md-block" />Responsibilities
											</h2>
										</div>
										<div class="col-12 col-md-9 font-bold">
											<div [innerHTML]="jobDetails?.key_responsibilities"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						}
						<!-- Language Proficiency -->
						@if(jobDetails?.languages?.length > 0) {
						<div class="row mb-4">
							<div class="col-md-12">
								<div class="card-body p-3 p-md-4 bg-secondary-subtle rounded-3">
									<div class="row">
										<div class="col-12 col-md-3 mb-3 mb-md-0">
											<h2 class="fs-3 fw-bold">Language<br class="d-none d-md-block" />Proficiency
											</h2>
										</div>
										<div class="col-12 col-md-9">
											<ul class="list-unstyled font-bold">
												@for (lang of jobDetails?.languages; track lang.lang) {
												<li class="mb-3">
													<div class="d-flex align-items-center gap-2">
														<span class="me-2">{{ lang.lang }}</span>
														@if(lang.level){
														<p-rating style="font-size: large" [ngModel]="getProficiencyRating(lang.level)"
															[readonly]="true"></p-rating>
														}
													</div>
												</li>
												}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						}

						<!-- Compensation Structure -->
						@if(jobDetails?.compensation_structure?.length > 0) {
						<div class="row mb-4">
							<div class="col-md-12">
								<div class="card-body p-3 p-md-4 bg-secondary-subtle rounded-3">
									<div class="row">
										<div class="col-12 col-md-3 mb-3 mb-md-0">
											<h2 class="fs-3 fw-bold">Compensation<br class="d-none d-md-block" />Structure</h2>
										</div>
										<div class="col-12 col-md-9 font-bold">
											<div class="d-flex flex-wrap gap-2">
												@for (comp of jobDetails.compensation_structure; track comp) {
												<span class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{ comp
													}}</span>
												}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						}

						<!-- Additional Benefits & Perks -->
						@if(jobDetails?.benefits_perks?.length > 0) {
						<div class="row mb-4">
							<div class="col-md-12">
								<div class="card-body p-3 p-md-4 bg-secondary-subtle rounded-3">
									<div class="row">
										<div class="col-12 col-md-3 mb-3 mb-md-0">
											<h2 class="fs-3 fw-bold">Additional Benefits<br class="d-none d-md-block" />& Perks</h2>
										</div>
										<div class="col-12 col-md-9 font-bold">
											<div class="d-flex flex-wrap gap-2">
												@for (benefit of jobDetails.benefits_perks; track benefit) {
												<span class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{
													benefit }}</span>
												}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						}

						<!-- Essential Soft Skills -->
						@if(jobDetails?.soft_skills?.length > 0) {
						<div class="row mb-4">
							<div class="col-md-12">
								<div class="card-body p-3 p-md-4 bg-secondary-subtle rounded-3">
									<div class="row">
										<div class="col-12 col-md-3 mb-3 mb-md-0">
											<h2 class="fs-3 fw-bold">Essential Soft Skills</h2>
										</div>
										<div class="col-12 col-md-9 font-bold">
											<div class="d-flex flex-wrap gap-2">
												@for (skill of jobDetails?.soft_skills; track skill) {
												<span class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{ skill
													}}</span>
												}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						}

						<!-- Hiring & Recruitment -->
						@if(jobDetails?.hiring_stages) {
						<div class="row mb-4">
							<div class="col-md-12">
								<div class="card-body p-3 p-md-4 bg-secondary-subtle rounded-3">
									<div class="row">
										<div class="col-12 col-md-3 mb-3 mb-md-0">
											<h2 class="fs-3 fw-bold">Hiring & Recruitment</h2>
										</div>
										<div class="col-12 col-md-9 font-bold">
											<h6 class="mb-2 text-primary">Hiring Process Stages</h6>
											<div class="d-flex flex-wrap gap-2 mb-4">
												@if(Array.isArray(jobDetails.hiring_stages) &&
												jobDetails.hiring_stages.length > 0) {
												@if(jobDetails.hiring_stages[0].id !== undefined) {
												@for (stage of jobDetails.hiring_stages; track stage.name) {
												<span class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{
													stage.name }}</span>
												}
												}
												@if(jobDetails.hiring_stages[0].id === undefined) {
												@for (stage of jobDetails.hiring_stages; track stage) {
												<span class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{ stage
													}}</span>
												}
												}
												}
												@if(!Array.isArray(jobDetails.hiring_stages)) {
												<span class="badge bg-warning text-dark p-2 rounded mb-2 fs-6">{{
													jobDetails.hiring_stages }}</span>
												}
											</div>

											<h6 class="mb-2 text-primary">Estimated Hiring Decision Timeframe</h6>
											<p class="mb-4">{{ jobDetails.hiring_timeframe }}</p>

											<h6 class="mb-2 text-primary">Interview Format</h6>
											<div class="d-flex flex-wrap gap-2 mb-4">
												@for (stage of jobDetails.interview_format; track stage) {
												<span class="border border-secondary badge bg-warning text-dark p-2 rounded mb-2 fs-6">
													{{ stage }}
												</span>
												}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						}
						@if(jobDetails?.additional_notes) {
						<div class="row">
							<div class="col-md-12">
								<div class="card-body p-3 p-md-4 bg-secondary-subtle rounded-3">
									<div class="row">
										<div class="col-12 col-md-3 mb-3 mb-md-0">
											<h2 class="fs-3 fw-bold">Additional Notes</h2>
										</div>
										<div class="col-12 col-md-9 font-bold">
											<div [innerHTML]="jobDetails.additional_notes"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						}
					</div>
				</div>
			</div>
			}
			@if(isShowApplyChat) {
			<div class="col-12 d-md-block d-none h-100"
				[ngClass]="{ 'col-md-5 col-lg-4 col-xl-3 overflow-y-auto': showInfo }">
				<uni-job-chat-ui (openInfo)="showInfo = true" [showInfo]="showInfo" [jobDetails]="jobDetails"
					[jobId]="appliedId" [isJobApplied]="false" (closeChat)="isShowApplyChat = false"></uni-job-chat-ui>
			</div>
			}
			<p-drawer #drawerRef [(visible)]="visible" position="right" [style]="{ width: '90vw' }">
				<ng-template #headless>
					<uni-job-chat-ui class="h-100" (openInfo)="showInfo = true" [showInfo]="showInfo" [jobDetails]="jobDetails"
						[jobId]="appliedId" [isJobApplied]="false" (closeChat)="isShowApplyChat = false"></uni-job-chat-ui>
				</ng-template>
			</p-drawer>
		</div>
	</div>
</div>