<div class="card overflow-y-auto h-100">
	<div class="card-body pt-0">
		<div class="row justify-content-center">
			<div class="col-md-2 text-start"></div>
			<div class="col-md-8 text-center">
				<h5 class="select-title mb-1 text-capitalize" tooltipPosition="top" pTooltip="Company List Guidlines">COMPANY LIST GUIDELINES<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
			</div>
			<div class="col-md-2 text-end">
				<button class="btn-rounded btn btn-primary" aria-label="Dismiss alert" type="button" data-close (click)="close()">
					<span aria-hidden="true">X</span>
				</button>
			</div>
		</div>
		<div class="card guidelinecard mb-3 mt-2">
			<div class="card-body">
				<h5>Do's</h5>
				<ol class="lh-lg ps-3">
					<li>Thorough Research: Take the time to thoroughly research each company listed, understanding their industry, mission, and values.</li>
					<li>Tailored Outreach: Personalize your communication with companies, demonstrating your interest and alignment with their goals.</li>
					<li>Highlight Relevant Skills: Showcase your skills and experiences that are relevant to the company and the positions they offer.</li>
					<li>Professional Communication: Maintain a professional tone and demeanor in all interactions with companies, whether through emails, applications, or interviews.</li>
					<li>Utilize Contact Details Appropriately: Use provided contact details responsibly, reaching out only for genuine inquiries or applications related to job opportunities or other relevant matters.</li>
				</ol>
			</div>
		</div>
		<div class="card guidelinecard">
			<div class="card-body">
				<h5>Dont's</h5>
				<ol class="lh-lg ps-3">
					<li>Mass Applications: Avoid sending generic or mass job applications to multiple companies, as this can diminish your credibility and chances of success.</li>
					<li>Overcommunication: Refrain from bombarding companies with excessive inquiries or follow-ups, respecting their time and processes.</li>
					<li>Misrepresentation: Do not misrepresent your skills, experiences, or intentions when contacting or applying to companies.</li>
					<li>Ignoring Job Requirements: Avoid applying to positions for which you do not meet the required qualifications or criteria, as this wastes both your time and the company's.</li>
					<li>Unsolicited Marketing: Do not use company contact details for unsolicited marketing or sales purposes, as this may result in negative consequences for your reputation and future interactions.</li>
				</ol>
			</div>
		</div>
	</div>
</div>
