<div class="card" style="width: 100%; background-color: #FFFFFF; padding: 20px;">
<div [class]="'card card-body'" style="background-color: #B5E331; border-radius:10px 10px 0px 0px !important;">
    <h3 class="sop-border sop-header text-uppercase">Billing</h3>
    <span style="font-size: medium;"> Manage your billing and payment details</span>
</div>
<br>
<div class="container-fluid">
    <label style="font-size: 24px; color: #3C3C3C;" >BILLING FREQUENCY</label>
<div class="row">
    <div class="col-6">
        <div class="card h-full card-body" style="border-radius:0.5px; box-shadow: 1px #C9C9C9;">
            <table class="w-full">
                <tr>
                    <td><h5 class="m-0">Standard Plan</h5></td>
                    <td style="font-size: 27px; color: #9C9C9C;" class="text-end fw-semibold" ><span style="font-size: 35px; color: #9BC329;">999</span><span style="font-size: 27px; color: #9BC329;">.00/</span> 3 Month</td>
                </tr>
                <tr>
                    <td><span style="font-size: 18px;" class="font-primarycolor h3 fw-semibold">Best Value </span></td>
                </tr>
            </table>
            <hr>
            <div >
                <table class="w-full">
                    <tr>
                        <td><label class="m-0"><span style="font-size: 35px; color: #9BC329;" >15 </span> <span style="font-size: 24px; color: #3C3C3C;">Check's</span></label></td>
                        <td  class="text-end fw-semibold"><span style="color: #8F8F8F; font-size: 17px;">Change Plans</span></td>
                    </tr>
                </table>
            </div>
       
        </div>


        <div class="card h-full card-body mt-3" style="border-radius:0.5px;">     
        <table class="w-full">
            <tr>
                <td><label class="m-0" style="font-size: 24pz; color: #3C3C3C;">Check's</label></td>
                <td style="font-size: 17px; color: #D44100;" class="text-end fw-semibold" >15</td>
            </tr>
        </table>
        <hr class="dotedline">
            <table class="w-full">
                <tr>
                    <td><label class="m-0" style="font-size: 24pz; color: #3C3C3C;">Sampl Text</label></td>
                    <td style="font-size: 17px; color: #D44100;" class="text-end fw-semibold" >15</td>
                </tr>
            </table>
            <hr  class="dotedline">
            <table class="w-full">
                <tr>
                    <td><label class="m-0" style="font-size: 24pz; color: #3C3C3C;">Sampl Text</label></td>
                    <td style="font-size: 17px; color: #D44100;" class="text-end fw-semibold" >15</td>
                </tr>
            </table>
            <hr class="dotedline">
            <table class="w-full">
                <tr>
                    <td><label class="m-0" style="font-size: 24pz; color: #3C3C3C;">Sampl Text</label></td>
                    <td style="font-size: 17px; color: #D44100;" class="text-end fw-semibold" >15</td>
                </tr>
            </table>
            <hr  class="dotedline">
            <table class="w-full">
                <tr>
                    <td><label class="m-0" style="font-size: 24pz; color: #3C3C3C;">Sampl Text</label></td>
                    <td style="font-size: 17px; color: #D44100;" class="text-end fw-semibold" >15</td>
                </tr>
            </table>
            <hr class="dotedline">
            <table class="w-full">
                <tr>
                    <td><label class="m-0" style="font-size: 24pz; color: #3C3C3C;">Sampl Text</label></td>
                    <td style="font-size: 17px; color: #D44100;" class="text-end fw-semibold" >15</td>
                </tr>
            </table>
            <hr class="dotedline">
            <table class="w-full">
                <tr>
                    <td><label class="m-0" style="font-size: 24pz; color: #3C3C3C;">Sampl Text</label></td>
                    <td style="font-size: 17px; color: #D44100;" class="text-end fw-semibold" >15</td>
                </tr>
            </table>
    </div>
</div>
<div class="col-6">
    <div class="card h-full card-body" style="border-radius:0.5px; box-shadow: 1px #C9C9C9;">
<label style="font-size: 28px; color: #9BC329;">Pay With Card</label><br>
<span class="mb-4" style="font-size: 18px; color: #A5A5A5;">Lorem ipsum dolor sit, amet consectetur </span>

<form action="">
    <div class="mt-4">
        <label for="CreditCardNumber" style="font-size: 18px; color: #536777;">Card number</label>
        <input id="CreditCardNumber" class="null card-image form-control p-1" type="text" placeholder="2222 4444 8888 0000">
    </div>
    <br><br>
    <div class="mt-4">
        <label or="NameOnCard" style="font-size: 18px; color: #536777;">Name on card</label>
        <input id="NameOnCard" class="form-control p-1" type="text" maxlength="255" placeholder="Enter the name on the card">
    </div>
<br>
    <table>
        <td for="horns">I agree on terms and condition</td>
        <td >Total Amount <span>₹ 999.00</span> </td>
        <!-- <input type="checkbox" id="horns" name="horns"> -->
    </table>
      <div><button class="btn btn-primary  " alt="chat with notification" style="width: 100%; height: 44px; border-radius: 0px; color: #1C1B17;">PAY NOW</button></div>

</form>
    </div>

</div>
</div>
</div>
</div>
