<div class="card readingcard">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="backIcon d-md-flex d-none" (click)="goBack()" role="button">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
							<i class="fa-regular fa-home"></i></h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 routerLink="/pages/founderstool/founderstoollist" role="button" class="mb-0"
							tooltipPosition="top">Founders Tool</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 role="button" class="mb-0" tooltipPosition="top"
							pTooltip="Access resources for starting your business, from ideation to execution.">Startup
							Glossary</h5>
					</div>
					<div>
						<button pButton
							(click)="openVideoPopup()"
							class="how-it-works-button">How it works?<i
								class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-2 align-items-center">
			<div class="col-md-8 col-12 d-flex align-items-center overflow-x-auto order-md-1 order-2 gap-3">
				<h5 class="fw-medium mb-0" *ngFor="let cat of category_dropdown"
					[ngClass]="{ 'selected-category': isSelected(cat.id) }" (click)="filterCat(cat.id)">
					<span style="cursor: pointer">{{ cat.name }}</span>
				</h5>
			</div>
			<div class="col-md-4 col-12 text-md-end text-center order-md-2 order-1">
				<p-inputgroup>
					<p-inputgroup-addon>
						<i class="fa-solid fa-search"></i>
					</p-inputgroup-addon>
					<input type="text" placeholder="Search for a term" pInputText [(ngModel)]="valueNearYouFilter"
						(ngModelChange)="performSearch()" />
				</p-inputgroup>
			</div>
		</div>
	</div>
	<div class="card-body text-start flex-fill overflow-y-auto">
		<div class="container-fluid">
			<div class="row">
				<!-- <div class="col-12 mt-1" *ngFor="let alphabet of groupedTerms | keyvalue">
					<h2 *ngIf="alphabet.key" class="uniprep-secondary">{{ alphabet.key }}</h2>
					<hr />
					<div *ngFor="let term of alphabet.value">
						<h5 style="color: var(--p-primary-500)">{{ term.glossaryterm }}</h5>
						<h6 style="font-size: 0.9rem">{{ term.summary }}</h6>
						<hr />
					</div>
				</div> -->
				<div *ngIf="!isObjectEmpty(groupedTerms); else noResults">
					<div class="col-12 mt-1" *ngFor="let alphabet of groupedTerms | keyvalue">
						<h2 *ngIf="alphabet.key" class="uniprep-secondary">{{ alphabet.key }}</h2>
						<hr />
						<div *ngFor="let term of alphabet.value">
							<h5 style="color: var(--p-primary-500)">
								<ng-container *ngFor="let part of term.glossarytermParts">
									<span [ngClass]="{ 'highlight': part.highlight }">{{ part.word }}</span>
								</ng-container>
							</h5>
							<h6 style="font-size: 0.9rem">
								<ng-container *ngFor="let part of term.summaryParts">
									<span [ngClass]="{ 'highlight': part.highlight }">{{ part.word }}</span>
								</ng-container>
							</h6>
							<hr />
						</div>
					</div>
				</div>
				<ng-template #noResults>
					<div class="d-flex justify-content-center centerDiv">
						<h3>No results found</h3>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
</div>