.selected-category {
  color: var(--secondary-500);
  cursor: pointer;
  font-weight: 700 !important;
}

.card1 {
  border-radius: 10px 10px 0px 0px !important;
  // text-transform: inherit !important;
  background-color: #fafafa;
  border: 1px solid #dfe4f8;
  border-bottom: none !important;
}

.p-input-icon-left {
  width: 85% !important;
}

.card {
  border-top: none !important;
}
.centerDiv{
  position: absolute;
  top: 45%;
}
.highlight {
  background-color: #fffa94;
  font-weight: bold;
}