html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  font-family: "Montserrat !important";
  font-size: 0.95rem;
  --primary-color: #9bc329;
  --secondary-color: #2088f0;
  --warning: #ffc107;
  --card-color: #90b91f;
  --white-color: #fff;
  --danger: red;
  --dark: #000;
}
.no-cursor {
  cursor: default !important;
}
.m-0 {
  margin: 0 !important;
}
.font-primarycolor {
  color: #9bc329 !important;
}
.fit-content {
  width: fit-content;
}
.hover-bg {
  &:hover {
    background-color: #9bc329;
    color: #ffffff;
  }
}
.bg-app {
  background-color: #9bc329;
}
.text-app {
  color: #9bc329;
}
.bold {
  font-weight: 700;
}
.border-dashed-bottom {
  border-bottom: 1px dashed #343a40;
}
.w-full {
  width: 100%
}
.card-img {
  width: 20px;
}
.mr-2 {
  margin-right: 10px;
}
.pointer {
  cursor: pointer;
}
.sop-header {
  font-size: 1.5rem !important;
}
.radius-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.sop-border {
  &:after {
    content: '';
    width: 80%;
    height: 5px;
    display: block;
    margin-top: 10px !important;
    background-color: #9bc329;
    border-radius: 5px;
  }
  &.sop-border-center {
    &:after {
      margin: auto;
    }
  }
}

.g-header-top {
  background-color: #9bc329;
  color: white;
  text-transform: uppercase;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  padding: 5px;
}
.bg-orange {
  background-image: linear-gradient(to right, #fad961 -20%, #eea167 10%, #f76b1c 99%);
}
.btn-orange {
  color: white !important;
  background-image: linear-gradient(92deg, #f5bd1a 5%, #fc7a54 99%);
  .btn-label {
    position: relative;
    left: 10px;
    background: #fc7a54;
    padding: 7px 5px 4px 5px;
    border-radius: 50%;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  }
  .btn-label-dark {
    position: relative;
    left: 10px;
    background: #fc7a54;
    padding: 7px 5px 4px 5px;
    border-radius: 50%;
    box-shadow: rgb(60 64 67 / 35%) 0px 1px 2px 0px,
    rgb(60 64 67 / 20%) 0px 1px 3px 1px;
  }
  .btn-label {
    background: #fc7a54 !important;
  }
}
.btn-orange:hover, .btn-orange:focus {
  filter: brightness(90%);
}
.btn-blue {
  color: white !important;
  background-image: linear-gradient(72deg, #43bcff 2%, #105fdf 98%);
  .btn-label {
    position: relative;
    left: 10px;
    background: #43bcff;
    padding: 7px 5px 4px 5px;
    border-radius: 50%;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  }
  .btn-label-dark {
    position: relative;
    left: 10px;
    background: #43bcff;
    padding: 7px 5px 4px 5px;
    border-radius: 50%;
    box-shadow: rgb(60 64 67 / 35%) 0px 1px 2px 0px,
    rgb(60 64 67 / 20%) 0px 1px 3px 1px;
  }
  .btn-label {
    background: #43bcff !important;
  }
}
.btn-blue:hover, .btn-blue:focus {
  filter: brightness(90%);
}
button {
  &:active, &:focus, &:focus-within {
    box-shadown: unset !important;
    outline: unset !important;
  }
}

.sop {
  .p-dialog {
    overflow: hidden !important;
  }
  .p-dialog-header-icons {
    position: absolute;
    right: -20px;top: -22px;
    button {
      padding: 50px;
      background: #a6c13e !important;
      color: #ffffff;
      .p-dialog-header-close-icon {
        color: #ffffff;
        outline: 2px solid #ffffff;
        border-radius: 50%;
        outline-offset: 5px;
      }
    }
  }
}

.mh-50 {
  min-height: 50px;
  span.p-dropdown-label {
    line-height: 38px;
  }
}