<div class="row h-100 justify-content-center align-items-center text-center">
  <div class="col-12 col-md-10 col-lg-8">
    <h3 class="uniprep-primary text-center">Apply to millions of job opportunities across top companies, industries, and
      locations</h3>
    <form [formGroup]="fG" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="row justify-content-center align-items-center text-center mt-2">
          <div class="col-md-5 col-lg-5 mb-2 mb-md-0 position-relative">
            <span class="p-input-icon-left w-100 position-relative">
              <i class="fa-solid fa-search"
                style="position: absolute; left: -92%; top: 50%; transform: translateY(-50%); z-index: 2;"></i>
              <input type="text" formControlName="what_and" (input)="searchJob($event)"
                class="form-control w-100 rounded-5 border-secondary" style="padding-left: 35px;" pInputText
                placeholder="Search by Job Title" />
            </span>
            <ul *ngIf="filterJobTitle.length > 0" class="dropdown-list">
              <li *ngFor="let job of filterJobTitle" (click)="setJobtitle(job.jobrole)">{{ job.jobrole }}</li>
            </ul>
          </div>
          <div class="col-md-4 col-lg-3 mb-2 mb-md-0 position-relative">
            <span class="p-input-icon-left w-100">
              <i class="fa-solid fa-search"></i>
              <input type="text" formControlName="countryCode" (input)="searchLocation($event)"
                class="form-control w-100 rounded-5 border-gray" pInputText placeholder="Location" />
            </span>
            <ul *ngIf="filteredCity.length > 0" class="dropdown-listc">
              <li *ngFor="let city of filteredCity" (click)="setLocation(city)">
                <div class="d-flex align-items-center gap-2 p-2" role="button">
                  <div class="dropdownimg"><img [src]="city.flag" class="img-fluid" /></div>
                  <div>
                    {{ city.location_name }}
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- <div class="col-md-4 col-lg-3 mb-2 mb-md-0">
                        <span class="p-input-icon-left w-100">
                            <i class="fa-solid fa-search"></i>
                            <input type="text" formControlName="countryCode" (input)="searchLocation($event)" class="form-control w-100"
                                   pInputText placeholder="Location"/>
                        </span>
                        <ul *ngIf="filteredCity.length > 0"  class="dropdown-list">
                            <li *ngFor="let city of filteredCity" >{{ city.location_name }}</li>
                        </ul> -->
          <!-- <p-select [options]="cities"
                                    optionLabel="name"
                                    formControlName="countryCode"
                                    placeholder="Location"
                                    [filter]="true"
                                    filterBy="name"
                                    [showClear]="true"
                                    [appendTo]="'body'"
                                    [style]="{'minWidth': '100%'}"
                                    class="w-100 text-start custom-dropdown">
                            <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="d-flex align-items-center gap-2 custom-selected-item">
                                    <img [src]="selectedOption.flag" alt="Flag"/>
                                    <div class="scrolling-text">
                                        {{ selectedOption.name }}{{ selectedOption.city_name ? ', '+selectedOption.country_name : ''}}
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template let-country pTemplate="item">
                                <div class="d-flex align-items-center gap-2 custom-dropdown-item">
                                    <img [src]="country.flag" alt="Flag"/>
                                    <div class="truncate-text">{{ country.name }}{{ country.city_name ? ', '+country.country_name : ''}}</div>
                                </div>
                            </ng-template>
                        </p-select> -->
          <!-- </div> -->
          <div class="col-md-3 col-lg-2 text-start mt-2 mt-lg-0 d-flex justify-content-center">
            <button pButton type="button" class="btn btn-primary btn-rounded d-flex p-1 align-items-center ps-3"
              type="submit">
              <span class="me-2">Search</span><span class="btn-icon px-2 py-2"><i
                  class="fa-regular fa-magnifying-glass"></i></span>
            </button>
            <!-- <div class="col text-center">
                <button pButton  class="btn btn-danger text-small btn-rounded text-white mt-2 mt-md-0 ms-md-2 p-2 w-100 w-md-auto" type="button" (click)="resetSearch()">Reset</button>
              </div> -->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>