.dropdown-list {
  overflow-y: auto;
  position: absolute;
  border: 1px solid var(--uniprep-secondary);
  list-style: none;
  padding: 0.25rem;
  border-radius: 20px;
  width: 96%;
  text-align: left;
  margin: 0;
  top: 3.5rem;
  max-height: 25vh;
}

.dropdown-list li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.dropdown-listc {
  overflow-y: auto;
  position: absolute;
  border: 1px solid var(--uniprep-primary);
  list-style: none;
  padding: 0.25rem;
  border-radius: 20px;
  width: 96%;
  text-align: left;
  margin: 0;
  top: 3.5rem;
  max-height: 25vh;
}

.dropdown-list li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}


.dropdownimg {
  width: 24px;
  height: 24px;
  display:flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 2px solid var(--uniprep-primaryop10);
    object-fit: cover;
  }
}
