<!-- <div> -->
<div class="container-fluid">
	<div class="row">
		<div class="d-flex justify-content-center align-items-center gap-2">
			<div class="w-50">
				<span class="p-input-icon-left w-100">
					<i class="pi pi-search"></i>
					<input type="text" pInputText placeholder="Search by Title, Skill or Company" />
				</span>
			</div>
			<div>
				<span class="spanButtons"> <i class="fa-regular fa-industry"></i>&nbsp;Industry </span>
			</div>
			<div>
				<span class="spanButtons"> <i class="fa-regular fa-location-dot"></i>&nbsp;Worldwide </span>
			</div>
			<div>
				<button class="btn btn-primary text-small btn-rounded" type="button">
					Search <span class="searchIcon"><i class="fa-regular fa-magnifying-glass"></i></span>
				</button>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->
