<div calss="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h6>Card With Icons</h6>
            <hr>
            <div class="row">
                <div class="col-xl-4 col-sm-6 col-12">
                    <div class="card primary">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="align-self-center float-right">
                                        <i class='pi pi-book cardicn font-large'></i>
                                    </div>
                                    <div class="media-body text-right">
                                        <span>New Posts</span>
                                        <h3>278</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12">
                    <div class="card card-warning">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="align-self-center float-right">
                                        <i class="pi pi-check-circle cardicn font-large"></i>
                                    </div>
                                    <div class="media-body text-right">
                                        <span>New Comments</span>
                                        <h3>156</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12">
                    <div class="card card-secondary-color">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media ">
                                    <div class="align-self-center float-right">
                                        <i class='pi pi-clock cardicn font-large'></i>
                                    </div>
                                    <div class="media-body text-right">
                                        <span>Bounce Rate</span>
                                        <h3>64.89 %</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h6>Dashboard Trending Card With Icons</h6>
            <hr>
            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card card-main">
                        <div class="card-content">
                            <div class="card-body-main">
                                <div class="media">
                                    <div class="align-self-center float-right">
                                        <i class='pi pi-book'></i>
                                    </div>
                                    <div class="media-body text-right">
                                        <span>New Posts</span>
                                        <h3>$ 2,780 <span class="successrate">+ 53 %</span></h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card card-main">
                        <div class="card-content">
                            <div class="card-body-main">
                                <div class="media">
                                    <div class="align-self-center float-right">
                                        <i class="pi pi-check-circle"></i>
                                    </div>
                                    <div class="media-body text-right">
                                        <span>New Comments</span>
                                        <h3>3,500 <span class="successrate">+ 3 %</span></h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card card-main">
                        <div class="card-content">
                            <div class="card-body-main">
                                <div class="media ">
                                    <div class="align-self-center float-right">
                                        <i class='pi pi-clock'></i>
                                    </div>
                                    <div class="media-body text-right">
                                        <span>Bounce Rate</span>
                                        <h3>+ 3,780 <span class="failurerate">- 3 %</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card card-main">
                        <div class="card-content">
                            <div class="card-body-main">
                                <div class="media">
                                    <div class="align-self-center float-right">
                                        <i class="pi pi-check-circle"></i>
                                    </div>
                                    <div class="media-body text-right">
                                        <span>New Comments</span>
                                        <h3>$ 13,780 <span class="successrate">+ 35 %</span></h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h6>Profile Card</h6>
            <hr>
            <div class="mt-2 row profile row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img alt="..." class="card-image" src="../../uniprep-assets/images/img1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img alt="..." class="card-image" src="../../uniprep-assets/images/img2.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional content</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img alt="..." class="card-image" src="../../uniprep-assets/images/img3.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Help & Documentation</h6>
                                    <p class="card-text">Quisque at arcu at turpis lobortis
                                        ultrices. Nullam et accumsan mauris.
                                        Nunc pellentesque in tellus.</p>
                                    <a class="descriptionmore" href="#">Learn More<span><i class='pi pi-caret-right
'></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Developer Resources</h6>
                                    <p class="card-text">Quisque at arcu at turpis lobortis
                                        ultrices. Nullam et accumsan mauris.
                                        Nunc pellentesque in tellus.</p>
                                    <a class="descriptionmore" href="#">Learn More<span><i class='pi pi-caret-right
'></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Community Support</h6>
                                    <p class="card-text">Quisque at arcu at turpis lobortis
                                        ultrices. Nullam et accumsan mauris.
                                        Nunc pellentesque in tellus.</p>
                                    <a class="descriptionmore" href="#">Learn More<span><i class='pi pi-caret-right
'></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Help & Documentation</h6>
                                    <p class="card-text">Quisque at arcu at turpis lobortis
                                        ultrices. Nullam et accumsan mauris.
                                        Nunc pellentesque in tellus.</p>
                                    <a class="descriptionmore" href="#">Learn More<span><i class='pi pi-caret-right
'></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Developer Resources</h6>
                                    <p class="card-text">Quisque at arcu at turpis lobortis
                                        ultrices. Nullam et accumsan mauris.
                                        Nunc pellentesque in tellus.</p>
                                    <a class="descriptionmore" href="#">Learn More<span><i class='pi pi-caret-right
'></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Community Support</h6>
                                    <p class="card-text">Quisque at arcu at turpis lobortis
                                        ultrices. Nullam et accumsan mauris.
                                        Nunc pellentesque in tellus.</p>
                                    <a class="descriptionmore" href="#">Learn More<span><i class='pi pi-caret-right
'></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Help & Documentation</h6>
                                    <p class="card-text">Quisque at arcu at turpis lobortis
                                        ultrices. Nullam et accumsan mauris.
                                        Nunc pellentesque in tellus.</p>
                                    <a class="descriptionmore" href="#">Learn More<span><i class='pi pi-caret-right
'></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Developer Resources</h6>
                                    <p class="card-text">Quisque at arcu at turpis lobortis
                                        ultrices. Nullam et accumsan mauris.
                                        Nunc pellentesque in tellus.</p>
                                    <a class="descriptionmore" href="#">Learn More<span><i class='pi pi-caret-right
'></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Community Support</h6>
                                    <p class="card-text">Quisque at arcu at turpis lobortis
                                        ultrices. Nullam et accumsan mauris.
                                        Nunc pellentesque in tellus.</p>
                                    <a class="descriptionmore" href="#">Learn More<span><i class='pi pi-caret-right
'></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 order-2">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            New User
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="cardimage"><img alt="" src="../../uniprep-assets/images/img1.jpg">
                                    <div class="username">Bushra Ahsani</div>
                                    <div class="userduration">2 hours ago</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="cardimage"><img alt="" src="../../uniprep-assets/images/img2.jpg">
                                    <div class="username">Jhon Doe</div>
                                    <div class="userduration">3 hours ago</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="cardimage"><img alt="" src="../../uniprep-assets/images/img3.jpg">
                                    <div class="username">Martin Jones</div>
                                    <div class="userduration">3 hours ago</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="cardimage"><img alt="" src="../../uniprep-assets/images/img4.jpg">
                                    <div class="username">Arham Jones</div>
                                    <div class="userduration">4 hours ago</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="cardimage"><img alt="" src="../../uniprep-assets/images/img5.jpg">
                                    <div class="username">Damon Aron</div>
                                    <div class="userduration">5 hours ago</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="cardimage"><img alt="" src="../../uniprep-assets/images/img6.jpg">
                                    <div class="username">Arham Jones</div>
                                    <div class="userduration">2 hours ago</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>