.score-sec {
    border: 1px solid var(--p-primary-500);
    padding: 5px 15px;
    border-radius: 15px;
    background-color: white;
}

.overall-sec {
    background: var(--p-sky-500);
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
}

.assessment-card {
    border: 1px solid var(--p-primary-500);
}

.contest-rules-btn {
    padding: 5px 20px;
    border-radius: 15px;
    background: var(--p-primary-50);
    color: var(--p-primary-900);
    cursor: pointer;
}

@media (min-width: 992px) {
    .col-custom-lg-2 {
        flex: 0 0 auto;
        width: 20%;
    }
}