.questions-left {
    display: inline;
    white-space: nowrap; 
}

.quizprogress {
    margin-right: auto;
}

.btn-back,
.btn-quit {
    white-space: nowrap;
}

.text-bold {
    font-weight: bold;
}

.instructionlist li {
    margin-bottom: 20px;
}
.application-text-small {
	color: black;
	font-size: 0.8rem;
	padding-left: 10px;
	padding-right: 10px;
}

.application-border {
	border: 3px solid var(--primary-500);
	border-radius: 5%;
	font-size: 0.8rem;
}

.unselected-border {
	border: 3px solid var(--primary-600);
	border-radius: 5px;
	font-size: 0.8rem;
}

.selected-border {
	background-color: var(--primary-500);
	border: 0;
}

.application-text {
	font-size: 0.8rem;
}
.sub-data {
	font-size: 12px;
}
:host ::ng-deep p-carousel {
	//On later realease of PrimeNG, this can be done programmatically with [showIndicators | showNavigators]="false"
	.p-carousel-indicators {
		display: none !important;
	}

	.p-carousel-next,
	.p-carousel-prev {
		display: none !important;
	}
}
selctedQuizTiny {
	font-size: 10px;
	color: var(--primary-500);
}
.quizprogress {
	.p-progressbar {
		height: 10px;
		margin-top: 5px;
	}
}
.quiznotanswered {
	border: 1px solid #e3e3e3;
	border-radius: 8px;
	width: 100%;
	padding: 8px;
	text-align: start;
	color: #001631;
}

.optionanswered {
	border: 1px solid var(--primary-500);
	border-radius: 8px;
	color: #001631;
}

.optionreviewcorrect {
	border: 1px solid var(--primary-500);
	background: green;
	border-radius: 8px;
	color: var(--p-neutral-50);
}
.answercorct{
	border: 1px solid var(--primary-500);
	background: green;
	border-radius: 8px;
	color: var(--p-neutral-50);
}
.optionreviewwrong {
	border: 1px solid #df3e3e;
	background: #df3e3e;
	border-radius: 8px;
	color: var(--p-neutral-50);
}
.homecardbtnquiz {
	background-color: black;
	color: white;
}
.ellipse-button {
	width: auto;
	padding: 6px 25px;
	height: auto;
	background-color: #f0780e;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: not-allowed;
	font-size: 10px;
}

.desktop {
	display: flex;
}

.primary-btn {
	border-radius: 25px !important;
}

.readButton {
	border-radius: 25px !important;
}

.float-right {
	float: right;
	.warning {
		background-color: var(--secondary-500) !important;
		border-radius: 25px !important;
		color: white;
		font-weight: 300;
		font-size: 10px;
	}
}

.mobile {
	display: none;
}
@media screen and (max-width: 480px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}

.offer {
	color: #df7905;
}

.select-title {
	margin-bottom: 20px;
}

.soon-university {
	margin-top: 20px;
	color: #ff9113;
}
