.overall-sec {
    background: var(--p-sky-500);
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
}
.contest-rules-btn {
    padding: 5px 20px;
    border-radius: 15px;
    background: var(--primary-50);
    color: var(--primary-900);
    cursor: pointer;
}
.leaderboard-sec {
    background: var(--p-green-500);
    padding: 7px 15px;
    border-radius: 15px;
    color: white;
}

.uniprep-secondary {
    color: var(--secondary-500) !important;
}

@media (min-width: 992px) {
    .col-lg-8 {
        width: 64.666667%;
    }
    .col-lg-4 {
        width: 35.333333%;
    }
}