.card-border-none {
  border: none;
}

.form-label {
  font-size: 1.3rem;
}

.mb-7 {
  margin-bottom: 2.5rem;
}


.btn-download {
  background-color: #ed9350 !important;
  border-color: #ed9350 !important;
  color: white !important;
  padding: 0.5rem 1rem !important;

  &:hover {
    background-color: #e68541 !important;
    border-color: #e68541 !important;
  }
}