<div class="card readingcard">
    <ng-container *ngIf="isRecommendationQuestion">
        <div class="card-header border-0 bg-transparent">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="select-title d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="w-100 mb-0" tooltipPosition="top"
                                pTooltip="Access fully and partially funded opportunities for education.">
                                Loan Comparison Tool<i class="questiontooltip fa-solid fa-circle-question"></i>
                            </h5>
                        </div>
                        <div>
                            <button class="how-it-works-button" (click)="
                      openHowItWorksVideoPopup('https://www.youtube.com/embed/5B7AeCCKCKw?si=uUXSoWHIsi3fxJH2')">
                                How it works?<i class="fa-solid fa-play d-md-block d-none"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body text-center flex-fill overflow-y-auto">
            <form [formGroup]="form" class="mt-4">
                <p-carousel [value]="recommendations" [numVisible]="1" [numScroll]="1" [circular]="false"
                    [showNavigators]="false" [showIndicators]="false" [page]="activePageIndex" styleClass="h-100">
                    <ng-template let-recommendation let-i="index" pTemplate="item">
                        <div class="container-fluid py-4">
                            <div class="row justify-content-center">
                                <div class="col-xl-10">
                                    <form [formGroup]="form">
                                        <!-- Additional Details Card -->
                                        <div class="card card-border-none" *ngIf="recommendation.id == 1">
                                            <div class="card-body p-4">
                                                <h2 class="text-center mb-4">Bank Information</h2>
                                                <!-- Bank Name -->
                                                <div class="row mb-3 align-items-center">
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <label class="form-label uniprep-primary fw-bold">What is the name of the loan provider?
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="bankNameList"
                                                            [filter]="true"
                                                            filterBy="name"
                                                            optionLabel="name"
                                                            optionValue="name"
                                                            formControlName="bankname"
                                                            placeholder="Select Bank" [panelStyle]="panelStyle" appendTo="body" styleClass="bank-dropdown">
                                                        </p-dropdown>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="bankNameList"
                                                             [filter]="true"
                                                             filterBy="name"
                                                             optionLabel="name"
                                                             optionValue="name"
                                                             formControlName="compare_bankname"
                                                            placeholder="Select Bank" [panelStyle]="panelStyle" appendTo="body" styleClass="w-100  bank-dropdown">
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="text-danger text-center small"
                                                    *ngIf="(form.get('bankname')?.errors?.required || form.get('compare_bankname')?.errors?.required) && submitted">
                                                    Please select both bank names
                                                </div>
                                                <!-- Your Loan Amount Fees -->
                                                <div class="row mb-3 align-items-center">
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <label class="form-label uniprep-primary fw-bold">What is the total loan amount you are considering from this provider?
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <div class="d-flex gap-2">
                                                            <p-dropdown class="currency-dropdown"
                                                                formControlName="currency"
                                                                [options]="currencyandCountryList" [filter]="true"
                                                                filterBy="currency_code" placeholder="Currency"
                                                                optionLabel="currency_code" optionValue="currency_code"
                                                                [autoDisplayFirst]="false">
                                                            </p-dropdown>
                                                            <input type="number" class="form-control w-100" [min]="100"
                                                                formControlName="loanamount" placeholder="Amount">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <div class="d-flex gap-2">
                                                            <p-dropdown class="currency-dropdown"
                                                                formControlName="compare_currency"
                                                                [options]="currencyandCountryList" [filter]="true"
                                                                filterBy="currency_code" placeholder="Currency"
                                                                optionLabel="currency_code" optionValue="currency_code"
                                                                [autoDisplayFirst]="false">
                                                            </p-dropdown> 
                                                            <input type="number" class="form-control w-100 m-0" [min]="100"
                                                                formControlName="compare_loanamount" placeholder="Amount">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-danger text-center small"
                                                    *ngIf="(form.get('loanamount')?.errors?.required) && submitted">
                                                    Please enter loan amount
                                                </div>
                                                <div class="row mb-3 align-items-center">
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <label class="form-label uniprep-primary fw-bold">In which country will you be studying?
                                                            </label>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="currencyandCountryList"
                                                            optionLabel="country" optionValue="country" [filter]="true"
                                                            filterBy="country" formControlName="location"  appendTo="body"
                                                            placeholder="Select Location" styleClass="w-100">
                                                        </p-dropdown>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="currencyandCountryList"
                                                            optionLabel="country" optionValue="country" [filter]="true"
                                                            filterBy="country" formControlName="compare_location"  appendTo="body"
                                                            placeholder="Select Location" styleClass="w-100">
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="text-danger text-center small"
                                                    *ngIf="(form.get('location')?.errors?.required || form.get('compare_location')?.errors?.required) && submitted">
                                                    Please select both locations
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Loan Details Card -->
                                        <div class="card card-border-none mb-4" *ngIf="recommendation.id == 2">
                                            <div class="card-body p-4">
                                                <h2 class="text-center mb-4">Loan Details</h2>
                                                <div class="row mb-3 align-items-center">
                                                    <div class="col-lg-4 mb-2 text-center">
                                                    </div>
                                                    <div class="col-lg-4 mb-2 text-center">
                                                        <h5 style="color: var(--uniprep-secondary);">Bank Name 1</h5>
                                                        </div>
                                                        <div class="col-lg-4 mb-2 text-center">
                                                          <h5 style="color: var(--uniprep-secondary);">Bank Name 2</h5>
                                                        </div>
                                                </div>
                                                <!-- Country Selection -->
                                                <div class="row mb-3 align-items-center">
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <label class="form-label uniprep-primary fw-bold">What type of interest rate does this loan have?                                                        </label>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="interestedRateTypeList"
                                                           formControlName="interestrate_type"
                                                            placeholder="Fixed/Floating" styleClass="w-100" appendTo="body">
                                                        </p-dropdown>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="interestedRateTypeList"
                                                            formControlName="compare_interestrate_type"
                                                            placeholder="Fixed/Floating" styleClass="w-100"  appendTo="body">
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="text-danger text-center small"
                                                    *ngIf="(form.get('interestrate_type')?.errors?.required || form.get('compare_interestrate_type')?.errors?.required) && submitted">
                                                    Please select both interested type
                                                </div>

                                                <!-- Moratorium Period Selection -->
                                                <div class="row mb-3 align-items-center">
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <label
                                                            class="form-label uniprep-primary fw-bold">What is the interest rate for this loan?</label>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="intersetedRateList"
                                                            appendTo="body"
                                                            formControlName="interestrate" placeholder="Rate"
                                                            styleClass="w-100">
                                                        </p-dropdown>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="intersetedRateList"
                                                            appendTo="body"
                                                            formControlName="compare_interestrate"
                                                            placeholder="Rate" styleClass="w-100">
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="text-danger text-center small"
                                                    *ngIf="(form.get('interestrate')?.errors?.required || form.get('compare_interestrate')?.errors?.required) && submitted">
                                                    Please select both interested rate
                                                </div>

                                                <!-- Specialization Selection -->
                                                <div class="row mb-3 align-items-center">
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <label
                                                            class="form-label uniprep-primary fw-bold">What is the duration of your study period for which the loan will cover expenses?
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="intersetedTermList"
                                                            formControlName="interestterm"  appendTo="body"
                                                            placeholder="Term" styleClass="w-100">
                                                        </p-dropdown>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="intersetedTermList"
                                                            formControlName="compare_interestterm"  appendTo="body"
                                                            placeholder="Term" styleClass="w-100">
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="text-danger text-center small"
                                                    *ngIf="(form.get('interestterm')?.errors?.required || form.get('compare_interestterm')?.errors?.required) && submitted">
                                                    Please select both interested terms
                                                </div>
                                            </div>
                                        </div>
                                        <!--Addtional Details-->
                                        <div class="card card-border-none mb-4" *ngIf="recommendation.id == 3">
                                            <div class="card-body p-4">
                                                <h2 class="text-center mb-4">Addtional Details</h2>
                                                <div class="row mb-3 align-items-center">
                                                    <div class="col-lg-4 mb-2 text-center">
                                                    </div>
                                                    <div class="col-lg-4 mb-2 text-center">
                                                        <h5 style="color: var(--uniprep-secondary);">Bank Name 1</h5>
                                                        </div>
                                                        <div class="col-lg-4 mb-2 text-center">
                                                          <h5 style="color: var(--uniprep-secondary);">Bank Name 2</h5>
                                                        </div>
                                                </div>
                                                <div class="row mb-3 align-items-center">
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <label class="form-label uniprep-primary fw-bold">Study Duration</label>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="studyDurationList"
                                                            formControlName="studyduration"
                                                            placeholder="Months" styleClass="w-100"  appendTo="body">
                                                        </p-dropdown>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="studyDurationList"
                                                            formControlName="compare_studyduration"
                                                            placeholder="Months" styleClass="w-100"  appendTo="body">
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="text-danger text-center small"
                                                    *ngIf="(form.get('studyduration')?.errors?.required || form.get('compare_studyduration')?.errors?.required) && submitted">
                                                    Please select both durations
                                                </div>

                                                <!-- Moratorium Period Selection -->
                                                <div class="row mb-3 align-items-center">
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <label
                                                            class="form-label uniprep-primary fw-bold">What is the moratorium period ?</label>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="moratoriumPeriodList"
                                                           appendTo="body"
                                                            formControlName="moratoriumperiod" placeholder="Period"
                                                            styleClass="w-100">
                                                        </p-dropdown>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="moratoriumPeriodList"
                                                           appendTo="body"
                                                            formControlName="compare_moratoriumperiod"
                                                            placeholder="period" styleClass="w-100">
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="text-danger text-center small"
                                                    *ngIf="(form.get('moratoriumperiod')?.errors?.required || form.get('compare_moratoriumperiod')?.errors?.required) && submitted">
                                                    Please select both period
                                                </div>

                                                <!-- Specialization Selection -->
                                                <div class="row mb-3 align-items-center">
                                                    <div class="col-lg-4" style="text-align: center;">
                                                        <label
                                                            class="form-label uniprep-primary fw-bold">When does the repayment start?</label>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="repaymentLoanList"
                                                            appendTo="body"
                                                            formControlName="loanrepaymentperiod"
                                                            placeholder="Period" styleClass="w-100">
                                                        </p-dropdown>
                                                    </div>
                                                    <div class="col-lg-4 mb-2">
                                                        <p-dropdown [options]="repaymentLoanList"
                                                            appendTo="body"
                                                            formControlName="compare_loanrepaymentperiod"
                                                            placeholder="Period" styleClass="w-100">
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class="text-danger text-center small"
                                                    *ngIf="(form.get('loanrepaymentperiod')?.errors?.required || form.get('compare_loanrepaymentperiod')?.errors?.required) && submitted">
                                                    Please select both repayment periods
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </form>
        </div>
        <div class="card-footer bg-transparent border-0">
            <div class="d-flex justify-content-between mt-2">
                <button pButton type="button" class="btn btn-primary btn-rounded p-1 pe-4"
                    [style.visibility]="activePageIndex == 0 ? 'hidden' : 'visible'" (click)="previous()">
                    <span class="btn-icon px-2 py-2"><i class="fa fa-arrow-left"></i></span>
                    <span class="ms-2">Previous</span>
                </button>
                <button pButton type="button" (click)="next()" *ngIf="activePageIndex <= 1"
                    class="btn btn-primary btn-rounded p-1 ps-4">
                    <span class="me-2">Next</span><span class="btn-icon px-2 py-2"><i
                            class="fa fa-arrow-right"></i></span>
                </button>
                <button pButton type="button" (click)="getRecommendation()" *ngIf="activePageIndex == 2"
                    class="btn btn-success btn-rounded p-1 ps-4">
                    <span class="me-2">Compare</span><span class="btn-icon px-2 py-2">
                        <i class="fa fa-check-circle"></i></span>
                </button>
            </div>
        </div>
    </ng-container>
    <!-- ----------------- Recommandation Response View ----------------- -->
    <ng-container *ngIf="isRecommendationData">
        <div class="card-header border-0 bg-transparent">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 d-flex gap-4">
                    <div class="backIcon d-md-flex d-none" role="button" (click)="goBack()" style="height: auto;">
                        <span class="fa-solid fa-chevron-left"></span>
                    </div>
                    <div class="select-title d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="w-100 mb-0" tooltipPosition="top" pTooltip="">
                                Loan Comparison Tool<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
                        </div>
                        <div>
                            <button class="how-it-works-button">How it works?
                                <i class="fa-solid fa-play d-md-block d-none"></i></button>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <button pButton type="button" (click)="saveRecommadation()"
                            class="btn btn-primary btn-rounded py-2 px-4">
                            <span>History</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body worksans flex-fill overflow-y-auto">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="d-flex justify-content-end gap-3 mb-3">
                        <button pButton type="button" (click)="downloadRecommadation()"
                            class="btn btn-secondary btn-rounded p-1 ps-4">
                            <span class="me-2">Download</span><span class="btn-icon px-2 py-2">
                                <i class="fa-regular fa-download"></i></span>
                        </button>
                        <button pButton type="button" (click)="onSaveRes()"
                            class="btn btn-primary btn-rounded p-1 ps-4">
                            <span class="me-2">Save Response</span><span class="btn-icon px-2 py-2">
                                <i class="fa-regular fa-floppy-disk"></i></span>
                        </button>
                    </div>
                    <div class="card p-3 fs-5" [innerHtml]="recommendationData"></div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="card-footer bg-transparent border-0">
            <div class="text-end">
                <button pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="resetRecommendation()">
                    Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i>
                    </span>
                </button>
            </div>
        </div>
    </ng-container>

    <!-- ----------------- Recommandation Saved Response View ----------------- -->
    <ng-container *ngIf="isRecommendationSavedData">
        <div class="card-header border-0 bg-transparent">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 d-flex gap-4">
                    <div class="backIcon d-md-flex d-none" role="button" (click)="goBack()" style="height: auto;">
                        <span class="fa-solid fa-chevron-left"></span>
                    </div>
                    <div class="select-title d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="w-100 mb-0" tooltipPosition="top" pTooltip="">
                                Loan Comparison Tool<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
                        </div>
                        <div>
                            <button class="how-it-works-button">How it works?
                                <i class="fa-solid fa-play d-md-block d-none"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body text-center flex-fill overflow-y-auto">
            <div class="row mb-0">
                <div *ngFor="let item of recommadationSavedQuestionList; let i=index;"
                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-4 mb-3">
                    <div class="row w-100 m-0 justify-content-center h-100">
                        <div class="card subjectcard" role="button" (click)="showRecommandationData(item.response)">
                            <div class="card-body text-start">
                                <h5 class="fw-bold mb-0">Loan Compare {{i+1}}</h5>
                                <p class="text-small"><b>Bank Name 1 : </b>{{item.bankname}}</p>
                                <p class="text-small"><b>Bank Name 2 : </b>{{item.compare_bankname}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent border-0">
            <div class="text-end">
                <button pButton type="button" class="btn ps-3 btn-quit btn-rounded" (click)="resetRecommendation()">
                    Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i>
                    </span>
                </button>
            </div>
        </div>
    </ng-container>
</div>

<p-dialog [(visible)]="restrict" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false"
    class="restrictionDialog" [breakpoints]="{ '960px': '30vw', '959px': '60vw', '425px': '90vw' }"
    (onHide)="clearRestriction()">
    <div *ngIf="ehitlabelIsShow" class="text-center mt-5 mb-1">
        <img src="../../../uniprep-assets/images/smartloack.png" class="image" width="60" />
        <h3 class="offer">Upgrade Required</h3>
        <p>To access this exclusive module,please upgrade your plan now</p>
        <button pButton type="button"
            class="text-white p-ripple p-button-rounded p-button-warning p-button p-component p-2"
            (click)="upgradePlan()">
            Upgrade Plan<i class="fa fa-arrow-right exhausted-plan-icon"></i>
        </button>
    </div>
    <div *ngIf="!ehitlabelIsShow" class="text-center mt-5 mb-1">
        <img src="../../../uniprep-assets/images/smartloack.png" class="image" width="60" />
        <h3 class="offer">Upgrade Required</h3>
        <p>Please contact {{ orgnamewhitlabel }} Company for access</p>
    </div>
</p-dialog>

<p-dialog [(visible)]="restrict" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false"
    class="restrictionDialog" [breakpoints]="{ '960px': '30vw', '959px': '60vw', '425px': '90vw' }"
    (onHide)="clearRestriction()">
    <div *ngIf="ehitlabelIsShow" class="text-center mt-5 mb-1">
        <img src="../../../uniprep-assets/images/smartloack.png" class="image" width="60" />
        <h3 class="offer">Upgrade Required</h3>
        <p>To access this exclusive module,please upgrade your plan now</p>
        <button pButton type="button"
            class="text-white p-ripple p-button-rounded p-button-warning p-button p-component p-2"
            (click)="upgradePlan()">
            Upgrade Plan<i class="fa fa-arrow-right exhausted-plan-icon"></i>
        </button>
    </div>
    <div *ngIf="!ehitlabelIsShow" class="text-center mt-5 mb-1">
        <img src="{{ orglogowhitelabel }}" class="image" width="60" />
        <h3 class="offer">Upgrade Required</h3>
        <p>Please contact {{ orgnamewhitlabel }} Company for access</p>
    </div>
</p-dialog>