<div class="readingcard card">
	<div class="card-header border-0 bg-transparent">
		<div class="row">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="backIcon d-md-flex d-none" role="button" (click)="goToHome($event)">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="backIcon d-md-flex d-none" role="button" routerLink="/pages/modules/academic-tools">
					<span class="fa-solid fa-home"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div>
						<h5 class="w-100 mb-0" tooltipPosition="top"
							pTooltip="Questions related to the application process are answered"> Academic Tools -
							Nationalized Tests - {{nCategory}}<i
								class="questiontooltip fa-solid fa-circle-question"></i></h5>
					</div>
					<!-- <div>
						<button pButton  class="how-it-works-button" severity="warn" >How it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="card-body text-center d-flex flex-column">
		<div class="row">
			<div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-12 col-12 mb-3" *ngFor="let test of tests">
				<div class="card h-100 subjectcard">
					<div class="card-body d-flex flex-md-column flex-row justify-content-md-between align-items-center">
						<h5 class="text-center mt-3 fw-bold mb-3">{{ test.test_name }}</h5>
						<button pButton *ngIf="!test.result_id" class="how-it-works-button" (click)="goToTest(test.id)">
							&nbsp;&nbsp;&nbsp;&nbsp;Start Quiz &nbsp;&nbsp;<span><i
									class="fa-solid fa-stopwatch"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
						</button>
						<button pButton *ngIf="test.result_id && test.result_value < 8"
							class="how-it-works-button retry-btn" (click)="goToTest(test.id)">
							&nbsp;&nbsp;&nbsp;&nbsp;Retry &nbsp;&nbsp;<span><i
									class="fa-solid fa-stopwatch"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
						</button>
						<button pButton *ngIf="test.result_id && test.result_value >= 8"
							class="completed">&nbsp;&nbsp;&nbsp;&nbsp;Completed&nbsp;&nbsp;&nbsp;&nbsp;</button>
						<button pButton *ngIf="test.result_id && test.result_value >= 8" class="how-it-works-button"
							[routerLink]="['/pages/national-exams', category_id, 'review', test.result_id]">
							&nbsp;&nbsp;&nbsp;&nbsp;Review &nbsp;&nbsp;<span><i
									class="fa-solid fa-list-check"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>