.countrydropdown {
	.countryicon {
		width: 18px;
		height: 18px;
	}
	.countrytext {
		font-size: 12px;
	}
}
::ng-deep p-dropdown
{
	width:100%;
}
::ng-deep .p-dropdown .p-dropdown-label
{
	padding:0.5rem;
	text-align: start;
}
::ng-deep .p-dropdown .p-dropdown-item
{
	text-align: start;
}
.quizbtn {
	font-size: 12px;
	width: 100%;
	border-radius: 100px;
	padding: 0;
	background: var(--uniprep-primary);
	color: white;
	border: none;
	box-shadow: none;
    flex-basis: max-content;
    text-wrap: nowrap;
    padding: 0 10px;
}

.responsiveconatainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	padding: 20px;
}
.responsiveconatainer1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	padding: 20px;
}
// .responsivecard {
// 	flex: 1 1 calc(20% - 1rem); /* Adjust this to fit five cards per row */
// 	box-sizing: border-box;
// 	max-width: calc(20% - 1rem); /* Adjust this to fit five cards per row */
// 	background-color: #fff !important;
// 	border: 3px solid #dfe4f8 !important;
// 	padding: 0;
// }

// .responsivecard img {
// 	max-width: 100%;
// 	height: auto;
// }

.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 10px;
}

.card-content p-dropdown,
.card-content button {
	width: 100%;
}

// @media (max-width: 1200px) {
// 	.responsivecard {
// 		flex: 1 1 calc(25% - 1rem); /* Adjust this to fit four cards per row */
// 		max-width: calc(25% - 1rem); /* Adjust this to fit four cards per row */
// 	}
// }

// @media (max-width: 992px) {
// 	.responsivecard {
// 		flex: 1 1 calc(33.33% - 1rem); /* Adjust this to fit three cards per row */
// 		max-width: calc(33.33% - 1rem); /* Adjust this to fit three cards per row */
// 	}
// }

// @media (max-width: 768px) {
// 	.responsivecard {
// 		flex: 1 1 calc(50% - 1rem); /* Adjust this to fit two cards per row */
// 		max-width: calc(50% - 1rem); /* Adjust this to fit two cards per row */
// 	}
// }

// @media (max-width: 576px) {
// 	.responsivecard {
// 		flex: 1 1 100%; /* Single column on small screens */
// 		max-width: 100%; /* Single column on small screens */
// 	}
// }
.backIcon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--uniprep-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700px;
    .pi-angle-left{
        font-size: 16px;
    }
    margin:10px 20px;
}
.retry-button{
	background-color: red;
	color: #fff;
}

.subjectcard {
	border: 1px solid #f0780c;
	width: 100%;
	margin: 10px 0px;

	.submoduleicon {
		height: 75px;
		width: 75px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		.selectimage {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&:focus {
		background-color: var(--uniprep-primaryop10);
		border: 1px solid var(--uniprep-primary);
	}

	&:hover {
		background-color: var(--uniprep-primaryop10);
		border: 1px solid var(--uniprep-primary);
	}

	// .subjecttitle {
	//   height: 50px;
	//   font-size: 16px;
	// }
}
  
  @media (max-width: 576px) {
	.subjectcard .btn {
	  font-size: 0.9rem; /* Slightly smaller text on very small screens */
	  padding: 8px 10px; /* Adjust padding for a more compact look */
	}
  }