/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");
@import "./uniprep-assets/variables";
@import "./uniprep-assets/bDefault";
@import "./uniprep-assets/primeng";
@import "./uniprep-assets/buttons";
:root {
	--uniprep-primary: rgb(63, 76, 131);
	--uniprep-primarydark: #001631;
	--uniprep-primaryop10: rgba(63, 76, 131, 0.145);
	--uniprep-primaryop30: rgba(63, 76, 131, 0.3);
	--uniprep-secondary: #f0780e;
	--uniprep-secondaryop10: #f0780e25;
	--uniprep-secondaryop30: #f0780e5b;
	--uniprep-primaryhighlight: rgb(69, 82, 163);
	--uniprep-secondaryhighlight: #f6895a;
	--uniprep-tertiary: #ffffff;
	--uniprep-lightgray: #aaaaaa;
	scrollbar-face-color: rgb(63, 76, 131); /* Firefox 63 compatibility */
	scrollbar-track-color: rgba(63, 76, 131, 0.145); /* Firefox 63 compatibility */
	scrollbar-color: rgb(63, 76, 131) rgba(63, 76, 131, 0.145);
	scrollbar-width: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: black;
	transition: none;
	background-color: transparent;
	box-shadow: none;
}

.ngx-loading-logo
{
	height:60px !important;
	top:50% !important;
}

.ngx-foreground-spinner
{
	top:50% !important;
}

.uniprep-primary {
	color: var(--uniprep-primary);
}

.uniprep-primarydark {
	color: var(--uniprep-primarydark);
}

.uniprep-secondary {
	color: var(--uniprep-secondary);
}

.uniprep-primaryhighlight {
	color: var(--uniprep-primaryhighlight);
}

.uniprep-secondaryhighlight {
	color: var(--uniprep-secondaryhighlight);
}

.uniprep-lightgray {
	color: var(--uniprep-lightgray);
}

.worksans {
	font-family: "Work Sans", sans-serif !important;
}

.worksans-semibold {
	font-family: "Work Sans", sans-serif;
	font-weight: 600;
}

.worksans-regular {
	font-family: "Work Sans", sans-serif;
	font-weight: 400;
}

html,
body {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
}
.p-tooltip.p-tooltip-top {
	position: fixed !important;
	z-index: 9999 !important;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: none !important;
	border-radius: 10px !important;
	background-color: #fff !important;
}

::-webkit-scrollbar {
	border-radius: 10px;
	width: 12px !important;
	background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px !important;
	-webkit-box-shadow: none !important;
	background-color: var(--uniprep-primary) !important;
}

p {
	margin-bottom: 1rem;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

span {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

li {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	line-height: 1.3;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.h1,
h1 {
	margin-top: 0;
	font-size: 2.488rem;
}

.h2,
h2 {
	font-size: 2.074rem;
}

.h3,
h3 {
	font-size: 1.728rem;
}

.h4,
h4 {
	font-size: 1.44rem;
}

.h5,
h5 {
	font-size: 1.2rem;
}

.text-small,
small {
	font-size: 0.833rem;
}
.fw-light {
	font-weight: 300 !important;
}

.fw-normal {
	font-weight: 400 !important;
	font-size: 14px;
}

.fw-medium {
	font-weight: 500 !important;
}

.fw-semibold {
	font-weight: 600 !important;
}

.fw-bold {
	font-weight: 700 !important;
}

.fw-extrabold {
	font-weight: 800 !important;
}

.fw-black {
	font-weight: 900 !important;
}

.font-secondarycolor {
	color: #001631;
}

.startbg {
	min-height: 100vh;
	background-image: url(uniprep-assets/images/startbg.png);
	background-position: center;
	background-size: cover;
	overflow-y: auto; /* Allows scrolling if content overflows */
}

.lightmode {
	.lightmodelogo {
		display: inline;
	}
	.darkmodelogo {
		display: none;
	}
	.smalllogowhite {
		display: none;
	}
	.smalllogodark {
		display: none;
	}
	.menuclosed {
		.lightmodelogo {
			display: none;
		}
		.darkmodelogo {
			display: none;
		}
		.smalllogowhite {
			display: inline;
			height: 60px !important;
		}
		.smalllogodark {
			display: none;
		}
	}
}
.darkmode {
	.lightmodelogo {
		display: none;
	}
	.darkmodelogo {
		display: inline;
	}
	.smalllogowhite {
		display: none;
	}
	.smalllogodark {
		display: none;
	}
	.menuclosed {
		.lightmodelogo {
			display: none;
		}
		.darkmodelogo {
			display: none;
		}
		.smalllogowhite {
			display: none;
		}
		.smalllogodark {
			display: inline;
			height: 60px !important;
		}
	}
	.btn-basic {
		color: #fff;
		border-radius: 20px !important;
		border: 1px solid #fff;
		&:hover {
			border: 1px solid #fff;
		}
	}
}
uni-modules {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden; /* Hide overflowing content initially */
	uni-list-sub-modules {
		flex: 1;
		overflow-y: auto; /* Enable vertical scrolling for overflowing content */
		display: flex;
		flex-direction: column;
	}
	uni-question-list {
		flex: 1;
		overflow-y: auto; /* Enable vertical scrolling for overflowing content */
		display: flex;
		flex-direction: column;
	}
}
uni-tutorials {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden;
}

uni-refundpolicy {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden;
}

uni-chat {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden;
	p-card {
		flex: 1;
		overflow-y: auto; /* Enable vertical scrolling for overflowing content */
		display: flex;
		flex-direction: column;
	}
	.chatflexbody {
		flex: 1;
		overflow-y: auto;
	}
}

uni-events {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column;
	overflow: hidden;
	.eventscard {
		flex: 1;
		overflow-y: auto;
	}
	.event-paginator {
		.p-dropdown {
			position: absolute;
			right: 3rem;
		}
		.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
			padding: 0.25rem 1rem;
		}
	}
}

// uni-events {
// 	display: flex;
// 	flex: 1;
// 	height: 100%;
// 	flex-direction: column;
// 	overflow: hidden;

// 	/* Apply scrolling to the eventscard */
// 	.eventscard {
// 	  flex: 1;
// 	  overflow-y: auto; /* Adjust padding as needed */
// 	  position: relative; /* Ensure relative positioning */
// 	  .event-paginator{
// 		position: sticky !important;
// 		bottom: 0;
// 		left: 0;
// 		z-index: 9999;
// 		background-color: #fff;
// 	  }
// 	}
//   }

uni-resource {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden;
}

uni-privacypolicy {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden;
}

uni-termsandcondition {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden;
}

uni-faq {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden;
}

uni-recentlyaddedquestions {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden;
	.eventscard {
		flex: 1;
		overflow-y: auto;
	}
	.event-paginator {
		.p-dropdown {
			position: absolute;
			right: 3rem;
		}
		.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
			padding: 0.25rem 1rem;
		}
	}
}

uni-subscription-history
{
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden;
	.historycard
	{
		flex: 1;
		overflow-y: auto;
	}
}

uni-subscription {
	display: flex;
	flex: 1;
	height: 100%;
	flex-direction: column; /* Ensure flex children stack vertically */
	overflow: hidden;
	uni-subscription-data {
		flex: 1; /* Enable vertical scrolling for overflowing content */
		display: flex;
		flex-direction: column;
		overflow-y: auto;
	}
}
.carousel-container {
	/* Make use of flexbox to occupy available space */
	display: flex;
	flex-direction: column;
	height: 100%; /* Occupy full height of the dialog */
}
.readingcard {
	flex: 1; /* Take the full height within container-fluid */
	overflow-y: auto; /* Enable vertical scrolling */
}

.card {
	border-radius: 15px !important;
	text-transform: inherit !important;
	background-color: #fafafa;
	border: 1px solid #efefef;
	&:hover {
		background-color: #ffffff;
		border: 1px solid #efefef;
	}
}
.countrycard {
	.card-body {
		.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
			background-color: #001631;
			height: 5px;
		}
		.p-carousel .p-carousel-indicators .p-carousel-indicator button {
			background: #ebedf2;
			height: 5px;
		}
		.p-carousel .p-carousel-indicators {
			padding: 0;
		}
	}
}
.btn {
	font-weight: 600 !important;
	border-radius: 10px !important;
}
.text-green {
	color: var(--uniprep-primary) !important;
}
.cb-bottom {
	border-bottom: 2px solid var(--uniprep-primaryhighlight);
}
.cb-top {
	border-top: 2px solid var(--uniprep-primaryhighlight);
}
.btn-primary {
	color: #fff !important;
	background: var(--uniprep-primary);
	border-radius: 10px !important;
	&:disabled {
		background-color: #343a40;
		background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(77, 77, 77) 100%);
		border-color: #343a40;
	}
	&:hover {
		color: #fff !important;
		background: var(--uniprep-primary);
	}
	&:focus {
		color: #fff !important;
		background: var(--uniprep-primary);
		box-shadow: 0 0 0 0.25rem var(--uniprep-primaryop10) !important;
		border-color: var(--uniprep-primary);
	}
}
.btn-secondary {
	color: #fff !important;
	background: var(--uniprep-secondary);
	border-color: #ffa53c !important;
	.btn-icon {
		width: 35px;
		height: 35px;
		background: #b66706;
		margin-left: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
	}
	&:hover {
		color: #fff !important;
		background: var(--uniprep-secondary);
		border-color: var(--uniprep-secondary) !important;
	}
	&:focus {
		color: #fff !important;
		background: var(--uniprep-secondary);
		border-color: var(--uniprep-secondary) !important;
		box-shadow: 0 0 0 0.25rem var(--uniprep-secondaryop10);
	}
}
.btn-tertiary {
	color: #000 !important;
	background: rgb(89, 140, 223);
	background: linear-gradient(0deg, rgba(89, 140, 223, 1) 0%, rgba(186, 222, 242, 1) 100%);
	border-color: #598cdf !important;
	border-radius: 10px !important;
	&:hover {
		color: #000 !important;
		background: rgb(89, 140, 223);
		background: linear-gradient(0deg, rgba(89, 140, 223, 1) 0%, rgba(186, 222, 242, 1) 100%);
		border-color: #badef2 !important;
	}
	&:focus {
		color: #000 !important;
		background: rgb(89, 140, 223);
		background: linear-gradient(0deg, rgba(89, 140, 223, 1) 0%, rgba(186, 222, 242, 1) 100%);
		border-color: #badef2 !important;
		box-shadow: 0 0 0 0.25rem #598cdf80;
	}
}

.btn-quit {
	color: #fff !important;
	background: #df3e3e !important;
	padding: 5px !important;
	border-color: #ffb2b2 !important;
	border-radius: 10px !important;
	.btn-icon {
		width: 35px;
		height: 35px;
		background: #bc1818;
		margin-left: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
	}
	&:hover {
		color: #fff !important;
		background: #df3e3e;
		border-color: #ffb2b2 !important;
	}
	&:focus {
		color: #fff !important;
		background: #df3e3e;
		border-color: #ffb2b2 !important;
		box-shadow: 0 0 0 0.25rem #ffb2b280;
	}
	&:focus-visible {
		color: #fff !important;
		background: #df3e3e !important;
		border-color: #ffb2b2 !important;
		box-shadow: 0 0 0 0.25rem #ffb2b280;
	}
}

.btn-start {
	color: #fff !important;
	background: var(--uniprep-primary) !important;
	padding: 5px !important;
	border-color: var(--uniprep-primaryhighlight) !important;
	border-radius: 10px !important;
	.btn-icon {
		width: 35px;
		height: 35px;
		background: var(--uniprep-primaryhighlight);
		margin-left: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
	}
	&:hover {
		color: #fff !important;
		background: var(--uniprep-primary);
		border-color: var(--uniprep-primaryhighlight) !important;
	}
	&:focus {
		color: #fff !important;
		background: var(--uniprep-primary);
		border-color: var(--uniprep-primaryhighlight) !important;
		box-shadow: 0 0 0 0.25rem var(--uniprep-primaryhighlight) 80;
	}
	&:focus-visible {
		color: #fff !important;
		background: var(--uniprep-primary) !important;
		border-color: var(--uniprep-primaryhighlight) !important;
		box-shadow: 0 0 0 0.25rem var(--uniprep-primaryhighlight) 80;
	}
}

.btn-back {
	color: #fff !important;
	background: #001631 !important;
	padding: 5px 10px !important;
	border-color: #708fb5 !important;
	border-radius: 10px !important;
	.btn-icon {
		width: 35px;
		height: 35px;
		background: #0e3361;
		margin-left: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
	}
	&:hover {
		color: #fff !important;
		background: #001631;
		border-color: #708fb5 !important;
	}
	&:focus {
		color: #fff !important;
		background: #001631;
		border-color: #708fb5 !important;
		box-shadow: 0 0 0 0.25rem #708fb580;
	}
	&:focus-visible {
		color: #fff !important;
		background: #001631 !important;
		border-color: #708fb5 !important;
		box-shadow: 0 0 0 0.25rem #708fb580;
	}
}

.btn-rounded {
	border-radius: 100px !important;
}
.p-paginator {
	background: transparent;
}
.p-overlaypanel .p-overlaypanel-content {
	padding: 0.5rem 1rem;
	// width: 40vh;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
	width: 100%;
}
// .p-dropdown-panel{
//   margin-top: 20%;
//   width: 130%;
// }
.chatreportbox {
	width: auto !important;
	.p-dropdown {
		width: 100%;
	}
}
.p-dialog .p-dialog-footer {
	padding: 0px;
}
.uniprepchat {
	.p-dialog-mask {
		// background: rgb(0 0 0 / 70%);
		// pointer-events:auto;
		.p-dialog {
			.p-dialog-header {
				.p-dialog-header-icon {
					color: #fff;
					margin-right: 10px;
					&:hover {
						color: #001631;
					}
				}
			}
			.p-dialog-content {
				padding: 0px !important;
			}
			.p-dialog-content::-webkit-scrollbar-track {
				-webkit-box-shadow: none !important;
				border-radius: 10px !important;
				background-color: #fff !important;
			}

			.p-dialog-content::-webkit-scrollbar {
				border-radius: 10px;
				width: 8px !important;
				background-color: #fff !important;
			}

			.p-dialog-content::-webkit-scrollbar-thumb {
				border-radius: 10px !important;
				-webkit-box-shadow: none !important;
				background-color: var(--uniprep-primary) !important;
			}
			.p-dialog-footer {
				padding: 10px;
				background: #f5f5f5;
				.p-inputgroup {
					border: 1px solid #e7e7e7 !important;
					input {
						background: transparent;
					}
				}
			}
		}
	}
}
.messages {
	background-color: #f1f1f1;
	padding: 5px 15px;
	margin-left: 40px;
	border-radius: 0 12px 12px 12px;
	max-width: 75%;
	p {
		margin-bottom: 0 !important;
	}
}
.questionvideopopup {
	.p-dialog {
		box-shadow: none;
		.p-dialog-header {
			background: white;
		}
		.p-dialog-content {
			background: white;
		}
	}
}
.btn-login {
	border-radius: 10px !important;
}
.questionmodal {
	.p-dialog-header-icons {
		position: absolute;
		right: 0.5rem;
		top: 1rem;
	}
	.p-dialog-mask {
		background: #00000070;
		backdrop-filter: blur(2px);
	}
	.p-dialog {
		width: 80%;
		.p-dialog-header {
			background: #fff;
			padding: 0 !important;
			margin: 0 !important;
		}
		.p-dialog-footer {
			background: #fff;
			padding: 0 !important;
			margin: 0 !important;
		}
	}
	.p-breadcrumb ul li.p-breadcrumb-chevron {
		color: var(--uniprep-primary) !important;
	}
	.p-breadcrumb {
		ul {
			justify-content: center;
			li {
				.p-menuitem-link .p-menuitem-text {
					color: var(--uniprep-primary);
				}
			}
		}
	}
	.answersection {
		/* Allow the carousel to take up all available space */
		flex: 1;
		overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
		background: var(--uniprep-primaryop10);
		border: 2px solid var(--uniprep-primary);
		border-radius: 20px;
		// .p-carousel .p-carousel-content .p-carousel-prev
		// {
		//   position: absolute;
		//   top: -36%;
		//   left: 30%;
		// }
		// .p-carousel .p-carousel-content .p-carousel-next
		// {
		//   position: absolute;
		//   top: -36%;
		//   right: 30%;
		// }
	}
}
.uniprepchat {
	.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
		color: #ffffff;
		background: var(--uniprep-primary);
	}
	.p-dialog-header {
		padding: 0 !important;
		margin: 0 !important;
		background: var(--uniprep-primary) !important;
	}
	.p-dropdown-panel {
		left: 0 !important;
		max-width: 100% !important;
		margin-top: 0 !important;
	}
	.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
		white-space: inherit;
	}
}

.thankyoupopup {
	.p-dialog-mask {
		.p-dialog {
			background-image: url(/uniprep-assets/images/icons/alert_popup.png);
			background-size: cover;
			background-position: bottom;
			.p-dialog-content {
				background: transparent;
			}
		}
	}
}

.retrypopup {
	.p-dialog-mask {
		.p-dialog {
			background-image: url(/uniprep-assets/images/icons/retry_card.png);
			background-size: cover;
			background-position: bottom;
			.p-dialog-content {
				background: transparent;
			}
		}
	}
}

.p-breadcrumb {
	padding: 0px;
	border: none;
}

.timerpopup {
	.p-dialog-mask {
		.p-dialog {
			.p-dialog-header {
				display: auto;
			}
			.p-dialog-content {
				background-image: url(/uniprep-assets/images/icons/alert_popup.png);
				background-size: contain;
				background-position: bottom;
				background-repeat: no-repeat;
				border-radius: 10px;
			}
		}
	}
}

.select-title {
	background: #1c1b17;
	font-weight: 500;
	width: 65%;
	margin: auto;
	color: #fff;
	padding: 8px 15px 8px 15px;
	border-radius: 0px 0px 10px 10px;
	.questiontooltip {
		position: absolute;
		top: 5px;
		color: var(--uniprep-primary);
		margin-left: 5px;
	}
}
.form-switch .form-check-input:focus {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%233f4c83'/%3e%3c/svg%3e") !important;
}
.form-check-input:focus {
	border-color: var(--uniprep-primary) !important;
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--uniprep-primary) 52 !important;
}
.quizprogress {
	.p-progressbar {
		height: 10px;
		margin-top: 5px;
		.p-progressbar-value {
			background: var(--uniprep-primary);
			border-radius: 100px;
		}
		.p-progressbar-label {
			display: none !important;
		}
	}
}
.accordionpassword {
	.accordion-item {
		border-radius: 20px;
		overflow: hidden;
		border: none;
		background: #fafafa;
		.accordion-button {
			background: transparent;
			color: black;
			box-shadow: none;
		}
		.accordion-body {
			form {
				background: transparent;
			}
		}
	}
}

.notify {
	background-color: transparent !important;
	border: 1px solid #efefef;
}

.navbar {
	transition: 200ms linear;
	background: white;
}
.darksection {
	transition: 200ms linear;
}

.darkmode {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		color: #fff;
	}
	::-webkit-scrollbar-track {
		-webkit-box-shadow: none !important;
		border-radius: 10px !important;
		background-color: #000 !important;
	}
	::-webkit-scrollbar {
		border-radius: 10px;
		width: 12px !important;
		background-color: #000 !important;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 10px !important;
		-webkit-box-shadow: none !important;
		background-color: var(--uniprep-primary) !important;
	}
	.profile-dropdown button {
		color: #fff;
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-background-clip: text;
		-webkit-text-fill-color: white;
		transition: none;
		background-color: transparent;
		box-shadow: none;
	}

	.bg-lightblue {
		background-color: #202124 !important;
	}

	.bg-mediumblue {
		background-color: #121212 !important;
	}

	.bg-darkblue {
		background-color: #000 !important;
	}

	.navbar {
		transition: 200ms linear;
		background: #121212 !important;
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
		}
	}
	.offcanvas {
		background: #000;
		color: #fff;
		.btn-close {
			background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
		}
	}

	.darksection {
		background-color: #121212;
		transition: 200ms linear;
		p {
			color: #b0b0b0 !important;
		}
		.video-gradient {
			background: linear-gradient(to top, #121212, transparent);
		}
		.marquee-imgu {
			filter: brightness(0) invert(1);
		}
		.comparision-card li {
			color: #b0b0b0 !important;
		}
		.featurecard {
			background: #202124 !important;
			.accordion-header button {
				color: #fff !important;
			}
			.accordion-button::after {
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
			}
			.accordion-collapse {
				background: #202124 !important;
			}
			.accordion-button:not(.collapsed) {
				background: #202124 !important;
			}
			.accordion-header button {
				background: #202124;
			}
		}
		.faqcard {
			background: #202124;
			border: 1px solid #202124 !important;
		}

		.faqcard .accordion-button::after {
		}

		.faqcard .accordion-collapse {
			background: #202124 !important;
		}

		.faqcard .accordion-button:not(.collapsed) {
			background: #202124;
			color: white !important;
		}

		/* .faqcard .accordion-button:not(.collapsed)::after
		{
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
		} */

		.faqcard .accordion-header button {
			background: #202124 !important;
			color: #8b939d !important;
		}

		.faqcard .accordion-body {
			color: #8b939d !important;
		}
	}

	#menu-items {
		.menu-item {
			.system-main__apps {
				&:hover {
					background-color: #2e3134 !important;
				}
			}
		}
	}
	.form-switch .form-check-input:focus {
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e") !important;
	}
	.form-switch .form-check-input:checked {
		background-color: var(--uniprep-primary) !important;
		border-color: var(--uniprep-primary) !important;
	}
	.form-check-input:focus {
		border-color: var(--uniprep-primary) !important;
		outline: 0;
		box-shadow: 0 0 0 0.25rem var(--uniprep-primary) 52 !important;
	}
	.accordionpassword {
		.accordion-item {
			border-radius: 20px;
			overflow: hidden;
			border: none;
			background: #202124;
			.accordion-button {
				background: transparent;
				color: white;
				box-shadow: none;
			}
			.accordion-body {
				form {
					label {
						color: white;
					}
				}
			}
		}
	}

	.eventcard {
		border: 1px solid #f0f0f0;
		margin: 10px 0;
		&:hover {
			border: 1px solid var(--uniprep-primary);
			.event-top {
				border-bottom: 1px solid var(--uniprep-primary);
			}
			.event-bottom {
				background-color: var(--uniprep-primaryop10);
			}
			.registerbtn {
				background-color: white !important;
				color: var(--uniprep-primary) !important;
			}
		}
		.eventcomplete {
			color: #000 !important;
		}
		.event-top {
			border-bottom: 1px solid #121212 !important;
			background-color: #2e3134 !important;
			.eventtime {
				background-color: var(--uniprep-primary);
			}
		}
		.event-bottom {
			background-color: #121212 !important;
		}
	}

	.p-overlaypanel {
		background: #202124;
		&::before {
			border-bottom-color: #00000026;
		}
		&::after {
			border-bottom-color: #00000026;
		}
	}
	.notify {
		border: 1px solid #121212;
	}
	.custom-style .item {
		color: #fff;
	}
	.country-text-small {
		color: #fff !important;
	}
	.p-dialog {
		.p-dialog-header {
			background: #121212;
			color: #ffffff;
		}
		.p-dialog-content {
			background: #121212;
			color: #ffffff;
		}
		.p-dialog-footer {
			background: #121212;
			color: #ffffff;
		}
	}
	.p-dropdown {
		background: transparent;
		border: 1px solid;
	}
	.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
		color: var(--uniprep-primary);
		background: #000;
	}
	.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
		color: var(--uniprep-primary) !important;
		background: #2b2e30;
	}
	.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
		background: var(--uniprep-primary);
	}
	.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
		box-shadow: inset 0 0 0 0.15rem var(--uniprep-primary) 80;
	}
	.p-checkbox .p-checkbox-box {
		border: 2px solid #2a2d30;
		background: #000000;
		color: var(--uniprep-primary);
	}
	.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):not(.p-highlight):hover {
		background: var(--uniprep-primary) 80;
	}
	.p-datepicker {
		background: #121212 !important;
		color: #fff;
		.p-datepicker-header {
			background: #121212 !important;
			color: #fff;
		}
		.p-yearpicker-year.p-highlight {
			color: #fff;
			background: var(--uniprep-primary);
		}
	}
	.timertext {
		color: #fff;
	}
	.boxView {
		background-color: #202124;
		color: white !important;
	}
	.p-inputtext {
		color: #fff;
		background: transparent;
		border: 1px solid #2c2e31;
	}
	.p-multiselect.p-multiselect-chip .p-multiselect-token {
		background: var(--uniprep-primary);
		color: #fff;
	}
	.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
		color: #fff !important;
	}
	.p-multiselect-panel {
		background: #121212 !important;
		color: #ffffff;
		.p-multiselect-header {
			border-bottom: 1px solid #292c2e;
			color: #ffffff;
			background: #121212 !important;
			.p-multiselect-items {
				.p-multiselect-item {
					color: #ffffff;
					.p-highlight {
						color: #ffffff;
						background: #2a2d30 !important;
					}
				}
			}
		}
	}
	.p-dropdown-panel {
		background: #121212;
		color: #ffffff;
		.p-dropdown-items {
			.p-dropdown-item {
				margin: 0;
				padding: 0.75rem 1.25rem;
				border: 0 none;
				color: #ffffff;
			}
			.p-highlight {
				color: #fff;
				background: var(--uniprep-primary) !important;
			}
		}
		.p-dropdown-header {
			padding: 0.75rem 1.25rem;
			border-bottom: 1px solid #2e3134;
			color: #ffffff;
			background: #121212;
		}
		.p-inputtext {
			color: #ffffff;
			background: #17181b;
			border: 1px solid #202124;
		}
	}
	.sopwizard {
		.inactiveicon {
			width: 30px;
			margin-right: 15px;
			margin-left: 10px;
			display: none;
		}
		.activeicon {
			width: 30px;
			margin-right: 15px;
			margin-left: 10px;
			display: block !important;
		}
		.active {
			background-color: var(--uniprep-primary) !important;
			p {
				color: #fff;
			}
			.activeicon {
				width: 30px;
				margin-right: 15px;
				margin-left: 10px;
				display: none;
			}
			.inactiveicon {
				display: block;
			}
		}
		li {
			background-color: #3c4043 !important;
			p {
				color: #fff;
			}
		}
		li::after {
			background: #fff !important;
		}
		li:nth-child(1) {
			background-color: #000 !important;
		}
		li:nth-child(1):after {
			background-color: #000 !important;
		}
		li:nth-child(2) {
			background-color: #101113 !important;
		}
		li:nth-child(2):after {
			background-color: #101113 !important;
		}
		li:nth-child(3) {
			background-color: #212325 !important;
		}
		li:nth-child(3):after {
			background-color: #212325 !important;
		}
		li:nth-child(4) {
			background-color: #2e3134 !important;
		}
		li:nth-child(4):after {
			background-color: #2e3134 !important;
		}
		li:nth-child(5):after {
			display: none !important;
		}
		li.active::after {
			background: var(--uniprep-primary) !important;
		}
	}

	.p-inputgroup {
		border: 1px solid #3c4043;
		background: #2e3134;
		color: #fff;
		input {
			color: #fff;
		}
	}
	.menutitle {
		p {
			color: #fff !important;
		}
	}
	.bg-none {
		background-color: transparent !important;
	}
	.nav-link {
		color: #fff !important;
		&.active {
			color: var(--uniprep-primary) !important;
		}
	}
	.text-muted {
		color: #c0c0c0 !important;
	}
	nav {
		background-color: #0e1013;
		color: #fff;
		.p-avatar {
			color: #fff;
			background-color: #2e3134;
			border: 2px solid #5f6368;
		}
		.nme {
			color: #ffffff;
			background-color: #2e3134;
			border: 2px solid #5f6368;
		}
		.dropdown-menu {
			background: #2e3134;
			a {
				color: #fff;
				&:hover {
					background-color: var(--uniprep-primary);
				}
			}
		}
	}
	#watch {
		background-color: #121212 !important;
	}
	#page {
		background-color: #121212 !important;
		#page-container {
			background-color: #17181b !important;
		}
		footer {
			background-color: #0e1013 !important;
			color: #fff !important;
			border: none;
			box-shadow: none !important;
		}
	}
	#sidenav {
		background-color: #121212;
		.system-main__apps {
			&:hover {
				background: #2e3134;
				border-radius: 10px;
			}
		}
		.system-main__name,
		.system-main__icon {
			color: #fff;
		}
	}
	.modal-content {
		background-color: #202124 !important;
	}
	.progress {
		.progress-value {
			background-color: #17181b !important;
		}
		&::after {
			border: 10px solid #2e3134 !important;
		}
	}
	.progress1 {
		.progress1-value {
			background-color: #17181b !important;
		}
		&::after {
			border: 10px solid #2e3134 !important;
		}
	}

	.badge {
		background-color: #2e3134 !important;
	}
	.select-title {
		background-color: #2e3134;
	}
	.search-dropdown {
		background: transparent;
		.p-inputgroup {
			background: #121212;
		}
		.list-group {
			.list-group-item {
				color: #ffffff !important;
				background-color: #202124 !important;
			}
		}
	}
	.country-border {
		border: 2px solid #2e3134 !important;
		border-radius: 5%;
		background: #121212 !important;
	}
	.footer-card {
		background-color: transparent !important;
		border: transparent !important;
		&:hover {
			background-color: transparent !important;
			border: transparent !important;
			.card {
				background: #2e3134 !important;
			}
		}
	}
	.card {
		background-color: #202124 !important;
		border: 1px solid #17181b !important;
		color: #fff;
		.help-shadow {
			background-color: #2e3134 !important;
			&:hover {
				border: 1px solid var(--uniprep-primary) !important;
				background-color: var(--uniprep-primary) !important;
			}
		}
		.containerr {
			background-color: #2e3134 !important;
		}
		.profilecrd {
			background-color: #2e3134 !important;
			border: 1px solid #202124 !important;
			.notify {
				background-color: #3c4043 !important;
				border: 1px solid #2e3134;
			}
		}
		.subjectcard {
			background-color: #17181b !important;
			border: 1px solid #202124 !important;
			&:hover {
				background-color: #2e3134 !important;
				border: 1px solid #202124 !important;
			}
		}
		.scard {
			background-color: #2e3134 !important;
			border: 1px solid #202124 !important;
			&:hover {
				background-color: #17181b !important;
				border: 1px solid #202124 !important;
			}
			.scardPrice {
				color: #fff !important;
			}
			.scardCheck {
				color: #fff !important;
			}
			.scardStart {
				&:hover {
					background-color: #000 !important;
				}
			}
		}
		.accordion-flush {
			.accordion-item {
				background-color: transparent;
				border-color: #414141;
				.accordion-button {
					color: #fff;
				}
			}
		}
		.country {
			color: #fff !important;
		}
		.country.active {
			background-color: #17181b;
		}
		&:hover {
			border: 1px solid #17181b !important;
		}
		.bg-body {
			background-color: #3c4043 !important;
		}
		.p-datatable th {
			color: #fff !important;
			background-color: #202124 !important;
		}
		.p-datatable .p-datatable-tbody > tr {
			background-color: #202124;
		}
		td {
			color: #fff !important;
		}
		.p-datatable {
			td {
				border: 1px solid #383838 !important;
				border-width: 0 0 1px 0 !important;
			}
		}
		span {
			color: #fff;
		}
		h3,
		h4,
		h5 {
			color: #fff !important;
		}
		.title {
			color: #fff !important;
		}
		.card-header {
			background-color: #202124 !important;
			p {
				color: #fff !important;
			}
		}
		.card-footer {
			background: #202124;
		}
	}

	.feature-card {
		background-color: #17181b !important;
		border: 1px solid #202124 !important;
		&:hover {
			border: 1px solid #202124 !important;
			background-color: #2e3134 !important;
		}
		.sop-play {
			background-color: #5f6368 !important;
			&:hover {
				background-color: #202124 !important;
			}
		}
		h5 {
			color: #fff !important;
		}
	}
	.questioncard {
		background-color: #17181b !important;
		border: 1px solid #202124 !important;

		.primary-btn {
			border: 2px solid var(--uniprep-primary);
		}

		&:focus {
			background-color: #2e3134 !important;
			border: 1px solid #202124 !important;
			.primary-btn {
				background-color: #fff !important;
				border: 2px solid var(--uniprep-primary);
			}
		}

		&:hover {
			background-color: #2e3134 !important;
			border: 1px solid #202124 !important;
			.primary-btn {
				background-color: #fff !important;
				border: 2px solid var(--uniprep-primary);
				color: var(--uniprep-primary) !important;
			}
		}

		.questiontext {
			//min-height: -webkit-fill-available;
			height: auto;
		}
	}
	.p-breadcrumb {
		background: transparent;
	}
	.result-card {
		background-color: #17181b !important;
		border: 1px solid #202124 !important;
		&:hover {
			background-color: #2e3134 !important;
			border: 1px solid #202124 !important;
			.icon {
				background-color: #17181b !important;
			}
			.main {
				.type {
					background-color: var(--uniprep-primary) !important;
				}
			}
		}
		.icon {
			background-color: #2e3134;
		}
		.main {
			.type {
				background-color: #2e3134 !important;
			}
		}
	}
	.breadcrumb-item a {
		color: #fff !important;
	}
}
#sidenav {
	width: 235px;
}
@media (max-width: 1499.98px) {
	html,
	body {
		font-size: 12px;
	}
	#sidenav {
		width: 210px;
	}
}

@media (max-width: 1399.98px) {
	html,
	body {
		font-size: 12px;
	}
	#sidenav {
		width: 210px;
	}
}

@media (max-width: 1299.98px) {
	html,
	body {
		font-size: 12px;
	}
	#sidenav {
		width: 200px;
	}
}

@media (max-width: 1199.98px) {
	html,
	body {
		font-size: 12px;
	}
	#sidenav {
		width: 175px;
	}
}

@media (max-width: 991.98px) {
	#sidenav {
		position: absolute !important;
		z-index: 1;
		background: white;
		width: 33%;
		transform: translateX(0) !important;
		display: none;
	}
	.menuclosed {
		display: none;
	}
	.country {
		min-width: 125px !important;
	}
	.bottom-text {
		width: 85% !important;
	}
	.questionmodal {
		.p-dialog {
			width: 95%;
		}
	}
}

@media (max-width: 767.98px) {
	#sidenav {
		position: absolute !important;
		z-index: 1;
		background: white;
		width: 50%;
		transform: translateX(0) !important;
		display: none;
	}
	.menuclosed {
		display: none;
	}
	.country {
		min-width: 125px !important;
	}
	.questionmodal {
		.p-dialog {
			width: 95%;
		}
	}
	.landingmodeswitch {
		position: fixed !important;
		bottom: 1rem;
		right: 2rem !important;
	}
}

@media (max-width: 575.98px) {
	#sidenav {
		position: absolute !important;
		z-index: 1;
		background: white;
		width: 75%;
		transform: translateX(0) !important;
		display: none;
	}
	.menuclosed {
		display: none;
	}
	.country {
		min-width: 125px !important;
	}
	.questionmodal {
		.p-dialog {
			width: 95%;
		}
	}
}
.openlogo {
	display: block;
}
.closedlogo {
	display: none;
}

.menuclosed {
	width: 65px !important;
	transition: width 150ms ease-in-out;
	.openlogo {
		display: none;
	}
	.closedlogo {
		display: block;
	}
	.maintext {
		display: none;
	}
	#menu-items {
		.menu-item {
			.system-main__apps {
				justify-content: center;
			}
			.system-main__name {
				display: none;
			}
		}
	}
}
.btn-basic {
	color: #000;
	border-radius: 20px !important;
	border: 1px solid #000;
	&:hover {
		border: 1px solid #000;
	}
}

.subscriptioncard1 .p-chip,
.subscriptioncard .p-chip {
	background-color: #fff;
	color: #000;
	border: 2px solid var(--uniprep-primary);
	border-radius: 100px;
}

.subscriptiontable .p-datatable th {
	background-color: #fff !important;
	color: #000 !important;
	border-right: none !important;
}

.subscriptiontable .p-datatable .p-datatable-thead > tr > th {
	border: 2px solid #f1f1f1;
	border-width: 0 0 2px 0;
	font-size: 20px;
}

.subscriptioncard1 .p-chip img,
.subscriptioncard .p-chip img {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: -0.5rem;
}

.intel-input .iti {
	width: 100%;
	.iti__flag-container {
		border-right: 1px solid;
		padding: 5px 0;

		.iti__selected-flag {
			border-right: 1px solid;
			padding: 10px;
		}
	}
	.custom {
		border: 1px solid var(--uniprep-primary);
		padding: 15px 5px 15px 60px;
		border-radius: 5px;
		width: 100%;
		height: 3.5rem;
		border-radius: 10px;
		display: flex;
		align-items: center;
		&:focus-visible {
			outline: none;
		}
	}
}
