/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import './uniprep-assets/variables';
@import './uniprep-assets/bDefault';
@import './uniprep-assets/primeng';
@import './uniprep-assets/buttons';

html,
body {
  font-family: "Poppins", sans-serif;
}
p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.3;
}
.card
{
  border-radius: 15px !important;
}
.btn
{
  border-radius:5px !important;
  font-weight:600 !important;
}
.btn-secondary {
  color: #fff;
  background-color: #fda082;
  border-color: #fda082;
  &:hover
  {
    color: #fff;
    background-color: #f18d6d;
    border-color: #f18d6d;
  }
  &:focus
  {
    color: #fff;
    background-color: #f18d6d;
    border-color: #f18d6d;
    box-shadow: 0 0 0 0.25rem rgb(241 141 109 / 50%);
  }
}
.p-overlaypanel .p-overlaypanel-content {
  padding: 1.25rem;
  width: 40vh;
}
.p-dropdown-panel{
  margin-top: 20%;
  width: 130%;
}

.btn-login {
  border-radius: 10px !important;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #ffffff;
  background: #9bc329;
}
.p-dialog-header {
  padding: 0 !important;
  margin: 0 !important;
  background: #9bc329 !important;
}
.p-dropdown-panel {
  left: 0 !important;
  max-width: 100% !important;
}
.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  white-space: inherit;
}
.select-title
{
  background: #000;
  width: 65%;
  margin: auto;
  color: #fff;
  padding: 15px 10px;
  border-radius: 0px 0px 10px 10px;
  .questiontooltip
  {
    position: absolute;
    top: 5px;
    color:#9bc329;
    margin-left: 5px;
  }
}