// // @import "../../../uniprep-assets/buttons";
// // @import "../../../uniprep-assets/cards";

.countrycard {
	.card-header {
		background: transparent;
		text-align: center;
	}
	.card-body {
		.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
			background-color: #001631;
			height: 5px;
		}
	}
	.card-footer {
		background: transparent;
		text-align: center;
		padding-bottom: 0;
		border-top: none;
	}
	.countryicon {
		width: 60px;
	}
	.bottom-text {
		width: auto;
		font-size: 0.9rem;
		font-weight: normal;
		padding: 15px 30px;
		border-radius: 10px 10px 0px 0px;
	}
  .country-text {
  color: var(--uniprep-primary);
  font-weight: 600;
  font-size: 1rem;
}

.country-text-small {
  color: #001631;
  font-weight: 600;
  font-size: 1rem;
}

.country-border {
  border: 2px solid var(--uniprep-primary);
  border-radius: 10px;
  background: var(--uniprep-primaryop10);
}
}

// small progress
$borderWidth: 10px;
$animationTime: 0.5s;
$border-color-default: #efefef;
$border-color-fill: var(--uniprep-secondary);
$size: 100px;
$howManySteps: 100; //this needs to be even.

.progress1 {
  width: $size;
  height: $size;
  line-height: $size;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }

  > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progress1-left {
    left: 0;
  }

  .progress1-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill;
  }

  .progress1-left .progress1-bar {
    left: 100%;
    border-top-right-radius: ($size/2);
    border-bottom-right-radius: ($size/2);
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    //animation: loading-2 1.5s linear forwards 1.8s;
  }

  .progress1-right {
    right: 0;

    .progress1-bar {
      left: -100%;
      border-top-left-radius: ($size/2);
      border-bottom-left-radius: ($size/2);
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      //animation: loading-1 1.8s linear forwards;
    }
  }

  .progress1-value {
    display: flex;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-weight: 300;

    div {
      //margin-top: 10px;
      background-color: var(--uniprep-primary);
      border-radius: 100%;
      padding: 10px;
      color: white;
    }

    span {
      font-size: 12px;
      padding: 20px;
      text-transform: uppercase;
    }
  }
}

/* This for loop creates the necessary css animation names
Due to the split circle of progress-left and progress right, we must use the animations on each side.
*/
@for $i from 1 through $howManySteps {
  $stepName: ($i * (100 / $howManySteps));
  //animation only the left side if below 50%
  @if $i <= ($howManySteps/2) {
    .progress1[data-percentage="#{$stepName}"] {
      .progress1-right .progress1-bar {
        animation: loading-#{$i} $animationTime linear forwards;
      }

      .progress1-left .progress1-bar {
        animation: 0;
      }
    }
  }
  //animation only the right side if above 50%
  @if $i > ($howManySteps/2) {
    .progress1[data-percentage="#{$stepName}"] {
      .progress1-right .progress1-bar {
        animation: loading-#{($howManySteps/2)}
        $animationTime linear forwards; //set the animation to longest animation
      }

      .progress1-left .progress1-bar {
        animation: loading-#{$i -
          ($howManySteps/2)}
        $animationTime linear forwards $animationTime;
      }
    }
  }
}

.trustedbylogo
{
  width: 100%;
  object-fit: contain;
  height: 100%;
  padding:0.5rem 1.5rem;
}

.certificatelock {
  background-image: url(../../../uniprep-assets/images/uniprepcertificate.webp);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
  background-position: center;
  border: 1px solid #343a40;
  height: 100px;
}



// .card-body-main span {
//   margin: 0.4rem 0 0 0 !important;
//   font-weight: 800;
// }
// .trustedcard
// {
//   .card-header
//   {
//     background: transparent;
//     text-align: center;
//     border-bottom:none;
//   }
// }

// .card-main {
//   border-radius: 5px !important;
// }

// .nowrap {
//   white-space: nowrap;
// }

// .logo {
//   height: 25%;
//   width: 25%;
// }

// .img-icon {
//   height: 15%;
//   width: 15%;
// }

// .reading-quiz {
//   height: 90%;
//   width: 90%;
// }

// .share-button-deactivate {
//   height: 100%;
//   width: 100%;
// }

// .title_p {
//   font-size: smaller !important;
//   padding: 0.9rem 0.9rem 0rem 0.9rem;
//   color: var(--uniprep-primary);
// }

// ._title {
//   text-transform: uppercase;
//   font-size: x-small;
//   padding: 0.8rem;
//   background-color: #e1e1e1b3;
//   color: var(--uniprep-primary);
//   border-radius: 5px;
//   box-shadow: rgb(0 0 0 / 15%) 0px 3px 8px;

//   hr {
//     border: none;
//     border-top: 2px dotted #222020;
//     color: #fff;
//     background-color: #fff;
//     height: 1px;
//     width: 100%;
//   }
// }

// ._menu {
//   width: 18rem;
//   margin-left: 3rem;
//   margin-right: 3rem;
//   height: 70%;

//   a {
//     width: 95%;
//     height: 40px;
//     text-align: center;
//     padding-top: 10px;
//   }
// }

// .homecardbtn {
//   padding: 10px !important;
//   color: #fff !important;

//   p {
//     font-size: 14px;
//   }

//   .certificatelocked {
//     color: #3b3b3b;
//   }
// }

// .homecardbtnquiz{
//   background-color: black;
// }

// .terms_p {
//   font-size: small;
//   color: white;
//   background: var(--uniprep-primary);
//   width: 20%;
//   border-radius: 2px;
//   padding-left: 1rem;
// }

// ._terms {
//   min-height: 500px;
// }

// .modal-bg {
//   background-color: rgba(0, 0, 0, 0.35);
// }

// .carousel {
//   max-height: 75px;
//   max-width: 100%;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;
//   margin: auto;
// }

// .border-primary {
//   border: 1px solid var(--uniprep-primary) !important;
// }

// .card-base > .card-icon {
//   text-align: center;
//   position: relative;
// }

// .p-inputgroup {
//   border: 1px solid var(--uniprep-primary);
//   padding: 0 !important;
//   border-radius: 8px;
// }

// .imagecard {
//   z-index: 2;
//   display: block;
//   position: relative;
//   width: 48px;
//   height: 48px;
//   border-radius: 50%;
//   border: 2px solid white;
//   box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
//   0 2px 10px 0 rgba(0, 0, 0, 0.12);
//   margin: 0 auto;
//   color: white;
// }

// .card-base > .card-icon > .card-data {
//   margin-top: -20px;
//   background: darkgray;
//   border-radius: 10%;
//   border: 1px solid gray;
//   padding: 15px 0 0 0;
//   box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
//   0 2px 10px 0 rgba(0, 0, 0, 0.12);
//   min-height: 120px;
// }

// .card-base > .card-icon > .card-data-new {
//   margin-top: -20px;
//   background: gray;
//   border-radius: 10%;
//   border: 1px solid gray;
//   padding: 15px 0 0 0;
//   box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
//   0 2px 10px 0 rgba(0, 0, 0, 0.12);
//   min-height: 120px;
// }

// #widgetCardIcon {
//   background: #defc8b !important;
//   font-size: 28px;
//   line-height: 35px;
// }

// .widgetCardIconOthers {
//   background: var(--uniprep-primary) !important;
//   font-size: 28px;
//   line-height: 35px;
// }

// .box-title {
//   margin-top: 3%;
//   text-align: left;
//   padding: 2px;
//   font-size: 1.2em;
// }

// .card-block {
//   text-align: left !important;
//   align-items: start;
//   align-content: start;
//   color: black;
//   padding: 2px;
//   font-size: 1em;
// }

// .tiny-text {
//   font-size: 0.9rem;
//   color: white;
// }

// .small-text {
//   font-size: 0.8em;
//   color: white;
// }

// $borderWidth: 10px;
// $animationTime: 0.5s;
// $border-color-default: #efefef;
// $border-color-fill: var(--uniprep-primaryhighlight);
// $size: 100px;
// $howManySteps: 100; //this needs to be even.

// .progress {
//   width: $size;
//   height: $size;
//   line-height: $size;
//   background: none;
//   margin: 0 auto;
//   box-shadow: none;
//   position: relative;

//   &:after {
//     content: "";
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     border: $borderWidth solid $border-color-default;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

//   > span {
//     width: 50%;
//     height: 100%;
//     overflow: hidden;
//     position: absolute;
//     top: 0;
//     z-index: 1;
//   }

//   .progress-left {
//     left: 0;
//   }

//   .progress-bar {
//     width: 100%;
//     height: 100%;
//     background: none;
//     border-width: $borderWidth;
//     border-style: solid;
//     position: absolute;
//     top: 0;
//     border-color: $border-color-fill;
//   }

//   .progress-left .progress-bar {
//     left: 100%;
//     border-top-right-radius: ($size/2);
//     border-bottom-right-radius: ($size/2);
//     border-left: 0;
//     -webkit-transform-origin: center left;
//     transform-origin: center left;
//     //animation: loading-2 1.5s linear forwards 1.8s;
//   }

//   .progress-right {
//     right: 0;

//     .progress-bar {
//       left: -100%;
//       border-top-left-radius: ($size/2);
//       border-bottom-left-radius: ($size/2);
//       border-right: 0;
//       -webkit-transform-origin: center right;
//       transform-origin: center right;
//       //animation: loading-1 1.8s linear forwards;
//     }
//   }

//   .progress-value {
//     display: flex;
//     border-radius: 50%;
//     font-size: 1rem;
//     text-align: center;
//     line-height: 20px;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//     width: 100%;
//     background-color: #fff;
//     font-weight: 300;

//     div {
//       //margin-top: 10px;
//       background-color: var(--uniprep-primary);
//       border-radius: 100%;
//       padding: 10px;
//       color: white;
//       width: 50px;
//       height: 50px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }

//     span {
//       font-size: 12px;
//       padding: 20px;
//       text-transform: uppercase;
//     }
//   }

//   .quizcircle {
//     div {
//       background-color: var(--uniprep-secondary);
//     }
//   }
// }

// .card-footer
// {
//   background:transparent !important;
// }
// .country
// {
//   min-width: 175px;
//   padding: 0px;
//   box-sizing: border-box;
//   flex: 1;
//   text-align: center;
//   cursor: pointer;
//   text-transform: uppercase;
// }

// .trustedbylogo
// {
//   width:125px;
// }

// .countryscroll
// {
//     overflow-x: auto;
//     padding: 10px 5px;
// }

// .countryscroll::-webkit-scrollbar {
//   height: 6px !important;
// }



// /* This for loop creates the necessary css animation names
// Due to the split circle of progress-left and progress right, we must use the animations on each side.
// */
// @for $i from 1 through $howManySteps {
//   $stepName: ($i * (100 / $howManySteps));
//   //animation only the left side if below 50%
//   @if $i <= ($howManySteps/2) {
//     .progress[data-percentage="#{$stepName}"] {
//       .progress-right .progress-bar {
//         animation: loading-#{$i} $animationTime linear forwards;
//       }

//       .progress-left .progress-bar {
//         animation: 0;
//       }
//     }
//   }
//   //animation only the right side if above 50%
//   @if $i > ($howManySteps/2) {
//     .progress[data-percentage="#{$stepName}"] {
//       .progress-right .progress-bar {
//         animation: loading-#{($howManySteps/2)}
//         $animationTime linear forwards; //set the animation to longest animation
//       }

//       .progress-left .progress-bar {
//         animation: loading-#{$i -
//           ($howManySteps/2)}
//         $animationTime linear forwards $animationTime;
//       }
//     }
//   }
// }

// .quiz-card {
//   background: var(--uniprep-primaryhighlight);
//   color: white;
//   font-size: 0.8rem;
// }

// .div-wrapper {
//   position: relative;
//   height: 300px;
//   width: 300px;
// }

// .button-bottom {
//   position: absolute;
//   left: 0;
//   bottom: 0;
// }

// .list-group {
//   z-index: 999;
// }


// // small progress
// $borderWidth: 10px;
// $animationTime: 0.5s;
// $border-color-default: #efefef;
// $border-color-fill: #b5e331;
// $size: 70px;
// $howManySteps: 100; //this needs to be even.

// .progress2 {
//   width: $size;
//   height: $size;
//   line-height: $size;
//   background: none;
//   margin: 0 auto;
//   box-shadow: none;
//   position: relative;

//   &:after {
//     content: "";
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     border: $borderWidth solid $border-color-default;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

//   > span {
//     width: 50%;
//     height: 100%;
//     overflow: hidden;
//     position: absolute;
//     top: 0;
//     z-index: 1;
//   }

//   .progress2-left {
//     left: 0;
//   }

//   .progress2-bar {
//     width: 100%;
//     height: 100%;
//     background: none;
//     border-width: $borderWidth;
//     border-style: solid;
//     position: absolute;
//     top: 0;
//     border-color: $border-color-fill;
//   }

//   .progress2-left .progress2-bar {
//     left: 100%;
//     border-top-right-radius: ($size/2);
//     border-bottom-right-radius: ($size/2);
//     border-left: 0;
//     -webkit-transform-origin: center left;
//     transform-origin: center left;
//     //animation: loading-2 1.5s linear forwards 1.8s;
//   }

//   .progress2-right {
//     right: 0;

//     .progress2-bar {
//       left: -100%;
//       border-top-left-radius: ($size/2);
//       border-bottom-left-radius: ($size/2);
//       border-right: 0;
//       -webkit-transform-origin: center right;
//       transform-origin: center right;
//       //animation: loading-1 1.8s linear forwards;
//     }
//   }

//   .progress2-value {
//     display: flex;
//     border-radius: 50%;
//     font-size: 1rem;
//     text-align: center;
//     line-height: 20px;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//     width: 100%;
//     background-color: #fff;
//     font-weight: 300;

//     div {
//       //margin-top: 10px;
//       background-color: #f6d166;
//       border-radius: 100%;
//       padding: 10px;
//       color: white;
//     }

//     span {
//       font-size: 12px;
//       padding: 20px;
//       text-transform: uppercase;
//     }
//   }
// }

// /* This for loop creates the necessary css animation names
// Due to the split circle of progress-left and progress right, we must use the animations on each side.
// */
// @for $i from 1 through $howManySteps {
//   $stepName: ($i * (100 / $howManySteps));
//   //animation only the left side if below 50%
//   @if $i <= ($howManySteps/2) {
//     .progress1[data-percentage="#{$stepName}"] {
//       .progress1-right .progress1-bar {
//         animation: loading-#{$i} $animationTime linear forwards;
//       }

//       .progress1-left .progress1-bar {
//         animation: 0;
//       }
//     }
//   }
//   //animation only the right side if above 50%
//   @if $i > ($howManySteps/2) {
//     .progress1[data-percentage="#{$stepName}"] {
//       .progress1-right .progress1-bar {
//         animation: loading-#{($howManySteps/2)}
//         $animationTime linear forwards; //set the animation to longest animation
//       }

//       .progress1-left .progress1-bar {
//         animation: loading-#{$i -
//           ($howManySteps/2)}
//         $animationTime linear forwards $animationTime;
//       }
//     }
//   }
// }

// //animation
// @for $i from 1 through ($howManySteps/2) {
//   $degrees: (180/ ($howManySteps/2));
//   $degrees: ($degrees * $i);
//   @keyframes loading-#{$i} {
//     0% {
//       -webkit-transform: rotate(0deg);
//       transform: rotate(0deg);
//     }
//     100% {
//       -webkit-transform: rotate($degrees);
//       transform: rotate(#{$degrees}deg);
//     }
//   }
// }

// .modal {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 30px;
// }

// .modal-overlay {
//   background: rgba(0, 0, 0, 0.6);
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   top: 0;
//   left: 0;
// }

// .modal--modal-content {
//   box-shadow: 0 1px 3px 0 rgba(38, 41, 58, 0.06);
//   width: 100%;
//   max-width: 700px;
//   padding: 30px;
//   background: white;
//   position: relative;
// }

// .modal--close-btn {
//   position: absolute;
//   top: -15px;
//   right: -13px;
//   font-size: 18px;
//   color: white;
//   background-color: var(--uniprep-primary);
//   padding: 7px 15px;
//   border-radius: 50%;
//   text-decoration: none;
// }

// .modal--close-btn:hover {
//   background-color: darken(#ebe084, 15%);
//   cursor: pointer;
// }

// .card-round {
//   border-radius: 15px !important;
// }

// .readnow {
//   border-radius: 6px !important;
//   font-size: 0.8rem
// }

// .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
//   width: 2rem;
//   height: 2rem;
//   color: var(--uniprep-primary) !important;
//   border: 0 none;
//   background: transparent;
//   border-radius: 50%;
//   transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
//   margin: 0.5rem;
// }

// .continuecard {
//   border: 2px solid var(--uniprep-primary) !important;
//   padding: 15px 10px;
//   background: var(--uniprep-primaryop10);

//   .progress1 {
//     .progress1-value {
//       div {
//         background-color: var(--uniprep-primary);
//         height: 40px;
//         width: 40px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-size: 0.8rem;
//         font-weight: 500;
//       }
//     }
//   }

//   svg {
//     color: var(--uniprep-primary);
//   }

//   &:hover {
//     background-color: var(--uniprep-primaryop30) !important;
//     border: 2px solid var(--uniprep-primary) !important;
//   }

//   &:focus {
//     background-color: var(--uniprep-primaryop30) !important;
//     border: 2px solid var(--uniprep-primary) !important;
//   }
// }
// .continuecardq {
//   border: 2px solid var(--uniprep-primaryhighlight) !important;
//   padding: 15px;
//   background: #FFEFC9;

//   .progress1 {
//     .progress1-value {
//       div {
//         background-color: var(--uniprep-secondary);
//       }
//     }
//   }

//   svg {
//     color: var(--uniprep-primaryhighlight);
//   }

//   &:hover {
//     background-color: #f2deaf !important;
//     border: 2px solid var(--uniprep-primaryhighlight) !important;
//   }

//   &:focus {
//     background-color: #f2deaf !important;
//     border: 2px solid var(--uniprep-primaryhighlight) !important;
//   }
// }
// .questiontooltip
// {
//   position: absolute;
//   top: 5px;
//   color:var(--uniprep-primary);
//   margin-left: 5px;
//   font-size: 1.5rem;
// }

// .ellipse-button {
//   width: auto;
//   padding: 6px 25px;
//   height: auto;
//   background-color: #f0780e;
//   border-radius: 25px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   cursor: not-allowed;
//   font-size: 10px;
// }
// .bt-1{
//   border-top: 1px solid lightgrey;
// }
// .get-certificate{
//   font-size: 18px;
//   color: #858585;
// }
// .pi-check{
//   color: green;
// }
// .list-data{
//   color: #858585;
//   font-size: 16px;
// }
// .bg-dark{
//   background-color: #273341 !important;
// }
// .border-bottom-none{
//   padding-bottom: 0px !important;
// }
// .br-5{
//   border-radius: 25px !important;
//   background-color: #3F4C83 !important;
// }

// .pb-25{
//   padding-bottom: 130px;
// }
// .h-230{
//   height: 235px;
// }
// .color-grey{
//   color: #7E7E7E;
// }
// .uppercase{
//   text-transform: uppercase;
// }
// .b-25{
//   border-radius: 25px !important;
// }
// .readingData-disable {
//   pointer-events: none;
//   cursor: no-drop;
//   opacity: 0.5;
// }

// .mobile{
//   display: none;
// }

// @media screen and (max-width: 575.98px) {
//   .desktop{
//     display: none;
//   }
//   .trustedbylogo{
//     width: 75px;
//   }
//     .mobile {
//       display: flex;
//     }
//     .countryicon{
//       width: 25px !important;
//       margin-right: 5px;
//     }
//     .d-f{
//       display: flex;
//     }
// }

// .item {
//   width: 100%
// }

// .continue-reading-header{
//   text-align: center;
//   text-transform: uppercase;
// }

// ::ng-deep .country-dropdown {
//   .p-dropdown {
//     border-radius: 25px !important;
//     border: 1px solid #001631;
//   }
// }
