@import "../../../assets/buttons";
@import "../../../assets/cards";

.card-body-main span {
  margin: 0.4rem 0 0 0 !important;
  font-weight: 800;
}

.card-main {
  border-radius: 5px !important;
}

.nowrap {
  white-space: nowrap;
}

.logo {
  height: 25%;
  width: 25%;
}

.img-icon {
  height: 15%;
  width: 15%;
}

.search-icon {
  width: 3%;
}

.reading-quiz {
  height: 90%;
  width: 90%;
}

.share-button-deactivate {
  height: 100%;
  width: 100%;
}

.modal-dialog {
  max-width: 30% !important;
}

.title_p {
  font-size: smaller !important;
  padding: 0.9rem 0.9rem 0rem 0.9rem;
  color: #9bc329;
}

._title {
  text-transform: uppercase;
  font-size: x-small;
  padding: 0.8rem;
  background-color: #e1e1e1b3;
  color: #9bc329;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 15%) 0px 3px 8px;
  hr {
    border: none;
    border-top: 2px dotted #222020;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
  }
}
._menu {
  width: 18rem;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 70%;
  a {
    width: 95%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
  }
}
.card {
  border-color: rgba(0, 0, 0, 0.127);
}
.terms_p {
  font-size: small;
  color: white;
  background: #9bc329;
  width: 20%;
  border-radius: 2px;
  padding-left: 1rem;
}
._terms {
  min-height: 500px;
}
.modal-body {
  position: absolute;
  padding: 0 !important;
}
.modal-header {
  align-self: self-end;
  background-color: transparent !important;
  border-radius: 50%;
  width: 60px !important;
  height: 60px !important;
  margin: -25px -15px 0 0;
  z-index: 9000;
  border-bottom: 0 !important;
  position: relative;
}
.modal-header a {
  padding: 0 !important;
  position: fixed;
}
.modal-content {
  min-height: 490px;
  background-color: #dbdbdb !important;
  overflow: hidden;
  border-color: #9bc329;
}
.modal-bg {
  background-color: rgba(0, 0, 0, 0.35);
}
.carousel {
  height: 100%;
  width: 100%;
  padding: 3px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.border-primary {
  border: 1px solid #9bc329 !important;
}

.card-base > .card-icon {
  text-align: center;
  position: relative;
}

.p-inputgroup {
  border: 1px solid #9bc329;
  padding: 0 !important;
  border-radius: 8px;
}

.imagecard {
  z-index: 2;
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  color: white;
}

.card-base > .card-icon > .card-data {
  margin-top: -20px;
  background: darkgray;
  border-radius: 10%;
  border: 1px solid gray;
  padding: 15px 0 0 0;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  min-height: 120px;
}

.card-base > .card-icon > .card-data-new {
  margin-top: -20px;
  background: gray;
  border-radius: 10%;
  border: 1px solid gray;
  padding: 15px 0 0 0;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  min-height: 120px;
}

#widgetCardIcon {
  background: #defc8b !important;
  font-size: 28px;
  line-height: 35px;
}

.widgetCardIconOthers {
  background: #9bc32a !important;
  font-size: 28px;
  line-height: 35px;
}

.box-title {
  margin-top: 3%;
  text-align: left;
  padding: 2px;
  font-size: 1.2em;
}

.card-block {
  text-align: left !important;
  align-items: start;
  align-content: start;
  color: black;
  padding: 2px;
  font-size: 1em;
}

.tiny-text {
  font-size: 0.9rem;
  color: white;
}

.small-text {
  font-size: 0.8em;
  color: white;
}

$borderWidth: 10px;
$animationTime: 0.5s;
$border-color-default: #efefef;
$border-color-fill: #efb875;
$size: 100px;
$howManySteps: 100; //this needs to be even.

.progress {
  width: $size;
  height: $size;
  line-height: $size;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }

  > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progress-left {
    left: 0;
  }

  .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill;
  }

  .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: ($size/2);
    border-bottom-right-radius: ($size/2);
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    //animation: loading-2 1.5s linear forwards 1.8s;
  }

  .progress-right {
    right: 0;

    .progress-bar {
      left: -100%;
      border-top-left-radius: ($size/2);
      border-bottom-left-radius: ($size/2);
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      //animation: loading-1 1.8s linear forwards;
    }
  }

  .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-weight: 300;

    div {
      //margin-top: 10px;
      background-color: #9bc32a;
      border-radius: 100%;
      padding: 10px;
      color: white;
    }

    span {
      font-size: 12px;
      padding: 20px;
      text-transform: uppercase;
    }
  }
}

.country-text {
  color: #9bc32a;
}
.country-text-small {
  color: black;
  font-size: 0.8rem;
}
.country-border {
  border: 2px solid #9bc32a;
  border-radius: 5%;
}

/* This for loop creates the necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
@for $i from 1 through $howManySteps {
  $stepName: ($i * (100 / $howManySteps));
  //animation only the left side if below 50%
  @if $i <= ($howManySteps/2) {
    .progress[data-percentage="#{$stepName}"] {
      .progress-right .progress-bar {
        animation: loading-#{$i} $animationTime linear forwards;
      }

      .progress-left .progress-bar {
        animation: 0;
      }
    }
  }
  //animation only the right side if above 50%
  @if $i > ($howManySteps/2) {
    .progress[data-percentage="#{$stepName}"] {
      .progress-right .progress-bar {
        animation: loading-#{($howManySteps/2)}
          $animationTime
          linear
          forwards; //set the animation to longest animation
      }

      .progress-left .progress-bar {
        animation: loading-#{$i -
          ($howManySteps/2)}
          $animationTime
          linear
          forwards
          $animationTime;
      }
    }
  }
}

.bottom-text {
  width: auto;
  font-size: 0.8rem;
  font-weight: normal;
  padding: 5px 5px 5px 5px;
}

.quiz-card {
  background: #efb875;
  color: white;
  font-size: 0.8rem;
}

.div-wrapper {
  position: relative;
  height: 300px;
  width: 300px;
}

.button-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.selected-box {
  background: #daeca5;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  padding: 10px;
  border: 1px solid #daeca5;
  border-radius: 8px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.modal-selected-box {
  background: #daeca5;
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  padding: 10px;
  border: 1px solid #daeca5;
  border-radius: 8px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.modal-selected-box-quiz {
  background: #ffefc9;
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  padding: 10px;
  border: 1px solid #ffefc9;
  border-radius: 8px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.un-selected-box {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  padding: 10px;
  border: 1px solid #daeca5;
  border-radius: 8px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.list-group {
  z-index: 999;
}
.search-dropdown {
  position: absolute;
  z-index: 900;
  width: 100%;
}

// small progress
$borderWidth: 10px;
$animationTime: 0.5s;
$border-color-default: #efefef;
$border-color-fill: #f6d166;
$size: 70px;
$howManySteps: 100; //this needs to be even.

.progress1 {
  width: $size;
  height: $size;
  line-height: $size;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }

  > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progress1-left {
    left: 0;
  }

  .progress1-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill;
  }

  .progress1-left .progress1-bar {
    left: 100%;
    border-top-right-radius: ($size/2);
    border-bottom-right-radius: ($size/2);
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    //animation: loading-2 1.5s linear forwards 1.8s;
  }

  .progress1-right {
    right: 0;

    .progress1-bar {
      left: -100%;
      border-top-left-radius: ($size/2);
      border-bottom-left-radius: ($size/2);
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      //animation: loading-1 1.8s linear forwards;
    }
  }

  .progress1-value {
    display: flex;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-weight: 300;

    div {
      //margin-top: 10px;
      background-color: #b5e331;
      border-radius: 100%;
      padding: 10px;
      color: white;
    }

    span {
      font-size: 12px;
      padding: 20px;
      text-transform: uppercase;
    }
  }
}

/* This for loop creates the necessary css animation names
Due to the split circle of progress-left and progress right, we must use the animations on each side.
*/
@for $i from 1 through $howManySteps {
  $stepName: ($i * (100 / $howManySteps));
  //animation only the left side if below 50%
  @if $i <= ($howManySteps/2) {
    .progress1[data-percentage="#{$stepName}"] {
      .progress1-right .progress1-bar {
        animation: loading-#{$i} $animationTime linear forwards;
      }

      .progress1-left .progress1-bar {
        animation: 0;
      }
    }
  }
  //animation only the right side if above 50%
  @if $i > ($howManySteps/2) {
    .progress1[data-percentage="#{$stepName}"] {
      .progress1-right .progress1-bar {
        animation: loading-#{($howManySteps/2)}
          $animationTime
          linear
          forwards; //set the animation to longest animation
      }

      .progress1-left .progress1-bar {
        animation: loading-#{$i -
          ($howManySteps/2)}
          $animationTime
          linear
          forwards
          $animationTime;
      }
    }
  }
}

// small progress
$borderWidth: 10px;
$animationTime: 0.5s;
$border-color-default: #efefef;
$border-color-fill: #b5e331;
$size: 70px;
$howManySteps: 100; //this needs to be even.

.progress2 {
  width: $size;
  height: $size;
  line-height: $size;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }

  > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progress2-left {
    left: 0;
  }

  .progress2-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill;
  }

  .progress2-left .progress2-bar {
    left: 100%;
    border-top-right-radius: ($size/2);
    border-bottom-right-radius: ($size/2);
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    //animation: loading-2 1.5s linear forwards 1.8s;
  }

  .progress2-right {
    right: 0;

    .progress2-bar {
      left: -100%;
      border-top-left-radius: ($size/2);
      border-bottom-left-radius: ($size/2);
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      //animation: loading-1 1.8s linear forwards;
    }
  }

  .progress2-value {
    display: flex;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-weight: 300;

    div {
      //margin-top: 10px;
      background-color: #f6d166;
      border-radius: 100%;
      padding: 10px;
      color: white;
    }

    span {
      font-size: 12px;
      padding: 20px;
      text-transform: uppercase;
    }
  }
}

/* This for loop creates the necessary css animation names
Due to the split circle of progress-left and progress right, we must use the animations on each side.
*/
@for $i from 1 through $howManySteps {
  $stepName: ($i * (100 / $howManySteps));
  //animation only the left side if below 50%
  @if $i <= ($howManySteps/2) {
    .progress1[data-percentage="#{$stepName}"] {
      .progress1-right .progress1-bar {
        animation: loading-#{$i} $animationTime linear forwards;
      }

      .progress1-left .progress1-bar {
        animation: 0;
      }
    }
  }
  //animation only the right side if above 50%
  @if $i > ($howManySteps/2) {
    .progress1[data-percentage="#{$stepName}"] {
      .progress1-right .progress1-bar {
        animation: loading-#{($howManySteps/2)}
          $animationTime
          linear
          forwards; //set the animation to longest animation
      }

      .progress1-left .progress1-bar {
        animation: loading-#{$i -
          ($howManySteps/2)}
          $animationTime
          linear
          forwards
          $animationTime;
      }
    }
  }
}

//animation
@for $i from 1 through ($howManySteps/2) {
  $degrees: (180/ ($howManySteps/2));
  $degrees: ($degrees * $i);
  @keyframes loading-#{$i} {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate($degrees);
      transform: rotate(#{$degrees}deg);
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal--modal-content {
  box-shadow: 0 1px 3px 0 rgba(38, 41, 58, 0.06);
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background: white;
  position: relative;
}

.modal--close-btn {
  position: absolute;
  top: -15px;
  right: -13px;
  font-size: 18px;
  color: white;
  background-color: #9bc329;
  padding: 7px 15px;
  border-radius: 50%;
  text-decoration: none;
}

.modal--close-btn:hover {
  background-color: darken(#ebe084, 15%);
  cursor: pointer;
}
.card-round{
  border-radius: 15px !important;
}

.readnow{
  border-radius: 6px !important;
  font-size: 0.8rem
}

.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
  width: 2rem;
  height: 2rem;
  color: #9bc329 !important;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  margin: 0.5rem;
}