<!--<p-editor [spellcheck]="false" uniEditor [options]="response.response.errors" class="w-full" [(ngModel)]="text">-->
<!--  <ng-template pTemplate="header">-->
<!--  </ng-template>-->
<!--</p-editor>-->
<!--<br>-->
<div class="rounded card card-body shadow-sm search-dropdown">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <img class="search-icon m-2 pr-2 border-end" src="/assets/images/icons/search_icon.svg" />
            <input type="text" pInputText placeholder="ENTER YOUR KEY WORDS HERE" #searchInput (input)="onSearchChange(searchInput.value)">
            <button class="btn-primary" type="button" (click)="searchKeyWord(searchInput)" pButton pRipple
                label="Search"></button>
        </div>
        <ul class="list-group list-group-flush" *ngIf="isSearchResultFound">
            <!-- results of ngFor is passed to appFilter with argument searchText -->
            <li class="list-group-item" *ngFor="let c of searchResult">
                <span class="pr-4">{{c.question}}</span>
            </li>
        </ul>
    </div>
</div>
<div class="row pt-1" style="margin-top: 7%;">
    <h4>Dashboard</h4>
</div>
<div class="card rounded shadow-sm mt-3">
    <!--    <div class="card-header p-3"> <span class="text-lowercase"-->
    <!--            [ngStyle]="{'margin-left':'3%'}"> You have currently selected United Kingdom. If information about UK-->
    <!--            is interesting, check other countries as well</span>.-->
    <!--    </div>-->
    <div class="card-body text-center">
        <h5><strong>SELECTED COUNTRY</strong></h5>
        <div class="row mb-0">
            <!-- <div class="col-md-2 p-3">
                <div class="row justify-content-center">
                    <img class="logo" src="../../../assets/images/india-flag.png" alt="country">
                    <p class="text-dark text-center text-sm text-capitalize">India</p>
                </div>
            </div>
            <div class="col-md-2 p-3">
                <div class="row justify-content-center">
                    <img class="logo" src="../../../assets/images/india-flag.png" alt="country">
                    <p class="text-dark text-center text-sm text-capitalize">India</p>
                </div>
            </div>
            <div class="col-md-2 border border-primary p-3">
                <div class="row justify-content-center">
                    <img class="logo" src="../../../assets/images/india-flag.png" alt="country">
                    <p class="text-dark text-center text-sm text-capitalize">India</p>
                </div>
            </div>
            <div class="col-md-2 p-3">
                <div class="row justify-content-center">
                    <img class="logo" src="../../../assets/images/india-flag.png" alt="country">
                    <p class="text-dark text-center text-sm text-capitalize">India</p>
                </div>
            </div>
            <div class="col-md-2 p-3">
                <div class="row justify-content-center">
                    <img class="logo" src="../../../assets/images/india-flag.png" alt="country">
                    <p class="text-dark text-center text-sm text-capitalize">India</p>
                </div>
            </div>
            <div class="col-md-2 p-3">
                <div class="row justify-content-center">
                    <img class="logo" src="../../../assets/images/india-flag.png" alt="country">
                    <p class="text-dark text-center text-sm text-capitalize">India</p>
                </div>
            </div> -->
            <!--            <div class="col-md-3 mb-2">-->
            <!--                <div class="card h-100 card-body rounded feature-card">-->
            <!--                    <div class="bold">Custom SOP</div>-->
            <!--                    <p class="text-muted">Ace your admission with the ultimate statement of purpose - Get noticed, Get-->
            <!--                        accepted!</p>-->
            <!--                    <div class="sop-play d-flex justify-content-between mb-2 align-items-center">-->
            <!--                        <span>Why SOP Checker?</span>-->
            <!--                        <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36"-->
            <!--                             height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">-->
            <!--                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>-->
            <!--                        </svg>-->
            <!--                    </div>-->
            <!--                    <div class="sop-play d-flex justify-content-between mb-4 align-items-center">-->
            <!--                        <span>How to use SOP Checker? What are the benefits</span>-->
            <!--                        <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36"-->
            <!--                             height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">-->
            <!--                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>-->
            <!--                        </svg>-->
            <!--                    </div>-->
            <!--                    <button class="btn btn-primary">Get Started</button>-->
            <!--                </div>-->
            <!--            </div>-->

            <!--            <div class="col-md-3 mb-2">-->
            <!--                <div class="card h-100 card-body rounded feature-card">-->
            <!--                    <div class="bold">SOP AI Generator</div>-->
            <!--                    <p class="text-muted">Transform your statement of purpose of with AI-powered precision - Craft a-->
            <!--                        winning SOP with ease!</p>-->
            <!--                    <div class="sop-play d-flex justify-content-between mb-2 align-items-center">-->
            <!--                        <span>Why SOP Checker?</span>-->
            <!--                        <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36"-->
            <!--                             height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">-->
            <!--                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>-->
            <!--                        </svg>-->
            <!--                    </div>-->
            <!--                    <div class="sop-play d-flex justify-content-between mb-4 align-items-center">-->
            <!--                        <span>How to use SOP Checker? What are the benefits</span>-->
            <!--                        <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36"-->
            <!--                             height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">-->
            <!--                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>-->
            <!--                        </svg>-->
            <!--                    </div>-->
            <!--                    <button class="btn btn-primary">Get Started</button>-->
            <!--                </div>-->
            <!--            </div>-->

            <!--            <div class="col-md-3 mb-2">-->
            <!--                <div class="card h-100 card-body rounded feature-card">-->
            <!--                    <div class="bold">Custom Scholarship</div>-->
            <!--                    <p class="text-muted">Unleash your full potential with expertly crafter scholarship essays - Win the-->
            <!--                        scholarship you deserve!</p>-->
            <!--                    <div class="sop-play d-flex justify-content-between mb-2 align-items-center">-->
            <!--                        <span>Why SOP Checker?</span>-->
            <!--                        <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36"-->
            <!--                             height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">-->
            <!--                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>-->
            <!--                        </svg>-->
            <!--                    </div>-->
            <!--                    <div class="sop-play d-flex justify-content-between mb-4 align-items-center">-->
            <!--                        <span>How to use SOP Checker? What are the benefits</span>-->
            <!--                        <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36"-->
            <!--                             height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">-->
            <!--                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>-->
            <!--                        </svg>-->
            <!--                    </div>-->
            <!--                    <button class="btn btn-primary">Get Started</button>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>

    </div>
    <div class="row mb-0 justify-content-center text-center">
        <div class="badge bg-dark text-wrap bottom-text" style="">
            You have currently selected United Kingdom. If information about UK is interesting, check other countries as
            well.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-lg-4 p-4">
        <h3><strong>WELCOME TO UNITED KINGDOM</strong></h3>
        <h5>UNIPREP UK information and content in reviewed and accredited by the following entities.</h5>
    </div>
    <div class="col-md-8 col-lg-8 p-4 shadow rounded p-4 bg-white">
        <p-carousel [value]="university" [numVisible]="3" [showIndicators]="false" [numScroll]="1"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-uni pTemplate="item">
                <img class="carousel" src="{{uni.image}}" alt="{{uni.image}}">
            </ng-template>
        </p-carousel>
    </div>
</div>
<div class="mt-2">
    <div class="row">
        <div class="col-md-3 col-lg-3 p-3 d-flex">
            <div class="shadow bg-white rounded-lg p-4">
                <div class="row d-flex">
                    <div class="col-md-12 col-lg-12 d-flex justify-content-center">
                        <div class="card-body rounded text-center d-flex align-content-center quiz-card bg-secondary
                         h-100 ">
                            <div class="row d-flex">
                                <iframe class="p-0 m-0" width="250" height="70"
                                    src="https://www.youtube.com/embed/uRyvNKRkwbs" title="YouTube video player"
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                                         picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <h6><strong>How to use uniprep? (DEMO)</strong></h6>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 p-3 d-flex" (click)="openReading()">
            <div class="shadow bg-white rounded p-4">
                <div class="row">
                    <div class="col-md-6 col-lg-6 d-flex justify-content-center">
                        <img class="reading-quiz" src="/assets/images/icons/start_reading.svg" />

                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="progress" [attr.data-percentage]="readProgressionPercentage">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                                <div>
                                    {{readProgressionPercentage}}%<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6><strong>Reading</strong></h6>
                <div style="text-transform: none">Expand your horizons through reading</div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 p-3 d-flex">
            <div class="shadow bg-white rounded p-4">
                <div class="row">
                    <div class="col-md-6 col-lg-6 d-flex justify-content-center">
                        <img class="reading-quiz" src="/assets/images/icons/start_quiz.svg" />

                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="progress" [attr.data-percentage]="readQuizProgressionPercentage">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                                <div>
                                    {{readQuizProgressionPercentage}}%<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6><strong>Quiz</strong></h6>
                <div style="text-transform: none">Test your global knowledge</div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 p-3 d-flex">
            <div class="shadow bg-white rounded p-4">
                <div class="row">
                    <div class="col-md-6 col-lg-6 d-flex justify-content-center">
                        <img class="reading-quiz" src="/assets/images/icons/cert_deactivate.svg" />
                    </div>
                    <div class="col-md-6 col-lg-6 text-center">
                        <br>
                        <!-- <button pButton type="button" label="Share" icon="pi pi-share-alt" iconPos="right"
                                style="bottom: 0; left: 0;"
                                class="p-button-raised p-button-rounded float-right"></button> -->
                        <img class="reading-quiz" src="/assets/images/icons/share_button_deactivate.svg" />
                    </div>
                </div>
                <h6><strong>Unlock Certificate</strong></h6>
                <div style="text-transform: none;">Complete the final 10% to unlock the certificate.</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-lg-2 p-2">
            <div class="selected-box d-flex flex-column">
                <!--                <span class="pi pi-comments" style="color: #a5c54e; font-size: 2rem"></span>-->
                <img class="img-icon" src="/assets/images/icons/Uniprep_Icons_Most_Popular_Questions.svg" />
                <span class="tiny-text text-dark  pt-2">Ask your personalized<br>Questions</span>

                <div class="row pt-2 mb-0 pb-0">
                    <div class="col-6 text-start">
                        <span style="color: #a5c54e;">{{dashboardCount.personalisedquestioncount}}</span>
                    </div>
                    <div class="col-6">
                        <p class="p-0 m-0 text-start" style="color: black; font-size: 0.8rem;">Added in last 30 days</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 p-2">
            <div class="card-body bg-light un-selected-box d-flex flex-column">
                <img class="img-icon" src="/assets/images/icons/Uniprep_Icons_Recently_Added_Questions.svg" />
                <span class="tiny-text text-dark pt-2">Recently Added <br>Questions</span>

                <div class="row pt-2 mb-0 pb-0">
                    <div class="col-6 text-start">
                        <span style="color: #a5c54e;">{{dashboardCount.recentlyaddedquestion}}</span>
                    </div>
                    <div class="col-6">
                        <p class="p-0 m-0 text-start" style="color: black; font-size: 0.8rem;">Added in last 30 days</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 p-2">
            <div class="card-body bg-light un-selected-box d-flex flex-column">
                <img class="img-icon" src="/assets/images/icons/UniprepIcons_Total_Questions_Asked.svg" />
                <span class="tiny-text text-dark pt-2">Total Questions <br>Answered</span>

                <div class="row pt-2 mb-0 pb-0">
                    <div class="col-6 text-start">
                        <span style="color: #a5c54e;">{{dashboardCount.totalquestioncount}}</span>
                    </div>
                    <div class="col-6">
                        <p class="p-0 m-0 text-start" style="color: black; font-size: 0.8rem;">Questions Answered</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 p-2">
            <div class="card-body bg-light un-selected-box d-flex flex-column">
                <img class="img-icon" src="/assets/images/icons/Uniprep_Icons_recently_added question.svg" />
                <span class="tiny-text text-dark pt-2">Most Popular <br>Questions</span>

                <div class="row pt-2 mb-0 pb-0">
                    <div class="col-6 text-start">
                        <span style="color: #a5c54e;">{{dashboardCount.popularquestioncount}}</span>
                    </div>
                    <div class="col-6">
                        <p class="p-0 m-0 text-start" style="color: black; font-size: 0.8rem;">Questions Answered</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 p-2">
            <div class="card-body bg-light un-selected-box d-flex flex-column">
                <img class="img-icon" src="/assets/images/icons/Uniprep_Icons_Registered_Students_icon.svg" />
                <span class="tiny-text text-dark pt-2">Number of Registered <br>Students</span>

                <div class="row pt-2 mb-0 pb-0">
                    <div class="col-6 text-start">
                        <span style="color: #a5c54e;">{{dashboardCount.registereduser}}</span>
                    </div>
                    <div class="col-6">
                        <p class="p-0 m-0 text-start" style="color: black; font-size: 0.8rem;">Active<br> users</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 p-2">
            <div class="card-body bg-light un-selected-box d-flex flex-column">
                <img class="img-icon" src="/assets/images/icons/Uniprep_Icons_Most_Popular_Questions.svg" />
                <span class="tiny-text text-dark pt-2">Certificate <br>Granted</span>

                <div class="row pt-2 mb-0 pb-0">
                    <div class="col-6 text-start">
                        <span style="color: #a5c54e;">{{dashboardCount.certificate_granted}}</span>
                    </div>
                    <div class="col-6">
                        <p class="p-0 m-0 text-start" style="color: black; font-size: 0.8rem;">Added in last 30 days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-bg" tabindex="-1" role="dialog" [ngStyle]="{ display: continueReading }">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a (click)="closeReading()">
                    <span aria-hidden="true"><img src="../../../assets/images/sop/close.png" /></span>
                </a>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="card _terms">
                        <div class="card-body mt-2">
                            <h4 class="card-title">Terms & Conditions</h4>
                            <p class="card-text terms_p">Last update: 1 November 2022</p>
                            <hr />
                            <div style="font-size: 0.9rem">
                                <p>
                                    <b>Welcome to Project</b><br />
                                    Quisque est nisi, eleifend tristique congue non, sagittis quis
                                    justo. In blandit hendrerit magna, sit amet ullamcorper
                                    sapien. Suspendisse potenti. Vivamus eu lacus ut nulla dapibus
                                    malesuada nec et libero. Ut ultrices risus id eleifend
                                    sagittis.
                                </p>
                                <br />
                                <p>
                                    <b>1. What are Terms and Conditions</b><br />
                                    Sed non dui aliquam, ullamcorper est non, aliquet mauris.
                                    Quisque lacus ligula, dapibus nec dignissim non, tincidunt vel
                                    quam. Etiam porttitor iaculis odio. Cras sagittis nunc lectus,
                                    in condimentum ligula ornare at. Etiam sagittis malesuada
                                    nisl. Duis volutpat ligula ante. Sed cursus, tortor a
                                    pellentesque pulvinar, lorem ipsum gravida elit, id posuere
                                    elit neque in est. Mauris ex justo, tincidunt at suscipit
                                    quis, pretium a mi. Quisque consequat nisl nulla, dignissim
                                    gravida ipsum ultrices et. Morbi pharetra non massa at cursus.
                                    Vivamus convallis dui eu nisl blandit, vel convallis nisi
                                    dapibus.
                                </p>
                                <br />
                                <p>
                                    <b>A. What to include in a Terms and Conditions</b><br />
                                    tiam rhoncus quis eros eget fringilla. Etiam malesuada enim
                                    laoreet nibh euismod, eu finibus elit finibus. Duis ornare
                                    tempus purus. Nam at leo quis tortor congue dignissim. Sed non
                                    varius erat. Nulla vel nibh eu risus cursus vulputate nec ac
                                    elit.
                                </p>
                                <br />
                                <p>
                                    <b>B. Is a Terms and Conditions required?</b><br />
                                    roin efficitur vestibulum molestie. Nam urna justo, ornare
                                    commodo sem eget, pretium lobortis nisi. Curabitur ac felis
                                    pharetra nunc molestie semper quis eu mauris. Aliquam mollis,
                                    arcu in blandit cursus, lacus est aliquam dui, vitae suscipit
                                    orci massa.
                                </p>
                                <p>
                                    <b>2. What are Terms and Conditions</b><br />
                                    Sed non dui aliquam, ullamcorper est non, aliquet mauris.
                                    Quisque lacus ligula, dapibus nec dignissim non, tincidunt vel
                                    quam. Etiam porttitor iaculis odio. Cras sagittis nunc lectus,
                                    in condimentum ligula ornare at. Etiam sagittis malesuada
                                    nisl. Duis volutpat ligula ante. Sed cursus, tortor a
                                    pellentesque pulvinar, lorem ipsum gravida elit, id posuere
                                    elit neque in est. Mauris ex justo, tincidunt at suscipit
                                    quis, pretium a mi. Quisque consequat nisl nulla, dignissim
                                    gravida ipsum ultrices et. Morbi pharetra non massa at cursus.
                                    Vivamus convallis dui eu nisl blandit, vel convallis nisi
                                    dapibus.
                                </p>
                                <br />
                                <p>
                                    <b>3. Is a Terms and Conditions required?</b><br />
                                    roin efficitur vestibulum molestie. Nam urna justo, ornare
                                    commodo sem eget, pretium lobortis nisi. Curabitur ac felis
                                    pharetra nunc molestie semper quis eu mauris. Aliquam mollis,
                                    arcu in blandit cursus, lacus est aliquam dui, vitae suscipit
                                    orci massa.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>