<!--<p-editor [spellcheck]="false" uniEditor [options]="response.response.errors" class="w-full" [(ngModel)]="text">-->
<!--  <ng-template pTemplate="header">-->
<!--  </ng-template>-->
<!--</p-editor>-->
<!--<br>-->
<div class="rounded card card-body shadow-sm">
  <h3>Welcome!</h3>
  <div class="row mb-0">
    <div class="col-md-9 text-muted">Make the right move with your service choice - Choose wisely, embark on a successful study abroad journey.</div>
  </div>
</div>
<div class="card rounded shadow-sm mt-3">
  <div class="card-header p-3">Please choose the service you would like to avail</div>
  <div class="card-body">
    <div class="row mb-0">
      <div class="col-md-3 mb-2">
        <div class="card h-100 card-body rounded feature-card">
          <div class="bold">SOP Checker</div>
          <p class="text-muted">Let the experts analyze and evaluate the content, structure, and quality of your SOP - Perfect your statement, Perfect your future.</p>
          <div class="sop-play d-flex justify-content-between mb-2 align-items-center">
            <span>Why SOP Checker?</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36" height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
          </div>
          <div class="sop-play d-flex justify-content-between mb-4 align-items-center">
            <span>How to use SOP Checker? What are the benefits</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36" height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
          </div>
          <button class="btn btn-primary">Get Started</button>
        </div>
      </div>

      <div class="col-md-3 mb-2">
        <div class="card h-100 card-body rounded feature-card">
          <div class="bold">Custom SOP</div>
          <p class="text-muted">Ace your admission with the ultimate statement of purpose - Get noticed, Get accepted!</p>
          <div class="sop-play d-flex justify-content-between mb-2 align-items-center">
            <span>Why SOP Checker?</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36" height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
          </div>
          <div class="sop-play d-flex justify-content-between mb-4 align-items-center">
            <span>How to use SOP Checker? What are the benefits</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36" height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
          </div>
          <button class="btn btn-primary">Get Started</button>
        </div>
      </div>

      <div class="col-md-3 mb-2">
        <div class="card h-100 card-body rounded feature-card">
          <div class="bold">SOP AI Generator</div>
          <p class="text-muted">Transform your statement of purpose of with AI-powered precision - Craft a winning SOP with ease!</p>
          <div class="sop-play d-flex justify-content-between mb-2 align-items-center">
            <span>Why SOP Checker?</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36" height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
          </div>
          <div class="sop-play d-flex justify-content-between mb-4 align-items-center">
            <span>How to use SOP Checker? What are the benefits</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36" height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
          </div>
          <button class="btn btn-primary">Get Started</button>
        </div>
      </div>

      <div class="col-md-3 mb-2">
        <div class="card h-100 card-body rounded feature-card">
          <div class="bold">Custom Scholarship</div>
          <p class="text-muted">Unleash your full potential with expertly crafter scholarship essays - Win the scholarship you deserve!</p>
          <div class="sop-play d-flex justify-content-between mb-2 align-items-center">
            <span>Why SOP Checker?</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36" height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
          </div>
          <div class="sop-play d-flex justify-content-between mb-4 align-items-center">
            <span>How to use SOP Checker? What are the benefits</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="min-width: 36px; min-height: 36px" width="36" height="36" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16  16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
          </div>
          <button class="btn btn-primary">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</div>