// // @import "../../../uniprep-assets/buttons";
// // @import "../../../uniprep-assets/cards";

.countrycard {
  .card-header {
    background: transparent;
    text-align: center;
  }

  .card-body {
    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
      background-color: #001631;
      height: 5px;
    }
  }

  .card-footer {
    background: transparent;
    text-align: center;
    padding-bottom: 0;
    border-top: none;
  }

  .countryicon {
    width: 60px;
  }

  .bottom-text {
    width: auto;
    font-size: 0.9rem;
    font-weight: normal;
    padding: 15px 30px;
    border-radius: 10px 10px 0px 0px;
  }

  .country-text {
    color: var(--uniprep-primary);
    font-weight: 600;
    font-size: 1rem;
  }

  .country-text-small {
    color: #001631;
    font-weight: 600;
    font-size: 1rem;
  }

  .country-border {
    border: 2px solid var(--uniprep-primary);
    border-radius: 10px;
    background: var(--uniprep-primaryop10);
  }
}
.fav-card {
  .card-header {
    background: transparent;
    text-align: center;
  }

  .card-body {
    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
      background-color: var(--uniprep-primary);
      height: 5px;
    }
  }

  .card-footer {
    background: transparent;
    text-align: center;
    padding-bottom: 0;
    border-top: none;
  }

  .countryicon {
    width: 60px;
  }

  .bottom-text {
    width: auto;
    font-size: 0.9rem;
    font-weight: normal;
    padding: 15px 30px;
    border-radius: 10px 10px 0px 0px;
  }

  .country-text {
    color: var(--uniprep-primarylight);
    font-weight: 600;
    font-size: 1rem;
  }

  .country-text-small {
    color: #001631;
    font-weight: 600;
    font-size: 1rem;
  }

  .country-border {
    border: 1px solid var(--uniprep-primarylight);
    border-radius: 10px;
    background: var(--uniprep-primaryop10);
  }
}
// small progress
$borderWidth: 10px;
$animationTime: 0.5s;
$border-color-default: #efefef;
$border-color-fill: var(--uniprep-secondary);
$size: 100px;
$howManySteps: 100; //this needs to be even.

.progress1 {
  width: $size;
  height: $size;
  line-height: $size;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }

  > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progress1-left {
    left: 0;
  }

  .progress1-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill;
  }

  .progress1-left .progress1-bar {
    left: 100%;
    border-top-right-radius: ($size/2);
    border-bottom-right-radius: ($size/2);
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    //animation: loading-2 1.5s linear forwards 1.8s;
  }

  .progress1-right {
    right: 0;

    .progress1-bar {
      left: -100%;
      border-top-left-radius: ($size/2);
      border-bottom-left-radius: ($size/2);
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      animation: loading-1 1.8s linear forwards;
    }
  }

  .progress1-value {
    display: flex;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-weight: 300;

    div {
      //margin-top: 10px;
      background-color: var(--uniprep-primary);
      border-radius: 100%;
      padding: 10px;
      color: white;
    }

    span {
      font-size: 12px;
      padding: 20px;
      text-transform: uppercase;
    }
  }
}

/* This for loop creates the necessary css animation names
Due to the split circle of progress-left and progress right, we must use the animations on each side.
*/
@for $i from 1 through $howManySteps {
  $stepName: ($i * (100 / $howManySteps));
  //animation only the left side if below 50%
  @if $i <= ($howManySteps/2) {
    .progress1[data-percentage="#{$stepName}"] {
      .progress1-right .progress1-bar {
        animation: loading-#{$i} $animationTime linear forwards;
      }

      .progress1-left .progress1-bar {
        animation: 0;
      }
    }
  }
  //animation only the right side if above 50%
  @if $i > ($howManySteps/2) {
    .progress1[data-percentage="#{$stepName}"] {
      .progress1-right .progress1-bar {
        animation: loading-#{($howManySteps/2)}
        $animationTime linear forwards; //set the animation to longest animation
      }

      .progress1-left .progress1-bar {
        animation: loading-#{$i -
          ($howManySteps/2)}
        $animationTime linear forwards $animationTime;
      }
    }
  }
}

.trustedbylogo {
  width: 100%;
  object-fit: contain;
  height: 100%;
  padding: 0.5rem 1.5rem;
}

.certificatelock {
  background-image: url(../../../uniprep-assets/images/uniprepcertificate.webp);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
  background-position: center;
  border: 1px solid #343a40;
  height: 100px;
}

//.homecardbtn {
//  padding: 10px !important;
//  color: #fff !important;
//  background-color: #f0780e;
//}

.homecardbtnquiz {
  background-color: #f0780e;
  color: white;
}

.ellipse-button {
  width: auto;
  padding: 10px 35px;
  height: auto;
  //background-color: #f0780e;
  background-color: #000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  font-size: 14px;
}

@media (min-width: 992px) {
  .row .col-lg-5 {
    flex: 0 0 auto;
    width: 20%;
  }
}

.progress-circle {
  position: relative;
  width: 100px;
  height: 100px;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle {
  transition: 0.35s stroke-dasharray;
  transform-origin: 50% 50%;
  stroke-dasharray: 283; /* Circumference of the circle (2 * PI * radius) */
  stroke-dashoffset: 283; /* Circumference of the circle */
}

.progress-ring__background {
  stroke-dasharray: 283; /* Circumference of the circle */
}

.progress-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: black;
}


.progress1-circle {
  position: relative;
  width: 100px;
  height: 100px;
}

.progress1-ring {
  transform: rotate(-90deg);
}

.progress1-ring__circle {
  transition: 0.35s stroke-dasharray;
  transform-origin: 50% 50%;
  stroke-dasharray: 283; /* Circumference of the circle (2 * PI * radius) */
  stroke-dashoffset: 283; /* Circumference of the circle */
}

.progress1-ring__background {
  stroke-dasharray: 283; /* Circumference of the circle */
}

.progress1-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: var(--uniprep-primary);
}