.tutcard
{
  overflow: hidden;
  .tutgradient
  {
    background: hsla(229, 35%, 38%, 1);

    background: linear-gradient(90deg, hsla(229, 35%, 38%, 1) 0%, hsla(229, 35%, 38%, 0.1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(229, 35%, 38%, 1) 0%, hsla(229, 35%, 38%, 0.1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(229, 35%, 38%, 1) 0%, hsla(229, 35%, 38%, 0.1) 100%);
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .tutorialcontent
  {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
  }
}
.modalbuttons
{
  position: absolute;
  top: -1rem;
  right:-1rem;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.selected-category {
  color: var(--p-secondary-500);
  cursor: pointer;
  font-weight: 700 !important;
}

.card1{
	border-radius: 10px 10px  0px 0px !important;
	// text-transform: inherit !important;
	background-color: var(--p-neutral-50);
	border: 1px solid var(--p-primary-100);
}