.card1 {
    display: flex;
    // border: 1px solid #ddd;
    // border-radius: 8px;
    // padding: 16px;
    // max-width: 500px;
    margin: 10px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-left {
    margin-right: 16px;
  }
  
  .card-left img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
  }
  
  .card-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-date {
    font-size: 8px;
    color:white;
    margin-bottom: 4px;
    text-align: end;
  }
  
  .card-content {
    flex: 1;
  }
  
  .card-content h4 {
    margin: 0;
  }
  
  .card-content h6 {
    margin: 4px 0;
    color: #555;
  }
  
  .card-content h6 img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  
//   .card-bottom {
//     display: flex;
//     justify-content: center; /* Center the button horizontally */
//   }
  
  .card-bottom button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff9113;
    color: white;
    // font-size: 14px;
    cursor: pointer;
    width: -webkit-fill-available;
  }
  
//   .card-bottom button:hover {
//     background-color: #0056b3;
//   }
  