<div class="card readingcard" style="border-radius: 15px 15px 0px 0px !important; background-color: white !important">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center align-items-center">
			<div class="col-md-12 d-flex align-items-center gap-2 text-center">
				<div class="backIcon d-md-flex d-none" (click)="goBack()" role="button">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex flex-fill justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">Education Tools</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top" pTooltip="">Wealth Leaders</h5>
					</div>
					<div>
						<button (click)="openVideoPopup('https://www.youtube.com/embed/zcCrD75FHJo?si=1Q3p4wI2uV4xOYF6')" class="how-it-works-button">How it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
				<div class="backIcon d-md-flex d-none" (click)="filterPopUp()" role="button">
					<span> Filter</span>
				</div>
				<div>
					<p-inputgroup>
						<p-inputgroup-addon>
							<i class="fa-solid fa-search"></i>
						</p-inputgroup-addon>
						<input type="text" placeholder="Search" pInputText [(ngModel)]="valueNearYouFilter" (ngModelChange)="performSearch()" />
					</p-inputgroup>
				</div>
			</div>
		</div>
		<div class="uniprep-lightgray mt-2">Wealth Leaders count : {{ totalcount }}</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-12 col-md-4 col-lg-3 mt-2" *ngFor="let data of wealthleaderlist">
				<div class="card subjectcard" role="button" (click)="viewReadAns(data.id, data.name)">
					<div class="card-body">
						<div class="row align-items-center">
							<div class="col-4">
								<img [src]="data.leader_image" alt="Profile Image" class="leader-img" />
								<!-- <div class="image-label">Billionaire</div> -->
							</div>
							<div class="col-8">
								<h5 class="fw-bold text-truncate" title="{{ data.name }}">{{ data.name }}</h5>
								<div class="d-flex gap-2 align-items-center">
									<div class="rounded-circle overflow-hidden"><img [src]="data.flag" width="20" height="20" alt="" /></div>
									<h6 class="mb-0 text-small">{{ data.country }}</h6>
								</div>
								<div class="d-flex justify-content-start align-items-center gap-2 mt-1">
									<span class="uniprep-primaryhighlight text-start" style="min-width: 20px"><i class="fa-solid fa-clock fa-xl"></i> </span>
									<div style="font-size: xx-small">
										<p class="text-small" style="color: #cbced5">Age :</p>
										<h6 class="fw-semibold h6 mb-0">{{ data.age }} Years old</h6>
									</div>
								</div>
								<div class="d-flex justify-content-start align-items-center gap-2 mt-1">
									<span class="text-start" style="color: #00c083; min-width: 20px"><i class="fa-solid fa-dollar-sign fa-xl"></i> </span>
									<div>
										<p class="text-small" style="color: #cbced5">Net Worth :</p>
										<h6 class="fw-semibold h6 mb-0">{{ data.networth }}</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="card-footer py-0 border-0 bg-transparent">
        <p-paginator [rows]="10" [totalRecords]="totalcount" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[10, 50, 100, 200]" dropdownAppendTo="body"></p-paginator>
    </div>     -->
</div>
<div class="card" style="border-radius: 0px 0px 15px 15px !important; background-color: white !important">
	<p-paginator [rows]="50" [totalRecords]="totalcount" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[50, 100, 200, 500, 1000]" dropdownAppendTo="body"></p-paginator>
</div>
<!-- filter pop-up -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: newfile }">
	<div class="modal-dialog" role="document">
		<form role="form" [formGroup]="filterForm" (ngSubmit)="filtersubmit()">
			<div class="modal-content" style="margin-top: 50% !important">
				<div class="modal-header flex justify-content-between">
					<h4 class="modal-title">Filter Wealth Leaders</h4>
					<span style="cursor: pointer; color: #3f4c83"><i (click)="closenewfilePopup()" class="fa-solid fa-circle-xmark fa-2x"></i></span>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label class="fw-semibold h5">Country</label>
								<p-select class="mt-2" placeholder="Select one or more countries" formControlName="country" [options]="countries" optionValue="id" optionLabel="country" styleClass="w-100" [filter]="true"></p-select>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-center gap-2 mt-3">
						<button pButton type="submit" class="btn btn-primary btn-rounded">Filter</button>
						<button pButton type="button" (click)="resetFilter()" class="btn btn-danger btn-rounded">Reset Filter</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
