<div class="card readingcard">
  <div class="card-header border-0 bg-transparent">
    <div class="row">
      <!-- <div class="col-md-8 text-center">
                <h5 class="select-title mb-3" tooltipPosition="top" pTooltip="Questions related to the application process are answered">{{ 'Language Hub' | uppercase }} <i class="questiontooltip fa-solid fa-circle-question"></i></h5>
            </div> -->
      <div class="col-md-12 d-flex gap-2 text-center">
        <div class="backIcon d-md-flex d-none" (click)="goToHome($event)" role="button">
          <span class="fa-solid fa-chevron-left"></span>
        </div>
        <div class="select-title d-flex justify-content-between align-items-center">
          <div class="d-flex gap-2">
            <h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip=""><i
                class="fa-regular fa-home"></i></h5>
            <span><i class="fa-solid fa-chevron-right"></i></span>
            <h5 routerLink="/pages/language-hub/languages" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
              Language Hub</h5>
            <span><i class="fa-solid fa-chevron-right"></i></span>
            <h5 role="button" class="mb-0" tooltipPosition="top" pTooltip="">{{getFormattedValues()}}</h5>
          </div>
          <!-- <div>
            <h5 class="mb-0" tooltipPosition="top" pTooltip="Questions related to the application process are answered">{{ "Language Hub" | uppercase }} -> {{getFormattedValues()}}<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
          </div> -->
          <div>
            <button pButton class="how-it-works-button" severity="warn"
              (click)="openVideoPopup('https://www.youtube.com/embed/01xivveciUI?si=Cdi3e7ycApMa8sWO')">How it works?<i
                class="fa-solid fa-play d-md-block d-none"></i></button>
          </div>
        </div>
        <button pButton role="button" class="m-0 btn btn-primary btn-rounded" (click)="startQuiz()"
          [disabled]="quizpercentage >= 80">
          <p class="mb-0">
            <i class="fa-regular fa-lightbulb-on"></i> Start Quiz <span class="mb-0">{{ quizpercentage | percent:'1.0-0'
              }}</span>
          </p>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body text-center flex-fill overflow-y-auto">
    <div *ngIf="isSkeletonVisible">
      <div class="row">
        <div *ngFor="let index of loopRange" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-12">
          <div class="card my-2">
            <div class="card-body">
              <div class="row justify-content-center align-items-center">
                <div class="col-3 col-md-12 d-flex justify-content-center">
                  <p-skeleton width="5rem" height="5rem" styleClass="mb-2"></p-skeleton>
                </div>
                <div class="col-9 col-md-12">
                  <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
                  <p-skeleton width="100%"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-0" *ngIf="!isSkeletonVisible">
      <div *ngFor="let sub of categoryList" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-12 mb-3">
        <div class="row w-100 m-0 justify-content-center h-100">
          <div (click)="onCategoryClick(sub.id, sub.submodule)" class="card subjectcard position-relative"
            role="button">
<!--            <div *ngIf="sub.is_assessment && authService._user?.student_type_id == 2" class="assessment-tag"-->
<!--              style="background-color: var(&#45;&#45;uniprep-skyblue);">Assessment</div>-->
            <div
              class="card-body d-flex flex-md-column flex-row justify-content-md-between align-items-center mt-2 px-0 py-2">
              <div>
                <div class="submoduleicon">
                  <img alt="{{ sub.submodule }}" class="selectimage" src="{{ sub.icon }}" />
                </div>
                <h5 class="text-center subjecttitle d-md-block d-none fw-bold pt-2 mb-0 mt-3">{{ sub.submodule }}</h5>
              </div>
              <div class="text-start text-md-center">
                <h6 class="subjecttitle fw-bold d-md-none d-block">{{ sub.submodule }}</h6>
                <p class="mb-0 sub-data">{{ sub.count }} Question Answered</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer border-0 bg-transparent">
    <p-paginator [rows]="perpage" [totalRecords]="totalQuestionCount" (onPageChange)="paginatePost($event)"
      [rowsPerPageOptions]="[25, 50, 100, 200]" dropdownAppendTo="body"></p-paginator>
  </div>
</div>