<div class="card readingcard">
	<div class="card-header border-0 bg-transparent">
		<div class="row">
			<!-- <div class="col-md-8 text-center">
                <h5 class="select-title mb-3" tooltipPosition="top" pTooltip="Questions related to the application process are answered">{{ 'Language Hub' | uppercase }} <i class="questiontooltip fa-solid fa-circle-question"></i></h5>
            </div> -->
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="backIcon d-md-flex d-none" (click)="goToHome($event)" role="button">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
							<i class="fa-regular fa-home"></i></h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 routerLink="/pages/language-hub/languages" role="button" class="mb-0" tooltipPosition="top"
							pTooltip="">Language Hub</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 role="button" class="mb-0" tooltipPosition="top" pTooltip="">{{getFormattedValues()}}</h5>
					</div>
					<div>
						<button pButton class="how-it-works-button" severity="warn"
							(click)="openVideoPopup()">How
							it works?<i class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body flex-fill overflow-y-auto">
		<div class="dictionary">
			<div class="header-container">
				<!-- Alphabet Navigation -->
				<div class="alphabet-nav">
					<p href="#" class="all" (click)="onClickLetter(null)">ALL</p>
					|
					<p (click)="onClickLetterNew(letter)" *ngFor="let letter of alphabet" class="text-black fw-normal">
						{{ letter }}
					</p>
				</div>

				<!-- Search Bar -->
				<div class="search-bar">
					<p-inputgroup>
						<p-inputgroup-addon>
							<i class="fa-solid fa-search"></i>
							<!-- Icon for the search bar -->
						</p-inputgroup-addon>
						<!--						<input type="text" pInputText [(ngModel)]="searchTerm" placeholder="Search for a term" />-->
						<input type="text" pInputText [(ngModel)]="searchTerm" (ngModelChange)="filterWords()"
							placeholder="Search for a term" />

					</p-inputgroup>
				</div>
			</div>

			<!-- Word List -->
			<div class="dict">
				<div *ngFor="let group of groupedWords">
					<h1 class="headerTextColor">
						<span class="headerTextColor">{{ group.letter }}</span>
					</h1>
					<hr />
					<div *ngFor="let word of group.words" class="word-entry">
						<div class="word">{{ word.english_words }}</div>
						<div (click)="togglePlayPause(word.id, word)" class="topbutton btn p-0">
							<i
								[ngClass]="{ 'fa': true, 'fa-volume-up': playingStates[word.id], 'fa-play': !playingStates[word.id] }"></i>
							{{ word.searched_words }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>