<div class="card card-body">
    <div class="row">
        <div class="col-md-6">
            <h3 class="sop-border sop-header">Our Pricing Plans</h3>
        </div>
        <div class="col-md-6 text-end">
            <button pButton class="btn-primary text-dark fw-bold" (click)="buyCreditClicked()">{{buttonText}}</button>
        </div>
    </div>
</div>
<br />
<div class="card" *ngIf="isNormalPlanSelected">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row gap-5 mt-5 d-flex">
                <div class="card subscriptioncard col px-0" *ngFor="let p of plans; let i = index">
                    <div class="mostpopular" *ngIf="i == 1">Most Popular Plan</div>
                    <div class="card-header p-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="fw-bold mb-0">{{p.subscription}}<br>Plan</h3>
                            <div class="text-end">
                                <h4 class="mb-0"><s>INR {{p.price}}</s></h4>
                                <div class="btn discountbutton">Save {{ (p.price - p.discount / p.price) / 100 | number:'1.0-0' }}
                                    %</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <span class="p-float-label">
                            <p-multiSelect [options]="countryList" styleClass="w-100" optionValue="id"
                                           [(ngModel)]="selectedCountry[i]" [readonly]="i == 0"
                                           optionLabel="country"></p-multiSelect>
                        </span>
                    </div>
                    <div class="card-footer  p-4">
                        <h2 class="font-primarycolor fw-bold">INR {{p.price - p.discount}}</h2>
                        <p class="fw-semibold">Add other Countries at {{ p.addln_country_discount }} INR</p>
                        <div class="getstartedbtn">
                            <button class="btn btn-primary" (click)="selected.emit(p)">Get Started</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="isBuyCreditSelected">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row gap-5 mt-5 d-flex">
                <div class="card subscriptioncard col px-0" *ngFor="let q of questionCreditData; let i = index">
                    <div class="mostpopular" *ngIf="i == 1">Most Popular Plan</div>
                    <div class="card-header p-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="fw-bold mb-0">{{q.name}}<br>Plan</h3>
                            <div class="text-end">
                                <h4 class="mb-0"><span>INR {{q.price}}</span></h4>
                                <div class="btn discountbutton">Save {{(q.price - q.discount/ q.price) / 100 | number:'1.0-0'}}
                                    %</div>
                            </div>
                        </div>
                        <br>
                        <h4 class="fw-semibold">{{ q.questions_count }} Questionss</h4>
                    </div>
<!--                    <div class="card-body p-4">-->
<!--                        <span class="p-float-label">-->
<!--                            <p-multiSelect [options]="countryList" styleClass="w-100" optionValue="id"-->
<!--                                           [(ngModel)]="selectedCountry[i]" [readonly]="i == 0"-->
<!--                                           optionLabel="country"></p-multiSelect>-->
<!--                        </span>-->
<!--                    </div>-->
                    <div class="card-footer  p-4">
                        <h2 class="font-primarycolor fw-bold">INR {{q.price - q.discount}}</h2>
                        <div class="getstartedbtn">
                            <button class="btn btn-primary" (click)="selectedCredit.emit(q)">Get Started</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
