.sop-border:after {
  width: 250px !important;
}
.scardFeatures {
  display: flex;
  gap: 10px;
  &.center {
    justify-content: center;
  }
  .scardFeature {
    display: flex;
    gap: 5px;
    .pi {
      background: var(--p-primary-500);
      color: white;
      text-align: center;
      line-height: 22px;
      width: 22px !important;height: 22px !important;
      font-size: 10px;
      border-radius: 50%;
    }
  }
}
.scards {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 565px) {
    flex-direction: column;
  }
}
.mostpopular
{
  background: var(--p-primary-500);
  color: var(--p-neutral-50);
  text-align: center;
  padding: 10px;
  border-radius: 12px 12px 0 0;
  position: absolute;
  top: -2em;
  width: 100%;
}
.subscriptioncard
{
  border-width: 2px !important;
  height: -webkit-fill-available;
  .card-header
  {
    background:transparent;
  }
  .card-footer
  {
    background:transparent;
  }
  &:hover
  {
    background-color: var(--p-primary-50);
    border:2px solid var(--p-primary-500);
    .getstartedbtn
    {
      display:block;
      .btn
      {
        margin: 0 !important;
        width: 100%;
        border-radius: 10px !important;
      }
    }
  }
  &:focus
  {
    background-color: var(--p-primary-50);
    border:2px solid var(--p-primary-500);
    .getstartedbtn
    {
      display:block;
      .btn
      {
        margin: 0 !important;
        width: 100%;
        border-radius: 10px !important;
      }
    }
  }
  .getstartedbtn
  {
    display:none;
    .btn
    {
      margin: 0 !important;
      width: 100%;
      border-radius: 10px !important;
    }
  }
}
.discountbutton
{
  border: 2px solid #FF8800;
  margin: 0;
  padding: 4px 10px !important;
  background-color: #FFE1BE;
  font-size: 0.8em;
  border-radius: 5px !important;
  color: #FF8800;
  font-weight: 500;
  &:focus
  {
    border: 2px solid #FF8800;
    margin: 0;
    padding: 4px 10px !important;
    background-color: #FF8800;
    font-size: 0.8em;
    border-radius: 5px !important;
    color: var(--p-neutral-50);
    font-weight: 500;
  }&:hover
   {
     border: 2px solid #FF8800;
     margin: 0;
     padding: 4px 10px !important;
     background-color: #FF8800;
     font-size: 0.8em;
     border-radius: 5px !important;
     color: var(--p-neutral-50);
     font-weight: 500;
   }
}
.scard {
  border: 1px solid #B9B9B9;
  border-radius: 15px;
  width: 220px;
  background: #F5F5F5;
  border: 2px solid #B9B9B9;
  &:hover {
    background: #FBFFF2 0% 0% no-repeat padding-box;
  }
  .scardTitle {
    width: 80%;
    margin: auto;
    padding: 5px 0px;
    background: var(--p-primary-500);
    color: white;
    text-align: center;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .scardStart {
    width: 80%;
    margin: auto;
    padding: 5px 0px;
    background: var(--p-primary-500);
    color: white;
    text-align: center;
    border-radius: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: -15px;
    z-index: 2;
    position: relative;
    &:hover {
      background: #001631 0% 0% no-repeat padding-box;
      cursor: pointer;
    }
  }
  .scardPrice {
    text-decoration: line-through;
    color: #001631;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 0px;
  }
  .scardDiscount {
    background: #FFA500;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin: auto;
    width: 150px;
  }
  .scardPriceCurrent {
    color: var(--p-primary-500);
    font-size: 1.1rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 0px;
    font-weight: 500;
  }
  .scardCheck {
    color: #001631;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
  }

}