<div class="card desktop h-100" style="overflow-x: scroll; overflow-x: hidden;">
    <div class="row justify-content-center">
        <div class="col-md-2 text-start">
        </div>
        <div class="col-md-8 text-center">
            <h5 class="select-title mb-1 text-capitalize" tooltipPosition="top" pTooltip="Investor List Guidlines">
                INVESTOR LIST GUIDELINES<i class="questiontooltip fa-solid fa-circle-question"></i></h5>
        </div>
        <div class="col-md-2 text-end">
            <button class="close close-btn" aria-label="Dismiss alert" type="button" data-close (click)="close()">
                <span aria-hidden="true">X</span>
            </button>
        </div>
    </div>
    <p-card header="Do's" class="m-5">
        <ol class="list">
            <li>Research Before Contacting: Thoroughly research potential investors to ensure they align with your business
            goals and values. </li>
            <li>Personalize Communications: Tailor your messages to each investor, demonstrating your understanding
            of their investment interests and preferences.</li>
            <li>Provide Relevant Information: Offer clear and concise information
            about your venture, highlighting key points that may resonate with the investor. </li>
            <li>Be Professional: Maintain a
            professional tone and demeanor in all communications, showcasing your commitment and credibility as an entrepreneur. </li>
            <li>Follow-up appropriately: Follow up with investors in a timely manner, respecting their time and preferences for
            communication.</li>
        </ol>
    </p-card>
    <p-card header="Dont's" class="m-5">
        <ol class="list">
        <li>Spamming: Avoid sending mass or unsolicited messages to investors, as this can be perceived as unprofessional
        and may harm your reputation.</li>
        <li>Overwhelming with Information: Refrain from overwhelming investors with excessive or
        irrelevant information about your venture.</li>
        <li>Being Pushy: Avoid being overly aggressive or pushy in your communications
        with investors, as this can be off-putting and may damage your relationship with them. </li>
        <li>Ignoring Feedback: Don't
        dismiss or ignore feedback from investors, as it can provide valuable insights and opportunities for improvement.</li>
        <li>
        Misrepresentation: Avoid misrepresenting your venture or its potential to investors, as this can erode trust and
        credibility in the long run.</li>
        </ol>
    </p-card>
</div>