.list {
    li {
        font-size: 18px;
        color: #434343;
        font-weight: 500;
    }
}

.m-5 {
    border: 1px solid #3F4C83;
    border-radius: 10px;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}