 .centerDiv {
     align-items: center;
     height: 30vh;
 }


 .pi-sync {
     margin-left: 5px;
 }

 img {
     height: 25px !important;
     width: 25px !important;
     margin-right: 10px;
 }

 ::ng-deep .p-select {
     width: 100% !important;
 }

 @media (max-width: 575.98px) {
     .gap-two {
         gap: 0.5rem;
     }

     .row {
         .col-md-3 {
             margin-bottom: 5px;
         }
     }

     form {
         display: flex;
         flex-direction: column;
     }
 }

 @media (min-width: 575.98px) {
     .row {
         .col-md-2 {
             text-align: center;
         }
     }

     .dropdown-container {
         width: 750px;

         form {
             display: flex;
             justify-content: space-between;
         }
     }

 }

 .g-10 {
     gap: 10px;
 }

 .costofliving-card {
     font-size: 12px;
     text-align: center;
     border: 1px solid var(--secondary-500);
     border-radius: 10px !important;
 }
.dropdownimg {
  width: 24px;
  height: 24px;
  display:flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 2px solid var(--primary-100);
    object-fit: cover;
  }
}
