<div class="d-flex justify-content-center" [ngClass]="{'centerDiv':!canShowComparision}">
    <div class="dropdown-container">
        <div class="uniprep-primary h4  text-center fw-semibold">
            Compare the cost of living between countries around the world
        </div>
        <br>
        <form [formGroup]="form" (ngSubmit)="compare()" class="g-10">
            <p-dropdown [options]="cities"   optionValue="city_id" formControlName="sourceCity"
                placeholder="Source Country" [filter]="true" [virtualScroll]="true" [virtualScrollItemSize]="50" filterBy="city_name" [showClear]="true" [appendTo]="'body'"
                class="costofliving-dropdown">

                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="d-flex align-items-center gap-2">
                        <img [src]="selectedOption.flag" />
                        <div>{{selectedOption.city_name}}, {{ selectedOption.country_name }}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="d-flex align-items-center gap-2">
                        <img [src]="country.flag" />
                        <div>{{country.city_name}}, {{ country.country_name }}</div>
                    </div>
                </ng-template>

            </p-dropdown>
            <p-dropdown [options]="cities"  optionValue="city_id" formControlName="targetCity"
                placeholder="Target Country" [filter]="true" [virtualScroll]="true" [virtualScrollItemSize]="50" filterBy="city_name" [showClear]="true" [appendTo]="'body'"
                class="costofliving-dropdown">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="d-flex align-items-center gap-2">
                        <img [src]="selectedOption.flag" />
                        <div>{{selectedOption.city_name}}, {{ selectedOption.country_name }}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="d-flex align-items-center gap-2">
                        <img [src]="country.flag" />
                        <div>{{country.city_name}}, {{ country.country_name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <button class="btn btn-primary h6 ps-3 pe-3 pt-2 pb-2 br-20" type="submit"
                [disabled]="!form.value.sourceCity || !form.value.targetCity">Compare
                <i class="pi pi-sync"></i> </button>
        </form>
    </div>
</div>
<br>
<div *ngIf="canShowComparision">
    <uni-comparision [sourceCountryPrices]="sourceCountryPrices"
        [targetCountryPrices]="targetCountryPrices"></uni-comparision>
</div>