<div class="d-flex justify-content-center" [ngClass]="{'centerDiv':!canShowComparision}">
    <div>
        <div class="uniprep-primary h4  fw-semibold">
            Compare the cost of living between countries around the world
        </div>
        <br>
        <div class="row justify-content-center gap-two">
            <div class="col-md-4 col-sm-12"> <p-dropdown [options]="countries" [(ngModel)]="sourceCountry" optionLabel="country"
                    [filter]="true" filterBy="country" [showClear]="true" placeholder="Source Country">
                    <ng-template pTemplate="filter" let-options="options">
                        <div class="d-flex gap-1">
                            <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                <input type="text" pInputText placeholder="Filter" [(ngModel)]="filterValue"
                                    (keyup)="customFilterFunction($event, options)" />
                            </div>
                            <button pButton icon="pi pi-times" (click)="resetFunction(options)"
                                severity="secondary"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="d-flex align-items-center gap-2">
                            <img [src]="selectedOption.flag" class="flag" />
                            <div>{{ selectedOption.country }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="d-flex align-items-center gap-2">
                            <img [src]="country.flag" class="flag" />
                            <div>{{ country.country }}</div>
                        </div>
                    </ng-template>
                </p-dropdown></div>
            <div class="col-md-4 col-sm-12"> <p-dropdown [options]="countries" [(ngModel)]="targetCountry" optionLabel="country"
                    [filter]="true" filterBy="country" [showClear]="true" placeholder="Target Country">
                    <ng-template pTemplate="filter" let-options="options">
                        <div class="d-flex gap-1">
                            <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                <input type="text" pInputText placeholder="Filter" [(ngModel)]="filterValue"
                                    (keyup)="customFilterFunction($event, options)" />
                            </div>
                            <button pButton icon="pi pi-times" (click)="resetFunction(options)"
                                severity="secondary"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="d-flex align-items-center gap-2">
                            <img [src]="selectedOption.flag" class="flag" />
                            <div>{{ selectedOption.country }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="d-flex align-items-center gap-2">
                            <img [src]="country.flag" class="flag" />
                            <div>{{ country.country }}</div>
                        </div>
                    </ng-template>
                </p-dropdown></div>
            <div class="col-md-4 col-sm-12">
                <button class="btn btn-primary h6 ps-3 pe-3 pt-2 pb-2 br-20" (click)="compare()" type="button">Compare
                    <i class="pi pi-sync"></i> </button>
            </div>
        </div>
    </div>
</div>
<br>
<div *ngIf="canShowComparision">
    <uni-comparision [data]="comparisionDetails"></uni-comparision>
</div>