<div class="card readingcard">
	<div class="card-header border-0 bg-transparent">
		<div class="row justify-content-center">
			<div class="col-md-12 d-flex gap-2 text-center">
				<div class="backIcon" role="button" (click)="backtoMain()">
					<span class="fa-solid fa-chevron-left"></span>
				</div>
				<div class="select-title d-flex justify-content-between align-items-center">
					<div class="d-flex gap-2">
						<h5 routerLink="/pages/dashboard" role="button" class="mb-0" tooltipPosition="top" pTooltip="">
							<i class="fa-regular fa-home"></i>
						</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 routerLink="/pages/job-tool/career-tool" role="button" class="mb-0" tooltipPosition="top"
							pTooltip="">Career Tools</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top"
							pTooltip="Access a curated list of companies by industry and location to target your job search effectively.">
							Job Interview Preparation</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top"
							pTooltip="Access a curated list of companies by industry and location to target your job search effectively.">
							{{ selectedJobRole }}</h5>
					</div>
					<div>
						<button pButton
							(click)="openVideoPopup('https://www.youtube.com/embed/cbny1-f4rXI?si=E3WEU6LuiMLWA1Uq')"
							class="how-it-works-button">How it works?<i
								class="fa-solid fa-play d-md-block d-none"></i></button>
					</div>
				</div>
				<p-tabs [value]="tabValue" class="custom-p-tab" (onChange)="changeType($event)">
					<p-tablist>
						<p-tab [value]="0" (click)="changeType(0)">Default</p-tab>
						<p-tab [value]="1" (click)="changeType(1)">Saved</p-tab>
					</p-tablist>
				</p-tabs>
			</div>
		</div>
	</div>
	<div class="card-body text-center flex-fill overflow-y-auto">
		<div *ngIf="isSkeletonVisible">
			<div class="row">
				<div *ngFor="let index of loopRange"
					class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12">
					<div class="card my-2">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col-12">
									<p-skeleton styleClass="mb-1" width="100%"></p-skeleton>
									<p-skeleton styleClass="mb-1" width="100%"></p-skeleton>
									<p-skeleton styleClass="mb-2" width="80%"></p-skeleton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" *ngIf="!isSkeletonVisible && totalDataCount != 0">
			<div *ngFor="let sub of ListData" class="col-md-3 col-sm-4 mb-3">
				<div class="row w-100 h-100 m-0 justify-content-center">
					<div (click)="readAnswer(sub)" role="button" class="card subjectcard">
						<div class="card-body d-flex justify-content-center align-items-center">
							<div class="py-3">
								<p class="text-start fw-bold questiontext mb-0" title="{{ sub?.ques }}">
									{{ sub?.ques }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="totalDataCount == 0" class="d-flex justify-content-center align-items-center h-100 flex-column">
			<h3 class="primary-color">It seems we don't have any recommendations that</h3>
			<h3 class="primary-color">match your current selection.</h3>
			<br />
			<h4 class="universityicon">Don't Worry! You can try</h4>
			<h6 class="primary-color">Adjusting your preferences</h6>
			<h6 class="primary-color">Exploring other categories</h6>
		</div>
	</div>
	<div class="card-footer border-0 bg-transparent">
		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">
				<p-paginator *ngIf="totalDataCount != 0" [rows]="perpage" [totalRecords]="totalDataCount"
					(onPageChange)="paginate($event)"
					[rowsPerPageOptions]="[25, 50, 100, 300, 500, 1000]"></p-paginator>
			</div>
			<div class="col-md-3 text-end">
				<button pButton pButton type="button" class="btn btn-quit ps-3 btn-rounded" (click)="backtoMain()">
					Reset Recommendations<span class="btn-icon"><i class="fa-solid fa-arrow-rotate-right"></i> </span>
				</button>
			</div>
		</div>
	</div>
</div>
<uni-restriction-dialog *ngIf="restrict" [isShowRestrict]="restrict" (closeRestrictModal)="restrict = false" />

<p-dialog [(visible)]="readanswerpopubVisibility" [draggable]="false" [modal]="true"
	[style]="{ width: '90vw', height: '90vh' }" class="questionmodal" header="Header" [closable]="false"
	(onShow)="onShowModal($event)">
	<ng-template pTemplate="header">
		<div class="card-header border-0 bg-transparent px-4 pt-4 pb-0 w-100">
			<div class="row justify-content-center">
				<div class="col-md-12 d-flex gap-2 text-center">
					<div class="career-homeIcon px-3" role="button" (click)="readanswerpopubVisibility = false">
						<span class="fa-solid fa-home me-2"></span>Home
					</div>
					<div class="select-title d-flex flex-fill gap-2 align-items-center w-100">
						<h5 routerLink="/pages/job-tool/career-tool" role="button" class="mb-0" tooltipPosition="top"
							pTooltip="">Career Tools</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top"
							pTooltip="Access a curated list of companies by industry and location to target your job search effectively.">
							Job Interview Preparation</h5>
						<span><i class="fa-solid fa-chevron-right"></i></span>
						<h5 class="mb-0" tooltipPosition="top"
							pTooltip="Access a curated list of companies by industry and location to target your job search effectively.">
							{{ selectedJobRole }}</h5>
					</div>
					<div class="career-reportIcon px-3" role="button" (click)="openReport()">
						<span class="fa-solid fa-file me-2"></span>Report
					</div>
					<div class="career-closeIcon" role="button" (click)="readanswerpopubVisibility = false">
						<span class="fa-solid fa-close"></span>
					</div>
				</div>
			</div>
			<div class="d-flex align-items-center position-relative mt-1" style="justify-content: end !important">
				<button class="btn socialShareBtn" (click)="showSocialSharingList()">
					<i class="fa-solid fa-share"></i></button>
				<p-card id="socialSharingList">
					<ul style="list-style: none; cursor: pointer">
						<li (click)="shareQuestion('Whatsapp')"><i class="pi pi-whatsapp"></i>Whatsapp</li>
						<li (click)="shareQuestion('Mail')"><i class="pi pi-envelope"></i>Email</li>
						<li (click)="shareQuestion('Facebook')"><i class="pi pi-facebook"></i>Facebook</li>
						<li (click)="shareQuestion('Twitter')"><i class="pi pi-twitter"></i>Twitter</li>
						<li (click)="shareQuestion('Instagram')"><i class="pi pi-instagram"></i>Instagram</li>
						<li (click)="shareQuestion('LinkedIn')"><i class="pi pi-linkedin"></i>LinkedIn</li>
						<li (click)="copyLink()"><i class="pi pi-link"></i>Copy Link</li>
					</ul>
				</p-card>
			</div>
		</div>
	</ng-template>
	<div class="row w-100 justify-content-center text-center mt-2">
		<h1 style="color: #000000;"><b>{{ selectedQuestion }}</b></h1>
	</div>
	<div class="row w-100 mainblock justify-content-center ps-5 pe-5 pb-3 blog-content">
		<div class="col-12 h-100 mt-3 justify-content-start d-md-flex col-md-6">
			<div class="card w-100">
				<div class="card-header border-0">{{ "Generic" | uppercase }}</div>
				<div class="card-body overflow-x-auto">
					<div *ngIf="isResponseSkeleton; else showResponseData">
						<p-skeleton width='30rem' height='2rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='90%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='95%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='50%' height='1rem'></p-skeleton>
						<div class="divider"></div>
						<p-skeleton width='30rem' height='2rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<uni-percentage-loader />
					</div>
					<ng-template #showResponseData>
						<div [innerHTML]="selectedAnswer"></div>
					</ng-template>
				</div>
			</div>
		</div>
		<div class="col-12 h-100 mt-3 justify-content-start d-md-flex col-md-6">
			<div class="card w-100">
				<div class="card-header border-0 justify-content-center d-flex position-relative">
					<div class="col"></div>
					<div class="col">{{ "Customized" | uppercase }}</div>
					<div class="col text-right">
						<button pButton (click)="saveInterviewQuestion()" class="btn btn-back btn-rounded me-3"
							style="padding: 0 !important">
							<div class="d-flex align-items-center">
								<span class="fw-normal h6 mb-0 ps-3 pe-2">Save Response</span>
								<div class="btn-icon">
									<i class="fa-regular fa-floppy-disk"></i>
								</div>
							</div>
						</button>
					</div>
				</div>
				<div class="card-body overflow-x-auto">
					<div *ngIf="isResponseSkeleton; else showCustomResponseData">
						<p-skeleton width='30rem' height='2rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='90%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='95%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='50%' height='1rem'></p-skeleton>
						<div class="divider"></div>
						<p-skeleton width='30rem' height='2rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<p-skeleton width='100%' height='1rem' styleClass="mb-2"></p-skeleton>
						<uni-percentage-loader />
					</div>
					<ng-template #showCustomResponseData>
						<div [innerHTML]="customizedResponse"></div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</p-dialog>