.universityicon {
  color: var(--uniprep-secondary);
}

.primary-color {
  color: var(--uniprep-primary);
}

.mainblock {
  height: 75vh;
  white-space: inherit;
  max-height: 85%;
  min-height: 85%;

  .card-header {
    font-size: large;
    color: var(--uniprep-primary);
    font-weight: 700;
    text-align: center;
    background: #ebedf2;
  }

  .card-body {
    background: #ebedf2;
  }
}