.menulist {
  list-style: none;

  li {
    padding: 10px;
    cursor: pointer;

    &.active {
      color: var(--uniprep-primary);
      font-weight: 600;
      background: var(--uniprep-primaryop10);
      padding: 10px;
      border-radius: 5px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  position: sticky;
  top: 1rem;
  padding-left:0;
}

.mobile {
  display: none;
}

@media screen and (max-width: 480px) {
 .mobile{
  display: block;
 }
 .ml-35{
  margin-left: 35px;
 }
 .menulist {
   display: -webkit-box !important;
   overflow-x: auto;
   border-radius: 25px;
   border: 1px solid #3F4C83;
   padding: 4px;

   li {
     padding: 10px;
     cursor: pointer;
     border-radius: 25px;
     border: 1px solid #3F4C83;

     &.active {
       color: white;
       font-weight: 600;
       background: #3F4C83;
       padding: 10px;
       border-radius: 25px;
     }

     &:last-child {
       margin-bottom: 0px;
     }
   }
 }

 .desktop {
   display: none;
 }

 ::-webkit-scrollbar {
   height: 6px !important;
 }
 }

 ::ng-deep .p-accordion-header-link:after {
   content: "+";
   position: absolute;
   right: 15px;
   background: #3F4C83;
   padding: 5px 10px;
   border-radius: 25px;
   color: #000000;
 }

//  .faqListData{
//   overflow-y: scroll !important;
//  }