.faqlist {
  .active {
    font-weight: bold !important;
  }
  li {
    &:hover {
      background-color: var(--p-primary-50);
    }
  }
}

:host ::ng-deep mat-accordion {
  mat-expansion-panel {
    background: none;
    border: none;
    box-shadow: none; /* remove default Material shadow */

    /* Panel body (content) */
    .mat-expansion-panel-body {
      padding-top: 0;
      padding-bottom: 0.5rem;
    }


      /* Hide default Material expand icon if using custom */
      // .mat-expansion-indicator {
      //   display: none !important;
      // }
    }

    /* Active / Expanded panel */
    &.mat-expanded {
      .mat-expansion-panel-header {
        font-weight: bold !important;
        font-size: 1.2em;
        box-shadow: none;
      }
    }
  }

