.faqlist {
  .active {
    font-weight: bold !important;
  }
  li {
    &:hover {
      background-color: var(--primary-50);
    }
  }
}

:host ::ng-deep .p-accordion {
  .p-accordion-content
  {
    background: none;
    border: none;
    padding-top: 0;
    padding-bottom:0.5rem;
  }
  .p-accordion-tab {
    .p-accordion-header {
      .p-accordion-header-link {
        border: none;
        font-weight: 500;
        font-size: 1.2em;
        flex-direction: row-reverse;
        justify-content: space-between;
        box-shadow:none;
      }
      .p-accordion-header-link:after
      {
        display: none !important;
      }
    }
  }
  .p-accordion-tab-active {
    .p-accordion-header {
      .p-accordion-header-link {
        border: none;
        font-weight: bold !important;
        font-size: 1.2em;
        box-shadow:none;
      }
      .p-accordion-header-link:after
      {
        display: none !important;
      }
    }
  }
}
