.country {
  min-width: 150px;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;

  uni-avatar {
    margin: auto;
    margin-bottom: 15px;
    outline: 4px solid white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  }

  &:hover {
    outline: .5px solid #9bc329;
  }

  &.active {
    outline: 2px solid #9bc329;
    border-radius: 10px;
    color: #9bc329;
  }
}

.scroll {
  overflow-x: scroll;
  padding: 20px 10px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    border-radius: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.gap {
  gap: 20px;
}

.country-dummy {
  min-width: 20px;
}